<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте рассказанный на лекции класс Function, позволяющий создавать, вычислять и инвертировать функцию, состоящую из следующих элементарных операций:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    прибавить вещественное число
    <em>
     x
    </em>
    ;
   </p>
  </li>
  <li>
   <p>
    вычесть вещественное число
    <em>
     x
    </em>
    .
   </p>
  </li>
 </ul>
 <p>
  При этом необходимо объявить константными все методы, которые по сути такими являются.
 </p>
 <h2 level="2">
  Замечание
 </h2>
 <p>
  Более детальное описание задачи с подробным разбором реализации вышеуказанного класса приводится в двух предшествующих видеолекциях.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">struct Image {
  double quality;
  double freshness;
  double rating;
};

struct Params {
  double a;
  double b;
  double c;
};

Function MakeWeightFunction(const Params&amp; params,
                            const Image&amp; image) {
  Function function;
  function.AddPart('-', image.freshness * params.a + params.b);
  function.AddPart('+', image.rating * params.c);
  return function;
}

double ComputeImageWeight(const Params&amp; params, const Image&amp; image) {
  Function function = MakeWeightFunction(params, image);
  return function.Apply(image.quality);
}

double ComputeQualityByWeight(const Params&amp; params,
                              const Image&amp; image,
                              double weight) {
  Function function = MakeWeightFunction(params, image);
  function.Invert();
  return function.Apply(weight);
}

int main() {
  Image image = {10, 2, 6};
  Params params = {4, 2, 6};
  cout &lt;&lt; ComputeImageWeight(params, image) &lt;&lt; endl;
  cout &lt;&lt; ComputeQualityByWeight(params, image, 46) &lt;&lt; endl;
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">36
20</pre>
 <h2 level="2">
 </h2>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
