<meta charset="utf-8"/>
<co-content>
 <p>
  Сейчас в
  <a href="https://t.me/joinchat/F8aHF0qupowRVQS0_N9Cvg" title="">
   <u>
    telegram-чат
   </u>
  </a>
  специализации более 3000 человек. Для удобства взаимодействия мы ввели правила чата.
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    <strong>
     Не распространяйте готовые решения заданий
    </strong>
    , это нарушает Honor Code.
   </p>
  </li>
  <li>
   <p>
    <strong>
     Уважайте собеседников.
    </strong>
    Оффтоп, а также мат и оскорбления в любой форме запрещены.
   </p>
  </li>
  <li>
   <p>
    <strong>
     Пишите по существу.
    </strong>
    Избегайте бессмысленных вступлений вроде «Привет всем», «А кто какой пояс проходит?», и т.д.
   </p>
  </li>
  <li>
   <p>
    <strong>
     Используйте теги.
    </strong>
    Если у вас есть вопрос по задаче, используйте тег с ее названием перед сообщением. Например:
    <strong>
     #Минимальная_строка
    </strong>
    .
    <strong>
     ВАЖНО!
    </strong>
    Все пробелы нужно заменить на “_”. Для курсовых проектов используйте два тега, со словом “Курсовой” и цветом пояса, например:
    <strong>
     #Курсовой #Желтый
    </strong>
    . Пожалуйста, не ленитесь потратить минутку на внятное формулирование и оформление вопроса. Экономьте время чата, оно ваше тоже!
   </p>
  </li>
  <li>
   <p>
    <strong>
     НЕ
    </strong>
    отправляйте в чат неоформленные фрагменты кода или скриншоты с ним. Для удобного размещения кода используйте pastebin.com (
    <strong>
     не больше чем на 24 часа!
    </strong>
    ). Если фрагмент не превышает 10 строк — используйте моноширинное форматирование: Ctrl (Command) + Shift + M
   </p>
  </li>
 </ol>
 <p>
  Сообщения, нарушающие правила, будут удаляться модераторами. Многократные нарушители будут забанены.
 </p>
 <p>
  На этом все. Наслаждайтесь общением!
 </p>
 <p>
  <strong>
   P.S.
  </strong>
  Если вы намертво застряли на решении той или иной задачи, вот ваши действия:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Перечитать условие и еще раз подумать над своими тестами.
   </p>
  </li>
  <li>
   <p>
    Изучить форум на сайте. Там действительно много хороших примеров (ровно как и примеров, как не надо делать). Еще раз подумать над своими тестами.
   </p>
  </li>
  <li>
   <p>
    Поинтересоваться в чате. Возможно, вы покрыли тестами не все случаи.
   </p>
  </li>
  <li>
   <p>
    Отдохнуть, повторить с пункта №1.
   </p>
  </li>
 </ol>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
