<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче мы используем накопленные знания для создания движка электронной таблицы, такой как Microsoft Excel или Google Spreadsheets (мы будем называть эти продукты
  <em>
   существующими решениями
  </em>
  ).
 </p>
 <p>
  Интерфейс таблицы описывается классом ISheet из файла common.h. Сама таблица создаётся функцией CreateSheet() из того же файла. Вам нужно будет предоставить её реализацию. Также нужно будет предоставить реализацию всех остальных методов и функций из файла common.h (например, методов классов Position, Size и FormulaError).
 </p>
 <p>
  В качестве решения можно будет сдавать несколько файлов, которые содержат все необходимые реализации.
 </p>
 <h1 level="1">
  Общее описание
 </h1>
 <h2 level="2">
  Ячейки
 </h2>
 <p>
  Таблица состоит из ячеек. Для пользователя ячейки задаются своим
  <em>
   индексом
  </em>
  , т.е. строкой вида "А1" или "С14", или "RD2". Программно положение ячейки описывается
  <em>
   позицией
  </em>
  , т.е. номерами её строки и столбца, которые представлены классом Position. Причём номера строк и столбцов начинаются с нуля, как это принято в С++. Например, индексу "А1" соответствует позиция (0, 0), а индексу "AB15" - позиция (14, 27). Преобразования между индексом и позицией осуществляются методами Position::FromString() и Position::ToString() (их вам тоже нужно будет реализовать).
 </p>
 <p>
  Для определённости мы будем полагать, что количество строк и столбцов в нашей таблице не будет превышать 16384. То есть максимальная позиция ячейки составит (16383, 16383) с индексом "XFD16384".
 </p>
 <p>
  Для получения ячейки с заданной позицией используется метод ISheet::GetCell(). Он возвращает указатель на объект класса ICell. С его помощью можно получить
  <em>
   текст
  </em>
  и
  <em>
   значение
  </em>
  ячейки. Текст - это "сырое" содержимое ячейки, а значение - это "отображаемое" содержимое. В существующих решениях текст доступен только во время редактирования ячеек, а значения отображаются всё остальное время.
 </p>
 <p>
  Ячейка считается пустой, если вызов GetCell() вернул nullptr, либо если её текст пуст.
 </p>
 <p>
  В существующих решениях ячейка может содержать данные множества разных форматов: простые текстовые данные, численные значения, валюта, дата, и т.п. В данной задаче мы ограничимся только двумя типами: простой текст (std::string) и числа с плавающей запятой (double). Причём последние могут появиться только как результат вычисления значения формул.
 </p>
 <h2 level="2">
  Формулы
 </h2>
 <p>
  Ячейка трактуется как формула в случае, если её текст начинается со знака "=" (и на этом не заканчивается, то есть текст, которые содержит только этот знак, формулой не считается). То, что следует после знака "=", называется
  <em>
   выражением
  </em>
  формулы. Выражение формулы - это простое арифметическое выражение, которое может содержать следующие элементы:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Числа (5, 3.14)
   </p>
  </li>
  <li>
   <p>
    Бинарные операции (1*3+4/2-5)
   </p>
  </li>
  <li>
   <p>
    Ссылки на другие ячейки (А1+B2*C3)
   </p>
  </li>
 </ul>
 <p>
  В отличие от существующих решений, результатом вычисления формулы может быть только число. То есть формула не может быть использована, например, для конкатенации строк. Если формула ссылается на другую ячейку, которая не содержит формулу, то её текст трактуется как число. Если эта ячейка пустая, то её значение полагается равным нулю.
 </p>
 <p>
  Получается, что, если в ячейке записана формула, то текстом ячейки является знак равенства и выражение формулы, а значением ячейки является число - вычисленное значение формулы. Если в ячейке записан простой текст, то значение ячейки обычно совпадает с её текстом. Кроме случая, когда текст начинается с символа "'" (апостроф). Тогда в значении ячейки этот символ не присутствует. Это можно использовать, если нужно начать текст со знака "=", но чтобы он не интерпретировался как формула.
 </p>
 <p>
  Содержимое ячейки задаётся методом ISheet::SetCell(), в который передаётся текст ячейки. Далее реализация сама решает, как интерпретировать этот текст.
 </p>
 <h2 level="2">
  Вставка и удаление строк и столбцов
 </h2>
 <p>
  Важно отметить, что в таблицу можно вставлять строки и столбцы и удалять их. Поддержка такой операции делает реализацию значительно более интересной. Рассмотрим такой пример (здесь приведены тексты ячеек):
 </p>
 <table columns="3" rows="3">
  <thead>
   <tr>
    <th>
     <p>
     </p>
    </th>
    <th>
     <p>
      A
     </p>
    </th>
    <th>
     <p>
      B
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     1
    </p>
   </td>
   <td>
    <p>
     42
    </p>
   </td>
   <td>
    <p>
     43
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2
    </p>
   </td>
   <td>
    <p>
     =A1
    </p>
   </td>
   <td>
    <p>
     =A2+B1
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <p>
  Если вызвать для такой таблицы InsertCols(1) (то есть вставить столбец перед столбцом "B", который является первым столбцом, если считать с нуля), то мы получим таблицу
 </p>
 <table columns="4" rows="3">
  <thead>
   <tr>
    <th>
     <p>
     </p>
    </th>
    <th>
     <p>
      A
     </p>
    </th>
    <th>
     <p>
      B
     </p>
    </th>
    <th>
     <p>
      C
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     1
    </p>
   </td>
   <td>
    <p>
     42
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
     43
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2
    </p>
   </td>
   <td>
    <p>
     =A1
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
     =A2+C1
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <p>
  Обратите внимание, что ячейка "B2" теперь "переехала" в "С2", и
  <em>
   её текст изменился
  </em>
  . Имеет смысл пользоваться ментальной моделью, в соответствии с которой "B1" до вставки и "С1" после вставки - суть одна и та же ячейка, у которой просто
  <em>
   изменился индекс
  </em>
  . И подобные изменения индекса должны быть отражены во всех релевантных формулах.
 </p>
 <p>
  Таким образом, при вставке строк или столбцов могут изменяться тексты ячеек с формулами, но значения ячеек не меняются.
 </p>
 <p>
  С удалением ячеек дело обстоит чуть сложнее. Рассмотрим тот же пример, только вызовем для него DeleteCols(0) (то есть удалить столбец "A"). Тогда мы получим следующую таблицу:
 </p>
 <table columns="2" rows="3">
  <thead>
   <tr>
    <th>
     <p>
     </p>
    </th>
    <th>
     <p>
      A
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     1
    </p>
   </td>
   <td>
    <p>
     43
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2
    </p>
   </td>
   <td>
    <p>
     =#REF!+A1
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <p>
  Второе слагаемое в бывшей ячейке "B2" обновилось корректно, а первое заменилось на "#REF!". Это сообщение об ошибке, которое значит, что мы пытаемся обратиться к недоступной ячейке. Что логично, она ведь была удалена. Вычисление значения такой формулы вернёт нам не численное значение, а эту самую ошибку. Это отражено в типе ICell::Value - он может содержать либо простой текст, либо число, либо ошибку.
 </p>
 <p>
  Таким образом, при удалении строк или столбцов могут изменяться как тексты ячеек с формулами, так и их значения. При этом, в качестве новых значений могут фигурировать сообщениями об ошибках.
 </p>
 <h2 level="2">
  Печать таблицы
 </h2>
 <p>
  С помощью методов ISheet::PrintValues() и ISheet::PrintTexts() таблицу можно распечатать целиком в некоторый поток. При этом будет выведена минимальная прямоугольная область, включающая в себя все непустые ячейки. Размер этой области можно запросить в явном виде с помощью метода ISheet::GetPrintableSize().
 </p>
 <p>
  Для печати формул предназначен метод ISheet::GetExpression(), который возвращает текстовое представление формулы без пробелов и лишних скобок. Мы считаем, что определить нужность скобки можно, смотря на типы двух вершин — текущую и дочернюю, что есть некоторое упрощение. Например, в выражении A1 / (A2 / A3)скобки нужны (без них значение формулы может измениться), а скобки в выражении (A1 / A2) / A3 не нужны. Таким образом, чтобы понять, нужно ли вставить между вершиной и ее дочерней вершиной скобки, нужна следующая информация:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Тип текущей вершины,
   </p>
  </li>
  <li>
   <p>
    Тип дочерней вершины,
   </p>
  </li>
  <li>
   <p>
    Является ли дочерняя вершина левой или правой (актуально, если родительская вершина — бинарный оператор).
   </p>
  </li>
 </ul>
 <p>
  Мы ожидаем, что вы будете использовать следующую матрицу нужности скобок, где строчки соответствуют типам родительских, а столбцы — типам дочерних вершин:
 </p>
 <table columns="7" rows="6">
  <tr>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
     • + •
    </p>
   </td>
   <td>
    <p>
     • - •
    </p>
   </td>
   <td>
    <p>
     • * •
    </p>
   </td>
   <td>
    <p>
     • / •
    </p>
   </td>
   <td>
    <p>
     ± •
    </p>
   </td>
   <td>
    <p>
     атом
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     • + •
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     • - •
    </p>
   </td>
   <td>
    <p>
     справа
    </p>
   </td>
   <td>
    <p>
     справа
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     • * •
    </p>
   </td>
   <td>
    <p>
     нужны
    </p>
   </td>
   <td>
    <p>
     нужны
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     • / •
    </p>
   </td>
   <td>
    <p>
     нужны
    </p>
   </td>
   <td>
    <p>
     нужны
    </p>
   </td>
   <td>
    <p>
     справа
    </p>
   </td>
   <td>
    <p>
     справа
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     ± •
    </p>
   </td>
   <td>
    <p>
     нужны
    </p>
   </td>
   <td>
    <p>
     нужны
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
 </table>
 <p>
  В этой таблице пустая ячейка означает, что скобки не нужны, "справа" означает, что скобки нужны, если ребенок правый, "нужны" означает, что скобки нужны всегда. Под атомами в таблице мы понимаем числа и ссылки на ячейки.
 </p>
 <p>
  Заметим, что с такими правилами преобразование AST -&gt; expression -&gt; AST может приводить к AST, отличному от исходного. Например, скобки в формуле -(A1 * A2) не нужны, хотя выражения -(A1 * A2) и -A1 * A2 имеют разные AST: UnaryMinus(Mul(Cell(A1), Cell(A2))) и Mul(UnaryMinus(Cell(A1)), Cell(A2)) соответственно.
 </p>
 <h2 level="2">
  Обработка ошибок
 </h2>
 <p>
  Электронная таблица - достаточно гибкая структура, и её легко можно привести в неконсистентное состояние. Реализация должна корректно вести себя в случае всех возможных ошибок.
 </p>
 <p>
  Могут быть выброшены следующие исключения:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     Некорректная позиция.
    </strong>
    Программно есть возможность создать экземпляр класса Position, в котором хранится некорректная позиция. Например (-1, -1). Попытка передать такую позицию в методы предоставляемых интерфейсов должна приводить к исключению InvalidPositionException. Гарантируется, что позиции, возвращаемые методами интерфейсов (например, ICell::GetReferencedCells()) всегда корректны.
   </p>
  </li>
  <li>
   <p>
    <strong>
     Некорректная формула.
    </strong>
    Если в ячейку с помощью метода ISheet::SetCell() пытаются записать синтаксически некорректную формулу (например, =A1+*), то реализация должна выбросить исключение FormulaException, а значение ячейки не должно измениться. Формула считается синтаксически некорректной, если она не удовлетворяет предоставленной грамматике.
   </p>
  </li>
  <li>
   <p>
    <strong>
     Циклическая зависимость между ячейками.
    </strong>
    Если в ячейку с помощью метода ISheet::SetCell() пытаются записать формулу которая привела бы к циклической зависимости между ячейками, то реализация должна выбросить исключение CircularDependencyException, а значение ячейки не должно измениться.
   </p>
  </li>
  <li>
   <p>
    <strong>
     Слишком большая таблица.
    </strong>
    Напрямую нельзя создать ячейку с позицией превышающей максимальную, равно как и указать такую ячейку в формуле. Однако можно заполнить ячейку близкую к максимальной, или сослаться на таковую в формуле, а затем вставить в таблицу ещё несколько строк/столбцов, тем самым "выдвинув" ячейку за пределы максимальной позиции. Программа не должна позволять так делать, а вместо этого должна бросать исключение TableTooBigException.
   </p>
  </li>
 </ul>
 <p>
  Значение ячейки с формулой может принимать следующие ошибочные состояния, описанные в классе FormulaError:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     #REF!
    </strong>
    - Ссылка на несуществующую ячейку. См. пример выше про удаление ячеек.
   </p>
  </li>
  <li>
   <p>
    <strong>
     #VALUE!
    </strong>
    - Ссылка на ячейку, которая не является формулой и не может быть трактована как число; необходимо, чтобы
    <em>
     вся
    </em>
    ячейка трактовалась как число, то есть ячейка с текстом "11PM" приведёт к данной ошибке.
   </p>
  </li>
  <li>
   <p>
    <strong>
     #DIV/0!
    </strong>
    - В процессе вычисления значения формулы возникло деление на ноль, или переполнился тип double. Эту проверку можно выполнить с помощью функции
    <a href="https://en.cppreference.com/w/cpp/numeric/math/isfinite" title="">
     std::isfinite()
    </a>
    .
   </p>
  </li>
 </ul>
 <p>
  При этом, если формула в ячейке зависит от формулы в другой ячейке, вычисление которой привело к ошибке, то текущая формула вернёт ту же ошибку. То есть ошибки "распространяются" наверх по зависимостям. Если формула в ячейке зависит от формул в нескольких ячейках, и они возвращают разные ошибки, то текущая формула может вернуть любую из этих ошибок.
 </p>
 <p>
  Обработка ошибок - один из наиболее сложных аспектов разработки ПО. В частности потому, что техническое задание очень часто не рассматривает каких-то особенных случаев и не уточняет, как должна себя в них вести программа. В данном условии мы могли пропустить описание каких-то особых случаев. Зато мы предоставляем множество юнит-тестов в файле main.cpp. Если у вас возникают вопросы, как должна себя вести программа в каком-то случае, проверьте - быть может, он в явном виде описан в тестах.
 </p>
 <p>
  Если ваша реализация проходит все юнит-тесты, этого должно быть достаточно для того, чтобы тестирующая система посчитала её корректной. Однако, тесты не проверяют быстродействия реализации. Об этом позаботьтесь сами.
 </p>
 <h1 level="1">
  Быстродействие и сложность
 </h1>
 <p>
  Здесь мы сформулируем желаемую сложность работы нашей реализации. Для удобства её оценки, давайте сделаем несколько предположений. На практике таких ограничений мы делать не будем, это нужно исключительно для удобства оценки:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Количество ячеек, на которые ссылается произвольная формула, не превосходит некоторой константы
   </p>
  </li>
  <li>
   <p>
    Общее количество ссылок на ячейки вне печатной области ограничено некоторой константой
   </p>
  </li>
 </ul>
 <p>
  Далее давайте скажем, что K - количество ячеек в печатаемой области таблицы. Тогда от реализации мы ожидаем следующих асимптотических сложностей работы в разных сценариях:
 </p>
 <table columns="3" rows="8">
  <thead>
   <tr>
    <th>
     <p>
      #
     </p>
    </th>
    <th>
     <p>
      Сценарий
     </p>
    </th>
    <th>
     <p>
      Сложность
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     1
    </p>
   </td>
   <td>
    <p>
     Вызов любого метода интерфейса ISheet
    </p>
   </td>
   <td>
    <p>
     O(K)
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2
    </p>
   </td>
   <td>
    <p>
     Вызов метода ISheet::GetCell()
    </p>
   </td>
   <td>
    <p>
     O(1)
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     3
    </p>
   </td>
   <td>
    <p>
     Вызов метода ICell::GetValue()
    </p>
   </td>
   <td>
    <p>
     O(K)
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     4
    </p>
   </td>
   <td>
    <p>
     Вызов метода ICell::GetText()
    </p>
   </td>
   <td>
    <p>
     O(1)
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     5
    </p>
   </td>
   <td>
    <p>
     Вызов метода ICell::GetReferencedCells()
    </p>
   </td>
   <td>
    <p>
     O(1)
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     6
    </p>
   </td>
   <td>
    <p>
     Повторный вызов метода ISheet::SetCell() с теми же аргументами
    </p>
   </td>
   <td>
    <p>
     O(1)
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     7
    </p>
   </td>
   <td>
    <p>
     Повторный вызов метода ICell::GetValue() при условии, что значения ячеек, от которых данная ячейка зависит напрямую или опосредованно, не менялись с момента первого вызова (вставка строк и столбцов не приводит к изменению значений ячеек)
    </p>
   </td>
   <td>
    <p>
     O(1)
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <p>
  Эти требования подобраны не случайно, а чтобы отдать предпочтение наиболее часто встречающимся сценариям, и чтобы сделать возможной подходящую реализацию. Давайте посмотрим на них более подробно.
 </p>
 <h2 level="2">
  Структура данных для хранения ячеек
 </h2>
 <p>
  Предоставленный интерфейс ISheet содержит как методы вроде GetCell(), которые требуют произвольной индексации по хранилищу ячеек, так и методы вроде InsertCols(), которые требуют вставки элементов в произвольное место хранилища. Очевидно, что для обеспечения эффективной работы обоих видов запросов нужна какая-то нетривиальная структура данных.
 </p>
 <p>
  Однако, требования по сложности говорят нам, что метод GetCell() должен отрабатывать за константное время, в то время как ограничения на время работы InsertCols() самые либеральные. То есть мы предполагаем, что операции произвольного доступа на практике нужны чаще, чем операции вставки. Такое ограничение позволяет нам использовать простую структуру данных вроде вектора векторов.
 </p>
 <h2 level="2">
  Кеширование вычислений
 </h2>
 <p>
  Давайте рассмотрим интересный пример, где с помощью формул мы вычисляем в таблице значения
  <a href="https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA_%D0%9F%D0%B0%D1%81%D0%BA%D0%B0%D0%BB%D1%8F" title="">
   треугольника Паскаля
  </a>
  :
 </p>
 <table columns="5" rows="6">
  <thead>
   <tr>
    <th>
     <p>
     </p>
    </th>
    <th>
     <p>
      A
     </p>
    </th>
    <th>
     <p>
      B
     </p>
    </th>
    <th>
     <p>
      C
     </p>
    </th>
    <th>
     <p>
      D
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     1
    </p>
   </td>
   <td>
    <p>
     1
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2
    </p>
   </td>
   <td>
    <p>
     =A1
    </p>
   </td>
   <td>
    <p>
     =A1+B1
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     3
    </p>
   </td>
   <td>
    <p>
     =A2
    </p>
   </td>
   <td>
    <p>
     =A2+B2
    </p>
   </td>
   <td>
    <p>
     =B2+C2
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     4
    </p>
   </td>
   <td>
    <p>
     =A3
    </p>
   </td>
   <td>
    <p>
     =A3+B3
    </p>
   </td>
   <td>
    <p>
     =B3+C3
    </p>
   </td>
   <td>
    <p>
     =C3+D3
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     ...
    </p>
   </td>
   <td>
    <p>
     ...
    </p>
   </td>
   <td>
    <p>
     ...
    </p>
   </td>
   <td>
    <p>
     ...
    </p>
   </td>
   <td>
    <p>
     ...
    </p>
   </td>
  </tr>
 </table>
 <p>
  Каждая (ну, почти каждая) ячейка зависит от двух ячеек в предыдущей строке. Это значит, что каждая ячейка опосредованно зависит от O(K) других ячеек. Теперь пусть мы вызываем метод ISheet::PrintValues(), который вычисляет значения всех ячеек. При наивной реализации без кеширования вычисление одной ячейки будет иметь сложность O(K). Таким образом, общая сложность работы метода составит O(K^2), что противоречит требованию #1.
 </p>
 <p>
  Кроме того, из требования #7 напрямую следует необходимость сохранять кеш значений ячеек.
 </p>
 <p>
  На практике кеширование любого рода обычно требует повышенной аккуратности в связи с возможностью многопоточного доступа. В данной же задаче для упрощения мы не требуем корректности работы реализации интерфейса в многопоточной среде, что существенно упрощает нам жизнь.
 </p>
 <p>
  Тем не менее, нужно затратить некоторые усилия на обеспечение эффективности инвалидации кешированного значения. Действительно, если значение ячейки изменилось, то кеш значений всех ячеек, что от неё зависят непосредственно или опосредованно, должен быть инвалидирован. Причём требование #6 говорит нам, что это должно происходить быстро.
 </p>
 <h1 level="1">
  Рекомендации по реализации
 </h1>
 <p>
  Ниже мы дадим несколько рекомендаций, которые, на наш взгляд, позволят выполнить наиболее простую реализацию, удовлетворяющую обозначенным требованиям.
 </p>
 <h2 level="2">
  Ячейки в памяти
 </h2>
 <p>
  Как было сказано выше, сформулированные ограничения позволяют хранить таблицу как вектор векторов. При этом, удобно думать, что при вставке и удалении строк и столбцов ячейки "сдвигаются" в соседние позиции. То есть удобно отвязать ячейку от её индекса. Для этого можно выделять ячейки в динамической памяти, а в векторах хранить лишь указатели (желательно умные) на объекты ячеек.
 </p>
 <p>
  При этом нет смысла выделять память под пустые ячейки. То есть наши векторы вполне могут содержать нулевые указатели. Спецификация метода ISheet::GetCell() позволяет нам это делать.
 </p>
 <h2 level="2">
  Парсинг формул
 </h2>
 <p>
  В предыдущем материале для чтения мы рассказали вам, как пользоваться системой ANTLR для генерации парсера. Здесь мы предлагаем вам воспользоваться этим знанием. В шаблон решения уже входит готовая грамматика и все нужные для работы ANTLR файлы, мы также интегрировали генерацию всех необходимых C++-файлов из грамматики в CMakeLists.txt. Вам остается только реализовать бизнес-логику формул. Для этого мы рекомендуем реализовать listener, который будет строить AST формулы из ваших собственных классов, и дальнейшие манипуляции уже проводить с этим деревом.
 </p>
 <h2 level="2">
  Граф зависимостей
 </h2>
 <p>
  Для эффективной инвалидации кешированных значений можно использовать граф зависимостей. То есть для каждой ячейки нам нужно знать, от каких ячеек зависит она (
  <em>
   исходящие ссылки
  </em>
  ), и какие ячейки зависят от неё (
  <em>
   входящие ссылки
  </em>
  ).
 </p>
 <p>
  При изменении значения ячейки достаточно пройтись рекурсивно по всем входящим ссылкам и инвалидировать кеши соответствующих ячеек. Причём, если кеш какой-то ячейки уже был инвалидирован, нет смысла продолжать рекурсию дальше. Именно эта оптимизация и позволит достичь константной сложности в требовании #6. Кроме того, граф зависимостей упростит предотвращение циклических зависимостей.
 </p>
 <p>
  Вершинами данного графа являются ячейки, и хранить его удобно как список рёбер, входящих в и исходящих из конкретной ячейки. При изменении ячейки необходимо будет обновлять список исходящих ссылок (рёбер), а также списки входящих ссылок (рёбер) для всех ячеек, от которых данная ячейка зависела и станет зависеть.
 </p>
 <p>
  Стоит помнить о ситуации, когда в ячейку записывают формулу, которая указывает на пустую ячейку. Поскольку для этой пустой ячейки нам нужно сохранить список входящих ссылок, придётся создать фиктивную ячейку без содержимого.
 </p>
 <h1 level="1">
  Подготовка решения
 </h1>
 <p>
 </p>
 <asset assettype="generic" extension="zip" id="PFtm1q-dEemrTApEFxJINg" name="speadsheet_starter_files">
 </asset>
 <p>
  Вам дан архив, в котором содержится несколько сущностей:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Файлы common.h и formula.h содержат основные интерфейсы и функции, которые вам нужно будет реализовать
   </p>
  </li>
  <li>
   <p>
    Файл test_runner.h это наш старый добрый юнит-тест фреймворк
   </p>
  </li>
  <li>
   <p>
    Файл main.cpp содержит юнит-тесты
   </p>
  </li>
  <li>
   <p>
    В файле Formula.g4 описана грамматика формул для ANTLR
   </p>
  </li>
  <li>
   <p>
    В папке antlr4_runtime лежит библиотека ANTLR
   </p>
  </li>
  <li>
   <p>
    Файл antlr-4.7.2-complete.jar это java-пакет, который использует ANTLR для кодогенерации
   </p>
  </li>
  <li>
   <p>
    Файл FindANTLR.cmake нужен для подключения ANTRL с помощью CMake
   </p>
  </li>
  <li>
   <p>
    Файл CMakeLists.txt это точка входа для CMake
   </p>
  </li>
 </ul>
 <p>
  Распакуйте архив и используйте CMake, чтобы сгенерировать файлы для вашей любимой билд-системы или IDE. Запустите сборку. Всё должно успешно скомпилироваться, но будут ошибки линкера для проекта spreadsheet. Это нормально, т.к. в нём пока нет необходимых реализаций.
 </p>
 <p>
  Добавьте файлы со своими реализациями (после этого может потребоваться перезапустить CMake). Когда сборка станет успешной, можно запустить программу, она выполнит юнит-тесты. Чтобы побыстрее получить компилирующуяся программу, рекомендуется начать с "затычек" в качестве реализаций. Очевидно, юнит-тесты будут для них падать. Далее постепенно добавляйте реализации, пока все юнит-тесты не пройдут.
 </p>
 <p>
  В обучающих видео вам рассказали, как устанавливать и использовать cmake под Windows/MinGW. Ниже вы найдёте инструкции по использовнию CMake для нескольких других систем, на которых мы тестировали.
 </p>
 <h3 level="3">
  Windows, Visual Studio 2017
 </h3>
 <p>
  Запустите консоль из корня распакованного архива. В консоли выполните:
 </p>
 <p>
  mkdir build &amp;&amp; cd build
 </p>
 <p>
  cmake .. -G "Visual Studio 15 2017" -A x64 -Wno-dev
 </p>
 <p>
  Откройте файл build/spreadsheet.sln.
 </p>
 <p>
  При добавлении новых файлов никаких дополнительных действий не требуется. Просто нажмите Build | Build Solution и файлы проектов будут автоматически обновлены, чтобы включить добавленные файлы.
 </p>
 <h3 level="3">
  macOS
 </h3>
 <p>
  Установите системные утилиты для сборки программ:
 </p>
 <p>
  xcode-select --install
 </p>
 <p>
  Опционально, установите XCode из App Store.
 </p>
 <p>
  Установите
  <a href="https://brew.sh/" title="">
   Homebrew
  </a>
  и установите CMake:
 </p>
 <p>
  brew install cmake
 </p>
 <p>
  Опционально, установите Ninja:
 </p>
 <p>
  brew install ninja
 </p>
 <p>
  Создайте директорию для билд-системы и сгенерируйте файлы для ее настройки:
 </p>
 <p>
  mkdir build &amp;&amp; cd build
 </p>
 <p>
  cmake .. -Wno-dev -DCMAKE_BUILD_TYPE=Debug
 </p>
 <p>
  В такой конфигурации будет использована билд-система make. Она старая и лучше использовать что-то другое, например:
 </p>
 <p>
  cmake .. -Wno-dev -DCMAKE_BUILD_TYPE=Debug -G Ninja cmake .. -Wno-dev -DCMAKE_BUILD_TYPE=Debug -G Xcode
 </p>
 <p>
  Далее, в зависимости от того, какую билд-систему вы выбрали:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    По умолчанию (make): запустите make
   </p>
  </li>
  <li>
   <p>
    Xcode: откройте сгенерированный проект в Xcode
   </p>
  </li>
  <li>
   <p>
    Ninja: ninja. Его билд всегда параллельный и сам определяет подходящее число параллельных процессов
   </p>
  </li>
 </ul>
 <h3 level="3">
  Debian &amp; Ubuntu
 </h3>
 <p>
  Установите необходимые пакеты (ninja-build опционален):
 </p>
 <p>
  sudo apt-get install cmake ninja-build pkgconf uuid-dev
 </p>
 <p>
  Создайте директорию для билд-системы и сгенерируйте файлы для ее настройки:
 </p>
 <p>
  mkdir build &amp;&amp; cd build
 </p>
 <p>
  cmake .. -Wno-dev -DCMAKE_BUILD_TYPE=Debug -DWITH_LIBCXX=Off
 </p>
 <p>
  В такой конфигурации будет использована билд-система make. Она старая и лучше использовать что-нибудь другое, например Ninja:
 </p>
 <p>
  cmake .. -Wno-dev -DCMAKE_BUILD_TYPE=Debug -G Ninja -DWITH_LIBCXX=Off
 </p>
 <p>
  Обратите внимание, что мы отключаем форсированное использование libc++ в clang++. Если в вашей системе нет libstdc++ (например, если вы используете FreeBSD, но все же читаете этот гайд), можно убрать эту опцию.
 </p>
 <p>
  Далее, в зависимости от того, какую билд-систему вы выбрали:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    По умолчанию (make): запустите make
   </p>
  </li>
  <li>
   <p>
    Ninja: ninja. Его билд всегда параллельный и сам определяет подходящее число параллельных процессов
   </p>
  </li>
 </ul>
 <h2 level="2">
  Отправка файлов
 </h2>
 <p>
  В качестве решения сдайте архив со всеми .cpp и .h файлами, в которых содержатся ваши реализации. Не включайте в него файлы, которые были в исходном архиве.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
