<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте класс, поддерживающий набор строк в отсортированном порядке. Класс должен содержать два публичных метода:
 </p>
 <pre language="c_cpp">class SortedStrings {
public:
  void AddString(const string&amp; s) {
    // добавить строку s в набор
  }
  vector&lt;string&gt; GetSortedStrings() {
    // получить набор из всех добавленных строк в отсортированном порядке
  }
private:
  // приватные поля
};
</pre>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">void PrintSortedStrings(SortedStrings&amp; strings) {
  for (const string&amp; s : strings.GetSortedStrings()) {
    cout &lt;&lt; s &lt;&lt; " ";
  }
  cout &lt;&lt; endl;
}

int main() {
  SortedStrings strings;
  
  strings.AddString("first");
  strings.AddString("third");
  strings.AddString("second");
  PrintSortedStrings(strings);
  
  strings.AddString("second");
  PrintSortedStrings(strings);
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">first second third
first second second third
</pre>
 <h2 level="2">
 </h2>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
