<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте класс для человека, поддерживающий историю изменений человеком своих фамилии и имени.
 </p>
 <pre language="c_cpp">class Person {
public:
  void ChangeFirstName(int year, const string&amp; first_name) {
    // добавить факт изменения имени на first_name в год year
  }
  void ChangeLastName(int year, const string&amp; last_name) {
    // добавить факт изменения фамилии на last_name в год year
  }
  string GetFullName(int year) {
    // получить имя и фамилию по состоянию на конец года year
  }
private:
  // приватные поля
};
</pre>
 <p>
  Считайте, что в каждый год может произойти не более одного изменения фамилии и не более одного изменения имени. При этом с течением времени могут открываться всё новые факты из прошлого человека, поэтому года́ в последовательных вызовах методов ChangeLastName и ChangeFirstName не обязаны возрастать.
 </p>
 <p>
  Гарантируется, что все имена и фамилии непусты.
 </p>
 <p>
  Строка, возвращаемая методом GetFullName, должна содержать разделённые одним пробелом имя и фамилию человека по состоянию на конец данного года.
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Если к данному году не случилось ни одного изменения фамилии и имени, верните строку
    <strong>
     "Incognito"
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    Если к данному году случилось изменение фамилии, но не было ни одного изменения имени, верните
    <strong>
     "
    </strong>
    <strong>
     <em>
      last_name
     </em>
    </strong>
    <strong>
     with unknown first name"
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    Если к данному году случилось изменение имени, но не было ни одного изменения фамилии, верните
    <strong>
     "
    </strong>
    <strong>
     <em>
      first_name
     </em>
    </strong>
    <strong>
     with unknown last name"
    </strong>
    .
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">int main() {
  Person person;
  
  person.ChangeFirstName(1965, "Polina");
  person.ChangeLastName(1967, "Sergeeva");
  for (int year : {1900, 1965, 1990}) {
    cout &lt;&lt; person.GetFullName(year) &lt;&lt; endl;
  }
  
  person.ChangeFirstName(1970, "Appolinaria");
  for (int year : {1969, 1970}) {
    cout &lt;&lt; person.GetFullName(year) &lt;&lt; endl;
  }
  
  person.ChangeLastName(1968, "Volkova");
  for (int year : {1969, 1970}) {
    cout &lt;&lt; person.GetFullName(year) &lt;&lt; endl;
  }
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Incognito
Polina with unknown last name
Polina Sergeeva
Polina Sergeeva
Appolinaria Sergeeva
Polina Volkova
Appolinaria Volkova
</pre>
 <h2 level="2">
 </h2>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
