<meta charset="utf-8"/>
<co-content>
 <p>
  Дополните класс из предыдущей задачи «Имена и фамилии — 1» методом GetFullNameWithHistory:
 </p>
 <pre language="c_cpp">class Person {
public:
  void ChangeFirstName(int year, const string&amp; first_name) {
    // добавить факт изменения имени на first_name в год year
  }
  void ChangeLastName(int year, const string&amp; last_name) {
    // добавить факт изменения фамилии на last_name в год year
  }
  string GetFullName(int year) {
    // получить имя и фамилию по состоянию на конец года year
  }
  string GetFullNameWithHistory(int year) {
    // получить все имена и фамилии по состоянию на конец года year
  }
private:
  // приватные поля
};
</pre>
 <p>
  В отличие от метода GetFullName, метод GetFullNameWithHistory должен вернуть не только последние имя и фамилию к концу данного года, но ещё и все предыдущие имена и фамилии в обратном хронологическом порядке. Если текущие факты говорят о том, что человек два раза подряд изменил фамилию или имя на одно и то же, второе изменение при формировании истории нужно игнорировать.
 </p>
 <p>
  Для лучшего понимания формата см. примеры.
 </p>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">int main() {
  Person person;

  person.ChangeFirstName(1900, "Eugene");
  person.ChangeLastName(1900, "Sokolov");
  person.ChangeLastName(1910, "Sokolov");
  person.ChangeFirstName(1920, "Evgeny");
  person.ChangeLastName(1930, "Sokolov");
  cout &lt;&lt; person.GetFullNameWithHistory(1940) &lt;&lt; endl;
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Evgeny (Eugene) Sokolov
</pre>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">int main() {
  Person person;
  
  person.ChangeFirstName(1965, "Polina");
  person.ChangeLastName(1967, "Sergeeva");
  for (int year : {1900, 1965, 1990}) {
    cout &lt;&lt; person.GetFullNameWithHistory(year) &lt;&lt; endl;
  }
  
  person.ChangeFirstName(1970, "Appolinaria");
  for (int year : {1969, 1970}) {
    cout &lt;&lt; person.GetFullNameWithHistory(year) &lt;&lt; endl;
  }
  
  person.ChangeLastName(1968, "Volkova");
  for (int year : {1969, 1970}) {
    cout &lt;&lt; person.GetFullNameWithHistory(year) &lt;&lt; endl;
  }
  
  person.ChangeFirstName(1990, "Polina");
  person.ChangeLastName(1990, "Volkova-Sergeeva");
  cout &lt;&lt; person.GetFullNameWithHistory(1990) &lt;&lt; endl;
  
  person.ChangeFirstName(1966, "Pauline");
  cout &lt;&lt; person.GetFullNameWithHistory(1966) &lt;&lt; endl;
  
  person.ChangeLastName(1960, "Sergeeva");
  for (int year : {1960, 1967}) {
    cout &lt;&lt; person.GetFullNameWithHistory(year) &lt;&lt; endl;
  }
  
  person.ChangeLastName(1961, "Ivanova");
  cout &lt;&lt; person.GetFullNameWithHistory(1967) &lt;&lt; endl;
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Incognito
Polina with unknown last name
Polina Sergeeva
Polina Sergeeva
Appolinaria (Polina) Sergeeva
Polina Volkova (Sergeeva)
Appolinaria (Polina) Volkova (Sergeeva)
Polina (Appolinaria, Polina) Volkova-Sergeeva (Volkova, Sergeeva)
Pauline (Polina) with unknown last name
Sergeeva with unknown first name
Pauline (Polina) Sergeeva
Pauline (Polina) Sergeeva (Ivanova, Sergeeva)
</pre>
 <h2 level="2">
  Пример 3
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">int main() {
  Person person;

  person.ChangeFirstName(1965, "Polina");
  person.ChangeFirstName(1965, "Appolinaria");

  person.ChangeLastName(1965, "Sergeeva");
  person.ChangeLastName(1965, "Volkova");
  person.ChangeLastName(1965, "Volkova-Sergeeva");

  for (int year : {1964, 1965, 1966}) {
    cout &lt;&lt; person.GetFullNameWithHistory(year) &lt;&lt; endl;
  }

  return 0;
}</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Incognito
Appolinaria Volkova-Sergeeva
Appolinaria Volkova-Sergeeva
</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
