<meta charset="utf-8"/>
<co-content>
 <p>
  В этой тренировочной задаче вам надо поддержать загрузку расходов из формата XML в нашей программе управления личными финансами. При этом вам надо воспользоваться готовой библиотекой работы с XML. Более конкретно, вам надо написать функцию vector&lt;Spending&gt; LoadFromXml(istream&amp; input). Spending — это структура из вводной лекции:
 </p>
 <pre language="c_cpp">struct Spending {
  string category;
  int amount;
};</pre>
 <p>
  Поток input содержит описание расходов в формате XML, например:
 </p>
 <pre language="xml">&lt;july&gt;
  &lt;spend amount="2500" category="food"&gt;&lt;/spend&gt;
  &lt;spend amount="1150" category="transport"&gt;&lt;/spend&gt;
  &lt;spend amount="5780" category="restaurants"&gt;&lt;/spend&gt;
  &lt;spend amount="7500" category="clothes"&gt;&lt;/spend&gt;
  &lt;spend amount="23740" category="travel"&gt;&lt;/spend&gt;
  &lt;spend amount="12000" category="sport"&gt;&lt;/spend&gt;
&lt;/july&gt;</pre>
 <p>
  Важно отметить:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    формат текста в потоке input всегда строго такой, как в примере: есть один корневой узел, который содержит несколько узлов &lt;spend&gt; с атрибутами "amount" и "category"
   </p>
  </li>
  <li>
   <p>
    функция Load из выданной вам библиотеки работы с XML умеет загружать описанный выше формат
   </p>
  </li>
  <li>
   <p>
    мы выдаём вам не реальную библиотеку разбора XML, а лишь минимальный код, достаточный для работы описанным форматом данных
   </p>
  </li>
  <li>
   <p>
    цель этой задачи — не показать, как правильно парсить XML, а познакомить вас с кодом, на котором мы в дальнейшем будем разбирать пространства имён, поэтому очень важно, чтобы вы реализовали функцию LoadFromXml через содержимое нашей библиотеки работы с XML.
   </p>
  </li>
 </ul>
 <p>
  На проверку пришлите cpp-файл, который подключает файл xml.h (дан ниже) и содержит реализацию функции LoadFromXml. Тестирующая система соберёт его вместе с файлом xml.cpp и прогонит набор юнит-тестов.
 </p>
 <h3 level="3">
  Заготовка решения и библиотека
 </h3>
 <asset assettype="generic" extension="h" id="X1cp9fexEeilxxL_ZeRz_A" name="xml">
 </asset>
 <asset assettype="generic" extension="cpp" id="X1Y_7fexEeiAgQrXx6bp4g" name="xml">
 </asset>
 <asset assettype="generic" extension="cpp" id="X1Xxs_exEeiixgqCUDoEfA" name="spendings_xml">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
