<meta charset="utf-8"/>
<co-content>
 <p>
  В этой тренировочной задаче вам надо поддержать загрузку расходов из формата JSON в нашей программе управления личными финансами. При этом вам надо воспользоваться готовой библиотекой работы с JSON. Более конкретно, вам надо написать функцию vector&lt;Spending&gt; LoadFromJson(istream&amp; input). Spending — это структура из вводной лекции:
 </p>
 <pre language="c_cpp">struct Spending {
  string category;
  int amount;
};</pre>
 <p>
  Поток input содержит описание расходов в формате JSON, например:
 </p>
 <p>
 </p>
 <pre language="json">[
  {"amount": 2500, "category": "food"},
  {"amount": 1150, "category": "transport"},
  {"amount": 5780, "category": "restaurants"},
  {"amount": 7500, "category": "clothes"},
  {"amount": 23740, "category": "travel"},
  {"amount": 12000, "category": "sport"}
]</pre>
 <p>
  Важно отметить:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    формат текста в потоке input всегда строго такой, как в примере: есть массив, который содержит несколько словарей с ключами "amount" и "category"
   </p>
  </li>
  <li>
   <p>
    функция Load из выданной вам библиотеки работы с JSON умеет загружать описанный выше формат
   </p>
  </li>
  <li>
   <p>
    мы выдаём вам не реальную библиотеку разбора JSON, а лишь минимальный код, достаточный для работы описанным форматом данных
   </p>
  </li>
  <li>
   <p>
    цель этой задачи — не показать, как правильно парсить JSON, а познакомить вас с кодом, на котором мы в дальнейшем будем разбирать пространства имён, поэтому очень важно, чтобы вы реализовали функцию LoadFromJson через содержимое нашей библиотеки работы с JSON.
   </p>
  </li>
 </ul>
 <p>
  На проверку пришлите cpp-файл, который подключает файл json.h (дан ниже) и содержит реализацию функции LoadFromJson. Тестирующая система соберёт его вместе с файлом json.cpp и прогонит набор юнит-тестов.
 </p>
 <h3 level="3">
  Заготовка решения и библиотека
 </h3>
 <asset assettype="generic" extension="h" id="gJ-FSfexEeiAgQrXx6bp4g" name="json">
 </asset>
 <asset assettype="generic" extension="cpp" id="gKGoKvexEeiAgQrXx6bp4g" name="json">
 </asset>
 <asset assettype="generic" extension="cpp" id="uWQcVviDEeiixgqCUDoEfA" name="spendings_json">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
