<meta charset="utf-8"/>
<co-content>
 <p>
  В лекциях мы разработали библиотеки для загрузки данных из форматов XML и JSON, поместив каждую из них в своё пространство имён. В этой задаче вам нужно сделать то же самое для формата
  <a href="https://ru.wikipedia.org/wiki/.ini">
   INI
  </a>
  . Вам надо разработать библиотеку со следующим интерфейсом
 </p>
 <pre language="c_cpp">using Section = unordered_map&lt;string, string&gt;;

class Document {
public:
  Section&amp; AddSection(string name);
  const Section&amp; GetSection(const string&amp; name) const;
  size_t SectionCount() const;

private:
  unordered_map&lt;string, Section&gt; sections;
};

Document Load(istream&amp; input);</pre>
 <p>
  Требования:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Содержимое библиотеки должно находиться в пространстве имён Ini
   </p>
  </li>
  <li>
   <p>
    Интерфейс, приведённый выше, должен быть объявлен в файле ini.h
   </p>
  </li>
  <li>
   <p>
    На проверку пришлите архив с полной реализацией библиотеки, в архиве должен быть файл ini.h
   </p>
  </li>
  <li>
   <p>
    В процессе тестирования функции Load ей на вход будет подаваться текст в формате
   </p>
  </li>
 </ul>
 <pre language="plain_text">[секция 1]
ключ1=значение1
ключ2=значение2

[секция 2]
ключ3=значение3
ключ4=значение4</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    Гарантируется, что в наших тестах используются только корректные ini-файлы, то есть строки вида ключ=значение всегда находятся внутри какой-то секции и содержат ровно один символ '='
   </p>
  </li>
  <li>
   <p>
    Строка ini-файла либо пустая, либо не содержит ведущих пробелов
   </p>
  </li>
 </ul>
 <p>
  Примеры применения библиотеки смотрите в юнит-тестах в файле test_ini.cpp
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/5_namespaces/problems.md#%D0%B7%D0%B0%D0%BC%D0%B5%D1%87%D0%B0%D0%BD%D0%B8%D0%B5">
  </a>
  Замечание
 </h3>
 <p>
  Возможно, вам придётся добавить поддержку unordered_map в своей версии файла test_runner.h
 </p>
 <h3 level="3">
  Частичный набор тестов для библиотек
 </h3>
 <asset assettype="generic" extension="cpp" id="alT_dgU9Eem6Gg6vVM6M8A" name="test_ini">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
