<meta charset="utf-8"/>
<co-content>
 <p>
  Продолжим работать с примером, в котором мы создавали программу учёта личных финансов и работали с форматами JSON и XML. На этот раз мы решили добавить в неё возможность конвертировать список расходов из XML в JSON и наоборот. Для этого мы написали две функции:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Json::Document XmlToJson(const Xml::Document&amp; doc)
   </p>
  </li>
  <li>
   <p>
    Xml::Document JsonToXml(const Json::Document&amp; doc, string root_name)
   </p>
  </li>
 </ul>
 <p>
  Кроме того, мы покрыли их юнит-тестами в функциях TestXmlToJson и TestJsonToXml. Но есть одна проблема — весь этот код писал начинающий специалист, который посмотрел все лекции нашего курса, но, не решив ни одной задачи, сразу стал применять полученные знания в работе. Он обратился к вам за помощью, передал свой код и, сказав: «Что-то у меня не компилируется», ушёл в отпуск. Ваша задача — привести в порядок код его функций и тестов, то есть сделать так, чтобы они компилировались и работали.
 </p>
 <asset assettype="generic" extension="h" id="r5joNfPUEeiaxBKyA9PBAg" name="json">
 </asset>
 <asset assettype="generic" extension="cpp" id="r5k2YfPUEei5Kg7DUflKxA" name="json">
 </asset>
 <asset assettype="generic" extension="h" id="r5tZNvPUEeiaxBKyA9PBAg" name="xml">
 </asset>
 <asset assettype="generic" extension="cpp" id="r5v03fPUEeiixgqCUDoEfA" name="xml">
 </asset>
 <asset assettype="generic" extension="cpp" id="pkVZOfyGEeiixgqCUDoEfA" name="refactoring">
 </asset>
 <p>
  Более подробно, функция XmlToJson ожидает на вход документ, имеющий структуру &lt;root&gt;&lt;spend amount="2500" category="food"&gt;&lt;/spend&gt;...&lt;/root&gt;, то есть в корневом узле лежит ноль или больше узлов с именем "spend" и атрибутами "amount" и "category". Она должна возвращать объект класса Json::Document, имеющий структуру [{"amount": 2500, "category": "food"}, ...], то есть это массив, содержащий столько словарей, сколько было узлов &lt;spend&gt; в XML-документе. При этом в словарях узёл по ключу "amount" должен быть целочисленным, а по ключу "category" — строковым. Гарантируется, что в тестирующей системе на вход вашей функции будут подаваться только XML-документы, соответствующие описанному формату (то есть обрабатывать некорректный ввод в данной задаче не надо).
 </p>
 <p>
  Функция JsonToXml должна выполнять обратное преобразование. Точно так же в нашей тестирующей системе ей на вход будут подаваться только JSON-документы, соответствующие описанному формату.
 </p>
 <p>
  Тесты TestXmlToJson и TestJsonToXml не должны принимать пустые реализации функций XmlToJson и JsonToXml, а также реализации, нарушающие формат выходных данных. Вам не надо добавлять в тесты другие тестовые случаи, надо заставить компилироваться и работать те, которые есть.
 </p>
 <p>
  На проверку пришлите cpp-файл, который
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    подключает файлы xml.h и json.h
   </p>
  </li>
  <li>
   <p>
    содержит реализацию функций XmlToJson, JsonToXml, TestJsonToXml, TestXmlToJson
   </p>
  </li>
 </ul>
 <p>
  Вам даны файлы xml.h/cpp и json.h/cpp, приведённые в соответствие с рекомендациями последней лекции. Именно они будут использоваться в процессе тестирования вашей посылки.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
