<meta charset="utf-8"/>
<co-content>
 <p>
  В предыдущем видео мы показали, как пространства имён могут использоваться для структурирования кода и его разбиения на логические блоки. В этой задаче вам предстоит попрактиковаться в этом.
 </p>
 <p>
  Вам дана программа, которая умеет вычислять различные агрегации набора целых чисел: минимум, максимум, сумму, среднее и моду. Каждая агрегация в программе реализована в виде отдельного класса, который является потомком абстрактного базового класса StatsAggregator. Эти классы имеют имена:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    SumStatsAggregator
   </p>
  </li>
  <li>
   <p>
    MinStatsAggregator
   </p>
  </li>
  <li>
   <p>
    MaxStatsAggregator
   </p>
  </li>
  <li>
   <p>
    AverageStatsAggregator
   </p>
  </li>
  <li>
   <p>
    ModeStatsAggregator
   </p>
  </li>
 </ul>
 <p>
  Как видите, у всех этих классов общий суффикс. Его частое использование может загромождать код и затруднять его читаемость (особенно это касается файла с реализацией классов и файла с тестами). Выполните следующие преобразования кода:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    удалите из имён потомков StatsAggregator общий суффикс (например, SumStatsAggregator надо переименовать в Sum)
   </p>
  </li>
  <li>
   <p>
    удалите из имён тестов общий суффикс (например, TestSumStatsAggregator надо переименовать в TestSum (см. юнит-тесты в файлах stats_aggregator.h и stats_aggregator_test.cpp ниже))
   </p>
  </li>
  <li>
   <p>
    поместите классы-потомки StatsAggregator, а также тесты для них в пространство имён StatsAggregators
   </p>
  </li>
  <li>
   <p>
    обновите файл main.cpp так, чтобы он корректно работал с новой структурой кода (в т.ч. вызывал юнит-тесты)
   </p>
  </li>
  <li>
   <p>
    базовый класс StatsAggregator оставьте в глобальном пространстве имён
   </p>
  </li>
 </ul>
 <p>
  Как говорилось в видео, перемещение базового класса в пространство имён является делом вкуса. В этой задаче мы просим оставить его в глобальном пространстве имён, потому что это позволяет не трогать код, который работает с абстрактным интерфейсом, а не с его реализациями. Ради эксперимента, после сдачи задачи, вы можете поместить StatsAggregator в пространство имён StatsAggregators и посмотреть, какой ещё код придётся поменять и станет ли он от этого изменения проще.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/5_namespaces/problems.md#%D0%B8%D1%81%D1%85%D0%BE%D0%B4%D0%BD%D0%B0%D1%8F-%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0">
  </a>
  Исходная программа
 </h3>
 <asset assettype="generic" extension="cpp" id="WcIyxvPWEeiTKQ5ajE7PqA" name="main">
 </asset>
 <asset assettype="generic" extension="cpp" id="ZpCMUvPWEeiixgqCUDoEfA" name="stats_aggregator">
 </asset>
 <asset assettype="generic" extension="h" id="cjoUwPPWEeiaxBKyA9PBAg" name="stats_aggregator">
 </asset>
 <asset assettype="generic" extension="cpp" id="fZuYcPPWEei5Kg7DUflKxA" name="stats_aggregator_test">
 </asset>
 <h3 level="3">
  Как будет тестироваться ваш код
 </h3>
 <p>
  Пришлите на проверку архив с переработанными файлами исходной программы. Тестирование будет проходить в несколько этапов.
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Сначала мы проверим, что в файле stats_aggregator.h есть классы StatsAggregator, StatsAggregators::Sum, StatsAggregators::Min, StatsAggregators::Max, StatsAggregators::Average, StatsAggregators::Mode и StatsAggregators::Composite, а также соответствующие функции с юнит-тестами.
   </p>
  </li>
  <li>
   <p>
    Затем запустим наши внутренние юнит-тесты для классов-потомков StatsAggregator, чтобы убедиться, что они действительно реализуют его интерфейс.
   </p>
  </li>
  <li>
   <p>
    Далее мы запустим ваши юнит-тесты из файла stats_aggregator_test.cpp и убедимся, что они срабатывают на неверных реализациях классов и принимают верные.
   </p>
  </li>
  <li>
   <p>
    Наконец, мы соберём весь ваш проект и подадим ему в stdin несколько тестов, чтобы убедиться, что программа целиком работает корректно.
   </p>
  </li>
 </ol>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
