<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Постановка задачи
 </h3>
 <p>
  В одной из программ исследования генома человека используется следующая структура данных для хранения и передачи информации о найденных в геноме нуклеотидах:
 </p>
 <pre language="c_cpp">struct Nucleotide {
  char Symbol;
  size_t Position;
  int ChromosomeNum;
  int GeneNum;
  bool IsMarked;
  char ServiceInfo;
};</pre>
 <p>
  Где:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <em>
     Symbol
    </em>
    - общеупотребимый буквенный код одного из четырёх нуклеотидов:
    <em>
     A
    </em>
    ,
    <em>
     T
    </em>
    ,
    <em>
     G
    </em>
    или
    <em>
     С
    </em>
    .
   </p>
  </li>
  <li>
   <p>
    <em>
     Position
    </em>
    - положение найденного нуклеотида в геноме. Может принимать значения от 0 до 3,3 млрд.
   </p>
  </li>
  <li>
   <p>
    <em>
     ChromosomeNum
    </em>
    - номер хромосомы, в которой найден нуклеотид. Может принимать значения от 1 до 46.
   </p>
  </li>
  <li>
   <p>
    <em>
     GeneNum
    </em>
    - номер гена, в котором найден нуклеотид. Может принимать значения от 1 до 25 тыс, а также специальное значение 0 - в случае если найденный нуклеотид лежит вне известных генов.
   </p>
  </li>
  <li>
   <p>
    <em>
     IsMarked
    </em>
    - флаг, является ли найденный нуклеотид помеченным ранее меткой.
   </p>
  </li>
  <li>
   <p>
    <em>
     ServiceInfo
    </em>
    - служебная информация о результатах поиска. Может быть любым символом.
   </p>
  </li>
 </ul>
 <p>
  Программа работает правильно, однако результаты поиска занимают слишком много памяти.
 </p>
 <p>
  Вам требуется, пользуясь полученными на лекциями знаниями, написать структуру данных
  <em>
   CompactNucleotide
  </em>
  , которая позволяет хранить ту же информацию (без потерь) более компактно.
 </p>
 <p>
  Для обеспечения совместимости необходимо написать реализации функций
  <em>
   Compress()
  </em>
  и
  <em>
   Decompress()
  </em>
  .
 </p>
 <p>
  Требования:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Размер вашей структуры CompactNucleotide не должен превышать 8 байтов.
   </p>
  </li>
  <li>
   <p>
    В решении нельзя использовать директиву pragma pack.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения и комплект тестов
 </h3>
 <asset assettype="generic" extension="cpp" id="-wO36ZS_EembvgrcYyyFsg" name="nucleotide">
 </asset>
 <asset assettype="generic" extension="cpp" id="Bap3XZTAEemIkxIpYUTZlA" name="nucleotide_test">
 </asset>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
