<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче и последующих её версиях вам нужно реализовать систему хранения транспортных маршрутов и обработки запросов к ней. Сначала на вход подаются запросы на создание базы данных, затем — запросы к самой базе.
 </p>
 <p>
  При проектировании решения учитывайте, что его придётся неоднократно расширять. Авторские решения вы увидите лишь после успешной сдачи всех версий: таким образом, на протяжении всей череды доработок функционала вы будете иметь дело со своей собственной архитектурой кода и почувствуете, какие именно проектировочные решения мешают расширению.
 </p>
 <p>
  Не пренебрегайте юнит-тестами! Именно они дадут вам уверенность в том, что при изменении части функционала не сломается всё остальное.
 </p>
 <p>
  Как и в других задачах, здесь можно отправить на проверку архив из нескольких файлов.
 </p>
 <h2 level="2">
  Формат ввода базы данных
 </h2>
 <p>
  В первой строке вводится количество запросов на обновление базы данных, затем — по одному на строке — вводятся сами запросы. Запросы бывают двух типов.
 </p>
 <h3 level="3">
  <strong>
   Stop
   <em>
    X
   </em>
   :
   <em>
    latitude
   </em>
   ,
   <em>
    longitude
   </em>
  </strong>
 </h3>
 <p>
  Остановка с названием
  <em>
   <strong>
    X
   </strong>
  </em>
  и координатами
  <em>
   <strong>
    latitude
   </strong>
  </em>
  и
  <em>
   <strong>
    longitude
   </strong>
  </em>
  .
 </p>
 <p>
  Гарантируется, что остановка определена не более чем в одном запросе
  <strong>
   Stop
  </strong>
  <em>
   <strong>
    X.
   </strong>
  </em>
 </p>
 <h3 level="3">
  <strong>
   Bus
   <em>
    X
   </em>
   :
   <em>
    описание маршрута
   </em>
  </strong>
 </h3>
 <p>
  Запрос на добавление автобуса номер
  <em>
   <strong>
    X
   </strong>
  </em>
  .
  <em>
   <strong>
    Описание маршрута
   </strong>
  </em>
  может задаваться в одном из двух форматов (см. пример):
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    <strong>
     <em>
      stop1
     </em>
     -
     <em>
      stop2
     </em>
     -
    </strong>
    ...
    <strong>
     -
     <em>
      stopN
     </em>
    </strong>
    : автобус следует от
    <em>
     <strong>
      stop1
     </strong>
    </em>
    до
    <em>
     <strong>
      stopN
     </strong>
    </em>
    и обратно с указанными промежуточными остановками.
   </p>
  </li>
  <li>
   <p>
    <strong>
     <em>
      stop1
     </em>
     &gt;
     <em>
      stop2
     </em>
     &gt;
    </strong>
    ...
    <strong>
     &gt;
     <em>
      stopN
     </em>
     &gt;
     <em>
      stop1
     </em>
    </strong>
    : кольцевой маршрут с конечной
    <em>
     <strong>
      stop1
     </strong>
    </em>
    .
   </p>
  </li>
 </ol>
 <p>
  По сути первая версия описания маршрута эквивалентна
  <strong>
   <em>
    stop1
   </em>
   &gt;
   <em>
    stop2
   </em>
   &gt;
  </strong>
  ...
  <strong>
   &gt;
   <em>
    stopN-1
   </em>
   &gt;
   <em>
    stopN
   </em>
   &gt;
   <em>
    stopN-1
   </em>
   &gt;
  </strong>
  ...
  <strong>
   &gt;
   <em>
    stop2
   </em>
   &gt;
   <em>
    stop1
   </em>
  </strong>
  .
 </p>
 <p>
  Гарантируется, что каждая из остановок маршрута определена в некотором запросе
  <strong>
   Stop
  </strong>
  , а сам маршрут
  <em>
   <strong>
    X
   </strong>
  </em>
  определён не более чем в одном запросе
  <strong>
   Bus.
  </strong>
 </p>
 <h2 level="2">
  Формат запросов к базе данных
 </h2>
 <p>
  В первой строке вводится количество запросов к базе данных, затем — по одному на строке — вводятся сами запросы. Запросы бывают (пока что) только одного типа.
 </p>
 <h3 level="3">
  <strong>
   Bus
   <em>
    X
   </em>
  </strong>
 </h3>
 <p>
  Вывести информацию об автобусе
  <em>
   <strong>
    X
   </strong>
  </em>
  в следующем формате:
 </p>
 <p>
  <strong>
   Bus
   <em>
    X
   </em>
   :
   <em>
    R
   </em>
   stops on route,
   <em>
    U
   </em>
   unique stops,
   <em>
    L
   </em>
   route length
  </strong>
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <em>
     <strong>
      R
     </strong>
    </em>
    — количество остановок в маршруте автобуса от
    <em>
     <strong>
      stop1
     </strong>
    </em>
    до
    <em>
     <strong>
      stop1
     </strong>
    </em>
    включительно.
   </p>
  </li>
  <li>
   <p>
    <em>
     <strong>
      U
     </strong>
    </em>
    — количество уникальных остановок, на которых останавливается автобус. Одинаковыми считаются остановки, имеющие одинаковые названия.
   </p>
  </li>
  <li>
   <p>
    <em>
     <strong>
      L
     </strong>
    </em>
    — длина маршрута в метрах. Для простоты будем считать, что автобус проезжает путь между двумя соседними остановками по кратчайшему расстоянию по земной поверхности . При вычислении расстояния между двумя точками на земной поверхности считайте число π равным 3.1415926535, а радиус Земли — 6371 км.
   </p>
  </li>
 </ul>
 <p>
  Величину расстояния (а также другие вещественные числа в последующих частях задачи) выводите с 6 значащими цифрами, то есть предваряя модификатором setprecision(6). (При этом ваши значения сравниваются с верными не посимвольно, а с относительной погрешностью 0,0001.)
 </p>
 <p>
  Если автобус
  <em>
   <strong>
    X
   </strong>
  </em>
  не найден, выведите
  <strong>
   Bus
   <em>
    X
   </em>
   : not found
  </strong>
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <ul bullettype="bullets">
  <li>
   <p>
    1 секунда на обработку всех запросов.
   </p>
  </li>
  <li>
   <p>
    Не более 2000 запросов на создание базы.
   </p>
  </li>
  <li>
   <p>
    Не более 2000 запросов к уже созданной базе.
   </p>
  </li>
  <li>
   <p>
    Не более 100 остановок в маршруте.
   </p>
  </li>
  <li>
   <p>
    Не более 25 символов в названии автобуса или остановки. Допустимые символы — латинские буквы, цифры и пробелы. Все названия непусты, не могут начинаться на пробелы или заканчиваться ими.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">10
Stop Tolstopaltsevo: 55.611087, 37.20829
Stop Marushkino: 55.595884, 37.209755
Bus 256: Biryulyovo Zapadnoye &gt; Biryusinka &gt; Universam &gt; Biryulyovo Tovarnaya &gt; Biryulyovo Passazhirskaya &gt; Biryulyovo Zapadnoye
Bus 750: Tolstopaltsevo - Marushkino - Rasskazovka
Stop Rasskazovka: 55.632761, 37.333324
Stop Biryulyovo Zapadnoye: 55.574371, 37.6517
Stop Biryusinka: 55.581065, 37.64839
Stop Universam: 55.587655, 37.645687
Stop Biryulyovo Tovarnaya: 55.592028, 37.653656
Stop Biryulyovo Passazhirskaya: 55.580999, 37.659164
3
Bus 256
Bus 750
Bus 751
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Bus 256: 6 stops on route, 5 unique stops, 4371.02 route length
Bus 750: 5 stops on route, 3 unique stops, 20939.5 route length
Bus 751: not found
</pre>
 <h2 level="2">
  Подсказки
 </h2>
 <p>
  Если задача вызывает непреодолимые трудности, вы можете воспользоваться подсказками. Они помогут быстрее сдать задачу, но в итоге вы получите меньше пользы от процесса поиска решения.
 </p>
 <asset assettype="pdf" extension="pdf" id="XROcwAEYEemlxxL_ZeRz_A" name="a1">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
