<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте предыдущую версию задачи со следующими изменениями.
 </p>
 <h2 level="2">
  Формат запросов к базе данных: изменения
 </h2>
 <h3 level="3">
  <strong>
   Stop
  </strong>
  <em>
   <strong>
    X
   </strong>
  </em>
  (новый запрос)
 </h3>
 <p>
  Вывести информацию об остановке
  <em>
   <strong>
    X
   </strong>
  </em>
  в следующем формате:
 </p>
 <p>
  <strong>
   Stop
   <em>
    X
   </em>
   : buses
   <em>
    bus1 bus2
   </em>
  </strong>
  ...
  <em>
   <strong>
    busN
   </strong>
  </em>
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <em>
     <strong>
      bus1 bus2
     </strong>
    </em>
    ...
    <em>
     <strong>
      busN
     </strong>
    </em>
    — список автобусов, проходящих через остановку. Дубли не допускаются, названия должны быть отсортированы в алфавитном порядке.
   </p>
  </li>
  <li>
   <p>
    Если остановка
    <em>
     <strong>
      X
     </strong>
    </em>
    не найдена, выведите
    <strong>
     Stop
     <em>
      X
     </em>
     : not found
    </strong>
   </p>
  </li>
  <li>
   <p>
    Если остановка
    <em>
     <strong>
      X
     </strong>
    </em>
    существует в базе, но через неё не проходят автобусы, выведите
    <strong>
     Stop
     <em>
      X
     </em>
     : no buses
    </strong>
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">13
Stop Tolstopaltsevo: 55.611087, 37.20829
Stop Marushkino: 55.595884, 37.209755
Bus 256: Biryulyovo Zapadnoye &gt; Biryusinka &gt; Universam &gt; Biryulyovo Tovarnaya &gt; Biryulyovo Passazhirskaya &gt; Biryulyovo Zapadnoye
Bus 750: Tolstopaltsevo - Marushkino - Rasskazovka
Stop Rasskazovka: 55.632761, 37.333324
Stop Biryulyovo Zapadnoye: 55.574371, 37.6517
Stop Biryusinka: 55.581065, 37.64839
Stop Universam: 55.587655, 37.645687
Stop Biryulyovo Tovarnaya: 55.592028, 37.653656
Stop Biryulyovo Passazhirskaya: 55.580999, 37.659164
Bus 828: Biryulyovo Zapadnoye &gt; Universam &gt; Rossoshanskaya ulitsa &gt; Biryulyovo Zapadnoye
Stop Rossoshanskaya ulitsa: 55.595579, 37.605757
Stop Prazhskaya: 55.611678, 37.603831
6
Bus 256
Bus 750
Bus 751
Stop Samara
Stop Prazhskaya
Stop Biryulyovo Zapadnoye
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Bus 256: 6 stops on route, 5 unique stops, 4371.02 route length
Bus 750: 5 stops on route, 3 unique stops, 20939.5 route length
Bus 751: not found
Stop Samara: not found
Stop Prazhskaya: no buses
Stop Biryulyovo Zapadnoye: buses 256 828
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
