<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте вторую версию задачи со следующими изменениями.
 </p>
 <p>
  В базе появляются данные о реальном — измеренном по дорогам — расстоянии между остановками.
 </p>
 <h3 level="3">
  <strong>
   Stop
  </strong>
  <strong>
   <em>
    X
   </em>
  </strong>
  (изменения запроса на добавление остановки)
 </h3>
 <p>
  Новый формат запроса на добавление остановки:
  <strong>
   Stop
  </strong>
  <strong>
   <em>
    X
   </em>
  </strong>
  <strong>
   :
  </strong>
  <strong>
   <em>
    latitude
   </em>
  </strong>
  <strong>
   ,
  </strong>
  <strong>
   <em>
    longitude
   </em>
  </strong>
  <strong>
   ,
  </strong>
  <strong>
   <em>
    D1
   </em>
  </strong>
  <strong>
   m to
  </strong>
  <strong>
   <em>
    stop1
   </em>
  </strong>
  <strong>
   ,
  </strong>
  <strong>
   <em>
    D2
   </em>
  </strong>
  <strong>
   m to
  </strong>
  <strong>
   <em>
    stop2
   </em>
  </strong>
  <strong>
   ,
  </strong>
  ...
 </p>
 <p>
  А именно, теперь после широты и долготы может содержаться список расстояний от этой остановки до соседних. По умолчанию предполагается, что расстояние от
  <em>
   <strong>
    X
   </strong>
  </em>
  до
  <em>
   <strong>
    stop#
   </strong>
  </em>
  равно расстоянию от
  <em>
   <strong>
    stop#
   </strong>
  </em>
  до
  <em>
   <strong>
    X
   </strong>
  </em>
  , если только расстояние от
  <em>
   <strong>
    stop#
   </strong>
  </em>
  до
  <em>
   <strong>
    X
   </strong>
  </em>
  не задано явным образом при добавлении остановки
  <em>
   <strong>
    stop#
   </strong>
  </em>
 </p>
 <p>
  Гарантируется, что каждая из остановок
  <em>
   <strong>
    stop#
   </strong>
  </em>
  определена в некотором запросе
  <strong>
   Stop
  </strong>
  .
 </p>
 <p>
  В рамках одного запроса
  <strong>
   Stop
  </strong>
  все
  <em>
   <strong>
    stop#
   </strong>
  </em>
  различны, и их количество не превосходит 100.
 </p>
 <p>
  Все
  <em>
   <strong>
    Di
   </strong>
  </em>
  являются целыми положительными числами, каждое из которых не превышает 1000000 и не меньше расстояния по прямой между соответствующими остановками. После каждого расстояния обязательно следует буква
  <strong>
   m
  </strong>
  .
 </p>
 <h3 level="3">
  <strong>
   Bus
  </strong>
  <strong>
   <em>
    X
   </em>
  </strong>
  (изменения запроса на информацию об автобусе)
 </h3>
 <p>
  Новый формат ответа на запрос информации об автобусе:
  <strong>
   Bus
  </strong>
  <strong>
   <em>
    X
   </em>
  </strong>
  <strong>
   :
  </strong>
  <strong>
   <em>
    R
   </em>
  </strong>
  <strong>
   stops on route,
  </strong>
  <strong>
   <em>
    U
   </em>
  </strong>
  <strong>
   unique stops,
  </strong>
  <strong>
   <em>
    L
   </em>
  </strong>
  <strong>
   route length,
  </strong>
  <strong>
   <em>
    C
   </em>
  </strong>
  <strong>
   curvature
  </strong>
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <em>
     <strong>
      L
     </strong>
    </em>
    теперь вычисляется с использованием дорожного расстояния, а не географических координат.
   </p>
  </li>
  <li>
   <p>
    <em>
     <strong>
      C
     </strong>
    </em>
    (извилистость) — отношение длины маршрута, вычисленной с помощью дорожного расстояния, (новое
    <em>
     <strong>
      L
     </strong>
    </em>
    ) к длине маршрута, вычисленной с помощью географического расстояния (
    <em>
     <strong>
      L
     </strong>
    </em>
    из предыдущих версий задачи). Таким образом,
    <em>
     <strong>
      C
     </strong>
    </em>
    — вещественное число, большее единицы. Оно может быть равно единице только в том случае, если автобус едет между остановками по кратчайшему пути (и тогда больше похож на вертолёт), а меньше единицы может оказаться только благодаря телепортации или хордовым тоннелям.
   </p>
  </li>
 </ul>
 <p>
  Гарантируется, что для любых двух соседних остановок любого маршрута так или иначе задано расстояние по дорогам.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">13
Stop Tolstopaltsevo: 55.611087, 37.20829, 3900m to Marushkino
Stop Marushkino: 55.595884, 37.209755, 9900m to Rasskazovka
Bus 256: Biryulyovo Zapadnoye &gt; Biryusinka &gt; Universam &gt; Biryulyovo Tovarnaya &gt; Biryulyovo Passazhirskaya &gt; Biryulyovo Zapadnoye
Bus 750: Tolstopaltsevo - Marushkino - Rasskazovka
Stop Rasskazovka: 55.632761, 37.333324
Stop Biryulyovo Zapadnoye: 55.574371, 37.6517, 7500m to Rossoshanskaya ulitsa, 1800m to Biryusinka, 2400m to Universam
Stop Biryusinka: 55.581065, 37.64839, 750m to Universam
Stop Universam: 55.587655, 37.645687, 5600m to Rossoshanskaya ulitsa, 900m to Biryulyovo Tovarnaya
Stop Biryulyovo Tovarnaya: 55.592028, 37.653656, 1300m to Biryulyovo Passazhirskaya
Stop Biryulyovo Passazhirskaya: 55.580999, 37.659164, 1200m to Biryulyovo Zapadnoye
Bus 828: Biryulyovo Zapadnoye &gt; Universam &gt; Rossoshanskaya ulitsa &gt; Biryulyovo Zapadnoye
Stop Rossoshanskaya ulitsa: 55.595579, 37.605757
Stop Prazhskaya: 55.611678, 37.603831
6
Bus 256
Bus 750
Bus 751
Stop Samara
Stop Prazhskaya
Stop Biryulyovo Zapadnoye
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Bus 256: 6 stops on route, 5 unique stops, 5950 route length, 1.361239 curvature
Bus 750: 5 stops on route, 3 unique stops, 27600 route length, 1.318084 curvature
Bus 751: not found
Stop Samara: not found
Stop Prazhskaya: no buses
Stop Biryulyovo Zapadnoye: buses 256 828
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
