<meta charset="utf-8"/>
<co-content>
 <p>
  В следующей задаче вам понадобится перегружать некоторую функцию по разным типам, в числе которых есть string и bool. Упрощённо эту ситуацию можно представить так:
 </p>
 <pre language="c_cpp">void PrintType(const string&amp; s) {
  cout &lt;&lt; "string " &lt;&lt; s &lt;&lt; endl;
}

void PrintType(bool b) {
  cout &lt;&lt; "bool " &lt;&lt; b &lt;&lt; endl;
}</pre>
 <p>
  В большинстве случаев перегрузка срабатывает вполне ожидаемо:
 </p>
 <pre language="c_cpp">PrintType(false);  // выведет bool 0

string s(5, '+');
PrintType(s);      // выведет string +++++
</pre>
 <p>
  Но есть особый случай, в котором перегрузка ведёт себя, на первый взгляд, непредсказуемо:
 </p>
 <pre language="c_cpp">PrintType("+++");  // выведет bool 1</pre>
 <p>
  Разберёмся, почему так происходит и как проще всего решить проблему.
 </p>
 <h2 level="2">
  1. Символы в кавычках — это не string
 </h2>
 <p>
  Если бы выражение "+++" имело тип string, никаких проблем бы не возникло. Дело в том, что возможность так задавать строки пришла в C++ из C, где никакого string не было; "+++", как и любой другой набор символов в кавычках, называется
  <a href="https://en.cppreference.com/w/cpp/language/string_literal" title="">
   <strong>
    строковым литералом
   </strong>
  </a>
  <strong>
   .
  </strong>
 </p>
 <p>
  Его тип легко определить, сложив два строковых литерала и вызвав тем самым ошибку компиляции:
 </p>
 <pre language="c_cpp">PrintType("+++" + "")
// error: invalid operands to binary expression ('const char [4]' and 'const char [1]')</pre>
 <p>
  Итак, "+++" — это константный массив символов длины 4. Почему 4, а не 3? Дело в том, что после непосредственно символов строки хранится нулевой байт ('\0'): благодаря ему многие строковые функции определяют конец строки.
 </p>
 <p>
  Мы привыкли к тому, что массив — это объект типа array с двумя шаблонными параметрами. Но массивы были и в языке C, и выглядели они именно так: const char [4]. Разница между классом array и массивом из C невелика: первый является лишь обёрткой над вторым, имеющей удобные конструкторы и в целом ведущей себя более предсказуемо и в стиле C++.
 </p>
 <h2 level="2">
  2. Неявные преобразования
 </h2>
 <p>
  Итак, постепенно проясняется, что пошло не так при вызове PrintType("+++"): для аргумента типа const char [4]компилятор решил предпочесть вызов PrintType(bool). Разберёмся, чем это обосновано.
 </p>
 <p>
  Между некоторыми типами языка могут совершаться неявные преобразования. И это не особенность C++: некоторые преобразования пришли из C.
 </p>
 <p>
  Типичный пример такого преобразования — получение указателя по массиву:
 </p>
 <pre language="c_cpp">const char* p = "text";  // p указывает на первую 't'</pre>
 <p>
  Это преобразование может осуществляться и в более неожиданных случаях:
 </p>
 <pre language="c_cpp">cout &lt;&lt; ("text" + 1);  // выведет ext</pre>
 <p>
  В последнем примере компилятор приводит массив символов к указателю, чтобы иметь возможность прибавить к нему единицу. Именно этим array и string выгодно отличаются от своих аналогов из языка C — массивов: являясь полноценными классами, они застрахованы от неприятных неявных преобразований.
 </p>
 <p>
  Другое преобразование, влияющее на исходную проблему, — приведение указателя к bool. Самый частый случай его применения — использование указателя в качестве условия в if или while.
 </p>
 <p>
  Представим себе, например, функцию, по словарю и ключу возвращающую указатель на соответствующее значение или nullptr в случае его отсутствия:
 </p>
 <pre language="c_cpp">template &lt;typename K, typename V&gt;
const V* GetValuePointer(const unordered_map&lt;K, V&gt;&amp; map, const K&amp; key) {
  if (auto it = map.find(key); it != end(map)) {
    return &amp;it-&gt;second;
  } else {
    return nullptr;
  }
}</pre>
 <p>
  Как теперь, используя эту функцию, проверить существование значения? Достаточно вызвать её и проверить, что получен ненулевой указатель:
 </p>
 <pre language="c_cpp">const unordered_map&lt;int, string&gt; map = BuildMap();
const int key = ReadKey();
if (GetValuePointer(map, key)) {
  cout &lt;&lt; "Key exists" &lt;&lt; endl;
}</pre>
 <p>
  В этом случае указатель, полученный из функции, неявно преобразуется к bool для проверки условия.
 </p>
 <p>
  Более жизненный пример — сохранение указателя на значение и последующая его проверка в условном операторе:
 </p>
 <pre language="c_cpp">const unordered_map&lt;int, string&gt; map = BuildMap();
const int key = ReadKey();
if (const string* value = GetValuePointer(map, key)) {
  cout &lt;&lt; "Key exists, value = " &lt;&lt; *value &lt;&lt; endl;
}</pre>
 <p>
  Итак, ещё со времён языка C допустимы два неявных преобразования:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Строкового литерала "..." к указателю на const char.
   </p>
  </li>
  <li>
   <p>
    Указателя к bool.
   </p>
  </li>
 </ol>
 <h2 level="2">
  3. Выбор одной из перегрузок функции
 </h2>
 <p>
  Вспомним исходный пример:
 </p>
 <pre language="c_cpp">void PrintType(const string&amp; s) {
  cout &lt;&lt; "string " &lt;&lt; s &lt;&lt; endl;
}

void PrintType(bool b) {
  cout &lt;&lt; "bool " &lt;&lt; b &lt;&lt; endl;
}

PrintType("+++");  // выведет bool 1
</pre>
 <p>
  Аргумент "+++" может быть неявно преобразован к параметру любой из функций:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    К параметру const string&amp; — с помощью преобразования массива к указателю и затем
    <a href="https://en.cppreference.com/w/cpp/string/basic_string/basic_string" title="">
     конструктора класса string
    </a>
    , принимающего const char*.
   </p>
  </li>
  <li>
   <p>
    К параметру bool — с помощью последовательного применения преобразований из предыдущего раздела: массива к указателю и указателя к bool.
   </p>
  </li>
 </ol>
 <p>
  Как компилятор выбирает одну функцию из двух? В данном случае он предпочитает вторую (принимающую bool), потому что её вызов требует двух
  <strong>
   стандартных
  </strong>
  неявных преобразований, в то время как преобразование к классу string требует вызова конструктора.
 </p>
 <p>
  Подробное описание алгоритма выбора подходящей функции см. в секции «Ranking of implicit conversion sequences»
  <a href="https://en.cppreference.com/w/cpp/language/overload_resolution" title="">
   соответствующей статьи
  </a>
  .
 </p>
 <h2 level="2">
  4. Решение проблемы
 </h2>
 <p>
  Для вызова PrintType(string) достаточно при вызове создать объект класса string по строковому литералу. Простейший способ сделать это — явно вызвать нужный конструктор:
 </p>
 <pre language="c_cpp">PrintType(string("+++"));  // выведет string +++</pre>
 <p>
  Использование
  <a href="https://en.cppreference.com/w/cpp/string/basic_string/operator%22%22s" title="">
   строкового литерала с суффиксом s
  </a>
  позволяет сразу получить объект класса string:
 </p>
 <pre language="c_cpp">PrintType("+++"s);  // выведет string +++</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
