<meta charset="utf-8"/>
<co-content>
 <p>
  <em>
   Вам даны задача и её решение — верное, но не удовлетворяющее заданным ограничениям на время работы. Переработайте это решение и сдайте в систему.
  </em>
 </p>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Разработайте простейшую систему маршрутизации экспрессов, курсирующих по одному железнодорожному направлению, представляющему собой прямую. Ваша программа должна уметь обрабатывать запросы двух типов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     ADD
     <em>
      start finish
     </em>
    </strong>
    — добавить в систему маршрутов экспресс, следующий со станции
    <strong>
     <em>
      start
     </em>
    </strong>
    до станции
    <strong>
     <em>
      finish
     </em>
    </strong>
    и обратно. Экспресс не делает промежуточных остановок. Станции задаются целыми числами, равными их расстоянию от вокзала (он имеет номер 0).
   </p>
  </li>
  <li>
   <p>
    <strong>
     GO
     <em>
      start finish
     </em>
    </strong>
    — попытаться проложить беспересадочный маршрут от станции
    <strong>
     <em>
      start
     </em>
    </strong>
    до станции
    <strong>
     <em>
      finish
     </em>
    </strong>
    . Если существует экспресс между этими двумя станциями, в ответ на данный запрос выведите 0. В противном случае выведите положительное число — минимальное расстояние, на которое можно приблизиться к станции
    <em>
     <strong>
      finish
     </strong>
    </em>
    , стартовав строго на станции
    <strong>
     <em>
      start
     </em>
    </strong>
    и использовав не более одного экспресса.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Формат входных данных
 </h2>
 <p>
  В первой строке вводится количество запросов
  <em>
   Q
  </em>
  — натуральное число, не превосходящее 10^5. В следующих
  <em>
   Q
  </em>
  строках в соответствии с описанным выше форматом вводятся запросы. Гарантируется, что номера станций являются целыми числами, по модулю не превосходящими 10^9.
 </p>
 <h2 level="2">
  Формат выходных данных
 </h2>
 <p>
  Для каждого запроса
  <strong>
   GO
  </strong>
  выведите единственное целое неотрицательное число — минимальное расстояние до конечной станции маршрута, вычисляемое в соответствии с описанными выше правилами.
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <p>
  1 секунда на выполнение всех запросов. Все описанные в условии гарантии действительно справедливы для всех тестов, на которых будет запускаться ваша программа. Проверять корректность тестов не нужно.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">7
ADD -2 5
ADD 10 4
ADD 5 8
GO 4 10
GO 4 -2
GO 5 0
GO 5 100
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">0
6
2
92
</pre>
 <h3 level="3">
  Комментарий к примеру
 </h3>
 <p>
  В первом запросе
  <strong>
   GO
  </strong>
  выгодно воспользоваться экспрессом
  <strong>
   10 4
  </strong>
  . Во втором выгоднее остаться на месте, чем пользоваться экспрессом. В третьем и четвёртом запросах
  <strong>
   GO
  </strong>
  необходимо воспользоваться экспрессами
  <strong>
   -2 5
  </strong>
  и
  <strong>
   5 8
  </strong>
  .
 </p>
 <h2 level="2">
  Правильное, но медленное решение
 </h2>
 <asset assettype="generic" extension="cpp" id="c2biy446EeianAr0yIdmDg" name="slow">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
