<meta charset="utf-8"/>
<co-content>
 <p>
 </p>
 <p>
  Реализуйте класс TeamTasks, позволяющий хранить статистику по статусам задач команды разработчиков:
 </p>
 <pre language="c_cpp">// Перечислимый тип для статуса задачи
enum class TaskStatus {
  NEW,          // новая
  IN_PROGRESS,  // в разработке
  TESTING,      // на тестировании
  DONE          // завершена
};

// Объявляем тип-синоним для map&lt;TaskStatus, int&gt;,
// позволяющего хранить количество задач каждого статуса
using TasksInfo = map&lt;TaskStatus, int&gt;;

class TeamTasks {
public:
  // Получить статистику по статусам задач конкретного разработчика
  const TasksInfo&amp; GetPersonTasksInfo(const string&amp; person) const;
  
  // Добавить новую задачу (в статусе NEW) для конкретного разработчитка
  void AddNewTask(const string&amp; person);
  
  // Обновить статусы по данному количеству задач конкретного разработчика,
  // подробности см. ниже
  tuple&lt;TasksInfo, TasksInfo&gt; PerformPersonTasks(
      const string&amp; person, int task_count);
};
</pre>
 <p>
  Метод PerformPersonTasks должен реализовывать следующий алгоритм:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Рассмотрим все не выполненные задачи разработчика person.
   </p>
  </li>
  <li>
   <p>
    Упорядочим их по статусам: сначала все задачи в статусе NEW, затем все задачи в статусе IN_PROGRESS и, наконец, задачи в статусе TESTING.
   </p>
  </li>
  <li>
   <p>
    Рассмотрим первые task_count задач и переведём каждую из них в следующий статус в соответствии с естественным порядком: NEW → IN_PROGRESS → TESTING → DONE.
   </p>
  </li>
  <li>
   <p>
    Вернём кортеж из двух элементов: информацию о статусах обновившихся задач (включая те, которые оказались в статусе DONE) и информацию о статусах остальных не выполненных задач.
   </p>
  </li>
 </ol>
 <p>
  Гарантируется, что task_count является положительным числом. Если task_count превышает текущее количество невыполненных задач разработчика, достаточно считать, что task_count равен количеству невыполненных задач: дважды обновлять статус какой-либо задачи в этом случае не нужно.
 </p>
 <p>
  Кроме того, гарантируется, что метод GetPersonTasksInfo не будет вызван для разработчика, не имеющего задач.
 </p>
 <h2 level="2">
  Пример работы метода PerformPersonTasks
 </h2>
 <p>
  Предположим, что у конкретного разработчика имеется 10 задач со следующими статусами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    NEW — 3
   </p>
  </li>
  <li>
   <p>
    IN_PROGRESS — 2
   </p>
  </li>
  <li>
   <p>
    TESTING — 4
   </p>
  </li>
  <li>
   <p>
    DONE — 1
   </p>
  </li>
 </ul>
 <p>
  Поступает команда PerformPersonTasks с параметром task_count = 4, что означает обновление статуса для 3 задач c NEW до IN_PROGRESS и для 1 задачи с IN_PROGRESS до TESTING. Таким образом, новые статусы задач будут следующими:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    IN_PROGRESS — 3 обновлённых, 1 старая
   </p>
  </li>
  <li>
   <p>
    TESTING — 1 обновлённая, 4 старых
   </p>
  </li>
  <li>
   <p>
    DONE — 1 старая
   </p>
  </li>
 </ul>
 <p>
  В этом случае необходимо вернуть кортеж из 2 словарей:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Обновлённые задачи: IN_PROGRESS — 3, TESTING — 1.
   </p>
  </li>
  <li>
   <p>
    Не обновлённые задачи, исключая выполненные: IN_PROGRESS — 1, TESTING — 4.
   </p>
  </li>
 </ul>
 <p>
  <strong>
   Словари не должны содержать лишних элементов,
  </strong>
  то есть статусов, которым соответствует ноль задач.
 </p>
 <h2 level="2">
  Примечание
 </h2>
 <p>
  Обновление словаря одновременно с итерированием по нему может привести к непредсказуемым последствиям. При возникновении такой необходимости рекомендуется сначала в отдельном временном словаре собрать информацию об обновлениях, а затем применить их к основному словарю.
 </p>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">// Принимаем словарь по значению, чтобы иметь возможность
// обращаться к отсутствующим ключам с помощью [] и получать 0,
// не меняя при этом исходный словарь
void PrintTasksInfo(TasksInfo tasks_info) {
  cout &lt;&lt; tasks_info[TaskStatus::NEW] &lt;&lt; " new tasks" &lt;&lt;
      ", " &lt;&lt; tasks_info[TaskStatus::IN_PROGRESS] &lt;&lt; " tasks in progress" &lt;&lt;
      ", " &lt;&lt; tasks_info[TaskStatus::TESTING] &lt;&lt; " tasks are being tested" &lt;&lt;
      ", " &lt;&lt; tasks_info[TaskStatus::DONE] &lt;&lt; " tasks are done" &lt;&lt; endl;
}

int main() {
  TeamTasks tasks;
  tasks.AddNewTask("Ilia");
  for (int i = 0; i &lt; 3; ++i) {
    tasks.AddNewTask("Ivan");
  }
  cout &lt;&lt; "Ilia's tasks: ";
  PrintTasksInfo(tasks.GetPersonTasksInfo("Ilia"));
  cout &lt;&lt; "Ivan's tasks: ";
  PrintTasksInfo(tasks.GetPersonTasksInfo("Ivan"));
  
  TasksInfo updated_tasks, untouched_tasks;
  
  tie(updated_tasks, untouched_tasks) =
      tasks.PerformPersonTasks("Ivan", 2);
  cout &lt;&lt; "Updated Ivan's tasks: ";
  PrintTasksInfo(updated_tasks);
  cout &lt;&lt; "Untouched Ivan's tasks: ";
  PrintTasksInfo(untouched_tasks);
  
  tie(updated_tasks, untouched_tasks) =
      tasks.PerformPersonTasks("Ivan", 2);
  cout &lt;&lt; "Updated Ivan's tasks: ";
  PrintTasksInfo(updated_tasks);
  cout &lt;&lt; "Untouched Ivan's tasks: ";
  PrintTasksInfo(untouched_tasks);

  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Ilia's tasks: 1 new tasks, 0 tasks in progress, 0 tasks are being tested, 0 tasks are done
Ivan's tasks: 3 new tasks, 0 tasks in progress, 0 tasks are being tested, 0 tasks are done
Updated Ivan's tasks: 0 new tasks, 2 tasks in progress, 0 tasks are being tested, 0 tasks are done
Untouched Ivan's tasks: 1 new tasks, 0 tasks in progress, 0 tasks are being tested, 0 tasks are done
Updated Ivan's tasks: 0 new tasks, 1 tasks in progress, 1 tasks are being tested, 0 tasks are done
Untouched Ivan's tasks: 0 new tasks, 1 tasks in progress, 0 tasks are being tested, 0 tasks are done
</pre>
 <h2 level="2">
  Пояснение
 </h2>
 <p>
  В этой задаче вам надо прислать на проверку файл с реализацией класса TeamTasks.
  <strong>
   Этот файл не должен содержать определения типов
  </strong>
  <strong>
   TaskStatus и TasksInfo.
  </strong>
  В противном случае вы получите ошибку компиляции.
 </p>
 <p>
  Гарантируется, что типы TaskStatus и TasksInfo объявлены в точности так же, как в коде выше.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
