<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Разработайте систему бронирования отелей, позволяющую бронировать номера клиентами и контролировать спрос владельцами отелей. Ваша программа должна обрабатывать следующие события:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     BOOK
     <em>
      time
     </em>
     <em>
      hotel_name
     </em>
     <em>
      client_id
     </em>
     <em>
      room_count
     </em>
    </strong>
    — забронировать клиентом
    <em>
     <strong>
      client_id
     </strong>
    </em>
    <em>
     <strong>
      room_count
     </strong>
    </em>
    номеров в отеле
    <em>
     <strong>
      hotel_name
     </strong>
    </em>
    в момент времени
    <em>
     <strong>
      time
     </strong>
    </em>
    . Время измеряется в секундах, отсчитываемых от некоторого момента.
   </p>
  </li>
  <li>
   <p>
    <strong>
     CLIENTS
     <em>
      hotel_name
     </em>
    </strong>
    — вывести количество различных клиентов, бронировавших номера в отеле
    <em>
     <strong>
      hotel_name
     </strong>
    </em>
    за последние сутки. Более формально интересующий диапазон времени описывается следующим образом: пусть
    <em>
     current_time
    </em>
    — время последнего события
    <strong>
     BOOK
    </strong>
    , тогда в данном запросе нужно учесть все события с
    <em>
     current_time
    </em>
    − 86400 &lt;
    <em>
     <strong>
      time
     </strong>
    </em>
    ⩽
    <em>
     current_time
    </em>
    , где 86400 — количество секунд в сутках. Обратите внимание, что последнее бронирование должно учитываться, а бронирование, случившееся ровно за сутки до него, учитываться не должно.
   </p>
  </li>
  <li>
   <p>
    <strong>
     ROOMS
     <em>
      hotel_name
     </em>
    </strong>
    — вывести количество номеров, забронированных за последние сутки в отеле
    <em>
     <strong>
      hotel_name
     </strong>
    </em>
    .
   </p>
  </li>
 </ul>
 <h2 level="2">
  Формат входных данных
 </h2>
 <p>
  В первой строке вводится количество запросов
  <em>
   Q
  </em>
  — натуральное число, не превосходящее 10^5. В следующих
  <em>
   Q
  </em>
  строках в соответствии с описанным выше форматом вводятся запросы. Гарантируется, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <em>
     <strong>
      time
     </strong>
    </em>
    — целое число в диапазоне от −10^18 до 10^18 и не убывает от события к событию.
   </p>
  </li>
  <li>
   <p>
    <em>
     <strong>
      hotel_name
     </strong>
    </em>
    — строка из латинских букв и цифр, имеющая длину не более 12 символов.
   </p>
  </li>
  <li>
   <p>
    <em>
     <strong>
      client_id
     </strong>
    </em>
    — натуральное число, не превосходящее 10^9.
   </p>
  </li>
  <li>
   <p>
    <em>
     <strong>
      room_count
     </strong>
    </em>
    — целое положительное число, не превосходящее 1000.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Формат выходных данных
 </h2>
 <p>
  Для каждого запроса
  <strong>
   CLIENTS
  </strong>
  и
  <strong>
   ROOMS
  </strong>
  выведите единственное целое число — ответ на запрос. Если указанный в запросе отель пока не имеет ни одного бронирования, выведите 0.
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <p>
  1 секунда на выполнение всех запросов. Все описанные в условии гарантии действительно справедливы для всех тестов, на которых будет запускаться ваша программа. Проверять корректность тестов не нужно.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">11
CLIENTS Marriott
ROOMS Marriott
BOOK 10 FourSeasons 1 2
BOOK 10 Marriott 1 1
BOOK 86409 FourSeasons 2 1
CLIENTS FourSeasons
ROOMS FourSeasons
CLIENTS Marriott
BOOK 86410 Marriott 2 10
ROOMS FourSeasons
ROOMS Marriott
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">0
0
2
3
1
1
10
</pre>
 <h3 level="3">
  Комментарии к примеру
 </h3>
 <p>
  После бронирования, случившегося в момент времени 86410, в статистике перестают учитываться бронирования, случившиеся в момент времени 10.
 </p>
 <h2 level="2">
  Подсказки
 </h2>
 <p>
  Если задача вызывает непреодолимые трудности, вы можете воспользоваться подсказками. Они помогут быстрее сдать задачу, но в итоге вы получите меньше пользы от процесса поиска решения.
 </p>
 <p>
  Не нужно открывать все подсказки сразу. Используйте их последовательно.
 </p>
 <asset assettype="pdf" extension="pdf" id="gvyqruffEeiaxBKyA9PBAg" name="booking-1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="gv0ftuffEeiixgqCUDoEfA" name="booking-2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="gv9pz-ffEeiaxBKyA9PBAg" name="booking-3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="gwAFXeffEeiAgQrXx6bp4g" name="booking-4">
 </asset>
 <asset assettype="pdf" extension="pdf" id="gv9pnOffEei5Kg7DUflKxA" name="booking-5">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
