<meta charset="utf-8"/>
<co-content>
 <p>
  Дано два верных решения задачи «Демографические показатели».
 </p>
 <p>
  <strong>
   (A) С минимальным количеством функций:
  </strong>
 </p>
 <pre language="c_cpp">#include &lt;algorithm&gt;
#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;vector&gt;

using namespace std;

enum class Gender {
  FEMALE,
  MALE
};

struct Person {
  int age;
  Gender gender;
  bool is_employed;
};

template &lt;typename InputIt&gt;
int ComputeMedianAge(InputIt range_begin, InputIt range_end) {
  if (range_begin == range_end) {
    return 0;
  }
  vector&lt;typename iterator_traits&lt;InputIt&gt;::value_type&gt; range_copy(
      range_begin,
      range_end
  );
  auto middle = begin(range_copy) + range_copy.size() / 2;
  nth_element(
      begin(range_copy), middle, end(range_copy),
      [](const Person&amp; lhs, const Person&amp; rhs) {
        return lhs.age &lt; rhs.age;
      }
  );
  return middle-&gt;age;
}

int main() {
  int person_count;
  cin &gt;&gt; person_count;
  vector&lt;Person&gt; persons;
  persons.reserve(person_count);
  for (int i = 0; i &lt; person_count; ++i) {
    int age, gender, is_employed;
    cin &gt;&gt; age &gt;&gt; gender &gt;&gt; is_employed;
    Person person{
        age,
        static_cast&lt;Gender&gt;(gender),
        is_employed == 1
    };
    persons.push_back(person);
  }

  auto females_end = partition(
      begin(persons), end(persons),
      [](const Person&amp; p) {
        return p.gender == Gender::FEMALE;
      }
  );
  auto employed_females_end = partition(
      begin(persons), females_end,
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );
  auto employed_males_end = partition(
      females_end, end(persons),
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );

  cout &lt;&lt; "Median age = "
       &lt;&lt; ComputeMedianAge(begin(persons), end(persons))         &lt;&lt; endl
       &lt;&lt; "Median age for females = "
       &lt;&lt; ComputeMedianAge(begin(persons), females_end)          &lt;&lt; endl
       &lt;&lt; "Median age for males = "
       &lt;&lt; ComputeMedianAge(females_end, end(persons))            &lt;&lt; endl
       &lt;&lt; "Median age for employed females = "
       &lt;&lt; ComputeMedianAge(begin(persons), employed_females_end) &lt;&lt; endl
       &lt;&lt; "Median age for unemployed females = "
       &lt;&lt; ComputeMedianAge(employed_females_end, females_end)    &lt;&lt; endl
       &lt;&lt; "Median age for employed males = "
       &lt;&lt; ComputeMedianAge(females_end, employed_males_end)      &lt;&lt; endl
       &lt;&lt; "Median age for unemployed males = "
       &lt;&lt; ComputeMedianAge(employed_males_end, end(persons))     &lt;&lt; endl;

  return 0;
}</pre>
 <p>
  <strong>
   (B) Аккуратно разбитое на функции:
  </strong>
 </p>
 <pre language="c_cpp">#include &lt;algorithm&gt;
#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;vector&gt;

using namespace std;

enum class Gender {
  FEMALE,
  MALE
};

struct Person {
  int age;
  Gender gender;
  bool is_employed;
};

bool operator==(const Person&amp; lhs, const Person&amp; rhs) {
  return lhs.age == rhs.age
      &amp;&amp; lhs.gender == rhs.gender
      &amp;&amp; lhs.is_employed == rhs.is_employed;
}

ostream&amp; operator&lt;&lt;(ostream&amp; stream, const Person&amp; person) {
  return stream &lt;&lt; "Person(age=" &lt;&lt; person.age 
      &lt;&lt; ", gender=" &lt;&lt; static_cast&lt;int&gt;(person.gender)
      &lt;&lt; ", is_employed=" &lt;&lt; boolalpha &lt;&lt; person.is_employed &lt;&lt; ")";
}

struct AgeStats {
  int total;
  int females;
  int males;
  int employed_females;
  int unemployed_females;
  int employed_males;
  int unemployed_males;
};

template &lt;typename InputIt&gt;
int ComputeMedianAge(InputIt range_begin, InputIt range_end) {
  if (range_begin == range_end) {
    return 0;
  }
  vector&lt;typename iterator_traits&lt;InputIt&gt;::value_type&gt; range_copy(
      range_begin,
      range_end
  );
  auto middle = begin(range_copy) + range_copy.size() / 2;
  nth_element(
      begin(range_copy), middle, end(range_copy),
      [](const Person&amp; lhs, const Person&amp; rhs) {
        return lhs.age &lt; rhs.age;
      }
  );
  return middle-&gt;age;
}

vector&lt;Person&gt; ReadPersons(istream&amp; in_stream = cin) {
  int person_count;
  in_stream &gt;&gt; person_count;
  vector&lt;Person&gt; persons;
  persons.reserve(person_count);
  for (int i = 0; i &lt; person_count; ++i) {
    int age, gender, is_employed;
    in_stream &gt;&gt; age &gt;&gt; gender &gt;&gt; is_employed;
    Person person{
        age,
        static_cast&lt;Gender&gt;(gender),
        is_employed == 1
    };
    persons.push_back(person);
  }
  return persons;
}

AgeStats ComputeStats(vector&lt;Person&gt; persons) {
  //                 persons
  //                |       |
  //          females        males
  //         |       |      |     |
  //      empl.  unempl. empl.   unempl.

  auto females_end = partition(
      begin(persons), end(persons),
      [](const Person&amp; p) {
        return p.gender == Gender::FEMALE;
      }
  );
  auto employed_females_end = partition(
      begin(persons), females_end,
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );
  auto employed_males_end = partition(
      females_end, end(persons),
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );

  return {
       ComputeMedianAge(begin(persons), end(persons)),
       ComputeMedianAge(begin(persons), females_end),
       ComputeMedianAge(females_end, end(persons)),
       ComputeMedianAge(begin(persons),  employed_females_end),
       ComputeMedianAge(employed_females_end, females_end),
       ComputeMedianAge(females_end, employed_males_end),
       ComputeMedianAge(employed_males_end, end(persons))
  };
}

void PrintStats(const AgeStats&amp; stats,
                ostream&amp; out_stream = cout) {
  out_stream &lt;&lt; "Median age = "
             &lt;&lt; stats.total              &lt;&lt; endl
             &lt;&lt; "Median age for females = "
             &lt;&lt; stats.females            &lt;&lt; endl
             &lt;&lt; "Median age for males = "
             &lt;&lt; stats.males              &lt;&lt; endl
             &lt;&lt; "Median age for employed females = "
             &lt;&lt; stats.employed_females   &lt;&lt; endl
             &lt;&lt; "Median age for unemployed females = "
             &lt;&lt; stats.unemployed_females &lt;&lt; endl
             &lt;&lt; "Median age for employed males = "
             &lt;&lt; stats.employed_males     &lt;&lt; endl
             &lt;&lt; "Median age for unemployed males = "
             &lt;&lt; stats.unemployed_males   &lt;&lt; endl;
}

int main() {
  PrintStats(ComputeStats(ReadPersons()));
  return 0;
}
</pre>
 <p>
  Этой задачей мы хотим продемонстрировать, насколько легче решение (B) позволяет отлавливать ошибки с помощью юнит-тестов.
 </p>
 <p>
  Даны 6 вариантов решения (A), в каждом из которых есть некоторая ошибка. Вам необходимо разработать
  <strong>
   юнит-тесты на решение (B),
  </strong>
  покрывающее ошибки в решении (B), полностью аналогичные продемонстрированным ошибкам в решении (A).
 </p>
 <asset assettype="generic" extension="cpp" id="zju-IvIFEeiAgQrXx6bp4g" name="bug1_bad">
 </asset>
 <asset assettype="generic" extension="cpp" id="zjxaVfIFEei5Kg7DUflKxA" name="bug2_bad">
 </asset>
 <asset assettype="generic" extension="cpp" id="zjwzjfIFEeiixgqCUDoEfA" name="bug3_bad">
 </asset>
 <asset assettype="generic" extension="cpp" id="zjtvUvIFEeilxxL_ZeRz_A" name="bug4_bad">
 </asset>
 <asset assettype="generic" extension="cpp" id="zjxaDvIFEeiaxBKyA9PBAg" name="bug5_bad">
 </asset>
 <asset assettype="generic" extension="cpp" id="zj3gYvIFEeiTKQ5ajE7PqA" name="bug6_bad">
 </asset>
 <p>
  При написании юнит-тестов используйте библиотеку юнит-тестов test_runner.h из «Красного пояса»:
 </p>
 <asset assettype="generic" extension="h" id="FQpr7PIGEeiAgQrXx6bp4g" name="test_runner">
 </asset>
 <p>
  Отправленная вами на проверку программа должна содержать функцию main, прямо или косвенно вызывающую необходимые юнит-тесты.
 </p>
 <p>
  Ваша программа с юнит-тестами будет тестироваться следующим образом:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Для каждого из решений bugX_bad.cpp нами создано решение bugX_good.cpp с такой же ошибкой, но в решении (B).
   </p>
  </li>
  <li>
   <p>
    К каждому решению bugX_good.cpp добавляется отправленная вами программа, полученная большая программа запускается.
   </p>
  </li>
  <li>
   <p>
    Каждый из запусков должен упасть, то есть юнит-тесты должны найти все 6 ошибок.
   </p>
  </li>
  <li>
   <p>
    Аналогичный запуск для самого решения (B) должен пройти успешно.
   </p>
  </li>
 </ol>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
