<meta charset="utf-8"/>
<co-content>
 <p>
  Основываясь на опубликованном решении задачи «Запрещённые домены», напишите юнит-тесты, обнаруживающие следующие возможные ошибки:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    При разбиении строки по разделителю в начало списка частей добавляется пустая строка.
   </p>
  </li>
  <li>
   <p>
    Метод GetReversedParts возвращает части домена в прямом порядке, а не в обратном.
   </p>
  </li>
  <li>
   <p>
    Домен не считается своим поддоменом.
   </p>
  </li>
  <li>
   <p>
    При проверке того, является ли один домен поддоменом другого, параметры перепутаны местами.
   </p>
  </li>
  <li>
   <p>
    При инициализации DomainChecker не происходит поглощения поддоменов.
   </p>
  </li>
  <li>
   <p>
    При проверке доменов по данному набору успехом считается ситуация, когда домен-запрос является поддоменом одного из запрещённых.
   </p>
  </li>
  <li>
   <p>
    При выводе перепутаны
    <strong>
     Good
    </strong>
    и
    <strong>
     Bad
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    При считывании доменов из-за неаккуратного использования getline первый домен всегда считывается пустым.
   </p>
  </li>
 </ol>
 <h3 level="3">
  Заготовка решения
 </h3>
 <p>
  Приведённый здесь файл содержит заготовку для тестов, а также авторское решение задачи «Запрещённые домены» с дополнительными элементами: операторами сравнения и вывода для класса Domain. Вы можете пользоваться ими в своих тестах, они будут доступны в тестирующей системе.
 </p>
 <asset assettype="generic" extension="cpp" id="Q9WdTQUxEem5_xLqNrIdUA" name="test_domains">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
