<meta charset="utf-8"/>
<co-content>
 <p>
  Язык активно развивается, и в него регулярно добавляются новые возможности, существенно влияющие на стиль и архитектуру кода. Среди них можно выделить нововведения стандарта 2011 года (C++11), с которыми мы познакомили вас ещё в «Белом поясе»:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Лямбда-функции, благодаря которым отпала необходимость в создании отдельной функции для каждого компаратора или предиката.
   </p>
  </li>
  <li>
   <p>
    Range-based for, позволивший лишний раз не думать об итераторах и писать понятное for (int number : numbers) вместо громоздкого for (auto it = numbers.begin(); it != numbers.end(); ++i).
    <em>
     (Справедливости ради, auto тоже появилось в C++11 — без него понадобилось бы полное название типа vector&lt;int&gt;::iterator.)
    </em>
   </p>
  </li>
 </ul>
 <p>
  В этой статье мы рассмотрим нововведение похожего масштаба —
  <strong>
   Ranges.
  </strong>
  В отличие от вышеупомянутых примеров, все изменения касаются лишь стандартной библиотеки и не вводят в язык новых конструкций, но при этом ranges существенно опираются на
  <em>
   концепты (concepts)
  </em>
  из C++20, а они, в свою очередь, вводят новые синтаксические конструкции и существенно дополняют механизмы шаблонов и перегрузки функций.
 </p>
 <h2 level="2">
  Как попробовать
 </h2>
 <h3 level="3">
  Компилятор
 </h3>
 <p>
  Установите компилятор GCC версии 10 или выше. Например, для Windows достаточно установить GCC 10 с сайта
  <a href="http://winlibs.com" title="WinLibs">
   http://winlibs.com
  </a>
  . После распаковки
  <a href="https://yandex.ru/search/?text=windows%20%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%B8%D1%82%D1%8C%20%D0%B4%D0%B8%D1%80%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%B8%D1%8E%20%D0%B2%20path" title="">
   пропишите директорию bin в переменную окружения PATH
  </a>
  : это нужно как для exe-файла компилятора, так и для dll-библиотек.
 </p>
 <h3 level="3">
  Запуск простейшей программы
 </h3>
 <p>
  Создайте файл с простейшей программой, сортирующей и выводящей на экран набор чисел:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;algorithm&gt;
#include &lt;ranges&gt;

namespace rng = std::ranges;

template &lt;rng::input_range Range&gt;
void Print(const Range&amp; range) {
  for (const auto&amp; x : range) {
    std::cout &lt;&lt; x &lt;&lt; " ";
  }
  std::cout &lt;&lt; std::endl;
}

int main() {
  std::vector v = {4, 1, 7, 2, 3, 8};
  rng::sort(v);
  Print(v);
  
  return 0;
}</pre>
 <p>
  Скомпилируйте его:
 </p>
 <pre language="plain_text">&gt;g++-10 ranges1.cpp -o test -std=c++20</pre>
 <p>
  Наконец, запустите программу и увидите отсортированный набор чисел:
 </p>
 <pre>&gt;./test
1 2 3 4 7 8
</pre>
 <p>
  Если у вас возникли проблемы, воспользуйтесь поисковыми системами. Если это не помогает, можете ограничиться простым чтением этого материала: решать задачи с использованием Ranges не понадобится. Есть и компромисс — ограничиться проверкой компилируемости кода на
  <a href="https://gcc.godbolt.org/z/oVLw8i" title="">
   gcc.godbolt.org
  </a>
  .
 </p>
 <h2 level="2">
  Диапазоны (ranges)
 </h2>
 <p>
  Основное нововведение библиотеки, анонсированное в том числе и на видеолекции, — новое понятие диапазона (range), призванное заменить собой не всегда удобные пары итераторов. В частности, все стандартные алгоритмы получили версии, принимающие range. Русский перевод этого термина пока не устоялся, поэтому мы ограничимся английской версией.
 </p>
 <p>
  Как вы помните из «Жёлтого пояса», итератор — это не конкретный тип: это понятие, связывающее различные типы. Так же обстоит ситуация и с range: мы говорим, что можно вызвать функцию sort от одного параметра, являющегося range, но при этом без проблем передаём в неё вектор. Он, как и многие другие контейнеры, является range — что не выглядит неожиданным, так как ранее мы легко итерировались по контейнерам с помощью цикла for, а основное свойство range — это как раз возможность проитерироваться во всем элементам.
 </p>
 <h2 level="2">
  Разбор примера
 </h2>
 <h3 level="3">
  includes
 </h3>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;algorithm&gt;
#include &lt;ranges&gt;</pre>
 <p>
  Мы подключаем все библиотеки стандартным способом.
 </p>
 <h3 level="3">
  Пространства имён
 </h3>
 <p>
  Весь код ranges находится в пространстве имён std::ranges, что позволяет выбирать между существующими и новыми версиями алгоритмов. Поскольку директива using namespace неприменима одновременно к std и std::ranges (так как тот же sort есть и там, и там), ограничимся введением короткого синонима rng:
 </p>
 <pre language="c_cpp">namespace rng = std::ranges;</pre>
 <p>
  Теперь в коде будет легко видно, где используются функции и классы из стандартной библиотеки (std::), а где — из ranges (rng::).
 </p>
 <h3 level="3">
  Сортировка
 </h3>
 <pre language="c_cpp">std::vector v = {4, 1, 7, 2, 3, 8};
rng::sort(v);</pre>
 <p>
  Этот пример демонстрирует ровно то, что обсуждалось выше: возможность вызвать сортировку от одного range вместо пары итераторов.
 </p>
 <h3 level="3">
  Функция Print
 </h3>
 <p>
  В качестве примера мы написали и использовали собственную функцию, принимающую range:
 </p>
 <pre language="c_cpp">template &lt;rng::input_range Range&gt;
void Print(const Range&amp; range) {
  for (const auto&amp; x : range) {
    std::cout &lt;&lt; x &lt;&lt; " ";
  }
  std::cout &lt;&lt; std::endl;
}

// ...

Print(v);
</pre>
 <p>
  Тело этой функции выглядит довольно стандартно. Но обратите внимание на первую строчку шаблона: вместо привычного typename указан rng::InputRange — это и есть типичный пример использования концепта. Мы слегка коснёмся их в следующем разделе, но подробно рассматривать не будем.
 </p>
 <h2 level="2">
  Применение концептов при работе с ranges
 </h2>
 <p>
  Вернёмся к определению шаблонной функции Print:
 </p>
 <pre language="c_cpp">template &lt;rng::input_range Range&gt;
void Print(const Range&amp; range) { /* ... */ }</pre>
 <p>
  Концепт — это набор требований к типу. Уже известный вам пример концептов — категории итераторов: например, функция sort требует передавать в неё итераторы произвольного доступа, потому что её реализация прибавляет к итераторам числа. При попытке передать в эту функцию итераторы списка или множества она не компилировалась при попытке сделать с итератором недоступную операцию.
 </p>
 <p>
  Концепты по сути легализуют эту практику. Проектируя функцию Print для диапазонов элементов, мы понимаем, что в неё можно передавать не любые типы, а только те, по которым можно итерироваться. Поэтому мы указываем, что шаблонный тип Range должен удовлетворять стандартному концепту InputRange, то есть являться объектом, по которому можно проитерироваться с помощью input-итератора.
 </p>
 <p>
  Попробуйте добавить в функцию main строчку Print(2); — и получите ошибку компиляции, сигнализирующую о несоответствии типа int концепту InputRange:
 </p>
 <pre language="plain_text">ranges1.cpp: In function ‘int main()’:
ranges1.cpp:20:10: error: use of function ‘void Print(const Range&amp;) [with Range = int]’ with unsatisfied constraints
   20 |   Print(2);
      |          ^
ranges1.cpp:9:6: note: declared here
    9 | void Print(const Range&amp; range) {
      |      ^~~~~
ranges1.cpp:9:6: note: constraints not satisfied
In file included from /usr/include/c++/10/string:54,
                 from /usr/include/c++/10/bits/locale_classes.h:40,
                 from /usr/include/c++/10/bits/ios_base.h:41,
                 from /usr/include/c++/10/ios:42,
                 from /usr/include/c++/10/ostream:38,
                 from /usr/include/c++/10/iostream:39,
                 from ranges1.cpp:1:
/usr/include/c++/10/bits/range_access.h: In instantiation of ‘void Print(const Range&amp;) [with Range = int]’:
ranges1.cpp:20:10:   required from here
/usr/include/c++/10/bits/range_access.h:862:13:   required for the satisfaction of ‘range&lt;_Tp&gt;’ [with _Tp = int]
/usr/include/c++/10/bits/range_access.h:909:13:   required for the satisfaction of ‘input_range&lt;Range&gt;’ [with Range = int]
/usr/include/c++/10/bits/range_access.h:862:21:   in requirements with ‘_Tp&amp; __t’ [with _Tp = int]
/usr/include/c++/10/bits/range_access.h:864:15: note: the required expression ‘std::ranges::__cust::begin(__t)’ is invalid
  864 |  ranges::begin(__t);
      |  ~~~~~~~~~~~~~^~~~~
/usr/include/c++/10/bits/range_access.h:865:13: note: the required expression ‘std::ranges::__cust::end(__t)’ is invalid
  865 |  ranges::end(__t);
      |  ~~~~~~~~~~~^~~~~
cc1plus: note: set ‘-fconcepts-diagnostics-depth=’ to at least 2 for more detail
</pre>
 <p>
  Есть и другой вариант синтаксиса для объявления шаблонной функции с
  <em>
   constrained template parameter (ограниченным [концептом] шаблонным параметром)
  </em>
  — громоздкий, но подчёркивающий наличие ограничений:
 </p>
 <pre language="c_cpp">template &lt;typename Range&gt;
requires rng::input_range&lt;Range&gt;
void Print(const Range&amp; range) { /* ... */ }
</pre>
 <p>
  Помимо более прозрачных ошибок компиляции, концепты предоставляют возможность более гибкой перегрузки функций:
 </p>
 <pre language="c_cpp">template &lt;rng::input_range Range&gt;
void Print(const Range&amp; range) {
  for (const auto&amp; x : range) {
    std::cout &lt;&lt; x &lt;&lt; " ";
  }
  std::cout &lt;&lt; std::endl;
}

template &lt;typename T&gt;
void Print(const T&amp; x) {
  std::cout &lt;&lt; x &lt;&lt; std::endl;
}</pre>
 <p>
  Теперь вызов функции Print для ranges будет приводить к выводу всех элементов в цикле, а вызов для любых других объектов — например, Print(2) — к простому выводу с помощью cout.
 </p>
 <p>
  Наконец, приведём без подробных комментариев способ определить свой концепт типизированного range:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;set&gt;
#include &lt;vector&gt;
#include &lt;ranges&gt;
#include &lt;algorithm&gt;

namespace rng = std::ranges;

template &lt;typename R, typename T&gt;
concept InputRange =
    rng::input_range&lt;R&gt;
    &amp;&amp; requires(R r) {
      {*rng::begin(r)} -&gt; std::convertible_to&lt;T&gt;;
    };
// Выше написано следующее:
// тип R удовлетворяет концепту InputRange&lt;T&gt;,
// если он удовлетворяет rng::input_range
// и для переменной r типа R
// функция begin возвращает объект,
// приводимый к типу T

template &lt;InputRange&lt;int&gt; Range&gt;
void Print(const Range&amp; range) {
  for (const auto&amp; x : range) {
    std::cout &lt;&lt; x &lt;&lt; " ";
  }
  std::cout &lt;&lt; std::endl;
}

int main() {
  std::vector v = {4, 1, 7, 2, 3, 8};
  Print(v);
  
  std::set s = {8, 6, 9, 6};
  Print(s);
  
  return 0;
}</pre>
 <h2 level="2">
  Projection-параметры
 </h2>
 <p>
  Ещё одно важное улучшение стандартных алгоритмов — projection-параметры. Они позволяют передать функцию, которая будет применяться ко всем элементам (не меняя их) перед основными действиями алгоритма. Особенно это полезно для функций вроде
  <a href="https://en.cppreference.com/w/cpp/experimental/ranges/algorithm/sort" title="">
   std::sort
  </a>
  и std::lower_bound, принимающих компараторы: если элементы необходимо отсортировать по некоторой функции от элемента, достаточно передать projection-параметр с этой функцией; при этом отпадает необходимость в громоздком компараторе от двух параметров.
 </p>
 <p>
  Классический пример — сортировка объектов по некоторому полю:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;algorithm&gt;

namespace rng = std::ranges;

struct Lecture {
  int course;
  int local_idx;
  int complexity;
};

int main() {
  std::vector&lt;Lecture&gt; lectures = ReadLectures();
  
  // как раньше
  std::sort(lectures.begin(), lectures.end(),
            [](const Lecture&amp; lhs, const Lecture&amp; rhs) {
              return lhs.complexity &lt; rhs.complexity;
            });
  
  // как теперь
  rng::sort(lectures, std::less&lt;&gt;{},
            [](const Lecture&amp; x) { return x.complexity; });
  
  return 0;
}</pre>
 <p>
  Здесь std::less&lt;&gt;{} — это стандартный компаратор, сравнивающий объекты с помощью оператора &lt;. Таким образом, для сравнения двух объектов типа Lecture для каждого вызывается projection-функция, возвращающая сложность, а затем полученные сложности сравниваются с помощью оператора &lt;.
 </p>
 <p>
  Для сортировки лекций в порядке убывания сложности достаточно использовать std::greater вместо std::less:
 </p>
 <pre language="c_cpp">rng::sort(lectures, std::greater&lt;&gt;{},
          [](const Lecture&amp; x) { return x.complexity; });</pre>
 <p>
  Наконец, напомним, что с помощью make_tuple можно сортировать объекты по комбинации полей:
 </p>
 <pre language="c_cpp">rng::sort(lectures, std::less&lt;&gt;{},
          [](const Lecture&amp; x) {
            return std::make_tuple(x.course, x.local_idx);
          });</pre>
 <p>
  В данном примере лекции сортируются по номеру курса, а при его совпадении — по внутреннему индексу.
 </p>
 <h2 level="2">
  Views и range adaptors
 </h2>
 <p>
  Другая важная часть Ranges TS — views и range adaptors. И то, и другое — это особые ranges, которые сами не хранят данные, а лишь преобразуют данные другого view или генерируют данные, не храня их. Рассмотрим несколько примеров.
 </p>
 <h3 level="3">
  view::iota
 </h3>
 <p>
  Наиболее полезный в быту класс — view::iota, позволяющий перебрать все числа в заданном диапазоне с помощью range-based for. Например, с помощью такого кода можно вывести первые 5 элементов вектора:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;ranges&gt;

namespace rng = std::ranges;
namespace view = rng::views;

int main() {
  std::vector&lt;int&gt; numbers = ReadNumbers();

  for (int i : view::iota(0, 5)) {
    std::cout &lt;&lt; numbers[i] &lt;&lt; ' ';
  }
  
  return 0;
}</pre>
 <p>
  Объект view::iota можно передавать в любые алгоритмы, читающие данные. При этом числа из заданного диапазона не хранятся в памяти, а лишь последовательно генерируются с помощью итераторов этого view.
 </p>
 <h3 level="3">
  view::take
 </h3>
 <p>
  Впрочем, есть более прозрачный способ перебора первых 5 элементов контейнера:
 </p>
 <pre language="c_cpp">std::vector&lt;int&gt; numbers = ReadNumbers();

for (int x : numbers | view::take(5)) {
  std::cout &lt;&lt; x &lt;&lt; ' ';
}</pre>
 <p>
  view::take — это range adaptor. Будучи применённым к другому range (или view) с помощью оператора |, он позволяет перебрать указанное количество первых элементов range.
 </p>
 <p>
  Более того, если исходный контейнер был неконстантным, то применённые к нему адаптеры сохраняют возможность изменения элементов:
 </p>
 <pre language="c_cpp">std::vector&lt;int&gt; numbers = ReadNumbers();

for (int&amp; x : numbers | view::take(5)) {
  ++x;
}</pre>
 <p>
  На этом перейдём к более близким к реальности примерам.
 </p>
 <h3 level="3">
  view::reverse
 </h3>
 <p>
  Иногда возникает необходимость перебирать элементы в обратном порядке. Адаптер view::reverse позволяет делать это без явного привлечения обратных итераторов.
 </p>
 <p>
  Так выглядел класс Domain из задач про запрещённые домены, написанный с использованием классического C++17
  <em>
   (префикс std:: опущен для краткости):
  </em>
 </p>
 <pre language="c_cpp">template &lt;typename It&gt;
class Range {
public:
  Range(It begin, It end) : begin_(begin), end_(end) {}
  It begin() const { return begin_; }
  It end() const { return end_; }

private:
  It begin_;
  It end_;
};

class Domain {
public:
  explicit Domain(string_view text) {
    vector&lt;string_view&gt; parts = Split(text, ".");
    parts_reversed_.assign(rbegin(parts), rend(parts));
  }

  size_t GetPartCount() const {
    return parts_reversed_.size();
  }

  auto GetParts() const {
    return Range(rbegin(parts_reversed_), rend(parts_reversed_));
  }
  auto GetReversedParts() const {
    return Range(begin(parts_reversed_), end(parts_reversed_));
  }

  bool operator==(const Domain&amp; other) const {
    return parts_reversed_ == other.parts_reversed_;
  }

private:
  vector&lt;string&gt; parts_reversed_;
};</pre>
 <p>
  Использование ranges и, в частности, view::reverse позволяет упростить код:
 </p>
 <pre language="c_cpp">class Domain {
public:
  explicit Domain(string_view text) {
    vector&lt;string_view&gt; parts = Split(text, ".");
    parts_.assign(begin(parts), end(parts));
  }

  size_t GetPartCount() const {
    return parts_.size();
  }

  auto GetParts() const {
    return view::all(parts_);
  }
  auto GetReversedParts() const {
    return view::reverse(parts_);
  }

  bool operator==(const Domain&amp; other) const {
    return parts_ == other.parts_;
  }

private:
  vector&lt;string&gt; parts_;
};</pre>
 <p>
  Здесь же использован адаптер view::all, позволяющий перебирать все элементы указанного контейнера, но при этом не владеющий его данными. Если в данном примере заменить view::all(parts_) на parts_, метод GetParts будет возвращать копию вектора parts_.
 </p>
 <h3 level="3">
  view::transform
 </h3>
 <p>
  Теперь перейдём к задаче «Демографические показатели». Так выглядело её решение, предложенное в одной из предыдущих задач:
 </p>
 <pre language="c_cpp">#include &lt;algorithm&gt;
#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;vector&gt;

using namespace std;

enum class Gender {
  FEMALE,
  MALE
};

struct Person {
  int age;
  Gender gender;
  bool is_employed;
};

struct AgeStats {
  int total;
  int females;
  int males;
  int employed_females;
  int unemployed_females;
  int employed_males;
  int unemployed_males;
};

template &lt;typename InputIt&gt;
int ComputeMedianAge(InputIt range_begin, InputIt range_end) {
  if (range_begin == range_end) {
    return 0;
  }
  vector&lt;typename iterator_traits&lt;InputIt&gt;::value_type&gt; range_copy(
      range_begin,
      range_end
  );
  auto middle = begin(range_copy) + range_copy.size() / 2;
  nth_element(
      begin(range_copy), middle, end(range_copy),
      [](const Person&amp; lhs, const Person&amp; rhs) {
        return lhs.age &lt; rhs.age;
      }
  );
  return middle-&gt;age;
}

vector&lt;Person&gt; ReadPersons(istream&amp; in_stream = cin) {
  int person_count;
  in_stream &gt;&gt; person_count;
  vector&lt;Person&gt; persons;
  persons.reserve(person_count);
  for (int i = 0; i &lt; person_count; ++i) {
    int age, gender, is_employed;
    in_stream &gt;&gt; age &gt;&gt; gender &gt;&gt; is_employed;
    Person person{
        age,
        static_cast&lt;Gender&gt;(gender),
        is_employed == 1
    };
    persons.push_back(person);
  }
  return persons;
}

AgeStats ComputeStats(vector&lt;Person&gt; persons) {
  //                 persons
  //                |       |
  //          females        males
  //         |       |      |     |
  //      empl.  unempl. empl.   unempl.

  auto females_end = partition(
      begin(persons), end(persons),
      [](const Person&amp; p) {
        return p.gender == Gender::FEMALE;
      }
  );
  auto employed_females_end = partition(
      begin(persons), females_end,
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );
  auto employed_males_end = partition(
      females_end, end(persons),
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );

  return {
       ComputeMedianAge(begin(persons), end(persons)),
       ComputeMedianAge(begin(persons), females_end),
       ComputeMedianAge(females_end, end(persons)),
       ComputeMedianAge(begin(persons),  employed_females_end),
       ComputeMedianAge(employed_females_end, females_end),
       ComputeMedianAge(females_end, employed_males_end),
       ComputeMedianAge(employed_males_end, end(persons))
  };
}

void PrintStats(const AgeStats&amp; stats,
                ostream&amp; out_stream = cout) {
  out_stream &lt;&lt; "Median age = "
             &lt;&lt; stats.total              &lt;&lt; endl
             &lt;&lt; "Median age for females = "
             &lt;&lt; stats.females            &lt;&lt; endl
             &lt;&lt; "Median age for males = "
             &lt;&lt; stats.males              &lt;&lt; endl
             &lt;&lt; "Median age for employed females = "
             &lt;&lt; stats.employed_females   &lt;&lt; endl
             &lt;&lt; "Median age for unemployed females = "
             &lt;&lt; stats.unemployed_females &lt;&lt; endl
             &lt;&lt; "Median age for employed males = "
             &lt;&lt; stats.employed_males     &lt;&lt; endl
             &lt;&lt; "Median age for unemployed males = "
             &lt;&lt; stats.unemployed_males   &lt;&lt; endl;
}

int main() {
  PrintStats(ComputeStats(ReadPersons()));
  return 0;
}</pre>
 <p>
  Первым делом здесь, конечно, хочется переписать функцию ComputeMedianAge так, чтобы она принимала range вместо двух итераторов. Но прежде давайте задумаемся: нормально ли, что настолько общий алгоритм — вычисление медианы для набора чисел — реализован исключительно для объектов типа Person, явно обращаясь к полю age? Конечно, нет!
 </p>
 <p>
  В реальном проекте было бы логично увидеть универсальную функцию ComputeMedian, вызываемую от набора чисел:
 </p>
 <pre language="c_cpp">template &lt;typename Range&gt;
using range_value_t = rng::iter_value_t&lt;rng::iterator_t&lt;Range&gt;&gt;;
// range_value_t&lt;Range&gt; позволяет получить
// тип элементов, получаемых при итерировании по Range

template &lt;rng::InputRange Range&gt;
range_value_t&lt;Range&gt; ComputeMedian(Range&amp;&amp; range) {
  vector range_copy(rng::begin(range), rng::end(range));
  if (range_copy.empty()) {
    return {};
  }
  const auto middle = range_copy.begin() + range_copy.size() / 2;
  rng::nth_element(range_copy, middle);
  return *middle;
}</pre>
 <p>
  Но как тогда с помощью этой функции реализовать ComputeMedianAge, вызываемую от набора людей? Для этого можно преобразовать набор людей в набор возрастов — с помощью адаптера view::transform:
 </p>
 <pre language="c_cpp">template &lt;rng::input_range Range&gt;
int ComputeMedianAge(Range&amp;&amp; persons) {
  return ComputeMedian(
      persons
      | view::transform([](const Person&amp; person) { return person.age; })
  );
}</pre>
 <p>
  Правда, теперь при вызове ComputeMedianAge от двух итераторов, полученных из partition, нужно формировать из этих итераторов range — тут помогает класс rng::subrange:
 </p>
 <pre language="c_cpp">AgeStats ComputeStats(vector&lt;Person&gt; persons) {
  //                 persons
  //                |       |
  //          females        males
  //         |       |      |     |
  //      empl.  unempl. empl.   unempl.

  auto females_end = rng::partition(
      persons,
      [](const Person&amp; p) {
        return p.gender == Gender::FEMALE;
      }
  );
  auto employed_females_end = rng::partition(
      rng::begin(persons), females_end,
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );
  auto employed_males_end = rng::partition(
      females_end, rng::end(persons),
      [](const Person&amp; p) {
        return p.is_employed;
      }
  );

  return {
       ComputeMedianAge(rng::subrange(rng::begin(persons), rng::end(persons))),
       ComputeMedianAge(rng::subrange(rng::begin(persons), females_end)),
       ComputeMedianAge(rng::subrange(females_end, rng::end(persons))),
       ComputeMedianAge(rng::subrange(rng::begin(persons),
                                      employed_females_end)),
       ComputeMedianAge(rng::subrange(employed_females_end, females_end)),
       ComputeMedianAge(rng::subrange(females_end, employed_males_end)),
       ComputeMedianAge(rng::subrange(employed_males_end, rng::end(persons)))
  };
}</pre>
 <p>
  Правда, теперь ComputeStats стала однозначно более громоздкой — это мы будем исправлять в следующей части.
 </p>
 <h3 level="3">
  view::filter
 </h3>
 <p>
  Попробуем теперь отказаться от сложных манипуляций с partition в функции ComputeStats. Всё, что нужно сделать в этой функции — это вызвать ComputeMedianAge от различных наборов людей: женщин, мужчин, трудоустроенных женщин и пр.
 </p>
 <p>
  Используем адаптер view::filter для фильтрации людей по полу и трудоустроенности:
 </p>
 <pre language="c_cpp">template &lt;rng::ForwardRange Range&gt;
AgeStats ComputeStats(Range&amp;&amp; persons) {
  auto females = view::filter([](const Person&amp; person) {
    return person.gender == Gender::FEMALE; 
  });
  auto males = view::filter([](const Person&amp; person) {
    return person.gender == Gender::MALE; 
  });
  auto employed = view::filter([](const Person&amp; person) {
    return person.is_employed; 
  });
  auto unemployed = view::filter([](const Person&amp; person) {
    return !person.is_employed; 
  });

  return {
       ComputeMedianAge(persons),
       ComputeMedianAge(persons | females),
       ComputeMedianAge(persons | males),
       ComputeMedianAge(persons | females | employed),
       ComputeMedianAge(persons | females | unemployed),
       ComputeMedianAge(persons | males | employed),
       ComputeMedianAge(persons | males | unemployed)
  };
}</pre>
 <p>
  Здесь, например, persons | females | employed — это view, при проходе по которому будут перебираться только трудоустроенные женщины.
 </p>
 <p>
  От небольшого дублирования кода можно избавиться, выделив генерацию адаптеров по полу и трудоустроенности в отдельные функции:
 </p>
 <pre language="c_cpp">auto ByGender(Gender gender) {
  return view::filter([gender](const Person&amp; person) {
    return person.gender == gender; 
  });
}

auto ByEmployment(bool is_employed) {
  return view::filter([is_employed](const Person&amp; person) {
    return person.is_employed == is_employed; 
  });
};

template &lt;rng::ForwardRange Range&gt;
AgeStats ComputeStats(Range&amp;&amp; persons) {
  auto females = ByGender(Gender::FEMALE);
  auto males = ByGender(Gender::MALE);
  
  auto employed = ByEmployment(true);
  auto unemployed = ByEmployment(false);

  return {
       ComputeMedianAge(persons),
       ComputeMedianAge(persons | females),
       ComputeMedianAge(persons | males),
       ComputeMedianAge(persons | females | employed),
       ComputeMedianAge(persons | females | unemployed),
       ComputeMedianAge(persons | males | employed),
       ComputeMedianAge(persons | males | unemployed)
  };
}</pre>
 <p>
 </p>
 <p>
  Обратите внимание, что сам по себе объект males не несёт самостоятельного смысла. По сути это фильтр, который необходимо к чему-нибудь применить с помощью |, например, к контейнеру с людьми или любому другому view.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
