<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Передача функциональных объектов в функцию
 </h2>
 <p>
  Вы наверняка обращали внимание на
  <a href="https://en.cppreference.com/w/cpp/algorithm/sort">
   сигнатуру функции sort
  </a>
  :
 </p>
 <pre language="c_cpp">template &lt;typename RandomIt, typename Compare&gt;
void sort(RandomIt first, RandomIt last, Compare comp);
</pre>
 <p>
  Почему компаратор (функция) comp принимается по значению и имеет шаблонный тип?
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#%D0%BD%D0%B5%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE-%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D0%B8">
  </a>
  Немного истории
 </h3>
 <p>
  Как вы уже могли заметить в примере про span, в языке C компараторы передаются в виде указателя на функцию (см.
  <a href="https://en.cppreference.com/w/c/algorithm">
   документацию
  </a>
  ):
 </p>
 <pre language="c_cpp">void qsort(void* ptr, size_t count, size_t size,
           int (*comp)(const void*, const void*));</pre>
 <p>
  <em>
   Последний параметр comp — это указатель на функцию, принимающую два const void* и возвращающую int. Засилье указателей на void возникает из-за необходимости реализовать универсальный алгоритм без использования шаблонов: указатель void* может указывать на любой объект, а параметр size подсказывает, сколько байт занимает один объект этого неизвестного типа.
  </em>
 </p>
 <p>
  Функция qsort от вектора вызывалась бы так:
 </p>
 <pre language="c_cpp">// Компаратор для сортировки по убыванию
// В C должен вернуть:
// * 0, если числа равны
// * &lt; 0, если первое число меньше второго
// * &gt; 0, если первое число больше второго
int CompareIntsReversed(const void* lhs_ptr, const void* rhs_ptr) {
  const int lhs = *static_cast&lt;const int*&gt;(lhs_ptr);
  const int rhs = *static_cast&lt;const int*&gt;(rhs_ptr);
  if (lhs == rhs) {
    return 0;
  } else if (lhs &lt; rhs) {
    return 1;
  } else {
    return -1;
  }
}

vector&lt;int&gt; numbers = ReadNumbers();
qsort(numbers.data(), numbers.size(), sizeof(numbers[0]), CompareIntsReversed);
// Вместо CompareIntsReversed можно передать и &amp;CompareIntsReversed:
// это не имеет значения</pre>
 <h3 level="3">
  Передача функции в качестве компаратора
 </h3>
 <p>
  Но и в std::sort можно передать просто функцию!
 </p>
 <pre language="c_cpp">// Компаратор в C++ должен принять аргументы по ссылке (или значению)
// и вернуть bool: верно ли, что первый параметр меньше второго
bool CompareIntsReversed(int lhs, int rhs) {
  return rhs &lt; lhs;
}

vector&lt;int&gt; numbers = ReadNumbers();

// Передали функцию
sort(begin(numbers), end(numbers), CompareIntsReversed);

// Более того, можно (как делали в C)
// явно указать, что нужен указатель на функцию
sort(begin(numbers), end(numbers), &amp;CompareIntsReversed);
</pre>
 <p>
  Итак, наглядно видно, что алгоритмы в C++ сохранили преемственность и позволяют передавать функции в качестве компаратора.
 </p>
 <p>
  Но зачем же тогда в сигнатуре функции sort компаратор имеет шаблонный тип? Почему нельзя просто требовать компаратор типа bool (*)(const T&amp;, const T&amp;), то есть указатель на функцию, принимающую два объекта нужного типа и возвращающую bool?
 </p>
 <h3 level="3">
  Передача функционального объекта в качестве компаратора
 </h3>
 <p>
  Нередко возникают ситуации, когда для сравнения двух объектов необходимы дополнительные данные. Самый банальный пример — компаратор, который сравнивает числа по их рейтингу (при этом рейтинг хранится в отдельном словаре):
 </p>
 <pre language="c_cpp">class CompareIntsByRating {
public:
  CompareIntsByRating(const unordered_map&lt;int, int&gt;&amp; numbers_rating)
      : numbers_rating_(numbers_rating)
  {}

  // Но как написать сравнение?

private:
  static const int DEFAULT_RATING = numeric_limits&lt;int&gt;::max();
  unordered_map&lt;int, int&gt; numbers_rating_;
  
  int ComputeNumberRating(int number) const {
    const auto it = numbers_rating_.find(number);
    return it != numbers_rating_.end() ? it-&gt;second : DEFAULT_RATING;
  }
};

vector&lt;int&gt; numbers = ReadNumbers();
const unordered_map&lt;int, int&gt; numbers_rating = ReadRatings();

sort(begin(numbers), end(numbers), CompareIntsByRating(numbers_rating));  // ???
</pre>
 <p>
  Класс почти написан, но возникает логичный вопрос: как нужно реализовать сравнение чисел, чтобы функция sort его использовала? Чтобы ответить на этот вопрос, достаточно представить, как могла бы выглядеть реализация функции sort. Поскольку compare может быть просто функцией, вариантов не остаётся:
 </p>
 <pre language="c_cpp">template &lt;typename RandomIt, typename Compare&gt;
void sort(RandomIt first, RandomIt last, Compare compare) {
  // ...
  if (compare(lhs, rhs)) { /* ... */ }
  // ...
}</pre>
 <p>
  Итак, поскольку вызов обычной функции выполняется с помощью списка параметров в круглых скобках после её названия, любой объект, который мы хотим использовать вместо функции
  <em>
   (функциональный объект)
  </em>
  в качестве компаратора, должен «уметь» вести себя так же.
 </p>
 <p>
  Для этого нужно перегрузить для него operator():
 </p>
 <pre language="c_cpp">class CompareIntsByRating {
public:
  CompareIntsByRating(const unordered_map&lt;int, int&gt;&amp; numbers_rating)
      : numbers_rating_(numbers_rating)
  {}

  bool operator()(int lhs, int rhs) const {
    return ComputeNumberRating(lhs) &lt; ComputeNumberRating(rhs);
  }

private:
  static const int DEFAULT_RATING = numeric_limits&lt;int&gt;::max();
  unordered_map&lt;int, int&gt; numbers_rating_;
  
  int ComputeNumberRating(int number) const {
    const auto it = numbers_rating_.find(number);
    return it != numbers_rating_.end() ? it-&gt;second : DEFAULT_RATING;
  }
};</pre>
 <p>
  Пусть вас не смущает обилие круглых скобок в operator()(int lhs, int rhs): здесь «operator()» — это по сути название метода (пусть и довольно необычное), а «(int lhs, int rhs)» — самый обычный список параметров метода в круглых скобках.
 </p>
 <p>
  Итак, мы выяснили,
  <strong>
   зачем делать компаратор шаблонным:
  </strong>
  это позволяет передавать в алгоритмы не только обычные функции, но и объекты, которые похожи на функции
  <em>
   (функциональные объекты),
  </em>
  но при этом устроены более сложно, так как имеют какой-то дополнительный контекст (в последнем примере это была ссылка на словарь). Впрочем, с одной разновидностью функциональных объектов вы уже знакомы довольно близко — это лямбда-функции: они тоже умеют вести себя как функции и при этом могут иметь некий контекст — объекты, захваченные в [].
 </p>
 <h3 level="3">
  Почему компаратор передаётся по значению
 </h3>
 <p>
  Осталось разобраться, почему компараторы принято передавать по значению:
 </p>
 <pre language="c_cpp">template &lt;typename RandomIt, typename Compare&gt;
void sort(RandomIt first, RandomIt last, Compare comp);</pre>
 <p>
  , а не по константной ссылке:
 </p>
 <p>
 </p>
 <pre language="c_cpp">template &lt;typename RandomIt, typename Compare&gt;
void sort(RandomIt first, RandomIt last, const Compare&amp; comp);</pre>
 <p>
  Дело в том, что подавляющее большинство компараторов не имеет контекста, то есть по сути является простой функцией.
 </p>
 <p>
  Как компилятор передаёт функцию в функцию? Как хорошо видно из примера на C, это делается с помощью «указателя на функцию», то есть по сути в функцию-алгоритм передаётся адрес места в памяти, где находится код функции-компаратора. Поскольку указатель — это лёгкий объект, его дешевле скопировать, чем передавать по ссылке. (Ровно такое же обоснование было для передачи итераторов по значению: как правило, это просто указатель или нечто близкое.)
 </p>
 <p>
  Даже если вы передаёте не функцию, а лямбда-функцию без контекста (вида [](int lhs, int rhs) { return /* ... */; }), то компилятор не создаёт лишних объектов и по сути тоже передаёт указатель на код функции — и это тоже выгодно делать по значению.
 </p>
 <p>
  Итак, при создании сложного функционального объекта необходимо помнить о том, что он будет передаваться по значению. Именно поэтому не храните в нём тяжёлые объекты, ограничиваясь ссылками. Для лямбда-функций это правило звучит так: лямбда-функция, передаваемая в стандартные алгоритмы, должна захватывать все тяжёлые объекты по ссылке.
 </p>
 <p>
  Перепишем наш компаратор по рейтингу соответствующим образом, заменив тяжёлое поле со словарём на ссылку:
 </p>
 <pre language="c_cpp">class CompareIntsByRating {
public:
  CompareIntsByRating(const unordered_map&lt;int, int&gt;&amp; numbers_rating)
      : numbers_rating_(numbers_rating)
  {}

  bool operator()(int lhs, int rhs) const {
    return ComputeNumberRating(lhs) &lt; ComputeNumberRating(rhs);
  }

private:
  static const int DEFAULT_RATING = numeric_limits&lt;int&gt;::max();
  const unordered_map&lt;int, int&gt;&amp; numbers_rating_;
  
  int ComputeNumberRating(int number) const {
    const auto it = numbers_rating_.find(number);
    return it != numbers_rating_.end() ? it-&gt;second : DEFAULT_RATING;
  }
};</pre>
 <p>
  При проектировании своей функции, принимающей функциональный объект, придерживайтесь тех же принципов: принимайте его по значению и делайте его тип шаблонным.
 </p>
 <h2 level="2">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#%D0%BF%D0%B5%D1%80%D0%B5%D0%B4%D0%B0%D1%87%D0%B0-%D1%83%D0%BC%D0%BD%D1%8B%D1%85-%D1%83%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D0%B5%D0%B9-%D0%B2-%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8E">
  </a>
  Передача умных указателей в функцию
 </h2>
 <p>
  Безусловно, в функцию можно передать любой объект, который хранится в переменной. Однако случай умного указателя нуждается в отдельном рассмотрении: всё-таки по своей сути они являются указателями, обременёнными некоторой дополнительной семантикой — семантикой владения объектом.
 </p>
 <p>
  Как в таком случае стоит передавать в функцию умный указатель? Для unique_ptr и shared_ptr рассмотрим различные способы передать их в функцию и для каждого разберём сферу применения. При этом будем акцентировать внимание на тех ситуациях, когда отсутствует необходимость изменять объект, которым владеет указатель. (Ситуации, когда объект необходимо изменять, в целом аналогичны. Функции же, принимающие сами умные указатели по неконстантной ссылке и затем их изменяющие, встречаются нечасто.)
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#unique_ptr">
  </a>
  unique_ptr
 </h3>
 <p>
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1-1-%D0%BF%D1%80%D0%B8%D0%BD%D1%8F%D1%82%D1%8C-%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82-%D0%BF%D0%BE-%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B5">
  </a>
  <strong>
   Способ 1. Принять объект по ссылке
  </strong>
 </p>
 <pre language="c_cpp">bool CheckUserPermissions(const UserInfo&amp; user) {
  return user.access_level == AccessLevel::FULL;
}

// Можно вызвать от ссылки на объект из unique_ptr
unique_ptr&lt;UserInfo&gt; user_holder = /* ... */;
if (user_holder &amp;&amp; !CheckUserPermissions(*user_holder)) {
  // ...
}

// Можно вызвать от ссылки на любой другой объект, даже временный
if (!CheckUserPermissions(UserInfo(/* ... */))) {
  // ...
}</pre>
 <p>
  <strong>
   Что можно делать с параметром функции?
  </strong>
  Всё то же, что и с любым другим константным объектом UserInfo. При этом знание о способе владения объектом потеряно — впрочем, в нём обычно нет необходимости.
 </p>
 <p>
  <strong>
   Что можно передать в функцию?
  </strong>
  Ссылку на любой объект UserInfo, не обязательно связанный с unique_ptr. При разыменовании умного указателя важно убедиться, что в нём лежит не nullptr.
 </p>
 <p>
  <strong>
   Когда использовать?
  </strong>
  Всегда, когда для функции не имеет значения способ владения объектом.
 </p>
 <p>
  <strong>
   Способ 2. Принять объект по значению
  </strong>
 </p>
 <pre language="c_cpp">bool AccessManager::CheckUserPermissions(UserInfo user) const {
  const auto access_level = user.access_level;
  requests_history.push_back(move(user));
  return access_level == AccessLevel::FULL;
}</pre>
 <p>
  Обычно не возникает желания копировать объекты, которыми владеет умный указатель: например, если мы осознанно перемещали данные в кучу или с помощью указателей на базовый класс храним набор объектов разных типов. Тем не менее, такой вариант всё же стоит рассмотреть, если функция по какой-то причине нуждается в копии объекта.
 </p>
 <p>
  Мы уже подробно обсуждали отличия передачи по ссылке от передачи по значению, поэтому не будем останавливаться на этом способе.
 </p>
 <p>
  <strong>
   Способ 3. Принять объект по обычному указателю
  </strong>
 </p>
 <pre language="c_cpp">bool CheckUserPermissions(const UserInfo* user) {
  return (user ? *user : GUEST).access_level == AccessLevel::FULL;
}

// Можно вызвать от указателя на объект из unique_ptr
unique_ptr&lt;UserInfo&gt; user_holder = /* ... */;
if (!CheckUserPermissions(user_holder.get())) {
  // ...
}

// Можно вызвать от ссылки на любой другой постоянный объект
UserInfo user = /* ... */;
if (!CheckUserPermissions(&amp;user)) {
  // ...
}

// Можно вызвать от nullptr
if (!CheckUserPermissions(nullptr)) {
  // ...
}

// Нельзя вызвать от временного объекта:
// CheckUserPermissions(&amp;UserInfo(/* ... */));

// Можно вызвать от указателя,
// полученного из временного unique_ptr
if (!CheckUserPermissions(make_unique&lt;UserInfo&gt;(/* ... */).get())) {
  // ...
}</pre>
 <p>
  Отличия передачи по указателю от передачи по ссылке уже обсуждались: с точки зрения функции это означает лишь, что объект может быть не передан, и этот случай нужно специальным образом обработать.
 </p>
 <p>
  При этом для умного указателя вызывается метод get, и необходимость проверять его на nullptr отсутствует.
 </p>
 <p>
  <strong>
   Способ 4. Принять умный указатель по константной ссылке
  </strong>
 </p>
 <pre language="c_cpp">bool CheckUserPermissions(const unique_ptr&lt;UserInfo&gt;&amp; user_holder) {
  return (user_holder ? *user_holder : GUEST).access_level == AccessLevel::FULL;
}

// Можно вызвать от существующего unique_ptr
unique_ptr&lt;UserInfo&gt; user_holder = /* ... */;
if (!CheckUserPermissions(user_holder)) {
  // ...
}

// Можно вызвать от временного unique_ptr
if (!CheckUserPermissions(make_unique&lt;UserInfo&gt;(/* ... */))) {
  // ...
}</pre>
 <p>
  <strong>
   Что можно делать с параметром функции?
  </strong>
  Вызывать любые константные методы unique_ptr. Но по сути единственный содержательный константный метод — это get(), поэтому с точки зрения самой функции этот способ ничем не отличается от способа 3 с константным указателем.
 </p>
 <p>
  <strong>
   Что можно передать в функцию?
  </strong>
  Только ссылку на unique_ptr — существующий или вновь созданный. Способ 3 поддерживал эти сценарии, плюс дополнительные, не привязанные к unique_ptr.
 </p>
 <p>
  <strong>
   Когда использовать?
  </strong>
  Никогда: способ 3 имеет более широкие возможности и более прозначен.
 </p>
 <p>
  <strong>
   <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1-5-%D0%BF%D1%80%D0%B8%D0%BD%D1%8F%D1%82%D1%8C-%D1%83%D0%BC%D0%BD%D1%8B%D0%B9-%D1%83%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-%D0%BF%D0%BE-%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8E">
   </a>
   Способ 5. Принять умный указатель по значению
  </strong>
 </p>
 <pre language="c_cpp">class AccessManager {
public:
  void AddUser(unique_ptr&lt;UserInfo&gt; user_holder) {
    if (user_holder &amp;&amp; user_holder-&gt;access_level != AccessLevel::NONE) {
      users_.push_back(move(user_holder));
    }
  }
private:
  vector&lt;unique_ptr&lt;UserInfo&gt;&gt; users_;
};

AccessManager manager;

// Можно вызвать от существующего unique_ptr,
// переместив его в функцию
unique_ptr&lt;UserInfo&gt; user_holder = /* ... */;
manager.AddUser(move(user_holder));

// Можно вызвать от временного unique_ptr
manager.AddUser(make_unique&lt;UserInfo&gt;(/* ... */));
</pre>
 <p>
  <strong>
   Что можно делать с параметром функции?
  </strong>
  Использовать как полноценный unique_ptr: этот параметр владеет объектом.
 </p>
 <p>
  <strong>
   Что можно передать в функцию?
  </strong>
  unique_ptr, который не нужен на вызывающей стороне: временный или перемещённый.
 </p>
 <p>
  <strong>
   Когда использовать?
  </strong>
  В тех случаях, когда функция должна забрать владение объектом — например, для сохранения в контейнере.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#shared_ptr">
  </a>
  shared_ptr
 </h3>
 <p>
  <strong>
   <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D1%8B-13-%D0%BF%D1%80%D0%B8%D0%BD%D1%8F%D1%82%D1%8C-%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82-%D0%BF%D0%BE-%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B5-%D0%BF%D0%BE-%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8E-%D0%B8%D0%BB%D0%B8-%D0%BF%D0%BE-%D0%BE%D0%B1%D1%8B%D1%87%D0%BD%D0%BE%D0%BC%D1%83-%D1%83%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8E">
   </a>
   Способы 1–3. Принять объект по ссылке, по значению или по обычному указателю
  </strong>
 </p>
 <p>
  Здесь всё эквивалентно аналогичным способам для unique_ptr: если функции нужно лишь прочитать данные из объекта, достаточно — в зависимости от ситуации — передать в неё ссылку, указатель или сам объект по значению.
 </p>
 <p>
  <strong>
   <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1-4-%D0%BF%D1%80%D0%B8%D0%BD%D1%8F%D1%82%D1%8C-%D1%83%D0%BC%D0%BD%D1%8B%D0%B9-%D1%83%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-%D0%BF%D0%BE-%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%BD%D0%BE%D0%B9-%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B5-1">
   </a>
   Способ 4. Принять умный указатель по константной ссылке
  </strong>
 </p>
 <pre language="c_cpp">bool CheckUserPermissions(const shared_ptr&lt;UserInfo&gt;&amp; user) {
  return (user ? *user : GUEST).access_level == AccessLevel::FULL;
}

class AccessManager {
public:
  void AddUser(const shared_ptr&lt;UserInfo&gt;&amp; user) {
    if (user &amp;&amp; user-&gt;access_level != AccessLevel::NONE) {
      users_.push_back(user);
    }
  }
private:
  vector&lt;shared_ptr&lt;UserInfo&gt;&gt; users_;
};

// Можно вызвать от существующего shared_ptr
shared_ptr&lt;UserInfo&gt; user = /* ... */;
if (!CheckUserPermissions(user)) {
  // ...
}

AccessManager manager;

// Можно вызвать от временного shared_ptr
manager.AddUser(make_shared&lt;UserInfo&gt;(/* ... */));
</pre>
 <p>
  <strong>
   Что можно делать с параметром функции?
  </strong>
  Вызывать любые константные методы (но тогда это почти ничем не лучше сырого указателя) или с помощью копирования создавать новые shared_ptr, разделяющие владение объектом. Но во втором случае можно создать копию shared_ptr, приняв его по значению — см. способ 5.
 </p>
 <p>
  <strong>
   Что можно передать в функцию?
  </strong>
  Ссылку на shared_ptr — существующий или вновь созданный.
 </p>
 <p>
  <strong>
   Когда использовать?
  </strong>
  Никогда: см. способ 3 и способ 5.
 </p>
 <p>
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/30_pass_funcobjs_and_smartptrs.md#%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1-5-%D0%BF%D1%80%D0%B8%D0%BD%D1%8F%D1%82%D1%8C-%D1%83%D0%BC%D0%BD%D1%8B%D0%B9-%D1%83%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-%D0%BF%D0%BE-%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%BD%D0%BE%D0%B9-%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B5">
  </a>
  <strong>
   Способ 5. Принять умный указатель по значению
  </strong>
 </p>
 <pre language="c_cpp">class AccessManager {
public:
  void AddUser(shared_ptr&lt;UserInfo&gt; user) {
    if (user &amp;&amp; user-&gt;access_level != AccessLevel::NONE) {
      users_.push_back(move(user));
    }
  }
private:
  vector&lt;shared_ptr&lt;UserInfo&gt;&gt; users_;
};

AccessManager manager;

// Можно вызвать от существующего shared_ptr
shared_ptr&lt;UserInfo&gt; user = /* ... */;
manager.AddUser(user);

// Можно вызвать от временного shared_ptr
manager.AddUser(make_shared&lt;UserInfo&gt;(/* ... */));
</pre>
 <p>
  <strong>
   Что можно делать с параметром функции?
  </strong>
  Использовать как полноценный shared_ptr: этот параметр владеет объектом наравне с остальными shared_ptr.
 </p>
 <p>
  <strong>
   Что можно передать в функцию?
  </strong>
  shared_ptr, постоянный (тогда он скопируется) или временный.
 </p>
 <p>
  <strong>
   Когда использовать?
  </strong>
  В тех случаях, когда функция должна разделить владение объектом — например, для сохранения в контейнере.
 </p>
 <h3 level="3">
  Итог
 </h3>
 <p>
  Принимать в функции unique_ptr и shared_ptr имеет смысл только по значению — в случае, когда функция забирает или разделяет владение объектом. В остальных случаях вместо умных указателей достаточно работать с сырым указателем на объект.
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
