<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Пример: валидация объекта
 </h2>
 <p>
  Представьте себе функцию, валидирующую некоторый объект — например, дату — и возвращающую не просто bool с результатом валидации, а ещё и причину непрохождения валидации:
 </p>
 <pre language="c_cpp">struct Date {
  int year, month, day;
};

enum class InvalidDateReason {
  NONPOSITIVE_YEAR,
  MONTH_TOO_SMALL,
  MONTH_TOO_BIG,
  // ...
};

/* ??? */ CheckDate(const Date&amp; date) {
  if (year &lt; 1) {
    // InvalidDateReason::NONPOSITIVE_YEAR
  else if (month &lt; 1) {
    // InvalidDateReason::MONTH_TOO_SMALL
  } else if (month &gt; 12) {
    // InvalidDateReason::MONTH_TOO_BIG
  } // ...
  
  // Если не вернулись с ошибкой, вернуть «успех»
}</pre>
 <p>
  Каким должно быть возвращаемое значение функции? Первое, что приходит в голову после прочтения постановки задачи («не просто bool, а ещё и причину»), — это пара из bool и InvalidDateReason:
 </p>
 <pre language="c_cpp">pair&lt;bool, InvalidDateReason&gt; CheckDate(const Date&amp; date) {
  if (date.year &lt; 1) {
    return {false, InvalidDateReason::NONPOSITIVE_YEAR};
  } else if (date.month &lt; 1) {
    return {false, InvalidDateReason::MONTH_TOO_SMALL};
  } else if (date.month &gt; 12) {
    return {false, InvalidDateReason::MONTH_TOO_BIG};
  } // ...
  
  return {true, {}};
}</pre>
 <p>
  Функцию мы как-то написали, но теперь поставим себя на место разработчика, который хочет эту функцию использовать и видит только сигнатуру (так обычно и бывает, например, в подсказках IDE: заставлять людей читать реализацию функции часто считается неприличным):
 </p>
 <pre language="c_cpp">pair&lt;bool, InvalidDateReason&gt; CheckDate(const Date&amp; date);</pre>
 <p>
  К этой функции могут возникнуть следующие вопросы:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    bool в возвращаемом значении означает, что дата хорошая или плохая?
    <em>
     (Тут помогло бы использовать вместо пары структуру, в которой bool-поле называлось бы is_date_ok, но см. следующий пункт.)
    </em>
   </p>
  </li>
  <li>
   <p>
    Если дата хорошая, содержится ли какая-то информация в InvalidDateReason? Не надо ли её проверить на всякий случай? Внутренний параноик подсказывает, что в функции с такой сигнатурой эта проблема рано или поздно случится: либо на вызывающей стороне кто-то будет смотреть только на InvalidDateReason и находить нам валидное значение при корректной дате, либо при доработке функции кто-то решит добавить причину InvalidDateReason::OK и забудет про bool.
   </p>
  </li>
 </ol>
 <p>
  Итак, нужно чуть критичнее отнестись к возвращаемому значению функции. Формально говоря, в нём находится либо false и причина отклонения, либо true без дополнительной информации. Можно договориться, что отсутствие причины отклонения — это автоматически успех, и сформулировать так: если дата не прошла валидацию, функция возвращает причину отклонения, иначе не возвращает ничего.
 </p>
 <h2 level="2">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/40_optional.md#%D0%B2%D0%BE%D0%B7%D0%B2%D1%80%D0%B0%D1%82-optional-%D0%B8%D0%B7-%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8">
  </a>
  Возврат optional из функции
 </h2>
 <p>
  Для того, чтобы хранить «T или ничего», отлично подходит шаблон optional&lt;T&gt; из библиотеки &lt;optional&gt;(появившийся в C++17), в данном случае — optional&lt;FailReason&gt;. Заметим, что FailReason неявно приводится к optional&lt;FailReason&gt;, а для инициализации пустого optional используется специальный объект nullopt. Перепишем функцию с учётом этого:
 </p>
 <pre language="c_cpp">optional&lt;InvalidDateReason&gt; CheckDate(const Date&amp; date) {
  if (date.year &lt; 1) {
    return InvalidDateReason::NONPOSITIVE_YEAR;
  } else if (date.month &lt; 1) {
    return InvalidDateReason::MONTH_TOO_SMALL;
  } else if (date.month &gt; 12) {
    return InvalidDateReason::MONTH_TOO_BIG;
  } // ...
  
  return nullopt;
}</pre>
 <p>
  Даже код самой функции стал чище и понятнее. Возникает, однако, один вопрос: раз уж у optional есть конструктор по умолчанию, создающий пустой optional, зачем использовать nullopt? Нельзя ли просто использовать return {}?
 </p>
 <pre language="c_cpp">optional&lt;InvalidDateReason&gt; CheckDate(const Date&amp; date) {
  if (date.year &lt; 1) {
    return InvalidDateReason::NONPOSITIVE_YEAR;
  } else if (date.month &lt; 1) {
    return InvalidDateReason::MONTH_TOO_SMALL;
  } else if (date.month &gt; 12) {
    return InvalidDateReason::MONTH_TOO_BIG;
  } // ...
  
  return {};
}</pre>
 <p>
  Такой код будет компилироваться и корректно работать, но nullopt ввели неспроста. Представьте себе следующий рефакторинг этой функции:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Будем возвращать из функции дополнительную информацию не только для некорректных дат, но и для корректных.
   </p>
  </li>
  <li>
   <p>
    InvalidDateReason переименуем в DateDescription и добавим в enum «хорошие» причины.
   </p>
  </li>
 </ol>
 <p>
  Теперь функция будет возвращать не optional, а просто DateDescription, но при этом в рефакторинг может закрасться ошибка: в одной из веток функции останется return {}.
 </p>
 <pre language="c_cpp">DateDescription CheckDate(const Date&amp; date) {
  if (date.year &lt; 1) {
    return DateDescription::NONPOSITIVE_YEAR;
  } else if (date.month &lt; 1) {
    return DateDescription::MONTH_TOO_SMALL;
  } else if (date.month &gt; 12) {
    return DateDescription::MONTH_TOO_BIG;
  } // ...
  
  if (IsWeekend(date)) {
    return DateDescription::WEEKEND;
  } else {
    return {};
  }
}</pre>
 <p>
  Такой код всё равно скомпилируется, но при этом return {} будет означать «вернуть DateDescription со значением по умолчанию» — а это уже будет не «отсутствие объекта», а например, DateDescription::NONPOSITIVE_YEAR.
 </p>
 <p>
  Итак, практика возвращать nullopt страхует от случайных ошибок при рефакторинге функции.
 </p>
 <h2 level="2">
  Обработка optional, полученного из функции
 </h2>
 <p>
  Кратко разберём, как можно коротко и понятно использовать полученный из функции optional. Более полную информацию можно найти
  <a href="https://en.cppreference.com/w/cpp/utility/optional">
   на cppreference.com
  </a>
  .
 </p>
 <p>
  Как правило, при вызове функции подобного рода нужно проверить успешность валидации и в случае проблем куда-то залогировать причину. Здесь помогут два метода шаблона optional:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    operator bool. Любой объект optional может неявно приводиться к bool, что позволяет использовать его непосредственно в условии if: если optional содержит значение, он приведётся к true, в противном случае — к false.
   </p>
  </li>
  <li>
   <p>
    operator*. Получить значение из optional (при его наличии) можно с помощью компактного синтаксиса — оператора *.
   </p>
  </li>
 </ul>
 <p>
  По сути эти операторы позволяют использовать optional как указатель: простым if проверяем, есть ли значение, и если есть — получаем его «разыменованием». Итого, код вызова CheckDate и использования результата может выглядеть следующим образом:
 </p>
 <pre language="c_cpp">if (const auto invalid_date_reason = CheckDate(date)) {
  LogFailure(date, *invalid_date_reason);
  return;
}</pre>
 <p>
  Здесь использован удобный синтаксис инициализации переменной непосредственно в условии if. Он работает следующим образом:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Переменная invalid_date_reason создаётся и инициализируется с помощью вызова CheckDate(date). Область видимости переменной — весь if вместе с последующими else if и else.
   </p>
  </li>
  <li>
   <p>
    Переменная invalid_date_reason проверяется на истинность, в данном случае — с помощью упомянутого выше operator bool.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Эффективность возврата через optional
 </h2>
 <p>
  Коротко обсудим, насколько эффективен возврат тяжёлых объектов через optional.
 </p>
 <p>
  Рассмотрим такой код:
 </p>
 <pre language="c_cpp">optional&lt;HeavyObject&gt; ReturnTemporary() {
  return HeavyObject(/* ... */);
}

optional&lt;HeavyObject&gt; ReturnVariable() {
  HeavyObject heavy(/* ... */);
  return heavy;
}</pre>
 <p>
  По сути в обоих случаях при возврате из функции осуществляется неявный вызов конструктора optional:
 </p>
 <pre language="c_cpp">optional&lt;HeavyObject&gt; ReturnTemporary() {
  return optional&lt;HeavyObject&gt;(HeavyObject(/* ... */));
}

optional&lt;HeavyObject&gt; ReturnVariable() {
  HeavyObject heavy(/* ... */);
  return optional&lt;HeavyObject&gt;(heavy);
}</pre>
 <p>
  В функции ReturnTemporary ожидаемо происходит следующее:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    optional инициализируется временным объектом, так что HeavyObject перемещается в объект optional.
   </p>
  </li>
  <li>
   <p>
    Из функции возвращается временный объект optional, так что срабатывает copy elision.
   </p>
  </li>
 </ol>
 <p>
  В функции ReturnVariable второй пункт остаётся в силе, но в первом происходит инициализация с помощью обычной переменной, которая — при отсутствии move — может лишь честно скопироваться. Тем не менее, практика показывает, что в варианте ReturnVariable при использовании простой версии return — return heavy; — современные компиляторы
  <em>
   с лёгкостью избегают лишних копирований,
  </em>
  даже если речь идёт об объектах с большим количеством данных на стеке, для которых перемещение не срабатывает.
 </p>
 <h2 level="2">
  Передача optional в функцию
 </h2>
 <p>
  Обсудим ещё одно применение optional в контексте функций.
 </p>
 <p>
  При необходимости передать в функцию простой объект — например, число — со значением по умолчанию, сигнализирующим об отсутствии числа, это значение по умолчанию может выглядеть неестественно. Рассмотрим, например, функцию, печатающую содержимое числового вектора, с дополнительным необязательным аргументом — количеством первых чисел, которым нужно ограничить вывод:
 </p>
 <pre language="c_cpp">void PrintNumbers(const vector&lt;int&gt;&amp; numbers, int first_element_count = -1) {
  for (int i = 0;
       i &lt; static_cast&lt;int&gt;(numbers.size()) &amp;&amp; (first_element_count == -1 || i &lt; first_element_count);
       ++i) {
    cout &lt;&lt; numbers[i] &lt;&lt; ' ';
  }
}</pre>
 <p>
  Во-первых, сразу возникли проблемы с беззнаковостью. numbers.size() имеет беззнаковый тип size_t и поэтому может с ходу (то есть без предупреждений компилятора) сравниваться лишь с беззнаковыми числами. Но если сделать переменную цикла i беззнаковой, нужно делать беззнаковым и first_element_count — чего сделать нельзя, потому что он может иметь специальное ничего не значащее значение -1. Можно, конечно, вместо -1 использовать numeric_limits&lt;size_t&gt;::max() (как сделано для string::npos), но тогда мы в качестве бонуса получим ещё и громоздкое значение по умолчанию.
 </p>
 <p>
  Наконец, бывают ситуации, когда специальное «невалидное» значение по умолчанию для числового параметра придумать просто нельзя — например, если это число является хешом и легко может быть совершенно произвольным набором из 64 бит.
 </p>
 <p>
  В этих ситуациях тоже помогает optional:
 </p>
 <pre language="c_cpp">void PrintNumbers(const vector&lt;int&gt;&amp; numbers,
                  optional&lt;size_t&gt; first_element_count = nullopt) {
  for (size_t i = 0;
       i &lt; numbers.size() &amp;&amp; (!first_element_count || i &lt; *first_element_count);
       ++i) {
    cout &lt;&lt; numbers[i] &lt;&lt; ' ';
  }
}</pre>
 <p>
  Вариант более изящного кода — вычислить границу один раз:
 </p>
 <pre language="c_cpp">void PrintNumbers(const vector&lt;int&gt;&amp; numbers, optional&lt;size_t&gt; 
                  first_element_count = nullopt) {
  const size_t bound = min(numbers.size(),
                           first_element_count.value_or(
                               numeric_limits&lt;size_t&gt;::max()));
  for (size_t i = 0; i &lt; bound; ++i) {
    cout &lt;&lt; numbers[i] &lt;&lt; ' ';
  }
}</pre>
 <p>
  С учётом того, что optional&lt;size_t&gt; хранит лишь bool и size_t, его спокойно можно передавать по значению.
 </p>
 <h2 level="2">
  Итоги
 </h2>
 <p>
  Шаблон optional позволяет без лишних костылей реализовать семантику «храню объект или ничего». Это актуально как для возврата значений из функций, так и для передачи параметров и даже для обычных переменных. Если вы поймали себя на том, что пытаетесь выдумать нетривиальное значение по умолчанию для числовой переменной, рассмотрите возможность оборачивания её в optional.
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
