<meta charset="utf-8"/>
<co-content>
 <p>
  Ранее мы обсуждали, как передать в функцию набор объектов. Это делалось одним из следующих способов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    передать контейнер по константной ссылке — самый простой, но не очень универсальный;
   </p>
  </li>
  <li>
   <p>
    передать два итератора или (в светлом будущем) range — более универсальный, но чуть менее прозрачный;
   </p>
  </li>
  <li>
   <p>
    передать span — для тех случаев, когда необходимо, чтобы элементы хранились в памяти подряд.
   </p>
  </li>
 </ul>
 <p>
  Здесь же мы обсудим различные способы возвращения набора объектов одного типа из функции.
 </p>
 <h2 level="2">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D1%82%D1%8C-%D0%BA%D0%BE%D0%BD%D1%82%D0%B5%D0%B9%D0%BD%D0%B5%D1%80">
  </a>
  Вернуть контейнер
 </h2>
 <p>
  Совершенно очевидно, что если функция должна построить, например, unordered_set объектов для быстрого поиска в нём, надо просто вернуть unordered_set и больше ничего не выдумывать.
 </p>
 <p>
  На практике всё же чаще встаёт вопрос о том, как стоит вернуть набор объектов, по которому нужно всего лишь уметь проитерироваться. И самый простой ответ на этот вопрос — вернуть вектор.
 </p>
 <p>
  Итак, возвращайте из функции вектор объектов, если вам не требуется серьёзная универсальность, как при написании библиотеки, и сам вектор удовлетворяет всем требованиям задачи.
 </p>
 <h2 level="2">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D1%82%D1%8C-view">
  </a>
  Вернуть view
 </h2>
 <p>
  Вектор подходит для возврата из функции набора объектов, которые функция создала специально в этом вызове и готова отдать их и забыть. Но бывают ситуации, когда функция или метод хочет дать возможность проитерироваться по набору объектов, не передавая владение самими объектами и не выделяя дополнительную память под контейнер.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B0-%D0%BD%D0%B0-%D0%BA%D0%BE%D0%BD%D1%82%D0%B5%D0%B9%D0%BD%D0%B5%D1%80">
  </a>
  Ссылка на контейнер
 </h3>
 <p>
  Конечно же, самый простой способ это сделать — вернуть константную ссылку на контейнер. Так мы делали, например, в решении задачи «Таблица» из «Красного пояса»:
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
class Table {
 private:
  vector&lt;vector&lt;T&gt;&gt; data;

 public:
  // ...

  const vector&lt;T&gt;&amp; operator [] (size_t idx) const {
    return data[idx];
  }

  // ...
};</pre>
 <p>
  <em>
   (table[i] вернёт ссылку на вектор: по нему можно как проитерироваться, так и обратиться к конкретному элементу по номеру.)
  </em>
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#string_view">
  </a>
  string_view
 </h3>
 <p>
  Не всегда удобно возвращать из метода ссылку на конкретный контейнер, поскольку это может усложнить изменение способа хранения в функции: меняя, например, вектор на дек, вам нужно будет не только изменить возвращаемое значение всех методов, возвращавших ссылку на вектор, но и поправить весь код, который, вызывая эти методы, сохранял куда-то ссылку на этот вектор.
 </p>
 <p>
  Именно для этого существуют различные view-типы, позволяющие сослаться на набор элементов, не владея им. С одним из них мы познакомились в предыдущем курсе — это класс string_view. В качестве возвращаемого значения он выступал, например, в задаче Translator:
 </p>
 <pre language="c_cpp">class Translator {
public:
  void Add(string_view source, string_view target);
  string_view TranslateForward(string_view source) const;
  string_view TranslateBackward(string_view target) const;

private:
  map&lt;string_view, string_view&gt; forward_dict;
  map&lt;string_view, string_view&gt; backward_dict;
  deque&lt;string&gt; data;
}</pre>
 <p>
  Как мы уже обсуждали, string_view универсальнее простой ссылки на string и может ссылаться как на подстроку, так и на строковую константу в кавычках (вроде такой: "i'm a string literal").
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#span">
  </a>
  span
 </h3>
 <p>
  Другой пример такого класса — span, позволяющий сослаться на диапазон любых объектов, расположенных в памяти подряд. Его можно было бы применить в задаче AirportCounter из 3-го курса, если бы приведённые нами бенчмарки пропускали реализацию класса, хранящую набор пар (аэропорт, количество):
 </p>
 <pre language="c_cpp">template &lt;typename TAirport&gt;
class AirportCounter {
public:
  AirportCounter();

  template &lt;typename TIterator&gt;
  AirportCounter(TIterator begin, TIterator end);

  size_t Get(TAirport airport) const;
  void Insert(TAirport airport);
  void EraseOne(TAirport airport);
  void EraseAll(TAirport airport);

  using Item = pair&lt;TAirport, size_t&gt;;
  static const size_t SIZE = static_cast&lt;size_t&gt;(TAirport::Last_);
  using Items = array&lt;Item, SIZE&gt;;

  // требовалось получить некоторый объект, по которому можно проитерироваться,
  // получив набор объектов типа Item - пар (аэропорт, количество),
  // упорядоченных по аэропорту
  const Items&amp; GetItems() const {
    return items_;
  }

private:
  Items items_;
};</pre>
 <p>
  Здесь приведён вариант с возвращением константной ссылки на массив. Но есть дешёвый способ сделать эту функцию чуть более гибкой: достаточно возвращать диапазон Item в виде span:
 </p>
 <pre language="c_cpp">template &lt;typename TAirport&gt;
span&lt;Item&gt; AirportCounter&lt;TAirport&gt;::GetItems() const {
  return items_;
}</pre>
 <p>
  Теперь при необходимости можно изменить хранилище items_ на вектор, не меняя код, использующий GetItems.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#range">
  </a>
  Range
 </h3>
 <p>
  И string_view, и span ссылаются на диапазон элементов, расположенных в памяти подряд. Но что делать, если проитерироваться по объектам я могу, но их расположение в памяти не позволяет использовать span? Такая ситуация возникала в методе Domain::GetParts в задаче «Запрещённые домены»:
 </p>
 <pre language="c_cpp">template &lt;typename It&gt;
class Range {
public:
  Range(It begin, It end) : begin_(begin), end_(end) {}
  It begin() const { return begin_; }
  It end() const { return end_; }

private:
  It begin_;
  It end_;
};

class Domain {
public:
  explicit Domain(string_view text) {
    vector&lt;string_view&gt; parts = Split(text, ".");
    parts_reversed_.assign(rbegin(parts), rend(parts));
  }

  size_t GetPartCount() const;

  // здесь можно было бы вернуть span
  auto GetReversedParts() const {
    return Range(begin(parts_reversed_), end(parts_reversed_));
  }
  // а здесь — нет
  auto GetParts() const {
    return Range(rbegin(parts_reversed_), rend(parts_reversed_));
  }

  bool operator==(const Domain&amp; other) const;

private:
  vector&lt;string&gt; parts_reversed_;
};</pre>
 <p>
  Как видите, здесь возникла задача вернуть набор объектов, описывающийся двумя итераторами rbegin(parts_reversed_) и rend(parts_reversed_). Это можно было бы сделать с помощью пары (как делает алгоритм std::equal_range), но тогда мы бы не могли проитерироваться по этому набору с помощью простой конструкции for (string_view part : domain.GetParts()) { /* ... */ }. Поскольку известно, что такой цикл for требует от итерируемого объекта лишь методов begin и end, мы вернули те же два итератора, но обернув их в класс Range.
 </p>
 <p>
  Напомним, что использование ranges позволило отказаться от самописного класса Range и даже от явного использования обратных итераторов:
 </p>
 <pre language="c_cpp">class Domain {
public:
  explicit Domain(string_view text) {
    vector&lt;string_view&gt; parts = Split(text, ".");
    parts_.assign(begin(parts), end(parts));
  }

  size_t GetPartCount() const;

  auto GetParts() const {
    return view::all(parts_);
  }
  auto GetReversedParts() const {
    return view::reverse(parts_);
  }

  bool operator==(const Domain&amp; other);

private:
  vector&lt;string&gt; parts_;
};</pre>
 <p>
  Итак, вернуть из функции два итератора, обёрнутых в Range, — это наиболее универсальный способ вернуть набор объектов, не передавая владение ими (как ещё говорят,
  <em>
   «вернуть view набора объектов»).
  </em>
 </p>
 <h2 level="2">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#%D0%BF%D1%80%D0%B8%D0%BD%D1%8F%D1%82%D1%8C-%D0%B2%D1%8B%D1%85%D0%BE%D0%B4%D0%BD%D0%BE%D0%B9-%D0%B8%D1%82%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80">
  </a>
  Принять выходной итератор
 </h2>
 <p>
  Вернёмся к вопросу о том, как вернуть набор объектов,
  <strong>
   передав владение
  </strong>
  ими — грубо говоря, вернуть и забыть. Вернуть контейнер с элементами — простое и понятное решение, но в некоторых ситуациях от функции хочется большей гибкости. Более универсальный способ вы уже встречали в стандартной библиотеке — например, при работе с алгоритмом merge в задаче «Сортировка слиянием»:
 </p>
 <pre language="c_cpp">template &lt;typename RandomIt&gt;
void MergeSort(RandomIt range_begin, RandomIt range_end) {
  // 1. Если диапазон содержит меньше 2 элементов, выходим из функции
  int range_length = range_end - range_begin;
  if (range_length &lt; 2) {
    return;
  }
  
  // 2. Создаем вектор, содержащий все элементы текущего диапазона
  using T = typename iterator_traits&lt;RandomIt&gt;::value_type;
  vector&lt;T&gt; elements(range_begin, range_end);
  
  // 3. Разбиваем вектор на две равные части
  auto mid = elements.begin() + range_length / 2;
  
  // 4. Вызываем функцию MergeSort от каждой половины вектора
  MergeSort(elements.begin(), mid);
  MergeSort(mid, elements.end());
  
  // 5. С помощью алгоритма merge сливаем отсортированные половины
  // в исходный диапазон
  // merge -&gt; http://ru.cppreference.com/w/cpp/algorithm/merge
  merge(elements.begin(), mid, mid, elements.end(), range_begin);
}</pre>
 <p>
  Как и другие подобные алгоритмы, merge возвращает набор элементов согласно некоторой своей логике. И эта логика по сути просто «генерирует» элементы по одному, совершенно не нуждаясь в понимании того, в какой контейнер эти элементы будут складываться (и будут ли вообще). И вот такая универсальность, абстрагированная от конкретного контейнера, ожидаемо реализована с помощью итераторов — в данном случае с помощью выходного итератора, передаваемого в merge 5-м аргументом.
 </p>
 <p>
  Рассмотрим различные способы сохранить результат вызова merge, передавая туда разные выходные итераторы.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#%D0%B8%D1%82%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80-%D0%BD%D0%B0-%D0%BA%D0%BE%D0%BD%D1%82%D0%B5%D0%B9%D0%BD%D0%B5%D1%80">
  </a>
  Итератор на контейнер
 </h3>
 <pre language="c_cpp">array&lt;T, 100000&gt; result;
const auto result_end = merge(/* ... */, begin(result));
// результат лежит в полуинтервале [begin(result), result_end)
</pre>
 <p>
  Можно передать итератор на неконстантный контейнер — например, на массив. Здесь наверняка пригодится значение, возвращаемое подобными функциями, — конец выходного диапазона.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#inserter-%D0%B8-back_inserter">
  </a>
  inserter и back_inserter
 </h3>
 <p>
  Напомним, что в качестве выходного итератора можно передать специальный back_insert_iterator, при записи в который происходит push_back в указанный контейнер:
 </p>
 <pre language="c_cpp">vector&lt;T&gt; result;
merge(/* ... */, back_inserter(result));
// результат лежит в векторе result
</pre>
 <p>
  Для вызова метода insert — например, для множества — существует insert_iterator, создаваемый с помощью функции inserter:
 </p>
 <pre language="c_cpp">set&lt;T&gt; result;
merge(/* ... */, inserter(result, end(result)));
// результат лежит во множестве result
</pre>
 <p>
  Обратите внимание, что здесь выходным итератором называется уже не объект, который указывает на некоторое место контейнера, начиная с которого можно записывать результат. На примере inserter и back_inserter видно, что от выходного итератора требуется лишь каким-то образом обрабатывать очередное сохраемое значение. Причём делать это нужно хитро — при операциях вида *iter = value. Реализованы такие итераторы довольно интересным образом: operator++ и даже operator* для них не делают ничего, зато operator=(const T&amp;) обрабатывает очередное значение типа T, вызывая, например, push_back.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#ostream_iterator">
  </a>
  ostream_iterator
 </h3>
 <p>
  Ещё один пример подобного итератора — итератор вывода в поток:
 </p>
 <pre language="c_cpp">merge(/* ... */, ostream_iterator&lt;T&gt;(cout, " "));
// результат выведен в cout через пробел</pre>
 <p>
  С помощью ostream_iterator можно вывести элементы контейнера в поток с помощью вызова copy:
 </p>
 <pre language="c_cpp">vector&lt;int&gt; numbers = {2, 1, 9, 2};
copy(begin(numbers), end(numbers), ostream_iterator&lt;int&gt;(cout, " "));</pre>
 <p>
  Но проще всё же написать for.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B2%D1%8B%D1%85%D0%BE%D0%B4%D0%BD%D0%BE%D0%B3%D0%BE-%D0%B8%D1%82%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B0-%D0%B8%D1%82%D0%BE%D0%B3%D0%B8">
  </a>
  Использование выходного итератора: итоги
 </h3>
 <p>
  Итак, функции, возвращающие элементы с помощью выходного итератора довольно универсальны: с их помощью можно как перезаписать результатом существующий контейнер, так и создать новый или даже вывести результат непосредственно в поток.
 </p>
 <p>
  Реализовать их не сложнее, чем возврат контейнера элементов: достаточно каждый новый элемент «отдавать» итератору с помощью конструкции *out_iter = yet_another_value. Продемонстрируем это на примере функции ReadDomains. Так выглядел вариант с возвратом вектора:
 </p>
 <pre language="c_cpp">vector&lt;Domain&gt; ReadDomains(istream&amp; in_stream = cin) {
  vector&lt;Domain&gt; domains;

  size_t count;
  in_stream &gt;&gt; count;
  domains.reserve(count);

  for (size_t i = 0; i &lt; count; ++i) {
    string domain_text;
    in_stream &gt;&gt; domain_text;
    domains.emplace_back(domain_text);
  }
  return domains;
}</pre>
 <p>
  При использовании выходного итератора код станет даже чуть компактнее:
 </p>
 <pre language="c_cpp">template &lt;typename OutputIterator&gt;
OutputIterator ReadDomains(OutputIterator result_it, istream&amp; in_stream = cin) {
  size_t count;
  in_stream &gt;&gt; count;

  for (size_t i = 0; i &lt; count; ++i) {
    string domain_text;
    in_stream &gt;&gt; domain_text;
    *result_it++ = Domain(domain_text);
  }
  return result_it;
}</pre>
 <p>
  С другой стороны, из-за разнообразия сценариев использования таких функций страдает простота использования. Представьте себе, что хотите вызвать функцию ReadDomains и проитерироваться по полученным доменам. Вот так это будет выглядеть при возврате вектора:
 </p>
 <pre language="c_cpp">for (const Domain&amp; domain : ReadDomains()) {
  // ...
}</pre>
 <p>
  Если же ReadDomains будет работать через выходной итератор, понадобится пара лишних строк:
 </p>
 <pre language="c_cpp">vector&lt;Domain&gt; domains;
ReadDomains(back_inserter(domains));
for (const Domain&amp; domain : domains) {
  // ...
}</pre>
 <p>
  Мало того, что создание вектора перекладывается на плечи вызывающего кода, так ещё и пропадает возможность вызова reserve: возвращая вектор, функция чётко понимала, с каким контейнером работает, и её разработчик мог вызвать reserve; универсальный же вариант работает с итератором и про контейнер ничего не знает, а вызывающий код, в свою очередь, не знает предполагаемый размер контейнера и reserve вызвать не может.
 </p>
 <p>
  Таким образом, у универсальных функций, использующих выходные итераторы, есть свои минусы: громоздкость некоторых сценариев вызова и недостаток знаний про контейнер в самой функции.
 </p>
 <h2 level="2">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/texts/80_return_range.md#%D0%BF%D1%80%D0%B8%D0%BD%D1%8F%D1%82%D1%8C-callback">
  </a>
  Принять callback
 </h2>
 <p>
  Если вы знакомы с колбеками на примере других языков, то можете поинтересоваться: нельзя ли вместо выходных итераторов, назначение которых заключается лишь в последовательной обработке возвращаемых объектов, использовать функциональный объект?
 </p>
 <p>
  Переделать функцию соответствующим образом несложно:
 </p>
 <pre language="c_cpp">template &lt;typename ResultConsumer&gt;
void ReadDomains(ResultConsumer result_consumer, istream&amp; in_stream = cin) {
  size_t count;
  in_stream &gt;&gt; count;

  for (size_t i = 0; i &lt; count; ++i) {
    string domain_text;
    in_stream &gt;&gt; domain_text;
    result_consumer(Domain(domain_text));
  }
}</pre>
 <p>
  С другой стороны, стандартные сценарии вида «получить набор объектов и проитерироваться по нему» усложняются. Так может выглядеть заполнение существующего вектора:
 </p>
 <pre language="c_cpp">vector&lt;Domain&gt; domains(MAX_DOMAIN_COUNT);
auto it = begin(domains);
ReadDomains([&amp;it](Domain domain) { *it++ = move(domain); });
domains.erase(it, end(domains));
</pre>
 <p>
  Для таких ситуаций вариант с выходным итератором подошёл бы лучше.
 </p>
 <p>
  Сценарии с серией push_back выглядят чуть приятнее: вместо back_inserter достаточно написать свою простую лямбду.
 </p>
 <pre language="c_cpp">vector&lt;Domain&gt; domains;
ReadDomains([&amp;domains](Domain domain) { domains.push_back(move(domain)); });</pre>
 <p>
  И не нужно тайных знаний про ostream_iterator:
 </p>
 <pre language="c_cpp">ReadDomains([](const Domain&amp; domain) { cout &lt;&lt; domain &lt;&lt; " "; });</pre>
 <p>
  <em>
   (Хотя нельзя не признать, что сценарий «считать домены и тут же вывести» выглядит странно.)
  </em>
 </p>
 <p>
  Наконец, в концепцию колбеков легко укладывается любое экзотическое желание по обработке элементов без складывания их в контейнер. Например, в той же задаче «Запрещённые домены» можно было бы не выделять память под домены-запросы.
 </p>
 <p>
  Исходный код функции main был таким:
 </p>
 <pre language="c_cpp">const vector&lt;Domain&gt; banned_domains = ReadDomains();
const vector&lt;Domain&gt; domains_to_check = ReadDomains();
PrintCheckResults(CheckDomains(banned_domains, domains_to_check));
</pre>
 <p>
  Если же представить себе callback-версию ReadDomains, избавиться от второго вектора можно примерно так:
 </p>
 <pre language="c_cpp">vector&lt;Domain&gt; banned_domains;
ReadDomains(
    [&amp;banned_domains](Domain domain) { banned_domains.push_back(move(domain)); }
);

const DomainChecker checker(begin(banned_domains), end(banned_domains));
ReadDomains([&amp;checker](const Domain&amp; domain) {
  cout &lt;&lt; (checker.IsSubdomain(domain) ? "Bad" : "Good") &lt;&lt; "\n";
});</pre>
 <p>
  Вся логика перемешана, читать тяжело, лямбды не покрыты тестами, зато достаточно элегантно и не пришлось радикально менять функцию ReadDomains и тесты на неё. На выходных итераторах реализовывать такое было бы менее приятно: пришлось бы создавать отдельный класс выходного итератора, запись в который вызывала бы IsSubdomain и выводила бы результат. С учётом того, что итераторы принято передавать по значению, такая задача становится сама по себе довольно нетривиальной.
 </p>
 <h2 level="2">
  Итоги
 </h2>
 <p>
  Для возврата из функции набора объектов без передачи владения ими есть следующие варианты:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Вернуть ссылку на контейнер: не очень гибко и нарушает инкапсуляцию.
   </p>
  </li>
  <li>
   <p>
    Вернуть span или string_view: неплохо, но подходит только для определённых контейнеров.
   </p>
  </li>
  <li>
   <p>
    Вернуть самописный Range из двух итераторов (или дождаться C++20 и использовать ranges): максимально гибко, но иногда подойдут и более простые варианты.
   </p>
  </li>
 </ol>
 <p>
  Если же функция возвращает набор объектов с передачей владения, градация вариантов от простого к сложному следующая:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Вернуть контейнер: просто и понятно, но расходует память под хранение элементов.
   </p>
  </li>
  <li>
   <p>
    Принять выходной итератор, записать в него и вернуть новое состояние: совместимо со стандартной библиотекой, но немного громоздко в месте вызова и тяжело кастомизируемо под сложные ситуации.
   </p>
  </li>
  <li>
   <p>
    Принять callback, потребляющий элементы: несовместимо со стандартной библиотекой и громоздко для простых случаев, но легко кастомизируемо.
   </p>
  </li>
 </ol>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
