<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Пример из предыдущего видео
 </h2>
 <p>
  В предыдущем видео был продемонстрирован пример использования паттерна Builder для рефакторинга класса ReadingManager. Напомним его код.
 </p>
 <p>
  Специальный класс ReadingManagerBuilder содержит Set-методы для установки различных параметров и метод Build для создания объекта ReadingManager:
 </p>
 <pre language="c_cpp">class ReadingManagerBuilder {
public:
  ReadingManagerBuilder&amp; SetMaxUserCount(int max_user_count);
  ReadingManagerBuilder&amp; SetMaxPageCount(int max_page_count);
  ReadingManagerBuilder&amp; SetCheerFactor(double cheer_factor);

  ReadingManager Build() const {
    // throw exception if not valid
    return {max_user_count_, max_page_count_, cheer_factor_};
  }

private:
  int max_user_count_;
  int max_page_count_;
  double cheer_factor_;
};</pre>
 <p>
  Исходный класс ReadingManager содержит приватный конструктор, доступ к которому имеет ReadingManagerBuilder:
 </p>
 <pre language="c_cpp">class ReadingManager {
public:
  friend class ReadingManagerBuilder;
  // ...

private:
  // ...
  ReadingManager(int max_user_count, int max_page_count, double cheer_factor);
  // ...
};</pre>
 <p>
  Для создания объекта ReadingManager используется цепочка Set-методов, завершающаяся вызовом метода Build:
 </p>
 <pre language="c_cpp">ReadingManager manager =
    ReadingManagerBuilder()
    .SetMaxUserCount(10000)
    .SetMaxPageCount(500)
    .SetCheerFactor(2)
    .Build();
    </pre>
 <p>
  В этом материале мы рассмотрим различные вариации этого подхода.
 </p>
 <h2 level="2">
  Подход 1. Оператор неявного преобразования вместо метода Build
 </h2>
 <p>
  Можно избавиться от необходимости вызывать метод Build, воспользовавшись оператором приведения типа:
 </p>
 <pre language="c_cpp">class ReadingManagerBuilder {
public:
  ReadingManagerBuilder&amp; SetMaxUserCount(int max_user_count);
  ReadingManagerBuilder&amp; SetMaxPageCount(int max_page_count);
  ReadingManagerBuilder&amp; SetCheerFactor(double cheer_factor);

  operator ReadingManager() const {
    // throw exception if not valid
    return {max_user_count_, max_page_count_, cheer_factor_};
  }

private:
  int max_user_count_;
  int max_page_count_;
  double cheer_factor_;
};</pre>
 <p>
  Указанный оператор автоматически вызовется при попытке преобразовать ReadingManagerBuilder к ReadingManager:
 </p>
 <pre language="c_cpp">ReadingManager manager =
    ReadingManagerBuilder()
    .SetMaxUserCount(10000)
    .SetMaxPageCount(500)
    .SetCheerFactor(2);
    </pre>
 <p>
  Код стал более компактным, но непрозрачность такого преобразования и возможность выброса исключения в процессе него часто становятся аргументом против этого подхода.
 </p>
 <h2 level="2">
  Подход 2. Принимать в конструкторе ReadingManager структуру, созданную с помощью Set-методов
 </h2>
 <p>
  Такой способ рефакторинга даже более понятен. Если у конструктора ReadingManager слишком много параметров, давайте объединим эти параметры в структуру, а уж с созданием этой структуры как-нибудь разберёмся:
 </p>
 <pre language="c_cpp">class ReadingManager {
public:
  ReadingManager(const ReadingManagerParams&amp; params);
  // ...

private:
  // ...
};</pre>
 <p>
  В данном случае валидность набора параметров будет проверять сам конструктор.
 </p>
 <p>
  Структуру ReadingManagerParams можно почти полностью списать с ReadingManagerBuilder:
 </p>
 <pre language="c_cpp">struct ReadingManagerParams {
  int max_user_count;
  int max_page_count;
  double cheer_factor;

  ReadingManagerParams&amp; SetMaxUserCount(int max_user_count) {
  	this-&gt;max_user_count = max_user_count;
  	return *this;
  }

  ReadingManagerParams&amp; SetMaxPageCount(int max_page_count) {
  	this-&gt;max_page_count = max_page_count;
  	return *this;
  }

  ReadingManagerParams&amp; SetCheerFactor(double cheer_factor) {
  	this-&gt;cheer_factor = cheer_factor;
  	return *this;
  }
};</pre>
 <p>
  Создание ReadingManager будет выглядеть следующим образом:
 </p>
 <pre language="c_cpp">ReadingManager manager(
    ReadingManagerParams()
    .SetMaxUserCount(10000)
    .SetMaxPageCount(500)
    .SetCheerFactor(2)
);</pre>
 <p>
  Оставлять ли поля структуры публичными или делать её классом — дело вкуса.
 </p>
 <h2 level="2">
  Подход 3. Принимать в конструкторе ReadingManager структуру, созданную с помощью designated initializers
 </h2>
 <p>
  При создании структуры можно указывать названия полей (так называемые
  <a href="https://en.cppreference.com/w/cpp/language/aggregate_initialization#Designated_initializers" title="">
   designated initializers
  </a>
  ), но со следующими оговорками:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Они полностью поддерживаются в языке C.
   </p>
  </li>
  <li>
   <p>
    Они поддерживаются в компиляторах C++, но полулегально, в целях совместимости с C.
   </p>
  </li>
  <li>
   <p>
    Официально в C++ эта возможность появится в стандарте C++20.
   </p>
  </li>
 </ul>
 <p>
  Возможность явно указывать названия полей снижает вероятность ошибки и не требует создания Set-методов:
 </p>
 <pre language="c_cpp">ReadingManager manager(ReadingManagerParams{
    .max_user_count = 10000,
    .max_page_count = 500,
    .cheer_factor = 2
});</pre>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
