<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Введение
 </h2>
 <p>
  Мы подробно обсудили проблемы конструкторов с большим количеством параметров и способы решения этих проблем. Понятно, что теми же недостатками могут обладать любые функции и методы.
 </p>
 <p>
  Напомним проблемы, присущие таким функциям:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Большое количество параметров затрудняет понимание и тестирование функции.
   </p>
  </li>
  <li>
   <p>
    Большое количество целочисленных и булевых параметров приводят к ошибкам в месте вызова и необходимости упоминать название аргумента рядом с его значением.
   </p>
  </li>
 </ol>
 <p>
  В качестве примера рассмотрим гипотетическую функцию парсинга (разбора) поискового запроса:
 </p>
 <pre language="c_cpp">Query ParseQuery(
    string_view text, int country_id,
    int max_word_count, int max_word_length, int max_form_count_per_word,
    bool allow_minus_words, bool keep_stop_words, bool case_sensitive
);</pre>
 <p>
  Для порядка разъясним смысл параметров:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    text — сам поисковый запрос;
   </p>
  </li>
  <li>
   <p>
    country_id — id страны, из которой он пришёл;
   </p>
  </li>
  <li>
   <p>
    max_word_count — максимальное количество слов, которое будет учтено;
   </p>
  </li>
  <li>
   <p>
    max_word_length — максимальное количество букв слова, которое будет учтено;
   </p>
  </li>
  <li>
   <p>
    max_form_count_per_word — максимальное количество словоформ, генерируемых на одно слово;
   </p>
  </li>
  <li>
   <p>
    allow_minus_words — обрабатывать ли
    <a href="https://yandex.ru/search/?text=%D0%BC%D0%B8%D0%BD%D1%83%D1%81-%D1%81%D0%BB%D0%BE%D0%B2%D0%BE" title="">
     минус-слова
    </a>
    ;
   </p>
  </li>
  <li>
   <p>
    keep_stop_words — считать ли
    <a href="https://yandex.ru/search/?text=%D1%81%D1%82%D0%BE%D0%BF-%D1%81%D0%BB%D0%BE%D0%B2%D0%BE" title="">
     стоп-слова
    </a>
    полноценными словами;
   </p>
  </li>
  <li>
   <p>
    case_sensitive — учитывать ли регистр слов.
   </p>
  </li>
 </ul>
 <p>
  Вызов этой функции может доставить серьёзный дискомфорт человеку, читающему код:
 </p>
 <pre language="c_cpp">const Query query = ParseQuery(text, 225,
                               7, 23, 20,
                               true, false, false);</pre>
 <p>
  Аргументы можно снабжать комментариями, но это не защитит от ошибок:
 </p>
 <pre language="c_cpp">const Query query = ParseQuery(text, /* country_id */ 7,
                               /* max_word_count */          225,
                               /* max_word_length */         23,
                               /* max_form_count_per_word */ 20,
                               /* allow_minus_words */       true,
                               /* keep_stop_words */         false,
                               /* case_sensitive */          false);
                               </pre>
 <h2 level="2">
  Структура для параметров
 </h2>
 <p>
  Решение, известное из предыдущей статьи, — объединение параметров функции в структуру с Set-методами. Громоздко, но безотказно.
 </p>
 <p>
  В случае функции ParseQuery можно было бы вынести в ParsingParams последние 6 параметров:
 </p>
 <pre language="c_cpp">const Query query =
    ParseQuery(
        text, 225,
        ParsingParams()
        .SetMaxWordCount(7)
        .SetMaxWordLength(23)
        .SetMaxFormCountPerWord(20)
        .SetAllowMinusWords(true)
    );</pre>
 <p>
  Параметрам keep_stop_words и case_sensitive можно присвоить значения по умолчанию, которые они получат при отсутствии вызова соответствующих Set-методов: это позволит не указывать их при инициализации ParsingParams.
 </p>
 <p>
  Вот так будет выглядеть вызов функции при использовании designated initializers (зададим все параметры для наглядности):
 </p>
 <pre language="c_cpp">const Query query =
    ParseQuery(
        text, 225, {
            .max_word_count = 7,
            .max_word_length = 23,
            .max_form_count_per_word = 20,
            .allow_minus_words = true,
            .keep_stop_words = false,
            .case_sensitive = false
        }
    );</pre>
 <h2 level="2">
  Превращение функции в метод класса
 </h2>
 <p>
  Если необходимо распарсить поток запросов с одинаковыми настройками, стоит рассмотреть вариант создания класса QueryParser с инициализацией по одной из рассмотренных выше методологий и методом Parse:
 </p>
 <pre language="c_cpp">class QueryParser {
public:
  QueryParser(const ParsingParams&amp; params);
  Query Parse(string_view text, int country_id);
};

// ... 

QueryParser parser(ParsingParams{
    .max_word_count = 7,
    .max_word_length = 23,
    .max_form_count_per_word = 20,
    .allow_minus_words = true,
    .keep_stop_words = false,
    .case_sensitive = false
});

// ...

const Query query = parser.Parse(text, 225);</pre>
 <p>
  Все предыдущие идеи были во многом про структурирование параметров функции. Теперь обсудим разные несложные способы усовершенствовать работу с булевыми и числовыми параметрами.
 </p>
 <h2 level="2">
  Использование enum вместо bool
 </h2>
 <p>
  Для некоторых bool-параметров может быть оправдан переход на enum. Например, легко представить себе желание в будущем добавить ещё один режим учёта стоп-слов: учитывать их только в том случае, если перед ними идёт символ +. Тогда можно добавить enum-тип StopWordsMode «на вырост», тем самым повысив читаемость вызова функции:
 </p>
 <pre language="c_cpp">enum class StopWordsMode {
  IGNORE,
  KEEP,
  // Add KEEP_PLUS_ONLY in future?
};

Query ParseQuery(
    string_view text, int country_id,
    int max_word_count, int max_word_length, int max_form_count_per_word,
    bool allow_minus_words, StopWordsMode stop_words_mode, bool case_sensitive
);

// ...

const Query query = ParseQuery(text, 225,
                               7, 23, 20,
                               true, StopWordsMode::IGNORE, false);
                               </pre>
 <h2 level="2">
  Объединение булевых параметров в маску
 </h2>
 <p>
  Беззнаковые числовые типы часто используются как хранилище бит: например, число типа uint64_t позволяет сохранить 64 булевых значения. Поэтому булевы флаги можно объединить в один enum ParsingFlag и собрать из подручных средств такую конструкцию:
 </p>
 <pre language="c_cpp">enum class ParsingFlag {
  // значения, являющиеся степенями двойки,
  // позволяют работать с масками без дополнительных
  // преобразований вида 1 &lt;&lt; value
  ALLOW_MINUS_WORDS = 1 &lt;&lt; 0, // 001
  KEEP_STOP_WORDS   = 1 &lt;&lt; 1, // 010
  CASE_SENSITIVE    = 1 &lt;&lt; 2  // 100
};

using ParsingFlags = uint64_t;

Query ParseQuery(
    string_view text, int country_id,
    int max_word_count, int max_word_length, int max_form_count_per_word,
    ParsingFlags flags
) {
  // ...
  if (flags &amp; static_cast&lt;ParsingFlags&gt;(ParsingFlag::KEEP_STOP_WORDS)) {
    // do keep stop words
  }
  // ...
}

// ...

const Query query =
    ParseQuery(text, 225,
               7, 23, 20,
               static_cast&lt;ParsingFlags&gt;(ParsingFlag::ALLOW_MINUS_WORDS)
               | static_cast&lt;ParsingFlags&gt;(ParsingFlag::KEEP_STOP_WORDS));
               // выключенные флаги не указываются в списке
               </pre>
 <p>
  Довольно неудобно писать всюду static_cast, поэтому можно написать простой шаблон Flags и определить для Flags&lt;ParsingFlag&gt; и ParsingFlag операторы &amp; и | так, чтобы следующий код работал так же, как и предыдущий:
 </p>
 <pre language="c_cpp">enum class ParsingFlag {
  ALLOW_MINUS_WORDS = 1 &lt;&lt; 0,
  KEEP_STOP_WORDS   = 1 &lt;&lt; 1,
  CASE_SENSITIVE    = 1 &lt;&lt; 2
};

using ParsingFlags = Flags&lt;ParsingFlag&gt;;

Query ParseQuery(
    string_view text, int country_id,
    int max_word_count, int max_word_length, int max_form_count_per_word,
    ParsingFlags flags
) {
  // ...
  if (flags &amp; ParsingFlag::KEEP_STOP_WORDS) {
    // do keep stop words
  }
  // ...
}

// ...

const Query query =
    ParseQuery(text, 225,
               7, 23, 20,
               ParsingFlag::ALLOW_MINUS_WORDS
               | ParsingFlag::KEEP_STOP_WORDS);
               // выключенные флаги не указываются в списке
               </pre>
 <h2 level="2">
  Отдельные типы для числовых параметров
 </h2>
 <p>
  Наконец, обсудим, что можно сделать с числовыми параметрами функций для повышения прозрачности и безопасности вызовов.
 </p>
 <p>
  Безопасности не будет без типизации. Поэтому последуем примеру из «Белого пояса» и определим для каждого числового параметра свой тип с explicit-конструктором:
 </p>
 <pre language="c_cpp">struct CountryId {
  int value;
  explicit CountryId(int v) : value(v) {}
};

struct MaxWordCount {
  int value;
  explicit MaxWordCount(int v) : value(v) {}
};

struct MaxWordLength {
  int value;
  explicit MaxWordLength(int v) : value(v) {}
};

struct MaxFormCountPerWord {
  int value;
  explicit MaxFormCountPerWord(int v) : value(v) {}
};

Query ParseQuery(
    string_view text, CountryId country_id,
    MaxWordCount max_word_count,
    MaxWordLength max_word_length,
    MaxFormCountPerWord max_form_count_per_word,
    bool allow_minus_words, bool keep_stop_words, bool case_sensitive
);

// ...

const Query query = ParseQuery(
    text, CountryId(225),
    MaxWordCount(7), MaxWordLength(23), MaxFormCountPerWord(20),
    true, false, false
);</pre>
 <p>
  (То же можно проделать и для булевых параметров.)
 </p>
 <p>
  Определение каждой такой структуры довольно однотипно, поэтому напрашивается написать макрос DECLARE_INT_PARAM:
 </p>
 <pre language="c_cpp">#define DECLARE_INT_PARAM(Name) \
    struct Name { \
      int value; \
      explicit Name(int v) : value(v) {} \
    }

DECLARE_INT_PARAM(CountryId);
DECLARE_INT_PARAM(MaxWordCount);
DECLARE_INT_PARAM(MaxWordLength);
DECLARE_INT_PARAM(MaxFormCountPerWord);
</pre>
 <p>
  Можно доработать этот макрос так, чтобы разрешить таким типам автоматически приводиться к int, избавив авторов функции от необходимости постоянно обращаться к полю value:
 </p>
 <pre language="c_cpp">#define DECLARE_INT_PARAM(Name) \
    struct Name { \
      int value; \
      explicit Name(int v) : value(v) {} \
      operator int() const { return value; } \
    }</pre>
 <p>
  Ещё один способ создания подобных типов, принятый в том числе и
  <a href="https://en.cppreference.com/w/cpp/chrono/year" title="">
   в стандартной библиотеке
  </a>
  , — определение специальных суффиксов, позволяющих писать так:
 </p>
 <pre language="c_cpp">const Query query = ParseQuery(
    text, CountryId(225),
    7_words, 23_letters, 20_forms,
    true, false, false
);</pre>
 <p>
  Определение таких суффиксов возможно благодаря так называемым
  <a href="https://en.cppreference.com/w/cpp/language/user_literal" title="">
   user-defined literals
  </a>
  и осуществляется с помощью operator"":
 </p>
 <pre language="c_cpp">auto operator""_words(unsigned long long value) {
  return MaxWordCount(value);
}

auto operator""_letters(unsigned long long value) {
  return MaxWordLength(value);
}

auto operator""_forms(unsigned long long value) {
  return MaxFormCountPerWord(value);
}</pre>
 <p>
  Обратите внимание, что числовой параметр такого оператора обязан иметь тип unsigned long long.
 </p>
 <p>
  По сути выражение 7_words эквивалентно вызову operator""_words(7) и, в конечном счёте, MaxWordCount(7).
 </p>
 <h2 level="2">
  Итоги
 </h2>
 <p>
  Существует несколько способов борьбы с громоздкостью и запутанностью списка параметров функции:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Сгруппировать параметры в структуры.
   </p>
  </li>
  <li>
   <p>
    Сделать функцию методом класса, унеся глобальный контекст из параметров функции в поля класса.
   </p>
  </li>
  <li>
   <p>
    Использовать enum для булевых параметров: свой для каждого или один общий — с маской.
   </p>
  </li>
  <li>
   <p>
    Определять отдельные типы для числовых параметров, снабжая их explicit-конструкторами или другими способами явного создания при вызове функции.
   </p>
  </li>
 </ol>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
