<meta charset="utf-8"/>
<co-content>
 <p>
  В задаче «Личный бюджет» вам понадобится содержательно работать с датами, а именно считать количество дней между двумя датами.
 </p>
 <p>
  Почти вся функциональность в C++17 для работы с датами пришла из C. Представим себе класс Date с целочисленными полями year_, month_ и day_, все нумеруются с единицы. Тогда метод вычисления
  <a href="https://ru.wikipedia.org/wiki/Unix-%D0%B2%D1%80%D0%B5%D0%BC%D1%8F" title="">
   количества секунд, прошедших от 01.01.1970
  </a>
  до указанной даты, будет выглядеть следующим образом:
 </p>
 <pre language="c_cpp">#include &lt;ctime&gt;

time_t Date::AsTimestamp() const {
  std::tm t;
  t.tm_sec   = 0;
  t.tm_min   = 0;
  t.tm_hour  = 0;
  t.tm_mday  = day_;
  t.tm_mon   = month_ - 1;
  t.tm_year  = year_ - 1900;
  t.tm_isdst = 0;
  return mktime(&amp;t);
}</pre>
 <p>
  С помощью этого метода разность между датами можно получить следующим образом: переводим даты в секунды, вычисляем разность секунд и делим её на количество секунд в сутках.
 </p>
 <pre language="c_cpp">int ComputeDaysDiff(const Date&amp; date_to, const Date&amp; date_from) {
  const time_t timestamp_to = date_to.AsTimestamp();
  const time_t timestamp_from = date_from.AsTimestamp();
  static const int SECONDS_IN_DAY = 60 * 60 * 24;
  return (timestamp_to - timestamp_from) / SECONDS_IN_DAY;
}</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
