<meta charset="utf-8"/>
<co-content>
 <p>
  Необходимо добавить к home desktop version поддержку нового запроса:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     Spend
     <em>
      from to value
     </em>
    </strong>
    : потратить указанную сумму равномерно за указанный диапазон дат. Теперь чистая прибыль в запросах
    <strong>
     ComputeIncome
    </strong>
    вычисляется как разница заработанного (за вычетом налогов) и потраченного. При расчёте налога потраченные суммы не учитываются.
   </p>
  </li>
 </ul>
 <p>
  Кроме того, в запросах
  <strong>
   PayTax
  </strong>
  теперь нужно принимать процент, который нужно заплатить:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     PayTax
     <em>
      from to percentage
     </em>
    </strong>
    : заплатить указанный налог в указанный диапазон. Гарантируется, что
    <em>
     <strong>
      percentage
     </strong>
    </em>
    — целое число от 0 до 100.
   </p>
  </li>
 </ul>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/problems/README.md#%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80-2">
  </a>
  Пример
 </h3>
 <p>
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/problems/README.md#%D0%B2%D0%B2%D0%BE%D0%B4-2">
  </a>
  Ввод
 </p>
 <pre>8
Earn 2000-01-02 2000-01-06 20
ComputeIncome 2000-01-01 2001-01-01
PayTax 2000-01-02 2000-01-03 13
ComputeIncome 2000-01-01 2001-01-01
Spend 2000-12-30 2001-01-02 14
ComputeIncome 2000-01-01 2001-01-01
PayTax 2000-12-30 2000-12-30 13
ComputeIncome 2000-01-01 2001-01-01
</pre>
 <p>
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/courses/4_brown_belt/4_functions_pro/problems/README.md#%D0%B2%D1%8B%D0%B2%D0%BE%D0%B4-2">
  </a>
  Вывод
 </p>
 <pre>20
18.96
8.46
8.46</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
