<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте расширенный функционал из предыдущей задачи (professional desktop version) в более жёстких ограничениях: теперь за 2,5 секунд необходимо обрабатывать до 100000 запросов.
 </p>
 <p>
  В качестве основы мы предлагаем вам решение home mobile version — с нетривиальными алгоритмами, но легко расширяемым базовым функционалом:
 </p>
 <asset assettype="generic" extension="cpp" id="4CQrhBPREem6Gg6vVM6M8A" name="budget_good_base">
 </asset>
 <p>
  Вам достаточно реализовать в нём поддержку запроса
  <strong>
   Spend
  </strong>
  и запроса
  <strong>
   PayTax
  </strong>
  с 3 параметрами.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
