<meta charset="utf-8"/>
<co-content>
 <p>
  В прошлой задаче вы модифицировали хорошо структурированный код базовой (home) функциональности Личного бюджета. Здесь же вам предстоит реализовать
  <strong>
   ту же
  </strong>
  функциональность (professional), но на основе менее понятного кода:
 </p>
 <asset assettype="generic" extension="cpp" id="AMBnTRPSEemP8Qpm209XvA" name="budget_bad_base">
 </asset>
 <p>
  Эта задача демонстрирует, насколько проще дорабатывать аккуратно написанный код, даже если его основная идея вам незнакома. Тем не менее, если ранее вы уже реализовывали алгоритм, используемый в этой задаче, более короткий код покажется вам не таким уж и непонятным.
 </p>
 <h2 level="2">
  О тестировании
 </h2>
 <p>
  Современные компиляторы достаточно хорошо оптимизируют код, поэтому legacy-версия не оказывается быстрее предыдущей, более громоздкой, версии.
 </p>
 <p>
  Чтобы вы не могли сдать в эту задачу решение предыдущей, код будет компилироваться без оптимизаций: как следствие, решение предыдущей задачи здесь не уложится в ограничения по времени (3 секунды). Поскольку это ограничение довольно жёсткое, а реальное время работы программы может варьироваться в зависимости от текущей нагрузки на тестирующий сервер, с небольшой вероятностью даже правильное решение может не уложиться в ограничения по времени — в этом случае мы советуем вам переотправить решение.
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
