<meta charset="utf-8"/>
<co-content>
 <p>
  <strong>
   Зачем учить С++?
  </strong>
 </p>
 <p>
  На нём разрабатывают поиск, браузеры, backend социальных сетей и других сервисов компании по всему миру. На С++ написаны популярные библиотеки машинного обучения, он занимает важное место в области разработки компьютерных игр; в Яндексе C++ можно встретить в поиске, рекламе, браузере, картах и многих, многих других продуктах.
 </p>
 <p>
  Почему разработчики выбирают этот язык? Если коротко - он быстрый и он развивается.
 </p>
 <p>
  C++ позволяет вам писать эффективный код тогда, когда производительности других популярных языков (Java, Python, C#, JavaScript) оказывается недостаточно. Это актуально не только для серверных и десктопных программ, но и для мобильных устройств, где помимо скорости, нужно еще экономить батарейку.
 </p>
 <p>
  Кроме того, возможности современного C++ позволяют вам писать надёжный и безопасный код, свободный от утечек любых ресурсов (памяти, файловых дескрипторов, сетевых подключений и т.д.). Наконец, на современном C++ можно писать простой и понятный код.
 </p>
 <p>
  Хотите научиться это делать? Добро пожаловать в наш курс.
 </p>
 <p>
  <strong>
   Как писать и запускать код?
  </strong>
 </p>
 <p>
  Для программирования на С++ мы рекомендуем использовать интегрированную среду разработки (IDE) Eclipse. Мы применяем её в наших лекциях. Мы выбрали Eclipse, потому что это бесплатная кросс-платформенная среда, одинаково доступная для всех участников курса. С помощью неё вы сможете полностью повторять примеры из лекций независимо от того, в какой операционной системе вы работаете.
 </p>
 <p>
  Руководство по установке и настройке Eclipse под Windows, Linux и MacOS вы найдёте среди
  <a href="https://www.coursera.org/learn/c-plus-plus-white/home/week/1" title="">
   видео первой недели нашего первого курса "Белый пояс по C++"
  </a>
  . Версия IDE не слишком важна, лишь бы она была не очень старой.
 </p>
 <p>
  Конечно, вы можете использовать и другую среду, если вам так удобнее.
 </p>
 <p>
  <strong>
   Какой стандарт языка используется в этом курсе?
  </strong>
 </p>
 <p>
  Все примеры и задачи курса написаны с использованием последнего принятого на данный момент стандарта языка — C++ 17.
 </p>
 <p>
  <strong>
   В других курсах заданий по программированию мало, а тут аж 30. Как же так?
  </strong>
 </p>
 <p>
  Единственный способ освоить любой язык программирования - это практика. Можно прочитать кучу книг, посмотреть массу лекций, но если регулярно не программировать, то вам никогда не удастся овладеть ни одним языком программирования. Мы хотим, чтобы по итогам курса вы могли самостоятельно писать программы на C++, поэтому подготовили так много задач.
 </p>
 <p>
  <strong>
   Кто молодец
  </strong>
 </p>
 <p>
  Курс разработан ведущими специалистами Яндекса Ильёй Шишковым, Антоном Полдневым, Алексеем Зобниным, Николаем Субочем, а также сотрудником компании Align Technology Михаилом Матросовым. За их плечами – годы разработки сервисов поиска, рекламы и инфраструктуры. Кроме того в подготовке заданий участвовали
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Алексей Аверченко
   </p>
  </li>
  <li>
   <p>
    Александр Жеглов
   </p>
  </li>
  <li>
   <p>
    Виктор Мироненко
   </p>
  </li>
  <li>
   <p>
    Александр Кичкин
   </p>
  </li>
 </ul>
 <p>
  Оператор — Евгений Петрунин
 </p>
 <p>
  Главный за поддержку — Василий Мартынов. Наконец, вообще ничего этого не было бы без Софии Техажевой.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
