<meta charset="utf-8"/>
<co-content>
 <p>
  В предыдущих курсах специализации мы разработали библиотеку юнит-тестирования и свой собственный профайлер. Если вы проходили «Жёлтый» или «Красный пояс», вы их прекрасно помните — это test_runner.h и profile.h. Если же вы решили начать изучать нашу специализацию сразу с «Коричневого пояса», то примеры применения этих библиотек вы найдёте в заготовках решений задач по программированию, а также в наших лекциях.
 </p>
 <p>
  Здесь же мы выложим их исходники, на всякий случай ;)
 </p>
 <p>
 </p>
 <asset assettype="generic" extension="h" id="TcjIsF0oEem7ixL_6m9HFg" name="profile">
 </asset>
 <asset assettype="generic" extension="h" id="cLMT7V0oEemp_gr2ZL5kng" name="test_runner">
 </asset>
 <p>
  Также напомним, что в нашей тестирующей системе подключение этих двух файлов поддерживается по умолчанию. То есть, если в задаче требуется прислать cpp-файл, и ваш файл подключает test_runner.h, то вам не надо комментировать этот инклюд перед отправкой файла.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
