<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  <strong>
   Чат в Telegram
  </strong>
 </h3>
 <p>
  У нашей специализации есть чат в Telegram. Здесь вас ждет живое общение с другими слушателями, быстрые ответы и активные обсуждения по тематике курса. Присоединиться к чату можно по
  <a href="https://t.me/joinchat/F8aHF0qupowtKDJ8p85Dvw" title="">
   ссылке
  </a>
  .
 </p>
 <p>
  Приглашайте на курс и в чат ваших друзей, которые хотят погрузиться в мир разработки на С++. Работа в команде облегчит восприятие материала и подготовит вас к взаимодействию на больших проектах.
 </p>
 <h3 level="3">
  <strong>
   Форум
  </strong>
 </h3>
 <p>
  Также у курса есть
  <a href="https://www.coursera.org/learn/c-plus-plus-brown/discussions" title="">
   форум
  </a>
  , где вы можете задать свой вопрос либо найти свою проблему среди уже решенных и разобранных. Чтобы написать на форуме часть своего кода нажмите "код" на панели под текстом сообщения и выберите "С и С++" из списка. Далее вставьте свой код в появившуюся таблицу, в таком виде его будет значительно легче читать другим слушателям и менторам курса. Хотим обратить ваше внимание, что форум может работать некорректно в Mozilla Firefox.
 </p>
 <p>
  Участвуйте в обсуждениях! Так вы получите от курса максимум пользы.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
