<meta charset="utf-8"/>
<co-content>
 <p>
  В блоке "Тестирование и отладка" были задачи, в которых вам 
приходилось каждый раз вставлять в свой код наш тестовый фреймворк. 
Естественно, это неудобно. В этом разделе мы говорили, что одним из 
преимуществ разделения кода на несколько файлов является упрощение его 
повторного использования. Теперь, когда вы знаете, как работает 
директива #include и как работать с многофайловыми 
проектами, вы можете больше не копировать тестовый фреймворк из одного 
решения в другое. Вместо этого вы можете положить его в файл, например, 
test_runner.h, и подключать в свой проект.
 </p>
 <p>
  Более того, наша автоматическая тестирующая система, которая 
используется для проверки ваших решений, содержит в себе наш тестовый 
фреймворк. Если вы пришлёте на проверку файл, в котором будет директива #include "test_runner.h", то он будет подключен в вашу программу. Присылать сам файл test_runner.h не нужно.
 </p>
 <p>
  Другими словами, если код ниже отправить в тестирующую систему, то он
 успешно скомпилируется, отработает и выведет в stderr "TestWorks: OK".
 </p>
 <pre language="c_cpp">#include "test_runner.h"

void TestWorks() {
    AssertEqual(1, 1, "Just to check that Assert works");
}

int main() {
    TestRunner tr;
    tr.RunTest(TestWorks, "TestWorks");
    return 0;
}</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
