<meta charset="utf-8"/>
<co-content>
 <p>
  Вам дан заголовочный файл sum_reverse_sort.h, содержащий объявления трёх функций
 </p>
 <asset assettype="generic" extension="h" id="5UhVZbyoEee3NhLzohKsog" name="sum_reverse_sort">
 </asset>
 <pre language="c_cpp">#pragma once
#include &lt;string&gt;
#include &lt;vector&gt;

using namespace std;

int Sum(int x, int y);
string Reverse(string s);
void Sort(vector&lt;int&gt;&amp; nums);
</pre>
 <p>
  Вам надо прислать cpp-файл, содержащий определения этих функций.
 </p>
 <p>
  Функции должны складывать два числа, обращать строку и сортировать вектор чисел по возрастанию соотвественно.
 </p>
 <h2 level="2">
  Как будет тестироваться ваш код
 </h2>
 <p>
  Автоматическая тестирующая система добавит ваш cpp-файл в проект, содержащий другой cpp-файл с юнит-тестами для всех трёх функций, а также файл sum_reverse_sort.h. Затем она соберёт этот проект и, если компиляция будет выполнена успешно, запустит получившийся исполняемый файл. Если он завершится успешно (т. е. юнит-тесты не найдут ошибок в вашей реализации), то ваша посылка будет засчитана.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
