<meta charset="utf-8"/>
<co-content>
 <p>
  В задаче
  <a href="https://www.coursera.org/learn/c-plus-plus-yellow/programming/k6Xm2/diekompozitsiia-proghrammy">
   «Декомпозиция программы»
  </a>
  мы разбили монолитный код на набор функций и классов. Теперь мы сделаем ещё один шаг и разделим нашу программу на несколько файлов. В этой задаче вам нужно создать проект, состоящий из следующих файлов:
 </p>
 <p>
  1.query.h, в него кладём:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    enum class QueryType
   </p>
  </li>
  <li>
   <p>
    struct Query
   </p>
  </li>
  <li>
   <p>
    объявление istream&amp; operator &gt;&gt; (istream&amp; is, Query&amp; q)
   </p>
  </li>
 </ul>
 <p>
  2. query.cpp, в него кладём
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    определение istream&amp; operator &gt;&gt; (istream&amp; is, Query&amp; q);
   </p>
  </li>
 </ul>
 <p>
  3. responses.h:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    struct BusesForStopResponse
   </p>
  </li>
  <li>
   <p>
    ostream&amp; operator &lt;&lt; (ostream&amp; os, const BusesForStopResponse&amp; r)
   </p>
  </li>
  <li>
   <p>
    struct StopsForBusResponse
   </p>
  </li>
  <li>
   <p>
    ostream&amp; operator &lt;&lt; (ostream&amp; os, const StopsForBusResponse&amp; r)
   </p>
  </li>
  <li>
   <p>
    struct AllBusesResponse
   </p>
  </li>
  <li>
   <p>
    ostream&amp; operator &lt;&lt; (ostream&amp; os, const AllBusesResponse&amp; r)
   </p>
  </li>
 </ul>
 <p>
  4. responses.cpp: определения всего, что объявлено в responses.h
 </p>
 <p>
  5. bus_manager.h: объявление класса BusManager
 </p>
 <p>
  6. bus_manager.cpp: определения методов класса BusManager
 </p>
 <p>
  7. main.cpp: функция main
 </p>
 <h2 level="2">
  Как отправлять проект на проверку
 </h2>
 <p>
  В заданиях по программированию Coursera позволяет отправлять на проверку только один файл, поэтому для того, чтобы сдать свой проект в тестирующую систему, вам надо запаковать все свои файлы в архив и отправить его на проверку. Поддерживаемые форматы архивов: rar, zip, 7z, tar, tar.gz, а также многие другие (для распаковки мы используем программу
  <a href="http://manpages.ubuntu.com/manpages/trusty/en/man1/dtrx.1.html">
   dtrx
  </a>
  , на странице с её описанием приведён полный список поддерживаемых форматов).
 </p>
 <h2 level="2">
  Как будет тестироваться ваше решение
 </h2>
 <p>
  Ниже вам дана заготовка для файла main.cpp, содержащая функцию main. Это точно такая же заготовка, которая была дана в задаче «Декомпозиция программы». Тестирование вашего решения будет выполняться в два этапа. На первом этапе автоматическая тестирующая система распакует присланный вами архив и соберёт извлечённые файлы в исполняемый файл. При этом функция main в вашем проекте будет заменена на ту, которая дана в заготовке файла main.cpp. Затем этот исполняемый файл будет запущен на наборе тестов. Тестирование выполняется так же, как и для большинства задач на нашем курсе: тест подаётся в stdin, замеряется время выполнения программы, а затем анализируется stdout.
 </p>
 <p>
  На втором этапе будет выполняться тестирование отдельных файлов вашего проекта. Проверяется, что файл query.h действительно содержит перечислимый тип QueryType, что BusManager::GetBusesForStop возвращает корректно сформированный объект BusesForStopResponse т.д.
 </p>
 <p>
  Заготовка файла main.cpp:
 </p>
 <asset assettype="generic" extension="cpp" id="UddFXtNWEee3YgrjV0GSxA" name="main">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
