<meta charset="utf-8"/>
<co-content>
 <p>
  Финальный проект «Чёрного пояса» — продолжение задачи «Транспортный справочник» из предыдущего курса. Прежде чем приступать к новым её частям, сдайте базовую версию — часть E из «Коричневого пояса».
 </p>
 <p>
  Ниже описано итоговое условие части E с учётом предыдущих частей A–D.
 </p>
 <h1 level="1">
  Условие части E
 </h1>
 <p>
  В этой задаче и последующих её версиях вам нужно реализовать систему хранения транспортных маршрутов и обработки запросов к ней. На вход программе подаётся JSON-объект, описывающий запросы на создание базы данных (ключ base_requests) и запросы к этой базе (ключ stat_requests). Выход программы также ожидается в формате JSON.
 </p>
 <p>
  При проектировании решения учитывайте, что его придётся неоднократно расширять. Авторские решения вы увидите лишь после очередного блока частей: таким образом, на протяжении череды доработок функционала вы будете иметь дело со своей собственной архитектурой кода и почувствуете, какие именно проектировочные решения мешают расширению.
 </p>
 <p>
  Не пренебрегайте юнит-тестами! Именно они дадут вам уверенность в том, что при изменении части функционала не сломается всё остальное.
 </p>
 <p>
  Как и в других задачах, здесь можно отправить на проверку архив из нескольких файлов.
 </p>
 <h2 level="2">
  Формат ввода базы данных
 </h2>
 <p>
  Запросы на создание объектов в базе данных задаются в виде списка в ключе base_requests входного JSON. Каждый запрос является словарём, содержащим ключ type — тип запроса, а также прочую дополнительную информацию о соответствующем объекте.
 </p>
 <h3 level="3">
  <strong>
   Stop:
  </strong>
  описание остановки
 </h3>
 <p>
  Пример:
 </p>
 <pre language="json">{
  "type": "Stop",
  "name": "Tolstopaltsevo",
  "latitude": 55.611087,
  "longitude": 37.20829,
  "road_distances": {
    "Marushkino": 3900
  }
}</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    name — название остановки;
   </p>
  </li>
  <li>
   <p>
    latitude и longitude — широта и долгота;
   </p>
  </li>
  <li>
   <p>
    road_distances — расстояния по дорогам от этой остановки до соседних. Все расстояния задаются в метрах и являются целыми положительными числами, каждое из которых не превышает 1000000 и не меньше расстояния по земной поверхности между соответствующими остановками.
   </p>
  </li>
 </ul>
 <p>
  По умолчанию предполагается, что расстояние от остановки
  <em>
   <strong>
    A
   </strong>
  </em>
  до остановки
  <em>
   <strong>
    B
   </strong>
  </em>
  равно расстоянию от
  <em>
   <strong>
    B
   </strong>
  </em>
  до
  <em>
   <strong>
    A
   </strong>
  </em>
  , если только расстояние от
  <em>
   <strong>
    A
   </strong>
  </em>
  до
  <strong>
   <em>
    B
   </em>
  </strong>
  не задано явным образом при добавлении остановки
  <em>
   <strong>
    A.
   </strong>
  </em>
 </p>
 <p>
  Гарантируется, что каждая из остановок из road_distances определена в некотором запросе
  <strong>
   Stop
  </strong>
  .
 </p>
 <p>
  В рамках одного запроса
  <strong>
   Stop
  </strong>
  все остановки различны, и их количество не превосходит 100.
 </p>
 <p>
  Гарантируется, что каждая остановка определена не более чем в одном запросе
  <strong>
   Stop
  </strong>
  <em>
   <strong>
    .
   </strong>
  </em>
 </p>
 <h3 level="3">
  <strong>
   Bus:
  </strong>
  описание автобуса
 </h3>
 <p>
  Пример:
 </p>
 <pre language="json">{
  "type": "Bus",
  "name": "750",
  "stops": [
    "Tolstopaltsevo",
    "Marushkino",
    "Rasskazovka"
  ],
  "is_roundtrip": false
}</pre>
 <p>
  Запрос на добавление автобуса с названием, заданным в ключе name. Маршрут может задаваться в одном из двух форматов:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    <strong>
     "is_roundtrip": false
    </strong>
    : автобус следует по списку остановок из stops от первой до последней и обратно.
   </p>
  </li>
  <li>
   <p>
    <strong>
     "is_roundtrip": true
    </strong>
    : кольцевой маршрут, у которого первая остановка из списка stops является конечной.
   </p>
  </li>
 </ol>
 <p>
  По сути описание автобуса из последнего примера эквивалентно следующему:
 </p>
 <pre language="json">{
  "type": "Bus",
  "name": "750",
  "stops": [
    "Tolstopaltsevo",
    "Marushkino",
    "Rasskazovka",
    "Marushkino",
    "Tolstopaltsevo"
  ],
  "is_roundtrip": true
}</pre>
 <p>
  Разница между двумя форматами лишь в том, что в первом случае последняя остановка считается конечной — но это важно лишь в части H и далее. С точки зрения механики маршрутизации выделяется лишь первая остановка, так как на ней пассажиры высаживаются из автобуса.
 </p>
 <p>
  Гарантируется, что каждая из остановок маршрута определена в некотором запросе
  <strong>
   Stop
  </strong>
  , а сам автобус определён не более чем в одном запросе
  <strong>
   Bus.
  </strong>
 </p>
 <h2 level="2">
  Секция routing_settings
 </h2>
 <p>
  Входной JSON содержит ключ routing_settings, значением которого является словарь с двумя ключами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    "bus_wait_time" — время ожидания автобуса на остановке (в минутах). Считайте, что когда бы человек ни пришёл на остановку и какой бы ни была эта остановка, он будет ждать любой автобус в точности указанное количество минут. Значение — целое число от 1 до 1000.
   </p>
  </li>
  <li>
   <p>
    "bus_velocity" — скорость автобуса (в км/ч). Считайте, что скорость любого автобуса постоянна и в точности равна указанному числу. Время стоянки на остановках не учитывается, время разгона и торможения — тоже. Значение — вещественное число от 1 до 1000.
   </p>
  </li>
 </ul>
 <p>
  <strong>
   Пример
  </strong>
 </p>
 <pre language="json">"routing_settings": {
  "bus_wait_time": 6,
  "bus_velocity": 40
}</pre>
 <p>
  Данная конфигурация задаёт время ожидания равным 6 минутам и скорость автобусов равной 40 километрам в час.
 </p>
 <h2 level="2">
  Формат запросов к базе данных
 </h2>
 <p>
  Запросы к базе данных задаются в виде списка в ключе stat_requests входного JSON. Каждый запрос является словарём, обязательно содержащим два ключа:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    type — тип запроса;
   </p>
  </li>
  <li>
   <p>
    id — целое число от 0 до 2147483647.
   </p>
  </li>
 </ul>
 <p>
  Ответы на запросы выводятся в виде списка, каждый элемент которого в поле request_id содержит id исходного запроса.
 </p>
 <h3 level="3">
  <strong>
   Bus:
  </strong>
  информация об автобусе
 </h3>
 <p>
  Пример:
 </p>
 <pre language="json">{
  "route_length": 5950,
  "request_id": 1965312327,
  "curvature": 1.36124,
  "stop_count": 6,
  "unique_stop_count": 5
}</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    stop_count — количество остановок в кольцевой версии маршрута автобуса.
   </p>
  </li>
  <li>
   <p>
    unique_stop_count — количество уникальных остановок, на которых останавливается автобус. Одинаковыми считаются остановки, имеющие одинаковые названия.
   </p>
  </li>
  <li>
   <p>
    route_length — длина маршрута в метрах, вычисленная с использованием заданных выше расстояний по дорогам между остановками. Для простоты будем считать, что автобус проезжает путь между двумя соседними остановками по кратчайшему расстоянию по земной поверхности.
   </p>
  </li>
  <li>
   <p>
    curvature (извилистость) — отношение длины маршрута, вычисленной с помощью дорожного расстояния, к длине маршрута, вычисленной с помощью географического расстояния. (При вычислении расстояния между двумя точками на земной поверхности считайте число π равным 3.1415926535, а радиус Земли — 6371 км.) Таким образом, curvature — вещественное число, большее единицы. Оно может быть равно единице только в том случае, если автобус едет между остановками по кратчайшему пути (и тогда больше похож на вертолёт), а меньше единицы может оказаться только благодаря телепортации или хордовым тоннелям.
   </p>
  </li>
 </ul>
 <p>
  Гарантируется, что для любых двух соседних остановок любого маршрута так или иначе задано расстояние по дорогам.
 </p>
 <p>
  Величину расстояния (а также другие вещественные числа в последующих частях задачи) выводите с 6 значащими цифрами, то есть предваряя модификатором setprecision(6). При этом ваши значения сравниваются с верными не посимвольно, а с относительной погрешностью 0,0001.
 </p>
 <p>
  Если автобус не найден, выведите
 </p>
 <pre language="json">{
  "request_id": /* id запроса */,
  "error_message": "not found"
}</pre>
 <h3 level="3">
  <strong>
   Stop:
  </strong>
  информация об остановке
 </h3>
 <p>
  Пример:
 </p>
 <pre language="json">{
  "buses": [
    "256",
    "828"
  ],
  "request_id": 1042838872
}</pre>
 <p>
  buses — список автобусов (возможно, пустой), проходящих через эту остановку.
 </p>
 <p>
  Если остановка не найдена, выведите
 </p>
 <pre language="json">{
  "request_id": /* id запроса */,
  "error_message": "not found"
}</pre>
 <h3 level="3">
  Route: построение маршрута между двумя остановками
 </h3>
 <p>
  Помимо стандартных свойств id и type, запросы содержат ещё два:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    from — остановка, в которой нужно начать маршрут.
   </p>
  </li>
  <li>
   <p>
    to — остановка, в которой нужно закончить маршрут.
   </p>
  </li>
 </ul>
 <p>
  Оба значения — названия существующих в базе остановок (однако, возможно, не принадлежащих ни одному автобусному маршруту).
 </p>
 <p>
  Пример:
 </p>
 <pre language="json">{
  "type": "Route",
  "from": "Biryulyovo Zapadnoye",
  "to": "Universam",
  "id": 4
}</pre>
 <p>
  Данный запрос означает построение маршрута от остановки «Biryulyovo Zapadnoye» до остановки «Universam».
 </p>
 <p>
  На маршруте человек может использовать несколько автобусов, и даже один автобус несколько раз — если на некоторых участках он делает большой крюк и проще срезать на другом автобусе.
 </p>
 <p>
  Маршрут должен быть наиболее оптимален по времени. Если маршрутов с минимально возможным суммарным временем несколько, допускается вывести любой из них: тестирующая система проверяет лишь совпадение времени маршрута с оптимальным и корректность самого маршрута.
 </p>
 <p>
  При прохождении маршрута время расходуется на два типа активностей:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Ожидание автобуса. Всегда длится bus_wait_time минут.
   </p>
  </li>
  <li>
   <p>
    Поездка на автобусе. Всегда длится ровно такое количество времени, которое требуется для преодоления данного расстояния со скоростью bus_velocity. Расстояние между остановками вычисляется по дорогам, то есть с помощью road_distances.
   </p>
  </li>
 </ul>
 <p>
  Ходить пешком, выпрыгивать из автобуса между остановками и использовать другие виды транспорта запрещается. На конечных остановках все автобусы высаживают пассажиров и уезжают в парк. Даже если человек едет на кольцевом ("is_roundtrip": true) маршруте и хочет проехать мимо конечной, он будет вынужден выйти и подождать
  <em>
   тот же самый автобус
  </em>
  ровно bus_wait_time минут. Этот и другие случаи разобраны в примерах.
 </p>
 <p>
  Ответ на запрос Route устроен следующим образом:
 </p>
 <pre language="json">{
    "request_id": &lt;id запроса&gt;,
    "total_time": &lt;суммарное время&gt;,
    "items": [
        &lt;элементы маршрута&gt;
    ]
}</pre>
 <p>
  total_time — суммарное время в минутах, требуемое для прохождения маршрута, выведенное в виде вещественного числа.
 </p>
 <p>
  items — список элементов маршрута, каждый из которых описывает непрерывную активность пассажира, требующую временных затрат. А именно, элементы маршрута бывают двух типов.
 </p>
 <p>
  <strong>
   Wait
  </strong>
  — подождать нужное количество минут (в нашем случае — всегда bus_wait_time) на указанной остановке:
 </p>
 <pre language="json">{
    "type": "Wait",
    "stop_name": "Biryulyovo",
    "time": 6
}
</pre>
 <p>
  <strong>
   Bus
  </strong>
  — проехать span_count остановок (перегонов между остановками) на автобусе bus, потратив указанное количество минут:
 </p>
 <pre language="json">{
    "type": "Bus",
    "bus": "297",
    "span_count": 2,
    "time": 5.235
}</pre>
 <p>
  В случае отсутствия маршрута между указанными остановками выведите результат в следующем формате:
 </p>
 <pre language="json">{
    "request_id": /* id запроса */,
    "error_message": "not found"
}</pre>
 <h2 level="2">
  Ограничения
 </h2>
 <ul bullettype="bullets">
  <li>
   <p>
    3 секунды на обработку всех запросов, 512 МБ памяти.
   </p>
  </li>
  <li>
   <p>
    Не более 100 остановок и не более 100 автобусов.
   </p>
  </li>
  <li>
   <p>
    Не более 2000 запросов к уже созданной базе.
   </p>
  </li>
  <li>
   <p>
    Не более 100 остановок в маршруте.
   </p>
  </li>
  <li>
   <p>
    Не более 25 символов в названии автобуса или остановки. Допустимые символы — латинские буквы, цифры и пробелы. Все названия непусты, не могут начинаться на пробелы или заканчиваться ими.
   </p>
  </li>
  <li>
   <p>
    Гарантируется, что вещественные числа не задаются в экспоненциальной записи, то есть обязательно имеют целую часть и, возможно, дробную часть через десятичную точку.
   </p>
  </li>
  <li>
   <p>
    Ключи словарей могут располагаться в произвольном порядке. Форматирование (то есть пробельные символы вокруг скобок, запятых и двоеточий) не имеет значения как во входном, так и в выходном JSON.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Реализация
 </h2>
 <p>
  В качестве основы JSON-парсера используйте нашу заготовку:
 </p>
 <asset assettype="generic" extension="h" id="RFqbWPkYEei5Kg7DUflKxA" name="json">
 </asset>
 <asset assettype="generic" extension="cpp" id="RFVqxfkYEeilxxL_ZeRz_A" name="json">
 </asset>
 <p>
  Задача поиска оптимального маршрута данного вида сводится к задаче поиска кратчайшего пути во
  <a href="https://yandex.ru/search/?text=%D0%B2%D0%B7%D0%B2%D0%B5%D1%88%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9%20%D0%BE%D1%80%D0%B8%D0%B5%D0%BD%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B9%20%D0%B3%D1%80%D0%B0%D1%84" title="">
   взвешенном ориентированном графе
  </a>
  .
 </p>
 <p>
  Мы предоставляем вам две небольшие библиотеки:
 </p>
 <asset assettype="generic" extension="h" id="eJN9Xv6pEeiAgQrXx6bp4g" name="graph">
 </asset>
 <asset assettype="generic" extension="h" id="eI2xEf6pEeilxxL_ZeRz_A" name="router">
 </asset>
 <ul bullettype="bullets">
  <li>
   <p>
    graph.h — класс, реализующий взвешенный ориентированный граф.
   </p>
  </li>
  <li>
   <p>
    router.h — класс, реализующий поиск кратчайшего пути во взвешенном ориентированном графе.
   </p>
  </li>
 </ul>
 <p>
  В отличие от парсера JSON, эти библиотеки пока
  <strong>
   не нуждаются в модификации.
  </strong>
  С другой стороны, вы имеете право не использовать их вовсе или модифицировать произвольным образом.
 </p>
 <p>
  Моделируя ситуации из реальной жизни разработчиков, обе эти библиотеки предоставляются без документации, но с самодокументируемым кодом: интерфейсы представленных классов легко читаются по заголовкам публичных методов.
 </p>
 <p>
  Про эти классы дополнительно известно следующее:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Вершины и рёбра графа нумеруются автоинкрементно беззнаковыми целыми числами, хранящимися в типах VertexId и EdgeId: вершины нумеруются от 0 до количества вершин минус один в соответствии с пользовательской логикой, а номер очередного ребра выдаётся методом AddEdge, равен нулю для первого вызова метода и при каждом следующем вызове увеличивается на единицу.
   </p>
  </li>
  <li>
   <p>
    Память, необходимая для хранения графа, линейна относительно суммы количеств вершин и рёбер.
   </p>
  </li>
  <li>
   <p>
    Конструктор и деструктор графа имеют линейную сложность, а остальные методы константны или амортизированно константны.
   </p>
  </li>
  <li>
   <p>
    Маршрутизатор (класс Router) требует квадратичного относительно количества вершин объёма памяти, не считая памяти, требуемой для хранения кэша маршрутов.
   </p>
  </li>
  <li>
   <p>
    Конструктор маршрутизатора имеет сложность O(V³+E), где V — количество вершин графа, E — количество рёбер.
   </p>
  </li>
  <li>
   <p>
    Маршрутизатор не работает с графами, имеющими рёбра отрицательного веса.
   </p>
  </li>
  <li>
   <p>
    Построение маршрута на готовом маршрутизаторе линейно относительно
    <em>
     количества рёбер в маршруте.
    </em>
    Таким образом, основная нагрузка построения оптимальных путей ложится на конструктор.
   </p>
  </li>
 </ul>
 <p>
  Вам необходимо:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    самостоятельно разобраться с понятиями графов и путями в них;
   </p>
  </li>
  <li>
   <p>
    придумать, как по транспортному справочнику построить граф, путь наименьшего веса в котором соответствует оптимальному маршруту на автобусах, предварительно определившись, что в этом графе будет являться вершинами, а что — рёбрами;
   </p>
  </li>
  <li>
   <p>
    написать код построения графа и описания маршрута по пути, полученному от маршрутизатора.
   </p>
  </li>
 </ul>
 <p>
 </p>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Иллюстрации к примеру
 </h3>
 <asset assettype="pdf" extension="pdf" id="yfxZgAXSEem6Gg6vVM6M8A" name="CourseraBrownFinalE1Map-7">
 </asset>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="json">{
  "routing_settings": {
    "bus_wait_time": 6,
    "bus_velocity": 40
  },
  "base_requests": [
    {
      "type": "Bus",
      "name": "297",
      "stops": [
        "Biryulyovo Zapadnoye",
        "Biryulyovo Tovarnaya",
        "Universam",
        "Biryulyovo Zapadnoye"
      ],
      "is_roundtrip": true
    },
    {
      "type": "Bus",
      "name": "635",
      "stops": [
        "Biryulyovo Tovarnaya",
        "Universam",
        "Prazhskaya"
      ],
      "is_roundtrip": false
    },
    {
      "type": "Stop",
      "road_distances": {
        "Biryulyovo Tovarnaya": 2600
      },
      "longitude": 37.6517,
      "name": "Biryulyovo Zapadnoye",
      "latitude": 55.574371
    },
    {
      "type": "Stop",
      "road_distances": {
        "Prazhskaya": 4650,
        "Biryulyovo Tovarnaya": 1380,
        "Biryulyovo Zapadnoye": 2500
      },
      "longitude": 37.645687,
      "name": "Universam",
      "latitude": 55.587655
    },
    {
      "type": "Stop",
      "road_distances": {
        "Universam": 890
      },
      "longitude": 37.653656,
      "name": "Biryulyovo Tovarnaya",
      "latitude": 55.592028
    },
    {
      "type": "Stop",
      "road_distances": {},
      "longitude": 37.603938,
      "name": "Prazhskaya",
      "latitude": 55.611717
    }
  ],
  "stat_requests": [
    {
      "type": "Bus",
      "name": "297",
      "id": 1
    },
    {
      "type": "Bus",
      "name": "635",
      "id": 2
    },
    {
      "type": "Stop",
      "name": "Universam",
      "id": 3
    },
    {
      "type": "Route",
      "from": "Biryulyovo Zapadnoye",
      "to": "Universam",
      "id": 4
    },
    {
      "type": "Route",
      "from": "Biryulyovo Zapadnoye",
      "to": "Prazhskaya",
      "id": 5
    }
  ]
}</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="json">[
    {
        "curvature": 1.42963,
        "unique_stop_count": 3,
        "stop_count": 4,
        "request_id": 1,
        "route_length": 5990
    },
    {
        "curvature": 1.30156,
        "unique_stop_count": 3,
        "stop_count": 5,
        "request_id": 2,
        "route_length": 11570
    },
    {
        "request_id": 3,
        "buses": [
            "297",
            "635"
        ]
    },
    {
        "total_time": 11.235,
        "items": [
            {
                "time": 6,
                "type": "Wait",
                "stop_name": "Biryulyovo Zapadnoye"
            },
            {
                "span_count": 2,
                "bus": "297",
                "type": "Bus",
                "time": 5.235
            }
        ],
        "request_id": 4
    },
    {
        "total_time": 24.21,
        "items": [
            {
                "time": 6,
                "type": "Wait",
                "stop_name": "Biryulyovo Zapadnoye"
            },
            {
                "span_count": 2,
                "bus": "297",
                "type": "Bus",
                "time": 5.235
            },
            {
                "time": 6,
                "type": "Wait",
                "stop_name": "Universam"
            },
            {
                "span_count": 1,
                "bus": "635",
                "type": "Bus",
                "time": 6.975
            }
        ],
        "request_id": 5
    }
]</pre>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Иллюстрации к примеру
 </h3>
 <asset assettype="pdf" extension="pdf" id="OzScjgaYEem6Gg6vVM6M8A" name="CourseraBrownFinalE2Map-10">
 </asset>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="json">{
  "routing_settings": {
    "bus_wait_time": 2,
    "bus_velocity": 30
  },
  "base_requests": [
    {
      "type": "Bus",
      "name": "297",
      "stops": [
        "Biryulyovo Zapadnoye",
        "Biryulyovo Tovarnaya",
        "Universam",
        "Biryusinka",
        "Apteka",
        "Biryulyovo Zapadnoye"
      ],
      "is_roundtrip": true
    },
    {
      "type": "Bus",
      "name": "635",
      "stops": [
        "Biryulyovo Tovarnaya",
        "Universam",
        "Biryusinka",
        "TETs 26",
        "Pokrovskaya",
        "Prazhskaya"
      ],
      "is_roundtrip": false
    },
    {
      "type": "Bus",
      "name": "828",
      "stops": [
        "Biryulyovo Zapadnoye",
        "TETs 26",
        "Biryusinka",
        "Universam",
        "Pokrovskaya",
        "Rossoshanskaya ulitsa"
      ],
      "is_roundtrip": false
    },
    {
      "type": "Stop",
      "road_distances": {
        "Biryulyovo Tovarnaya": 2600,
        "TETs 26": 1100
      },
      "longitude": 37.6517,
      "name": "Biryulyovo Zapadnoye",
      "latitude": 55.574371
    },
    {
      "type": "Stop",
      "road_distances": {
        "Biryusinka": 760,
        "Biryulyovo Tovarnaya": 1380,
        "Pokrovskaya": 2460
      },
      "longitude": 37.645687,
      "name": "Universam",
      "latitude": 55.587655
    },
    {
      "type": "Stop",
      "road_distances": {
        "Universam": 890
      },
      "longitude": 37.653656,
      "name": "Biryulyovo Tovarnaya",
      "latitude": 55.592028
    },
    {
      "type": "Stop",
      "road_distances": {
        "Apteka": 210,
        "TETs 26": 400
      },
      "longitude": 37.64839,
      "name": "Biryusinka",
      "latitude": 55.581065
    },
    {
      "type": "Stop",
      "road_distances": {
        "Biryulyovo Zapadnoye": 1420
      },
      "longitude": 37.652296,
      "name": "Apteka",
      "latitude": 55.580023
    },
    {
      "type": "Stop",
      "road_distances": {
        "Pokrovskaya": 2850
      },
      "longitude": 37.642258,
      "name": "TETs 26",
      "latitude": 55.580685
    },
    {
      "type": "Stop",
      "road_distances": {
        "Rossoshanskaya ulitsa": 3140
      },
      "longitude": 37.635517,
      "name": "Pokrovskaya",
      "latitude": 55.603601
    },
    {
      "type": "Stop",
      "road_distances": {
        "Pokrovskaya": 3210
      },
      "longitude": 37.605757,
      "name": "Rossoshanskaya ulitsa",
      "latitude": 55.595579
    },
    {
      "type": "Stop",
      "road_distances": {
        "Pokrovskaya": 2260
      },
      "longitude": 37.603938,
      "name": "Prazhskaya",
      "latitude": 55.611717
    },
    {
      "type": "Bus",
      "name": "750",
      "stops": [
        "Tolstopaltsevo",
        "Rasskazovka"
      ],
      "is_roundtrip": false
    },
    {
      "type": "Stop",
      "road_distances": {
        "Rasskazovka": 13800
      },
      "longitude": 37.20829,
      "name": "Tolstopaltsevo",
      "latitude": 55.611087
    },
    {
      "type": "Stop",
      "road_distances": {},
      "longitude": 37.333324,
      "name": "Rasskazovka",
      "latitude": 55.632761
    }
  ],
  "stat_requests": [
    {
      "type": "Bus",
      "name": "297",
      "id": 1
    },
    {
      "type": "Bus",
      "name": "635",
      "id": 2
    },
    {
      "type": "Bus",
      "name": "828",
      "id": 3
    },
    {
      "type": "Stop",
      "name": "Universam",
      "id": 4
    },
    {
      "type": "Route",
      "from": "Biryulyovo Zapadnoye",
      "to": "Apteka",
      "id": 5
    },
    {
      "type": "Route",
      "from": "Biryulyovo Zapadnoye",
      "to": "Pokrovskaya",
      "id": 6
    },
    {
      "type": "Route",
      "from": "Biryulyovo Tovarnaya",
      "to": "Pokrovskaya",
      "id": 7
    },
    {
      "type": "Route",
      "from": "Biryulyovo Tovarnaya",
      "to": "Biryulyovo Zapadnoye",
      "id": 8
    },
    {
      "type": "Route",
      "from": "Biryulyovo Tovarnaya",
      "to": "Prazhskaya",
      "id": 9
    },
    {
      "type": "Route",
      "from": "Apteka",
      "to": "Biryulyovo Tovarnaya",
      "id": 10
    },
    {
      "type": "Route",
      "from": "Biryulyovo Zapadnoye",
      "to": "Tolstopaltsevo",
      "id": 11
    }
  ]
}</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="json">[
    {
        "stop_count": 6,
        "route_length": 5880,
        "unique_stop_count": 5,
        "curvature": 1.36159,
        "request_id": 1
    },
    {
        "stop_count": 11,
        "route_length": 14810,
        "unique_stop_count": 6,
        "curvature": 1.12195,
        "request_id": 2
    },
    {
        "stop_count": 11,
        "route_length": 15790,
        "unique_stop_count": 6,
        "curvature": 1.31245,
        "request_id": 3
    },
    {
        "buses": [
            "297",
            "635",
            "828"
        ],
        "request_id": 4
    },
    {
        "items": [
            {
                "time": 2,
                "stop_name": "Biryulyovo Zapadnoye",
                "type": "Wait"
            },
            {
                "time": 3,
                "bus": "828",
                "span_count": 2,
                "type": "Bus"
            },
            {
                "time": 2,
                "stop_name": "Biryusinka",
                "type": "Wait"
            },
            {
                "time": 0.42,
                "bus": "297",
                "span_count": 1,
                "type": "Bus"
            }
        ],
        "request_id": 5,
        "total_time": 7.42
    },
    {
        "items": [
            {
                "time": 2,
                "stop_name": "Biryulyovo Zapadnoye",
                "type": "Wait"
            },
            {
                "time": 9.44,
                "bus": "828",
                "span_count": 4,
                "type": "Bus"
            }
        ],
        "request_id": 6,
        "total_time": 11.44
    },
    {
        "items": [
            {
                "time": 2,
                "stop_name": "Biryulyovo Tovarnaya",
                "type": "Wait"
            },
            {
                "time": 1.78,
                "bus": "635",
                "span_count": 1,
                "type": "Bus"
            },
            {
                "time": 2,
                "stop_name": "Universam",
                "type": "Wait"
            },
            {
                "time": 4.92,
                "bus": "828",
                "span_count": 1,
                "type": "Bus"
            }
        ],
        "request_id": 7,
        "total_time": 10.7
    },
    {
        "items": [
            {
                "time": 2,
                "stop_name": "Biryulyovo Tovarnaya",
                "type": "Wait"
            },
            {
                "time": 6.56,
                "bus": "297",
                "span_count": 4,
                "type": "Bus"
            }
        ],
        "request_id": 8,
        "total_time": 8.56
    },
    {
        "items": [
            {
                "time": 2,
                "stop_name": "Biryulyovo Tovarnaya",
                "type": "Wait"
            },
            {
                "time": 14.32,
                "bus": "635",
                "span_count": 5,
                "type": "Bus"
            }
        ],
        "request_id": 9,
        "total_time": 16.32
    },
    {
        "items": [
            {
                "time": 2,
                "stop_name": "Apteka",
                "type": "Wait"
            },
            {
                "time": 2.84,
                "bus": "297",
                "span_count": 1,
                "type": "Bus"
            },
            {
                "time": 2,
                "stop_name": "Biryulyovo Zapadnoye",
                "type": "Wait"
            },
            {
                "time": 5.2,
                "bus": "297",
                "span_count": 1,
                "type": "Bus"
            }
        ],
        "request_id": 10,
        "total_time": 12.04
    },
    {
        "error_message": "not found",
        "request_id": 11
    }
]</pre>
 <h2 level="2">
  Пример 3
 </h2>
 <h3 level="3">
  Иллюстрации к примеру
 </h3>
 <asset assettype="pdf" extension="pdf" id="OsxZvAi-Eem5_xLqNrIdUA" name="CourseraBrownFinalE3Map-0">
 </asset>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="json">{
  "routing_settings": {
    "bus_wait_time": 2,
    "bus_velocity": 30
  },
  "base_requests": [
    {
      "type": "Bus",
      "name": "289",
      "stops": [
        "Zagorye",
        "Lipetskaya ulitsa 46",
        "Lipetskaya ulitsa 40",
        "Lipetskaya ulitsa 40",
        "Lipetskaya ulitsa 46",
        "Moskvorechye",
        "Zagorye"
      ],
      "is_roundtrip": true
    },
    {
      "type": "Stop",
      "road_distances": {
        "Lipetskaya ulitsa 46": 230
      },
      "longitude": 37.68372,
      "name": "Zagorye",
      "latitude": 55.579909
    },
    {
      "type": "Stop",
      "road_distances": {
        "Lipetskaya ulitsa 40": 390,
        "Moskvorechye": 12400
      },
      "longitude": 37.682205,
      "name": "Lipetskaya ulitsa 46",
      "latitude": 55.581441
    },
    {
      "type": "Stop",
      "road_distances": {
        "Lipetskaya ulitsa 40": 1090,
        "Lipetskaya ulitsa 46": 380
      },
      "longitude": 37.679133,
      "name": "Lipetskaya ulitsa 40",
      "latitude": 55.584496
    },
    {
      "type": "Stop",
      "road_distances": {
        "Zagorye": 10000
      },
      "longitude": 37.638433,
      "name": "Moskvorechye",
      "latitude": 55.638433
    }
  ],
  "stat_requests": [
    {
      "type": "Bus",
      "name": "289",
      "id": 1
    },
    {
      "type": "Route",
      "from": "Zagorye",
      "to": "Moskvorechye",
      "id": 2
    },
    {
      "type": "Route",
      "from": "Moskvorechye",
      "to": "Zagorye",
      "id": 3
    },
    {
      "type": "Route",
      "from": "Lipetskaya ulitsa 40",
      "to": "Lipetskaya ulitsa 40",
      "id": 4
    }
  ]
}</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="json">[
    {
        "unique_stop_count": 4,
        "stop_count": 7,
        "request_id": 1,
        "curvature": 1.63414,
        "route_length": 24490
    },
    {
        "total_time": 29.26,
        "items": [
            {
                "time": 2,
                "stop_name": "Zagorye",
                "type": "Wait"
            },
            {
                "time": 0.46,
                "bus": "289",
                "span_count": 1,
                "type": "Bus"
            },
            {
                "time": 2,
                "stop_name": "Lipetskaya ulitsa 46",
                "type": "Wait"
            },
            {
                "time": 24.8,
                "bus": "289",
                "span_count": 1,
                "type": "Bus"
            }
        ],
        "request_id": 2
    },
    {
        "total_time": 22,
        "items": [
            {
                "time": 2,
                "stop_name": "Moskvorechye",
                "type": "Wait"
            },
            {
                "time": 20,
                "bus": "289",
                "span_count": 1,
                "type": "Bus"
            }
        ],
        "request_id": 3
    },
    {
        "total_time": 0,
        "items": [],
        "request_id": 4
    }
]</pre>
 <h2 level="2">
  Пример 4
 </h2>
 <p>
  <em>
   Тест с максимальными ограничениями
  </em>
 </p>
 <h3 level="3">
  Ввод
 </h3>
 <asset assettype="generic" extension="json" id="hP_-KAjbEem5_xLqNrIdUA" name="transport-input4">
 </asset>
 <h3 level="3">
  Вывод
 </h3>
 <asset assettype="generic" extension="json" id="hP_-GwjbEemYdRIT0BhLtg" name="transport-output4">
 </asset>
 <h2 level="2">
  Подсказки
 </h2>
 <p>
  Если задача вызывает непреодолимые трудности, вы можете воспользоваться подсказками. Они помогут быстрее сдать задачу, но в итоге вы получите меньше пользы от процесса поиска решения.
 </p>
 <p>
  Не нужно открывать все подсказки сразу. Используйте их последовательно.
 </p>
 <p>
  В этой части подсказки посвящены, пожалуй, самой творческой части решения — способу построения графа по автобусным маршрутам.
 </p>
 <asset assettype="pdf" extension="pdf" id="KSyldAEaEemAgQrXx6bp4g" name="e1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="KS6hgQEaEem5Kg7DUflKxA" name="e2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="KTZDEAEaEemlxxL_ZeRz_A" name="e3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="KSymFwEaEemaxBKyA9PBAg" name="e4">
 </asset>
 <asset assettype="pdf" extension="pdf" id="KVFEsgEaEem5Kg7DUflKxA" name="e5">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
