<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вам необходимо написать простую библиотеку для вывода векторных изображений в формате
  <a href="https://ru.wikipedia.org/wiki/SVG" title="">
   SVG
  </a>
  . Поскольку основное применение этой библиотеки в рамках курса — визуализация «Транспортного справочника», достаточно реализовать три типа объектов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Круг (Circle). Описывается координатами центра и радиусом.
   </p>
  </li>
  <li>
   <p>
    <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%BC%D0%B0%D0%BD%D0%B0%D1%8F" title="">
     Ломаная
    </a>
    (Polyline). Описывается координатами вершин.
   </p>
  </li>
  <li>
   <p>
    Надпись (Text). Описывается текстовым содержимым, координатами опорной точки, смещением относительно опорной точки, размером и названием шрифта.
   </p>
  </li>
 </ul>
 <p>
  Кроме того, все типы объектов имеют следующие свойства:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    цвет линии и цвет заливки;
   </p>
  </li>
  <li>
   <p>
    толщина линии;
   </p>
  </li>
  <li>
   <p>
    тип формы конца линии и соединения линий.
   </p>
  </li>
 </ul>
 <p>
  Весь код библиотеки должен находиться в пространстве имён Svg.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <pre language="c_cpp">Svg::Document svg;

svg.Add(
    Svg::Polyline{}
    .SetStrokeColor(Svg::Rgb{140, 198, 63})  // soft green
    .SetStrokeWidth(16)
    .SetStrokeLineCap("round")
    .AddPoint({50, 50})
    .AddPoint({250, 250})
);

for (const auto point : {Svg::Point{50, 50}, Svg::Point{250, 250}}) {
  svg.Add(
      Svg::Circle{}
      .SetFillColor("white")
      .SetRadius(6)
      .SetCenter(point)
  );
}

svg.Add(
    Svg::Text{}
    .SetPoint({50, 50})
    .SetOffset({10, -10})
    .SetFontSize(20)
    .SetFontFamily("Verdana")
    .SetFillColor("black")
    .SetData("C")
);
svg.Add(
    Svg::Text{}
    .SetPoint({250, 250})
    .SetOffset({10, -10})
    .SetFontSize(20)
    .SetFontFamily("Verdana")
    .SetFillColor("black")
    .SetData("C++")
);

svg.Render(std::cout);
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="xml">&lt;?xml version="1.0" encoding="UTF-8" ?&gt;&lt;svg xmlns="http://www.w3.org/2000/svg" version="1.1"&gt;&lt;polyline points="50,50 250,250 " fill="none" stroke="rgb(140,198,63)" stroke-width="16" stroke-linecap="round" /&gt;&lt;circle cx="50" cy="50" r="6" fill="white" stroke="none" stroke-width="1" /&gt;&lt;circle cx="250" cy="250" r="6" fill="white" stroke="none" stroke-width="1" /&gt;&lt;text x="50" y="50" dx="10" dy="-10" font-size="20" font-family="Verdana" fill="black" stroke="none" stroke-width="1" &gt;C&lt;/text&gt;&lt;text x="250" y="250" dx="10" dy="-10" font-size="20" font-family="Verdana" fill="black" stroke="none" stroke-width="1" &gt;C++&lt;/text&gt;&lt;/svg&gt;
</pre>
 <h3 level="3">
  Примечание
 </h3>
 <p>
  Многие современные браузеры умеют отображать SVG-изображения: для этого сохраните нужный документ в файле формата .svg и откройте его с помощью браузера.
 </p>
 <p>
  Например, так выглядит указанный выше SVG-документ в браузере:
 </p>
 <asset assettype="image" extension="svg" id="hKqZq4EVEemT-QpVM56MLg" name="example">
 </asset>
 <h2 level="2">
  Требования к вспомогательным классам
 </h2>
 <h3 level="3">
  Point
 </h3>
 <p>
  Point — структура из двух полей x и y типа double. Необходимо иметь возможность создать точку с помощью выражения Point{x, y}, а также создать с помощью конструктора по умолчанию и затем заполнить поля x и y прямым обращением к ним.
 </p>
 <h3 level="3">
  Rgb
 </h3>
 <p>
  Rgb — структура из целочисленных полей red, green, blue. Необходимо иметь возможность создать объект с помощью выражения Rgb{red, green, blue}, а также создать с помощью конструктора по умолчанию и затем заполнить поля red, green и blue прямым обращением к ним. Поля будут заполняться значениями от 0 до 255. Валидация их инициализированности и попадания значений в диапазон [0, 255] не требуется: в случае нарушения этих требований допускается undefined behaviour.
 </p>
 <h3 level="3">
  Color
 </h3>
 <p>
  Color — тип, который можно проинициализировать одним из трёх способов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Конструктором по умолчанию. Такой цвет выводится как none.
   </p>
  </li>
  <li>
   <p>
    Строкой (std::string). Такой цвет выводится непосредственно как содержимое строки.
   </p>
  </li>
  <li>
   <p>
    Структурой Rgb. Такой цвет выводится в виде rgb(red,green,blue) (см. примеры).
   </p>
  </li>
 </ul>
 <p>
  Тип должен допускать неявную инициализацию строкой или Rgb.
 </p>
 <p>
  Кроме того, для удобства и улучшения читаемости должна существовать глобальная константа Svg::NoneColor, представляющая собой объект класса Color, созданный с помощью конструктора по умолчанию. (По аналогии, например, с std::nullopt.)
 </p>
 <h3 level="3">
  Document
 </h3>
 <p>
  Document — класс, с помощью которого производится компоновка и отрисовка SVG-документа. Класс должен поддерживать следующие операции:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Создание с помощью конструктора по умолчанию: Svg::Document svg;
   </p>
  </li>
  <li>
   <p>
    Добавление объекта: svg.Add(object), где object имеет тип Circle, Polyline или Text. Обратите внимание, что таким образом поддерживается лишь линейная структура документа: составляющие его объекты по сути образуют массив.
   </p>
  </li>
  <li>
   <p>
    Отрисовка (формирование результирующей строки): svg.Render(out), где out — наследник std::ostream.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Методы выставления свойств объектов
 </h2>
 <p>
  Классы Circle, Polyline и Text должны поддерживать создание с помощью конструктора по умолчанию, а также поддерживать описанные ниже методы.
 </p>
 <p>
  Все описанные методы принимают строго одно значение. Упомянутые умолчания — значения свойств в отсутствие вызова соответствующего Set-метода.
 </p>
 <h3 level="3">
  Общие
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    SetFillColor(const Color&amp;): задаёт значение
    <a href="https://www.w3.org/TR/SVG/painting.html#FillProperty" title="">
     свойства fill
    </a>
    — цвет заливки. Значение по умолчанию — NoneColor.
   </p>
  </li>
  <li>
   <p>
    SetStrokeColor(const Color&amp;): задаёт значение
    <a href="https://www.w3.org/TR/SVG/painting.html#StrokeProperty" title="">
     свойства stroke
    </a>
    — цвет линии. Значение по умолчанию — NoneColor.
   </p>
  </li>
  <li>
   <p>
    SetStrokeWidth(double): задаёт значение
    <a href="https://www.w3.org/TR/SVG/painting.html#StrokeWidthProperty" title="">
     свойства stroke-width
    </a>
    — толщину линии. Значение по умолчанию — 1.0.
   </p>
  </li>
  <li>
   <p>
    SetStrokeLineCap(const string&amp;): задаёт значение
    <a href="https://www.w3.org/TR/SVG/painting.html#StrokeLinecapProperty" title="">
     свойства stroke-linecap
    </a>
    — тип формы конца линии. По умолчанию свойство
    <strong>
     не выводится.
    </strong>
   </p>
  </li>
  <li>
   <p>
    SetStrokeLineJoin(const string&amp;): задаёт значение
    <a href="https://www.w3.org/TR/SVG/painting.html#StrokeLinejoinProperty" title="">
     свойства stroke-linejoin
    </a>
    — тип формы соединения линий. По умолчанию свойство
    <strong>
     не выводится.
    </strong>
   </p>
  </li>
 </ul>
 <h3 level="3">
  Circle
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    SetCenter(Point): задаёт значения свойств
    <a href="https://www.w3.org/TR/SVG/geometry.html#CxProperty" title="">
     cx
    </a>
    и
    <a href="https://www.w3.org/TR/SVG/geometry.html#CyProperty" title="">
     cy
    </a>
    — координаты центра круга. Значения по умолчанию — 0.0.
   </p>
  </li>
  <li>
   <p>
    SetRadius(double): задаёт значение
    <a href="https://www.w3.org/TR/SVG/geometry.html#RProperty" title="">
     свойства r
    </a>
    — радиус круга. Значение по умолчанию — 1.0.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Polyline
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    AddPoint(Point): добавляет вершину ломаной — элемент
    <a href="https://www.w3.org/TR/SVG/shapes.html#PolylineElementPointsAttribute" title="">
     свойства points
    </a>
    , записываемый в виде x,y и отделяемый пробелами от соседних элементов (см. примеры). Значение свойства по умолчанию — пустая строка.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Text
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    SetPoint(Point): задаёт значения свойств
    <a href="https://www.w3.org/TR/SVG/geometry.html#XProperty" title="">
     x
    </a>
    и
    <a href="https://www.w3.org/TR/SVG/geometry.html#YProperty" title="">
     y
    </a>
    — координаты текста. Значения по умолчанию — 0.0.
   </p>
  </li>
  <li>
   <p>
    SetOffset(Point): задаёт значения
    <a href="https://www.w3.org/TR/SVG/text.html#TextElementDXAttribute" title="">
     свойств dx и dy
    </a>
    — величины отступа текста от координаты. Значения по умолчанию — 0.0.
   </p>
  </li>
  <li>
   <p>
    SetFontSize(uint32_t): задаёт значение
    <a href="https://www.w3.org/TR/css-fonts-3/#font-size-prop" title="">
     свойства font-size
    </a>
    — размер шрифта. Значение по умолчанию — 1.
   </p>
  </li>
  <li>
   <p>
    SetFontFamily(const string&amp;): задаёт значение
    <a href="https://www.w3.org/TR/css-fonts-3/#font-family-prop" title="">
     свойства font-family
    </a>
    — название шрифта. По умолчанию свойство
    <strong>
     не выводится.
    </strong>
   </p>
  </li>
  <li>
   <p>
    SetData(const string&amp;): задаёт содержимое тега &lt;text&gt; — непосредственно выводимый текст. По умолчанию текст пуст.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Отрисовка
 </h2>
 <p>
  Строка, собираемая в методе Svg::Document::Render, должна быть устроена следующим образом:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    &lt;?xml version="1.0" encoding="UTF-8" ?&gt;
   </p>
  </li>
  <li>
   <p>
    &lt;svg xmlns="http://www.w3.org/2000/svg" version="1.1"&gt;
   </p>
  </li>
  <li>
   <p>
    Объекты, добавленные с помощью Svg::Document::Add, в порядке их добавления.
   </p>
  </li>
  <li>
   <p>
    &lt;/svg&gt;
   </p>
  </li>
 </ol>
 <p>
  Все свойства объектов выводятся в следующем формате: название свойства, символ = и затем значение в кавычках.
 </p>
 <p>
  Лишние пробельные символы допускаются:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Между тегами. (За исключением текста между открывающим и закрывающим тегами &lt;text&gt;.)
   </p>
  </li>
  <li>
   <p>
    Между свойствами, перед и после списка свойств, вокруг символа =, разделяющего название свойства и значение.
   </p>
  </li>
  <li>
   <p>
    Между координатами, перед и после списка координат в значении свойства points.
   </p>
  </li>
 </ol>
 <h3 level="3">
  Circle
 </h3>
 <p>
  Круг отображается следующим образом: строка "&lt;circle ", затем через пробел свойства в произвольном порядке, затем строка "/&gt;"
 </p>
 <h3 level="3">
  Polyline
 </h3>
 <p>
  Ломаная отображается следующим образом: строка "&lt;polyline ", затем через пробел свойства в произвольном порядке, затем строка "/&gt;"
 </p>
 <h3 level="3">
  Text
 </h3>
 <p>
  Текст отображается следующим образом: строка "&lt;text ", затем через пробел свойства в произвольном порядке, затем символ "&gt;", содержимое надписи и, наконец, закрывающий тег "&lt;/text&gt;"
 </p>
 <h2 level="2">
  Прочие требования
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Библиотека может содержать и другие вспомогательные классы, необходимые для реализации упомянутых требований. Более того, без этого не удастся получить достаточно поддерживаемый код.
   </p>
  </li>
  <li>
   <p>
    Упомянутые классы могут содержать и другие методы, кроме ситуаций, когда это противоречит требованию п. 4.
   </p>
  </li>
  <li>
   <p>
    Вызовы методов при создании объектов Circle, Polyline или Text могут объединяться в цепочки в произвольном порядке.
   </p>
  </li>
  <li>
   <p>
    Классы объектов Circle, Polyline или Text должны поддерживать
    <strong>
     свои и только свои
    </strong>
    методы выставления свойств. Например, не должны компилироваться выражения Svg::Text{}.SetRadius(0) или Svg::Circle{}.SetData("").
   </p>
  </li>
  <li>
   <p>
    Широкая поддержка rvalue-семантики не требуется. В частности, в выражении svg.Add(Svg::Polyline{}.AddPoint({0, 0}).AddPoint({1, 2})) не обязан вызываться move-конструктор ломаной. Тем не менее, реализация этого — довольно интересное упражнение. Помимо этого, мы настоятельно рекомендуем поддержать форсирование перемещения при добавлении объекта с помощью следующего выражения: svg.Add(move(polyline)).
   </p>
  </li>
  <li>
   <p>
    Экранирование при выводе строк поддерживать не требуется: достаточно выводить их как есть.
   </p>
  </li>
  <li>
   <p>
    Вывод вещественных чисел должен осуществляться стандартным механизмом, без модификаторов вывода. При тестировании вещественные числа будут сравниваться с относительной точностью 1e-6.
   </p>
  </li>
  <li>
   <p>
    Ограничения допускают любое адекватное линейное решение: за 1 секунду нужно успевать обрабатывать 100000 вызовов конструкторов объектов и методов выставления свойств, а также один вызов Svg::Document::Render.
   </p>
  </li>
  <li>
   <p>
    Отправляйте решение задачи в файле с расширением cpp.
   </p>
  </li>
 </ol>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
