<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой части вам понадобится построить первую версию карты автобусных маршрутов в формате SVG. Карта должна выводиться в ответ на новый запрос к базе — Map:
 </p>
 <pre language="json">"stat_requests": [
  /* ... */
  {
    "id": 999,
    "type": "Map"
  }
]</pre>
 <p>
  Ответ на запрос Map содержит единственный ключ "map" с SVG-документом:
 </p>
 <pre language="json">{
  "map": "&lt;?xml version=\"1.0\" encoding=\"UTF-8\" ?&gt;&lt;svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\"&gt;&lt;/svg&gt;"
}</pre>
 <p>
  Обратите внимание на необходимость экранирования спецсимволов при выводе строк в JSON: кавычки " и бекслеша \
 </p>
 <h3 level="3">
  Расширение используемого подмножества формата SVG
 </h3>
 <p>
  Для построения карты достаточно библиотеки из части F, за одним исключением: цвет может задаваться не только строкой или в формате RGB, но и в формате RGBA (RGB с альфа-каналом): rgba(red,green,blue,alpha) (см. примеры). Альфа-канал сравнивается с правильным с абсолютной погрешностью 1e-6.
 </p>
 <p>
  Вы не обязаны использовать библиотеку из предыдущей части. Тем не менее, к итоговому SVG-документу выдвигаются прежние требования.
 </p>
 <h2 level="2">
  Настройки отрисовки
 </h2>
 <p>
  Во входных данных добавляется новый ключ — "render_settings", значение которого — словарь, задающий настройки отрисовки.
 </p>
 <table columns="4" rows="11">
  <thead>
   <tr>
    <th>
     <p>
      <strong>
       Ключ
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Описание
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Формат значения
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Гарантии
      </strong>
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     width
    </p>
   </td>
   <td>
    <p>
     Максимальная ширина карты
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     height
    </p>
   </td>
   <td>
    <p>
     Максимальная высота карты
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     padding
    </p>
   </td>
   <td>
    <p>
     Отступ от краёв карты
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Не меньше 0 и меньше min(width, height) / 2
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     stop_radius
    </p>
   </td>
   <td>
    <p>
     Радиус круга остановки
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     line_width
    </p>
   </td>
   <td>
    <p>
     Толщина линий маршрутов
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     stop_label_font_size
    </p>
   </td>
   <td>
    <p>
     Размер шрифта названий остановок
    </p>
   </td>
   <td>
    <p>
     Целое число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     stop_label_offset
    </p>
   </td>
   <td>
    <p>
     Смещение названий остановок
    </p>
   </td>
   <td>
    <p>
     Точка (массив из 2 вещественных чисел)
    </p>
   </td>
   <td>
    <p>
     Не меньше -100000 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     underlayer_color
    </p>
   </td>
   <td>
    <p>
     Цвет подложки под надписями
    </p>
   </td>
   <td>
    <p>
     Цвет
    </p>
   </td>
   <td>
    <p>
     См. ниже
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     underlayer_width
    </p>
   </td>
   <td>
    <p>
     Толщина линий подложки под надписями
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     color_palette
    </p>
   </td>
   <td>
    <p>
     Палитра цветов маршрутов
    </p>
   </td>
   <td>
    <p>
     Массив цветов
    </p>
   </td>
   <td>
    <p>
     Непустой массив валидных цветов (см. ниже) длины не более 100
    </p>
   </td>
  </tr>
 </table>
 <p>
  Подробно сценарий использования каждого свойства описан ниже.
 </p>
 <h3 level="3">
  Описание цвета в JSON
 </h3>
 <p>
  В значениях свойств underlayer_color и color_palette задаются цвета.
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Строковое значение цвета задаётся непосредственно строкой: "green". В этом случае гарантируется, что эта строка непуста, содержит только строчные латинские буквы и имеет длину не более 20.
   </p>
  </li>
  <li>
   <p>
    RGB-значение задаётся массивом трёх целых чисел: [0, 255, 0]. В этом случае гарантируется, что все числа принадлежат диапазону [0, 255].
   </p>
  </li>
  <li>
   <p>
    RGBA-значение задаётся массивом из трёх целых чисел и одного вещественного: [0, 255, 0, 0.5]. В этом случае гарантируется, что первые три числа принадлежат диапазону [0, 255], а четвёртое — диапазону [0, 1].
   </p>
  </li>
 </ul>
 <p>
  Гарантируется, что каждый цвет задан с помощью одного из трёх форматов.
 </p>
 <h2 level="2">
  Алгоритм отрисовки
 </h2>
 <p>
  Чтобы вашу программу можно было автоматически проверить, необходимо в точности соблюдать порядок отрисовки объектов и алгоритм проекции остановок на плоскую карту.
 </p>
 <p>
  Карта состоит из объектов трёх типов, выводимых в следующем порядке:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Линии (ломаные) автобусных маршрутов.
   </p>
  </li>
  <li>
   <p>
    Круги, обозначающие остановки.
   </p>
  </li>
  <li>
   <p>
    Названия остановок.
   </p>
  </li>
 </ol>
 <p>
  Свойства SVG-объектов, не упомянутые ниже, должны иметь те же значения по умолчанию, что и в части F.
 </p>
 <h3 level="3">
  Проекция координат на карту
 </h3>
 <p>
  Одна из основных задач при рисовании карты — по координатам ключевых точек (в данном случае это автобусные остановки) на земной поверхности определить их координаты на карте (Svg::Point). Для кастомизации этого алгоритма используются три настройки отрисовки: width, height и padding.
 </p>
 <p>
  Суть дальнейшего алгоритма — использование долгот и широт в качестве координат x и y и их масштабирование для вписания в прямоугольник (width - 2 * padding) × (height - 2 * padding).
 </p>
 <p>
  Для начала, вычислим минимальные и максимальные значения широт и долгот: min_lat, min_lon, max_lat, max_lon. Дальнейшие преобразования приведут к тому, что остановка с минимальной долготой (longitude) будет иметь минимальную координату x — равную padding; остановка с
  <strong>
   максимальной
  </strong>
  широтой (самая северная) будет иметь минимальную координату y, тоже равную padding.
 </p>
 <p>
  Вычислим максимально допустимый коэффициент масштабирования долгот в иксы: он равен width_zoom_coef = (width - 2 * padding) / (max_lon - min_lon). Аналогично, максимально допустимый коэффициент масштабирования широт в игреки height_zoom_coef = (height - 2 * padding) / (max_lat - min_lat).
 </p>
 <p>
  Итоговый коэффициент масштабирования (единый для обеих осей) zoom_coef выберем как минимум из width_zoom_coef и height_zoom_coef. Если при вычислении одного из упомянутых выше коэффициентов возникло деление на 0 (из-за того, что все остановки имеют одинаковую широту или одинаковую долготу), в качестве zoom_coef необходимо выбрать другой из двух коэффициентов. Если же все остановки имеют одинаковые координаты, будем считать zoom_coef = 0.
 </p>
 <p>
  Наконец, получаем следующие формулы вычисления x и y по долготе (lon) и широте (lat):
 </p>
 <pre language="c_cpp">x = (lon - min_lon) * zoom_coef + padding;
y = (max_lat - lat) * zoom_coef + padding;</pre>
 <h3 level="3">
  Определение цветов автобусов
 </h3>
 <p>
  Значение настройки color_palette — это цветовая палитра, из которой следует выбирать цвета для автобусных линий. Первый по алфавиту автобус должен получить первый цвет, второй автобус — второй цвет и т. д. Если автобусов оказывается больше, чем цветов палитре, цвета переиспользуются по циклу: например, в случае 10 автобусов и 3 цветов в палитре первый цвет получат 1-й, 4-й, 7-й и 10-й автобусы.
 </p>
 <h3 level="3">
  Отрисовка автобусных маршрутов
 </h3>
 <p>
  Линии автобусных маршрутов необходимо выводить в порядке возрастания номера (названия) автобуса.
 </p>
 <p>
  Каждая линия — это ломаная со следующими свойствами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Цвет линии (stroke) определён в соответствии с описанными выше правилами.
   </p>
  </li>
  <li>
   <p>
    Толщина линии (stroke-width) равна настройке line_width.
   </p>
  </li>
  <li>
   <p>
    Формы конца линии (stroke-linecap) и соединений (stroke-linejoin) равны "round".
   </p>
  </li>
 </ul>
 <p>
  Вершины каждой ломаной — это координаты соответствующих остановок. Вершины должны быть выведены в порядке обхода маршрута
  <strong>
   от первой до первой остановки по кольцевому маршруту:
  </strong>
  количество вершин должно оказаться равным значению величины stop_count из ответа на запрос Bus. Таким образом, в случае некольцевого маршрута ("is_roundtrip": false) каждый отрезок между соседними остановками будет нарисован дважды.
 </p>
 <h3 level="3">
  Отрисовка кругов остановок
 </h3>
 <p>
  Круги остановок необходимо выводить в порядке возрастания названия остановки, по одному на каждую остановку, независимо от количества автобусов, проходящих через конкретную остановку.
 </p>
 <p>
  Круг должен иметь следующие свойства:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Координаты центра (cx и cy) — координаты соответствующей остановки.
   </p>
  </li>
  <li>
   <p>
    Радиус (r) равен настройке stop_radius.
   </p>
  </li>
  <li>
   <p>
    Цвет заливки (fill) — "white".
   </p>
  </li>
 </ul>
 <h3 level="3">
  Отрисовка названий остановок
 </h3>
 <p>
  Названия остановок необходимо выводить в порядке возрастания названия остановки, по одному на каждую остановку, независимо от количества автобусов, проходящих через конкретную остановку.
 </p>
 <p>
  Для каждой остановки необходимо вывести
  <strong>
   два текстовых объекта:
  </strong>
  полупрозрачную подложку и саму надпись.
 </p>
 <p>
  Общие свойства обоих объектов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Координаты (x и y) — координаты соответствующей остановки.
   </p>
  </li>
  <li>
   <p>
    Смещение (dx и dy) равно настройке stop_label_offset.
   </p>
  </li>
  <li>
   <p>
    Размер шрифта (font-size) равно настройке stop_label_font_size.
   </p>
  </li>
  <li>
   <p>
    Название шрифта (font-family) — "Verdana".
   </p>
  </li>
  <li>
   <p>
    Содержимое — собственно название остановки.
   </p>
  </li>
 </ul>
 <p>
  Дополнительные свойства подложки:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Цвет заливки (fill) и цвет линий (stroke) равны настройке underlayer_color.
   </p>
  </li>
  <li>
   <p>
    Толщина линий (stroke-width) равна настройке underlayer_width.
   </p>
  </li>
  <li>
   <p>
    Формы конца линии (stroke-linecap) и соединений (stroke-linejoin) равны "round".
   </p>
  </li>
 </ul>
 <p>
  Дополнительное свойство самой надписи:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Цвет заливки (fill) — "black".
   </p>
  </li>
 </ul>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="xMFW5J-2EemEawpeY3OQmg" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="xMJoOJ-2EemRkw79YeZlmg" name="example1">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="xMJpAp-2EemPZRLYQifSTA" name="example1">
 </asset>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="g5V38n3uEem3uwrt2iBKLA" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="g5XtFX3uEemLVA4I-ocMxA" name="example2">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="2jAyBn3yEem3uwrt2iBKLA" name="example2">
 </asset>
 <h3 level="3">
  Комментарии
 </h3>
 <p>
  В примерах использованы кириллические названия. Это сделано для наглядности демонстрации: вы должны работать со строками прежним способом. Если на вашем компьютере кириллические названия из примера выводятся некорректно, замените буквы латинскими. Тесты, на которых ваша программа проверяется в системе, не содержат кириллических букв.
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <p>
  Основные ограничения те же, что в части E (в формулировке
  <a href="https://www.coursera.org/learn/c-plus-plus-black/programming/oBwub/transportnyi-spravochnik-chast-e" title="отсюда">
   отсюда
  </a>
  , а не из блока про санитайзеры). Дополнительно гарантируется, что Map-запросов не более двух. также в названиях остановок и автобусов дополнительно допускаются точки, запятые и апострофы (').
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
