<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой части на карту автобусных маршрутов необходимо добавить номера (названия) автобусов, подписав их возле конечных остановок.
 </p>
 <h2 level="2">
  Настройки отрисовки
 </h2>
 <p>
  Добавляется две новых настройки:
 </p>
 <table columns="4" rows="3">
  <thead>
   <tr>
    <th>
     <p>
      <strong>
       Ключ
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Описание
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Формат значения
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Гарантии
      </strong>
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     bus_label_font_size
    </p>
   </td>
   <td>
    <p>
     Размер шрифта названий автобусов
    </p>
   </td>
   <td>
    <p>
     Целое число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     bus_label_offset
    </p>
   </td>
   <td>
    <p>
     Смещение названий автобусов
    </p>
   </td>
   <td>
    <p>
     Точка
    </p>
   </td>
   <td>
    <p>
     Не меньше -100000 и не больше 100000
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <h2 level="2">
  Отрисовка названий автобусов
 </h2>
 <p>
  Названия автобусов должны отрисовываться у конечных остановок. В случае кольцевого маршрута ("is_roundtrip": true) конечной считается первая остановка маршрута, в случае некольцевого — первая и последняя.
 </p>
 <p>
  Названия автобусов выводятся в порядке возрастания названий, а в рамках одного автобуса — сначала для первой конечной, а затем, если маршрут некольцевой и конечные не совпадают, для второй.
 </p>
 <p>
  Для каждого названия у конечной необходимо вывести два текстовых объекта: полупрозрачную подложку и саму надпись.
 </p>
 <p>
  Общие свойства обоих объектов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Координаты (x и y) — координаты соответствующей остановки.
   </p>
  </li>
  <li>
   <p>
    Смещение (dx и dy) равно настройке bus_label_offset.
   </p>
  </li>
  <li>
   <p>
    Размер шрифта (font-size) равно настройке bus_label_font_size.
   </p>
  </li>
  <li>
   <p>
    Название шрифта (font-family) — "Verdana".
   </p>
  </li>
  <li>
   <p>
    Насыщенность шрифта (font-weight) — "bold". (Для остальных SVG-объектов font-weight должен отсутствовать в списке свойств.)
   </p>
  </li>
  <li>
   <p>
    Содержимое — собственно название автобуса.
   </p>
  </li>
 </ul>
 <p>
  Дополнительные свойства подложки:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Цвет заливки (fill) и цвет линий (stroke) равны настройке underlayer_color.
   </p>
  </li>
  <li>
   <p>
    Толщина линий (stroke-width) равна настройке underlayer_width.
   </p>
  </li>
  <li>
   <p>
    Формы конца линии (stroke-linecap) и соединений (stroke-linejoin) равны "round".
   </p>
  </li>
 </ul>
 <p>
  Дополнительное свойство самой надписи:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Цвет заливки (fill) равен цвету соответствующего автобуса из палитры.
   </p>
  </li>
 </ul>
 <p>
  Названия автобусов выводятся сразу после линий. Таким образом, порядок отрисовки объектов получается следующим:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Линии автобусных маршрутов.
   </p>
  </li>
  <li>
   <p>
    Названия автобусов.
   </p>
  </li>
  <li>
   <p>
    Круги, обозначающие остановки.
   </p>
  </li>
  <li>
   <p>
    Названия остановок.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="8mtnNZ-2EemEawpeY3OQmg" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="8mtnI5-2EemnpBK2VMQaIg" name="example1">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="8mwD-p-2EemRkw79YeZlmg" name="example1">
 </asset>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="WmnNBn7uEemUJRIjvKFicg" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="WmssAH7uEem2AQ6u9bTEKg" name="example2">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="Wmpor37uEem2AQ6u9bTEKg" name="example2">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
