<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой части необходимо поддержать управление слоями карты: их наличием и относительным порядком.
 </p>
 <p>
  Добавляется новая настройка отрисовки:
 </p>
 <table columns="4" rows="2">
  <thead>
   <tr>
    <th>
     <p>
      <strong>
       Ключ
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Описание
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Формат значения
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Гарантии
      </strong>
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     layers
    </p>
   </td>
   <td>
    <p>
     Названия слоёв для вывода карты
    </p>
   </td>
   <td>
    <p>
     Массив строк
    </p>
   </td>
   <td>
    <p>
     Каждая строка — валидное название слоя, количество строк не более 10
    </p>
   </td>
  </tr>
 </table>
 <p>
  Названия слоёв могут быть следующими:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    "bus_lines" — линии автобусов.
   </p>
  </li>
  <li>
   <p>
    "bus_labels" — названия автобусов.
   </p>
  </li>
  <li>
   <p>
    "stop_points" — круги остановок.
   </p>
  </li>
  <li>
   <p>
    "stop_labels" — названия остановок.
   </p>
  </li>
 </ul>
 <p>
  Теперь порядок отрисовки слоёв определяется исключительно настройкой layers. Более того, если какой-то из 4 слоёв отсутствует в списке, он не должен быть отрисован. Например, при "layers": ["bus_lines", "stop_points", "stop_labels"] карта получится полностью соответствующей части G.
 </p>
 <p>
  Если слой указан несколько раз, он должен быть отрисован соответствующее количество раз. Например, при "layers": ["bus_lines", "stop_points", "bus_lines"] автобусные линии будут нарисованы как под кругами остановок, так и над ними.
 </p>
 <p>
  Если набор слоёв пуст, карта не должна содержать объектов внутри тега &lt;svg&gt;.
 </p>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="UGaLo5-3EemPZRLYQifSTA" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="UGcoN5-3EemEawpeY3OQmg" name="example1">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="UGedFJ-3EemPZRLYQifSTA" name="example1">
 </asset>
 <p>
 </p>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="lEQeN371EemqjBJ9PjCDmA" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="lEP3FH71EemDJAqQ6uIUNA" name="example2">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="lDzKV371EemwbA6NWV4gZg" name="example2">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
