<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Теория — статический и динамический тип указателя или ссылки на объект
 </h2>
 <p>
  Рассмотрим простой код
 </p>
 <pre language="c_cpp">struct Parent {
  virtual string Name() const { return "Parent"; }
};

struct Child : Parent {
  virtual string Name() const override { return "Child"; }
};

void Print(const Parent&amp; object) {
  cout &lt;&lt; object.Name() &lt;&lt; '\n';
}

int main() {
  Print(Parent());
  Print(Child());
}</pre>
 <p>
  Если у вас спросить, какой тип имеет параметр object функции Print, вы наверняка ответите «const Parent&amp;» и будете правы. А если мы спросим, на объект какого типа ссылается параметр object, то правильным будет ответ: «Зависит от того, какой объект передали в функцию Print».
 </p>
 <p>
  Получается, с одной стороны, мы знаем, какой тип имеет параметер object, но с другой стороны, мы не можем точно сказать, на объект какого типа он ссылается. В этом и состоит разница между статическим и динамическим типом ссылки (или указателя) на класс, у которого могут быть наследники.
 </p>
 <p>
  Статический тип ссылки — это тип, известный на этапе компиляции. В нашем примере статический тип параметра object — это const Parent&amp;.
 </p>
 <p>
  Динамический тип ссылки — это тип объекта, на который она ссылается в данный момент времени. Динамическим типом параметра object во время первого вызова функции Print будет const Parent, во время второго вызова функции Print — const Child.
 </p>
 <h2 level="2">
  Теория — тип указателя this в классах-наследниках
 </h2>
 <p>
  Теперь давайте рассмотрим другой пример. Как вы думаете, что будет выведено на экран?
 </p>
 <pre language="c_cpp">struct Parent;
struct Child;

void PrintType(Parent*) { cout &lt;&lt; "Parent\n"; }
void PrintType(Child*) { cout &lt;&lt; "Child\n"; }

struct Parent {
  virtual void Print() { PrintType(this); }
};

struct Child : Parent {
};

int main() {
  Child().Print();
}</pre>
 <p>
  Вариантов, на самом деле, всего два, и правильный — это «Parent». Несмотря на то, что мы создали объект типа Child, указатель this внутри методов класса Parent имеет тип Parent*, а не Child*, как могло бы показаться. И это логично, потому что
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    выбор, какая из двух функций PrintType будет вызвана из метода Parent::Print, осуществляется на этапе компиляции; в этот момент компилятор наверняка знает только одно — что указатель this будет указывать на объект класса Parent
   </p>
  </li>
  <li>
   <p>
    виртуальными (то есть зависящими от динамического типа) в C++ могут быть только методы, а this — это лишь указатель.
   </p>
  </li>
 </ul>
 <p>
  Наконец, рассмотрим ещё один пример и снова зададимся вопросом, что он выведет:
 </p>
 <pre language="c_cpp">struct Parent;
struct Child;

void PrintType(Parent*) { cout &lt;&lt; "Parent\n"; }
void PrintType(Child*) { cout &lt;&lt; "Child\n"; }

struct Parent {
  virtual void Print() { PrintType(this); }
};

struct Child : Parent {
  void Print() override { PrintType(this); }
};

int main() {
  Child().Print();
}</pre>
 <p>
  Мы переопределили метод Print в классе Child, оставив у него точь-в-точь такую же реализацию, какая была в Parent::Print. Но кое-что изменилось — тип указателя this. Внутри метода Child::Print он имеет тип Child*. Причина та же — когда компилятор обрабатывает метод Child::Print, он знает, что this точно будет указывать на объект класса Child.
 </p>
 <p>
  Итак, главный вывод — this всегда имеет тип указателя на тот класс, в методе которого он используется.
 </p>
 <h2 level="2">
  Условие задачи
 </h2>
 <p>
  Из лекций мы узнали, что this всегда указывает на текущий объект класса, а также, что он является неявным параметром всех его методов. Кроме того, мы только что познакомились с понятиями статического и динамического типов ссылки (или указателя). В этой задаче мы объединим эти знания, чтобы реализовать так называемую двойную диспетчеризацию — мы напишем функцию, которая ведёт себя по-разному в зависимости от динамических типов
  <strong>
   двух
  </strong>
  объектов, которые в неё переданы.
 </p>
 <p>
  Представим, что мы пишем движок для классической компьютерной стратегии: игроки строят города, формируют армию, а потом сражаются друг с другом. В нашей игре есть несколько объектов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    юниты — это солдаты, рабочие, кавалеристы и т.д.
   </p>
  </li>
  <li>
   <p>
    здания — фабрики, заводы, казармы и т.д.
   </p>
  </li>
  <li>
   <p>
    башни и стены — защитные сооружения для обороны своего города
   </p>
  </li>
 </ul>
 <p>
  Мы работаем над функциональностью размещения новых объектов на игровой карте. Допустим, мы хотим построить новое здание. Мы начинаем искать на карте место, где его можно разместить, а графический интерфейс игры нам в этом помогает. Здание можно построить в том месте карты, где нет других объектов. Если в текущей позиции здание пересекается с каким-то из объектов, то интерфейс рисует наше здание красным цветом, сообщая, что здесь его построить нельзя.
 </p>
 <p>
  При этом юниты представляются точкой на плоскости, здания — прямоугольником, башни — кругом, а стены — отрезком. Кроме того, для каждого игрового объекта в нашем движке заведён отдельный класс, который наследуется от абстрактного класса GameObject:
 </p>
 <pre language="c_cpp">class Unit;
class Building;
class Tower;
class Fence;

struct GameObject {
  virtual ~GameObject() = default;

  virtual bool Collide(const GameObject&amp; that) const = 0;
  virtual bool CollideWith(const Unit&amp; that) const = 0;
  virtual bool CollideWith(const Building&amp; that) const = 0;
  virtual bool CollideWith(const Tower&amp; that) const = 0;
  virtual bool CollideWith(const Fence&amp; that) const = 0;
};</pre>
 <p>
  Наша задача — реализовать функцию bool Collide(const GameObject&amp; first, const GameObject&amp; second), которая проверяет пересекаются ли два игровых объекта, то есть имеют ли они хотя бы одну общую точку.
 </p>
 <p>
  Вам даны:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    файл game_object.h, содержащий интерфейс GameObject и объявление функции Collide
   </p>
  </li>
  <li>
   <p>
    файлы geo2d.h/cpp, содержащие библиотеку для работы с геометрическими фигурами на плоскости; библиотека состоит из классов Point, Rectangle, Circle и Segment и набора функций Collide, которые умеют определять пересечение для каждой пары фигур (занимательный факт — все функции реализованы в целых числах, без применения вычислений в типе double)
   </p>
  </li>
  <li>
   <p>
    файл collide.cpp, содержащий заготовку решения, а также юнит-тест, эмулирующий размещение нового объекта на игровой карте
   </p>
  </li>
 </ul>
 <p>
  Пришлите в тестирующую систему файл collide.cpp, который будет:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    подключать game_object.h
   </p>
  </li>
  <li>
   <p>
    содержать реализации классов Unit, Building, Tower и Fence (все они должны наследоваться от GameObject и реализовывать его интерфейс)
   </p>
  </li>
  <li>
   <p>
    содержать реализацию функции bool Collide(const GameObject&amp; first, const GameObject&amp; second), которая возвращает true, если объекты first и second имеют на плоскости хотя бы одну общую точку, и false в противном случае.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Один из способов реализовать функцию Collide — использовать dynamic_cast. Мы не освещали его в лекциях. Кроме того, этот способ приводит к появлению развесистого кода, подверженного возникновению ошибок. Мы хотим, чтобы в этой задаче вы хорошенько разобрались с понятиями статического и динамического типа, а также поработали с указателем this. Поэтому мы будем компилировать ваши решения с флагом -fno-rtti, который будет приводить к ошибкам компиляции в случае использования dynamic_cast.
 </p>
 <h3 level="3">
  Файлы задачи
 </h3>
 <asset assettype="generic" extension="h" id="7HNY-_YyEeiAgQrXx6bp4g" name="geo2d">
 </asset>
 <asset assettype="generic" extension="cpp" id="KWzIRvYzEeiTKQ5ajE7PqA" name="geo2d">
 </asset>
 <asset assettype="generic" extension="h" id="PfGe4fYzEeiTKQ5ajE7PqA" name="game_object">
 </asset>
 <h3 level="3">
 </h3>
 <asset assettype="generic" extension="cpp" id="UPnD7QN6EemU7w7-EFnPcg" name="collide">
 </asset>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="oET5nfYzEei5Kg7DUflKxA" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="oEUhRvYzEeiTKQ5ajE7PqA" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="oEQ2kPYzEeilxxL_ZeRz_A" name="Подсказка 3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="oESE3vYzEeiaxBKyA9PBAg" name="Подсказка 4">
 </asset>
 <asset assettype="pdf" extension="pdf" id="oEbOofYzEeilxxL_ZeRz_A" name="Подсказка 5">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
