<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Предисловие
 </h2>
 <p>
  В этой задаче мы разберём приём, известный как chaining, который широко применяется во многих языках программирования, особенно в JavaScript. В C++ chaining тоже имеет свою нишу применения. Указатель this необходим для реализации chaining'а. Кроме того, чтобы задача не выглядела искусственной, мы разберём применение этого приёма в реальной практической ситуации, с которой сталкивался один из преподавателей курса.
 </p>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Вы подключились к команде, которая разрабатывает web-сервер комментариев. Этот сервер позволяет создавать новых пользователей, публиковать новые объявления, а также читать все объявления выбранного пользователя. Кроме того команда недавно озаботилась борьбой со спамерами. Если какой-то пользователь признаётся спамером, он блокируется, после чего ему выдаётся страница капчи, на которой он должен подтвердить, что он человек. В случае успешного ввода капчи пользователь разблокируется и получает возможность снова оставлять комментарии.
 </p>
 <p>
  Для выявления спамеров используется довольно простой алгоритм — спамером признаётся пользователь, отправивший три комментария подряд (см. реализацию сервера в заготовке решения).
 </p>
 <p>
  Сервер работает по протоколу HTTP и обрабатывает следующие запросы:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    POST /add_user — добавляет нового пользователя и возвращает ответ 200 OK, в теле которого содержится идентификатор вновь добавленного пользователя (см. реализацию в заготовке решения)
   </p>
  </li>
  <li>
   <p>
    POST /add_comment — извлекает из тела запроса идентификатор пользователя и новый комментарий; если пользователь признаётся спамером, возвращает 302 Found c заголовком Location: /captcha, переводя пользователя на страницу капчи, в противном случае сохраняет комментарий и возвращает 200 OK
   </p>
  </li>
  <li>
   <p>
    GET /user_comments?user_id=[id] — возвращает ответ 200 OK, в теле которого содержатся все комментарии пользователя id, разделённые переводом строки
   </p>
  </li>
  <li>
   <p>
    GET /captcha — возвращает ответ 200 OK, в теле которого содержится страница капчи (для простоты в этой задаче мы просто возвращаем вопрос, на который надо ответить пользователю, на практике это может быть полноценная HTML-страница)
   </p>
  </li>
  <li>
   <p>
    POST /checkcaptcha — извлекает из тела запроса ответ на вопрос капчи; если он верен, разблокирует пользователя и возвращает 200 OK, если нет — возвращает 302 Found c заголовком Location: /captcha
   </p>
  </li>
  <li>
   <p>
    если метод запроса не POST и не GET или путь запроса не совпадает ни с одним из вышеперечисленных, сервер отвечает 404 Not found.
   </p>
  </li>
 </ul>
 <p>
  Web-сервер в коде реализован с помощью класса CommentServer:
 </p>
 <pre language="c_cpp">struct HttpRequest {
  string method, path, body;
  map&lt;string, string&gt; get_params;
};

class CommentServer {
public:
  void ServeRequest(const HttpRequest&amp; req, ostream&amp; response_output);

private:
  ...
};</pre>
 <p>
  Его метод ServeRequest принимает HTTP-запрос, обрабатывает его и записывает HTTP-ответ в выходной поток response_output (этот поток может быть привязан к сетевому соединению). При записи HTTP-ответа в выходной поток используется следующий формат:
 </p>
 <pre>HTTP/1.1 [код ответа] [комментарий]
[Заголовок 1]: [Значение заголовка 1]
[Заголовок 2]: [Значение заголовка 2]
...
[Заголовок N]: [Значение заголовка N]
&lt;пустая строка&gt;
[Тело ответа]
</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    код ответа — это 200, 302, 404 и т.д.
   </p>
  </li>
  <li>
   <p>
    комментарий — "Found", "OK", "Not found" и т.д.
   </p>
  </li>
  <li>
   <p>
    Заголовок X — имя заголовка, например, "Location"
   </p>
  </li>
  <li>
   <p>
    тело ответа — например, это содержимое страницы капчи или идентификатор вновь добавленного пользователя; при этом, если тело ответа непустое, в ответе обязательно должен присутствовать заголовок Content-Length, значение которого равно длине ответа в байтах.
   </p>
  </li>
 </ul>
 <p>
  Пример ответа на запрос /add_user, в котором возвращается идентификатор нового пользователя, равный 12. Content-Length равен 2, потому что "12" — это два символа:
 </p>
 <pre>HTTP/1.1 200 OK
Content-Length: 2

12
</pre>
 <p>
  С нашим сервером есть проблема — иногда он ничего не отвечает на запросы, а иногда возвращает некорректно сформированные ответы. Источник этих проблем в том, что ответы формируются вручную каждый раз (см. заготовку решения). Из-за этого мы то перевод строки забыли, то добавили лишний, то в коде ответа опечатались:
 </p>
 <pre language="c_cpp">void ServeRequest(const HttpRequest&amp; req, ostream&amp; os) {
  if (req.method == "POST") {
    if (req.path == "/add_user") {
      comments_.emplace_back();
      auto response = to_string(comments_.size() - 1);
      os &lt;&lt; "HTTP/1.1 200 OK\n" &lt;&lt; "Content-Length: " &lt;&lt; response.size() &lt;&lt; "\n" &lt;&lt; "\n"
        &lt;&lt; response;
    } else if (req.path == "/checkcaptcha") {
       ...
        os &lt;&lt; "HTTP/1.1  20 OK\n\n";
      }
    } else {
      os &lt;&lt; "HTTP/1.1 404 Not found\n\n";
    }
  ...
}</pre>
 <p>
  Вы решили избавиться от всех проблем разом и провести следующий рефакторинг:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    разработать класс HttpResponse, который будет представлять собой HTTP-ответ; в operator &lt;&lt; вы решили инкапсулировать формат вывода HTTP-ответа в поток
   </p>
  </li>
  <li>
   <p>
    сделать новую сигнатуру метода ServeRequest — HttpResponse ServeRequest(const HttpRequest&amp; req), — которая на этапе компиляции будет гарантировать, что наш сервер всегда возвращает хоть какой-то ответ (если мы забудем это сделать, компилятор выдаст предупреждение "control reaches end of non-void function")
   </p>
  </li>
  <li>
   <p>
    записывать ответ сервера в выходной поток в одном единственном месте, в котором вызывается метод ServeRequest
   </p>
  </li>
 </ul>
 <p>
  Интерфейс класса HttpResponse вы решили сделать таким:
 </p>
 <pre language="c_cpp">enum class HttpCode {
  Ok = 200,
  NotFound = 404,
  Found = 302,
};

class HttpResponse {
public:
  explicit HttpResponse(HttpCode code);

  HttpResponse&amp; AddHeader(string name, string value);
  HttpResponse&amp; SetContent(string a_content);
  HttpResponse&amp; SetCode(HttpCode a_code);

  friend ostream&amp; operator &lt;&lt; (ostream&amp; output, const HttpResponse&amp; resp);
};</pre>
 <p>
  Методы AddHeader, SetContent и SetCode должны возвращать ссылку на себя, чтобы иметь возможность сформировать ответ в одной строке с помощью chaining'а: return HttpResponse(HttpCode::Found).AddHeader("Location", "/captcha");. Перечисление HttpCode, передаваемое в конструктор класса HttpResponse, гарантирует, что мы не ошибёмся в коде ответа.
 </p>
 <p>
  Этот рефакторинг вам и предстоит выполнить в этой задаче. Пришлите на проверку cpp-файл, который
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    содержит реализацию класса HttpResponse,
   </p>
  </li>
  <li>
   <p>
    содержит реализацию класса CommentServer с публичным методом HttpResponse ServeRequest(const HttpRequest&amp; req).
   </p>
  </li>
 </ul>
 <p>
  Сервер должен реализовывать описанный выше протокол.
 </p>
 <p>
  Уточнения к реализации класса HttpResponse:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Методы AddHeader, SetContent, SetCode должны возвращать ссылку на объект, для которого они вызваны
   </p>
  </li>
  <li>
   <p>
    Метод AddHeader всегда добавляет к ответу новый заголовок, даже если заголовок с таким именем уже есть
   </p>
  </li>
  <li>
   <p>
    operator&lt;&lt; для класса HttpResponse должен выводить HTTP-ответ в формате, описанном выше в описании метода ServerRequest; при этом заголовки можно выводить в произвольном порядке. Если у HTTP-ответа есть непустое содержимое, то необходимо вывести ровно один заголовок "Content-Length"(помимо заголовков, содержащихся в HTTP-ответе), значение которого равно размеру содержимого в байтах.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="6IDP8wN6EemU7w7-EFnPcg" name="comment_server">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
