<meta charset="utf-8"/>
<co-content>
 <p>
  Вычислите суммарную массу имеющих форму прямоугольного параллелепипеда блоков одинаковой плотности, но разного размера.
 </p>
 <h2 level="2">
  Указание
 </h2>
 <p>
  Считайте, что размеры блоков измеряются в сантиметрах, плотность — в граммах на кубический сантиметр, а итоговая масса — в граммах. Таким образом, массу блока можно вычислять как простое произведение плотности на объём.
 </p>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  В первой строке вводятся два целых положительных числа: количество блоков
  <em>
   N
  </em>
  и плотность каждого блока
  <em>
   R
  </em>
  . Каждая из следующих
  <em>
   N
  </em>
  строк содержит три целых положительных числа
  <em>
   W
  </em>
  ,
  <em>
   H
  </em>
  ,
  <em>
   D
  </em>
  — размеры очередного блока.
 </p>
 <p>
  Гарантируется, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    количество блоков
    <em>
     N
    </em>
    не превосходит 10^5;
   </p>
  </li>
  <li>
   <p>
    плотность блоков
    <em>
     R
    </em>
    не превосходит 100;
   </p>
  </li>
  <li>
   <p>
    размеры блоков
    <em>
     W
    </em>
    ,
    <em>
     H
    </em>
    ,
    <em>
     D
    </em>
    не превосходят 10^4.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">2 14
1 2 3
30 40 50
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">840084</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
