<meta charset="utf-8"/>
<co-content>
 <p>
  В предыдущем блоке вы познакомились с таблицей виртуальных методов и тем, как с помощью неё реализуется динамический полиморфизм в C++. Важной особенностью наших курсов является закрепление теоретических знаний на практике. Нам было нелегко придумать, на какой практической задаче можно закрепить понимание механизма таблицы виртуальных методов. Всё-таки это деталь реализации и непосредственно ею пользоваться в повседневной практике не приходится. И тут мы вспомнили, что один из лучших способов что-то понять и освоить — это сделать самому! Поэтому далее мы предлагаем реализовать на C++ интерпретатор языка программирования mython, который представляет собой подмножество Python'а (mython — это mini-Python). В языке mython есть классы и наследование, а все методы классов — виртуальные, так что в процессе реализации интерпретатора вам самостоятельно придётся реализовать таблицу виртуальных методов :)
 </p>
 <p>
  Далее наша работа будет построена следующим образом. Ниже приведено полное описание языка программирования mython, который представляет собой подмножество Python'а. Затем, после этого материала, следует видео лекция, рассказывающая об основных принципах построения трансляторов. Наконец, после лекции идут две задачи по программированию. В первой из них вам предстоит реализовать лексический анализатор языка mython, а во второй — его интерпретатор.
 </p>
 <p>
  Итак, поехали! Мы говорили, что «Чёрный пояс» ставит своей целью закрепить и развить ваше умение применять C++ на практике, и сейчас вас ждёт очень много практики :)
 </p>
 <h2 level="2">
  Описание языка mython
 </h2>
 <h3 level="3">
  Числа
 </h3>
 <p>
  В языке mython используются только целые числа. С ними можно выполнять обычные арифметические операции: сложение, вычитание, умножение, деление (целочисленное).
 </p>
 <h3 level="3">
  Строки
 </h3>
 <p>
  Строковая константа в языке mython — это последовательность произвольных символов, размещающаяся на одной строке и ограниченная либо символами ", либо символами '. Примеры строк в mython:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    "hello"
   </p>
  </li>
  <li>
   <p>
    'world'
   </p>
  </li>
  <li>
   <p>
    'long string with a double quote " inside'
   </p>
  </li>
  <li>
   <p>
    "another long string with single quote ' inside"
   </p>
  </li>
  <li>
   <p>
    '', "" — пустые строки
   </p>
  </li>
 </ul>
 <p>
  Строки в языке mython являются неизменяемыми.
 </p>
 <h3 level="3">
  Логические константы и None
 </h3>
 <p>
  Помимо строковых и целочисленных значений язык mython поддерживает логические значения True и False, а также специальное значение None, которое является аналогом nullptr в С++. Обратите внимание, что в отличие от C++ логические константы пишутся с большой буквы.
 </p>
 <h3 level="3">
  Идентификаторы
 </h3>
 <p>
  Идентификаторы в mython используются для обозначения имён переменных, классов и методов (см. далее). Идентификаторы в mython формируются точно так же, как и в большинстве других языков программирования: они начинаются со строчной или заглавной латинской буквы либо с символа подчёркивания, за которым следует произвольная последовательность, состоящая из цифр, букв и символа подчёркивания.
 </p>
 <p>
  Примеры правильных идентификаторов: x, _42, do_something, int2str. Примеры неправильных идентификаторов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    4four — начинается с цифры
   </p>
  </li>
  <li>
   <p>
    one;two — содержит символ не являющийся цифрой, буквой или знаком подчёркивания
   </p>
  </li>
 </ul>
 <h3 level="3">
  Классы
 </h3>
 <p>
  Также в языке mython есть возможность определить свой тип, создав класс. Так же, как и в С++, класс имеет поля и методы, однако в отличие от С++ поля не надо объявлять заранее. Объявление класса начинается с ключевого слова class, за которым следует идентификатор имени и объявление методов класса. Пример класса, представляющего собой прямоугольник:
 </p>
 <pre language="python">class Rect:
  def __init__(w, h):
    self.w = w
    self.h = h

  def area():
    return self.w * self.h</pre>
 <p>
  Важные отличия классов в mython от классов в C++:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    специальный метод __init__ играет роль конструктора — он автоматически вызывается при создании нового объекта класса;
   </p>
  </li>
  <li>
   <p>
    неявным параметром всех методов является специальный параметр self; он является аналогом указателя this в C++ и ссылается на текущий объект класса;
   </p>
  </li>
  <li>
   <p>
    поля не объявляются заранее, а добавляются в объект класса при первом присваивании, как следствие обращения к полям всегда надо начинать с self., чтобы отличать их от локальных переменных;
   </p>
  </li>
  <li>
   <p>
    все поля объекта являются публичными.
   </p>
  </li>
 </ul>
 <p>
  Новый объект класса создаётся так же, как в C++, — указанием имени класса, за которым в скобках идут параметры, передаваемые методу __init__. Например, Rect(10, 5) — это новый объект класса Rect, при вызове метода __init__ параметр w будет иметь значение 10, а параметр h — 5.
 </p>
 <h3 level="3">
  Типизация
 </h3>
 <p>
  В отличие от C++ mython — это язык с динамической типизацией, то есть тип каждой переменной определяется во время исполнения программы и может меняться в ходе её работы. Поэтому вместо «присваивания значения переменной» лучше говорить о «связывании значения с некоторым именем». Как следствие при первом использовании переменной не надо указывать её тип. Пример:
 </p>
 <pre language="python">x = 4           # переменная x связывается с целочисленным значением 4
x = 'hello'     # следующей командой переменная x связывается со строковым значением 'hello'
y = True
x = y  </pre>
 <h3 level="3">
  Операции
 </h3>
 <p>
  В языке mython определены:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    арифметические операции для целых чисел (деление выполняется нацело)
   </p>
  </li>
  <li>
   <p>
    операция конкатенации строк; пример — s = 'hello, ' + 'world'
   </p>
  </li>
  <li>
   <p>
    операции сравнения строк и целых чисел на «равно/не равно», «больше/меньше», «больше или равно/меньше или равно»; при этом сравнение строк выполняется лексикографически
   </p>
  </li>
 </ul>
 <h3 level="3">
  Функция str
 </h3>
 <p>
  Функция str преобразует переданный ей аргумент в строку. Если аргумент является объектом класса, она вызывает у него специальный метод __str__ и возвращает его результат. Если метода __str__ в классе нет, она возвращает строковое представление адреса объекта в памяти. Примеры:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    str('Hello') вернёт строку Hello
   </p>
  </li>
  <li>
   <p>
    str(100500) вернёт
    <strong>
     строку
    </strong>
    100500
   </p>
  </li>
  <li>
   <p>
    str(False) вернёт
    <strong>
     строку
    </strong>
    False
   </p>
  </li>
  <li>
   <p>
    str(Rect(3, 4)) вернёт адрес объекта в памяти, например '0x2056fd0'
   </p>
  </li>
 </ul>
 <p>
  Теперь добавим в класс Rect метод __str__:
 </p>
 <pre language="python">class Rect(Shape):
  def __init__(w, h):
    self.w = w
    self.h = h

  def __str__():
    return "Rect(" + str(self.w) + 'x' + str(self.h) + ')'</pre>
 <p>
  Тогда str(Rect(3, 4)) вернёт строку Rect(3x4).
 </p>
 <h3 level="3">
  Команда print
 </h3>
 <p>
  Специальная команда print принимает набор аргументов, разделённых запятой, печатает их в стандартный вывод и дополнительно выводит перевод строки. Например, код
 </p>
 <pre language="python">x = 4
w = 'world'
print x, x + 6, 'Hello, ' + w</pre>
 <p>
  выведет  4 10 Hello, world
 </p>
 <p>
  Обратите внимание, что команда print вставляет пробел между выводимыми значениями. Если в команду print не передать аргументов, она просто выведет перевод строки.
 </p>
 <p>
  Для преобразования каждого своего аргумента в строку команда print вызывает для него функцию str. Таким образом команда print Rect(20, 15) выведет в stdout строку Rect(20x15).
 </p>
 <h3 level="3">
  Условный оператор
 </h3>
 <p>
  В языке mython есть условный оператор, он имеет следующий синтаксис:
 </p>
 <pre language="plain_text">if &lt;условие&gt;:
  &lt;действие 1&gt;
  &lt;действие 2&gt;
  ...
  &lt;действие N&gt;
else:
  &lt;действие 1&gt;
  &lt;действие 2&gt;
  ...
  &lt;действие M&gt;</pre>
 <p>
  &lt;условие&gt; — это произвольное выражение, за которым следует символ двоеточия. Если условие истинно, то выполняются действия под веткой if, если ложно — действия под веткой else. Ветка else может отсутствовать. &lt;условие&gt; может содержать сравнения, а также логические операции and, or и not. Истинность условия определяется в зависимости от типа значения, являющегося результатом его вычисления:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    если результатом вычисления условия является значение логического типа, то для проверки истинности условия используется именно оно (например, if x &gt; 0:, if s != 'Jack' and s != 'Ann':)
   </p>
  </li>
  <li>
   <p>
    если результатом вычисления условия является число, то условие истинно тогда и только тогда, когда это число не равно нулю (как в C/C++), например, if x + y:
   </p>
  </li>
  <li>
   <p>
    если результатом вычисления условия является строка, то условие истинно тогда и только тогда, когда эта строка имеет ненулевую длину
   </p>
  </li>
  <li>
   <p>
    если результатом вычисления условия является объект класса, то условие истинно
   </p>
  </li>
  <li>
   <p>
    если результатом вычисления условия является None, то условие ложно
   </p>
  </li>
 </ul>
 <p>
  Обратите внимание, что действия в ветках if и else набраны с отступом в два пробела. В отличие от C++, в котором блоки кода обрамляются фигурными скобками, в языке mython команды объединяются в блоки с помощью отступов. Один отступ равен двум пробелам. Сравните:
 </p>
 <pre language="python">if x &gt; 0:
  x = x + 1
print x

if x &gt; 0:
  x = x + 1
  print x</pre>
 <p>
  Первая команда print x будет выполняться всегда, вторая — только если x &gt; 0.
 </p>
 <h3 level="3">
  Наследование
 </h3>
 <p>
  В языке mython у класса может быть один родительский класс. Если он есть, он указывается в скобках после имени класса и до символа двоеточия. В примере ниже класс Rect наследуется от класса Shape
 </p>
 <pre language="python">class Shape:
  def __str__():
    return "Shape"

  def area():
    return 'Not implemented'

class Rect(Shape):
  def __init__(w, h):
    self.w = w
    self.h = h

  def __str__():
    return "Rect(" + str(self.w) + 'x' + str(self.h) + ')'

  def area():
    return self.w * self.h</pre>
 <p>
  Наследование в mython работает так же, как и в C++ — все методы родительского класса становятся доступны классу-потомку. При этом все методы являются публичными и виртуальными. Например, код ниже выведет «Hello, John»:
 </p>
 <pre language="python">class Greeting:
  def greet():
    return "Hello, " + self.name()

  def name():
    return 'Noname'

class HelloJohn(Greeting):
  def name():
    return 'John'

greet_john = HelloJohn()
print greet_john.greet()</pre>
 <h3 level="3">
  Методы
 </h3>
 <p>
  Как вы могли видеть выше, методы в mython имеют синтаксис:
 </p>
 <pre language="plain_text">def &lt;имя метода&gt;(&lt;список параметров&gt;):
  &lt;действие 1&gt;
  &lt;действие 2&gt;
  ...
  &lt;действие N&gt;</pre>
 <p>
  Команда return завершает выполнение метода из возвращает из него результат вычисления своего аргумента.
  <strong>
   Если исполнение метода не достигает команды return, метод возращает None
  </strong>
  .
 </p>
 <h3 level="3">
  Семантика присваивания
 </h3>
 <p>
  Как было сказано выше, mython — это язык с динамической типизацией, поэтому операция присваивания имеет семантику не копирования значения в область памяти, а связывания имени переменной со значением. Как следствие, переменные только ссылаются на значения, а не содержат их копии. Говоря терминологией С++, можно сказать, что все переменные в mython являются указателями (аналогом nullptr является значение None). Таким образом, код ниже выведет "2", так как переменные x и y ссылаются на один и тот же объект.
 </p>
 <pre language="python">class Counter:
  def __init__():
    self.value = 0

  def add():
    self.value = self.value + 1

x = Counter()
y = x
x.add()
y.add()
print x.value</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
