<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче мы с вами разработаем лексический анализатор для разбора программы на языке mython. Давайте рассмотрим пример программы, которая проверяет, являются ли два числа взаимнопростыми:
 </p>
 <pre language="python">class GCD:
  def calc(a, b):
    if a == 0 or b == 0:
      return a + b
    else:
      if a &lt; b:
        return self.calc(b, a)
      else:
        return self.calc(b, a - b)

  def is_coprime(a, b):
    return self.calc(a, b) == 1

coprime = False

gcd = None
gcd = GCD()

x = 4
y = 13
coprime = gcd.is_coprime(x, y)
if coprime:
  print x, 'and', y, 'are coprime'
else:
  print x, 'and', y, 'are not coprime'</pre>
 <p>
  Глядя на неё, мы можем выделить следующие лексемы языка mython:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    ключевые слова: class, return, if, else, def, print, or, None, а также не представленные в программе логические операции and, not и логические константы True и False
   </p>
  </li>
  <li>
   <p>
    целые числа
   </p>
  </li>
  <li>
   <p>
    идентификаторы (GCD, calc, coprime и т.д.)
   </p>
  </li>
  <li>
   <p>
    строковые константы ('are coprime')
   </p>
  </li>
  <li>
   <p>
    операторы сравнения, состоящие из нескольких символов (==, &gt;=, &lt;=, !=)
   </p>
  </li>
  <li>
   <p>
    отдельные символы ('=', '.', ',', '(', '+', '&lt;' и т.д.)
   </p>
  </li>
  <li>
   <p>
    и, наконец, специальные лексемы, которых явно не видно в программе: «перевод строки», «увеличение отступа», «уменьшение отступа», «конец файла»
   </p>
  </li>
 </ul>
 <p>
  Среди лексем выделяются те, которые имеют связанное с ними значение (например, с лексемой «целое число» связано конкретное число), и те, которые не имеют никакого связанного значения (например, «перевод строки» или ключевое слово «return»). При этом лексема всегда имеет один из перечисленных выше типов. Таким образом, для представления лексемы в программе на C++ удобно использовать тип std::variant:
 </p>
 <pre language="c_cpp">namespace TokenType {
  struct Number { // Лексема «целое число»
    int value;
  };

  struct Id {     // Лексема «идентификатор»
    std::string value;
  };

  struct Class{};    // Лексема «class»
  struct Return{};   // Лексема «return»
  struct Indent {};  // Лексема «увеличение отступа»
  struct Dedent {};  // Лексема «уменьшение отступа»
  struct Eof {};     // Лексема «конец файла»
  ...
}

using Token = std::variant&lt;
  TokenType::Number,
  TokenType::Id,
  TokenType::Class,
  TokenType::Return,
  TokenType::Indent,
  TokenType::Dedent,
  ...
  TokenType::Eof
&gt;;</pre>
 <p>
  Такое представление удобно тем, что мы имеем возможность обратиться к полю value только той лексемы, для которой это имеет смысл.
 </p>
 <p>
  В этой задаче мы с вами разработаем класс Lexer, который принимает на вход поток ввода (std::istream) и выдаёт последовательность лексем программы на языке mython. Класс Lexer имеет следующий интерфейс:
 </p>
 <pre language="c_cpp">class Lexer {
public:
  explicit Lexer(std::istream&amp; input);

  const Token&amp; CurrentToken() const;
  Token NextToken();

  template &lt;typename T&gt;
  const T&amp; Expect() const;

  template &lt;typename T, typename U&gt;
  void Expect(const U&amp; value) const;

  template &lt;typename T&gt;
  const T&amp; ExpectNext();

  template &lt;typename T, typename U&gt;
  void ExpectNext(const U&amp; value);
};</pre>
 <p>
  Метод CurrentToken возвращает ссылку на последнюю лексему, считанную Lexer'ом.
 </p>
 <p>
  Метод NextToken считывает и возвращает очередную лексему из входного потока. Если входной поток пуст, метод должен вернуть лексему TokenType::Eof. После выполнения метода NextToken метод CurrentToken должен возвращать ссылку на только что считанную лексему. Пример:
 </p>
 <pre language="c_cpp">void LexerExample() {
  istringstream input("class Point:");
  Lexer lexer(input);
  ASSERT(std::hold_alternative&lt;TokenType::Class&gt;(lexer.CurrentToken()));

  auto token = lexer.NextToken();
  ASSERT(std::hold_alternative&lt;TokenType::Id&gt;(token));
  ASSERT(std::hold_alternative&lt;TokenType::Id&gt;(lexer.CurrentToken()));
}</pre>
 <p>
  В процессе синтаксического разбора мы часто знаем, какая лексема должна быть следующей (например, мы знаем, что после имени класса идёт символ двоеточия). Если нам встречается какая-то другая лексема, значит, нам на вход подали некорретную программу, и мы должны сообщить об ошибке разбора. Это удобно делать с помощью методов Expect*:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Шаблонный метод Expect&lt;T&gt;() проверяет, что CurrentToken() имеет тип T. Если это не так, он бросает исключение LexerError.
   </p>
  </li>
  <li>
   <p>
    Шаблонный метод Expect&lt;T&gt;(const U&amp; value) не только проверяет, что CurrentToken() имеет тип T, но и что значение текущей лексемы равно value.
   </p>
  </li>
  <li>
   <p>
    Наконец, методы ExpectNext сначала вызывают NextToken, а затем — соответствующий метод Expect.
   </p>
  </li>
 </ul>
 <p>
  Например, разбор объявления класса без наследования может выглядеть так:
 </p>
 <pre language="c_cpp">void ParseClassDefinition(Lexer&amp; lexer) {
  lexer.Expect&lt;TokenType::Class&gt;();
  auto name = lexer.ExpectNext&lt;TokenType::Id&gt;().value;
  lexer.ExpectNext&lt;TokenType::Char&gt;(':');
  ...
}</pre>
 <p>
  Вам дан файл lexer.h, а также файл lexer_test.cpp с неполным набором юнит-тестов. Пришлите на проверку архив, состоящий из файлов lexer.h и lexer.cpp, с реализацией класса Lexer. В следующей задаче мы воспользуемся классом Lexer для создания интерпретатора языка mython.
 </p>
 <h3 level="3">
  Файлы задачи
 </h3>
 <p>
  В юнит-тестах Lexer'а используются макросы ASSERT_THROWS и ASSERT_DOESNT_THROW, которые мы добавили в test_runner.h для удобства тестирования методов Expect*. Поэтому ниже мы выкладываем обновлённый test_runner.h.
 </p>
 <asset assettype="generic" extension="cpp" id="rleehZGwEembFRJWuM9x-g" name="lexer_test">
 </asset>
 <asset assettype="generic" extension="h" id="FYCMPIK4EemBQwq9JgxBcA" name="lexer">
 </asset>
 <asset assettype="generic" extension="cpp" id="FYCMJIK4EemNChIBV74tfA" name="lexer">
 </asset>
 <asset assettype="generic" extension="h" id="m4gs5i5BSZSILOYuQUmU1A" name="test_runner">
 </asset>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  В процессе тестирования вашего кода ему на вход будут подаваться только корректные лексемы, то есть не будет лексем вида "123abc76" или строк с незакрытыми кавычками.
 </p>
 <p>
  P.S. На практике для создания лексических анализаторов используют специальные генераторы лексических анализаторов (например,
  <a href="https://ru.wikipedia.org/wiki/Flex_(%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80_%D0%BB%D0%B5%D0%BA%D1%81%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D1%85_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2)" title="">
   GNU flex
  </a>
  ), но так как наш курс о C++, мы решили дать вам возможность реализовать лексический анализатор самостоятельно, чтобы вы получили больше опыта программирования на C++.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
