<meta charset="utf-8"/>
<co-content>
 <p>
  Итак, в предыдущей задаче мы создали лексический анализатор для языка mython. Теперь с его помощью нужно создать синтаксический анализатор, а затем собственно интерпретатор. Для создания синтаксического анализатора требуется определённая теоретическая подготовка, которая выходит за рамки «Чёрного пояса по C++», так что в этой задаче мы выдадим вам готовую реализацию нисходящего LL(1)-парсера языка Mython. (Если вы не поняли последние несколько слов, это нестрашно — вы сможете решить эту задачу без их понимания. Однако это говорит о том, что у вас нет тех самых теоретических знаний, о которых говорилось выше. Лучший источник, в котором их можно получить, — это
  <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BC%D0%BF%D0%B8%D0%BB%D1%8F%D1%82%D0%BE%D1%80%D1%8B:_%D0%BF%D1%80%D0%B8%D0%BD%D1%86%D0%B8%D0%BF%D1%8B,_%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8_%D0%B8_%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B" title="">
   Книга Дракона
  </a>
  , канонический учебник по созданию компиляторов и трансляторов).
 </p>
 <p>
  Этот парсер формирует абстрактное синтаксическое дерево, узлами которого являются объекты классов, унаследованных от абстрактного класса Statement:
 </p>
 <pre language="c_cpp">struct Statement {
  virtual ~Statement() = default;
  virtual ObjectHolder Execute(Runtime::Closure&amp; closure) = 0;
};</pre>
 <p>
  Единственный метод интерфейса выполняет разобранную программу на языке mython.
 </p>
 <p>
  Вам даны:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    файлы parse.h/cpp, содержащие синтаксический анализатор языка mython (файл parse.cpp использует lexer.h, который вы разработали в предыдущей задаче)
   </p>
  </li>
  <li>
   <p>
    файл statement.h, содержащий абстрактный интерфейс Statement, а также всех его потомков, которые используются в построении абстрактного синтаксического дерева
   </p>
  </li>
  <li>
   <p>
    файлы object_holder.h/cpp, содержащий специальный класс ObjectHolder, который используется интерпретатором mython'а для обращения к объектам mython-программы (числам, строкам, экземплярам классов, логическим константам и None); в нём же содержится определение типа Runtime::Closure, который используется для связывания имени переменной с конкретным значением
   </p>
  </li>
  <li>
   <p>
    файл object.h, который содержит классы, представляющие отдельные объекты mython-программы
   </p>
  </li>
  <li>
   <p>
    файл mython.cpp, содержащий функцию main
   </p>
  </li>
  <li>
   <p>
    наконец, несколько файлов с юнит-тестами, отражающими различные аспекты работы интерпретатора языка Mython
   </p>
  </li>
 </ul>
 <p>
  Ваша задача на основе предложенных файлов разработать интерпретатор, который считывает из stdin программу на языке Mython и выводит в stdout результат выполнения всех команд print.
 </p>
 <p>
  На проверку пришлите архив, содержащий все необходимые файлы для сборки и запуска вашего интерпретатора.
 </p>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  В процессе тестирования вашего интерпретатора ему на вход будут подаваться только Mython-программы, которые корректно разбираются нашим парсером и исполнение которых завершается без ошибок.
 </p>
 <h3 level="3">
  Файлы задачи
 </h3>
 <asset assettype="generic" extension="zip" id="HiZP7Su3Rm2mT-0rt4ZtBA" name="mython_starter_files">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
