<meta charset="utf-8"/>
<co-content>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;memory&gt;
#include &lt;stack&gt;
#include &lt;vector&gt;
#include &lt;string&gt;
#include &lt;cstdint&gt;

using namespace std;

// Внимание!
// Для простоты разбора будем использовать только числа из одной цифры,
// а также не будет скобок, пробелов и ненужных символов.
// При этом, будем считать, что выражение всегда корректно.

struct Node {
  virtual int Evaluate() const = 0;
};

struct Value : public Node {
  Value(char digit) : _value(digit - '0') {}

  int Evaluate() const override { return _value; }

private:
  const uint8_t _value;
};

struct Variable : public Node {
  Variable(const int &amp;x) : _x(x) {}

  int Evaluate() const override { return _x; }

private:
  const int &amp;_x;
};

struct Op : public Node {
  Op(char value)
      : precedence([value] {
          if (value == '*') {
            return 2;
          } else {
            return 1;
          }
        }()),
        _op(value) {}

  const uint8_t precedence;

  int Evaluate() const override {
    if (_op == '*') {
      return _left-&gt;Evaluate() * _right-&gt;Evaluate();
    } else if (_op == '+') {
      return _left-&gt;Evaluate() + _right-&gt;Evaluate();
    } else if (_op == '-') {
      return _left-&gt;Evaluate() - _right-&gt;Evaluate();
    }

    return 0;
  }

  void SetLeft(shared_ptr&lt;Node&gt; node) { _left = node; }
  void SetRight(shared_ptr&lt;Node&gt; node) { _right = node; }

private:
  const char _op;
  shared_ptr&lt;const Node&gt; _left, _right;
};

template &lt;class Iterator&gt;
shared_ptr&lt;Node&gt; Parse(Iterator token, Iterator end, const int &amp;x) {
  // Empty expression
  if (token == end) {
    return make_shared&lt;Value&gt;('0');
  }

  stack&lt;shared_ptr&lt;Node&gt;&gt; values;
  stack&lt;shared_ptr&lt;Op&gt;&gt; ops;

  auto PopOps = [&amp;](int precedence) {
    while (!ops.empty() &amp;&amp; ops.top()-&gt;precedence &gt;= precedence) {
      auto value1 = values.top();
      values.pop();
      auto value2 = values.top();
      values.pop();
      auto op = ops.top();
      ops.pop();

      op-&gt;SetRight(value1);
      op-&gt;SetLeft(value2);

      values.push(op);
    }
  };

  while (token != end) {
    const auto &amp;value = *token;
    if (value &gt;= '0' &amp;&amp; value &lt;= '9') {
      values.push(make_shared&lt;Value&gt;(value));
    } else if (value == 'x') {
      values.push(make_shared&lt;Variable&gt;(x));
    } else if (value == '*') {
      PopOps(2);
      ops.push(make_shared&lt;Op&gt;(value));
    } else if (value == '+' || value == '-') {
      PopOps(1);
      ops.push(make_shared&lt;Op&gt;(value));
    }

    ++token;
  }

  while (!ops.empty()) {
    PopOps(0);
  }

  return values.top();
}

int main() {
  string tokens;
  cout &lt;&lt; "Enter expression: ";
  getline(cin, tokens);

  int x = 0;
  auto node = Parse(tokens.begin(), tokens.end(), x);

  cout &lt;&lt; "Enter x: ";
  while (cin &gt;&gt; x) {
    cout &lt;&lt; "Expression value: " &lt;&lt; node-&gt;Evaluate() &lt;&lt; endl;
    cout &lt;&lt; "Enter x: ";
  }

  return 0;
}</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
