<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вам нужно разработать классы SmsNotifier и EmailNotifier, отправляющие уведомления в виде SMS и e-mail соответственно, а также абстрактный базовый класс для них.
 </p>
 <p>
  Вам даны функции SendSms и SendEmail, которые моделируют отправку SMS и e-mail.
 </p>
 <pre language="c_cpp">void SendSms(const string&amp; number, const string&amp; message);
void SendEmail(const string&amp; email, const string&amp; message);</pre>
 <p>
  Разработайте:
 </p>
 <p>
  1. Абстрактный базовый класс INotifier, у которого будет один чисто виртуальный метод void Notify(const string&amp; message).
 </p>
 <p>
  2. Класс SmsNotifier, который:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    является потомком класса INotifier;
   </p>
  </li>
  <li>
   <p>
    в конструкторе принимает один параметр типа string — номер телефона;
   </p>
  </li>
  <li>
   <p>
    переопределяет метод Notify и вызывает из него функцию SendSms.
   </p>
  </li>
 </ul>
 <p>
  3. Класс EmailNotifier, который;
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    является потомком класса INotifier;
   </p>
  </li>
  <li>
   <p>
    в конструкторе принимает один параметр типа string — адрес электронной почты;
   </p>
  </li>
  <li>
   <p>
    переопределяет метод Notify и вызывает из него функцию SendEmail.
   </p>
  </li>
 </ul>
 <p>
  Пример кода для проверки:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;string&gt;

using namespace std;

void SendSms(const string&amp; number, const string&amp; message) {
  cout &lt;&lt; "Send '" &lt;&lt; message &lt;&lt; "' to number " &lt;&lt; number &lt;&lt; endl;
}

void SendEmail(const string&amp; email, const string&amp; message) {
  cout &lt;&lt; "Send '" &lt;&lt; message &lt;&lt; "' to e-mail "  &lt;&lt; email &lt;&lt; endl;
}

/*
 Реализуйте здесь классы INotifier, SmsNotifier, EmailNotifier
 */

void Notify(INotifier&amp; notifier, const string&amp; message) {
  notifier.Notify(message);
}


int main() {
  SmsNotifier sms{"+7-495-777-77-77"};
  EmailNotifier email{"na-derevnyu@dedushke.ru"};

  Notify(sms, "I have White belt in C++");
  Notify(email, "And want a Yellow one");
  return 0;
}</pre>
 <p>
  Когда вы реализуете нужные классы, программа выше должна вывести:
 </p>
 <pre language="plain_text">Send 'I have White belt in C++' to number +7-495-777-77-77
Send 'And want a Yellow one' to e-mail na-derevnyu@dedushke.ru</pre>
 <p>
  Уточним ещё раз, что файл, отправляемый на проверку, должен содержать реализации классов INotifier, SmsNotifier, EmailNotifier.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
