<meta charset="utf-8"/>
<co-content>
 <p>
  Вам дана функция main, которая считывает из стандартного ввода команды по работе с набором геометрических фигур:
 </p>
 <pre language="c_cpp">int main() {
  vector&lt;shared_ptr&lt;Figure&gt;&gt; figures;
  for (string line; getline(cin, line); ) {
    istringstream is(line);

    string command;
    is &gt;&gt; command;
    if (command == "ADD") {
      // Пропускаем "лишние" ведущие пробелы.
      // Подробнее об std::ws можно узнать здесь:
      // https://en.cppreference.com/w/cpp/io/manip/ws
      is &gt;&gt; ws;
      figures.push_back(CreateFigure(is));
    } else if (command == "PRINT") {
      for (const auto&amp; current_figure : figures) {
        cout &lt;&lt; fixed &lt;&lt; setprecision(3)
             &lt;&lt; current_figure-&gt;Name() &lt;&lt; " "
             &lt;&lt; current_figure-&gt;Perimeter() &lt;&lt; " "
             &lt;&lt; current_figure-&gt;Area() &lt;&lt; endl;
      }
    }
  }
  return 0;
}</pre>
 <p>
  Как видно из кода, есть два вида команд:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     ADD
    </strong>
    — добавить фигуру в набор;
   </p>
  </li>
  <li>
   <p>
    <strong>
     PRINT
    </strong>
    — для каждой фигуры в наборе распечатать название, периметр и площадь.
   </p>
  </li>
 </ul>
 <p>
  Программа поддерживает три вида фигур: прямоугольник, треугольник и круг. Их добавление описывается так:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    <strong>
     ADD RECT
    </strong>
    <strong>
     <em>
      width height
     </em>
    </strong>
    —  добавить прямоугольник с размерами
    <em>
     <strong>
      width
     </strong>
    </em>
    и
    <em>
     <strong>
      height
     </strong>
    </em>
    (например,
    <strong>
     ADD RECT 2 3
    </strong>
    ).
   </p>
  </li>
  <li>
   <p>
    <strong>
     ADD TRIANGLE
    </strong>
    <strong>
     <em>
      a b c
     </em>
    </strong>
    —  добавить треугольник со сторонами
    <strong>
     <em>
      a
     </em>
    </strong>
    ,
    <strong>
     <em>
      b
     </em>
    </strong>
    и
    <strong>
     <em>
      c
     </em>
    </strong>
    (например,
    <strong>
     ADD TRIANGLE 3 4 5
    </strong>
    ).
   </p>
  </li>
  <li>
   <p>
    <strong>
     ADD CIRCLE
    </strong>
    <strong>
     <em>
      r
     </em>
    </strong>
    —  добавить круг радиуса
    <strong>
     <em>
      r
     </em>
    </strong>
    (например,
    <strong>
     ADD CIRCLE 5
    </strong>
    ).
   </p>
  </li>
 </ol>
 <h3 level="3">
  Пример работы программы
 </h3>
 <p>
  Ввод
 </p>
 <pre language="plain_text">ADD RECT 2 3
ADD TRIANGLE 3 4 5
ADD RECT 10 20
ADD CIRCLE 5
PRINT</pre>
 <p>
  Вывод
 </p>
 <pre language="plain_text">RECT 10.000 6.000
TRIANGLE 12.000 6.000
RECT 60.000 200.000
CIRCLE 31.400 78.500</pre>
 <p>
  <strong>
   Не меняя функцию main
  </strong>
  , реализуйте недостающие функции и классы:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    базовый класс Figure с чисто виртуальными методами Name, Perimeter и Area;
   </p>
  </li>
  <li>
   <p>
    классы Triangle, Rect и Circle, которые являются наследниками класса Figure и переопределяют его виртуальные методы;
   </p>
  </li>
  <li>
   <p>
    функцию CreateFigure, которая в зависимости от содержимого входного потока создаёт shared_ptr&lt;Rect&gt;, shared_ptr&lt;Triangle&gt; или shared_ptr&lt;Circle&gt;.
   </p>
  </li>
 </ul>
 <p>
  Гарантируется, что размеры всех фигур — это натуральные числа не больше 1000. В качестве значения PI используйте 3,14.
 </p>
 <h3 level="3">
  Как будет тестироваться ваш код
 </h3>
 <p>
  В рамках тестирования вашего кода будет два этапа.
 </p>
 <p>
  На первом этапе будет проверена корректность работы функции CreateFigure: функция возвращает корректный объект, созданный с помощью make_shared&lt;Rect&gt;; если во входной поток функции передана команда на создание прямоугольника (RECT width height); корректный объект, созданный с помощью make_shared&lt;Circle&gt;, если во входной поток функции передана команда на создание круга (CIRCLE r), и т. д. При этом гарантируется, что все команды на создание объектов во входном наборе тестов имеют корректный формат без дополнительных пробелов в начале и конце команды.
 </p>
 <p>
  На втором этапе автоматическая проверяющая система заменит в вашей программе функцию main на main из условия задачи, скомпилирует получившийся файл и прогонит на наборе тестов, проверив таким образом корректность вашего решения на исходной функции main. При этом гарантируется, что все команды ADD в тестах также корректны.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
