<meta charset="utf-8"/>
<co-content>
 <p>
  В данном задании вам предстоит изменить код таким образом, чтобы он соответствовал изложенным в курсе принципам.
 </p>
 <p>
  Представьте, что этот код вам достался в наследство от коллеги и теперь вам предстоит поддерживать его и улучшать. Первое, что вы решили сделать — это провести рефакторинг.
 </p>
 <p>
  Конечные цели рефакторинга:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    упростить дальнейшую поддержку кода;
   </p>
  </li>
  <li>
   <p>
    уменьшить сложность кода;
   </p>
  </li>
  <li>
   <p>
    упростить добавление новых абстракций в программу.
   </p>
  </li>
 </ul>
</co-content>
<h3 level="3">
 Review criteria
</h3>
<co-content>
 <p>
  Задание будет оцениваться по следующим критериям:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    эффективность выполнения кода;
   </p>
  </li>
  <li>
   <p>
    задублированность кода;
   </p>
  </li>
  <li>
   <p>
    эффективность использования приёмов рефакторинга кода, показанных в лекциях.
   </p>
  </li>
 </ul>
 <p>
  Кроме того, присылаемый вами код должен компилироваться.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
