<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой и двух следующих частях вам понадобится разделить программу, отвечающую за наполнение транспортного справочника и обработку запросов к нему, на две:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Программа make_base: создание базы транспортного справочника по запросам "base_requests" и её
    <strong>
     сериализация в файл.
    </strong>
   </p>
  </li>
  <li>
   <p>
    Программа process_requests: десериализация базы из файла и использование её для ответов на запросы "stat_requests".
   </p>
  </li>
 </ol>
 <p>
  В этой части требуется сериализация лишь той части базы, которая необходима для ответа на запросы Bus и Stop — то есть сама функциональность должна соответствовать части D.
 </p>
 <h2 level="2">
  Программа make_base
 </h2>
 <p>
  На вход программе make_base через стандартный поток ввода подаётся JSON со следующими ключами:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    "base_requests": запросы Bus и Stop на создание базы. Формат этих данных абсолютно аналогичен предыдущим частям.
   </p>
  </li>
  <li>
   <p>
    "routing_settings": настройки маршрутизации.
    <strong>
     Не используются в этой части в отсутствие запросов на построение маршрута,
    </strong>
    но будут использоваться в следующей части. Формат аналогичен предыдущим частям.
   </p>
  </li>
  <li>
   <p>
    "render_settings": настройки отрисовки.
    <strong>
     Не используются в этой части в отсутствие запросов на построение маршрута и рисование карты,
    </strong>
    но будут использоваться в части Q. Формат аналогичен предыдущим частям.
   </p>
  </li>
  <li>
   <p>
    "serialization_settings": настройки сериализации. На текущий момент это словарь с единственным ключом "file", которому соответствует строка — название файла, в который необходимо сохранить сериализованную базу.
   </p>
  </li>
 </ol>
 <p>
  Задача программы make_base — построить базу и сериализовать её в файл с указанным именем. Выводить что-либо в стандартный поток вывода не требуется.
 </p>
 <h2 level="2">
  Программа process_requests
 </h2>
 <p>
  На вход программе process_requests подаётся файл с сериализованной базой (результат работы make_base), а также — через стандартный поток ввода — JSON со следующими ключами:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    "stat_requests": запросы
    <strong>
     Bus и Stop
    </strong>
    к готовой базе. Формат этих данных абсолютно аналогичен предыдущим частям.
   </p>
  </li>
  <li>
   <p>
    "serialization_settings": настройки сериализации в формате, аналогичном этой же секции на входе make_base. А именно, в ключе "file" указывается название файла, из которого нужно считать сериализованную базу.
   </p>
  </li>
 </ol>
 <p>
  Программа process_requests должны вывести JSON с ответами на запросы — в том же формате, что и в предыдущих частях.
 </p>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Ввод make_base
 </h3>
 <asset assettype="generic" extension="in" id="gS3LSKDZEemnpBK2VMQaIg" name="example1_make_base">
 </asset>
 <h3 level="3">
  Ввод process_requests
 </h3>
 <asset assettype="generic" extension="in" id="gS0H96DZEemnpBK2VMQaIg" name="example1_process_requests">
 </asset>
 <h3 level="3">
  Вывод process_requests
 </h3>
 <asset assettype="generic" extension="out" id="gS0HRKDZEemCjApABi1-mA" name="example1_process_requests">
 </asset>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Ввод make_base
 </h3>
 <asset assettype="generic" extension="in" id="DiG2h4jWEemVeg5DpI4LqA" name="example2_make_base">
 </asset>
 <h3 level="3">
  Ввод process_requests
 </h3>
 <asset assettype="generic" extension="in" id="Dh7QVYjWEemVeg5DpI4LqA" name="example2_process_requests">
 </asset>
 <h3 level="3">
  Вывод process_requests
 </h3>
 <asset assettype="generic" extension="out" id="Dh9s7ojWEemA0BK4cRbOlg" name="example2_process_requests">
 </asset>
 <h2 level="2">
  Структура архива с решением
 </h2>
 <p>
  Архив, отправляемый на проверку, должен содержать плоский список следующих файлов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    main.cpp: единственный файл с функцией main. В зависимости от переданного при запуске режима работает либо как make_base, либо как process_requests (см. шаблон).
   </p>
  </li>
  <li>
   <p>
    Файл transport_catalog.proto содержит message TransportCatalog (в любом package), который описывает proto-схему для сериализуемой базы, а также при необходимости другие proto-сообщения.
   </p>
  </li>
  <li>
   <p>
    Прочие файлы .h и .cpp.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Шаблон main.cpp
 </h3>
 <asset assettype="generic" extension="cpp" id="-hvn_ogeEemVeg5DpI4LqA" name="main">
 </asset>
 <h2 level="2">
  Схема проверки
 </h2>
 <p>
  Схема проверки предыдущих частей (кроме части F с библиотекой для вывода SVG) была следующей:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Запускается единственная программа, на вход подаётся большой JSON.
   </p>
  </li>
  <li>
   <p>
    Проверяется, что вывод этой программы соответствует ожидаемому.
   </p>
  </li>
 </ol>
 <p>
  Теперь же по сути происходит взаимодействие двух программ, что приводит к следующей схеме:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Запускается программа make_base (основной исполняемый файл с параметром make_base), на вход подаётся JSON с base_requests и общими настройками.
   </p>
  </li>
  <li>
   <p>
    Проверяется полученный файл с сериализованной базой. А именно, проверяется возможность его десериализации с помощью proto-сообщения TransportCatalog из transport_catalog.proto, а также
    <strong>
     проверяется его размер:
    </strong>
    он должен содержать лишь готовые ответы на запросы Bus и Stop, и потому не может превышать размер авторской версии сериализованной базы той же структуры более чем на 10 %. При превышении размера сериализованного файла вы получите соответствующий фидбек.
   </p>
  </li>
  <li>
   <p>
    Запускается программа process_requests (основной исполняемый файл с параметром process_requests), на вход подаётся JSON с stat_requests и serialization_settings. В указанном файле находится сериализованная база, полученная в п. 1 и проверенная в п. 2.
   </p>
  </li>
  <li>
   <p>
    Проверяется, что вывод программы process_requests из п. 3 соответствует ожидаемому.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Ограничения
 </h2>
 <p>
  Ограничения во многом повторяют ограничения частей С и D:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Не более 2000 запросов к make_base.
   </p>
  </li>
  <li>
   <p>
    Не более 2000 запросов к process_requests.
   </p>
  </li>
  <li>
   <p>
    Не более 100 остановок в маршруте.
   </p>
  </li>
  <li>
   <p>
    <strong>
     20 секунд
    </strong>
    на работу make_base и 1 секундa на работу process_requests.
   </p>
  </li>
 </ul>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
