<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Эта часть продолжает предыдущую касательно набора программ, требований к отправляемому решению и схемы тестирования. От предыдущей части она отличается тем же, чем часть E отличалась от части D: добавляются запросы Route на построение маршрута, причём пока без необходимости выводить ключ "map" с визуализацией маршрута в ответе на этот запрос.
 </p>
 <p>
  Итого, изменения по сравнению с предыдущей частью следующие:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    В "stat_requests" на входе программы process_requests добавляются запросы Route в том же формате, что и в предыдущих частях.
   </p>
  </li>
  <li>
   <p>
    При построении маршрута начинает использоваться "routing_settings" из входа программы make_base.
   </p>
  </li>
  <li>
   <p>
    Ответ на запрос Route должен соответствовать формату части E, то есть не должен содержать ключ "map".
   </p>
  </li>
  <li>
   <p>
    Количество остановок не превосходит 450.
   </p>
  </li>
  <li>
   <p>
    Количество автобусов не превосходит 400.
   </p>
  </li>
  <li>
   <p>
    Количество соседних остановок для каждой не превосходит 200.
   </p>
  </li>
  <li>
   <p>
    Количество запросов к базе на входе process_requests не превышает 30000.
   </p>
  </li>
  <li>
   <p>
    Максимально допустимое превышение размера базы относительно авторской — в 2 раза.
   </p>
  </li>
  <li>
   <p>
    Ограничения на время работы: make_base — 3 с, process_requests — 1,25 с.
   </p>
  </li>
  <li>
   <p>
    База данных должна дополнительно содержать сериализованный маршрутизатор для обработки запросов Route.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Пример 1
 </h2>
 <p>
  Ввод make_base
 </p>
 <asset assettype="generic" extension="in" id="vUWM2aDZEemCjApABi1-mA" name="example1_make_base">
 </asset>
 <p>
  Ввод process_requests
 </p>
 <asset assettype="generic" extension="in" id="vT-Z1aDZEemEawpeY3OQmg" name="example1_process_requests">
 </asset>
 <p>
  Вывод process_requests
 </p>
 <asset assettype="generic" extension="out" id="vT-ZVqDZEem7UA4S1V_t6g" name="example1_process_requests">
 </asset>
 <h2 level="2">
  Пример 2
 </h2>
 <p>
  Ввод make_base
 </p>
 <asset assettype="generic" extension="in" id="G4yVpIswEem-xg4p7cmXwA" name="example2_make_base">
 </asset>
 <p>
  Ввод process_requests
 </p>
 <asset assettype="generic" extension="in" id="G45D5oswEemBQwq9JgxBcA" name="example2_process_requests">
 </asset>
 <p>
  Вывод process_requests
 </p>
 <asset assettype="generic" extension="out" id="7GvI15P4EemODxK6RFJwEA" name="example2_process_requests">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
