<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Эта часть — объединение частей N и P: здесь, наконец, появится полная поддержка функциональности программами make_base и process_requests.
 </p>
 <p>
  Изменения по сравнению с предыдущей частью следующие:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    В "stat_requests" на входе программы process_requests добавляются запросы Map в том же формате, что и в предыдущих частях.
   </p>
  </li>
  <li>
   <p>
    Начинает использоваться "render_settings" из входа программы make_base.
   </p>
  </li>
  <li>
   <p>
    Ответ на запрос Route должен соответствовать формату части N, то есть содержать ключ "map".
   </p>
  </li>
  <li>
   <p>
    Сериализованный файл должен содержать все необходимые данные для рисования схем в программе process_requests.
   </p>
  </li>
  <li>
   <p>
    Количество автобусов и количество остановок не превышает 450.
   </p>
  </li>
  <li>
   <p>
    Количество запросов к process_requests не превышает 50.
   </p>
  </li>
  <li>
   <p>
    Ограничение на время выполнения make_base — 3 с, process_requests — 5,5 с.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Ввод make_base
 </h3>
 <asset assettype="generic" extension="in" id="5tDGCKDZEem7UA4S1V_t6g" name="example1_make_base">
 </asset>
 <h3 level="3">
  Ввод process_requests
 </h3>
 <asset assettype="generic" extension="in" id="5tCfvqDZEemnpBK2VMQaIg" name="example1_process_requests">
 </asset>
 <h3 level="3">
  Вывод process_requests
 </h3>
 <asset assettype="generic" extension="out" id="5tDtraDZEemPZRLYQifSTA" name="example1_process_requests">
 </asset>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Ввод make_base
 </h3>
 <asset assettype="generic" extension="in" id="SBf2QJTXEemIkxIpYUTZlA" name="example2_make_base">
 </asset>
 <h3 level="3">
  Ввод process_requests
 </h3>
 <asset assettype="generic" extension="in" id="SBf1z5TXEemdeg7vqSp9lg" name="example2_process_requests">
 </asset>
 <h3 level="3">
  Вывод process_requests
 </h3>
 <asset assettype="generic" extension="out" id="SBfPL5TXEemIkxIpYUTZlA" name="example2_process_requests">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
