<meta charset="utf-8"/>
<co-content>
 <p>
  Вы устроились на новую работу и подключились к давно существующему проекту. Проект состоит в исследовании различных показателей по результатам переписи населения. Как это часто бывает, проект начинался как простая система, которая решала одну задачу, но со временем в неё стали добавлять новые функции. Делалось это как обычно — в аврале и в последний момент.
 </p>
 <p>
  Первой задачей, с которой начинался проект, было моделирование изменения возраста совершеннолетия. Экспериментаторы вводили различный возраст совершеннолетия и изучали, сколько в таком случае в обществе будет совершеннолетних людей. От этого рассчитывались годовые бюджеты, планы по сбору налога на доходы физических лиц и т.д.
 </p>
 <p>
  Первая версия программы принимала на вход список всех людей, которые живут в государстве, полученный с помощью переписи населения. Затем ей на вход подавался поток команд вида "AGE N". Для каждой такой строки программа выводила в стандартный вывод сообщение "There are X adult people for maturity age N". Программа отлично работала и справлялась со списком в несколько миллионов людей.
 </p>
 <p>
  Но потом начальство срочно захотело больше функций. Появилась новая команда — «WEALTHY M», в ответ на которую программа должна была выводить суммарный доход M богатейших людей общества в виде "Top-M people have total income X".
 </p>
 <p>
  Когда тестирование новой функциональности ещё не было окончено, руководство потребовало немедленно поддержать команду «POPULAR_NAME M/W», в ответ на которую программа сообщала самое популярное женское или мужское имя в виде "Most popular name among people of gender M is Ivan".
 </p>
 <p>
  Предыдущая команда быстро реализовала эту функциональность за 2 часа до дедлайна, убедилась, что на простейших тестах она корректно работает и поставила программу заказчику. Естественно, программа у заказчика не заработала, и он попросил её исправить, прислав подробнейшее описание найденных ошибок со всеми деталями. Выглядело оно так: «Ваша программа вообще не работает! Срочно исправьте, а то засужу».
 </p>
 <p>
  Прежнюю команду, естественно, тут же уволили и наняли вас =) Итак, вам дана программа и единственный тест, на котором её тестировали. Вам надо сделать всё хорошо.
 </p>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/grader/grading-files/const/print_stats_2/statement/print_stats_2.md#%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82-%D0%B2%D0%B2%D0%BE%D0%B4%D0%B0">
  </a>
  Формат ввода
 </h3>
 <p>
  На вход программе поступает число N — количество людей. Далее идут N строк в формате Имя Возраст Доход Пол. Далее идут сами команды, по одной в строке.
 </p>
 <p>
  Виды команд:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    AGE N — в ответ на неё в отдельной строке программа должна вывести сообщение "There are X adult people for maturity age N", где X — количество людей, возраст которых не меньше N
   </p>
  </li>
  <li>
   <p>
    WEALTHY M — в ответ на неё в отдельной строке программа должна вывести сообщение "Top-M people have total income X", где X — суммарный доход первых M богатейших людей.
   </p>
  </li>
  <li>
   <p>
    POPULAR_NAME M — в ответ на неё в отдельной строке программа должна вывести сообщение "Most popular name among people of gender M is S", где S — мужское имя, которое встречается больше всего раз. Если таких имён несколько, программа должна вывести лексикографически минимальное. Если таких имён нет, должно быть выведено "No people of gender M".
   </p>
  </li>
  <li>
   <p>
    POPULAR_NAME W — в ответ на неё в отдельной строке программа должна вывести сообщение "Most popular name among people of gender W is S", где S — женское имя, которое встречается больше всего раз. Если таких имён несколько, программа должна вывести лексикографически минимальное. Если таких имён нет, должно быть выведено "No people of gender W".
   </p>
  </li>
 </ul>
 <h3 level="3">
  <a href="https://github.com/yandexdataschool/onlinecpp/blob/master/grader/grading-files/const/print_stats_2/statement/print_stats_2.md#%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80">
  </a>
  Пример
 </h3>
 <p>
  <strong>
   Ввод
  </strong>
 </p>
 <pre language="plain_text">11
Ivan 25 1000 M
Olga 30 623 W
Sergey 24 825 M
Maria 42 1254 W
Mikhail 15 215 M
Oleg 18 230 M
Denis 53 8965 M
Maxim 37 9050 M
Ivan 47 19050 M
Ivan 17 50 M
Olga 23 550 W
AGE 18
AGE 25
WEALTHY 5
POPULAR_NAME M</pre>
 <p>
  <strong>
   Вывод
  </strong>
 </p>
 <pre language="plain_text">There are 9 adult people for maturity age 18
There are 6 adult people for maturity age 25
Top-5 people have total income 39319
Most popular name among people of gender M is Ivan</pre>
 <h3 level="3">
  Заготовка решения
 </h3>
 <p>
  Код, который вам достался, находится в прикреплённом файле
 </p>
 <asset assettype="generic" extension="cpp" id="05cVhPY6EeilxxL_ZeRz_A" name="print_stats_2">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
