<meta charset="utf-8"/>
<co-content>
 <p>
  Иногда на практике встречаются объекты, создание которых занимает значительное время, однако они бывают нужны не при каждом запуске программы. Например, клиент системы контроля версий может обращаться к локальным файлам, а может — к удалённому репозиторию. Тогда устанавливать соединение с удалённым репозиторием можно, только если пользователь решил к нему обратиться.
 </p>
 <p>
  Для представления таких объектов может быть полезен шаблон LazyValue&lt;T&gt;. У него есть константный метод const T&amp; Get(), который возвращает ссылку на созданный объект. В своём конструкторе LazyValue принимает инициализирующую функцию, которая используется при первом вызове метода Get для создания хранимого объекта. Последующие вызовы Get просто возвращают ссылку на хранимый объект.
 </p>
 <p>
  Таким образом, объект класса LazyValue&lt;T&gt; не тратит время на создание хранимого объекта до первого вызова метода Get.
 </p>
 <p>
  Вам дан интерфейс шаблона LazyValue. Реализуйте его. Более подробный список требований:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Объект класса LazyValue&lt;T&gt; не должен конструировать объект типа T при своём создании
   </p>
  </li>
  <li>
   <p>
    При первом вызове метода LazyValue&lt;T&gt;::Get должен создаваться объект типа T с помощью функции, переданной в конструктор LazyValue&lt;T&gt;
   </p>
  </li>
  <li>
   <p>
    Последующие вызовы метода Get не должны вызывать функцию, переданную в конструктор
   </p>
  </li>
  <li>
   <p>
    Если за время жизни объекта LazyValue&lt;T&gt; метод Get не был вызван ни разу, то инициализирующая функция не должна быть вызвана.
   </p>
  </li>
  <li>
   <p>
    Шаблон LazyValue должен поддерживать работу с типами без конструктора по умолчанию
   </p>
  </li>
 </ul>
 <p>
  Интерфейс шаблона приведён в заготовке решения.
 </p>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="pMJLn_Y7Eei5Kg7DUflKxA" name="lazy_value">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
