<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Эта задача — продолжение задачи «Шаблон Synchronized» из «Красного пояса по C++». Ниже приведено её полное условие с необходимыми дополнениями. Так что если вы не проходили «Красный пояс», можете просто решать эту задачу с нуля.
 </p>
 <p>
  Дополнительные требования по сравнению с «Красным поясом по С++»:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    нужно добавить константный метод GetAccess, который возвращает объект, содержащий константную ссылку на хранимый объект
   </p>
  </li>
 </ul>
 <h3 level="3">
  Условие
 </h3>
 <p>
  Как известно, отсутствие синхронизации доступа нескольких потоков к одним и тем же данным может фатально сказаться на работе программы. Поэтому очень важно не забывать захватывать мьютекс при обращении к разделяемым данным. Но если у нас есть большой проект, в котором доступ к общим данным осуществляется из большого количества мест в коде, то не так уж и трудно забыть сделать это, внося очередные правки.
 </p>
 <p>
  Чтобы защититься от такой забывчивости, можно написать специальную обёртку над данными, которая будет предоставлять к ним доступ только под мьютексом. В этой задаче вам надо разработать такую обёртку — шаблон класса Synchronized вот с таким интерфейсом:
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
class Synchronized {
public:
  explicit Synchronized(T initial = T());

  Access1 GetAccess();
  Access2 GetAccess() const;
private:
  T value;
};</pre>
 <p>
  Типы Access1 и Access2 должны быть структурами, в которых есть поля T&amp; ref_to_value и const T&amp; ref_to_valueсоответственно. В обоих случаях поле ref_to_value должно ссылаться на поле value класса Synchronized&lt;T&gt;. Кроме того, объекты классов Access1 и Access2 должны вести себя аналогично классу lock_guard&lt;mutex&gt;: захватывать мьютекс в своём конструкторе и освобождать в деструкторе. Пример:
 </p>
 <pre language="c_cpp">Synchronized&lt;int&gt; s_int;
{
  auto access = s_int.GetAccess();
  // Критическая секция начинается отсюда и продолжается до конца блока
  access.ref_to_value = 5;
}
ASSERT_EQUAL(s_int.GetAccess().ref_to_value, 5);</pre>
 <p>
  Вам можно (и даже нужно) добавлять необходимые поля в классы Access1, Access2 и шаблон Synchronized. Более подробные примеры использования шаблона Synchronized смотрите в заготовке решения.
 </p>
 <p>
  Как видите, единственный способ получить доступ к полю value класса Synchronized&lt;T&gt; — это обратиться к полю ref_to_value классов Access1 и Access2, которые гарантируют, что этот доступ осуществляется под мьютексом. Таким образом, если разделяемые данные обернуть в шаблон Synchronized, вы никогда не забудете захватить мьютекс при обращении к ним.
 </p>
 <h3 level="3">
  Примечание
 </h3>
 <p>
  Проверяющий код никак не закладывается на имена типов, возвращаемых методами GetAccess, поэтому вы можете назвать их не Access1 и Access2, а как-то более осмысленно.
 </p>
 <h3 level="3">
  Заготовка решения задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="tedfaPY8EeilxxL_ZeRz_A" name="synchronized_2">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
