<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Мы уже добавили константность в шаблон Synchronized, который разработали в «Красном поясе по С++». На очереди другой шаблон из модуля «Базовая многопоточность» — ConcurrentMap. С момента, как мы написали его в «Красном поясе по С++», мы изучили две важные темы — unordered-контейнеры и mutable-поля. И теперь мы применим эти знания, чтобы приблизить ConcurrentMap к его промышленной реализации.
 </p>
 <p>
  Эта задача — продолжение задачи «ConcurrentMap» из «Красного пояса по C++». Ниже приведено её полное условие с необходимыми изменениями. Так что если вы не проходили «Красный пояс», можете просто решать эту задачу с нуля. Дополнительные требования по сравнению с «Красным поясом по С++»:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    внутри класса надо использовать unordered-контейнер вместо std::map
   </p>
  </li>
  <li>
   <p>
    необходимо поддержать ключи произвольного типа, а не только целочисленные
   </p>
  </li>
  <li>
   <p>
    нужно добавить константные методы Has и At
   </p>
  </li>
  <li>
   <p>
    нужно сделать метод BuildOrdinaryMap константным
   </p>
  </li>
 </ul>
 <h3 level="3">
  Условие
 </h3>
 <p>
  Давайте представим, что у нас есть unordered_map, к которому обращаются несколько потоков. Чтобы синхронизировать доступ к нему, мы можем каждое обращение к этому unordered_map'у защитить мьютексом (например, завернув наш unordered_map в шаблон Synchronized). Теперь давайте представим, что у нас есть Synchronized&lt;unordered_map&lt;int, int&gt;&gt;, в котором хранятся все ключи от 1 до 10000. Интуитивно кажется, что когда из одного потока мы обращаемся к ключу 10, а из другого — например, к ключу 6712, то нет смысла защищать эти обращения одним и тем же мьютексом. Это отдельные области памяти, а внутреннюю структуру словаря мы никак не изменяем. При этом, если мы будем обращаться к ключу 6712 одновременно из нескольких потоков, то синхронизация, несомненно, понадобится.
 </p>
 <p>
  Отсюда возникает идея — разбить наш словарь на несколько подсловарей с непересекающимся набором ключей и защитить каждый из них отдельным мьютексом. Тогда при обращении разных потоков к разным ключам они нечасто будут попадать в один и тот же подсловарь, а значит, смогут параллельно его обрабатывать. Эту идею вам предстоит реализовать в этой задаче. Вам надо написать шаблон класса ConcurrentMap вот с таким интерфейсом:
 </p>
 <pre language="c_cpp">template &lt;typename K, typename V, typename Hash = std::hash&lt;K&gt;&gt;
class ConcurrentMap {
public:
  using MapType = unordered_map&lt;K, V, Hash&gt;;

  struct WriteAccess {
    V&amp; ref_to_value;
  };

  struct ReadAccess {
    const V&amp; ref_to_value;
  };

  explicit ConcurrentMap(size_t bucket_count);

  WriteAccess operator[](const K&amp; key);
  ReadAccess At(const K&amp; key) const;

  bool Has(const K&amp; key) const;

  MapType BuildOrdinaryMap() const;

private:
  Hash hasher;
};</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    Конструктор класса ConcurrentMap&lt;K, V&gt; принимает количество подсловарей, на которые надо разбить всё пространство ключей.
   </p>
  </li>
  <li>
   <p>
    operator[] должен вести себя так же, как аналогичный оператор у unordered_map — если ключ key присутствует в словаре, он должен возвращать объект класса WriteAccess, содержащий ссылку на соответствующее ему значение; если же key отсутствует в словаре, в него надо добавить пару (key, V()) и вернуть объект класса WriteAccess, содержащий ссылку на только что добавленное значение.
   </p>
  </li>
  <li>
   <p>
    Метод At должен вести себя так же, как аналогичный метод у unordered_map — если ключ key присутствует в словаре, он должен возвращать объект класса ReadAccess, содержащий константную ссылку на соответствующее ему значение; если же key отсутствует в словаре, метод At должен выбросить исключение std::out_of_range.
   </p>
  </li>
  <li>
   <p>
    Структуры WriteAccess и ReadAccess должны вести себя так же, как и в шаблоне Synchronized, — предоставлять ссылку на значение словаря и обеспечивать синхронизацию доступа к нему.
   </p>
  </li>
  <li>
   <p>
    Метод BuildOrdinaryMap должен сливать вместе части словаря и возвращать весь словарь целиком. При этом он должен быть потокобезопасным, то есть корректно работать, когда другие потоки выполняют операции с ConcurrentMap. В отличие от задачи из «Красного пояса по С++» в этой задаче метод BuildOrdinaryMap сделан константным.
   </p>
  </li>
  <li>
   <p>
    Метод Has должен потокобезопасно проверять, что переданный ключ присутствует в словаре.
   </p>
  </li>
  <li>
   <p>
    Третий шаблонный параметр — Hash — используется для хеширования ключей типа K. Его интерфейс аналогичен
    <a href="https://en.cppreference.com/w/cpp/utility/hash" title="">
     std::hash
    </a>
    — это класс, который имеет константный size_t operator()(const K&amp; key) const.
   </p>
  </li>
 </ul>
 <p>
  Заготовка решения задачи
 </p>
 <asset assettype="generic" extension="cpp" id="UGvpyAnpEemP8Qpm209XvA" name="concurrent_map_2">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
