<meta charset="utf-8"/>
<co-content>
 <p>
  В лекциях мы наглядно продемонстрировали, что константность ограничивает набор операций, которые можно выполнять с объектом, защищая его от нежелательного изменения. Однако возможности константности ограничены, и в некоторых случаях она не позволяет достичь желаемого эффекта. В таких ситуациях на помощь приходит система типов, которая позволяет создавать классы с требуемыми свойствами. Мы рассмотрим такую ситуацию в этой задаче.
 </p>
 <p>
  Вам дана реализация шаблона Polynomial, который представляет собой многочлен от одной переменной. Тип T этого шаблона задаёт тип коэффициентов и переменной. То есть Polynomial&lt;int&gt; -- это многочлен с целочисленными коэффициентами от целочисленной переменной, Polynomial&lt;double&gt; -- это многочлен с вещественными коэффициентами от вещественной переменной. Рассмотрим интерфейс класса Polynomial&lt;T&gt;:
 </p>
 <pre language="c_cpp">template&lt;typename T&gt;
class Polynomial {
private:
  ...
public:
  // Принимает вектор коэффициентов (коэффициенты задаются от младшего к старшим)
  // Например, Polynomial({10, 2, 3, 4}) создаёт многочлен 4*x^3 + 3*x^2 + 2*x + 10
  Polynomial(vector&lt;T&gt; coeffs);

  // Создаёт многочлен, все коэффициенты которого равны нулю
  Polynomial();

  // Аналогичен конструктору от вектора, но принимает пару итераторов
  template&lt;typename Iterator&gt;
  Polynomial(Iterator first, Iterator last);

  // Операторы проверки на равенство и неравенство. Два многочлена равны тогда и только тогда,
  // когда их соответствующие коэффициенты попарно равны
  bool operator ==(const Polynomial&amp; other) const;
  bool operator !=(const Polynomial&amp; other) const;

  // Возвращает степень многочлена -- максимальную степень, коэффициент при которой не равен нулю.
  // Например, степень многочлена 2*x равна 1, степень многочлена 4*x^5 + x^3 - 10 равна 5,
  // степень многочлена 5 равна нулю.
  // Метод работает за O(1)
  int Degree() const;

  Polynomial&amp; operator +=(const Polynomial&amp; r);
  Polynomial&amp; operator -=(const Polynomial&amp; r);

  // Возвращает значение коэффициента при заданной степени.
  // Если переданное значение больше степени многочлена, метод возвращает 0
  T operator [](size_t degree) const;
  // Вычисляет значение многочлена в точке с переданным значением
  T operator ()(const T&amp; x) const;

  using const_iterator = typename std::vector&lt;T&gt;::const_iterator;

  // Итераторы на коэффициенты многочлена
  const_iterator begin() const;
  const_iterator end() const;
};</pre>
 <p>
  В приведённой выше реализации есть только одна возможность задать значения коэффициентов многочлена — передать их в конструктор. Однако на практике может оказаться полезной возможность задавать коэффициенты по одному (эта возможность особенно полезна для сильно разреженных полиномов):
 </p>
 <pre language="c_cpp">Polynomial&lt;int&gt; p;
p[1] = 5;
p[24] = -8;
p[61] = 12;
p[314] = 272;</pre>
 <p>
  Ваша задача -- добавить эту возможность, а именно реализовать неконстантный operator[] для шаблона Polynomial, который
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    будет позволять задавать значение коэффициента заданной степени (как в примере выше)
   </p>
  </li>
  <li>
   <p>
    будет позволять читать значение коэффициента заданной степени (то есть должен работать код int cv = p[4];)
   </p>
  </li>
  <li>
   <p>
    будет работать за O(1) в случае, если не меняется степень многочлена
   </p>
  </li>
  <li>
   <p>
    не будет менять степень многочлена, если запись не была произведена
   </p>
  </li>
 </ul>
 <p>
  Последнее требование можно выразить вот таким тестом:
 </p>
 <pre language="c_cpp">Polynomial&lt;int&gt; p;
p[2] = 1;
ASSERT_EQUAL(p.Degree(), 2);
int x = p[5];
ASSERT_EQUAL(x, 0);
ASSERT_EQUAL(p.Degree(), 2); // Мы ничего не записали в p[5], поэтому степень многочлена не изменилась</pre>
 <p>
  См. также юнит-тесты в заготовке решения
 </p>
 <p>
  На проверку пришлите cpp-файл с полной реализацией шаблона Polynomial.
 </p>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="pHlHg6-6Eem5YwqUxVF09g" name="polynomial">
 </asset>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="As0qMPZAEeiTKQ5ajE7PqA" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="AszcWPZAEeilxxL_ZeRz_A" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="As1RQvZAEeiAgQrXx6bp4g" name="Подсказка 3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="AtA3c_ZAEeiAgQrXx6bp4g" name="Подсказка 4">
 </asset>
 <asset assettype="pdf" extension="pdf" id="As0qMfZAEeiAgQrXx6bp4g" name="Подсказка 5">
 </asset>
 <asset assettype="pdf" extension="pdf" id="As7_IPZAEei5Kg7DUflKxA" name="Подсказка 6">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
