<meta charset="utf-8"/>
<co-content>
 <p>
 </p>
 <table columns="4" rows="7">
  <tr>
   <td>
    <p>
    </p>
   </td>
   <td>
    <p>
     <strong>
      Неотсортированный вектор
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      Отсортированный вектор
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      Множество или словарь
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     <strong>
      Проверка существования
     </strong>
    </p>
   </td>
   <td>
    <p>
     Функция find
    </p>
   </td>
   <td>
    <p>
     Функция binary_search
    </p>
   </td>
   <td>
    <p>
     Метод count
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     <strong>
      Проверка существования
     </strong>
     <strong>
      и поиск первого подходящего элемента
     </strong>
    </p>
   </td>
   <td>
    <p>
     Функция find
    </p>
   </td>
   <td>
    <p>
     Функция lower_bound и проверка найденного элемента на равенство искомому
    </p>
   </td>
   <td>
    <p>
     Метод find
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     <strong>
      Поиск первого элемента,
     </strong>
     <strong>
      большего или равного данному
     </strong>
    </p>
   </td>
   <td>
    <p>
     Функция find_if
    </p>
   </td>
   <td>
    <p>
     Функция lower_bound
    </p>
   </td>
   <td>
    <p>
     Метод lower_bound
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     <strong>
      Поиск первого элемента,
     </strong>
     <strong>
      большего данного
     </strong>
    </p>
   </td>
   <td>
    <p>
     Функция find_if
    </p>
   </td>
   <td>
    <p>
     Функция upper_bound
    </p>
   </td>
   <td>
    <p>
     Метод upper_bound
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     <strong>
      Подсчёт количества
     </strong>
    </p>
   </td>
   <td>
    <p>
     Функция count
    </p>
   </td>
   <td>
    <p>
     Функция equal_range → расстояние между итераторами
    </p>
   </td>
   <td>
    <p>
     Метод count
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     <strong>
      Перебор всех подходящих элементов
     </strong>
    </p>
   </td>
   <td>
    <p>
     Цикл с вызовом функции find
    </p>
   </td>
   <td>
    <p>
     Функция equal_range → цикл от левой до правой границы
    </p>
   </td>
   <td>
    <p>
     Метод find
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
