<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите функцию FindNearestElement, для множества целых чисел numbers и данного числа border возвращающую итератор на элемент множества, ближайший к border. Если ближайших элементов несколько, верните итератор на наименьший из них.
 </p>
 <pre language="c_cpp">set&lt;int&gt;::const_iterator FindNearestElement(
    const set&lt;int&gt;&amp; numbers,
    int border);
// set&lt;int&gt;::const_iterator —
// тип итераторов для константного множества целых чисел</pre>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  set&lt;int&gt; numbers = {1, 4, 6};
  cout &lt;&lt;
      *FindNearestElement(numbers, 0) &lt;&lt; " " &lt;&lt;
      *FindNearestElement(numbers, 3) &lt;&lt; " " &lt;&lt;
      *FindNearestElement(numbers, 5) &lt;&lt; " " &lt;&lt;
      *FindNearestElement(numbers, 6) &lt;&lt; " " &lt;&lt;
      *FindNearestElement(numbers, 100) &lt;&lt; endl;
      
  set&lt;int&gt; empty_set;
  
  cout &lt;&lt; (FindNearestElement(empty_set, 8) == end(empty_set)) &lt;&lt; endl;
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">1 4 4 6 6
1</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
