<meta charset="utf-8"/>
<co-content>
 <h1 level="1">
  Часть 1. Группировка по символу
 </h1>
 <p>
  Напишите функцию FindStartsWith:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    принимающую отсортированный набор строк в виде итераторов range_begin, range_end и один символ prefix;
   </p>
  </li>
  <li>
   <p>
    возвращающую диапазон строк, начинающихся с символа prefix, в виде пары итераторов.
   </p>
  </li>
 </ul>
 <pre language="c_cpp">template &lt;typename RandomIt&gt;
pair&lt;RandomIt, RandomIt&gt; FindStartsWith(
    RandomIt range_begin, RandomIt range_end,
    char prefix);</pre>
 <p>
  Если итоговый диапазон пуст, его границы должны указывать на то место в контейнере, куда можно без нарушения порядка сортировки вставить любую строку, начинающуюся с символа prefix (подобно алгоритму equal_range). Гарантируется, что строки состоят лишь из строчных латинских букв и символ prefix также является строчной латинской буквой.
 </p>
 <p>
  Поиск должен осуществляться за логарифмическую сложность — например, с помощью двоичного поиска.
 </p>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  const vector&lt;string&gt; sorted_strings = {"moscow", "murmansk", "vologda"};
  
  const auto m_result =
      FindStartsWith(begin(sorted_strings), end(sorted_strings), 'm');
  for (auto it = m_result.first; it != m_result.second; ++it) {
    cout &lt;&lt; *it &lt;&lt; " ";
  }
  cout &lt;&lt; endl;
  
  const auto p_result =
      FindStartsWith(begin(sorted_strings), end(sorted_strings), 'p');
  cout &lt;&lt; (p_result.first - begin(sorted_strings)) &lt;&lt; " " &lt;&lt;
      (p_result.second - begin(sorted_strings)) &lt;&lt; endl;
  
  const auto z_result =
      FindStartsWith(begin(sorted_strings), end(sorted_strings), 'z');
  cout &lt;&lt; (z_result.first - begin(sorted_strings)) &lt;&lt; " " &lt;&lt;
      (z_result.second - begin(sorted_strings)) &lt;&lt; endl;
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">moscow murmansk
2 2
3 3
</pre>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  К символам (char) можно прибавлять или вычитать числа, получая таким образом следующие или предыдущие буквы в алфавитном порядке. Например, для строки s выражение --s[0] заменит её первую букву на предыдущую.
 </p>
 <p>
  Обратите внимание, что выражение 'a' + 1 имеет тип int и поэтому может понадобиться привести его к типу char с помощью static_cast.
 </p>
 <h1 level="1">
  Часть 2. Группировка по префиксу
 </h1>
 <p>
  Напишите более универсальный вариант функции FindStartsWith, принимающий в качестве префикса произвольную строку, состоящую из строчных латинских букв.
 </p>
 <pre language="c_cpp">template &lt;typename RandomIt&gt;
pair&lt;RandomIt, RandomIt&gt; FindStartsWith(
    RandomIt range_begin, RandomIt range_end,
    const string&amp; prefix);
    </pre>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  const vector&lt;string&gt; sorted_strings = {"moscow", "motovilikha", "murmansk"};
  
  const auto mo_result =
      FindStartsWith(begin(sorted_strings), end(sorted_strings), "mo");
  for (auto it = mo_result.first; it != mo_result.second; ++it) {
    cout &lt;&lt; *it &lt;&lt; " ";
  }
  cout &lt;&lt; endl;
  
  const auto mt_result =
      FindStartsWith(begin(sorted_strings), end(sorted_strings), "mt");
  cout &lt;&lt; (mt_result.first - begin(sorted_strings)) &lt;&lt; " " &lt;&lt;
      (mt_result.second - begin(sorted_strings)) &lt;&lt; endl;
  
  const auto na_result =
      FindStartsWith(begin(sorted_strings), end(sorted_strings), "na");
  cout &lt;&lt; (na_result.first - begin(sorted_strings)) &lt;&lt; " " &lt;&lt;
      (na_result.second - begin(sorted_strings)) &lt;&lt; endl;
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">moscow motovilikha
2 2
3 3
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
