<meta charset="utf-8"/>
<co-content>
 <h1 level="1">
  Часть 1
 </h1>
 <p>
  Реализуйте построение арифметического выражения согласно следующей схеме:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    изначально есть выражение, состоящее из некоторого целого числа x;
   </p>
  </li>
  <li>
   <p>
    на каждом шаге к текущему выражению применяется некоторая операция: прибавление числа, вычитание числа, умножение на число или деление на число; перед применением операции выражение всегда должно быть заключено в скобки.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример
 </h2>
 <p>
  Изначально есть число 8, соответствующее выражение:
 </p>
 <pre language="plain_text">8</pre>
 <p>
  К нему применяется операция умножения на 3, получается выражение
 </p>
 <pre language="c_cpp">(8) * 3</pre>
 <p>
  Затем вычитается 6:
 </p>
 <pre language="c_cpp">((8) * 3) - 6</pre>
 <p>
  Наконец, происходит деление на 1; итоговое выражение:
 </p>
 <p>
 </p>
 <pre language="c_cpp">(((8) * 3) - 6) / 1</pre>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  В первой строке содержится исходное целое число x. Во второй строке содержится целое неотрицательное число N— количество операций. В каждой из следующих N строк содержится очередная операция:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    прибавление числа
    <em>
     a
    </em>
    :
    <strong>
     +
     <em>
      a
     </em>
    </strong>
    ;
   </p>
  </li>
  <li>
   <p>
    либо вычитание числа
    <em>
     b
    </em>
    :
    <strong>
     -
     <em>
      b
     </em>
    </strong>
    ;
   </p>
  </li>
  <li>
   <p>
    либо умножение на число
    <em>
     c
    </em>
    :
    <strong>
     *
     <em>
      c
     </em>
    </strong>
    ;
   </p>
  </li>
  <li>
   <p>
    либо деление на число
    <em>
     d
    </em>
    :
    <strong>
     /
     <em>
      d
     </em>
    </strong>
    .
   </p>
  </li>
 </ul>
 <p>
  Количество операций может быть нулевым — в этом случае необходимо вывести исходное число.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Выведите единственную строку — построенное арифметическое выражение.
 </p>
 <p>
  Обратите внимание на расстановку пробелов вокруг символов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    каждый символ бинарной операции (+, -, * или /) должен быть окружён ровно одним пробелом с каждой стороны: (8) * 3;
   </p>
  </li>
  <li>
   <p>
    символ унарного минуса (для отрицательных чисел) не нуждается в дополнительном пробеле: -5;
   </p>
  </li>
  <li>
   <p>
    скобки и числа не нуждаются в дополнительных пробелах.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  Для преобразования числа к строке используйте функцию to_string из библиотеки &lt;string&gt;.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">8
3
* 3
- 6
/ 1
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">(((8) * 3) - 6) / 1</pre>
 <h1 level="1">
  Часть 2. Без лишних скобок
 </h1>
 <p>
  Модифицируйте решение предыдущей части так, чтобы предыдущее выражение обрамлялось скобками лишь при необходимости, то есть только в том случае, когда очередная операция имеет бо́льший приоритет, чем предыдущая.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">8
3
* 3
- 6
/ 1
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">(8 * 3 - 6) / 1</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
