<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите свою упрощённую реализацию класса unique_ptr&lt;T&gt;. Подробную спецификацию стандартного unique_ptr можно посмотреть
  <a href="http://en.cppreference.com/w/cpp/memory/unique_ptr" title="">
   на cppreference
  </a>
  . В этой задаче вам не нужно делать специализацию для массива и не нужно предусматривать свой Deleter. Назовите ваш класс UniquePtr. У класса должен быть один шаблонный параметр T — тип элемента, указатель на который будет храниться внутри.
 </p>
 <p>
  Напишите следующие функции в классе:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Конструктор по умолчанию, создающий пустой умный указатель.
   </p>
  </li>
  <li>
   <p>
    Конструктор, принимающий T* и захватывающий владение этой динамической памятью.
   </p>
  </li>
  <li>
   <p>
    Конструктор перемещения, получающий на вход rvalue-ссылку на другой UniquePtr и отбирающий у него владение ресурсом.
   </p>
  </li>
  <li>
   <p>
    Оператор присваивания, получающий на вход nullptr (тип - nullptr_t, определенный в заголовочном файле cstddef). В результате умный указатель должен стать пустым.
   </p>
  </li>
  <li>
   <p>
    Move-оператор присваивания, получающий на вход rvalue-ссылку на другой UniquePtr.
   </p>
  </li>
  <li>
   <p>
    Деструктор.
   </p>
  </li>
  <li>
   <p>
    operator *, который возвращает T&amp;.
   </p>
  </li>
  <li>
   <p>
    Оператор -&gt; (он должен вернуть указатель на обычную структуру, к которому можно применить обычный -&gt;).
   </p>
  </li>
  <li>
   <p>
    Функцию T* Release(), отменяющую владение объектом и возвращающую хранящийся внутри указатель.
   </p>
  </li>
  <li>
   <p>
    Функцию void Reset(T* ptr), после выполнения которой умный указатель должен захватить ptr.
   </p>
  </li>
  <li>
   <p>
    Функцию void Swap(UniquePtr&amp; other), обменивающуюся содержимым с другим умным указателем.
   </p>
  </li>
  <li>
   <p>
    Функцию T* Get() const, возвращающую указатель.
   </p>
  </li>
 </ol>
 <p>
  В вашем классе должны быть запрещены конструктор копирования и обычный оператор присваивания.
 </p>
 <p>
  Использовать стандартный unique_ptr и заголовочный файл memory запрещается.
 </p>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="Ihst4_fDEeiixgqCUDoEfA" name="unique_ptr">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
