<meta charset="utf-8"/>
<co-content>
 <p>
  На лекции мы написали класс TripManager для бронирования набора перелётов и отелей, использующий вспомогательные классы FlightProvider и HotelProvider. Следуя идиоме RAII, мы вынесли забронированный набор в отдельный класс Trip. Код, написанный на лекции, мы немного модифицировали и поместили в файлы old_booking_providers.h и old_trip_manager.h
 </p>
 <p>
  Вам теперь предлагается сделать так, чтобы отдельные бронирования перелёта и отеля тоже были оформлены в духе RAII. Это позволит упростить класс Trip: в его функции Cancel не придётся вызывать отмены бронирований, а достаточно будет просто удалить элементы из векторов.
 </p>
 <p>
  Вам даны новые версии классов TripManager, Trip, FlightProvider и HotelProvider, которые лежат в файлах new_booking_providers.h и new_trip_manager.h. Функцию Cancel в новых классах мы переименовали в CancelOrComplete: она должна будет автоматически вызываться не только при отмене бронирования, но и при успешном его завершении. Теперь функции Book и CancelOrComplete в классах-провайдерах возвращают и принимают не BookingId, а специальный класс, который вам и нужно создать.
 </p>
 <p>
  Так как FlightProvider и HotelProvider имеют одинаковый интерфейс, то, чтобы избежать дублирования кода, мы просим вас разработать шаблонный класс Booking&lt;Provider&gt;, где в качестве шаблонного типа будут выступать FlightProvider и HotelProvider.
 </p>
 <p>
  Пришлите в тестирующую систему файл booking.h, который:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    содержит пространство имён RAII
   </p>
  </li>
  <li>
   <p>
    внутри пространства имён RAII содержит определение шаблонного класса Booking&lt;Provider&gt;
   </p>
  </li>
 </ul>
 <p>
  Интерфейс класса Booking&lt;Provider&gt; должен стать вам понятен после изучения файлов new_booking_providers.h и new_trip_manager.h.
 </p>
 <p>
  Для удобства тестирования мы сделали счётчик бронирований и максимально допустимое количество бронирований публичными статическими переменными классов FlightProvider и HotelProvier.
 </p>
 <h3 level="3">
  Файлы задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="hJTtjgriEemU7w7-EFnPcg" name="test">
 </asset>
 <asset assettype="generic" extension="h" id="hJRRNgriEem5_xLqNrIdUA" name="old_booking_providers">
 </asset>
 <asset assettype="generic" extension="h" id="hJRRqgriEemP8Qpm209XvA" name="old_trip_manager">
 </asset>
 <asset assettype="generic" extension="h" id="hJR4NQriEem6Gg6vVM6M8A" name="new_booking_providers">
 </asset>
 <asset assettype="generic" extension="h" id="hJYmogriEemYdRIT0BhLtg" name="new_trip_manager">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
