<meta charset="utf-8"/>
<co-content>
 <p>
  Перед решением первой задачи на программирование мы рекомендовали вам посмотреть
  <a href="https://www.youtube.com/watch?v=wtfl_FFkdwE" title="">
   <strong>
    вебинар
   </strong>
  </a>
  старшего преподавателя курса, Ильи Шишкова, в котором объясняется, как и почему тестируются ваши решения задач курса.
 </p>
 <p>
  Мы рекомендуем вам посмотреть вебинар еще раз уже с тем опытом и знаниями, которые вы получили, почти закончив первый курс. Теперь все будет гораздо понятнее!
 </p>
 <p>
  Посмотреть вебинар можно по
  <a href="https://www.youtube.com/watch?v=wtfl_FFkdwE" title="">
   <strong>
    ссылке
   </strong>
  </a>
  .
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
