<meta charset="utf-8"/>
<co-content>
 <p>
  Необходимо написать программу на С++, которая реализует работу с простой базой данных (сокращённо «БД»). Программа будет общаться с пользователем через стандартный ввод и вывод (потоки stdin и stdout).
 </p>
 <p>
  Будем хранить в нашей БД пары вида: дата, событие. Определим дату как строку вида
  <em>
   Год-Месяц-День,
  </em>
  где
  <em>
   Год
  </em>
  ,
  <em>
   Месяц
  </em>
  и
  <em>
   День —
  </em>
  целые числа.
 </p>
 <p>
  Событие определим как строку из произвольных печатных символов без разделителей внутри (пробелов, табуляций и пр.). Событие не может быть пустой строкой. В одну и ту же дату может произойти много разных событий, БД должна суметь их все сохранить. Одинаковые события, произошедшие в один и тот же день, сохранять не нужно: достаточно сохранить только одно из них.
 </p>
 <p>
  Наша БД должна понимать определённые команды, чтобы с ней можно было взаимодействовать:
 </p>
 <pre language="plain_text">- добавление события:                        Add Дата Событие
- удаление события:                          Del Дата Событие
- удаление всех событий за конкретную дату:  Del Дата
- поиск событий за конкретную дату:          Find Дата
- печать всех событий за все даты:           Print
</pre>
 <p>
  Все команды, даты и события при вводе разделены пробелами. Команды считываются из стандартного ввода. В одной строке может быть ровно одна команда, но можно ввести несколько команд в несколько строк. На вход также могут поступать пустые строки — их следует игнорировать и продолжать обработку новых команд в последующих строках.
 </p>
 <h2 level="2">
  Добавление события (Add
  <em>
   Дата Событие
  </em>
  )
 </h2>
 <p>
  При добавлении события БД должна его запомнить и затем показывать его при поиске (командой Find) или печати (командой Print). Если указанное событие для данной даты уже существует, повторное его добавление нужно игнорировать. В случае корректного ввода (см. раздел «Обработка ошибок ввода») программа ничего не должна выводить на экран.
 </p>
 <h2 level="2">
  Удаление события (Del
  <em>
   Дата Событие
  </em>
  )
 </h2>
 <p>
  Команда должна удалить добавленное ранее событие с указанным именем в указанную дату, если оно существует. Если событие найдено и удалено, программа должна вывести строку «Deleted successfully» (без кавычек). Если событие в указанную дату не найдено, программа должна вывести строку «Event not found» (без кавычек).
 </p>
 <h2 level="2">
  Удаление нескольких событий (Del
  <em>
   Дата
  </em>
  )
 </h2>
 <p>
  Команда удаляет все ранее добавленные события за указанную дату. Программа всегда должна выводить строку вида «Deleted
  <em>
   N
  </em>
  events», где
  <em>
   N
  </em>
  — это количество всех найденных и удалённых событий.
  <em>
   N
  </em>
  может быть равно нулю, если в указанную дату не было ни одного события.
 </p>
 <h2 level="2">
  Поиск событий (Find
  <em>
   Дата
  </em>
  )
 </h2>
 <p>
  Найти и распечатать ранее добавленные события в указанную дату. Программа должна вывести на печать только сами события, по одному на строке. События должны быть отсортированы по возрастанию в порядке сравнения строк между собой (тип string).
 </p>
 <h2 level="2">
  Печать всех событий (Print)
 </h2>
 <p>
  С помощью этой команды можно показать полное содержимое нашей БД. Программа должна вывести на печать все пары
  <em>
   Дата Событие
  </em>
  по одной на строке. Все пары должны быть отсортированы по дате, а события в рамках одной даты должны быть отсортированы по возрастанию в порядке сравнения строк между собой (тип string). Даты должны быть отформатированы специальным образом:
  <em>
   ГГГГ-ММ-ДД,
  </em>
  где
  <em>
   Г
  </em>
  ,
  <em>
   М
  </em>
  ,
  <em>
   Д
  </em>
  — это цифры чисел года, месяца и дня соответственно. Если какое-то число имеет меньше разрядов, то оно должно дополняться нулями, например, 0001-01-01 — первое января первого года. Вам не понадобится выводить дату с отрицательным значением года.
 </p>
 <h2 level="2">
  Обработка ошибок ввода
 </h2>
 <p>
  Ввод в этой задаче не всегда корректен: некоторые ошибки ввода ваша программа должна корректно обрабатывать.
 </p>
 <h3 level="3">
  Какие ошибки ввода
  <strong>
   нужно
  </strong>
  обрабатывать
 </h3>
 <p>
  Если пользователь ввёл неизвестную команду, то программа должна об этом сообщить, выведя строку «Unknown command:
  <em>
   COMMAND
  </em>
  », где
  <em>
   COMMAND
  </em>
  — это та команда, которую ввёл пользователь. Командой считается первое слово в строке (до пробела).
 </p>
 <p>
  Если дата не соответствует формату
  <em>
   Год-Месяц-День
  </em>
  , где
  <em>
   Год, Месяц
  </em>
  и
  <em>
   День
  </em>
  — произвольные целые числа, то программа должна напечатать «Wrong date format:
  <em>
   DATE
  </em>
  », где
  <em>
   DATE
  </em>
  — это то, что пользователь ввёл вместо даты (до пробела). Обратите внимание, что части даты разделяются ровно одним дефисом, а сама дата не должна содержать лишних символов ни перед годом, ни после дня. Части даты не могут быть пустыми, но могут быть нулевыми и даже отрицательными.
 </p>
 <p>
  Если формат даты верен, необходимо проверить валидность месяца и дня.
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Если номер месяца не является числом от 1 до 12, выведите «Month value is invalid:
    <em>
     MONTH
    </em>
    », где
    <em>
     MONTH —
    </em>
    это неверный номер месяца, например, 13 или -1.
   </p>
  </li>
  <li>
   <p>
    Если месяц корректен, а день не лежит в диапазоне от 1 до 31, выведите «Day value is invalid:
    <em>
     DAY
    </em>
    », где
    <em>
     DAY —
    </em>
    это неверный номер дня в месяце, например, 39 или 0.
   </p>
  </li>
 </ul>
 <p>
  Обратите внимание, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Значение года проверять отдельно не нужно.
   </p>
  </li>
  <li>
   <p>
    Не нужно проверять календарную корректность даты: количество дней в каждом месяце считается равным 31, високосные года учитывать не нужно.
   </p>
  </li>
  <li>
   <p>
    Если неверны как месяц, так и день, то нужно вывести одно сообщение об ошибке в месяце.
   </p>
  </li>
 </ul>
 <p>
  Примеры:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    1-1-1 — корректная дата;
   </p>
  </li>
  <li>
   <p>
    -1-1-1 — корректная дата (год -1, месяц 1, день 1);
   </p>
  </li>
  <li>
   <p>
    1--1-1 — дата в верном формате, но с некорректным месяцем -1;
   </p>
  </li>
  <li>
   <p>
    1---1-1 — дата в неверном формате: месяц не может начинаться с двух дефисов.
   </p>
  </li>
  <li>
   <p>
    1​-+1-+1 — корректная дата, так как +1 это целое число
   </p>
  </li>
 </ul>
 <p>
  После обработки любой из описанных ошибок ввода и печати сообщения программа должна завершать своё выполнение.
 </p>
 <h3 level="3">
  Какие ошибки ввода
  <strong>
   не нужно
  </strong>
  обрабатывать
 </h3>
 <p>
  Мы не ставим своей целью сломать вашу программу всеми возможными способами, поэтому, за исключением описанного в предыдущем пункте, вы можете полагаться на корректность ввода. В частности, мы гарантируем, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Каждая команда занимает целиком ровно одну строку, хотя во вводе могут быть и пустые строки (их нужно игнорировать).
   </p>
  </li>
  <li>
   <p>
    События всегда содержат указанное количество аргументов: после команды Add всегда следуют дата и событие, после команды Find всегда следует дата, после команды Del всегда следует дата и, возможно, событие, а команда Print не содержит дополнительной информации.
   </p>
  </li>
  <li>
   <p>
    Все команды, даты и события являются непустыми строками и не содержат пробелов и прочих пробельных символов. (В частности, наши тесты не содержат команды «Add 2018-02-12», потому что в ней после даты отсутствует название события.) С другой стороны, команда Del может не содержать события после даты: в этом случае нужно удалить все события за указанную дату (см. раздел «Удаление нескольких событий»).
   </p>
  </li>
  <li>
   <p>
    Несмотря на то, что дата с отрицательным значением года считается корректной, тесты устроены так, что её не понадобится выводить в команде Print.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Корректный ввод
 </h3>
 <pre language="plain_text">Add 0-1-2 event1
Add 1-2-3 event2
Find 0-1-2

Del 0-1-2
Print
Del 1-2-3 event2
Del 1-2-3 event2</pre>
 <p>
  Вывод:
 </p>
 <pre language="plain_text">event1
Deleted 1 events
0001-02-03 event2
Deleted successfully
Event not found</pre>
 <h3 level="3">
  Неверный формат даты
 </h3>
 <pre language="plain_text">Add 0-13-32 event1</pre>
 <p>
  Вывод:
 </p>
 <pre language="plain_text">Month value is invalid: 13</pre>
 <h2 level="2">
  Шаблон решения
 </h2>
 <p>
  Программа должна быть интерактивной и ожидать ввод до тех пор, пока в поток не попадёт символ конца ввода (эта часть уже реализована в шаблоне решения, которое приложено к этому условию).
 </p>
 <p>
  Допишите в этот шаблон недостающие части решения и отправьте его на проверку:
 </p>
 <asset assettype="generic" extension="cpp" id="rhFAEU2oEee9yBJWIVezQg" name="project_template">
 </asset>
 <h2 level="2">
  Примечания
 </h2>
 <h3 level="3">
  Преобразование числа к строке
 </h3>
 <p>
  Чтобы, имея число
  <em>
   MONTH
  </em>
  , составить строку «Month value is invalid:
  <em>
   MONTH
  </em>
  », можно использовать функцию to_string, преобразующую число к строке. Таким образом, составить необходимую строку можно следующим образом:
 </p>
 <pre language="c_cpp">string error = "Month value is invalid: " + to_string(month);</pre>
 <h3 level="3">
  Поиск в константном словаре
 </h3>
 <p>
  При реализации данного шаблона вам может понадобится использовать поиск с помощью квадратных скобок для словаря, переданного в функцию по константной ссылке. Как было показано ранее, это сделать не удастся, так как обращение к несуществующему ключу с помощью квадратных скобок добавит его в словарь, что недопустимо для константного словаря.
 </p>
 <p>
  В этом случае вместо квадратных скобок используйте метод at: в случае отсутствия ключа он выбросит исключение и потому может быть использован для константного объекта.
 </p>
 <p>
  Например, вместо кода
 </p>
 <pre language="c_cpp">void DoSomething(const map&lt;int, int&gt;&amp; m) {
  // ...
  if (m.count(key) &gt; 0) {
    value = m[key];  // не компилируется
  }
  // ...
}</pre>
 <p>
  используйте код
 </p>
 <pre language="c_cpp">void DoSomething(const map&lt;int, int&gt;&amp; m) {
  // ...
  if (m.count(key) &gt; 0) {
    value = m.at(key);  // теперь всё хорошо
  }
  // ...
}</pre>
 <h3 level="3">
  Непойманные исключения
 </h3>
 <p>
  Так как для решения задачи требуется программа, работающая верно на большом количестве разных входных данных, то неизбежно в ней могут обнаружиться ошибки, про некоторые из которых мы не рассказали в нашем курсе лекций. Одной из таких ошибок может быть непойманное исключение: ошибка заключается в том, что исключение, будучи выброшенным, не попадает ни под одно из выражений блоков catch вплоть до функции main. В этом случае программа тут же завершится аварийно, и в качестве ошибки в тесте вы увидите «Unknown signal 6».
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
