<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой части вам необходимо добавить визуализацию построенных маршрутов.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Новых запросов к базе не появляется. Для запросов типа Route необходимо выводить дополнительный ключ "map", содержащий SVG-документ в виде строки (аналогично запросу Map). Структура самой карты описана ниже.
 </p>
 <h2 level="2">
  Расширение используемого подмножества формата SVG
 </h2>
 <p>
  Необходимо поддержать новый SVG-объект — прямоугольник. Он выводится следующим образом:
 </p>
 <pre language="xml">&lt;rect x="x" y="y" width="w" height="h" path_props /&gt;</pre>
 <p>
  Здесь:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    x и y — координаты верхнего левого угла прямоугольника.
   </p>
  </li>
  <li>
   <p>
    w и h — ширина и высота.
   </p>
  </li>
  <li>
   <p>
    path_props — общие свойства объектов: цвета линии и заливки, толщина линии и формы конца линии и соединений.
   </p>
  </li>
 </ul>
 <p>
  Например, так выглядит квадрат с координатами углов (1, 1), (90, 90), с чёрной границей толщины 2 и белой заливкой:
 </p>
 <pre language="xml">&lt;rect x="1" y="1" width="89" height="89" fill="white" stroke="black" stroke-width="2" /&gt;</pre>
 <h2 level="2">
  Новая настройка отрисовки
 </h2>
 <p>
  Добавляется новая настройка отрисовки:
 </p>
 <table columns="4" rows="2">
  <thead>
   <tr>
    <th>
     <p>
      <strong>
       Ключ
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Описание
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Формат значения
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Гарантии
      </strong>
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     outer_margin
    </p>
   </td>
   <td>
    <p>
     Внешний отступ при выводе полупрозрачного прямоугольника, покрывающего карту для рисования маршрута поверх него
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Не меньше 0 и не больше 100000
    </p>
   </td>
  </tr>
 </table>
 <h2 level="2">
  Отрисовка маршрута
 </h2>
 <p>
  Рисование карты с маршрутом состоит из следующих этапов:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Выводим
    <strong>
     обычную карту целиком
    </strong>
    аналогично запросу Map, используя порядок слоёв, заданный настройкой layers.
   </p>
  </li>
  <li>
   <p>
    Выводим полупрозрачный прямоугольник, покрывающий всю карту.
   </p>
  </li>
  <li>
   <p>
    Выводим маршрут, используя порядок слоёв, заданный настройкой layers. Ниже описан порядок вывода каждого слоя.
   </p>
  </li>
 </ol>
 <h3 level="3">
  Вывод покрывающего карту прямоугольника
 </h3>
 <p>
  На этапе 2 необходимо вывести прямогольник со следующими свойствами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Координата верхнего левого угла — (-outer_margin, -outer_margin).
   </p>
  </li>
  <li>
   <p>
    Координата нижнего правого угла — (width + outer_margin, height + outer_margin).
   </p>
  </li>
  <li>
   <p>
    Цвет заливки — underlayer_color.
   </p>
  </li>
  <li>
   <p>
    Цвет и толщина линий — дефолтные (см. часть F).
   </p>
  </li>
 </ul>
 <h3 level="3">
  Вывод маршрута, слой bus_lines
 </h3>
 <p>
  При отрисовке маршрута рисуются те участки автобусных линий, через которые проходит этот маршрут.
 </p>
 <p>
  Для каждого элемента маршрута типа Bus в порядке их упоминания в маршруте необходимо вывести отрезок ломаной, соответствующей нужному отрезку автобусной линии. Обратите внимание, что одна остановка может встречаться на одном маршруте несколько раз — этот случай нужно обработать корректно и отобразить нужный отрезок.
 </p>
 <p>
  Способ вывода каждой ломаной аналогичен таковому в обычной карте.
 </p>
 <h3 level="3">
  Вывод маршрута, слой bus_labels
 </h3>
 <p>
  При отрисовке маршрута рисуются номера автобусов, соответствующие тем конечным, через которые проходит этот маршрут.
 </p>
 <p>
  Для каждого элемента маршрута типа Bus в порядке их упоминания в маршруте необходимо проверить, являются ли начало или конец этого отрезка конечными остановками (с точки зрения слоя bus_labels). Если начало отрезка маршрута является конечной этого маршрута, необходимо вывести название автобуса у соответствующей остановки. Далее, если конец этого отрезка является конечной, необходимо вывести название автобуса у соответствующей остановки. Обратите внимание, что в случае, когда отрезок маршрута пролегает от конечной до конечной, названия автобуса выводятся в следующем порядке: сначала для остановки, где начинается отрезок конкретного маршрута, затем для остановки, где он заканчивается.
 </p>
 <p>
  Способ вывода каждого названия аналогичен таковому в обычной карте.
 </p>
 <h3 level="3">
  Вывод маршрута, слой stop_points
 </h3>
 <p>
  При отрисовке маршрута рисуются круги остановок для тех участов автобусных линий, через которые проходит этот маршрут.
 </p>
 <p>
  Для каждого элемента маршрута типа Bus в порядке их упоминания в маршруте необходимо вывести круги всех остановок, соответствующих нужному отрезку автобусной линии. Остановки должны выводится в порядке прохода через них текущего построенного маршрута.
 </p>
 <p>
  Обратите внимание, что согласно описанному алгоритму пересадочные остановки будут выведены дважды: сначала для того автобуса, с которого делается пересадка, а затем для автобуса, на который осуществляется пересадка.
 </p>
 <p>
  Способ вывода каждого круга аналогичен таковому в обычной карте.
 </p>
 <h3 level="3">
  Вывод маршрута, слой stop_labels
 </h3>
 <p>
  При отрисовке маршрута названия рисуются только для пересадочных остановок конкретного маршрута.
 </p>
 <p>
  Для каждого элемента маршрута типа Wait в порядке их упоминания в маршруте необходимо вывести название соответствующей остановки. Поскольку последней остановке маршрута не соответствует элемент Wait, её название нужно дополнительно вывести в конце, после вывода остальных названий.
 </p>
 <p>
  Способ вывода каждого названия аналогичен таковому в обычной карте.
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <p>
  Количество запросов Route не превосходит 50, ограничение по времени на один тест — 5 секунд, по памяти — 1 ГБ.
 </p>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="HkfM46DZEemnpBK2VMQaIg" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="HkgbNaDZEem7UA4S1V_t6g" name="example1">
 </asset>
 <p>
  Общая карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="HkhCYKDZEemCjApABi1-mA" name="example1-map">
 </asset>
 <p>
  Карта первого маршрута
 </p>
 <asset assettype="image" extension="svg" id="HknJAaDZEemCjApABi1-mA" name="example1-route1">
 </asset>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="BOKmsn8EEemUJRIjvKFicg" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="BOL0en8EEemDJAqQ6uIUNA" name="example2">
 </asset>
 <p>
  Общая карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="BOMbi38EEemDJAqQ6uIUNA" name="example2-map">
 </asset>
 <p>
  Карта первого маршрута
 </p>
 <asset assettype="image" extension="svg" id="BRPIuX8EEem2AQ6u9bTEKg" name="example2-route1">
 </asset>
 <p>
  Карта второго маршрута
 </p>
 <asset assettype="image" extension="svg" id="BROh_X8EEemwbA6NWV4gZg" name="example2-route2">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
