<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Общее описание
 </h2>
 <p>
  В этой задаче вам надо разработать класс для представления рациональных чисел и внедрить его в систему типов языка С++ так, чтобы им можно было пользоваться естественным образом. Задание состоит из нескольких частей. К каждой части приложен файл с заготовкой программы, который имеет следующую структуру
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
using namespace std;

// Комментарии, которые говорят, что именно нужно реализовать в этой программе

int main() {
    // Набор юнит-тестов для вашей реализации
    cout &lt;&lt; "OK" &lt;&lt; endl;
    return 0;
}</pre>
 <p>
  Вам нужно,
  <strong>
   не меняя тело функции main,
  </strong>
  реализовать то, что предложено в комментариях, так, чтобы ваша программа выводила на экран сообщение OK. Функция main содержит ряд юнит-тестов, которые проверяют правильность вашей реализации. Если эти тесты находят ошибку в вашей реализации, то вместо OK программа выведет подсказку о том, что именно работает неправильно.
 </p>
 <p>
  Когда ваша программа начнёт выводить OK, можете отправлять свой файл на проверку. Ваша реализация будет тестироваться на другом, более полном наборе тестов.
  <strong>
   То есть, если ваша программа выводит OK, то это не даёт гарантии, что ваша реализация будет принята тестирующей системой.
  </strong>
  В случае неудачной посылки тестирующая система также выдаст вам подсказку о том, какая именно часть реализации работает неправильно.
 </p>
 <p>
  Внимательно изучите набор юнит-тестов для
  <strong>
   каждой
  </strong>
  заготовки решения. Тесты описывают требования, предъявляемые к вашей реализации, которые могут быть не указаны в условии задач
 </p>
 <p>
  На проверку можно отправлять весь файл с вашей реализацией: функцию main удалять из него не нужно.
 </p>
 <h2 level="2">
  Часть 1
 </h2>
 <p>
  В первой части Вам надо реализовать класс Rational, который представляет собой рациональное число вида p/q, где p — целое, а q — натуральное и диапазоны возможных значений p, q таковы, что могут быть представлены типом int. При этом, класс Rational должен иметь следующий интерфейс:
 </p>
 <pre language="c_cpp">class Rational {
public:
  Rational();
  Rational(int numerator, int denominator);

  int Numerator() const;
  int Denominator() const;
};</pre>
 <p>
  Класс Rational должен гарантировать, что p/q — это несократимая дробь. Например, код
 </p>
 <pre language="c_cpp">Rational r(4, 6);
cout &lt;&lt; r.Numerator() &lt;&lt; '/' &lt;&lt; r.Denominator();</pre>
 <p>
  должен выводить «2/3» — именно поэтому мы делаем Rational классом, а не структурой. Структура позволила бы нарушить этот инвариант:
 </p>
 <pre language="c_cpp">struct Rational {
    int numerator, denominator;
};

Rational r{2, 3};
r.numerator = 6; // Нарушен инвариант несократимости</pre>
 <p>
  Список требований, предъявляемых к реализации интерфейса класса Rational:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Конструктор по умолчанию должен создавать дробь с числителем 0 и знаменателем 1.
   </p>
  </li>
  <li>
   <p>
    При конструировании объека класса Rational с параметрами p и q должно выполняться сокращение дроби p/q (здесь вам может пригодиться решение задачи «Наибольший общий делитель»).
   </p>
  </li>
  <li>
   <p>
    Если дробь p/q отрицательная, то объект Rational(p, q) должен иметь отрицательный числитель и положительный знаменатель.
   </p>
  </li>
  <li>
   <p>
    Если дробь p/q положительная, то объект Rational(p, q) должен иметь положительные числитель и знаменатель (обратите внимание на случай Rational(-2, -3)).
   </p>
  </li>
  <li>
   <p>
    Если числитель дроби равен нулю, то знаменатель должен быть равен 1.
   </p>
  </li>
 </ol>
 <p>
  <strong>
   Гарантируется, что ни в одном из тестов, на которых будет тестироваться ваша реализация, не будет знаменателя, равного нулю.
  </strong>
 </p>
 <h3 level="3">
  Замечание:
 </h3>
 <p>
  В стандарте языка C++17 для вычисления НОД имеется стандартная функция gcd. Допустимо использовать данную функцию для сокращения дробей. Подробнее с данной функцией и её ограничениями можно ознакомиться по ссылке:
  <a href="https://en.cppreference.com/w/cpp/numeric/gcd" title="https://en.cppreference.com/w/cpp/numeric/gcd">
   https://en.cppreference.com/w/cpp/numeric/gcd
  </a>
 </p>
 <h3 level="3">
  Шаблон программы:
 </h3>
 <asset assettype="generic" extension="cpp" id="08aJPS6jEeeakAr4SHoMeg" name="rational_interface">
 </asset>
 <h2 level="2">
  Часть 2
 </h2>
 <p>
  Реализуйте для класса Rational операторы ==, + и - так, чтобы операции с дробями можно было записывать естественным образом. Например, следующий код должен быть валидным:
 </p>
 <pre language="c_cpp">const Rational r = Rational(1, 2) + Rational(1, 3) - Rational(1, 4);
if (r == Rational(7, 12)) {
  cout &lt;&lt; "equal";
}</pre>
 <p>
  <strong>
   Гарантируется, что во всех тестах, на которых будет тестироваться ваша реализация, числители и знаменатели ВСЕХ дробей (как исходных, так и получившихся в результате соответствующих арифметических операций) будут укладываться в диапазон типа int.
  </strong>
 </p>
 <h3 level="3">
  Шаблон программы:
 </h3>
 <asset assettype="generic" extension="cpp" id="I0iKPy6kEeen0grFWVSkuA" name="rational_eq_add_sub">
 </asset>
 <h2 level="2">
  Часть 3
 </h2>
 <p>
  Аналогично предыдущей части, реализуйте операторы * и /. Например, следующий код должен быть валидным:
 </p>
 <pre language="c_cpp">const Rational r = Rational(1, 2) * Rational(1, 3) / Rational(1, 4);
if (r == Rational(2, 3)) {
  cout &lt;&lt; "equal";
}</pre>
 <p>
  <strong>
   Как и в предыдущем случае, гарантируется, что во всех тестах, на которых будет тестироваться ваша реализация, числители и знаменатели ВСЕХ дробей (как исходных, так и получившихся в результате соответствующих арифметических операций) будут укладываться в диапазон типа int.
  </strong>
 </p>
 <p>
  <strong>
   Кроме того, гарантируется, что ни в одном из тестов, на которых будет тестироваться ваша реализация, не будет выполняться деление на ноль.
  </strong>
 </p>
 <h3 level="3">
  Шаблон программы:
 </h3>
 <asset assettype="generic" extension="cpp" id="ShQuEC6kEeelYBLLXC2IqA" name="rational_mult_div">
 </asset>
 <h2 level="2">
  Часть 4
 </h2>
 <p>
  В этой части вам нужно реализовать операторы ввода и вывода для класса Rational. В результате у вас должен работать, например, такой код
 </p>
 <pre language="c_cpp">Rational r;
cin &gt;&gt; r;
cout &lt;&lt; r;</pre>
 <h3 level="3">
  Шаблон программы:
 </h3>
 <asset assettype="generic" extension="cpp" id="rrbIL4NhEeekCw7QL4tFZg" name="rational_io">
 </asset>
 <h2 level="2">
  Часть 5
 </h2>
 <p>
  Наконец, вам нужно реализовать возможность использовать объекты класса Rational в качестве элементов контейнера set и ключей в контейнере map. Пример:
 </p>
 <pre language="c_cpp">set&lt;Rational&gt; rationals;
rationals.insert(Rational(1, 2));
rationals.insert(Rational(1, 3));

map&lt;Rational, string&gt; name;
name[Rational(1, 2)] = "одна вторая";</pre>
 <h3 level="3">
  Шаблон программы:
 </h3>
 <asset assettype="generic" extension="cpp" id="mcMyES6kEeeR8BL8ORjnTA" name="rational_map">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
