<meta charset="utf-8"/>
<co-content>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;map&gt;
#include &lt;sstream&gt;
#include &lt;utility&gt;
#include &lt;string&gt;
using namespace std;

template &lt;typename First, typename Second&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; out, const pair&lt;First, Second&gt;&amp; p);

template &lt;typename T&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; out, const vector&lt;T&gt;&amp; vi);

template &lt;typename Key, typename Value&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; out, const map&lt;Key, Value&gt;&amp; m);

template &lt;typename Collection&gt;
string Join(const Collection&amp; c, char d) {
  stringstream ss;
  bool first = true;
  for (const auto&amp; i : c) {
    if (!first) {
      ss &lt;&lt; d;
    }
    first = false;
    ss &lt;&lt; i;
  }
  return ss.str();
}

template &lt;typename First, typename Second&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; out, const pair&lt;First, Second&gt;&amp; p) {
  return out &lt;&lt; '(' &lt;&lt; p.first &lt;&lt; ',' &lt;&lt; p.second &lt;&lt; ')';
}

template &lt;typename T&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; out, const vector&lt;T&gt;&amp; vi) {
  return out &lt;&lt; '[' &lt;&lt; Join(vi, ',') &lt;&lt; ']';
}

template &lt;typename Key, typename Value&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; out, const map&lt;Key, Value&gt;&amp; m) {
  return out &lt;&lt; '{' &lt;&lt; Join(m, ',') &lt;&lt; '}';
}

int main() {
  vector&lt;double&gt; vi = {1.4, 2, 3};
  cout &lt;&lt; vi &lt;&lt; endl;
  map&lt;int, double&gt; m = {{1, 2.5}, {3, 4}};
  cout &lt;&lt; m &lt;&lt; endl;
  vector&lt;vector&lt;int&gt;&gt; v = {{1, 2}, {3, 4}};
  cout &lt;&lt; v &lt;&lt; endl;
  return 0;
}</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
