<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте шаблонную функцию Sqr, которая работает не только для чисел, но и для контейнеров. Функция должна возвращать копию исходного контейнера, модифицировав его следующим образом:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    для vector элементы нужно возвести в квадрат;
   </p>
  </li>
  <li>
   <p>
    для map в квадрат нужно возвести только значения, но не ключи;
   </p>
  </li>
  <li>
   <p>
    для pair в квадрат нужно возвести каждый элемент пары.
   </p>
  </li>
 </ul>
 <pre language="c_cpp">// Пример вызова функции
vector&lt;int&gt; v = {1, 2, 3};
cout &lt;&lt; "vector:";
for (int x : Sqr(v)) {
  cout &lt;&lt; ' ' &lt;&lt; x;
}
cout &lt;&lt; endl;

map&lt;int, pair&lt;int, int&gt;&gt; map_of_pairs = {
  {4, {2, 2}},
  {7, {4, 3}}
};
cout &lt;&lt; "map of pairs:" &lt;&lt; endl;
for (const auto&amp; x : Sqr(map_of_pairs)) {
  cout &lt;&lt; x.first &lt;&lt; ' ' &lt;&lt; x.second.first &lt;&lt; ' ' &lt;&lt; x.second.second &lt;&lt; endl;
}</pre>
 <p>
  Код выше должен вывести
 </p>
 <pre language="plain_text">vector: 1 4 9
map of pairs:
4 4 4
7 16 9</pre>
 <p>
  Функция должна корректно работать не только для контейнеров, состоящих из чисел, но и для составных объектов, например, векторов словарей пар чисел.
 </p>
 <p>
  Для успешной сдачи решения необходимо сделать предварительное объявление шаблонных функций перед всеми шаблонными функциями.
 </p>
 <p>
  Пример предварительного объявления шаблонной функции
 </p>
 <pre language="c_cpp">// Предварительное объявление шаблонных функций
template&lt;typename T&gt; T FuncA(T x);
template&lt;typename T&gt; void FuncB(T x);

// Объявляем шаблонные функции
template &lt;typename T&gt;
T FuncA(T x) { /*...*/ }

template &lt;typename T&gt;
void FuncB(T x) { /*...*/ }</pre>
 <p>
  Зачем это нужно и как это работает вы узнаете далее из наших курсов.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
