<meta charset="utf-8"/>
<co-content>
 <p>
  <strong>
   Зачем учить С++?
  </strong>
 </p>
 <p>
  На нем разрабатывают поиск, браузеры, backend социальных сетей и других сервисов компании по всему миру. На С++ написаны популярные библиотеки машинного обучения, он занимает важное место в области разработки компьютерных игр; в Яндексе C++ можно встретить в поиске, рекламе, браузере, картах и многих, многих других продуктах.
 </p>
 <p>
  Почему разработчики выбирают этот язык? Если коротко - он быстрый и он развивается.
 </p>
 <p>
  C++ позволяет вам писать эффективный код тогда, когда производительности других популярных языков (Java, Python, C#, JavaScript) оказывается недостаточно. Это актуально не только для серверных и десктопных программ, но и для мобильных устройств, где помимо скорости, нужно еще экономить батарейку.
 </p>
 <p>
  Кроме того, возможности современного C++ позволяют вам писать надёжный и безопасный код, свободный от утечек любых ресурсов (памяти, файловых дескрипторов, сетевых подключений и т.д.). Наконец, на современном C++ можно писать простой и понятный код.
 </p>
 <p>
  Хотите научиться это делать? Добро пожаловать в наш курс.
 </p>
 <p>
  <strong>
   Как писать и запускать код?
  </strong>
 </p>
 <p>
  Для программирования на С++ мы рекомендуем использовать интегрированную среду разработки (IDE) Eclipse. Мы применяем её в наших лекциях. Мы выбрали Eclipse, потому что это бесплатная кросс-платформенная среда, одинаково доступная для всех участников курса. С помощью неё вы сможете полностью повторять примеры из лекций независимо от того, в какой операционной системе вы работаете.
 </p>
 <p>
  Руководство по установке и настройке Eclipse под Windows, Linux и MacOS вы найдёте среди
  <a href="https://www.coursera.org/learn/c-plus-plus-white/home/week/1" title="">
   видео первой недели нашего первого курса "Белый пояс по C++"
  </a>
  . Версия IDE не слишком важна, лишь бы она была не очень старой.
 </p>
 <p>
  Конечно, вы можете использовать и другую среду, если вам так удобнее.
 </p>
 <p>
  <strong>
   Какой стандарт языка используется в этом курсе?
  </strong>
 </p>
 <p>
  Во время создания этого курса ещё не был принят C++ 17, поэтому все примеры  в курсе написаны на C++ 14. Однако для компиляции ваших решений в тестирующей системе используется самый свежий стандарт языка — C++ 17.
 </p>
 <p>
  <strong>
   В других курсах заданий по программированию мало, а тут аж 34. Как же так?
  </strong>
 </p>
 <p>
  Единственный способ освоить любой язык программирования - это практика. Можно прочитать кучу книг, посмотреть массу лекций, но если регулярно не программировать, то вам никогда не удастся овладеть ни одним языком программирования. Мы хотим, чтобы по итогам курса вы могли самостоятельно писать программы на C++, поэтому подготовили так много задач. Они поначалу простые, и их обязательно надо научиться решать, иначе дальше будет сложнее. Вы справитесь!
 </p>
 <p>
  <strong>
   Кто молодец
  </strong>
 </p>
 <p>
  Курс разработан ведущими специалистами Яндекса и преподавателями Школы анализа данных: Ильёй Шишковым, Антоном Полдневым, Евгением Парамоновым и Иваном Лежанкиным. За их плечами – годы разработки сервисов поиска, рекламы и инфраструктуры. Кроме того, в подготовке заданий участвовали сотрудники Яндекса и студенты Школы анализа данных:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Александр Гришин
   </p>
  </li>
  <li>
   <p>
    Алексей Аверченко
   </p>
  </li>
  <li>
   <p>
    Максим Филипов
   </p>
  </li>
  <li>
   <p>
    Даниил Петров
   </p>
  </li>
  <li>
   <p>
    Евгений Шавлюгин
   </p>
  </li>
  <li>
   <p>
    Владислав Виноградов
   </p>
  </li>
  <li>
   <p>
    Алексей Боголюбский
   </p>
  </li>
  <li>
   <p>
    Дмитрий Кузьмичёв
   </p>
  </li>
  <li>
   <p>
    Иван Качалкин
   </p>
  </li>
  <li>
   <p>
    Андрей Полушин
   </p>
  </li>
  <li>
   <p>
    Андрей Корнеев
   </p>
  </li>
  <li>
   <p>
    Константин Меренков
   </p>
  </li>
 </ul>
 <p>
  Кроме того, вообще ничего этого не было бы без Софии Техажевой.
 </p>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
