<meta charset="utf-8"/>
<co-content>
 <p>
  Ранее мы с вами познакомились с виртуальным деструктором, и посмотрели, когда он бывает необходим на примере обычных указателей и unique_ptr. Точно такая же логика применима и к shared_ptr. Но shared_ptr умеет кое-что ещё.
 </p>
 <p>
  Если вы проходили курс "жёлтый пояс по С++", то вы можете помнить, как в блоке про полиморфизм мы создавали объекты производного класса Cat и сохраняли их в shared_ptr на базовый класс Animal:
 </p>
 <pre language="c_cpp">shared_ptr&lt;Animal&gt; animal = make_shared&lt;Cat&gt;();</pre>
 <p>
  Причём мы не делали деструктор класса Animal виртуальным. Значит ли это, что у нас была утечка памяти?.. Вовсе нет.
 </p>
 <p>
  Дело в том, что shared_ptr владеет особой магией, которая позволяет ему корректно удалять объект класса наследника по указателю на базовый класс даже без виртуального деструктора. Не вдаваясь в подробности, кратко рассмотрим, как это ему удаётся.
 </p>
 <p>
  Для начала взглянем на
  <a href="https://en.cppreference.com/w/cpp/memory/unique_ptr/unique_ptr">
   документацию конструктора unique_ptr
  </a>
  , который принимает сырой указатель:
 </p>
 <pre language="c_cpp">explicit unique_ptr(pointer p) noexcept;</pre>
 <p>
  Здесь pointer - это тип сырого указателя, хранимого в unique_ptr, то есть мы рассматриваем класс unique_ptr&lt;pointer&gt;. Получается, что когда функция make_unique вызывает этот конструктор и передаёт в него указатель на класс наследник, этот указатель сразу же преобразуется в указатель на базовый класс. И информация о классе наследнике теряется. Поэтому нам для корректного удаления требуется виртуальный деструктор. Ведь связаться с классом наследником мы можем только через виртуальные функции.
 </p>
 <p>
  Теперь посмотрим на
  <a href="https://en.cppreference.com/w/cpp/memory/shared_ptr/shared_ptr">
   документацию аналогичного конструктора shared_ptr
  </a>
  :
 </p>
 <pre language="c_cpp">template&lt;class Y&gt; 
explicit shared_ptr(Y* ptr);</pre>
 <p>
  Мы видим, что он шаблонный. Тип указателя в параметре будет в точности соответствовать переданному в момент вызова. И за счёт этого информация о классе наследнике будет доступна компилятору в теле конструктора.
 </p>
 <p>
  Конструктор, грубо говоря, обернёт выражение delete ptr в замыкание и
  <em>
   сохранит его в контрольном блоке
  </em>
  . И в момент, когда ему нужно будет удалить объект, он не будет вызывать delete для предоставляемого указателя на базовый класс, а вызовет сохранённое замыкание, которое знает, как удалять объект класса наследника.
 </p>
 <p>
  Применительно к нашему примеру получается, что shared_ptr&lt;Animal&gt;
  <em>
   на этапе выполнения
  </em>
  сохранил в контрольном блоке знание, как работать с типом Cat, хотя не имеет к этому типу прямого отношения. Такая техника называется "type erasure".
 </p>
 <p>
  Ок, это всё замечательно, но что это значит для вас? На самом деле, хм, не так уж много. Основная рекомендация остаётся точно такой же: деструктор следует объявлять виртуальным тогда и только тогда, когда ваш класс содержит виртуальные функции. Даже в том случае, если вы собираетесь работать с этим классом и его наследниками исключительно с помощью shared_ptr.
 </p>
 <p>
  Цель этого материала в том, чтобы объяснить, почему код из жёлтого пояса работал корректно. И заодно показать хитрость и глубину shared_ptr. Обратите внимание, что подобная возможность никак не сказывается на быстродействии его работы! Он это делает просто потому, что может, и это ничего не стоит. В этом заключается философия С++: максимум гибкости, но без ущерба для производительности. В определённых специфических сценариях эта гибкость может понадобиться.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
