<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче мы поработаем с shared_ptr в многопоточной среде.
 </p>
 <p>
  Нужно будет реализовать кэш бэкенда электронной библиотеки. На диске есть множество книг — архивированных текстовых файлов. Пользователь запрашивает книгу с заданным названием. Надо её считать, распаковать и вернуть. Чаще всего пользователи запрашивают одни и те же книги, поэтому их хочется кэшировать. При этом запросы приходят в несколько потоков.
 </p>
 <p>
  Для доступа к книгам используется интерфейс ICache, объявленный в файле Common.h. У него всего один метод GetBook(), который возвращает shared_ptr на книгу (используется синоним BookPtr). Реализация этого метода должна обеспечить правильное кэширование.
 </p>
 <p>
  Книга представлена интерфейсом IBook. Два его метода GetName() и GetContent() позволяют получить название и текст книги соответственно.
 </p>
 <p>
  Наконец, считывание и распаковка книги делаются с помощью интерфейса IBooksUnpacker. Его метод UnpackBook() по переданному названию книги возвращает распакованную книгу как объект IBook.
 </p>
 <p>
  Для создания объекта ICache используется функция MakeCache(), которую вам необходимо реализовать. Она принимает объект IBooksUnpacker, а также объект ICache::Settings - настройки кэша. В нашей задаче настройки содержат всего один параметр max_memory — максимальный суммарный размер всех книг в кэше в байтах, — но в реальности их может быть больше. Именно поэтому мы оформили настройки в виде структуры. Размером книги считается размер её текста в байтах.
 </p>
 <p>
  Кэширование производится методом вытеснения давно неиспользуемых элементов (Least Recently Used, LRU). Каждый элемент кэша имеет ранг. При вызове метода GetBook(), если книга с таким названием уже есть в кэше, её ранг поднимается до максимального (строго больше, чем у всех остальных). Если такой книги нет в кэше, то она добавляется в кэш, и её ранг, опять же, выставляется в максимальный. При этом, если общий размер книг превышает ограничение max_memory, из кэша удаляются книги с наименьшим рангом, пока это необходимо. Возможно, пока он полностью не будет опустошён. Если же размер запрошенной книги уже превышает max_memory, то после вызова метода кэш остаётся пустым, то есть книга в него не добавляется.
 </p>
 <p>
  Метод GetBook() может вызываться одновременно из нескольких потоков, поэтому необходимо обеспечить ему безопасность работы в таких условиях.
 </p>
 <p>
  Используемые на практике реализации LRU кэшей позволяют искать элементы по ключу и удалять давно неиспользуемые элементы за константное время. В данной задаче этого не требуется. Искать давно неиспользуемые элементы можно перебором всех имеющихся.
 </p>
 <p>
  Помимо Common.h вам даны два файла: main.cpp и Solution.cpp. Первый содержит неполный набор тестов для функции MakeCache, второй — заготовку решения. Реализуйте функцию MakeCache в файле Solution.cpp и сдайте этот файл в тестирующую систему.
 </p>
 <h3 level="3">
  Заготовка задачи и необходимые файлы
 </h3>
 <asset assettype="generic" extension="cpp" id="rbqRGP7eEeilxxL_ZeRz_A" name="Solution">
 </asset>
 <asset assettype="generic" extension="h" id="rbsGJf7eEeiAgQrXx6bp4g" name="Common">
 </asset>
 <asset assettype="generic" extension="cpp" id="9EatJAISEemlxxL_ZeRz_A" name="main">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
