<meta charset="utf-8"/>
<co-content>
 <p>
  В данной задаче необходимо оптимизировать код, использующийся для сортировки студентов по рейтингу. Данные каждого студента находятся в структуре Student, объявленной в файле student.h. Рейтинг студента записан в поле rating:
 </p>
 <pre language="c_cpp">struct Student {
  string first_name;
  string last_name;
  map&lt;string, double&gt; marks;
  double rating;

  bool operator &lt; (const Student&amp; other) const {
    return GetName() &lt; other.GetName();
  }

  bool Less(const Student&amp; other) const {
    return rating &gt; other.rating;
  }

  string GetName() const {
    return first_name + " " + last_name;
  }
};</pre>
 <p>
  Для сортировки студентов по рейтингу используется функция сравнения, возвращающая true, если рейтинг студента first выше рейтинга студента second.
 </p>
 <pre language="c_cpp">bool Compare(Student first, Student second) {
  return first.Less(second);
}</pre>
 <p>
  Было выявлено, что эта функция является узким местом процесса сортировки, и именно её нужно оптимизировать.
 </p>
 <p>
  Пришлите на проверку файл, содержащий оптимизированную версию функции Compare. Если ваша реализация будет недостаточно эффективной, то решение не уложится в ограничение по времени.
 </p>
 <asset assettype="generic" extension="h" id="uNZEiWQZEeiaEg6Thd1Wwg" name="student">
 </asset>
 <asset assettype="generic" extension="cpp" id="zW9nEnu0EeiC-BK3XY5K_A" name="sort_students">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
