<meta charset="utf-8"/>
<co-content>
 <p>
  Студента попросили написать класс Learner, помогающий изучать иностранный язык. В публичном интерфейсе класса должны быть две функции:
 </p>
 <pre language="c_cpp">int Learn(const vector&lt;string&gt;&amp; words);
vector&lt;string&gt; KnownWords();</pre>
 <p>
  Функция Learn должна получать порцию слов, "запоминать" их и возвращать количество различных новых слов. Функция KnownWords должна возвращать отсортированный по алфавиту список всех выученных слов. В списке не должно быть повторов.
 </p>
 <p>
  Студент написал следующее решение этой задачи, однако оно почему-то работает очень медленно. Вам надо его ускорить.
 </p>
 <p>
  Вам дан файл learner.cpp с медленным решением задачи.
  <strong>
   Не меняя публичный интерфейс класса Learner
  </strong>
  , найдите в нём узкие места, исправьте их и сдайте переделанный класс в тестирующую систему.
 </p>
 <asset assettype="generic" extension="cpp" id="Rj2tMWpdEeiEwg4WmF3VaA" name="learner">
 </asset>
 <p>
  Ваш код будет тестироваться так:
 </p>
 <pre language="c_cpp">int main() {
  Learner learner;
  string line;
  while (getline(cin, line)) {
    vector&lt;string&gt; words;
    stringstream ss(line);
    string word;
    while (ss &gt;&gt; word) {
      words.push_back(word);
    }
    cout &lt;&lt; learner.Learn(words) &lt;&lt; "\n";
  }
  cout &lt;&lt; "=== known words ===\n";
  for (auto word : learner.KnownWords()) {
    cout &lt;&lt; word &lt;&lt; "\n";
  }
}</pre>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть подсказка, которая должна помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете  воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="isd_cGsXEeiEwg4WmF3VaA" name="Подсказка">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
