<meta charset="utf-8"/>
<co-content>
 <p>
  Вам надо написать шаблонный класс Table для электронной таблицы. Для простоты будем считать, что все ячейки таблицы имеют один и тот же тип данных T. Таблица должна уметь менять свой размер по требованию пользователя. Вновь созданные ячейки должны заполняться значениями по умолчанию типа T.
 </p>
 <p>
  Требования к классу такие:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Класс должен называться Table.
   </p>
  </li>
  <li>
   <p>
    У класса должен быть шаблонный параметр T — тип элемента в ячейке.
   </p>
  </li>
  <li>
   <p>
    У класса должен быть конструктор, получающий на входе два числа типа size_t — количество строк и столбцов соответственно.
   </p>
  </li>
  <li>
   <p>
    У класса должны быть константная и неконстантная версии оператора [], возвращающего нечто такое, к чему снова можно было бы применить оператор []. То есть, должны работать конструкции вида cout &lt;&lt; table[i][j];и table[i][j] = value;. Проверять корректность индексов при этом не нужно.
   </p>
  </li>
  <li>
   <p>
    У класса должна быть функция Resize, получающая на вход два параметра типа size_t и меняющая размер таблицы. Старые данные, умещающиеся в новый размер, должны при этом сохраниться.
   </p>
  </li>
  <li>
   <p>
    У класса должна быть константная функция Size, возвращающая pair&lt;size_t, size_t&gt; — размер таблицы (в том же порядке, в котором эти аргументы передавались в конструктор). При этом, если у таблицы Table один из размеров нулевой, то необходимо считать таковым и второй размер таблицы.
   </p>
  </li>
 </ol>
 <p>
  Заготовка решения задачи:
 </p>
 <asset assettype="generic" extension="cpp" id="XuyD-HxLEeiqbAqxMNypOA" name="table">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
