<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Условие
 </h3>
 <p>
  Напишите шаблонный класс Deque, содержащий следующий набор методов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    конструктор по умолчанию;
   </p>
  </li>
  <li>
   <p>
    константный метод Empty, возвращающий true, если дек не содержит ни одного элемента;
   </p>
  </li>
  <li>
   <p>
    константный метод Size, возвращающий количество элементов в деке;
   </p>
  </li>
  <li>
   <p>
    T&amp; operator[](size_t index) и const T&amp; operator[](size_t index) const;
   </p>
  </li>
  <li>
   <p>
    константный и неконстантный метод At(size_t index), генерирующий стандартное исключение out_of_range, если индекс больше или равен количеству элементов в деке;
   </p>
  </li>
  <li>
   <p>
    константные и неконстантные версии методов Front и Back, возвращающих ссылки на первый и последний элемент дека соответственно;
   </p>
  </li>
  <li>
   <p>
    методы PushFront и PushBack.
   </p>
  </li>
 </ul>
 <p>
  Неконстантные версии методов должны позволять изменять соответствующий элемент дека.
 </p>
 <p>
  Для реализации заведите внутри класса Deque два вектора: в один осуществляйте вставку в методе PushFront, а в другой — в методе PushBack.
 </p>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Заголовочный файл, который вы пришлёте на проверку, не должен подключать файлы &lt;list&gt;, &lt;deque&gt;, &lt;set&gt;, &lt;map&gt;. Если у вас будет подключен один из этих файлов, вы получите ошибку компиляции.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
