<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Условие
 </h3>
 <p>
  В лекции мы разработали функцию Head, которая позволяет пройтись циклом for по началу контейнера. В этой задаче мы сделаем шаг вперёд и разработаем шаблон Paginator, который разбивает содержимое контейнера на несколько страниц. Классический пример, когда такое может пригодиться на практике, — это распределение списка мобильных приложений по экранам телефона. Допустим, у нас есть вектор всех приложений нашего телефона и на одном экране мы можем разместить 20 иконок приложений. Тогда распределить приложения по экранам мы можем вот таким кодом:
 </p>
 <pre language="c_cpp">vector&lt;vector&lt;Application&gt;&gt; DistributeAmongScreens(const vector&lt;Application&gt;&amp; apps) {
  vector&lt;vector&lt;Application&gt;&gt; result;
  for (const auto&amp; page : Paginate(apps, 20)) {
    result.push_back({page.begin(), page.end()});
  }
  // result[0] - все приложения, которые попадают на первый экран,
  // result[1] - все приложения, которые попадают на второй экран и т.д.
  return result;
}</pre>
 <p>
  Заметьте, наш код получился коротким и элегантным. Нам не пришлось писать какой-то отдельный код для обработки последнего экрана, который может содержать меньше 20 приложений.
 </p>
 <p>
  Итак, разработайте шаблон класса Paginator со следующими свойствами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    он имеет один шаблонный параметр — тип итератора
   </p>
  </li>
  <li>
   <p>
    конструктор класса Paginator&lt;Iterator&gt; принимает три параметра:
   </p>
  </li>
 </ul>
 <ol bullettype="numbers">
  <li>
   <p>
    Iterator begin
   </p>
  </li>
  <li>
   <p>
    Iterator end — пара итераторов begin и end задают полуинтервал [begin; end), который мы будем нарезать на страницы
   </p>
  </li>
  <li>
   <p>
    size_t page_size — размер одной страницы
   </p>
  </li>
 </ol>
 <ul bullettype="bullets">
  <li>
   <p>
    по объектам класса Paginator&lt;Iterator&gt; можно проитерироваться с помощью цикла range-based for
   </p>
  </li>
  <li>
   <p>
    класс Paginator&lt;Iterator&gt; имеет метод size_t size() const, который возвращает количество страниц, на которые был разбит переданный контейнер
   </p>
  </li>
  <li>
   <p>
    сами страницы должны так же поддерживать итерацию с помощью range-based for и иметь метод size_t size() const, возвращающий количество объектов в этой странице
   </p>
  </li>
  <li>
   <p>
    подробные примеры использования смотрите в юнит-тестах в шаблоне решения
   </p>
  </li>
 </ul>
 <p>
  Кроме того разработайте шаблон функции Paginate, которая принимает ссылку на контейнер и размер страницы, и возвращает объект класса Paginator&lt;It&gt;:
 </p>
 <pre language="c_cpp">template &lt;typename C&gt; ??? Paginate(C&amp; c, size_t page_size)</pre>
 <h3 level="3">
  Файл с заготовкой решения задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="-qGdtHYQEei8FQ6TnIKJEA" name="paginator">
 </asset>
 <p>
  Возможно, в шаблоне у вас будет некорректно работать вызов ASSERT_EQUAL в функции TestLooping. Разберитесь, почему это происходит, внесите правку в свою локальную версию файла test_runner.h, чтобы подобная ошибка не возникала в других задачах.
 </p>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="sngDpmP_EeiigxLHv6mB7A" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="v3J2VGP_EeiaEg6Thd1Wwg" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="ygt5b2P_EeiigxLHv6mB7A" name="Подсказка 3">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
