<meta charset="utf-8"/>
<co-content>
 <p>
  В лекциях мы рассмотрели пример, в котором сначала выполнялась генерация квадратной матрицы, а затем находилась сумма элементов в ней. При этом нам удалось ускорить генерацию матрицы за счёт применения многопоточности. В этой задаче вам нужно сделать то же самое для суммирования элементов матрицы.
 </p>
 <p>
  Вам нужно написать функцию int64_t CalculateMatrixSum(const vector&lt;vector&lt;int&gt;&gt;&amp; matrix), которая получает на вход квадратную матрицу и возвращает сумму элементов в ней.
 </p>
 <p>
  Ваша реализация будет тестироваться следующим образом:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    на вход вашей функции будут подаваться квадратные матрицы размером до 9000 (в данном случае размер матрицы — это количество строк в ней);
   </p>
  </li>
  <li>
   <p>
    для одной и той же матрицы функция CalculateMatrixSum будет запускаться несколько раз; среднее время работы одного вызова в нашей тестирующей системе не должно превышать 15 мс;
   </p>
  </li>
 </ul>
 <h3 level="3">
  Файл с заготовкой решения
 </h3>
 <asset assettype="generic" extension="cpp" id="Wcm3P2gPEei5FgrpHNEYyg" name="matrix_sum">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
