<meta charset="utf-8"/>
<co-content>
 <p>
  Крупная IT-компания Янгл проводит исследование упоминаемости своего бренда в блогах и социальных сетях. Аналитики компании уже выгрузили интересующие их публикации и сформировали набор ключевых слов. Их интересует, сколько раз каждое ключевое слово входит в набор публикаций.
 </p>
 <p>
  Помогите им это сделать — напишите функцию Stats ExploreKeyWords(const set&lt;string&gt;&amp; key_words, istream&amp; input). Её параметры:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    key_words — множество ключевых слов
   </p>
  </li>
  <li>
   <p>
    input — входной поток, содержащий исследуемые публикации в блогах и соц. сетях, одна строка — одна публикация.
   </p>
  </li>
 </ul>
 <p>
  Функция ExploreKeyWords должна возвращать структуру Stats, в которой хранится, сколько раз каждое слово из key_words суммарно встретилось в потоке input:
 </p>
 <pre language="c_cpp">struct Stats {
  map&lt;string, int&gt; word_frequences;

  void operator += (const Stats&amp; other);
};</pre>
 <p>
  При подсчёте вхождения ключевых слов в текст нужно учитывать только вхождения в виде отдельных слов. Слова друг от друга отделяются одним или несколькими пробелами. В качестве примера допустим, что key_words = {"yangle", "rocks", "sucks", "all"} и у нас есть публикация из соц. сети Switter: "Goondex really sucks, but yangle rocks ! Use yangle". Слово «yangle» входит в неё 2 раза, «rocks» — один раз, а слова «all» и «sucks» — ни разу. Слово «sucks» не входит ни разу, потому что в данном примере оно является префиксом слова «sucks,» (по условию, слова друг от друга отделяются только пробелами). Несмотря на то, что слово «all» является частью слова «really», его вхождение тоже нельзя засчитывать, так как это не отдельное слово.
 </p>
 <p>
  Чтобы уложиться в Time Limit, подумайте, можно ли эту задачу распараллелить.
 </p>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  До этого в лекциях мы показывали, как использовать функцию async для асинхронного запуска лямбда-функций без параметров. Однако её можно использовать и для запуска функций, у которых есть параметры. Например,
 </p>
 <pre language="c_cpp">string Join(string s, string t) {
  return s + t;
}

string a = "Hello";
string b = " world";
future&lt;string&gt; f = async(Join, a, b);</pre>
 <p>
  Как видите, чтобы передать параметры в функцию, запускаемую асинхронно, их надо указать в качестве параметров функции async после самой функции. Важно отметить, что при таком вызове будут
  <strong>
   созданы копии фактических параметров
  </strong>
  (т.е. в нашем примере выше строки a и b будут скопированы). Это не всегда желательно. Например, если у нас есть константный объект, который потоки только читают, у нас нет необходимости создавать его копию, и можно передать его по ссылке. Для этого надо воспользоваться функцией
  <a href="https://en.cppreference.com/w/cpp/utility/functional/ref" title="">
   ref
  </a>
  из заголовочного файла &lt;functional&gt;.
 </p>
 <pre language="c_cpp">Stats ExploreKeyWordsSingleThread(const set&lt;string&gt;&amp; key_words, istream&amp; input);

Stats ExploreKeyWords(const set&lt;string&gt;&amp; key_words, istream&amp; input) {
  // key_words и input будут переданы по ссылке, а не скопированы
  return async(ExploreKeyWordsSingleThread, ref(key_words), ref(input)).get();
}</pre>
 <h3 level="3">
  Файл с заготовкой задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="yLQQPYQ_EeianAr0yIdmDg" name="explore_key_words">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
