<meta charset="utf-8"/>
<co-content>
 <p>
  Мы уже не раз видели, что отсутствие синхронизации доступа нескольких потоков к одним и тем же данным может фатально сказаться на работе программы. Поэтому очень важно не забывать захватывать мьютекс при обращении к разделяемым данным. Но если у нас есть большой проект, в котором доступ к общим данным осуществляется из большого количества мест в коде, то не так уж и трудно забыть сделать это, внося очередные правки.
 </p>
 <p>
  Чтобы защититься от такой забывчивости, можно написать специальную обёртку над данными, которая будет предоставлять к ним доступ только под мьютексом. В этой задаче вам надо разработать такую обёртку — шаблон класса Synchronized вот с таким интерфейсом:
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
class Synchronized {
public:
  explicit Synchronized(T initial = T());

  struct Access {
    T&amp; ref_to_value;
  };

  Access GetAccess();
private:
  T value;
};</pre>
 <p>
  Тип Access должен быть структурой, в которой есть поле T&amp; ref_to_value, ссылающееся на поле value класса Synchronized&lt;T&gt;. Кроме того объект класса Access должен вести себя аналогично классу lock_guard&lt;mutex&gt;: захватывать мьютекс в своём конструкторе и освобождать в деструкторе. Пример:
 </p>
 <pre language="c_cpp">Synchronized&lt;int&gt; s_int;
{
  auto access = s_int.GetAccess();
  // Критическая секция начинается отсюда и продолжается до конца блока
  access.ref_to_value = 5;
}
ASSERT_EQUAL(s_int.GetAccess().value, 5);</pre>
 <p>
  Вам можно (и даже нужно) добавлять необходимые поля в класс Access и шаблон Synchronized. Более подробные примеры использования шаблона Synchronized смотрите в заготовке решения.
 </p>
 <p>
  Как видите, единственный способ получить доступ к полю value класса Synchronized&lt;T&gt; — это обратиться к полю ref_to_value класса Access, который гарантирует, что этот доступ осуществляется под мьютексом. Таким образом, если разделяемые данные обернуть в шаблон Synchronized, вы никогда не забудете захватить мьютекс при обращении к ним.
 </p>
 <h3 level="3">
  Файл с заготовкой решения
 </h3>
 <asset assettype="generic" extension="cpp" id="9r2ajXu4EeiGPw6YfDtP_A" name="synchronized">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
