<meta charset="utf-8"/>
<co-content>
 <p>
  В заготовке решения задачи «Шаблон Synchronized» мы уже слегка коснулись идеи о том, что уменьшение размера критической секции позволяет повысить скорость работы многопоточной программы. В этой задаче мы разовьём её больше.
 </p>
 <p>
  Давайте представим, что у нас есть map, к которому обращаются несколько потоков. Чтобы синхронизировать доступ к нему, мы можем каждое обращение к этому map'у защитить мьютексом (например, завернув наш map в шаблон Synchronized). Теперь давайте представим, что у нас есть Synchronized&lt;map&lt;int, int&gt;&gt;, в котором хранятся все ключи от 1 до 10000. Интуитивно кажется, что когда из одного потока мы обращаемся к ключу 10, а из другого — например, к ключу 6712, то нет смысла защищать эти обращения одним и тем же мьютексом. Это отдельные области памяти, а внутреннюю структуру словаря мы никак не изменяем. При этом, если мы будем обращаться к ключу 6712 одновременно из нескольких потоков, то синхронизация, несомненно, понадобится.
 </p>
 <p>
  Отсюда возникает идея — разбить наш словарь на нескольких подсловарей с непересекающимся набором ключей и защитить каждый из них отдельным мьютексом. Тогда при обращении разных потоков к разным ключам они нечасто будут попадать в один и тот же подсловарь, а значит, смогут параллельно его обрабатывать. Эту идею вам предстоит реализовать в этой задаче. Вам надо написать шаблон класса ConcurrentMap вот с таким интерфейсом:
 </p>
 <pre language="c_cpp">template &lt;typename K, typename V&gt;
class ConcurrentMap {
public:
  static_assert(is_integral_v&lt;K&gt;, "ConcurrentMap supports only integer keys");

  struct Access {
    V&amp; ref_to_value;
  };

  explicit ConcurrentMap(size_t bucket_count);

  Access operator[](const K&amp; key);

  map&lt;K, V&gt; BuildOrdinaryMap();
};</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    static_assert в начале класса говорит, что в данной задаче предполагается, что ключами ConcurrentMap'а могут быть только целые числа.
   </p>
  </li>
  <li>
   <p>
    Конструктор класса ConcurrentMap&lt;K, V&gt; принимает количество подсловарей, на которые надо разбить всё пространство ключей.
   </p>
  </li>
  <li>
   <p>
    operator[] должен вести себя так же, как аналогичный оператор у map — если ключ key присутствует в словаре, он должен возвращать объект класса Access, содержащий ссылку на соответствующее ему значение; если же key отсутствует в словаре, в него надо добавить пару (key, V()) и вернуть объект класса Access, содержащий ссылку на только что добавленное значение.
   </p>
  </li>
  <li>
   <p>
    Структура Access, должна вести себя так же, как и в шаблоне Synchronized, — предоставлять ссылку на значение словаря и обеспечивать синхронизацию доступа к нему.
   </p>
  </li>
  <li>
   <p>
    Метод BuildOrdinaryMap должен сливать вместе части словаря и возвращать весь словарь целиком. При этом он должен быть потокобезопасным, то есть корректно работать, когда другие потоки выполняют операции с ConcurrentMap.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Файл с заготовкой решения задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="Lutq0iNaRPWratIjWiT1vQ" name="concurrent_map">
 </asset>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
