<meta charset="utf-8"/>
<co-content>
 <p>
  Дан набор строк. Необходимо разбить их на группы, в каждой из которых все строки имеют одинаковый набор символов.
 </p>
 <p>
  Например, если даны строки
  <strong>
   law
  </strong>
  ,
  <strong>
   port
  </strong>
  ,
  <strong>
   top
  </strong>
  ,
  <strong>
   laptop
  </strong>
  ,
  <strong>
   pot
  </strong>
  ,
  <strong>
   paloalto
  </strong>
  ,
  <strong>
   wall
  </strong>
  ,
  <strong>
   awl
  </strong>
  , нужно разбить их на 4 группы:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    строки, состоящие только из букв
    <strong>
     a
    </strong>
    ,
    <strong>
     l
    </strong>
    и
    <strong>
     w
    </strong>
    :
    <strong>
     law
    </strong>
    ,
    <strong>
     wall
    </strong>
    ,
    <strong>
     awl
    </strong>
    ;
   </p>
  </li>
  <li>
   <p>
    строки, состоящие только из букв
    <strong>
     o
    </strong>
    ,
    <strong>
     p
    </strong>
    ,
    <strong>
     r
    </strong>
    и
    <strong>
     t
    </strong>
    :
    <strong>
     port
    </strong>
    ;
   </p>
  </li>
  <li>
   <p>
    строки, состоящие только из букв
    <strong>
     o
    </strong>
    ,
    <strong>
     p
    </strong>
    и
    <strong>
     t
    </strong>
    :
    <strong>
     top
    </strong>
    ,
    <strong>
     pot
    </strong>
    ;
   </p>
  </li>
  <li>
   <p>
    строки, состоящие только из букв
    <strong>
     a
    </strong>
    ,
    <strong>
     l
    </strong>
    ,
    <strong>
     o
    </strong>
    ,
    <strong>
     p
    </strong>
    ,
    <strong>
     t
    </strong>
    :
    <strong>
     laptop
    </strong>
    ,
    <strong>
     paloalto
    </strong>
    .
   </p>
  </li>
 </ul>
 <p>
  Разбиение на группы должно быть реализовано в виде функции
 </p>
 <pre language="c_cpp">template &lt;typename String&gt;
vector&lt;Group&lt;String&gt;&gt; GroupHeavyStrings(vector&lt;String&gt; strings);</pre>
 <p>
  Здесь Group&lt;String&gt; — синоним для vector&lt;String&gt;:
 </p>
 <pre language="c_cpp">template &lt;typename String&gt;
using Group = vector&lt;String&gt;;</pre>
 <p>
  Наличие такого синонима позволяет записать возвращаемый тип функции GroupHeavyString в виде vector&lt;Group&lt;String&gt;&gt;, что читается понятнее, чем vector&lt;vector&lt;String&gt;&gt;.
 </p>
 <p>
  Слова в каждой группе должны располагаться в том же порядке, что и в исходном наборе. При этом порядок самих групп значения не имеет.
 </p>
 <p>
  Строка типа String не обязана состоять из символов типа char. Тип символа можно получить с помощью выражения typename String::value_type или Char&lt;String&gt;, если определить соответствующий синоним:
 </p>
 <pre language="c_cpp">template &lt;typename String&gt;
using Char = typename String::value_type;</pre>
 <p>
  Сам тип String может быть, например, обычной строкой (string) или вектором символов.
 </p>
 <p>
  Про тип Char&lt;String&gt; известно следующее:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Объекты этого типа можно сравнивать с помощью операторов == и &lt;.
   </p>
  </li>
  <li>
   <p>
    «Тяжёлыми» могут быть не только сами строки, но и отдельные символы. Поэтому их можно свободно перемещать, но
    <strong>
     скопировать каждый символ в функции можно не более одного раза (без учёта копирования при передаче аргумента strings по значению).
    </strong>
    В противном случае вы получите вердикт «неправильный ответ» с соответствующим комментарием.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Ограничения
 </h3>
 <p>
  За 1 секунду функция должна обработать максимум 100000 строк длины не более 100. При оценке сложности можете считать, что копирование каждого символа стоит порядка 100 элементарных операций.
 </p>
 <h3 level="3">
  Файл с заготовкой решения
 </h3>
 <asset assettype="generic" extension="cpp" id="w56UtGWhEeiUPhLykNFyig" name="group_heavy_strings">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
