<meta charset="utf-8"/>
<co-content>
 <p>
  В видеолекции мы с вами познакомились с конструктором копирования и оператором присваивания, а также написали конструктор копирования для SimpleVector. В этой задаче вам нужно реализовать оператор присваивания для SimpleVector.
 </p>
 <p>
  Напомним, что следующий код вызывает
  <strong>
   конструктор копирования:
  </strong>
 </p>
 <pre language="c_cpp">SimpleVector&lt;int&gt; source(5);
SimpleVector&lt;int&gt; dest = source; // Конструктор копирования</pre>
 <p>
  А код ниже —
  <strong>
   оператор присваивания
  </strong>
  <strong>
   :
  </strong>
 </p>
 <pre language="c_cpp">SimpleVector&lt;int&gt; source(5);
SimpleVector&lt;int&gt; dest;
dest = source; // Оператор присваивания</pre>
 <p>
  Вам дан cpp-файл, который подключает заголовочный файл simple_vector.h и содержит небольшой набор юнит-тестов. Пришлите на проверку файл simple_vector.h с реализацией оператора присваивания.
 </p>
 <asset assettype="generic" extension="cpp" id="tYwSAmszEei5FgrpHNEYyg" name="simple_vector_copy_assignment">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
