<meta charset="utf-8"/>
<co-content>
 <p>
  Дан вектор токенов. Напишите функцию, разбивающую токены на предложения:
 </p>
 <pre language="c_cpp">template &lt;typename Token&gt;
vector&lt;Sentence&lt;Token&gt;&gt; SplitIntoSentences(vector&lt;Token&gt; tokens);</pre>
 <p>
  Token — шаблонный тип, про который известно лишь то, что он имеет константный метод IsEndSentencePunctuation, возвращающий true, если токен является знаком пунктуации, заканчивающим предложение, и false в противном случае.
  <strong>
   Объекты этого типа запрещено копировать.
  </strong>
  При наличии копирования этих объектов вы получите ошибку компиляции.
 </p>
 <p>
  Sentence — синоним для типа vector, объявленный следующим образом:
 </p>
 <pre language="c_cpp">// Объявляем Sentence&lt;Token&gt; для произвольного типа Token
// синонимом vector&lt;Token&gt;.
// Благодаря этому в качестве возвращаемого значения
// функции можно указать не малопонятный вектор векторов,
// а вектор предложений — vector&lt;Sentence&lt;Token&gt;&gt;.
template &lt;typename Token&gt;
using Sentence = vector&lt;Token&gt;;</pre>
 <p>
  Предложением считается последовательность токенов, заканчивающаяся подряд идущими токенами, являющимися знаками пунктуации конца предложения. Иными словами, любое предложение должно состоять из двух частей:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    токены, для которых IsEndSentencePunctuation возвращает false (такие токены обязаны присутствовать в предложении за исключением, возможно, первого предложения);
   </p>
  </li>
  <li>
   <p>
    токены, для которых IsEndSentencePunctuation возвращает true (такие токены обязаны присутствовать в предложении за исключением, возможно, последнего предложения).
   </p>
  </li>
 </ul>
 <h3 level="3">
  Ограничения
 </h3>
 <p>
  Максимальное количество токенов — 10^6. Время выполнения одного вызова функции ограничено 1 секундой.
 </p>
 <h3 level="3">
  Файл с заготовкой решения
 </h3>
 <asset assettype="generic" extension="cpp" id="OMX_bWWhEeiUPhLykNFyig" name="split_into_sentences">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
