<meta charset="utf-8"/>
<co-content>
 <p>
  Решите задачу «
  <a href="https://www.coursera.org/learn/c-plus-plus-red/programming/dt1wy/pishiem-svoi-viektor">
   Реализовать свой вектор
  </a>
  » со следующими дополнительными требованиями:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    метод PushBack должен позволять добавить элемент в вектор с помощью перемещения;
   </p>
  </li>
  <li>
   <p>
    никакие методы вектора не должны осуществлять копирование элементов.
   </p>
  </li>
 </ul>
 <p>
  Таким образом, должен получиться вектор, позволяющий хранить некопируемые объекты.
 </p>
 <p>
  Шаблон решения содержит юнит-тест, проверяющий работу вектора, состоящего из некопируемых строк. Если вектор будет осуществлять копирования, благодаря указанному юнит-тесту
  <strong>
   решение не скомпилируется.
  </strong>
 </p>
 <h3 level="3">
  Файлы с заготовкой решения
 </h3>
 <asset assettype="generic" extension="h" id="lc_6u2WjEei5FgrpHNEYyg" name="simple_vector_2">
 </asset>
 <asset assettype="generic" extension="cpp" id="pZnhBWWjEeiEwg4WmF3VaA" name="simple_vector_2">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
