<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Задачи «Сортировка слиянием» и «Сортировка слиянием — 2» были в «Жёлтом поясе по С++»
 </p>
 <h3 level="3">
  Условие
 </h3>
 <p>
  Напишите шаблонную функцию MergeSort, принимающую два итератора шаблонного типа RandomIt и сортирующую заданный ими диапазон с помощью сортировки слиянием. Гарантируется, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    итераторы типа RandomIt аналогичны по функциональности итераторам вектора и строки, то есть их можно сравнивать с помощью операторов &lt;, &lt;=, &gt; и &gt;=, а также вычитать и складывать с числами;
   </p>
  </li>
  <li>
   <p>
    сортируемые объекты можно сравнивать с помощью оператора &lt;.
   </p>
  </li>
 </ul>
 <pre language="c_cpp">template &lt;typename RandomIt&gt;
void MergeSort(RandomIt range_begin, RandomIt range_end);</pre>
 <h3 level="3">
  Алгоритм
 </h3>
 <p>
  В этой задаче вы должны реализовать
  <strong>
   точь-в-точь алгоритм, представленный ниже;
  </strong>
  тестирующая система будет проверять, что вы выполняете с элементами именно эти действия:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Если диапазон содержит меньше 2 элементов, выйти из функции.
   </p>
  </li>
  <li>
   <p>
    Создать вектор, содержащий все элементы текущего диапазона.
   </p>
  </li>
  <li>
   <p>
    Разбить вектор на
    <strong>
     три
    </strong>
    равные части.
    <em>
     (В этой задаче гарантируется, что длина передаваемого диапазона является степенью тройки, так что вектор всегда можно разбить на три равные части.)
    </em>
   </p>
  </li>
  <li>
   <p>
    Вызвать функцию MergeSort от каждой части вектора.
   </p>
  </li>
  <li>
   <p>
    Слить первые две трети вектора с помощью алгоритма merge, сохранив результат во временный вектор с помощью back_inserter.
   </p>
  </li>
  <li>
   <p>
    Слить временный вектор из предыдущего пункта с последней третью вектора из п. 2, записав полученный отсортированный диапазон вместо исходного.
   </p>
  </li>
 </ol>
 <p>
  В процессе работы вашего алгоритма не должно происходить копирования сортируемых элементов. Если вы используете копирование, при отправке не проверку
  <strong>
   решение не скомпилируется.
  </strong>
 </p>
 <h3 level="3">
  Файл с заготовкой решения
 </h3>
 <asset assettype="generic" extension="cpp" id="FJJX6XxGEeiGPw6YfDtP_A" name="merge_sort_3">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
