<meta charset="utf-8"/>
<co-content>
 <p>
  Перед тем, как вы приступите к первому заданию по программированию, ознакомьтесь с их особенностями.
 </p>
 <h2 level="2">
  Как читать условия задач?
 </h2>
 <p>
  Перед тем, как приступить к решению задачи, прочитайте её условие целиком. Обратите внимание на примеры: очень часто они сильно помогают понять условие задачи и содержат ответы на возникающие вопросы.
 </p>
 <h2 level="2">
  Что надо отправлять на проверку?
 </h2>
 <p>
  Во всех заданиях по программированию надо отправить на проверку файл с исходным кодом вашего решения.
 </p>
 <p>
  Некоторые задачи могут содержать особые условия отправки решений, в таком случае они указаны в описании задачи. Например, в некоторых задачах надо отправлять файл, не содержащий функции main.
 </p>
 <h2 level="2">
  Как тестируется моё решение?
 </h2>
 <p>
  В первую очередь, файл с вашим решением компилируется. Если компиляция завершается с ошибкой, то тестирующая система выдаёт вам сообщение „Compile error:
  <em>
   &lt;список ошибок компиляции&gt;
  </em>
  “.
 </p>
 <p>
  Если компиляция прошла успешно, то ваша программа запускается на наборе тестов. В большинстве задач ваша программа должна что-то считать из стандартного ввода и вывести что-то в стандартный вывод. Один тест — это один набор входных данных для вашей программы. После того, как она отработала, её стандартный вывод анализируется специальной проверяющей программой, которая проверяет его правильность и соответствие условию задачи.
 </p>
 <p>
  Если на всех тестах ваша программа отработала правильно, то тестирующая система возвращает вам сообщение «Good job!».
 </p>
 <p>
  Если же на каком-то из тестов ваша программа отработала неправильно, то тестирующая система возвращает сообщение, объясняющее, что работает неправильно. Примеры таких сообщений:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    «Failed case #5/16: time limit exceeded» — это сообщение означает, что ваша программа успешно прошла четыре теста, а на пятом работала слишком долго; всего в задаче 16 тестов. Если в условии задачи не оговорено иное, вашей программе даётся одна секунда на исполнение. Если вы видите такую ошибку, проверьте, не возникает ли в вашей программе бесконечный цикл. Более распространённой причиной такой ошибки является неэффективный алгоритм решения. Например, в теме про контейнер set подразумевается его использование в соответствующих задачах: если вы используете контейнер vector, то ваше решение рискует оказаться неэффективным и получить ошибку «time limit exceeded».
   </p>
  </li>
  <li>
   <p>
    «Failed case #5/16: unknown signal 1» — это сообщение говорит о том, что ваша программа завершилась с ненулевым кодом возврата. Причины могут быть разными, например, деление на ноль или выход за границы вектора.
   </p>
  </li>
  <li>
   <p>
    «Failed case #5/16: (Wrong answer)» — ваша программа успешно завершилась, но вывела в стандартный вывод неправильный ответ.
   </p>
  </li>
  <li>
   <p>
    В задачах, в которых нужно реализовать заданную функцию или класс, тестирующая система может возвращать специфические для этой задачи сообщения.
   </p>
  </li>
 </ul>
 <p>
  Если ваша программа получила «Wrong answer», то для первых нескольких тестов тестирующая система сообщает вам тест, на котором это произошло.
  <strong>
   Однако в общем случае мы не показываем вам тест, на котором программа работает неправильно
  </strong>
  .
  <strong>
   Мы делаем это намеренно
  </strong>
  , чтобы привить вам навыки самостоятельного тестирования и отладки кода. В таком случае вам надо внимательно перечитать условие задачи, изучать свой код и постараться самостоятельно найти ошибку, подбирая различные входные данные.
 </p>
 <p>
  В этом курсе мы сняли для вас видео, которое демонстрирует, как можно найти ошибку в своей программе, не зная тест, на котором она падает. Кроме того, в следующем курсе — «Жёлтый пояс по С++» — будет отдельный раздел, посвящённый тестированию и отладке.
 </p>
 <h2 level="2">
  Сколько времени уйдёт на решение задачи?
 </h2>
 <p>
  Возле каждой задачи по программированию вы можете видеть оценку времени, необходимого на её выполнение. Эта оценка основана на собранной статистике времени выполнения заданий участниками, которые уже прошли «Белый пояс по С++». Интерпретация такой статистики является непростой задачей, так как учащиеся на курсе нередко решают задачу в несколько приёмов, и в то же время иногда возвращаются для повторного решения, например, чтобы попробовать другой подход. Тем не менее приведённые оценки могут служить некоторым индикатором сложности предлагаемых задач, и, мы надеемся, помогут грамотно распределить нагрузку. Учитывая, что сложность одного и того же задания может сильно отличаться  для того или иного участника, вероятно, полезной может оказаться суммарная оценка требуемых часов на отдельно взятую неделю курса.
 </p>
 <h2 level="2">
  Что делать, когда задача решена?
 </h2>
 <p>
  Поздравляем! Продвигайтесь дальше. Но обратите внимание, что для большинства обязательных задач после их успешной сдачи становятся доступными решения. Прочитайте их: с их помощью вы узнаете более простые подходы к решению задач.
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
