<meta charset="utf-8"/>
<co-content>
 <p>
  На вход программе через стандартный ввод передаются два целых числа, по модулю не превышающие 100000. Выведите в стандартный вывод их сумму.
 </p>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2 3
    </p>
   </td>
   <td>
    <p>
     5
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     -4 -9
    </p>
   </td>
   <td>
    <p>
     -13
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     -1 2
    </p>
   </td>
   <td>
    <p>
     1
    </p>
   </td>
  </tr>
 </table>
 <h3 level="3">
  Подсказки
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    Ваша программа должна выводить в cout только одно число — сумму введённых чисел (т.е. не надо выводить в cout входные числа или строки типа "A = ")
   </p>
  </li>
  <li>
   <p>
    Вам не надо проверять, что входные числа не превышают по модулю 100000. Мы гарантируем, что в тестирующей системе вашей программе будут подаваться только числа, удовлетворяющие указанным ограничениям
   </p>
  </li>
 </ul>
 <h3 level="3">
  Пояснение
 </h3>
 <p>
  Если вы не знаете, как компилировать и запускать программы на C++, вы можете просмотреть видео из блока "Компиляция, запуск, отладка" и, настроив среду разработки, вернуться к этой задаче.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
