<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите функцию PrintVectorPart, принимающую вектор целых чисел numbers, выполняющую поиск первого отрицательного числа в нём и выводящую в стандартный вывод все числа, расположенные левее найденного, в обратном порядке. Если вектор не содержит отрицательных чисел, выведите все числа в обратном порядке.
 </p>
 <pre language="c_cpp">void PrintVectorPart(const vector&lt;int&gt;&amp; numbers);</pre>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  PrintVectorPart({6, 1, 8, -5, 4});
  cout &lt;&lt; endl;
  PrintVectorPart({-6, 1, 8, -5, 4});  // ничего не выведется
  cout &lt;&lt; endl;
  PrintVectorPart({6, 1, 8, 5, 4});
  cout &lt;&lt; endl;
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="c_cpp">8 1 6

4 5 8 1 6
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
