<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите функцию SplitIntoWords, разбивающую строку на слова по пробелам.
 </p>
 <pre language="c_cpp">vector&lt;string&gt; SplitIntoWords(const string&amp; s);</pre>
 <p>
  Гарантируется, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    строка непуста;
   </p>
  </li>
  <li>
   <p>
    строка состоит лишь из латинских букв и пробелов;
   </p>
  </li>
  <li>
   <p>
    первый и последний символы строки не являются пробелами;
   </p>
  </li>
  <li>
   <p>
    строка не содержит двух пробелов подряд.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  Рекомендуется следующий способ решения задачи:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    искать очередной пробел с помощью алгоритма find;
   </p>
  </li>
  <li>
   <p>
    создавать очередное слово с помощью конструктора строки по двум итераторам.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  string s = "C Cpp Java Python";

  vector&lt;string&gt; words = SplitIntoWords(s);
  cout &lt;&lt; words.size() &lt;&lt; " ";
  for (auto it = begin(words); it != end(words); ++it) {
    if (it != begin(words)) {
      cout &lt;&lt; "/";
    }
    cout &lt;&lt; *it;
  }
  cout &lt;&lt; endl;
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">4 С/Cpp/Java/Python
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
