<meta charset="utf-8"/>
<co-content>
 <p>
  На вход вашей программы в стандартном потоке ввода подаются действительные коэффициенты
  <em>
   A
  </em>
  ,
  <em>
   B
  </em>
  и
  <em>
   C
  </em>
  уравнения
  <em>
   Ax
  </em>
  ² +
  <em>
   Bx
  </em>
  +
  <em>
   C
  </em>
  = 0. Выведите все его различные действительные корни в поток вывода в любом порядке, при этом разделяя корни пробелами. Гарантируется, что хотя бы один из коэффициентов уравнения не равен нулю.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <table columns="2" rows="5">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2 5 2
    </p>
   </td>
   <td>
    <p>
     -0.5 -2
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2 4 2
    </p>
   </td>
   <td>
    <p>
     -1
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2 1 2
    </p>
   </td>
   <td>
    <p>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     0 4 10
    </p>
   </td>
   <td>
    <p>
     -2.5
    </p>
   </td>
  </tr>
 </table>
 <h3 level="3">
  Подсказка
 </h3>
 <p>
  Для вычисления квадратного корня используйте функцию sqrt из библиотеки cmath. Чтобы подключить библиотеку, в начале программы напишите
 </p>
 <pre language="c_cpp">#include &lt;cmath&gt;</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
