<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В стандартном потоке дана одна строка, состоящая из N + 1 целых чисел. Первым числом идёт само число N. Далее следуют ещё N чисел, обозначим их за массив A. Между собой числа разделены пробелом.
 </p>
 <p>
  Отсортируйте массив А по модулю и выведите его в стандартный поток.
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <ul bullettype="bullets">
  <li>
   <p>
    0 &lt;= N &lt;= 1000
   </p>
  </li>
  <li>
   <p>
    -1000000 &lt;= A[i] &lt;= 1000000
   </p>
  </li>
 </ul>
 <h2 level="2">
  Примеры
 </h2>
 <table columns="2" rows="3">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2 -4 3
    </p>
   </td>
   <td>
    <p>
     3 -4
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     3 1 -3 2
    </p>
   </td>
   <td>
    <p>
     1 2 -3
    </p>
   </td>
  </tr>
 </table>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  функция sort дополнительно принимает третий аргумент. Изучите его подробнее
  <a href="http://www.cplusplus.com/reference/algorithm/sort/?kw=sort">
   по ссылке
  </a>
  .
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
