<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В стандартном потоке дана одна строка, состоящая из числа N и следующих за ним N строк S. Между собой число и строки разделены пробелом.
 </p>
 <p>
  Отсортируйте строки S в лексикографическом порядке по возрастанию, игнорируя регистр букв, и выведите их в стандартный поток вывода.
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <ul bullettype="bullets">
  <li>
   <p>
    0 &lt;= N &lt;= 1000
   </p>
  </li>
  <li>
   <p>
    1 &lt;= |S| &lt;= 15
   </p>
  </li>
  <li>
   <p>
    Каждая строка S[i] может состоять из следующих символов: [0-9,a-z,A-Z]
   </p>
  </li>
 </ul>
 <h2 level="2">
  Примеры
 </h2>
 <table columns="2" rows="3">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2 q A
    </p>
   </td>
   <td>
    <p>
     A q
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     3 a C b
    </p>
   </td>
   <td>
    <p>
     a b C
    </p>
   </td>
  </tr>
 </table>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  Обратите внимание
  <a href="http://www.cplusplus.com/reference/cctype/tolower">
   на функцию
  </a>
  <em>
   <a href="http://www.cplusplus.com/reference/cctype/tolower">
    tolower
   </a>
   .
  </em>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
