<meta charset="utf-8"/>
<co-content>
 <pre language="c_cpp">#include &lt;sstream&gt;
#include &lt;exception&gt;
#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;map&gt;
#include &lt;set&gt;

using namespace std;

template &lt;class T&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; os, const set&lt;T&gt;&amp; s) {
  os &lt;&lt; "{";
  bool first = true;
  for (const auto&amp; x : s) {
    if (!first) {
      os &lt;&lt; ", ";
    }
    first = false;
    os &lt;&lt; x;
  }
  return os &lt;&lt; "}";
}

template &lt;class K, class V&gt;
ostream&amp; operator &lt;&lt; (ostream&amp; os, const map&lt;K, V&gt;&amp; m) {
  os &lt;&lt; "{";
  bool first = true;
  for (const auto&amp; kv : m) {
    if (!first) {
      os &lt;&lt; ", ";
    }
    first = false;
    os &lt;&lt; kv.first &lt;&lt; ": " &lt;&lt; kv.second;
  }
  return os &lt;&lt; "}";
}

template&lt;class T, class U&gt;
void AssertEqual(const T&amp; t, const U&amp; u,
    const string&amp; hint)
{
  if (t != u) {
    ostringstream os;
    os &lt;&lt; "Assertion failed: " &lt;&lt; t &lt;&lt; " != " &lt;&lt; u
       &lt;&lt; " hint: " &lt;&lt; hint;
    throw runtime_error(os.str());
  }
}

inline void Assert(bool b, const string&amp; hint) {
  AssertEqual(b, true, hint);
}

class TestRunner {
public:
  template &lt;class TestFunc&gt;
  void RunTest(TestFunc func, const string&amp; test_name) {
    try {
	  func();
	  cerr &lt;&lt; test_name &lt;&lt; " OK" &lt;&lt; endl;
	} catch (runtime_error&amp; e) {
	  ++fail_count;
	  cerr &lt;&lt; test_name &lt;&lt; " fail: " &lt;&lt; e.what() &lt;&lt; endl;
	}
  }

  ~TestRunner() {
    if (fail_count &gt; 0) {
      cerr &lt;&lt; fail_count &lt;&lt; " unit tests failed. Terminate" &lt;&lt; endl;
      exit(1);
    }
  }

private:
  int fail_count = 0;
};
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
