<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Введение
 </h2>
 <p>
  Мы с вами узнали, чем полезны юнит-тесты, а также как их создавать. Кроме того мы создали собственный юнит-тест фреймворк. Напомним, что целью его создания было:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    продемонстрировать, как с помощью различных возможностей языка C++ придавать программе необходимые свойства,
   </p>
  </li>
  <li>
   <p>
    дать вам понимание того, как устроен юнит-тест фреймворк,
   </p>
  </li>
  <li>
   <p>
    дать вам возможность изменять его, делая более удобным для себя
   </p>
  </li>
 </ul>
 <p>
  Теперь мы предлагаем вам ряд заданий по программированию, которые позволят вам попрактиковаться в написании юнит-тестов и работе с юнит-тест фреймворком. В каждой задаче вам будет выдан интерфейс (функция или класс), который надо будет покрыть юнит-тестами. Ваши тесты должны будут проверять, что интерфейс реализован правильно, то есть он корректно обрабатывает входные данные. Заметим, что в наших задачах вам достаточно будет протестировать корректность работы — тестировать производительность не нужно
 </p>
 <h2 level="2">
  Как мы проверяем ваши посылки
 </h2>
 <p>
  В заданиях на тестирование вы должны прислать cpp-файл с юнит-тестами для заданного интерфейса. У нас есть правильные и неправильные реализации интерфейса. Мы по очереди компилируем ваш файл с каждой из них и запускаем получившийся исполняемый файл. Если программа вернула нулевой код возврата, мы считаем, что ваши тесты признали реализацию корректной. Если программа завершилась с ненулевым кодом возврата, значит, ваши тесты признали реализацию некорректной. Соответственно ваши тесты должны принимать правильные реализации интерфейса и отвергать неправильные.
 </p>
 <p>
  Если ваши тесты приняли неправильную реализацию или отвергли правильную, автоматическая система проверки пришлёт вам stderr вашей программы. Его анализ может помочь вам понять, как ведёт себя реализация, для которой ваши тесты отработали неверно. Поэтому вы можете выводить туда имена прошедших и упавших тестов, результаты вызова тестируемых функций и т.д. (наш юнит-тест фреймворк уже умеет выводить эту информацию).
 </p>
 <h2 level="2">
  Как писать юнит-тесты
 </h2>
 <p>
  Мы предлагаем вам воспользоваться юнит-тест фреймворком, который мы разработали в видеолекциях. Метод RunTest класса TestRunner для каждого теста сообщает в stderr, прошёл он или нет. Функции Assert и AssertEqual выводят в stderr свои аргументы, если они оказались не равны.
 </p>
 <p>
  Но, как было сказано выше, автоматическая проверяющая система смотрит только на код возврата вашей программы, поэтому вы можете изменять наш фреймворк или не пользоваться им вообще.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <p>
  Давайте рассмотрим пример задачи.
 </p>
 <p>
  <em>
   Разработайте юнит-тесты для функции uint32_t Div(uint32_t a, uint32_t b). Функция Div возвращает частное от деления параметра a на b. Если b == 0, то функция Div возвращает numeric_limits&lt;uint32_t&gt;::max().
  </em>
 </p>
 <p>
  Решение этой задачи могло бы выглядеть так:
 </p>
 <pre language="c_cpp">#include ...
#include ...

/*
 * Здесь идёт код тестового фреймворка: AssertEqual, Assert, TestRunner и т.д.
 */

void TestDiv() {
    AssertEqual(Div(10, 2), 5);
    AssertEqual(Div(3, 2), 1);
}

int main() {
    TestRunner tr;
    tr.RunTest(TestDiv, "TestDiv");
    return 0;
}</pre>
 <p>
  Если мы отправим этот код в тестирующую систему, то он не будет принят, а в ответ мы получим сообщение "Wrong implementation was accepted by tests: TestDiv OK". Оно означает, что наши тесты приняли некорректную реализацию функции Div. Так и есть — наши тесты принимают реализацию, которая никак не обрабатывает деление на ноль:
 </p>
 <pre language="c_cpp">int Div(int a, int b) {
    return a / b;
}</pre>
 <p>
  Давайте учтём это в наших тестах:
 </p>
 <pre language="c_cpp">#include ...
#include ...

/*
 * Здесь идёт код тестового фреймворка: AssertEqual, Assert, TestRunner и т.д.
 */

void TestDiv() {
    AssertEqual(Div(10, 2), 5);
    AssertEqual(Div(3, 2), 1);
}

void TestDivisionByZero() {
    AssertEqual(Div(10, 0), numeric_limits&lt;uint32_t&gt;::max());
}

int main() {
    TestRunner tr;
    tr.RunTest(TestDiv, "TestDiv");
    tr.RunTest(TestDivisionByZero, "TestDivisionByZero");
    return 0;
}</pre>
 <p>
  Если мы отправим эти тесты в проверяющую систему, они будут ею приняты.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
