<meta charset="utf-8"/>
<co-content>
 <p>
  Функция
 </p>
 <pre language="c_cpp">int GetDistinctRealRootCount(double a, double b, double c);</pre>
 <p>
  возвращает количество уникальных действительных корней уравнения ax² + bx + c = 0. Разработайте набор юнит-тестов для проверки корректности реализации этой функции.
  <strong>
   Случай, когда все три коэффициента равны нулю, тестировать не надо.
  </strong>
 </p>
 <p>
  Начать работу вы можете с шаблона, который содержит наш фреймворк юнит-тест и заготовку функции GetDistinctRealRootCount.
 </p>
 <asset assettype="generic" extension="cpp" id="jt0wWbycEeemMwobpu8KNg" name="test_equation">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
