<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Задача
 </h2>
 <p>
  В первом курсе «Белый пояс по С++» у нас была задача «
  <a href="https://www.coursera.org/learn/c-plus-plus-white/programming/4FQn4/imiena-i-familii-1">
   Имена и фамилии — 1
  </a>
  ». В ней надо было разработать класс Person, поддерживающий историю изменений человеком своих фамилии и имени. В данной задаче вам надо разработать юнит-тесты на реализацию класса Person. При разработке тестов учитывайте ограничения, которые накладывает на класс Person условие задачи «Имена и фамилии — 1».
 </p>
 <p>
  Начать работу вы можете с шаблона, который содержит наш фреймворк юнит-тестов и заготовку класса.
 </p>
 <asset assettype="generic" extension="cpp" id="5taD7t5EEeedHw7X0zcEsg" name="test_person">
 </asset>
 <h2 level="2">
  Условие задачи «Имена и фамилии — 1»
 </h2>
 <p>
  Реализуйте класс для человека, поддерживающий историю изменений человеком своих фамилии и имени.
 </p>
 <pre language="c_cpp">class Person {
public:
  void ChangeFirstName(int year, const string&amp; first_name) {
    // добавить факт изменения имени на first_name в год year
  }
  void ChangeLastName(int year, const string&amp; last_name) {
    // добавить факт изменения фамилии на last_name в год year
  }
  string GetFullName(int year) {
    // получить имя и фамилию по состоянию на конец года year
  }
private:
  // приватные поля
};
</pre>
 <p>
  Считайте, что в каждый год может произойти не более одного изменения фамилии и не более одного изменения имени. При этом с течением времени могут открываться всё новые факты из прошлого человека, поэтому года́ в последовательных вызовах методов ChangeLastName и ChangeFirstName не обязаны возрастать.
 </p>
 <p>
  Гарантируется, что все имена и фамилии непусты.
 </p>
 <p>
  Строка, возвращаемая методом GetFullName, должна содержать разделённые одним пробелом имя и фамилию человека по состоянию на конец данного года.
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Если к данному году не случилось ни одного изменения фамилии и имени, верните строку
    <strong>
     "Incognito"
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    Если к данному году случилось изменение фамилии, но не было ни одного изменения имени, верните
    <strong>
     "
     <em>
      last_name
     </em>
     with unknown first name"
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    Если к данному году случилось изменение имени, но не было ни одного изменения фамилии, верните
    <strong>
     "
     <em>
      f
     </em>
     <em>
      irst_name
     </em>
     with unknown last name"
    </strong>
    .
   </p>
  </li>
 </ul>
 <h3 level="3">
  Примечание
 </h3>
 <p>
  Перед отправкой вашего файла убедитесь, что он не содержит класса Person. В противном случае вы получите ошибку компиляции. Наша тестирующая система умеет игнорировать функции в файлах (поэтому, например, в задаче "Тесты для функции IsPalindrom" необязательно удалять функцию IsPalindrom), но не умеет это делать для классов.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
