<meta charset="utf-8"/>
<co-content>
 <p>
  Класс Rational представляет собой рациональное число и имеет следующий интерфейс
 </p>
 <pre language="c_cpp">class Rational {
public:
  Rational();
  Rational(int numerator, int denominator);

  int Numerator() const;
  int Denominator() const;
};
</pre>
 <p>
  Список требований, предъявляемых к реализации интерфейса класса Rational:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Конструктор по умолчанию должен создавать дробь с числителем 0 и знаменателем 1.
   </p>
  </li>
  <li>
   <p>
    При конструировании объекта класса Rational с параметрами p и q должно выполняться сокращение дроби p/q.
   </p>
  </li>
  <li>
   <p>
    Если дробь p/q отрицательная, то объект Rational(p, q) должен иметь отрицательный числитель и положительный знаменатель.
   </p>
  </li>
  <li>
   <p>
    Если дробь p/q положительная, то объект Rational(p, q) должен иметь положительные числитель и знаменатель (обратите внимание на случай Rational(-2, -3)).
   </p>
  </li>
  <li>
   <p>
    Если числитель дроби равен нулю, то знаменатель должен быть равен 1.
   </p>
  </li>
 </ol>
 <p>
  Разработайте набор юнит-тестов, которые будут проверять корректность реализации класса Rational.
  <strong>
   Тестировать случай, когда знаменатель равен нулю, не надо.
  </strong>
 </p>
 <p>
  Начать работу вы можете с шаблона, который содержит наш фреймворк юнит-тестов и заготовку класса Rational.
 </p>
 <asset assettype="generic" extension="cpp" id="b3Hn77yeEee3NhLzohKsog" name="test_rational">
 </asset>
 <h3 level="3">
  Примечание
 </h3>
 <p>
  Перед отправкой вашего файла убедитесь, что он не содержит класса Rational. В противном случае вы получите ошибку компиляции. Наша тестирующая система умеет игнорировать функции в файлах (поэтому, например, в задаче "Тесты для функции IsPalindrom" необязательно удалять функцию IsPalindrom), но не умеет это делать для классов.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
