<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вам нужно разработать набор юнит-тестов для функции
 </p>
 <pre language="c_cpp">bool IsPalindrom(const string&amp; s);</pre>
 <p>
  Эта функция проверяет, является ли строка s палиндромом. Палиндром — это слово или фраза, которые одинаково читаются слева направо и справа налево. Примеры палиндромов:
  <strong>
   madam
  </strong>
  ,
  <strong>
   level
  </strong>
  ,
  <strong>
   wasitacaroracatisaw
  </strong>
 </p>
 <p>
  Разработайте набор юнит-тестов, который будет принимать правильные реализации функции IsPalindrom и отвергать неправильные. При этом учитывайте, что
  <strong>
   правильная
  </strong>
  реализация функции:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    считает пустую строку палиндромом;
   </p>
  </li>
  <li>
   <p>
    считает строку из одного символа палиндромом;
   </p>
  </li>
  <li>
   <p>
    осуществляет обычное сравнение символов на равенство, не игнорируя никакие символы, в том числе пробельные.
   </p>
  </li>
 </ul>
 <p>
  При разработке тестов подумайте, какие ошибки можно допустить при реализации функции IsPalindrom. Примеры ошибок:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    игнорируется первый или последний символ;
   </p>
  </li>
  <li>
   <p>
    сравнение соответствующих символов завершается не в середине строки, а раньше;
   </p>
  </li>
  <li>
   <p>
    игнорируются пробелы
   </p>
  </li>
 </ul>
 <p>
  Начать работу вы можете с шаблона, который содержит наш фреймворк юнит-тестов и заготовку функции IsPalindrom.
 </p>
 <asset assettype="generic" extension="cpp" id="EDHtPblXEeeOchIgffEMig" name="test_palindrome">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
