<meta charset="utf-8"/>
<co-content>
 <p>
  В первом видео этого блока используется функция Head, которую мы разработали в «Красном поясе по C++» в блоке «Шаблоны классов». На всякий случай, приводим её код здесь:
 </p>
 <pre language="c_cpp">#include &lt;algorithm&gt;
#include &lt;iostream&gt;
#include &lt;iterator&gt;
#include &lt;set&gt;
#include &lt;vector&gt;
using namespace std;

template &lt;typename Iterator&gt;
class IteratorRange {
public:
  IteratorRange(Iterator begin, Iterator end)
    : first(begin)
    , last(end)
  {
  }

  Iterator begin() const {
    return first;
  }

  Iterator end() const {
    return last;
  }

private:
  Iterator first, last;
};

template &lt;typename Collection&gt;
auto Head(Collection&amp; v, size_t top) {
  return IteratorRange{v.begin(), next(v.begin(), min(top, v.size()))};
}
</pre>
 <p>
 </p>
 <p>
  Пример применения:
 </p>
 <pre language="c_cpp">int main() {
  const set&lt;int&gt; numbers = {6, 4, 7, 1, 2, 5};
  // Этот цикл выводит "1 2 4"
  for (int x : Head(numbers, 3)) {
    cout &lt;&lt; x &lt;&lt; ' ';
  }
  cout &lt;&lt; '\n';

  const vector&lt;int&gt; numbers_v = {6, 4, 7, 1, 2, 5};
  // Этот цикл выводит "6 4 7"
  for (int x : Head(numbers_v, 3)) {
    cout &lt;&lt; x &lt;&lt; ' ';
  }
}</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
