<meta charset="utf-8"/>
<co-content>
 <p>
  Теперь, когда вы знаете, как unordered-контейнеры устроены внутри, вам предлагается самостоятельно реализовать упрощённую версию хеш-таблицы. Реализуйте шаблон HashSet:
 </p>
 <pre language="c_cpp">template &lt;typename Type, typename Hasher&gt;
class HashSet {
public:
  using BucketList = forward_list&lt;Type&gt;;

public:
  explicit HashSet(
      size_t num_buckets,
      const Hasher&amp; hasher = {}
  );

  void Add(const Type&amp; value);
  bool Has(const Type&amp; value) const ;
  void Erase(const Type&amp; value);
  const BucketList&amp; GetBucket(const Type&amp; value) const;
};</pre>
 <p>
  Требования:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    В любой момент времени в вашей хеш-таблице должно быть ровно num_buckets корзин. Рехеширование выполнять не нужно.
   </p>
  </li>
  <li>
   <p>
    Метод Add не должен менять содержимое таблицы, если элемент, равный данному, уже есть в таблице.
   </p>
  </li>
  <li>
   <p>
    Метод Has должен возвращать true тогда и только тогда, когда элемент, равный данному, есть в таблице.
   </p>
  </li>
  <li>
   <p>
    Метод Erase должен стирать элемент, равный данному, из таблицы, если он там есть, в противном случае он не должен менять содержимое таблицы.
   </p>
  </li>
  <li>
   <p>
    Метод GetBucket должен возвращать ссылку на бакет, который содержал бы данный элемент, вне зависимости от того, есть он в таблице или нет.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="GmjSH_4XEeiixgqCUDoEfA" name="hash_set">
 </asset>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="jUdmmfYwEeiAgQrXx6bp4g" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="mi__svYwEeiTKQ5ajE7PqA" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="AnrQ7PlgEei5Kg7DUflKxA" name="Подсказка 3">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
