<meta charset="utf-8"/>
<co-content>
 <p>
  На лекциях вам было рассказано о внутреннем устройстве контейнеров map и set. Обычно map и set реализованы как двоичные деревья поиска.
 </p>
 <p>
  Также вы узнали о том, как производится обход дерева с помощью итераторов.
 </p>
 <p>
  В данной задаче мы будем работать не с контейнером set, но с аналогичным двоичным деревом поиска, состоящим из следующих вершин:
 </p>
 <pre language="c_cpp">struct Node {
  int value;
  Node* left;
  Node* right;
  Node* parent;
};</pre>
 <p>
  Где:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    value - значение, хранящееся в вершине;
   </p>
  </li>
  <li>
   <p>
    left и right - указатели на дочерние вершины (оба равны nullptr для листьев дерева);
   </p>
  </li>
  <li>
   <p>
    parent - указатель на родительскую вершину (равен nullptr для корня дерева).
   </p>
  </li>
 </ul>
 <p>
  Допустим, что для обхода дерева мы используем не специальный итератор, а просто указатель на вершину Node*.
 </p>
 <p>
  Вам требуется реализовать функцию
 </p>
 <pre language="c_cpp">Node* Next(Node* node);</pre>
 <p>
  , возвращающую указатель на следующую по возрастанию значения вершину.
 </p>
 <p>
  Функция должна вернуть nullptr в случае, если текущая вершина -- последняя в дереве.
 </p>
 <h3 level="3">
  Заготовка решения задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="IZpqe_exEeiixgqCUDoEfA" name="set_iterator_next">
 </asset>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="dnRfw_IlEeiTKQ5ajE7PqA" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="g9pl0PIlEeilxxL_ZeRz_A" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="jffQIfIlEeiAgQrXx6bp4g" name="Подсказка 3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="l85uVfIlEeiaxBKyA9PBAg" name="Подсказка 4">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
