<meta charset="utf-8"/>
<co-content>
 <p>
  Мы хотим научиться встраивать структуру Point3D в контейнер unordered_set&lt;Point3D, Hasher&gt;. Для этого вам нужно реализовать структуру Hasher и оператор сравнения:
 </p>
 <pre language="c_cpp">using CoordType = int;

struct Point3D {
  CoordType x;
  CoordType y;
  CoordType z;

  bool operator==(const Point3D&amp; other) const {
    // реализуйте оператор
  }
};

struct Hasher {
  // реализуйте структуру
};</pre>
 <p>
  В своей реализации используйте стандартную хеш-функцию std::hash&lt;CoordType&gt; для хеширования координат и комбинируйте полученные хеши с помощью полинома, как показано в лекции.
 </p>
 <p>
  Требования:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    хеш-функция должна зависеть от всех координат точки
   </p>
  </li>
  <li>
   <p>
    хеш-функция должна равномерно рассеивать точки в трёхмерном пространстве; это её свойство проверяется тестом TestDistribution в заготовке решения.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="ODpzrvPNEei5Kg7DUflKxA" name="hash_point">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
