<meta charset="utf-8"/>
<co-content>
 <p>
  Мы хотим научиться встраивать структуру Person в контейнер unordered_set&lt;Person, PersonHasher&gt;. Для этого вам нужно реализовать структуры PersonHasher, AddressHasher, и операторы сравнения:
 </p>
 <pre language="c_cpp">struct Address {
  string city, street;
  int building;

  bool operator==(const Address&amp; other) const {
    // реализуйте оператор
  }
};

struct Person {
  string name;
  int height;
  double weight;
  Address address;

  bool operator==(const Person&amp; other) const {
    // реализуйте оператор
  }
};

struct AddressHasher {
  // реализуйте структуру
};

struct PersonHasher {
  // реализуйте структуру
};</pre>
 <p>
  Для этого используйте стандартные хеш-функции std::hash и комбинируйте хеши полей с помощью полинома, как показано в лекции.
 </p>
 <p>
  Требования:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    хеш-функции должны зависеть от всех полей структур
   </p>
  </li>
  <li>
   <p>
    хеш-функция должна равномерно рассеивать объекты типа Person; это её свойство проверяется тестом TestDistribution в заготовке решения.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="GjFI-fPOEeilxxL_ZeRz_A" name="hash_person">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
