<meta charset="utf-8"/>
<co-content>
 <pre language="c_cpp">#include &lt;limits&gt;
#include &lt;random&gt;
#include &lt;unordered_set&gt;

using namespace std;

struct Address {
  string city, street;
  int building;

  bool operator==(const Address&amp; other) const {
    return
      city == other.city &amp;&amp;
      street == other.street &amp;&amp;
      building == other.building;
  }
};

struct Person {
  string name;
  int height;
  double weight;
  Address address;

  bool operator==(const Person&amp; other) const {
    return
      name == other.name &amp;&amp;
      height == other.height &amp;&amp;
      weight == other.weight &amp;&amp;
      address == other.address;
  }
};

struct AddressHasher {
  size_t operator()(const Address&amp; address) const {
    // выбираем в качестве коэффициента довольно большое простое число;
    // свободный член можем положить равным нулю, т.к. он не влияет
    // на коллизии, а лишь циклически смещает бакеты
    const size_t coef = 514'229;

    // std::hash обычно не имеет состояния, поэтому создание
    // локальных переменных не сопряжено с накладными расходами,
    // а наоборот, помогает компилятору лучше оптимизировать код
    const hash&lt;int&gt; int_hasher;
    const hash&lt;string&gt; string_hasher;

    return (
        coef * coef * string_hasher(address.city) +
               coef * string_hasher(address.street) +
                      int_hasher(address.building)
    );
  }
};

struct PersonHasher {
  size_t operator()(const Person&amp; person) const {
    // выбираем в качестве коэффициента довольно большое простое число;
    // свободный член можем положить равным нулю, т.к. он не влияет
    // на коллизии, а лишь циклически смещает бакеты
    const size_t coef = 39'916'801;

    // std::hash обычно не имеет состояния, поэтому создание
    // локальных переменных не сопряжено с накладными расходами,
    // а наоборот, помогает компилятору лучше оптимизировать код
    const hash&lt;int&gt; int_hasher;
    const hash&lt;double&gt; double_hasher;
    const hash&lt;string&gt; string_hasher;
    const AddressHasher address_hasher;

    return (
        coef * coef * coef * string_hasher(person.name) +
               coef * coef * int_hasher(person.height) +
                      coef * double_hasher(person.weight) +
                             address_hasher(person.address)
    );
  }
};
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
