<meta charset="utf-8"/>
<co-content>
 <p>
  Часто от хранилища данных требуется быстрый поиск по любому полю. Для этого конструируются вспомогательные структуры данных, ускоряющие поиск, они называются вторичными индексами (secondary index). Реализуйте такое хранилище для данных типа Record ниже:
 </p>
 <pre language="c_cpp">struct Record {
  string id;
  string title;
  string user;
  int timestamp;
  int karma;
};

class Database {
public:
  bool Put(const Record&amp; record);
  const Record* GetById(const string&amp; id) const;
  bool Erase(const string&amp; id);

  template &lt;typename Callback&gt;
  void RangeByTimestamp(int low, int high, Callback callback) const;

  template &lt;typename Callback&gt;
  void RangeByKarma(int low, int high, Callback callback) const;

  template &lt;typename Callback&gt;
  void AllByUser(const string&amp; user, Callback callback) const;
};
</pre>
 <p>
  Требования:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Операция Put должна возвращать true, если вставка удалась, и false, если вставка не удалась, потому что в базе данных уже есть запись с таким же id. В последнем случае состояние базы данных не должно меняться.
   </p>
  </li>
  <li>
   <p>
    Операция GetById должна возвращать nullptr, если в базе данных нет записи с указанным id.
   </p>
  </li>
  <li>
   <p>
    Операция Erase должна возвращать true, если удалось удалить элемент с заданным id, и false, если элемент с заданным id не был найден. В последнем случае состояние базы данных не должно меняться.
   </p>
  </li>
  <li>
   <p>
    Операции RangeByTimestamp, RangeByKarma и AllByUser принимают функтор callback. Подразумевается, что он имеет оператор (), принимающий в качестве аргумента объект типа Record и возвращающий bool.
   </p>
  </li>
  <li>
   <p>
    Операция RangeByTimestamp должна обходить все записи, у которых поле timestamp находится в диапазоне [low, high] (обе границы включены), и для каждой из них один раз вызывать callback. Если очередной вызов callback вернул false, итерация прекращается.
   </p>
  </li>
  <li>
   <p>
    Операция RangeByKarma должна обходить все записи, у которых поле karma находится в диапазоне [low, high].
   </p>
  </li>
  <li>
   <p>
    Операция AllByUser должна обходить все записи в хранилище данных, у которых поле user равно значению параметра user.
   </p>
  </li>
  <li>
   <p>
    Так же, как и RangeByTimestamp, методы RangeByKarma и AllByUser должны вызывать callback для каждой записи, по которой они итерируются, и прекращать итерацию, если callback вернул false.
   </p>
  </li>
  <li>
   <p>
    Параметр callback позволяет управлять процессом обхода: он должен возвращать true, если требуется продолжить обход найденных записей, и false в противном случае. Например, это позволит вывести первые 10 записей или найти первую запись, удовлетворяющую дополнительному критерию.
   </p>
  </li>
  <li>
   <p>
    Время выполнения всех операций должно иметь в среднем сублинейную (например, константную или логарифмическую) зависимость от общего числа записей в базе данных.
   </p>
  </li>
  <li>
   <p>
    Все границы интервалов - включительные, [low, high] — это наиболее универсальный интервальный запрос, подумайте, как с помощью него выразить условия вида x &lt; high, x &gt; low, x = x_0.
   </p>
  </li>
  <li>
   <p>
    При решении этой задачи вы можете считать, что bad_alloc кидаться не будет.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="Ur49UvlMEeiTKQ5ajE7PqA" name="secondary_index">
 </asset>
 <h3 level="3">
  Примечание
 </h3>
 <p>
  В этой задаче может оказаться полезен контейнер
  <a href="https://en.cppreference.com/w/cpp/container/multimap" title="">
   multimap
  </a>
  . Мы не рассматривали его в лекциях, однако вам не составит труда в нём разобраться — он отличается от обычного map только тем, что может хранить повторяющиеся ключи.
 </p>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="g8F3qQNyEem5_xLqNrIdUA" name="secondary_index_hint_1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="g8FP6wNyEemYdRIT0BhLtg" name="secondary_index_hint_2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="nq8Uuj5fEem4egrIUlgmqg" name="secondary_index_hint_3">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
