<meta charset="utf-8"/>
<co-content>
 <p>
  Вам дан класс Logger и макрос LOG
 </p>
 <pre language="c_cpp">class Logger {
public:
  explicit Logger(ostream&amp; output_stream) : os(output_stream) {
  }

  void SetLogLine(bool value) { log_line = value; }
  void SetLogFile(bool value) { log_file = value; }

  void Log(const string&amp; message);

private:
  ostream&amp; os;
  bool log_line = false;
  bool log_file = false;
};

#define LOG(logger, message) ...</pre>
 <p>
  Параметры макроса LOG — объект класса Logger и строковое сообщение, которое должно быть передано в метод Log. В зависимости от настроек объекта класса Logger логируемое сообщение должно предваряться именем файла или номером строки. Смотрите юнит-тесты в заготовке решения для более подробного описания поведения.
 </p>
 <p>
  Реализуйте макрос LOG так, чтобы он добавлял в логируемое сообщение имя файла и номер строки в зависимости от настроек объекта logger. Пришлите на проверку cpp-файл, содержащий
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    реализацию макроса LOG
   </p>
  </li>
  <li>
   <p>
    объявление класса Logger, при этом вы можете при необходимости добавлять в него дополнительные поля и методы
   </p>
  </li>
  <li>
   <p>
    определения всех методов класса Logger
   </p>
  </li>
 </ul>
 <asset assettype="generic" extension="cpp" id="j612m2NVEeiEZRKxXgWFpg" name="log">
 </asset>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Если вы используете Visual Studio, у вас могут не проходить юнит-тесты из заготовки, потому что в этой среде макрос __FILE__ раскрывается в абсолютный путь до файла. Учитывайте это при отладке своего решения.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
