<meta charset="utf-8"/>
<co-content>
 <p>
  Давайте представим, что вы разрабатываете инновационный сервис поиска авиабилетов AviaScanner. В вашем сервисе авиабилет представляется в виде структуры
 </p>
 <pre language="c_cpp">struct Date {
  int year, month, day;
};

struct Time {
  int hours, minutes;
};

struct AirlineTicket {
  string from;
  string to;
  string airline;
  Date departure_date;
  Time departure_time;
  Date arrival_date;
  Time arrival_time;
  uint64_t price;
};</pre>
 <p>
  В данный момент вы работаете над функцией сортировки результатов поиска. Пользователь вводит свой запрос и получает список подходящих билетов. Дальше он может задавать параметры сортировки этого списка. Например, сначала по цене, затем по времени вылета и, наконец, по аэропорту прилёта.
 </p>
 <p>
  Чтобы реализовать сортировку как в примере, можно воспользоваться
  <a href="http://neerc.ifmo.ru/wiki/index.php?title=%D0%A6%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%B0%D1%8F_%D1%81%D0%BE%D1%80%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0">
   алгоритмом цифровой сортировки
  </a>
  :
 </p>
 <pre language="c_cpp">void SortTickets(vector&lt;AirlineTicket&gt;&amp; tixs) {
  stable_sort(begin(tixs), end(tixs), [](const AirlineTicket&amp; lhs, const AirlineTicket&amp; rhs) {
    return lhs.to &lt; rhs.to;
  });
  stable_sort(begin(tixs), end(tixs), [](const AirlineTicket&amp; lhs, const AirlineTicket&amp; rhs) {
    return lhs.departure_time &lt; rhs.departure_time;
  });
  stable_sort(begin(tixs), end(tixs), [](const AirlineTicket&amp; lhs, const AirlineTicket&amp; rhs) {
    return lhs.price &lt; rhs.price;
  });
}</pre>
 <p>
  Как видите, в примере выше есть дублирование кода — нам пришлось написать три лямбда-функции, которые отличаются только полем, по которому выполняется сортировка. От этого дублирования можно избавиться, написав макрос SORT_BY и применив его следующим образом:
 </p>
 <pre language="c_cpp">void SortTickets(vector&lt;AirlineTicket&gt;&amp; tixs) {
  stable_sort(begin(tixs), end(tixs), SORT_BY(to));
  stable_sort(begin(tixs), end(tixs), SORT_BY(departure_time));
  stable_sort(begin(tixs), end(tixs), SORT_BY(price));
}</pre>
 <p>
  Напишите макрос SORT_BY, который принимает в качестве параметра имя поля структуры AirlineTicket. Вызов sort(begin(tixs), end(tixs), SORT_BY(some_field)) должен приводить к сортировке вектора tixs по полю some_field.
 </p>
 <p>
  Вам дан файл airline_ticket.h, содержащий объявления структур Time, Date и AirlineTicket, а также заготовка решения в виде cpp-файла sort_by.cpp. Пришлите на проверку cpp-файл, который
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    подключает заголовочный файл airline_ticket.h
   </p>
  </li>
  <li>
   <p>
    содержит макрос SORT_BY
   </p>
  </li>
  <li>
   <p>
    содержит определения операторов, необходимых для использования классов Date и Time в алгоритме сортировки и макросе ASSERT_EQUAL (формат вывода в поток можете выбрать произвольный)
   </p>
  </li>
 </ul>
 <asset assettype="generic" extension="h" id="fPFKHWAuEeiEZRKxXgWFpg" name="airline_ticket">
 </asset>
 <asset assettype="generic" extension="cpp" id="fPA4gWAuEeiKNQ6MFIim6g" name="sort_by">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
