<meta charset="utf-8"/>
<co-content>
 <p>
  Продолжим работу над сервисом поиска авиабилетов AviaScanner. Наш сервис хранит базу данных билетов в виде vector&lt;AirlineTicket&gt;, где AirlineTicket — такая же структура, как и в предыдущей задаче. Периодически наш сервис обходит сайты авиакомпаний, собирает свежую информацию о доступных билетах и обновляет записи в своей базе данных. Делается это с помощью функции void UpdateTicket(AirlineTicket&amp; ticket, const map&lt;string, string&gt;&amp; updates). Параметр updates содержит пары (имя поля; новое значение). При этом он содержит только те поля, которые поменялись. Пример работы функции UpdateTicket:
 </p>
 <pre language="c_cpp">void UpdateTicketExample() {
  AirlineTicket t;
  t.price = 5000;
  t.from = "DME";
  t.to = "AER";

  const map&lt;string, string&gt; updates = {
    {"price", "3500"},
    {"from", "VKO"}
  };
  UpdateTicket(t, updates);
  ASSERT_EQUAL(t.from, "VKO");
  ASSERT_EQUAL(t.to, "AER");
  ASSERT_EQUAL(t.price, 3500);
}</pre>
 <p>
  Функцию UpdateTicket можно было бы реализовать так:
 </p>
 <p>
 </p>
 <pre language="c_cpp">void UpdateTicket(AirlineTicket&amp; ticket, const map&lt;string, string&gt;&amp; updates) {
  map&lt;string, string&gt;::const_iterator it;

  it = updates.find("to");
  if (it != updates.end()) {
    ticket.to = it-&gt;second;
  }

  it = updates.find("from");
  if (it != updates.end()) {
    ticket.from = it-&gt;second;
  }

  it = updates.find("price");
  if (it != updates.end()) {
    istringstream is(it-&gt;second);
    is &gt;&gt; ticket.price;
  }

  ...
}</pre>
 <p>
  Здесь налицо дублирование кода — блоки кода внутри функции UpdateTicket отличаются только именем поля (конечно, первые два блока не такие, как третий, но их легко к нему свести). При этом имя поля используется не только для обращения к структуре AirlineTicket, но и как строковый литерал. Поэтому можно написать макрос, который существенно упростит функцию UpdateTicket:
 </p>
 <pre language="c_cpp">#define UPDATE_FIELD(ticket, field, values) ...

void UpdateTicket(AirlineTicket&amp; ticket, const map&lt;string, string&gt;&amp; updates) {
  UPDATE_FIELD(ticket, to, updates);
  UPDATE_FIELD(ticket, from, updates);
  UPDATE_FIELD(ticket, price, updates);
  UPDATE_FIELD(ticket, airline, updates);
  ...
}</pre>
 <p>
  Напишите макрос UPDATE_FIELD. Вам дан файл airline_ticket.h, содержащий объявления структур Time, Date и AirlineTicket, а также заготовка решения в виде cpp-файла update_field.cpp. Пришлите на проверку cpp-файл, который
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    подключает заголовочный файл airline_ticket.h
   </p>
  </li>
  <li>
   <p>
    содержит макрос UPDATE_FIELD
   </p>
  </li>
  <li>
   <p>
    содержит определения операторов, необходимых для считывания классов Date и Time из потока istream и их использования в макросе ASSERT_EQUAL (формат ввода смотрите в юнит-тестах в файле update_field.cpp)
   </p>
  </li>
 </ul>
 <asset assettype="generic" extension="cpp" id="ssnUDGAzEeiEZRKxXgWFpg" name="update_field">
 </asset>
 <asset assettype="generic" extension="h" id="fPFKHWAuEeiEZRKxXgWFpg" name="airline_ticket">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
