<meta charset="utf-8"/>
<co-content>
 <p>
  Вам дан макрос, который распечатывает два переданных ему значения в переданный поток вывода. В реализации макроса есть недостаток, ограничивающий его применимость в реальных программах. Вам требуется найти и устранить недостаток.
 </p>
 <pre language="c_cpp">#define PRINT_VALUES(out, x, y) out &lt;&lt; (x) &lt;&lt; endl; out &lt;&lt; (y) &lt;&lt; endl</pre>
 <p>
  Автор задачи —
  <a href="https://www.coursera.org/user/b36d9f5a62bc4a643cdf459fb068d606">
   Борис Егоров
  </a>
 </p>
 <p>
  Заготовка решения
 </p>
 <asset assettype="generic" extension="cpp" id="V2pS7HVMEei3nhIMaRH29g" name="print_values">
 </asset>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="E_RriGNXEeiEZRKxXgWFpg" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="E_TglGNXEeiFLgr123Yivg" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="E_Wj5WNXEeiFLgr123Yivg" name="Подсказка 3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="E_bcZmNXEeiFLgr123Yivg" name="Подсказка 4">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
