<meta charset="utf-8"/>
<co-content>
 <p>
  Разработать макрос UNIQ_ID, который будет формировать идентификатор, уникальный в пределах данного cpp-файла. Например, следующий код должен компилироваться и работать:
 </p>
 <pre language="c_cpp">int UNIQ_ID = 5;
string UNIQ_ID = "hello!";</pre>
 <p>
  В рамках данной задачи допускается, что код
 </p>
 <p>
 </p>
 <pre language="c_cpp">int UNIQ_ID = 5; string UNIQ_ID = "hello"; // оба определения на одной строке</pre>
 <p>
  не будет компилироваться. Заготовка решения:
 </p>
 <asset assettype="generic" extension="cpp" id="bLqqyWNWEeiEZRKxXgWFpg" name="uniq_id">
 </asset>
 <p>
  Подсказки:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    подумайте, как можно применить макрос __LINE__
   </p>
  </li>
  <li>
   <p>
    ознакомьтесь с
    <a href="https://gcc.gnu.org/onlinedocs/cpp/Concatenation.html#Concatenation">
     конкатенацией в макросах
    </a>
   </p>
  </li>
  <li>
   <p>
    а также с
    <a href="https://stackoverflow.com/questions/4364971/and-in-macros">
     макросами в качестве параметров других макросов
    </a>
   </p>
  </li>
 </ul>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
