<meta charset="utf-8"/>
<co-content>
 <p>
  В предыдущем видео мы обсудили категории итераторов довольно  поверхностно, приведя лишь примеры категорий уже известных нам  итераторов. Это помогает с помощью документации понять, для каких  итераторов можно вызывать конкретный алгоритм, но требует довольно  бессмысленного запоминания. В этом материале мы обсудим, на чём основано  такое деление на категории и как угадывать требования алгоритмов, не  обращаясь к документации.
 </p>
 <h2 level="2">
 </h2>
 <h2 level="2">
  Введение
 </h2>
 <p>
  Как известно, итератор в C++ — это абстракция: не какой-то конкретный  тип или набор типов, не какой-то общий базовый класс, а всего лишь
  <strong>
   набор требований
  </strong>
  к типу: возможность итератор разыменовать (*it), увеличить (++it)  и т. д. При этом в разных областях применения итераторов — во  всевозможных алгоритмах и методах контейнеров — набор требований к  итераторам отличается: какие-то алгоритмы требуют от итераторов  большего, чем другие. Так и появляются
  <em>
   категории итераторов:
  </em>
  более детальные наборы требований к соответствующему типу.
 </p>
 <p>
  Чтобы выделить самые базовые категории итераторов, рассмотрим простейший алгоритм —
  <a href="https://en.cppreference.com/w/cpp/algorithm/copy" title="">
   copy
  </a>
  , копирующий значения из переданного диапазона в новое место:
 </p>
 <pre language="c_cpp">template&lt;typename InputIt, typename OutputIt&gt;
OutputIt copy(InputIt first, InputIt last, OutputIt d_first);</pre>
 <p>
  Его реализация (представленная в том числе и в документации)  настолько проста, что использованию этого алгоритма обычно предпочитают  самописный цикл:
 </p>
 <pre language="c_cpp">template&lt;typename InputIt, typename OutputIt&gt;
OutputIt copy(InputIt first, InputIt last, 
              OutputIt d_first)
{
    while (first != last) {
        *d_first++ = *first++;
    }
    return d_first;
}</pre>
 <p>
  Запись *first++ эквивалентна *(first++): по сути это разыменование итератора с
  <em>
   последующим
  </em>
  его сдвигом.
 </p>
 <p>
  <em>
   Любители чуть менее тривиальных примеров могут с тем же успехом рассмотреть алгоритм
  </em>
  <a href="https://en.cppreference.com/w/cpp/algorithm/copy" title="">
   <em>
    copy_if
   </em>
  </a>
  <em>
   или
  </em>
  <a href="https://en.cppreference.com/w/cpp/algorithm/transform" title="">
   <em>
    transform
   </em>
  </a>
  <em>
   .
  </em>
 </p>
 <p>
  Поскольку функция шаблонная, она не указывает конкретный тип своих  параметров, вместо этого выдвигая требования к ним через код: например,  передать в неё числа не выйдет, поскольку их нельзя разыменовать с  помощью *.
 </p>
 <p>
  Уже на этом примере видны различия в использовании итераторов:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    first и last типа InputIt — итераторы, задающие исходный диапазон. Используются для
    <em>
     итерирования
    </em>
    по этому диапазону и, соответственно, должны позволять сравнение на неравенство (first != last), разыменование и инкремент (*first++). Итераторы, удовлетворяющие этим требованиям, называются
    <em>
     входными
    </em>
    (input).
   </p>
  </li>
  <li>
   <p>
    d_first типа OutputIt — итератор, в который копируются значения. Ему достаточно уметь лишь получать очередное значение с последующим инкрементом: *d_first++ = value.  Итераторы, удовлетворяющие этим требованиям, называются
    <em>
     выходными
    </em>
    (output).
   </p>
  </li>
 </ol>
 <p>
  Однако видно, что есть итераторы, являющиеся одновременно и входными,  и выходными: например, итераторы неконстантного вектора; с их помощью  можно и читать значения, и записывать их. Такие итераторы, как правило,  можно отнести и к более узким категориям.
 </p>
 <p>
  С другой стороны, видно, что к любым итераторам можно выдвинуть самые базовые требования:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Возможность сделать ++it, имея в виду перемещение итератора к следующему элементу.
   </p>
  </li>
  <li>
   <p>
    Возможность сделать *it, имея в виду обращение к значению по итератору (возможно, лишь для записи туда нового значения).
   </p>
  </li>
  <li>
   <p>
    Помимо этого допускается объединить разыменование и инкремент в одно выражение с помощью постфиксного инкремента: *it++.
   </p>
  </li>
  <li>
   <p>
    Наконец, есть некоторый набор стандратных технических требований к типам, например, возможность копировать итераторы.
    <strong>
     Полный список
    </strong>
    можно изучить
    <a href="https://en.cppreference.com/w/cpp/named_req/Iterator" title="">
     здесь
    </a>
    .  Однако, несмотря на возможность итератор скопировать, не всегда копию  итератора можно безопасно использовать. Подробнее об этом вы узнаете  ниже в контексте свойства
    <em>
     многопроходности.
    </em>
   </p>
  </li>
 </ol>
 <h2 level="2">
  Входные (input) итераторы
 </h2>
 <p>
  Итак, input-итераторы позволяют проитерироваться по набору значений,  не изменяя их. Например, можно вывести эти значения через пробел:
 </p>
 <pre language="c_cpp">for (; begin != end; ++begin) {
  cout &lt;&lt; *begin &lt;&lt; " ";
}</pre>
 <p>
  (Этот код, конечно, не скомпилируется, если для *it не определён оператор &lt;&lt; вывода в поток: например, для пары или вектора.)
 </p>
 <p>
  Под эти довольно мягкие требования попадают итераторы всех  контейнеров: векторов, множеств, словарей и др., в том числе  константных.
 </p>
 <p>
  Итого, требования к входным итераторам следующие:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    ++it: переход к следующему значению;
   </p>
  </li>
  <li>
   <p>
    *it:
    <strong>
     получение значения
    </strong>
    по итератору;
   </p>
  </li>
  <li>
   <p>
    it-&gt;field: обращение к полю значения, эквивалентно (*it).field;
   </p>
  </li>
  <li>
   <p>
    *(it++): получение текущего значения и переход к следующему;
   </p>
  </li>
  <li>
   <p>
    it1 != end: сравнение на неравенство, необходимое лишь для определения конца диапазона.
   </p>
  </li>
 </ul>
 <p>
  В этот список осознанно не попало довольно важное свойство, которым обладают все итераторы контейнеров, —
  <strong>
   многопроходность.
  </strong>
  Формально его можно определить так: тип итераторов является многопроходным, если по диапазону [begin, end) итераторов этого типа можно
  <strong>
   проитерироваться более одного раза.
  </strong>
  Таким образом, по диапазону из многопроходных итераторов можно пройтись  несколько раз, а по диапазону из однопроходных — только один раз.
 </p>
 <p>
  Чуть ниже мы увидим, как неожиданно могут вести себя однопроходные  итераторы; а в разделе про forward-итераторы — зачем в алгоритмах может  понадобиться многопроходность.
 </p>
 <h3 level="3">
 </h3>
 <h3 level="3">
  istream_iterator
 </h3>
 <p>
  Категории итераторов не возникали на пустом месте: каждая из них  описывает некоторый набор существующих итераторов, не удовлетворяющих  более жёстким требованиям. В частности, типичным примером входного  итератора является
  <strong>
   итератор чтения из потока
  </strong>
  — istream_iterator из заголовочного файла &lt;iterator&gt;. Так выглядит пример заполнения вектора всеми строками из входного потока с помощью этого итератора:
 </p>
 <pre language="c_cpp">const istream_iterator&lt;string&gt; start(cin);
const istream_iterator&lt;string&gt; end;
vector&lt;string&gt; strings(start, end);</pre>
 <p>
  Разыменование этого итератора практически эквивалентно чтению очередного значения из потока (в последнем примере это cin).  Поскольку итератор старается занимать минимально необходимый объём  памяти, он не сохраняет предыдущие считанные значения и потому является  однопроходным. Так, вектор more_strings всегда будет содержать только первое значение: все введённые строки уже сохранены в вектор strings, а сам итератор start помнит лишь значение, сохранённое в нём при инициализации, то есть первую строку из ввода. Попробуйте запустить этот код:
 </p>
 <pre language="c_cpp">const istream_iterator&lt;string&gt; start(cin);
const istream_iterator&lt;string&gt; end;
vector&lt;string&gt; strings(start, end);
vector&lt;string&gt; more_strings(start, end);
// more_strings состоит из одного элемента — strings[0]</pre>
 <p>
  Поскольку такие итераторы не привязаны к конкретной ячейке в памяти и  получают очередное значение из ввода, нельзя рассчитывать и на  «разумное» сравнение итераторов на равенство:
 </p>
 <pre language="c_cpp">const istream_iterator&lt;string&gt; start(cin);
auto start_copy = start;
++start_copy;
cout &lt;&lt; (start == start_copy) &lt;&lt; endl;</pre>
 <p>
  Если ввести больше одной строки, каждый из итераторов будет помнить  свою строку, но при этом они будут считаться равными. Во-первых, с  некоторой точки зрения это логично: при итерировании с помощью любого из  них будет получен один и тот же набор значений (если только не пытаться  использовать оба итератора одновременно). Во-вторых, для простейших  итераторов достаточно иметь возможность корректного сравнения лишь с  конечным итератором. В роли конечного istream-итератора всегда выступает  созданный с помощью конструктора по умолчанию: обычный итератор  становится равным ему, как только данные в потоке иссякли.
 </p>
 <p>
  Как видно из примера с вектором strings, однопроходность  и другие ограничения итераторов не являются критичными: при наличии  возможности использовать дополнительную память все значения из данного  диапазона можно просто сложить в вектор (или любой другой контейнер).
 </p>
 <h3 level="3">
 </h3>
 <h3 level="3">
  Функции, работающие с input-итераторами
 </h3>
 <p>
  Несмотря на вышеперечисленные ограничения, для input-итераторов (как и  для многих других) существуют функции, готовые с ними работать и не  выдвигающие более жёстких требований. Один из самых простых примеров —  использованный в предыдущих примерах конструктор вектора от двух  итераторов: понятно, что для создания вектора по набору значений  достаточно лишь один раз проитерироваться по этому набору. Но как для  произвольной функции понять, достаточно ли передаваемым в неё итераторам  быть входными или требования к ним более жёсткие?
 </p>
 <p>
  Первый способ — заглянуть в документацию, как уже было показано в видео. Например, упомянутый конструктор вектора
  <a href="https://en.cppreference.com/w/cpp/container/vector/vector" title="">
   выглядит
  </a>
  следующим образом:
 </p>
 <pre language="c_cpp">template&lt;class InputIt&gt;
vector(InputIt first, InputIt last, 
       const Allocator&amp; alloc = Allocator());</pre>
 <p>
  Не обращайте внимания на аллокатор: здесь достаточно заметить, что тип итератора (шаблонный параметр функции) — InputIt.
 </p>
 <p>
  Второй способ — опираясь на своё представление о реализации этой  функции, оценить, что именно требуется от итераторов. Рассмотрим,  например, уже известные вам алгоритмы count и count_if,  вычисляющие количество элементов в заданном наборе, удовлетворяющих  некоторому условию. Понятно, что их можно реализовать предельно просто, с  помощью лишь одного прохода по данному диапазону. Эта догадка  подтверждается
  <a href="https://en.cppreference.com/w/cpp/algorithm/count" title="">
   документацией
  </a>
  : как заветным InputIt  в заголовках функций, так и секцией «Possible implementation», в  которой приведена возможная реализация этой функции и ссылки на её  настоящую реализацию в стандартных библиотеках.
 </p>
 <p>
  Иногда построение подобных догадок требует более углублённого знания  алгоритмов и структур данных. Так, например, может показаться  неочевидным, что
  <a href="https://en.cppreference.com/w/cpp/algorithm/merge" title="">
   функция merge
  </a>
  ,  сливающая два отсортированных диапазона в один, требует на входе лишь  входные итераторы. И всё же всегда можно заглянуть в документацию или  даже просто попробовать скомпилировать нужный код, а параллельно  развивать интуицию и знание алгоритмов. Но имейте в виду: не всегда одна  лишь компилируемость функции для некоторых итераторов означает, что она  будет корректно работать. Соответствующий пример будет рассмотрен ниже.
 </p>
 <p>
  <strong>
   Полный список требований
  </strong>
  к input-итераторам находится
  <a href="https://en.cppreference.com/w/cpp/named_req/InputIterator" title="">
   здесь
  </a>
  .
 </p>
 <h2 level="2">
 </h2>
 <h2 level="2">
  Выходные (output) итераторы
 </h2>
 <p>
  Напомним, как использовался выходной итератор d_first в реализации функции copy:
 </p>
 <pre language="c_cpp">template&lt;typename InputIt, typename OutputIt&gt;
OutputIt copy(InputIt first, InputIt last, 
              OutputIt d_first)
{
    while (first != last) {
        *d_first++ = *first++;
    }
    return d_first;
}</pre>
 <p>
  Отсюда видно, что единственное требование к выходному итератору — уметь принимать очередное значение с помощью конструкции *d_first++ = value. Понятно, что итераторы неконстантных (изменяемых) контейнеров умеют это без каких-либо доработок: *d_first возвращает ссылку на элемент, с помощью которой можно записать новое значение, а оператор ++ действительно перемещает итератор на следующую ячейку памяти.
 </p>
 <p>
  Но итераторы хороши своим уровнем абстракции: для того, чтобы  складывать куда-то значения, необязательно хранить адрес какой-то ячейки  в памяти; достаточно лишь реализовать конструкцию *it++ = value. Это позволяет реализовать уже известные вам back_insert_iterator и insert_iterator (конструируемые с помощью функций back_inserter и inserter), а также
  <a href="https://en.cppreference.com/w/cpp/iterator/ostream_iterator" title="">
   ostream_iterator
  </a>
  — итератор вывода в поток.
 </p>
 <p>
  Но как это реализовано и можно ли использовать разыменование и инкремент выходного итератора в отрыве от конструкции *it++ = value? Ответ на это легко найти в
  <a href="https://en.cppreference.com/w/cpp/iterator/back_insert_iterator" title="">
   документации
  </a>
  :
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    инкремент итератора не делает
    <em>
     ничего;
    </em>
   </p>
  </li>
  <li>
   <p>
    разыменование итератора возвращает ссылку
    <em>
     на сам итератор;
    </em>
   </p>
  </li>
  <li>
   <p>
    зато реализовано присваивание итератору сохраняемого значения, здесь как раз и сосредоточена основная логика.
   </p>
  </li>
 </ul>
 <p>
  Таким образом, для подобных итераторов запись *it++ = value эквивалентна it = value,  но при этом первый вариант универсален и работает для всех выходных  итераторов, включая, например, итераторы вектора. Не используйте второй  вариант: вас не поймут.
 </p>
 <p>
  Отдельно отметим, что
  <strong>
   выходными не являются
  </strong>
  итераторы множеств (set&lt;T&gt;), словарей (map&lt;K, V&gt;) и константных контейнеров (const vector&lt;T&gt;). Это объясняется очень легко: для этих итераторов ссылка *it является константной и потому не допускает запись.
 </p>
 <p>
  В предыдущих видео мы уже рассматривали алгоритмы, возвращающие набор  значений с помощью выходных итераторов. Обратите внимание, что эти алгоритмы для возврата одного набора  принимают один выходной итератор, а не диапазон; поэтому от выходного  итератора не требуется возможность сравнения на неравенство. С другой  стороны, передаваемый в функцию выходной итератор должен гарантированно  уметь принять все переданные в него значения.
 </p>
 <p>
  <strong>
   Полный список требований
  </strong>
  к output-итераторам находится
  <a href="https://en.cppreference.com/w/cpp/named_req/OutputIterator" title="">
   здесь
  </a>
  .
 </p>
 <h2 level="2">
 </h2>
 <h2 level="2">
  Прямые (forward) итераторы
 </h2>
 <p>
  Категория forward-итераторов приближает рассмотренные выше абстракции к итераторам настоящих контейнеров.
 </p>
 <p>
  Рассмотрим
  <a href="https://en.cppreference.com/w/cpp/container/forward_list" title="">
   forward_list
  </a>
  (односвязный список) — линейный контейнер, который позволяет  проитерироваться по элементам в прямом порядке, но не в обратном и не  перескакивая через несколько элементов. Объясняется это тем, что каждый  элемент односвязного списка хранится в памяти независимо и «знает» лишь,  где находится следующий за ним. Понятно, что итераторы этого контейнера  являются входными, а в случае его неконстантности ещё и выходными. Но  какими дополнительными преимуществами обладают итераторы списка?
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    <em>
     Многопроходность:
    </em>
    поскольку за итератором стоят реально хранящиеся в памяти элементы, ничто не мешает проитерироваться по ним несколько раз.
   </p>
  </li>
  <li>
   <p>
    <em>
     Итератор разыменовывается в ссылку,
    </em>
    а не во что-то ненастоящее, как было с back_insert_iterator. (Впрочем, существуют forward-итераторы, для которых operator* возвращает результат по значению.)
   </p>
  </li>
  <li>
   <p>
    <em>
     Разумное сравнение:
    </em>
    благодаря тому, что каждый итератор  (кроме, возможно, end) указывает на реальное место в памяти, нет проблем  в определении корректного сравнения на равенство и неравенство для  любых итераторов
    <em>
     одного контейнера.
    </em>
   </p>
  </li>
 </ol>
 <p>
  Это и есть достаточно полный список требований, отличающих прямой  итератор от входного. При этом в случае неконстантности ссылки из п. 2  итератор оказывается ещё и выходным.
 </p>
 <h3 level="3">
 </h3>
 <h3 level="3">
  Функции, работающие с forward-итераторами
 </h3>
 <p>
  Рассмотренный выше список требований может показаться довольно  искусственным: неужели есть алгоритмы, которые принимают  forward-итераторы, но не готовы работать с входными? Оказывается, что  да, и дело в первую очередь в многопроходности.
 </p>
 <p>
  В качестве примера можно привести следующие алгоритмы, не изменяющие переданный диапазон:
  <a href="https://en.cppreference.com/w/cpp/algorithm/find_first_of" title="">
   find_first_of
  </a>
  ,
  <a href="https://en.cppreference.com/w/cpp/algorithm/find_end" title="">
   find_end
  </a>
  ,
  <a href="https://en.cppreference.com/w/cpp/algorithm/search" title="">
   search
  </a>
  ,
  <a href="https://en.cppreference.com/w/cpp/algorithm/adjacent_find" title="">
   adjacent_find
  </a>
  . Сигнатура простейшего варианта функции find_first_of выглядит следующим образом:
 </p>
 <pre language="c_cpp">template&lt;typename InputIt, typename ForwardIt&gt;
InputIt find_first_of(InputIt first, InputIt last,
                      ForwardIt s_first, ForwardIt s_last);</pre>
 <p>
  В результате возвращается первый из элементов [first, last), равный одному из элементов [s_first, s_last).  Понятно, что самый простой способ это реализовать — для каждого  элемента первого диапазона сравнить его с каждым элементов второго. И  действительно, код этой функции по сути эквивалентен такому:
 </p>
 <pre language="c_cpp">return find_if(
    first, last,
    [s_first, s_last](const auto&amp; value) {
      return find(s_first, s_last, value) != s_last;
    }
);</pre>
 <p>
  Такой код не требует многопроходности от первого диапазона, но для второго она необходима, так как find для него запускается несколько раз.
 </p>
 <p>
  Похожая история имеет место для алгоритма
  <a href="https://en.cppreference.com/w/cpp/algorithm/search" title="">
   search
  </a>
  : search(first, last, s_first, s_last) ищёт первое вхождение [s_first, s_last) в [first, last),  примеряя один полуинтервал ко второму во всевозможных позициях;  соответственно, многопроходность требуется от обоих диапазонов.
  <a href="https://en.cppreference.com/w/cpp/algorithm/find_end" title="">
   find_end
  </a>
  , в свою очередь, решает очень похожую задачу и с большой вероятностью использует search
 </p>
 <p>
  adjacent_find
 </p>
 <p>
  С
  <a href="https://en.cppreference.com/w/cpp/algorithm/adjacent_find" title="">
   adjacent_find
  </a>
  дело обстоит несколько сложнее:
 </p>
 <pre language="c_cpp">template&lt;typename ForwardIt&gt;
ForwardIt adjacent_find(ForwardIt first, ForwardIt last);</pre>
 <p>
  Этот алгоритм ищет совпадающие соседние элементы. Неужели это нельзя  сделать за один проход и ослабить требования на параметры до  input-итераторов? Чтобы разобраться, рассмотрим возможную реализацию,  которая приводится в документации:
 </p>
 <pre language="c_cpp">template&lt;typename ForwardIt&gt;
ForwardIt adjacent_find(ForwardIt first, ForwardIt last) {
    if (first == last) {
        return last;
    }
    ForwardIt next = first;
    ++next;
    for (; next != last; ++next, ++first) {
        if (*first == *next) {
            return first;
        }
    }
    return last;
}</pre>
 <p>
  Видите ли вы, где этот код требует многопроходности?
 </p>
 <p>
  По сути он дважды итерируется по диапазону: сначала с помощью next, а сразу за ним — first. Найдите тест, на котором эта функция будет некорректно работать для istream-итераторов. Проверьте, работает ли на этом тесте adjacent_find из стандартной библиотеки.
 </p>
 <p>
  Перейдём на некоторое время в более формальную плоскость и  разберёмся, в каких именно требованиях выражается многопроходность. Их  можно найти
  <a href="https://en.cppreference.com/w/cpp/named_req/ForwardIterator" title="">
   в статье про ForwardIterator
  </a>
  , в разделе «Multipass guarantee». Какие из этих свойств действительно необходимы для корректной работы последнего примера?
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Корректность сравнения на == любых итераторов. В последнем примере
    <strong>
     не нужна:
    </strong>
    сравнение происходит только с last.
   </p>
  </li>
  <li>
   <p>
    Безопасность записи нового значения.
    <strong>
     Не актуально,
    </strong>
    так как adjacent_find не изменяет элементы.
   </p>
  </li>
  <li>
   <p>
    Устойчивость *it к увеличению копии it.
    <strong>
     Нужна,
    </strong>
    и для istream-итератора выполняется благодаря сохранению текущего элемента.
   </p>
  </li>
  <li>
   <p>
    Выполнение ++it1 == ++it2 для равных итераторов it1 и it2. С одной стороны, как уже было отмечено в п. 1, сравнение итераторов в этом коде не очень нужно, с другой — явно
    <strong>
     ожидается,
    </strong>
    что при увеличении обоих итераторов first и next с отставанием в 1 шаг будет получаться одинаковое значение. Таким образом, в сочетании с п. 1 получаем свойство, которое
    <strong>
     нужно и не выполняется
    </strong>
    для istream-итераторов.
   </p>
  </li>
 </ol>
 <p>
  Можно ли реализовать adjacent_find без одновременного прохода двумя итераторами? Да, и такой код можно увидеть
  <a href="https://github.com/gcc-mirror/gcc/blob/d9375e490072d1aae73a93949aa158fcd2a27018/libstdc%2B%2B-v3/include/bits/stl_algo.h#L945" title="">
   в реализации этого алгоритма в стандартной библиотеке g++
  </a>
  (для краткости приведена версия без использования предиката):
 </p>
 <pre language="c_cpp">template&lt;typename ForwardIterator&gt;
ForwardIterator adjacent_find(ForwardIterator first, ForwardIterator last) {
  if (first == last) {
    return last;
  }
  ForwardIterator next = first;
  while (++next != last) {
    if (*first == *next) {
      return first;
    }
    first = next;
  }
  return last;
}</pre>
 <p>
  Такой код уже
  <strong>
   успешно работает с istream-итераторами.
  </strong>
  Но тогда почему не ослабить требования на параметры adjacent_find? Неужели istream-итератор в чём-то лучше стандартного input-итератора?
 </p>
 <p>
  Да, и это свойство неоднократно обсуждалось выше. По стандарту от input-итератора не требуется сохранение текущего значения.
  <a href="https://en.cppreference.com/w/cpp/named_req/InputIterator" title="">
   Более формально
  </a>
  , при увеличении итератора его копии не обязаны оставаться разыменуемыми. Это свойство требуется при разыменовании итератора first,  но выполняется для input-итератора как раз благодаря тому, что он  помнит текущее значение и «не теряет» его при копировании и сдвиге.
 </p>
 <p>
  Можно ли реализовать adjacent_find так, чтобы он действительно мог работать с любыми input-итераторами? Да, и для этого достаточно вместо first между соседними итерациями сохранять само предыдущее значение — *first  — в отдельную переменную. Правда, так не стоит делать для  многопроходных итераторов, поэтому понадобится отдельный вариант  функции.
 </p>
 <p>
  Дополнения
 </p>
 <p>
  Ещё одно место в документации, где можно легко встретить forward-итераторы —
  <strong>
   параллельные версии
  </strong>
  алгоритмов, работающих с input-итераторами, например,
  <a href="https://en.cppreference.com/w/cpp/algorithm/count" title="">
   count
  </a>
  :
 </p>
 <pre language="c_cpp">template&lt;typename ExecutionPolicy, typename ForwardIt, typename T&gt;
int count(
    ExecutionPolicy&amp;&amp; policy,
    ForwardIt first, ForwardIt last,
    const T&amp; value
);</pre>
 <p>
  Параллельность будет подробно обсуждаться в следующем курсе, но суть  здесь следующая: подсчёт количества элементов в диапазоне  распараллеливается на разные потоки, для этого исходный диапазон  разбивается на порции, которые будут независимо этими потоками  обрабатываться — так и возникает необходимость в многопроходности.
 </p>
 <p>
  Наконец, как уже обсуждалось в предыдущем видео, нужно иметь в виду,  что некоторые алгоритмы, принимающие forward-итераторы, в отличие от  рассмотренных выше, изменяют или переставляют элементы. Простые примеры:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <a href="https://en.cppreference.com/w/cpp/algorithm/remove" title="">
     remove
    </a>
    переставляет элементы местами, откладывая лишние;
   </p>
  </li>
  <li>
   <p>
    <a href="https://en.cppreference.com/w/cpp/algorithm/replace" title="">
     replace
    </a>
    присваивает некоторым элементам новое значение.
   </p>
  </li>
 </ul>
 <p>
  Понятно, что такие алгоритмы нельзя вызвать для константных  итераторов. Обычно по описанию функции легко понять, собирается ли она  менять переданные элементы.
 </p>
 <p>
  Итак, мы подробно обсудили отличия forward-итераторов от более  широких категорий. В первую очередь, это многопроходность, в которой  периодически возникает необходимость. Также forward-итераторы — самые  простые, позволяющие одновременно и читать нижележащие значения, и  изменять их.
 </p>
 <p>
  <strong>
   Полный список требований
  </strong>
  к forward-итераторам находится
  <a href="https://en.cppreference.com/w/cpp/named_req/ForwardIterator" title="">
   здесь
  </a>
  .
 </p>
 <h2 level="2">
 </h2>
 <h2 level="2">
  Двунаправленные (bidirectional) итераторы
 </h2>
 <p>
  Как легко понять по названию, с помощью двунаправленных итераторов можно итерироваться как вперёд, так и назад — с помощью --it или it--. Остальные свойства эти итераторы наследуют от прямых: таким образом,
  <strong>
   любой bidirectional-итератор является forward-итератором.
  </strong>
  Более того, поскольку любой forward-итератор является входным, то и любой двунаправленный им является.
 </p>
 <p>
  Двунаправленными являются итераторы всех контейнеров, кроме рассмотренного выше и редко используемого forward_list.  При этом итераторы множества и словаря являются двунаправленными и не  принадлежат более узким категориям, то есть не удовлетворяют более  жёстким требованиям, рассмотренным ниже.
 </p>
 <p>
  Ожидаемо есть и алгоритмы, на эту двунаправленность полагающиеся: как переставляющий элементы
  <a href="https://en.cppreference.com/w/cpp/algorithm/reverse" title="">
   reverse
  </a>
  , так и просто читающий (и записывающий) элементы в обратном порядке
  <a href="https://en.cppreference.com/w/cpp/algorithm/copy_backward" title="">
   copy_backward
  </a>
  . В документации такие итераторы коротко обозначаются BidirIt.
 </p>
 <p>
  <strong>
   Полный список требований
  </strong>
  к bidirectional-итераторам находится
  <a href="https://en.cppreference.com/w/cpp/named_req/BidirectionalIterator" title="">
   здесь
  </a>
  .
 </p>
 <h2 level="2">
 </h2>
 <h2 level="2">
  Итераторы произвольного доступа (random access)
 </h2>
 <p>
  Наконец, мы перешли к категории итераторов с максимальным набором  требований — из тех, что могут быть необходимы для вызова алгоритма. Итераторы произвольного доступа умеют всё то же, что и итераторы  вектора. А именно:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Являются двунаправленными.
   </p>
  </li>
  <li>
   <p>
    Позволяют сдвинуть итератор на целочисленное количество позиций:
   </p>
  </li>
 </ol>
 <ul bullettype="bullets">
  <li>
   <p>
    it + n, n + it, it - n (результат — итератор);
   </p>
  </li>
  <li>
   <p>
    it += n, it -= n (результат — ссылка на итератор);
   </p>
  </li>
  <li>
   <p>
    it[n] (эквивалентно *(it + n)).
   </p>
  </li>
 </ul>
 <ol bullettype="numbers">
  <li>
   <p>
    Позволяют вычитать итераторы и сравнивать их: it1 - it2, it1 &lt; it2, it1 &lt;= it2, it1 &gt; it2, it1 &gt;= it2.
   </p>
  </li>
 </ol>
 <p>
  Этим требованиям удовлетворяют итераторы вектора и дека (про него вы узнаете в следующем блоке), но не множества и словаря.
 </p>
 <p>
  Может возникнуть вопрос: почему бы не реализовать операцию it + n для любых итераторов, не являющихся random access, с помощью n-кратного  инкремента? Дело в том, что C++ старается не обманывать разработчика и  требует эффективной реализации от операций, выглядящих как встроенные. В  данном случае прибавление числа к итератору
  <em>
   должно иметь константную сложность.
  </em>
  Для обобщённых операций с итераторами есть следующие функции из заголовочного файла &lt;iterator&gt;:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <a href="https://en.cppreference.com/w/cpp/iterator/next" title="">
     next
    </a>
    замещает it + 1 или it + n;
   </p>
  </li>
  <li>
   <p>
    <a href="https://en.cppreference.com/w/cpp/iterator/prev" title="">
     prev
    </a>
    замещает it - 1 или it - n;
   </p>
  </li>
  <li>
   <p>
    <a href="https://en.cppreference.com/w/cpp/iterator/advance" title="">
     advance
    </a>
    замещает it += n;
   </p>
  </li>
  <li>
   <p>
    <a href="https://en.cppreference.com/w/cpp/iterator/distance" title="">
     distance
    </a>
    замещает it2 - it1.
   </p>
  </li>
 </ul>
 <p>
  Сложность этих функций линейна (по n или результату distance), но для итераторов произвольного доступа константная, потому что в этом случае реализация осуществляется с помощью +, - и +=.
 </p>
 <p>
  Итератор произвольного доступа не обязан ссылаться на конкретные ячейки в памяти. Например, можно реализовать
  <strong>
   считающий итератор,
  </strong>
  поочерёдно возвращающий значения целочисленного типа: 1, 2, 3 и т. д. Такой итератор реализован в библиотеке ranges C++20: см.
  <a href="https://en.cppreference.com/w/cpp/ranges/iota_view" title="">
   статью про iota_view
  </a>
  , секцию std::ranges::iota_view::iterator. В частности, видно, что категория этого итератора зависит от возможностей типа W, по которому выполняется перебор. Подробнее библиотека ranges будет рассмотрена в 4-м курсе специализации.
 </p>
 <h3 level="3">
 </h3>
 <h3 level="3">
  Функции, работающие с random access итераторами
 </h3>
 <p>
  Напомним, что в силу наследования свойств рассмотренные выше функции,  принимающие входные, прямые и двунаправленные итераторы, можно вызвать  для итераторов произвольного доступа. Функции, принимающие выходные  итераторы, можно вызвать только для неконстантных итераторов.
 </p>
 <p>
  При этом есть функции, принимающие лишь итераторы произвольного  доступа, то есть требующие сравнения итераторов или быстрого перемещения  на несколько ячеек. Простой пример такой функции —
  <a href="https://en.cppreference.com/w/cpp/algorithm/random_shuffle" title="">
   shuffle
  </a>
  :  произвольный доступ в ней необходим для выбора случайного элемента из  диапазона с помощью быстрого обращения по случайному индексу. Слово  «random» неслучайно присутствует и в названии категории итераторов, и в  старом названии функции shuffle, однако путать эти его смыслы всё же не стоит: итераторы с
  <em>
   произвольным
  </em>
  доступом позволяют за константную сложность обращаться по
  <em>
   произвольному
  </em>
  индексу, но напрямую со случайностью не связаны.
 </p>
 <p>
  Таких функций, которые вовсе не скомпилируются для двунаправленных  итераторов, немного. Чаще вы встретите ситуацию, которую удобно обсудить  на примере алгоритма
  <a href="https://en.cppreference.com/w/cpp/algorithm/lower_bound" title="">
   lower_bound
  </a>
  . В реализации этого алгоритма необходимо обращаться к
  <em>
   середине диапазона итераторов.
  </em>
  Если сделать это с помощью +, алгоритм будет работать только для итераторов произвольного доступа — но быстро. Если же использовать advance, как и сделано в секции «Possible implementation», алгоритм будет работать и для forward-итераторов, пусть и медленнее.
 </p>
 <p>
  Соответственно, в секции «Сложность» для lower_bound гарантируется следующее:
  <em>
   функция выполняет O(log(last - first)) сравнений, однако для не random access итераторов количество инкрементов итераторов будет линейным.
  </em>
 </p>
 <p>
  <strong>
   Полный список требований
  </strong>
  к итераторам произвольного доступа находится
  <a href="https://en.cppreference.com/w/cpp/named_req/RandomAccessIterator" title="">
   здесь
  </a>
  .
 </p>
 <h2 level="2">
 </h2>
 <h2 level="2">
  Перегрузка функций по категориям итераторов
 </h2>
 <p>
  Выше мы неоднократно заявляли о возможности реализовать некоторую  функцию разными способами в зависимости от категории переданных в неё  итераторов. До C++20 стандартный способ сделать это — использовать теги  итераторов. Рассмотрим простейший пример
  <a href="https://en.cppreference.com/w/cpp/iterator/iterator_tags" title="">
   из документации
  </a>
  :
 </p>
 <pre language="c_cpp">template&lt;typename BDIter&gt;
void alg(BDIter it1, BDIter it2, std::bidirectional_iterator_tag) {
  std::cout &lt;&lt; "alg() called for bidirectional iterator\n";
}
 
template&lt;typename RAIter&gt;
void alg(RAIter it1, RAIter it2, std::random_access_iterator_tag) {
  std::cout &lt;&lt; "alg() called for random-access iterator\n";
}
 
template&lt;typename Iter&gt;
void alg(Iter first, Iter last) {
  alg(first, last,
      typename std::iterator_traits&lt;Iter&gt;::iterator_category());
}
 
int main() {
  std::vector&lt;int&gt; v;
  alg(v.begin(), v.end());
  // выведет «alg() called for random-access iterator»
 
  std::list&lt;int&gt; l;
  alg(l.begin(), l.end());
  // выведет «alg() called for bidirectional iterator»
}</pre>
 <p>
  Обсудим эту схему по пунктам:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    В main вызывается функция alg от двух итераторов: вектора или списка. Есть ровно одна версия шаблона alg с 2 параметрами, так что вызывается именно она.
   </p>
  </li>
  <li>
   <p>
    В функции alg с 2 параметрами определяется тег итератора. typename std::iterator_traits&lt;Iter&gt;::iterator_category — это тип для этого тега: std::random_access_iterator_tag для итератора вектора и std::bidirectional_iterator_tag для итератора списка. То же выражение с пустыми круглыми скобками в конце — значение по умолчанию этого типа.
   </p>
  </li>
  <li>
   <p>
    Есть две версии шаблонной функции alg с 3 параметрами:  первые два из них шаблонные (и потому в текущем виде не помогают выбрать  конкретную версию функции), а третий имеет конкретный тип: это std::random_access_iterator_tag или std::bidirectional_iterator_tag.  Сам третий параметр не используется, поэтому его название в заголовке  функции не указано. Именно тип 3-го параметра помогает компилятору  выбрать конкретную версию функции alg в зависимости от категории исходных итераторов.
   </p>
  </li>
  <li>
   <p>
    В зависимости от категории итератора выполняется конкретная логика. В данном случае всего лишь выводятся разные сообщения.
   </p>
  </li>
 </ol>
 <p>
  Рассмотрим теперь реальный пример такой перегрузки —
  <a href="https://github.com/llvm-mirror/libcxx/blob/a12cb9d211019d99b5875b6d8034617cbc24c2cc/include/algorithm#L1278-L1317" title="">
   реализацию алгоритма equal в стандартной библиотеке libc++
  </a>
  .
 </p>
 <p>
  Эта версия equal поэлементно сравнивает два диапазона итераторов [first1, last1) и [first2, last2) с помощью бинарного предиката p:
 </p>
 <pre language="c_cpp">template&lt;typename InputIt1, typename InputIt2, class BinaryPredicate&gt;
bool equal(InputIt1 first1, InputIt1 last1, 
           InputIt2 first2, InputIt2 last2,
           BinaryPredicate p);</pre>
 <p>
  Понятно, что если эти диапазоны имеют разную длину, их даже не надо сравнивать: можно сразу вернуть false.  Но быстро вычислить длину можно только для итераторов произвольного  доступа, так что хочется реализовать такую оптимизацию именно для них.  Это так и сделано: в перегрузке по random_access_iterator_tag вызывается distance и в случае неравенства длин возвращается false; затем вызывается версия функции equal без 4-го аргумента — конца второго диапазона.
 </p>
 <pre language="c_cpp">template &lt;class _BinaryPredicate, class _RandomAccessIterator1, class _RandomAccessIterator2&gt;
inline _LIBCPP_INLINE_VISIBILITY _LIBCPP_CONSTEXPR_AFTER_CXX17
bool
__equal(_RandomAccessIterator1 __first1, _RandomAccessIterator1 __last1,
        _RandomAccessIterator2 __first2, _RandomAccessIterator2 __last2, _BinaryPredicate __pred,
      random_access_iterator_tag, random_access_iterator_tag )
{
    if ( _VSTD::distance(__first1, __last1) != _VSTD::distance(__first2, __last2))
        return false;
    return _VSTD::equal&lt;_RandomAccessIterator1, _RandomAccessIterator2,
                        typename add_lvalue_reference&lt;_BinaryPredicate&gt;::type&gt;
                       (__first1, __last1, __first2, __pred );
}</pre>
 <h2 level="2">
 </h2>
 <h2 level="2">
  Непрерывные (contiguous) итераторы
 </h2>
 <p>
  Казалось бы, неужели можно придумать более жёсткие требования к  итераторам, которые ещё и будут актуальны для каких-либо алгоритмов?  Можно. Однако, подобно свойству многопроходности, это новое свойство  нельзя проверить на этапе компиляции.
 </p>
 <p>
  Это свойство — непрерывность хранения в памяти соответствующих  итератору данных. Мы пока не изучали указатели, но если они вам уже  знакомы, взгляните на более формальное определение: it[n]
  <em>
   эквивалентно
  </em>
  (&amp;*it)[n]. Знание о том, что данные хранятся в памяти непрерывно, в некоторых случаях позволяет работать с ними более эффективно.
 </p>
 <p>
  Непрерывными являются итераторы векторов и строк, а также сырые  указатели и итераторы массива. Итераторы дека, изучаемого далее в этой  неделе, являются random access, но не являются непрерывными. Подробнее  про массивы, деки и особенности хранения данных в них вы узнаете в  разделе «Линейные контейнеры» 3-го курса.
 </p>
 <p>
  Понятие contiguous-итератора введено в язык в C++17, однако вместе с ним
  <a href="https://stackoverflow.com/questions/42851957/contiguous-iterator-detection" title="">
   не появился
  </a>
  contiguous_iterator_tag,  позволяющий реализовать перегрузку из предыдущего раздела. Так пришлось  поступить из-за нежелания сломать обратную совместимость: до C++17 было  написано большое количество кода, полагающегося на то, что iterator_category для итераторов векторов и строк — это в точности random_access_iterator_tag.  Тем не менее, в C++20 появляется более нативная возможность перегрузки  функций по категориям итераторов (в том числе и для непрерывных) —
  <strong>
   концепты.
  </strong>
 </p>
 <p>
  При этом аналог этой перегрузки реализовывался и до последних стандартов — но исключительно для сырых указателей. Например,
  <a href="https://en.cppreference.com/w/cpp/algorithm/fill" title="">
   алгоритм fill
  </a>
  можно реализовать эффективнее для непрерывного диапазона элементов-байтов — с помощью
  <a href="https://en.cppreference.com/w/cpp/string/byte/memset" title="">
   функции memset
  </a>
  , унаследованной из языка C.
  <a href="https://github.com/gcc-mirror/gcc/blob/d9375e490072d1aae73a93949aa158fcd2a27018/libstdc%2B%2B-v3/include/bits/stl_algobase.h#L717-L726" title="">
   В стандартной библиотеке libstdc++
  </a>
  это сделано так:
 </p>
 <pre language="c_cpp">// Specialization: for char types we can use memset.
template&lt;typename _Tp&gt;
  inline typename
  __gnu_cxx::__enable_if&lt;__is_byte&lt;_Tp&gt;::__value, void&gt;::__type
  __fill_a(_Tp* __first, _Tp* __last, const _Tp&amp; __c)
  {
    const _Tp __tmp = __c;
    if (const size_t __len = __last - __first)
      __builtin_memset(__first, static_cast&lt;unsigned char&gt;(__tmp), __len);
  }</pre>
 <p>
  Мы не будем углябляться в детали этого кода, но в конечном счёте его смысл следующий: для простых типов (эквивалентных unsigned char) и для итераторов, являющихся указателями, вызывается memset. Эта функция не вызовется, если итератор является
  <em>
   обёрткой
  </em>
  над указателем, как это иногда случается с итераторами вектора.
 </p>
 <p>
  Итого, в полной мере использовать понятие непрерывного итератора  можно будет лишь в C++20 с помощью концептов, которые будут затронуты  позже в нашей специализации.
 </p>
 <p>
  <strong>
   Полный список требований
  </strong>
  к contiguous-итераторам находится
  <a href="https://en.cppreference.com/w/cpp/named_req/ContiguousIterator" title="">
   здесь
  </a>
  .
 </p>
 <h2 level="2">
 </h2>
 <h2 level="2">
  vector&lt;bool&gt;::iterator
 </h2>
 <p>
  Выше мы утаили неудобную правду про итераторы
  <a href="https://en.cppreference.com/w/cpp/container/vector_bool" title="">
   контейнера vector&lt;bool&gt;
  </a>
  : оказывается, они не являются не то что непрерывными, а даже forward!
 </p>
 <p>
  Дело в том, что vector&lt;bool&gt; устроен так, что каждый элемент занимает в нём не один байт (как одна переменная типа bool), а один бит. С одной стороны, это в 8 раз эффективнее по памяти, с другой —
  <strong>
   не существует ссылки на бит.
  </strong>
  Что же тогда возвращает *it для таких итераторов?
 </p>
 <p>
  Результат этого выражения — так называемый
  <em>
   прокси-объект:
  </em>
  он ведёт себя как ссылка, при этом ссылкой не являясь. Он умеет неявно преобразоваться в bool, ему можно присвоить bool, но это не bool&amp;. Таким образом, нарушается формальное требование к forward-итераторам: *it должно возвращать именно ссылку на элемент.
 </p>
 <p>
  Тем не менее, по правилам хорошего тона итераторы vector&lt;bool&gt; часто поддерживаются наравне с итераторами других векторов, и формальное требование про ссылку оказывается избыточным.
 </p>
 <p>
  В одной из задач этого блока вам понадобится получить по типу итератора It (или переменной it) тип нижележащего значения. Те, кто знакомы с decltype, могут предложить использовать для этого выражение decltype(*it). Но из-за этих же нестандартных итераторов *it не будет ссылкой на bool, и поэтому лучше использовать typename It::value_type. Самый же универсальный способ, работающий в том числе и для сырых указателей, — typename iterator_traits&lt;It&gt;::value_type.
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
