<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите шаблонную функцию RemoveDuplicates, принимающую по ссылке вектор elements объектов типа T и удаляющую из него все дубликаты элементов. Порядок оставшихся элементов может быть любым.
 </p>
 <p>
  Гарантируется, что объекты типа T можно сравнивать с помощью операторов ==, !=, &lt; и &gt;.
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
void RemoveDuplicates(vector&lt;T&gt;&amp; elements);</pre>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  vector&lt;int&gt; v1 = {6, 4, 7, 6, 4, 4, 0, 1};
  RemoveDuplicates(v1);
  for (int x : v1) {
    cout &lt;&lt; x &lt;&lt; " ";
  }
  cout &lt;&lt; endl;
  
  vector&lt;string&gt; v2 = {"C", "C++", "C++", "C", "C++"};
  RemoveDuplicates(v2);
  for (const string&amp; s : v2) {
    cout &lt;&lt; s &lt;&lt; " ";
  }
  cout &lt;&lt; endl;
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">6 4 7 0 1
C++ C</pre>
 <p>
  Порядок элементов может быть другим, например:
 </p>
 <p>
 </p>
 <pre language="plain_text">7 4 6 1 0
C C++</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
