<meta charset="utf-8"/>
<co-content>
 <p>
  Дано целое положительное число N, не превышающее 9. Выведите все перестановки чисел от 1 до N в обратном лексикографическом порядке (см. пример).
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">3</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">3 2 1
3 1 2
2 3 1
2 1 3
1 3 2
1 2 3
</pre>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  Библиотека &lt;algorithm&gt; содержит готовые функции, позволяющие решить эту задачу.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
