<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вам необходимо вычислить различные демографические показатели для группы людей. Человек представляется структурой Person:
 </p>
 <pre language="c_cpp">struct Person {
  int age;  // возраст
  Gender gender;  // пол
  bool is_employed;  // имеет ли работу
};
</pre>
 <p>
  Тип Gender определён следующим образом:
 </p>
 <pre language="c_cpp">enum class Gender {
  FEMALE,
  MALE
};
</pre>
 <p>
  Вам необходимо написать функцию PrintStats, получающую вектор людей, вычисляющую и выводящую медианный возраст для каждой из следующих групп людей:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    все люди;
   </p>
  </li>
  <li>
   <p>
    все женщины;
   </p>
  </li>
  <li>
   <p>
    все мужчины;
   </p>
  </li>
  <li>
   <p>
    все занятые женщины;
   </p>
  </li>
  <li>
   <p>
    все безработные женщины;
   </p>
  </li>
  <li>
   <p>
    все занятые мужчины;
   </p>
  </li>
  <li>
   <p>
    все безработные мужчины.
   </p>
  </li>
 </ul>
 <p>
  Все 7 чисел нужно вывести в строгом соответствии с форматом (см. пример).
 </p>
 <pre language="c_cpp">void PrintStats(vector&lt;Person&gt; persons);</pre>
 <p>
  Принимая вектор по значению (а не по константной ссылке), вы получаете возможность модифицировать его копию произвольным образом и тем самым проще произвести вычисления.
 </p>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  Используйте алгоритм partition.
 </p>
 <h2 level="2">
  Вычисление медианного возраста
 </h2>
 <p>
  Для вычисления медианного возраста группы людей вы должны использовать функцию ComputeMedianAge:
 </p>
 <pre language="c_cpp">template &lt;typename InputIt&gt;
int ComputeMedianAge(InputIt range_begin, InputIt range_end);</pre>
 <p>
  <strong>
   Эту функцию не нужно реализовывать самостоятельно:
  </strong>
  мы реализовали её за вас и автоматически добавим к каждому вашему решению.
 </p>
 <p>
  Функцию ComputeMedianAge можно вызвать и для пустого набора людей: её результат в этом случае и нужно считать медианным возрастом пустого набора людей.
 </p>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">// Это пример функции, его не нужно отправлять вместе с функцией PrintStats
template &lt;typename InputIt&gt;
int ComputeMedianAge(InputIt range_begin, InputIt range_end) {
  if (range_begin == range_end) {
    return 0;
  }
  vector&lt;typename InputIt::value_type&gt; range_copy(range_begin, range_end);
  auto middle = begin(range_copy) + range_copy.size() / 2;
  nth_element(
      begin(range_copy), middle, end(range_copy),
      [](const Person&amp; lhs, const Person&amp; rhs) {
        return lhs.age &lt; rhs.age;
      }
  );
  return middle-&gt;age;
}

void PrintStats(vector&lt;Person&gt; persons);

int main() {
  vector&lt;Person&gt; persons = {
      {31, Gender::MALE, false},
      {40, Gender::FEMALE, true},
      {24, Gender::MALE, true},
      {20, Gender::FEMALE, true},
      {80, Gender::FEMALE, false},
      {78, Gender::MALE, false},
      {10, Gender::FEMALE, false},
      {55, Gender::MALE, true},
  };
  PrintStats(persons);
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Median age = 40
Median age for females = 40
Median age for males = 55
Median age for employed females = 40
Median age for unemployed females = 80
Median age for employed males = 55
Median age for unemployed males = 78
</pre>
 <h2 level="2">
  Пояснение
 </h2>
 <p>
  В этой задаче вам надо прислать на проверку файл с реализацией функции PrintStats.
  <strong>
   Этот файл не должен содержать определения функции ComputeMedianAge и типов Person и Gender.
  </strong>
  В противном случае вы получите ошибку компиляции.
 </p>
 <p>
  Гарантируется, что типы Person и Gender объявлены в точности так же, как в коде выше.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
