<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите шаблонную функцию MergeSort, принимающую два итератора шаблонного типа RandomIt и сортирующую заданный ими диапазон с помощью сортировки слиянием. Гарантируется, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    итераторы типа RandomIt аналогичны по функциональности итераторам вектора и строки, то есть их можно сравнивать с помощью операторов &lt;, &lt;=, &gt; и &gt;=, а также вычитать и складывать с числами;
   </p>
  </li>
  <li>
   <p>
    сортируемые объекты можно сравнивать с помощью оператора &lt;.
   </p>
  </li>
 </ul>
 <pre language="c_cpp">template &lt;typename RandomIt&gt;
void MergeSort(RandomIt range_begin, RandomIt range_end);</pre>
 <h1 level="1">
  Часть 1. Реализация с разбиением на 2 части
 </h1>
 <h2 level="2">
  Алгоритм
 </h2>
 <p>
  Классический алгоритм сортировки слиянием выглядит следующим образом:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Если диапазон содержит меньше 2 элементов, выйти из функции.
   </p>
  </li>
  <li>
   <p>
    Создать вектор, содержащий все элементы текущего диапазона.
   </p>
  </li>
  <li>
   <p>
    Разбить вектор на две равные части.
    <em>
     (В этой задаче гарантируется, что длина передаваемого диапазона является степенью двойки, так что вектор всегда можно разбить на две равные части.)
    </em>
   </p>
  </li>
  <li>
   <p>
    Вызвать функцию MergeSort от каждой половины вектора.
   </p>
  </li>
  <li>
   <p>
    С помощью алгоритма merge слить отсортированные половины, записав полученный отсортированный диапазон вместо исходного.
   </p>
  </li>
 </ol>
 <p>
  Вы должны реализовать
  <strong>
   именно этот алгоритм
  </strong>
  и никакой другой: тестирующая система будет проверять, что вы выполняете с элементами именно эти действия.
 </p>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  Чтобы создать вектор, содержащий все элементы текущего диапазона (п. 2 алгоритма), необходимо уметь по типу итератора узнавать тип элементов, на которые он указывает. Если итератор RandomIt принадлежит стандартному контейнеру (вектору, строке, множеству, словарю...), нижележащий тип можно получить с помощью выражения typename RandomIt::value_type. Таким образом, гарантируется, что создать вектор в п. 2 можно следующим образом:
 </p>
 <pre language="c_cpp">vector&lt;typename RandomIt::value_type&gt; elements(range_begin, range_end);</pre>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  vector&lt;int&gt; v = {6, 4, 7, 6, 4, 4, 0, 1};
  MergeSort(begin(v), end(v));
  for (int x : v) {
    cout &lt;&lt; x &lt;&lt; " ";
  }
  cout &lt;&lt; endl;
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">0 1 4 4 4 6 6 7</pre>
 <h1 level="1">
  Часть 2. Реализация с разбиением на 3 части
 </h1>
 <p>
  Реализуйте сортировку слиянием, разбивая диапазон на 3 равные части, а не на 2. Гарантируется, что длина исходного диапазона является степенью 3.
 </p>
 <p>
  Соответственно, пункты 3–5 алгоритма нужно заменить следующими:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Разбить вектор на 3 равные части.
   </p>
  </li>
  <li>
   <p>
    Вызвать функцию MergeSort от каждой части вектора.
   </p>
  </li>
  <li>
   <p>
    Слить первые две трети вектора с помощью алгоритма merge, сохранив результат во временный вектор с помощью back_inserter.
   </p>
  </li>
  <li>
   <p>
    Слить временный вектор из предыдущего пункта с последней третью вектора из п. 2, записав полученный отсортированный диапазон вместо исходного.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример кода
 </h2>
 <pre language="c_cpp">int main() {
  vector&lt;int&gt; v = {6, 4, 7, 6, 4, 4, 0, 1, 5};
  MergeSort(begin(v), end(v));
  for (int x : v) {
    cout &lt;&lt; x &lt;&lt; " ";
  }
  cout &lt;&lt; endl;
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">0 1 4 4 4 5 6 6 7</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
