<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой части нужно изменить способ вычисления координат остановок на карте маршрутов. А именно, нужно отойти от географической достоверности и использовать сжатие координат.
 </p>
 <h3 level="3">
  Сжатие координат
 </h3>
 <p>
  Опишем используемый алгоритм сжатия координат на примере долгот (longitude) и иксов.
 </p>
 <p>
  Рассмотрим долготы всех остановок в отсортированном порядке. Гарантируется, что долготы не повторяются, поэтому в удалении дублей нет необходимости. Цель — отобразить долготы на схеме таким образом, чтобы минимальная имела минимальный x (равный padding), максимальная долгота — максимальный x (равный width - padding), а остальные располагались равномерно между ними.
 </p>
 <p>
  Пронумеруем долготы из полученного отсортированного массива без дублей: первая имеет номер 0, вторая — 1, последняя — lon_count - 1. Расстояние между иксами соседних долгот вычислим как x_step = (width - 2 * padding) / (lon_count - 1). Если долгота всего одна, ей, как и прежде, должен соответствовать минимальный x.
 </p>
 <p>
  Теперь для произвольной долготы, имеющей номер idx, её x-координата на карте вычисляется как idx * x_step + padding.
 </p>
 <p>
  Преобразования для широт аналогичны, с разницей лишь в итоговой формуле y-координаты: height - padding - idx * y_step.
 </p>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="TNWECaAGEemEawpeY3OQmg" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="TNX5KKAGEemnpBK2VMQaIg" name="example1">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="TNcxz6AGEem7UA4S1V_t6g" name="example1">
 </asset>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="ZTEybX75EemUJRIjvKFicg" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="ZTH09n75EemT-QpVM56MLg" name="example2">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="ZTLgHn75EemUJRIjvKFicg" name="example2">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
