<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Улучшим алгоритм сжатия координат с использованием следующей идеи:
  <em>
   если соседние в отсортированном наборе долготы (или широты) не связаны напрямую отрезком автобусного маршрута, проходящего через соответствующие остановки, этим долготам (широтам) можно поставить в соответствие одинаковый номер и, как следствие, одинаковую x-координату (y-координату).
  </em>
 </p>
 <h3 level="3">
  Нумерация координат
 </h3>
 <p>
  Разберём алгоритм нумерации долгот по отсортированному массиву их значений.
 </p>
 <p>
  Первая (минимальная) долгота получает номер 0. Далее, перебирая долго́ты по возрастанию, для очередной долготы́ выбираем, нужно ли ей присвоить такой же номер, как предыдущей, или нужно завершить группу долгот, соответствующих одной x-координате, и присвоить текущей долготе номер, на единицу больший номера предыдущей.
 </p>
 <p>
  Обозначим номер предыдущей долготы за idx. Текущей долготе нужно присвоить тот же номер idx, если ни одна из предыдущих долгот с номером idx не является
  <em>
   маршрутным соседом
  </em>
  текущей долготы.
  <em>
   Маршрутными соседями
  </em>
  будем называть пары долгот, которым соответствуют остановки, являющиеся соседними остановками какого-либо маршрута.
 </p>
 <p>
  Алгоритм для широт полностью аналогичен.
 </p>
 <h3 level="3">
  Отображение координат
 </h3>
 <p>
  В этой части изменения минимальны:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    x_step и y_step вычисляются с помощью номеров последней долготы (max_lon_idx) и последней широты (max_lat_idx): x_step = (width - 2 * padding) / max_lon_idx, y_step = (height - 2 * padding) / max_lat_idx. Как и прежде, в случае нулевого знаменателя можно считать результат выражения равным нулю.
   </p>
  </li>
  <li>
   <p>
    Формулы для итоговых x- и y-координат полностью аналогичны и используют номера долгот и широт из предыдущего раздела.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="mYuT_qAGEem7UA4S1V_t6g" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="mYrQg6AGEemnpBK2VMQaIg" name="example1">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="mYseyaAGEemRkw79YeZlmg" name="example1">
 </asset>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="JIM0S377EemwbA6NWV4gZg" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="JKLKTH77EemDJAqQ6uIUNA" name="example2">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="JKLwyH77EemUJRIjvKFicg" name="example2">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
