<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Сделаем схему ещё более аккуратной, в очередной раз пожертвовав топографической достоверностью. А именно, перед вычислением проекций остановок нужно пересчитать координаты промежуточных остановок, расположив их равномерно между опорными остановками — пересадочными и конечными.
 </p>
 <p>
  Итак, первым шагом зафиксируем
  <em>
   опорные остановки:
  </em>
  таковыми являются все конечные (возле которых рисуется номер автобуса), а также все пересадочные остановки, то есть те, через которые проходит более одного автобуса или через которые проходит один автобус, но
  <strong>
   более чем дважды
  </strong>
  за весь маршрут. У таких остановок географические координаты останутся прежними. Также не меняются координаты у остановок, через которые не проходит ни один автобус.
 </p>
 <p>
  При выявлении опорных остановок считайте, что некольцевой маршрут проходит через каждую неконечную остановку чётное число раз: по пути в одну сторону и в обратную. Напомним, что некольцевой маршрут A→B эквивалентен кольцевому A→B→A во всех отношениях, кроме правила определения конечных: в первом случае конечными считаются A и B, тогда как во втором — только A.
 </p>
 <p>
  Координаты остальных
  <em>
   (промежуточных)
  </em>
  остановок вычисляются следующим образом. Рассмотрим конкретный автобусный маршрут и опорные остановки на нём: это первая, последняя и, возможно, некоторые другие — они разбивают все промежуточные остановки на группы, и в рамках каждой такой группы промежуточные остановки нужно расположить
  <strong>
   равномерно между опорными.
  </strong>
  Пусть, например, на автобусном маршруте со списком остановок stops есть остановка номер i, являющаяся опорной,  следующая опорная после неё имеет номер j. Тогда для каждого k от i + 1 до j - 1 нужно вычислить новую долготу остановки stops[k] по формуле stops[i].lon + lon_step * (k - i), где lon_step = (stops[j].lon - stops[i].lon) / (j - i); формулы для широт аналогичны.
 </p>
 <p>
  При этом возможны следующие особые случаи:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Кольцевой маршрут дважды проходит через одну неконечную остановку: согласно описанным выше правилам она не считается опорной, но есть два способа вычислить её координату. В этом случае считайте, что
    <strong>
     второй
    </strong>
    (в порядке обхода маршрута) способ вычисления координаты такой остановки более правильный: то есть достаточно итерироваться по всем остановкам маршрута и заполнять новые координаты для промежуточных, допуская, что новая координата может быть переопределена.
   </p>
  </li>
  <li>
   <p>
    Кольцевой маршрут с одной опорной остановкой — конечной. Согласно алгоритму, все остановки такого маршрута должны оказаться в одной точке — так и поступайте.
   </p>
  </li>
 </ol>
 <p>
  Обратите внимание, что новые географические координаты промежуточных остановок влияют лишь на их положение на карте, но не на расстояние между ними, вычисляемое для запроса Bus.
 </p>
 <p>
  Итоговый алгоритм вычисления координат остановок для схемы выглядит следующим образом:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Пересчёт географических координат остановок с использованием опорных.
   </p>
  </li>
  <li>
   <p>
    Нумерация широт и долгот в порядке возрастания со склейкой соседей (из части K).
   </p>
  </li>
  <li>
   <p>
    Вычисление x- и y-координат остановок с помощью сжатия координат согласно нумерации из п. 2.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="TZvsVKAHEem7UA4S1V_t6g" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="TZvsI6AHEemnpBK2VMQaIg" name="example1">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="TaAx8KAHEemEawpeY3OQmg" name="example1">
 </asset>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="JIbLv379EemUJRIjvKFicg" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="JIaks379EemqjBJ9PjCDmA" name="example2">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="JIgERH79EemqjBJ9PjCDmA" name="example2">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
