<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Алгоритм склейки соседних широт и долгот из части K обладает одной особенностью, которой мы тоже пожертвуем в угоду аккуратности схемы и равномерности распределения остановок по ней: если одна остановка была западнее другой, то на итоговой карте она окажется либо левее, либо на той же y-координате. Это важно для остановок в рамках одного маршрута, но не очень критично для остановок с разных маршрутов.
 </p>
 <p>
  Поэтому изменим алгоритм нумерации долгот (и широт) следующим образом. Как и прежде, первая (минимальная) долгота получает номер 0. Номер очередной долготы тоже равен 0, если среди предыдущих (то есть меньших её) долгот нет её
  <em>
   маршрутных соседей
  </em>
  (см. определение в части K). Если же у очередной долготы есть маршрутные соседи, меньшие её, то номер этой долготы равен номеру максимального из меньших её маршрутных соседей плюс один.
 </p>
 <p>
  Пусть, например, все долготы представляют собой набор [50.1, 50.2, 50.3, 50.4]. Если они соответствуют остановкам разных автобусов, то получат номера [0, 0, 0, 0], как и раньше. Если же остановки [50.1, 50.2] соответствуют одному маршруту, а [50.3, 50.4] — другому, то долготы получат номера [0, 1, 0, 1], так как долгота 50.3 не имеет маршрутных соседей среди [50.1, 50.2].
 </p>
 <p>
  Таким образом, сохраняется взаимный порядок остановок внутри одной линии, но между линиями он может нарушаться.
 </p>
 <h2 level="2">
  Примеры
 </h2>
 <h3 level="3">
  Пример 1
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="iVQCaqAHEemCjApABi1-mA" name="example1">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="iVWv9qAHEemEawpeY3OQmg" name="example1">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="iVWwG6AHEemCjApABi1-mA" name="example1">
 </asset>
 <h3 level="3">
  Пример 2
 </h3>
 <p>
  Ввод
 </p>
 <asset assettype="generic" extension="in" id="Tg8ox37-EemqjBJ9PjCDmA" name="example2">
 </asset>
 <p>
  Вывод
 </p>
 <asset assettype="generic" extension="out" id="Tj52KX7-EemqjBJ9PjCDmA" name="example2">
 </asset>
 <p>
  Карта из вывода
 </p>
 <asset assettype="image" extension="svg" id="ThATKH7-EemqjBJ9PjCDmA" name="example2">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
