<meta charset="utf-8"/>
<co-content>
 <p>
  Вы могли заметить, что в программах на C++ довольно часто используется символ «точка с запятой». Он используется для отделения команд друг от друга. Давайте подробнее рассмотрим, когда в C++ надо использовать точку с запятой, а когда нет.
 </p>
 <h2 level="2">
  Точка с запятой всегда ставится
 </h2>
 <ul bullettype="bullets">
  <li>
   <p>
    после объявления переменной, например
   </p>
  </li>
 </ul>
 <pre language="c_cpp">int a;
int x = 4;
int y = x + 5;
double pi = 3.14;
vector&lt;string&gt; names = {"Ilia", "Anton", "Evgeniy", "Ivan"};</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    после каждой команды языка, например
   </p>
  </li>
 </ul>
 <pre language="c_cpp">cout &lt;&lt; "Hello, world";
x = a - y;
names.push_back("Sofya");  // names - это vector&lt;string&gt; из предыдущего примера
cin &gt;&gt; pi;</pre>
 <h2 level="2">
  Точка с запятой не ставится
 </h2>
 <ul bullettype="bullets">
  <li>
   <p>
    после условий в операторе if и циклах for и while, например
   </p>
  </li>
 </ul>
 <pre language="c_cpp">if (a == b) /* Здесь точка с запятой не нужна */ {
  cout &lt;&lt; "Equal";
}

while (a &gt; b) /* Здесь точка с запятой не нужна */ {
  a -= b;
}</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    после закрывающей операторной скобки, например
   </p>
  </li>
 </ul>
 <pre language="c_cpp">if (x &gt; y) {
  cout &lt;&lt; "Greater";
} // Здесь точка с запятой не нужна

for (string n : names) {
  cout &lt;&lt; n &lt;&lt; ' ';
} // Здесь точка с запятой не нужна</pre>
 <h3 level="3">
  Примечание
 </h3>
 <p>
  Операторные скобки используются для объединения нескольких команд в один блок. Например, все команды внутри функции main заключены в операторные скобки. О них подробно будет рассказано далее в блоке "Условный оператор и циклы" в конце первой недели нашего курса.
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
