<meta charset="utf-8"/>
<co-content>
 <p>
  Дан следующий код:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;

using namespace std;

class Animal {
public:
    // ваш код

    const string Name;
};


class Dog {
public:
    // ваш код

    void Bark() {
        cout &lt;&lt; Name &lt;&lt; " barks: woof!" &lt;&lt; endl;
    }
};
</pre>
 <p>
  Определите до конца тела классов, соблюдая следующие требования:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Класс Dog должен являться наследником класса Animal.
   </p>
  </li>
  <li>
   <p>
    Конструктор класса Dog должен принимать параметр типа string и инициализировать им поле Name в классе Animal.
   </p>
  </li>
 </ol>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
