<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте класс ReversibleString, хранящий строку и поддерживающий методы Reverse для переворота строки и ToString для получения строки.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">int main() {
  ReversibleString s("live");
  s.Reverse();
  cout &lt;&lt; s.ToString() &lt;&lt; endl;
  
  s.Reverse();
  const ReversibleString&amp; s_ref = s;
  string tmp = s_ref.ToString();
  cout &lt;&lt; tmp &lt;&lt; endl;
  
  ReversibleString empty;
  cout &lt;&lt; '"' &lt;&lt; empty.ToString() &lt;&lt; '"' &lt;&lt; endl;
  
  return 0;
}
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">evil
live
""
</pre>
 <h2 level="2">
 </h2>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
