<meta charset="utf-8"/>
<co-content>
 <p>
  Слова называются
  <em>
   анаграммами
  </em>
  друг друга, если одно из них можно получить перестановкой букв в другом. Например, слово «eat» можно получить перестановкой букв слова «tea», поэтому эти слова являются анаграммами друг друга. Даны пары слов, проверьте для каждой из них, являются ли слова этой пары анаграммами друг друга.
 </p>
 <h2 level="2">
  Указание
 </h2>
 <p>
  Один из способов проверки того, являются ли слова анаграммами друг друга, заключается в следующем. Для каждого слова с помощью словаря подсчитаем, сколько раз в нём встречается каждая буква. Если для обоих слов эти словари равны (а это проверяется с помощью обычного оператора ==), то слова являются анаграммами друг друга, в противном случае не являются.
 </p>
 <p>
  При этом построение такого словаря по слову удобно вынести в отдельную функцию BuildCharCounters.
 </p>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  Сначала дано число пар слов
  <em>
   N
  </em>
  , затем в
  <em>
   N
  </em>
  строках содержатся пары слов, которые необходимо проверить. Гарантируется, что все слова состоят лишь из строчных латинских букв.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Выведите
  <em>
   N
  </em>
  строк: для каждой введённой пары слов
  <strong>
   YES
  </strong>
  , если эти слова являются анаграммами, и
  <strong>
   NO
  </strong>
  в противном случае.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">3
eat tea
find search
master stream
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">YES
NO
YES
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
