<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте справочник столиц стран.
 </p>
 <p>
  На вход программе поступают следующие запросы:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     CHANGE_CAPITAL
    </strong>
    <strong>
     <em>
      country new_capital
     </em>
    </strong>
    — изменение столицы страны
    <strong>
     <em>
      country
     </em>
    </strong>
    на
    <strong>
     <em>
      new_capital
     </em>
    </strong>
    , либо добавление такой страны с такой столицей, если раньше её не было.
   </p>
  </li>
  <li>
   <p>
    <strong>
     RENAME
    </strong>
    <strong>
     <em>
      old_country_name new_country_name
     </em>
    </strong>
    — переименование страны из
    <strong>
     <em>
      old_country_name
     </em>
    </strong>
    в
    <strong>
     <em>
      new_country_name
     </em>
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    <strong>
     ABOUT
    </strong>
    <strong>
     <em>
      country
     </em>
    </strong>
    — вывод столицы страны
    <strong>
     <em>
      country
     </em>
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    <strong>
     DUMP
    </strong>
    — вывод столиц всех стран.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  В первой строке содержится количество запросов
  <em>
   Q
  </em>
  , в следующих
  <em>
   Q
  </em>
  строках — описания запросов. Все названия стран и столиц состоят лишь из латинских букв, цифр и символов подчёркивания.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Выведите результат обработки каждого запроса:
 </p>
 <h3 level="3">
  В ответ на запрос
  <strong>
   CHANGE_CAPITAL
  </strong>
  <strong>
   <em>
    country new_capital
   </em>
  </strong>
  выведите
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     Introduce new country
    </strong>
    <strong>
     <em>
      country
     </em>
    </strong>
    <strong>
     with capital
    </strong>
    <strong>
     <em>
      new_capital
     </em>
    </strong>
    , если страны
    <strong>
     <em>
      country
     </em>
    </strong>
    раньше не существовало;
   </p>
  </li>
  <li>
   <p>
    <strong>
     Country
    </strong>
    <strong>
     <em>
      country
     </em>
    </strong>
    <strong>
     hasn't changed its capital
    </strong>
    , если страна
    <strong>
     <em>
      country
     </em>
    </strong>
    до текущего момента имела столицу
    <strong>
     <em>
      new_capital
     </em>
    </strong>
    ;
   </p>
  </li>
  <li>
   <p>
    <strong>
     Country
    </strong>
    <strong>
     <em>
      country
     </em>
    </strong>
    <strong>
     has changed its capital from
    </strong>
    <strong>
     <em>
      old_capital
     </em>
    </strong>
    <strong>
     to
    </strong>
    <strong>
     <em>
      new_capital
     </em>
    </strong>
    , если страна
    <strong>
     <em>
      country
     </em>
    </strong>
    до текущего момента имела столицу
    <strong>
     <em>
      old_capital
     </em>
    </strong>
    , название которой не совпадает с названием
    <strong>
     <em>
      new_capital
     </em>
    </strong>
    .
   </p>
  </li>
 </ul>
 <h3 level="3">
  В ответ на запрос
  <strong>
   RENAME
  </strong>
  <strong>
   <em>
    old_country_name new_country_name
   </em>
  </strong>
  выведите
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     Incorrect rename, skip
    </strong>
    , если новое название страны совпадает со старым, страна
    <strong>
     <em>
      old_country_name
     </em>
    </strong>
    не существует или страна
    <strong>
     <em>
      new_country_name
     </em>
    </strong>
    уже существует;
   </p>
  </li>
  <li>
   <p>
    <strong>
     Country
    </strong>
    <strong>
     <em>
      old_country_name
     </em>
    </strong>
    <strong>
     with capital
    </strong>
    <strong>
     <em>
      capital
     </em>
    </strong>
    <strong>
     has been renamed to
    </strong>
    <strong>
     <em>
      new_country_name
     </em>
    </strong>
    , если запрос корректен и страна имеет столицу
    <strong>
     <em>
      capital
     </em>
    </strong>
    .
   </p>
  </li>
 </ul>
 <h3 level="3">
  В ответ на запрос
  <strong>
   ABOUT
  </strong>
  <strong>
   <em>
    country
   </em>
  </strong>
  выведите
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     Country
    </strong>
    <strong>
     <em>
      country
     </em>
    </strong>
    <strong>
     doesn't exist
    </strong>
    , если страны с названием
    <strong>
     <em>
      country
     </em>
    </strong>
    не существует;
   </p>
  </li>
  <li>
   <p>
    <strong>
     Country
    </strong>
    <strong>
     <em>
      country
     </em>
    </strong>
    <strong>
     has capital
    </strong>
    <strong>
     <em>
      capital
     </em>
    </strong>
    , если страна
    <strong>
     <em>
      country
     </em>
    </strong>
    существует и имеет столицу
    <strong>
     <em>
      capital
     </em>
    </strong>
    .
   </p>
  </li>
 </ul>
 <h3 level="3">
  В ответ на запрос
  <strong>
   DUMP
  </strong>
  выведите
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     There are no countries in the world
    </strong>
    , если пока не было добавлено ни одной страны;
   </p>
  </li>
  <li>
   <p>
    последовательность пар вида
    <strong>
     <em>
      country
     </em>
    </strong>
    <strong>
     /
    </strong>
    <strong>
     <em>
      capital
     </em>
    </strong>
    , описывающую столицы всех стран, если в мире уже есть хотя бы одна страна. При выводе последовательности пары указанного вида необходимо упорядочить по названию страны и разделять между собой пробелом.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">6
CHANGE_CAPITAL RussianEmpire Petrograd
RENAME RussianEmpire RussianRepublic
ABOUT RussianRepublic
RENAME RussianRepublic USSR
CHANGE_CAPITAL USSR Moscow
DUMP
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Introduce new country RussianEmpire with capital Petrograd
Country RussianEmpire with capital Petrograd has been renamed to RussianRepublic
Country RussianRepublic has capital Petrograd
Country RussianRepublic with capital Petrograd has been renamed to USSR
Country USSR has changed its capital from Petrograd to Moscow
USSR/Moscow
</pre>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">24
RENAME FakeCountry FarFarAway
ABOUT FarFarAway
DUMP
CHANGE_CAPITAL TsardomOfRussia Moscow
CHANGE_CAPITAL TsardomOfRussia Moscow
CHANGE_CAPITAL ColonialBrazil Salvador
CHANGE_CAPITAL TsardomOfRussia SaintPetersburg
RENAME TsardomOfRussia RussianEmpire
CHANGE_CAPITAL RussianEmpire Moscow
CHANGE_CAPITAL RussianEmpire SaintPetersburg
CHANGE_CAPITAL ColonialBrazil RioDeJaneiro
DUMP
RENAME ColonialBrazil EmpireOfBrazil
ABOUT RussianEmpire
RENAME EmpireOfBrazil UnitedStatesOfBrazil
CHANGE_CAPITAL RussianEmpire Petrograd
RENAME RussianEmpire RussianRepublic
RENAME RussianRepublic USSR
CHANGE_CAPITAL USSR Moscow
CHANGE_CAPITAL UnitedStatesOfBrazil Brasilia
RENAME UnitedStatesOfBrazil FederativeRepublicOfBrazil
ABOUT RussianEmpire
DUMP
RENAME USSR USSR
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Incorrect rename, skip
Country FarFarAway doesn't exist
There are no countries in the world
Introduce new country TsardomOfRussia with capital Moscow
Country TsardomOfRussia hasn't changed its capital
Introduce new country ColonialBrazil with capital Salvador
Country TsardomOfRussia has changed its capital from Moscow to SaintPetersburg
Country TsardomOfRussia with capital SaintPetersburg has been renamed to RussianEmpire
Country RussianEmpire has changed its capital from SaintPetersburg to Moscow
Country RussianEmpire has changed its capital from Moscow to SaintPetersburg
Country ColonialBrazil has changed its capital from Salvador to RioDeJaneiro
ColonialBrazil/RioDeJaneiro RussianEmpire/SaintPetersburg
Country ColonialBrazil with capital RioDeJaneiro has been renamed to EmpireOfBrazil
Country RussianEmpire has capital SaintPetersburg
Country EmpireOfBrazil with capital RioDeJaneiro has been renamed to UnitedStatesOfBrazil
Country RussianEmpire has changed its capital from SaintPetersburg to Petrograd
Country RussianEmpire with capital Petrograd has been renamed to RussianRepublic
Country RussianRepublic with capital Petrograd has been renamed to USSR
Country USSR has changed its capital from Petrograd to Moscow
Country UnitedStatesOfBrazil has changed its capital from RioDeJaneiro to Brasilia
Country UnitedStatesOfBrazil with capital Brasilia has been renamed to FederativeRepublicOfBrazil
Country RussianEmpire doesn't exist
FederativeRepublicOfBrazil/Brasilia USSR/Moscow
Incorrect rename, skip
</pre>
 <h2 level="2">
  Пример 3
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">10
CHANGE_CAPITAL RussianEmpire Petrograd
RENAME USSR RussianEmpire
DUMP
ABOUT USSR
DUMP
RENAME RussianEmpire RussianEmpire
DUMP
CHANGE_CAPITAL UnitedStatesOfBrazil Brasilia
RENAME RussianEmpire UnitedStatesOfBrazil
DUMP
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">Introduce new country RussianEmpire with capital Petrograd
Incorrect rename, skip
RussianEmpire/Petrograd
Country USSR doesn't exist
RussianEmpire/Petrograd
Incorrect rename, skip
RussianEmpire/Petrograd
Introduce new country UnitedStatesOfBrazil with capital Brasilia
Incorrect rename, skip
RussianEmpire/Petrograd UnitedStatesOfBrazil/Brasilia
</pre>
 <h2 level="2">
 </h2>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
