<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте систему хранения автобусных маршрутов. Вам нужно обрабатывать следующие запросы:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     NEW_BUS
    </strong>
    <strong>
     <em>
      bus stop_count stop1 stop2
     </em>
    </strong>
    <strong>
     ...
    </strong>
    — добавить маршрут автобуса с названием
    <strong>
     <em>
      bus
     </em>
    </strong>
    и
    <strong>
     <em>
      stop_count
     </em>
    </strong>
    остановками с названиями
    <em>
     <strong>
      stop1
     </strong>
    </em>
    ,
    <strong>
     <em>
      stop2
     </em>
    </strong>
    , ...
   </p>
  </li>
  <li>
   <p>
    <strong>
     BUSES_FOR_STOP
    </strong>
    <strong>
     <em>
      stop
     </em>
    </strong>
    — вывести названия всех маршрутов автобуса, проходящих через остановку
    <strong>
     <em>
      stop
     </em>
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    <strong>
     STOPS_FOR_BUS
    </strong>
    <strong>
     <em>
      bus
     </em>
    </strong>
    — вывести названия всех остановок маршрута
    <strong>
     <em>
      bus
     </em>
    </strong>
    со списком автобусов, на которые можно пересесть на каждой из остановок.
   </p>
  </li>
  <li>
   <p>
    <strong>
     ALL_BUSES
    </strong>
    — вывести список всех маршрутов с остановками.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  В первой строке ввода содержится количество запросов
  <em>
   Q
  </em>
  , затем в
  <em>
   Q
  </em>
  строках следуют описания запросов.
 </p>
 <p>
  Гарантируется, что все названия маршрутов и остановок состоят лишь из латинских букв, цифр и знаков подчёркивания.
 </p>
 <p>
  Для каждого запроса
  <strong>
   NEW_BUS
  </strong>
  <strong>
   <em>
    bus stop_count stop1
   </em>
  </strong>
  <strong>
   <em>
    stop2
   </em>
  </strong>
  <strong>
   ...
  </strong>
  гарантируется, что маршрут
  <strong>
   <em>
    bus
   </em>
  </strong>
  отсутствует, количество остановок больше 0, а после числа
  <em>
   <strong>
    stop_count
   </strong>
  </em>
  следует именно такое количество названий остановок, причём все названия в каждом списке различны.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Для каждого запроса, кроме
  <strong>
   NEW_BUS
  </strong>
  , выведите соответствующий ответ на него:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    На запрос
    <strong>
     BUSES_FOR_STOP
    </strong>
    <strong>
     <em>
      stop
     </em>
    </strong>
    выведите через пробел список автобусов, проезжающих через эту остановку, в том порядке, в котором они создавались командами
    <strong>
     NEW_BUS
    </strong>
    . Если остановка
    <strong>
     <em>
      stop
     </em>
    </strong>
    не существует, выведите
    <strong>
     No stop
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    На запрос
    <strong>
     STOPS_FOR_BUS
    </strong>
    <strong>
     <em>
      bus
     </em>
    </strong>
    выведите описания остановок маршрута
    <strong>
     <em>
      bus
     </em>
    </strong>
    в отдельных строках в том порядке, в котором они были заданы в соответствующей команде
    <strong>
     NEW_BUS
    </strong>
    . Описание каждой остановки
    <strong>
     <em>
      stop
     </em>
    </strong>
    должно иметь вид
    <strong>
     Stop
    </strong>
    <strong>
     <em>
      stop
     </em>
    </strong>
    <strong>
     :
    </strong>
    <strong>
     <em>
      bus1
     </em>
    </strong>
    <strong>
     <em>
      bus2
     </em>
    </strong>
    <strong>
     ...
    </strong>
    , где
    <strong>
     <em>
      bus1 bus2
     </em>
    </strong>
    <strong>
     ...
    </strong>
    — список автобусов, проезжающих через остановку
    <strong>
     <em>
      stop
     </em>
    </strong>
    , в порядке, в котором они создавались командами
    <strong>
     NEW_BUS
    </strong>
    , за исключением исходного маршрута
    <em>
     <strong>
      bus
     </strong>
    </em>
    . Если через остановку
    <strong>
     <em>
      stop
     </em>
    </strong>
    не проезжает ни один автобус, кроме
    <strong>
     <em>
      bus
     </em>
    </strong>
    , вместо списка автобусов для неё выведите
    <strong>
     no interchange
    </strong>
    . Если маршрут
    <strong>
     <em>
      bus
     </em>
    </strong>
    не существует, выведите
    <strong>
     No bus
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    На запрос
    <strong>
     ALL_BUSES
    </strong>
    выведите описания всех автобусов в алфавитном порядке. Описание каждого маршрута
    <strong>
     <em>
      bus
     </em>
    </strong>
    должно иметь вид
    <strong>
     Bus
    </strong>
    <strong>
     <em>
      bus
     </em>
    </strong>
    <strong>
     :
    </strong>
    <strong>
     <em>
      stop1 stop2
     </em>
    </strong>
    <strong>
     ...
    </strong>
    , где
    <strong>
     <em>
      stop1 stop2
     </em>
    </strong>
    <strong>
     ...
    </strong>
    — список остановок автобуса
    <strong>
     <em>
      bus
     </em>
    </strong>
    в порядке, в котором они были заданы в соответствующей команде
    <strong>
     NEW_BUS
    </strong>
    . Если автобусы отсутствуют, выведите
    <strong>
     No buses
    </strong>
    .
   </p>
  </li>
 </ul>
 <h2 level="2">
  Предупреждение
 </h2>
 <p>
  Условие задачи выше содержит много важных деталей. Если вы не уверены в том, что не упустили ни одной, перечитайте условие ещё раз.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">10
ALL_BUSES
BUSES_FOR_STOP Marushkino
STOPS_FOR_BUS 32K
NEW_BUS 32 3 Tolstopaltsevo Marushkino Vnukovo
NEW_BUS 32K 6 Tolstopaltsevo Marushkino Vnukovo Peredelkino Solntsevo Skolkovo
BUSES_FOR_STOP Vnukovo
NEW_BUS 950 6 Kokoshkino Marushkino Vnukovo Peredelkino Solntsevo Troparyovo
NEW_BUS 272 4 Vnukovo Moskovsky Rumyantsevo Troparyovo
STOPS_FOR_BUS 272
ALL_BUSES</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">No buses
No stop
No bus
32 32K
Stop Vnukovo: 32 32K 950
Stop Moskovsky: no interchange
Stop Rumyantsevo: no interchange
Stop Troparyovo: 950
Bus 272: Vnukovo Moskovsky Rumyantsevo Troparyovo
Bus 32: Tolstopaltsevo Marushkino Vnukovo
Bus 32K: Tolstopaltsevo Marushkino Vnukovo Peredelkino Solntsevo Skolkovo
Bus 950: Kokoshkino Marushkino Vnukovo Peredelkino Solntsevo Troparyovo</pre>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
