<meta charset="utf-8"/>
<co-content>
 <p>
  Даны значения температуры, наблюдавшиеся в течение N подряд идущих дней. Найдите номера дней (в нумерации с нуля) со значением температуры выше среднего арифметического за все
  <em>
   N
  </em>
  дней.
 </p>
 <p>
  Гарантируется, что среднее арифметическое значений температуры является целым числом.
 </p>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  Вводится число
  <em>
   N,
  </em>
  затем
  <em>
   N
  </em>
  неотрицательных целых чисел — значения температуры в 0-й, 1-й, ... (
  <em>
   N
  </em>
  −1)-й день.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Первое число
  <em>
   K
  </em>
  — количество дней, значение температуры в которых выше среднего арифметического. Затем
  <em>
   K
  </em>
  целых чисел — номера этих дней.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">5
7 6 3 0 9</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">3
0 1 4</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
