<meta charset="utf-8"/>
<co-content>
 <p>
  Люди стоят в очереди, но никогда не уходят из её начала, зато могут приходить в конец и уходить оттуда. Более того, иногда некоторые люди могут прекращать и начинать беспокоиться из-за того, что очередь не продвигается.
 </p>
 <p>
  Реализуйте обработку следующих операций над очередью:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     WORRY
    </strong>
    <strong>
     <em>
      i
     </em>
    </strong>
    : пометить
    <strong>
     <em>
      i
     </em>
    </strong>
    -го человека с начала очереди (в нумерации с 0) как беспокоящегося;
   </p>
  </li>
  <li>
   <p>
    <strong>
     QUIET
    </strong>
    <strong>
     <em>
      i
     </em>
    </strong>
    : пометить
    <strong>
     <em>
      i
     </em>
    </strong>
    -го человека как успокоившегося;
   </p>
  </li>
  <li>
   <p>
    <strong>
     COME
    </strong>
    <strong>
     <em>
      k
     </em>
    </strong>
    : добавить
    <strong>
     <em>
      k
     </em>
    </strong>
    спокойных человек в конец очереди;
   </p>
  </li>
  <li>
   <p>
    <strong>
     COME -
    </strong>
    <strong>
     <em>
      k
     </em>
    </strong>
    : убрать
    <strong>
     <em>
      k
     </em>
    </strong>
    человек из конца очереди;
   </p>
  </li>
  <li>
   <p>
    <strong>
     WORRY_COUNT
    </strong>
    : узнать количество беспокоящихся людей в очереди.
   </p>
  </li>
 </ul>
 <p>
  Изначально очередь пуста.
 </p>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  Количество операций
  <em>
   Q
  </em>
  , затем описания операций.
 </p>
 <p>
  Для каждой операции
  <strong>
   WORRY
  </strong>
  <strong>
   <em>
    i
   </em>
  </strong>
  и
  <strong>
   QUIET
  </strong>
  <strong>
   <em>
    i
   </em>
  </strong>
  гарантируется, что человек с номером
  <strong>
   <em>
    i
   </em>
  </strong>
  существует в очереди на момент операции.
 </p>
 <p>
  Для каждой операции
  <strong>
   COME -
  </strong>
  <strong>
   <em>
    k
   </em>
  </strong>
  гарантируется, что
  <strong>
   <em>
    k
   </em>
  </strong>
  не больше текущего размера очереди.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Для каждой операции
  <strong>
   WORRY_COUNT
  </strong>
  выведите одно целое число — количество беспокоящихся людей в очереди.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">8
COME 5
WORRY 1
WORRY 4
COME -2
WORRY_COUNT
COME 3
WORRY 3
WORRY_COUNT
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">1
2</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
