<meta charset="utf-8"/>
<co-content>
 <p>
  У каждого из нас есть повторяющиеся ежемесячные дела, каждое из которых нужно выполнять в конкретный день каждого месяца: оплата счетов за электричество, абонентская плата за связь и пр. Вам нужно реализовать работу со списком таких дел на месяц, а именно, реализовать набор следующих операций:
 </p>
 <h3 level="3">
  <strong>
   ADD
  </strong>
  <strong>
   <em>
    i s
   </em>
  </strong>
 </h3>
 <p>
  Назначить дело с названием
  <strong>
   <em>
    s
   </em>
  </strong>
  на день
  <strong>
   <em>
    i
   </em>
  </strong>
  текущего месяца.
 </p>
 <h3 level="3">
  <strong>
   DUMP
  </strong>
  <strong>
   <em>
    i
   </em>
  </strong>
 </h3>
 <p>
  Вывести все дела, запланированные на день
  <em>
   <strong>
    i
   </strong>
  </em>
  текущего месяца.
 </p>
 <h3 level="3">
  <strong>
   NEXT
  </strong>
 </h3>
 <p>
  Перейти к списку дел на новый месяц. При выполнении данной команды вместо текущего (старого) списка дел на текущий месяц создаётся и становится активным (новый) список дел на следующий месяц: все дела со старого списка дел копируются в новый список. После выполнения данной команды новый список дел и следующий месяц становятся текущими, а работа со старым списком дел прекращается.  При переходе к новому месяцу необходимо обратить внимание на разное количество дней в месяцах:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    если следующий месяц имеет больше дней, чем текущий, «дополнительные» дни необходимо оставить пустыми (не содержащими дел);
   </p>
  </li>
  <li>
   <p>
    если следующий месяц имеет меньше дней, чем текущий, дела со всех «лишних» дней необходимо переместить на последний день следующего месяца.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Замечания
 </h2>
 <ul bullettype="bullets">
  <li>
   <p>
    Историю списков дел хранить
    <strong>
     не требуется
    </strong>
    , работа ведется только с текущим списком дел текущего месяца. Более того, при создании списка дел на следующий месяц, он
    <strong>
     «перетирает»
    </strong>
    предыдущий список.
   </p>
  </li>
  <li>
   <p>
    Обратите внимание, что количество команд
    <strong>
     NEXT
    </strong>
    в общей последовательности команд при работе со списком дел может превышать 11.
   </p>
  </li>
  <li>
   <p>
    Начальным текущим месяцем считается январь.
   </p>
  </li>
  <li>
   <p>
    Количества дней в месяцах соответствуют Григорианскому календарю с той лишь разницей, что в феврале всегда 28 дней.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  Сначала число операций
  <em>
   Q
  </em>
  , затем описания операций.
 </p>
 <p>
  Названия дел
  <em>
   <strong>
    s
   </strong>
  </em>
  уникальны и состоят только из латинских букв, цифр и символов подчёркивания. Номера дней
  <em>
   <strong>
    i
   </strong>
  </em>
  являются целыми числами и нумеруются от 1 до размера текущего месяца.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Для каждой операции типа
  <strong>
   DUMP
  </strong>
  в отдельной строке выведите количество дел в соответствующий день, а затем их названия, разделяя их пробелом. Порядок вывода дел в рамках каждой операции значения не имеет.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">12
ADD 5 Salary
ADD 31 Walk
ADD 30 WalkPreparations
NEXT
DUMP 5
DUMP 28
NEXT
DUMP 31
DUMP 30
DUMP 28
ADD 28 Payment
DUMP 28
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">1 Salary
2 WalkPreparations Walk
0
0
2 WalkPreparations Walk
3 WalkPreparations Walk Payment
</pre>
 <h2 level="2">
  Указание
 </h2>
 <p>
  Для дописывания всех элементов вектора v2 в конец вектора v1 удобно использовать метод insert:
 </p>
 <pre language="c_cpp">v1.insert(end(v1), begin(v2), end(v2));</pre>
 <p>
  Кроме того, элементом вектора может быть любой тип, в том числе и другой вектор. Например, vector&lt;vector&lt;int&gt;&gt; — это вектор, элементами которого являются вектора целых чисел (то есть двумерный массив). Пример использования:
 </p>
 <pre language="c_cpp">vector&lt;vector&lt;int&gt;&gt; m(10); // Создаём вектор из десяти векторов целых чисел
m[0].push_back(5);  // Добавляем элементы в первый вектор
m[0].push_back(15);
cout &lt;&lt; m[0][1]; // Выведет 15 — второй элемент первого вектора

m[1].push_back(3);
for (int x : m[1]) {
    // Перебираем все элементы второго 
}</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
