<meta charset="utf-8"/>
<co-content>
 <p>
  Дан набор строк. Найдите количество уникальных строк в этом наборе.
 </p>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  Сначала вводится количество строк
  <em>
   N
  </em>
  , затем — сами
  <em>
   N
  </em>
  строк, разделённые символом перевода строки. Все строки состоят лишь из латинских букв, цифр и символов подчёркивания.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Выведите единственное целое число — количество уникальных строк в данном наборе.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre>6
first
second
first
third
second
second
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre>3</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
