<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите функцию BuildMapValuesSet, принимающую на вход словарь map&lt;int, string&gt; и возвращающую множество значений этого словаря:
 </p>
 <pre language="c_cpp">set&lt;string&gt; BuildMapValuesSet(const map&lt;int, string&gt;&amp; m) {
  // ...
}</pre>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Код
 </h3>
 <pre language="c_cpp">set&lt;string&gt; values = BuildMapValuesSet({
    {1, "odd"},
    {2, "even"},
    {3, "odd"},
    {4, "even"},
    {5, "odd"}
});

for (const string&amp; value : values) {
  cout &lt;&lt; value &lt;&lt; endl;
}</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">even
odd</pre>
 <h2 level="2">
  Пояснение
 </h2>
 <p>
  В этой задаче на проверку вам надо прислать файл с реализацией функции BuildMapValuesSet.
  <strong>
   Этот файл не должен содержать функцию main.
  </strong>
  Если в нём будет функция main, вы получите ошибку компиляции.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
