<meta charset="utf-8"/>
<co-content>
 <p>
  Два слова называются
  <em>
   синонимами
  </em>
  друг друга, если они имеют похожие значения. Реализуйте следующие операции над словарём синонимов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     ADD
    </strong>
    <strong>
     <em>
      word1 word2
     </em>
    </strong>
    — добавить в словарь пару синонимов (
    <strong>
     <em>
      word1
     </em>
    </strong>
    ,
    <strong>
     <em>
      word2
     </em>
    </strong>
    ).
   </p>
  </li>
  <li>
   <p>
    <strong>
     COUNT
    </strong>
    <strong>
     <em>
      word
     </em>
    </strong>
    — узнать количество синонимов слова
    <strong>
     <em>
      word
     </em>
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    <strong>
     CHECK
    </strong>
    <strong>
     <em>
      word1 word2
     </em>
    </strong>
    — проверить, являются ли слова
    <strong>
     <em>
      word1
     </em>
    </strong>
    и
    <strong>
     <em>
      word2
     </em>
    </strong>
    синонимами. Слова
    <strong>
     <em>
      word1
     </em>
    </strong>
    и
    <strong>
     <em>
      word2
     </em>
    </strong>
    считаются синонимами, если среди запросов
    <strong>
     ADD
    </strong>
    был хотя бы один запрос
    <strong>
     ADD
    </strong>
    <strong>
     <em>
      word1 word2
     </em>
    </strong>
    или
    <strong>
     ADD
    </strong>
    <strong>
     <em>
      word2 word1
     </em>
    </strong>
    .
   </p>
  </li>
 </ul>
 <h2 level="2">
  Замечание
 </h2>
 <p>
  Для упрощения, будем считать, что синонимы не обладают транзитивностью, то есть, если
  <strong>
   A
  </strong>
  - синоним
  <strong>
   B
  </strong>
  , а
  <strong>
   B
  </strong>
  - синоним
  <strong>
   C
  </strong>
  , то из этого
  <em>
   НЕ
  </em>
  следует, что
  <strong>
   A
  </strong>
  - синоним
  <strong>
   C
  </strong>
  .
 </p>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  Сначала вводится количество запросов
  <em>
   Q
  </em>
  , затем
  <em>
   Q
  </em>
  строк с описаниями запросов. Гарантируется, что в каждом запросе
  <strong>
   CHECK
  </strong>
  и
  <strong>
   ADD
  </strong>
  слова
  <strong>
   <em>
    word1
   </em>
  </strong>
  и
  <strong>
   <em>
    word2
   </em>
  </strong>
  различны. Все слова состоят лишь из латинских букв, цифр и символов подчёркивания.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Для каждого запроса в соответствующей строке выведите ответ на него:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    В ответ на запрос
    <strong>
     COUNT
    </strong>
    <strong>
     <em>
      word
     </em>
    </strong>
    выведите единственное целое число — количество синонимов слова
    <strong>
     <em>
      word
     </em>
    </strong>
    .
   </p>
  </li>
  <li>
   <p>
    В ответ на запрос
    <strong>
     CHECK
    </strong>
    <strong>
     <em>
      word1 word2
     </em>
    </strong>
    выведите строку
    <strong>
     YES
    </strong>
    , если
    <strong>
     <em>
      word1
     </em>
    </strong>
    и
    <strong>
     <em>
      word2
     </em>
    </strong>
    являются синонимами, и
    <strong>
     NO
    </strong>
    в противном случае.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre>8
ADD program code
COUNT cipher
ADD code cipher
COUNT code
COUNT program
CHECK code program
CHECK program cipher
CHECK cpp java
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre>0
2
1
YES
NO
NO
</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
