<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вам нужно присваивать номера автобусным маршрутам.
 </p>
 <p>
  А именно, для каждого маршрута, заданного множеством названий остановок, нужно либо выдать новый номер (первому маршруту — 1, второму — 2 и т. д.), либо вернуть номер существующего маршрута, которому соответствует такое множество остановок.
 </p>
 <p>
  В отличие от задачи «Автобусные остановки — 2», наборы остановок, которые можно получить друг из друга перестановкой элементов или добавлением/удалением повторяющихся, следует считать одинаковыми.
 </p>
 <h2 level="2">
  Формат ввода
 </h2>
 <p>
  Сначала вводится количество запросов
  <em>
   Q
  </em>
  , затем
  <em>
   Q
  </em>
  описаний запросов.
 </p>
 <p>
  Каждый запрос представляет собой положительное количество остановок
  <em>
   N
  </em>
  , за которым следуют разделённые пробелом
  <em>
   N
  </em>
  названий остановок соответствующего маршрута (не обязательно различных). Названия остановок состоят лишь из латинских букв и символов подчёркивания.
 </p>
 <h2 level="2">
  Формат вывода
 </h2>
 <p>
  Выведите ответ на каждый запрос в отдельной строке.
 </p>
 <p>
  Если маршрут с данным набором остановок уже существует, в ответ на соответствующий запрос выведите
  <strong>
   Already exists for
  </strong>
  <strong>
   <em>
    i
   </em>
  </strong>
  , где
  <strong>
   <em>
    i
   </em>
  </strong>
  — номер маршрута с таким набором остановок. В противном случае нужно выделить введённому набору остановок новый номер
  <strong>
   <em>
    i
   </em>
  </strong>
  и вывести его в формате
  <strong>
   New bus
  </strong>
  <strong>
   <em>
    i
   </em>
  </strong>
  .
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <p>
 </p>
 <pre language="plain_text">5
2 Marushkino Kokoshkino
1 Kokoshkino
2 Marushkino Kokoshkino
2 Kokoshkino Marushkino
2 Kokoshkino Kokoshkino
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <p>
 </p>
 <pre language="plain_text">New bus 1
New bus 2
Already exists for 1
Already exists for 1
Already exists for 2
</pre>
 <h2 level="2">
  Замечание
 </h2>
 <p>
  Будьте внимательны при обновлении словаря: если одновременно в одном выражении вычислять размер словаря и добавлять в него новый элемент, результат может отличаться от ожидаемого на единицу. Чтобы этого избежать, используйте временную переменную.
 </p>
 <p>
  Например, вместо кода
 </p>
 <pre language="c_cpp">map&lt;string, int&gt; m;
// ...
m["two"] = m.size();
// что нужно сделать раньше: вычислить size или добавить новый ключ?
</pre>
 <p>
  стоит написать такой код:
 </p>
 <pre language="c_cpp">map&lt;string, int&gt; m;
// ...
int new_value = m.size();
m["two"] = new_value;
// теперь всё однозначно: нужен размер до добавления элемента
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
