<meta charset="utf-8"/>
<co-content>
 <p>
  Пожалуйста, ознакомьтесь с классом StringSet, на разборе которого основано следующее видео.
 </p>
 <p>
  Этот класс позволяет:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    добавить строку с заданным приоритетом с помощью метода Add;
   </p>
  </li>
  <li>
   <p>
    вернуть последнюю добавленную строку с помощью метода FindLast;
   </p>
  </li>
  <li>
   <p>
    вернуть строку с максимальным приоритетом с помощью метода FindBest.
   </p>
  </li>
 </ul>
 <pre language="c_cpp">#include "test_runner.h"
#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;set&gt;

using namespace std;

class StringSet {
public:
  void Add(const string&amp; s, int priority) {
    data.push_back(s);
    sorted_data.insert(StringItem{s, priority});
  }
  const string&amp; FindLast() const {
    return data.back();
  }
  const string&amp; FindBest() const {
    return prev(sorted_data.end())-&gt;s;
  }

private:
  vector&lt;string&gt; data;

  struct StringItem {
    string s;
    int priority;
    bool operator&lt;(const StringItem&amp; other) const {
      return priority &lt; other.priority;
    }
  };
  set&lt;StringItem&gt; sorted_data;
};

// Юнит-тесты

void TestSimple() {
  StringSet strings;
  strings.Add("upper", 10);
  strings.Add("lower", 0);
  ASSERT_EQUAL(strings.FindLast(), "lower");
  ASSERT_EQUAL(strings.FindBest(), "upper");
}

void TestAnother() {
  StringSet strings;

  strings.Add("apple", 1);
  strings.Add("orange", 3);
  ASSERT_EQUAL(strings.FindLast(), "orange");
  ASSERT_EQUAL(strings.FindBest(), "orange");

  strings.Add("plum", -5);
  ASSERT_EQUAL(strings.FindLast(), "plum");
  ASSERT_EQUAL(strings.FindBest(), "orange");

  strings.Add("lemon", 5);
  ASSERT_EQUAL(strings.FindLast(), "lemon");
  ASSERT_EQUAL(strings.FindBest(), "lemon");
}

int main() {
  TestRunner tr;
  RUN_TEST(tr, TestSimple);
  RUN_TEST(tr, TestAnother);
  return 0;
}</pre>
 <p>
  <em>
   Ту же задачу можно было решить проще, не храня все строки, но мы неявно предполагаем, что в дальнейшем функциональность этого класса расширится, и возникнет необходимость итерироваться по всем строкам: как в порядке добавления, так и в порядке приоритета.
  </em>
 </p>
 <p>
  <em>
   Проще говоря, будем считать, что существует необходимость в хранении всех строк — от этого допущения пример не теряет своей актуальности.
  </em>
 </p>
 <p>
  <em>
  </em>
 </p>
 <p>
  <em>
  </em>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
