<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Условие
 </h3>
 <p>
  У каждого спортсмена на футболке написан уникальный номер. Спортсмены по очереди выходят из раздевалки и должны построиться на стадионе. Тренер каждому выходящему спортсмену называет номер того спортсмена, перед которым нужно встать. Если спортсмена с названным номером на поле нет, то нужно встать в конец шеренги.
 </p>
 <p>
  В стандартном вводе сначала задано натуральное число n, не превосходящее 100000, — количество спортсменов. Далее идут n пар неотрицательных целых чисел, не превосходящих 100000. Первое число в паре — номер очередного выходящего спортсмена. Второе число в паре — номер того спортсмена, перед которым должен встать текущий.
 </p>
 <p>
  Напечатайте в стандартный вывод номера спортсменов в порядке построения на поле.
 </p>
 <p>
  Ограничение по времени — 0,8 с.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <p>
  Ввод
 </p>
 <pre language="plain_text">5
42 0 
17 42 
13 0 
123 42
5 13</pre>
 <p>
  Вывод
 </p>
 <pre language="plain_text">17
123
42
5
13
</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
