<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Условие
 </h3>
 <p>
  В блоке про модель памяти мы говорили, что динамическая память нужна для хранения тех объектов, которые должны жить дольше, чем создавшая их функция. Кроме того мы говорили, что можно создать такой вектор, который не использует память из кучи, а хранит все свои объекты на стеке. В этой задаче вам предстоит это сделать. Вы совсем недавно познакомились с контейнером array, который хранит все свои данные на стеке. Реализуйте интерфейс вектора поверх него. Более формально, реализуйте шаблон класса template &lt;typename T, size_t N&gt; StackVector&lt;T, N&gt;, где T — тип элемента вектора, а N — его максимальная вместимость. Класс StackVector должен иметь следующий интерфейс:
 </p>
 <pre language="c_cpp">template &lt;typename T, size_t N&gt;
class StackVector {
public:
  explicit StackVector(size_t a_size = 0);

  T&amp; operator[](size_t index);
  const T&amp; operator[](size_t index) const;

  ??? begin();
  ??? end();
  ??? begin() const;
  ??? end() const;

  size_t Size() const;
  size_t Capacity() const;

  void PushBack(const T&amp; value);
  T PopBack();
};</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    Метод Capacity должен возвращать вместимость вектора, то есть количество объектов, которое в него в принципе может поместиться.
   </p>
  </li>
  <li>
   <p>
    Метод Size должен возвращать текущее количество объектов в векторе
   </p>
  </li>
  <li>
   <p>
    Конструктор принимает размер вектора (по аналогии со стандартным вектором). Если аргумент конструктора оказался больше вместимости вектора, конструктор должен выбрасывать исключение
    <a href="https://en.cppreference.com/w/cpp/error/invalid_argument">
     invalid_argument
    </a>
   </p>
  </li>
  <li>
   <p>
    Методы begin/end должны возвращать итераторы на начало и текущий конец вектора; их тип не указан, вы должны выбрать его самостоятельно
   </p>
  </li>
  <li>
   <p>
    Метод PushBack добавляет новый элемент в конец вектора. Если текущий размер вектора равен его вместимости, метод PushBack должен выбрасывать стандартное исключение
    <a href="https://en.cppreference.com/w/cpp/error/overflow_error">
     overflow_error
    </a>
   </p>
  </li>
  <li>
   <p>
    Метод PopBack уменьшает размер вектора на один и возвращает элемент вектора, который был последним. Если вектор пуст, метод PopBack должен выбрасывать стандартное исключение
    <a href="https://en.cppreference.com/w/cpp/error/underflow_error">
     underflow_error
    </a>
   </p>
  </li>
 </ul>
 <p>
  Интерфейс класса StackVector описан в файле stack_vector.h, приложенном к этой задаче. Часть требований к нему сформулирована в виде юнит-тестов в файле stack_vector.cpp.
 </p>
 <p>
  Обратите внимание, как отличается поведение метода PushBack в классе StackVector от метода PushBack в классе SimpleVector, который вы реализовывали ранее в блоке про модель памяти. SimpleVector::PushBack выделял дополнительную память в куче, если размер вектора оказывался равен ёмкости. В случае с классом StackVector мы должны на этапе компиляции задать максимальную ёмкость вектора и, если она оказывается исчерпана, нам больше неоткуда взять память, и мы просто бросаем исключение. В этом состоит недостаток реализации вектора на стеке по сравнению с обычным вектором.
 </p>
 <p>
  С другой стороны, файл stack_vector.cpp содержит бенчмарк, который демонстрирует преимущество StackVector перед обычным вектором. Этот бенчмарк моделирует ситуацию, когда мы считываем из потока количество объектов N, а затем добавляем в вектор N объектов с помощью метода push_back (тестовые данные разложены в vector&lt;vector&lt;int&gt;&gt;, чтобы исключить из бенчмарка время, необходимое на парсинг). Когда вы реализуете шаблон StackVector, сравните его производительность с вектором.
 </p>
 <p>
  На проверку пришлите заголовочный файл с реализацией шаблона StackVector.
 </p>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="h" id="Tx4fD2TMEei5FgrpHNEYyg" name="stack_vector">
 </asset>
 <asset assettype="generic" extension="cpp" id="ubWLDnqyEeiC-BK3XY5K_A" name="stack_vector">
 </asset>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Заголовочный файл, который вы пришлёте на проверку, не должен подключать файлы &lt;vector&gt;, &lt;list&gt;, &lt;forward_list&gt;, &lt;deque&gt;, &lt;map&gt;. Если у вас будет подключён один из этих файлов, вы получите ошибку компиляции.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
