<meta charset="utf-8"/>
<co-content>
 <p>
  Разработайте класс Translator, позволяющий сохранять двуязычные пары слов и затем переводить слова с одного языка на другой с использованием уже добавленных пар:
 </p>
 <pre language="c_cpp">class Translator {
public:
  void Add(string_view source, string_view target);
  string_view TranslateForward(string_view source) const;
  string_view TranslateBackward(string_view target) const;

private:
  // ...
};</pre>
 <p>
  Более конкретно, объект t типа Translator должен допускать следующие действия:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Создание с помощью конструктора по умолчанию. В этом случае база переводов пуста.
   </p>
  </li>
  <li>
   <p>
    Добавление двуязычной пары: t.Add(source, target). После такого вызова считается, что слово source на языке 1 соответствует слову target на языке 2. Переданные в метод Add строки
    <strong>
     могут быть уничтожены раньше объекта t.
    </strong>
   </p>
  </li>
  <li>
   <p>
    Перевод с языка 1 на язык 2: t.TranslateForward(source). Если ранее уже был вызов t.Add(source_copy, target)для некоторой строки target и строки source_copy, равной source (или являющейся ей), нужно вернуть target. Если такого вызова не было, нужно вернуть пустую строку. Если таких вызовов было несколько, нужно вернуть target для последнего из них.
   </p>
  </li>
  <li>
   <p>
    Перевод с языка 2 на язык 1: t.TranslateBackward(target). Если ранее уже был вызов t.Add(source, target_copy)для некоторой строки source и строки target_copy, равной target (или являющейся ей), нужно вернуть source. Если такого вызова не было, нужно вернуть пустую строку. Если таких вызовов было несколько, нужно вернуть source для последнего из них.
   </p>
  </li>
 </ol>
 <h3 level="3">
  Ограничения
 </h3>
 <p>
  Каждая строка должна храниться в экземпляре класса Translator не более одного раза. При нарушении этого ограничения вы получите ошибку «Memory limit exceeded».
 </p>
 <h3 level="3">
  Файл с заготовкой решения
 </h3>
 <asset assettype="generic" extension="cpp" id="E7KF2IWYEeiw-w4LUDVL-A" name="translator">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
