<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Вам необходимо разработать простейшую систему сбора статистики вылетов для небольших авиакомпаний. Высокоуровневые требования выглядят следующим образом:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Система сбора статистики должна представлять собой класс AirportCounter, умеющий в произвольный момент времени для заданного аэропорта вернуть текущее количество вылетов из него.
   </p>
  </li>
  <li>
   <p>
    Набор возможных аэропортов фиксирован в виде enum и потому не может изменяться в рамках одного сеанса работы системы статистики, то есть в рамках одного экземпляра AirportCounter. Таким образом, класс AirportCounter необходимо шаблонизировать типом этого enum: если назвать такой enum TAirport, получим шаблонный класс AirportCounter&lt;TAirport&gt;.
   </p>
  </li>
  <li>
   <p>
    Гарантируется (по крайней мере, обещано заказчиком), что по enum аэропортов можно будет легко определить количество элементов в нём, а также перебрать сами элементы. А именно, любой используемый enum будет иметь вид enum class SomeCityAirport { Airport1, Airport2, ..., AirportN, Last_ };, то есть будет содержать некоторое количество элементов-аэропортов и элемент Last_ в качестве последнего. Поскольку в этом enum не будут заданы числовые значения для элементов, можно полагаться на то, что они будут пронумерованы подряд от 0 до N-1, а выражение static_cast&lt;uint32_t&gt;(SomeCityAirport::Last_) будет содержать количество аэропортов (N).
   </p>
  </li>
  <li>
   <p>
    Класс должен уметь конструироваться по списку аэропортов вылета, а также позволять обновлять этот список: добавить вылет из какого-то аэропорта, удалить один вылет (например, ошибочно добавленный) или удалить из истории все вылеты из некоторого аэропорта.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Тестирование
 </h2>
 <p>
  Прежде чем перейти к более детальному описанию интерфейса класса, опишем процесс тестирования задачи.
 </p>
 <p>
  Вам
  <strong>
   будут даны все тесты,
  </strong>
  на которых будет проверяться шаблонный класс AirportCounter. Ваша задача — добиться не только корректной работы на этих тестах, но и уложиться на них в
  <strong>
   2 секунды.
  </strong>
  (Считайте, что заказчик предоставил вам подробнейшие сценарии использования вашего класса, которые затем были преобразованы в конкретные бенчмарки.)
 </p>
 <p>
  Таким образом, вы должны выбрать способ реализации класса, ориентируясь лишь на конкретные бенчмарки.
 </p>
 <p>
  Отметим, что данные бенчмарки составлены на основе реального примера из высоконагруженного сервиса, замедление которого даже на десятки процентов недопустимо. Именно поэтому в этой задаче важно не только спроектировать решение с приемлемой асимптотической сложностью, но и «разогнать» его на конкретных примерах.
 </p>
 <h2 level="2">
  Интерфейс класса
 </h2>
 <pre language="c_cpp">template &lt;typename TAirport&gt;
class AirportCounter {
public:
  // конструктор по умолчанию: список элементов пока пуст
  AirportCounter();

  // конструктор от диапазона элементов типа TAirport
  template &lt;typename TIterator&gt;
  AirportCounter(TIterator begin, TIterator end);

  // получить количество элементов, равных данному
  size_t Get(TAirport airport) const;

  // добавить данный элемент
  void Insert(TAirport airport);

  // удалить одно вхождение данного элемента
  void EraseOne(TAirport airport);

  // удалить все вхождения данного элемента
  void EraseAll(TAirport airport);

  using Item = pair&lt;TAirport, size_t&gt;;

  // получить некоторый объект, по которому можно проитерироваться,
  // получив набор объектов типа Item - пар (аэропорт, количество),
  // упорядоченных по аэропорту
  ??? GetItems() const;

private:
  // ???
};</pre>
 <h2 level="2">
  Файл с заготовкой решения и тестами
 </h2>
 <asset assettype="generic" extension="cpp" id="5zBNao5FEeiEShL6YrwsWg" name="airport_counter">
 </asset>
 <h2 level="2">
  Подсказки
 </h2>
 <p>
  Если задача вызывает непреодолимые трудности, вы можете воспользоваться подсказками. Они помогут быстрее сдать задачу, но в итоге вы получите меньше пользы от процесса поиска решения.
 </p>
 <p>
  Не нужно открывать все подсказки сразу. Используйте их последовательно.
 </p>
 <asset assettype="pdf" extension="pdf" id="nWXgJufgEeiTKQ5ajE7PqA" name="airport-counter-1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="nWSAZOfgEeilxxL_ZeRz_A" name="airport-counter-2">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
