<meta charset="utf-8"/>
<co-content>
 <p>
  Рассмотрим упрощённый текстовый редактор, поддерживающий следующий набор команд:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Перемещение курсора влево (
    <strong>
     Left
    </strong>
    ) и вправо (
    <strong>
     Right
    </strong>
    ) на одну позицию.
   </p>
  </li>
  <li>
   <p>
    Ввод символа в текущую позицию курсора (
    <strong>
     Insert
    </strong>
    ).
   </p>
  </li>
  <li>
   <p>
    Копирование фрагмента текста,
    <strong>
     начинающегося в текущей позиции курсора
    </strong>
    , в буфер обмена (
    <strong>
     Copy
    </strong>
    ).
   </p>
  </li>
  <li>
   <p>
    Вырезание фрагмента текста аналогично копированию с последующим удалением скопированных символов из текста (
    <strong>
     Cut
    </strong>
    ).
   </p>
  </li>
  <li>
   <p>
    Вставка содержимого буфера обмена в текущую позицию курсора (
    <strong>
     Paste
    </strong>
    ).
   </p>
  </li>
 </ul>
 <p>
  Эти команды действительно поддерживаются практически любым текстовым редактором. Также для команд действуют стандартные правила, определяющие их эффект:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Если редактор содержит текст длиной n символов, то курсор может находиться в одной из (n + 1) возможных позиций. Например, обозначим курсор вертикальной чертой | (это обозначение мы будем использовать в дальнейшем), тогда в тексте abc курсор может располагаться в 4 позициях: |abc, a|bc, ab|c, abc|. Поэтому команда
    <strong>
     Left
    </strong>
    не имеет эффекта, когда курсор расположен в начале текста, а
    <strong>
     Right
    </strong>
    не имеет эффекта, когда курсор находится в конце. В частности, ни
    <strong>
     Left
    </strong>
    , ни
    <strong>
     Right
    </strong>
    не имеют эффекта, когда редактор не содержит текста.
   </p>
  </li>
  <li>
   <p>
    Введённый символ располагается в позиции курсора, сдвигая курсор и весь текст справа от него на одну позицию вправо. Аналогично, при вставке фрагмента длиной n курсор и текст справа от него смещаются на n позиций вправо. В таблице ниже приведены примеры, демонстрирующие данное правило.
   </p>
  </li>
 </ul>
 <table columns="3" rows="7">
  <thead>
   <tr>
    <th>
     <p>
      До вставки
     </p>
    </th>
    <th>
     <p>
      Вводимый символ/вставляемый фрагмент
     </p>
    </th>
    <th>
     <p>
      После вставки
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     |
    </p>
   </td>
   <td>
    <p>
     a
    </p>
   </td>
   <td>
    <p>
     a|
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     ab|
    </p>
   </td>
   <td>
    <p>
     c
    </p>
   </td>
   <td>
    <p>
     abc|
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     |bc
    </p>
   </td>
   <td>
    <p>
     a
    </p>
   </td>
   <td>
    <p>
     a|bc
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     |world
    </p>
   </td>
   <td>
    <p>
     hello_
    </p>
   </td>
   <td>
    <p>
     hello_|world
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     hello_|
    </p>
   </td>
   <td>
    <p>
     world
    </p>
   </td>
   <td>
    <p>
     hello_world|
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     123|78
    </p>
   </td>
   <td>
    <p>
     456
    </p>
   </td>
   <td>
    <p>
     123456|78
    </p>
   </td>
  </tr>
 </table>
 <ul bullettype="bullets">
  <li>
   <p>
    Буфер обмена изначально пуст. Вставка пустого фрагмента не имеет эффекта. Содержимое буфера не сбрасывается после вставки, а остается неизменным до следующей команды
    <strong>
     Copy
    </strong>
    или
    <strong>
     Cut
    </strong>
    . Копирование или вырезание фрагмента нулевой длины не оказывает влияния на текст, но
    <strong>
     опустошает буфер обмена
    </strong>
    . Курсор не смещается ни при копировании, ни при вырезании текста. Например, после вырезания из текста ab|cdef фрагмента из трёх символов, получим текст ab|f.
   </p>
  </li>
 </ul>
 <p>
  Вам предстоит реализовать «ядро» текстового редактора, поддерживающего все описанные операции, в виде класса Editor, имеющего следующий интерфейс:
 </p>
 <pre language="c_cpp">class Editor {
public:
  Editor();
  void Left();   // сдвинуть курсор влево
  void Right();  // сдвинуть курсор вправо
  void Insert(char token);   // вставить символ token
  void Copy(size_t tokens);  // cкопировать
                             // не более tokens символов,
                             // начиная с текущей позиции курсора
  void Cut(size_t tokens);  // вырезать не более tokens символов,
                            // начиная с текущей позиции курсора
  void Paste();  // вставить содержимое буфера
                 // в текущую позицию курсора
  string GetText() const;  // получить текущее содержимое
                           // текстового редактора
};</pre>
 <p>
  Как можно заметить, каждой описанной команде сопоставлен метод класса Editor. Также введён метод GetText(), позволяющий получить текущее содержимое редактора в виде строки. В комментариях к методам Cut(size_t tokens) и Copy(size_t tokens) указано, что в буфер обмена попадает фрагмент длиной не более tokens символов — это означает, что, если справа от курсора располагается менее, чем tokens символов, методы Cut() и Copy() должны вырезать/скопировать все символы справа.
 </p>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="unT46Hq0EeiLrA7SIbVCTg" name="text_editor">
 </asset>
 <h3 level="3">
  Ограничения
 </h3>
 <p>
  Реализация класса Editor должна обрабатывать 10^6 запросов не более чем за 1 секунду. При этом гарантируется, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    длина текста никогда не превышает 10^6 символов;
   </p>
  </li>
  <li>
   <p>
    методы Copy() и Cut()
    <strong>
     суммарно
    </strong>
    копируют/вырезают не более 10^6 символов;
   </p>
  </li>
  <li>
   <p>
    метод GetText() вызывается один раз в каждом из тестов.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Пример
 </h3>
 <p>
  Код
 </p>
 <pre language="c_cpp">int main() {
  Editor editor;
  const string text = "hello, world";
  for (char c : text) {
    editor.Insert(c);
  }
  // Текущее состояние редактора: `hello, world|`
  for (size_t i = 0; i &lt; text.size(); ++i) {
    editor.Left();
  }
  // Текущее состояние редактора: `|hello, world`
  editor.Cut(7);
  // Текущее состояние редактора: `|world`
  // в буфере обмена находится текст `hello, `
  for (size_t i = 0; i &lt; 5; ++i) {
    editor.Right();
  }
  // Текущее состояние редактора: `world|`
  editor.Insert(',');
  editor.Insert(' ');
  // Текущее состояние редактора: `world, |`
  editor.Paste();
  // Текущее состояние редактора: `world, hello, |`
  editor.Left();
  editor.Left();
  //Текущее состояние редактора: `world, hello|, `
  editor.Cut(3); // Будут вырезаны 2 символа
  // Текущее состояние редактора: `world, hello|`
  cout &lt;&lt; editor.GetText();
}</pre>
 <p>
  Вывод
 </p>
 <pre language="plain_text">world, hello</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
