<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Условие
 </h3>
 <p>
  Представим, что у нас есть web-сервер, который обслуживает запросы к интернет-магазину. Он поддерживает следующий набор запросов по протоколу HTTP:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    GET / HTTP/1.1 — получить главную страницу магазина
   </p>
  </li>
  <li>
   <p>
    POST /order HTTP/1.1 — разместить новый заказ
   </p>
  </li>
  <li>
   <p>
    POST /product HTTP/1.1 — добавить новый товар в магазин (команда админки)
   </p>
  </li>
  <li>
   <p>
    GET /order HTTP/1.1 — получить детали заказа
   </p>
  </li>
  <li>
   <p>
    PUT /product HTTP/1.1 — то же самое, что и POST /order HTTP/1.1
   </p>
  </li>
  <li>
   <p>
    GET /basket HTTP/1.1 — получить состав текущей корзины клиента
   </p>
  </li>
  <li>
   <p>
    DELETE /product HTTP/1.1 — удалить товар из интернет-магазина (команда админки)
   </p>
  </li>
  <li>
   <p>
    GET /help HTTP/1.1 — получить страницу о том, как пользоваться интернет-магазином
   </p>
  </li>
 </ul>
 <p>
  С точки зрения протокола HTTP, первые части приведённых выше запросов («GET», «POST», «PUT», «DELETE») называются
  <em>
   методами
  </em>
  . Вторые части называются
  <em>
   URI (Uniform Resource Identifier)
  </em>
  . Третья часть — это версия протокола. Таким образом, наш web-сервер поддерживает 4 метода: GET, POST, PUT, DELETE и 5 URI: «/», «/order», «/product», «/basket», «/help».
 </p>
 <p>
  Главный системный администратор нашего сервера озаботился его масштабированием и для начала он решил изучить статистику использования. Он хочет для каждого метода и каждого URI посчитать, сколько раз он встречался в запросах к серверу за последний месяц. Он попросил вас помочь с этим.
 </p>
 <p>
  У вас уже есть какая-то кодовая база для изучения запросов к серверу, и вы хотите воспользоваться ею, чтобы сэкономить время. У вас есть заголовочный файл http_request.h, содержащий структуру HttpRequest:
 </p>
 <pre language="c_cpp">#pragma once

#include &lt;string_view&gt;

using namespace std;

struct HttpRequest {
  string_view method, uri, protocol;
};</pre>
 <p>
  Кроме того, есть заголовочный файл stats.h, содержащий объявления класса Stats и функции ParseRequest:
 </p>
 <pre language="c_cpp">#pragma once

#include "http_request.h"

#include &lt;string_view&gt;
#include &lt;map&gt;

using namespace std;

class Stats {
public:
  void AddMethod(string_view method);
  void AddUri(string_view uri);
  const map&lt;string_view, int&gt;&amp; GetMethodStats() const;
  const map&lt;string_view, int&gt;&amp; GetUriStats() const;
};

HttpRequest ParseRequest(string_view line);</pre>
 <p>
  Наконец, у вас есть готовая функция ServeRequests:
 </p>
 <pre language="c_cpp">Stats ServeRequests(istream&amp; input) {
  Stats result;
  for (string line; getline(input, line); ) {
    const HttpRequest req = ParseRequest(line);
    result.AddUri(req.uri);
    result.AddMethod(req.method);
  }
  return result;
}</pre>
 <p>
  Вам нужно, основываясь на реализации функции ServeRequests, реализовать класс Stats и функцию ParseRequest.
 </p>
 <p>
  Дополнительные требования к классу Stats:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    метод GetMethodStats возвращает словарь, в котором для каждого метода хранится, сколько раз он встретился в качестве аргумента метода AddMethod;
   </p>
  </li>
  <li>
   <p>
    метод GetUriStats работает аналогично для URI;
   </p>
  </li>
  <li>
   <p>
    если метод, переданный в метод AddMethod, не поддерживается нашим сервером (список поддерживаемых методов приведён выше), то нужно на единицу увеличить счётчик для метода "UNKNOWN" (подробнее см. юнит-тесты в заготовке решения);
   </p>
  </li>
  <li>
   <p>
    если URI, переданный в метод AddUri, не поддерживается нашим сервером, то нужно на единицу увеличить счётчик для URI "unknown".
   </p>
  </li>
 </ul>
 <p>
  Дополнительные сведения о функции ParseRequest:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    функция ParseRequest разбивает исходный запрос на три соответствующих части (метод, URI, версия протокола), возвращая результат в полях соответствующей структуры HttpRequest;
   </p>
  </li>
  <li>
   <p>
    при разборе исходного запроса, каждую часть запроса необходимо выделять и сохранять в результирующую структуру без каких-либо дополнительных изменений. Например, для запроса "UNDEFINED /something HTTP/1.1++", в поля метода, URI и протокола структуры HttpRequest необходимо записать "UNDEFINED", "/something" и "HTTP/1.1++", соответственно.
   </p>
  </li>
 </ul>
 <p>
  На проверку пришлите архив, состоящий из файлов stats.h и stats.cpp (а также любых других файлов, которые вы посчитаете нужным добавить в свой проект). При этом ваши файлы не должны содержать реализацию функции ServeRequests (если ваша посылка будет содержать функцию ServeRequests, вы получите ошибку компиляции).
 </p>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="h" id="w-Fv-nrEEeiqbAqxMNypOA" name="http_request">
 </asset>
 <asset assettype="generic" extension="h" id="Bx1E9WTKEei5FgrpHNEYyg" name="stats">
 </asset>
 <asset assettype="generic" extension="cpp" id="IEsKM2TKEei5FgrpHNEYyg" name="server_stats">
 </asset>
 <h3 level="3">
  Как будет тестироваться ваша посылка
 </h3>
 <p>
  К проекту из вашего архива будет добавлен cpp-файл, который:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    подключает заголовочный файл stats.h;
   </p>
  </li>
  <li>
   <p>
    содержит точно такую же реализацию функции ServeRequests, какая приведена в условии;
   </p>
  </li>
  <li>
   <p>
    содержит функцию main с набором юнит-тестов для функции ServeRequests
   </p>
  </li>
 </ul>
 <p>
  Ваш проект будет собран и запущен.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
