<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Предисловие
 </h2>
 <p>
  Если вы не уверены, стоит ли вам сначала пройти наш первый курс, или у вас достаточно знаний, чтобы начать с «Жёлтого пояса», попробуйте решить эту задачу. Если вы не понимаете её условие или не можете быстро решить, скорее всего, вам надо сначала пройти «Белый пояс»
 </p>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой задаче вам надо разработать класс Matrix для представления целочисленной матрицы. Более подробно, класс Matrix должен иметь:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    конструктор по умолчанию, который создаёт матрицу с нулём строк и нулём столбцов
   </p>
  </li>
  <li>
   <p>
    конструктор от двух целочисленных параметров: num_rows и num_cols, — которые задают количество строк и столбцов матрицы соответственно
   </p>
  </li>
  <li>
   <p>
    метод Reset, принимающий два целочисленных параметра, которые задают новое количество строк и столбцов матрицы соответственно; метод Reset меняет размеры матрицы на заданные и обнуляет все её элементы
   </p>
  </li>
  <li>
   <p>
    константный метод At, который принимает номер строки и номер столбца (именно в этом порядке; нумерация строк и столбцов начинается с нуля) и возвращает значение в соответствущей ячейке матрицы
   </p>
  </li>
  <li>
   <p>
    неконстантный метод At с такими же параметрами, но возвращающий
    <strong>
     ссылку
    </strong>
    на значение в соответствущей ячейке матрицы
   </p>
  </li>
  <li>
   <p>
    константные методы GetNumRows и GetNumColumns, которые возвращают количество строк и столбцов матрицы соответственно
   </p>
  </li>
 </ul>
 <p>
  Если количество строк или количество столбцов, переданное в конструктор класса Matrix или метод Reset, оказалось отрицательным, то должно быть выброшено стандартное исключение
  <a href="https://en.cppreference.com/w/cpp/error/out_of_range" title="">
   out_of_range
  </a>
  .
 </p>
 <p>
  Это же исключение должен бросать метод At, если переданная в него ячейка выходит за границы матрицы.
 </p>
 <p>
  Кроме того, для класса Matrix должны быть определены следующие операторы:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    оператор ввода из потока istream; формат ввода простой — сначала задаётся количество строк и столбцов (именно в этом порядке), а затем все элементы матрицы: сначала элемент первой строки и первого столбца, затем элемент первой строки и второго столбца и так далее
   </p>
  </li>
  <li>
   <p>
    оператор вывода в поток ostream; он должен выводить матрицу в том же формате, в каком её читает оператор ввода, — в первой строке количество строк и столбцов, во второй — элементы первой строки, в третьей — элементы второй строки и т.д.
   </p>
  </li>
  <li>
   <p>
    оператор проверки на равенство (==): он должен возвращать true, если сравниваемые матрицы имеют одинаковый размер и все их соответствующие элементы равны между собой, в противном случае он должен возвращать false.
   </p>
  </li>
  <li>
   <p>
    оператор сложения: он должен принимать две матрицы и возвращать новую матрицу, которая является их суммой; если переданные матрицы имеют разные размеры этот оператор должен выбрасывать стандартное исключение
    <a href="https://en.cppreference.com/w/cpp/error/invalid_argument" title="">
     invalid_argument
    </a>
    .
   </p>
  </li>
 </ul>
 <p>
  Вам дана заготовка решения, а также пример ввода и вывода. Когда вы реализуете класс Matrix, вы можете использовать этот пример, чтобы убедиться, что ваш код работает правильно.
 </p>
 <p>
  Важно! Пример не проверяет выполнение всех требований, приведённых в условии.
 </p>
 <h3 level="3">
  Примечание
 </h3>
 <p>
  Матрицы с нулём строк или нулём столбцов считаются пустыми. Любые две пустые матрицы равны. Сумма двух пустых матриц также является пустой матрицей.
 </p>
 <p>
  Автор задачи — Дмитрий Минченко
 </p>
 <h3 level="3">
  Файл с заготовкой решения задачи
 </h3>
 <asset assettype="generic" extension="cpp" id="eR6tjoqPEeianAr0yIdmDg" name="matrix_sum">
 </asset>
 <h3 level="3">
  Пример ввода
 </h3>
 <pre language="plain_text">3 5
6 4 -1 9 8
12 1 2 9 -5
-4 0 12 8 6

3 5
5 1 0 -8 23
14 5 -6 6 9
8 0 5 4 1</pre>
 <h3 level="3">
  Пример вывода
 </h3>
 <pre language="plain_text">3 5
11 5 -1 1 31
26 6 -4 15 4
4 0 17 12 7</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
