<meta charset="utf-8"/>
<co-content>
 <p>
  Дано два целых числа A и B в диапазоне от 0 до 1 000 000 включительно. Напишите программу, которая вычисляет целую часть частного от деления A на B.
 </p>
 <p>
  Если B = 0, выведите "Impossible".
 </p>
 <p>
  <strong>
   Пример
  </strong>
 </p>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     10 2
    </p>
   </td>
   <td>
    <p>
     5
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     3 5
    </p>
   </td>
   <td>
    <p>
     0
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     11 0
    </p>
   </td>
   <td>
    <p>
     Impossible
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
