<meta charset="utf-8"/>
<co-content>
 <p>
  Написать программу вычисления стоимости покупки товара с учётом скидки. Если исходная стоимость товара больше A рублей, то на неё устанавливается скидка в X процентов. Если исходная стоимость товара больше B рублей, то на неё устанавливается скидка в Y процентов.
 </p>
 <p>
  На вход программе даны пять вещественных чисел: N, A, B, X, Y (A &lt; B) - где N - исходная стоимость товара. Выведите стоимость покупки товара с учётом скидки.
 </p>
 <p>
 </p>
 <p>
  <strong>
   Пример
  </strong>
 </p>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     100 110 120 5 10
    </p>
   </td>
   <td>
    <p>
     100
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     115 110 120 5 10
    </p>
   </td>
   <td>
    <p>
     109.25
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     150 110 120 5 12.5
    </p>
   </td>
   <td>
    <p>
     131.25
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
