<meta charset="utf-8"/>
<co-content>
 <p>
  Дано два целых числа A и B (A &lt;= B, A &gt;= 1, B &lt;= 30000).  Выведите через пробел все чётные числа от A до B (включительно).
 </p>
 <p>
  <em>
   Для проверки целого числа x на чётность используется операция  взятия остатка от деления на 2, которая в C++ оформляется с помощью  символа "%". Например,
  </em>
 </p>
 <pre language="c_cpp">int x;
cin &gt;&gt; x;
if (x % 2 == 0) {
  // x - чётное число
} else {
  // x - нечётное число
}</pre>
 <p>
  <strong>
   Пример
  </strong>
 </p>
 <p>
 </p>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     1 10
    </p>
   </td>
   <td>
    <p>
     2 4 6 8 10
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     2 3
    </p>
   </td>
   <td>
    <p>
     2
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     9 11
    </p>
   </td>
   <td>
    <p>
     10
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
