<meta charset="utf-8"/>
<co-content>
 <p>
  Дана строка. Найдите в этой строке второе вхождение буквы
  <strong>
   f
  </strong>
  и выведите 
индекс этого вхождения. Если буква
  <strong>
   f
  </strong>
  в данной строке встречается только 
один раз, выведите число -1, а если не встречается ни разу, выведите 
число -2. Индексы нумеруются с нуля.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     comfort
    </p>
   </td>
   <td>
    <p>
     -1
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     coffee
    </p>
   </td>
   <td>
    <p>
     3
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     car
    </p>
   </td>
   <td>
    <p>
     -2
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
