<meta charset="utf-8"/>
<co-content>
 <p>
  В stdin даны два натуральных числа. Выведите в stdout их наибольший общий делитель.
 </p>
 <p>
  <strong>
   Пример
  </strong>
 </p>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     25 27
    </p>
   </td>
   <td>
    <p>
     1
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     12 16
    </p>
   </td>
   <td>
    <p>
     4
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     13 13
    </p>
   </td>
   <td>
    <p>
     13
    </p>
   </td>
  </tr>
 </table>
 <p>
  <strong>
   Подсказка
  </strong>
 </p>
 <p>
  Если вам не удаётся сдать задачу, вы можете воспользоваться подсказкой. Но сначала попробуйте решить её сами :)
 </p>
 <asset assettype="pdf" extension="pdf" id="WLTQJVjwEei3rhJFDm6TJA" name="Подсказка">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
