<meta charset="utf-8"/>
<co-content>
 <p>
  На вход дано целое положительное число N. Выведите его в двоичной системе счисления без ведущих нулей.
 </p>
 <p>
  <strong>
   Пример
  </strong>
 </p>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     5
    </p>
   </td>
   <td>
    <p>
     101
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     32
    </p>
   </td>
   <td>
    <p>
     100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     1
    </p>
   </td>
   <td>
    <p>
     1
    </p>
   </td>
  </tr>
 </table>
 <h3 level="3">
  Подсказка
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    число N можно считывать в переменную типа
    <strong>
     int
    </strong>
   </p>
  </li>
  <li>
   <p>
    алгоритм перевода из десятичной системы счисления в двоичную, может быть найден, например, здесь:
    <a href="https://www.yaklass.ru/p/informatika/10-klass/informatciia-i-informatcionnye-protcessy-11955/predstavlenie-chislovoi-informatcii-v-kompiutere-11901/re-62e8903e-ba93-478a-85b5-ae45af40c658" title="Алгоритм">
     https://www.yaklass.ru/p/informatika/10-klass/informatciia-i-informatcionnye-protcessy-11955/predstavlenie-chislovoi-informatcii-v-kompiutere-11901/re-62e8903e-ba93-478a-85b5-ae45af40c658
    </a>
   </p>
  </li>
  <li>
   <p>
    в этой задаче вам может пригодиться контейнер vector; напоминаем, что добавление значения
    <strong>
     x
    </strong>
    в конец вектора
    <strong>
     v
    </strong>
    делается так:
    <strong>
     v.push_back(x);
    </strong>
   </p>
  </li>
 </ul>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
