<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Предисловие
 </h3>
 <p>
  Если вы не уверены, стоит ли вам сначала пройти более ранние наши курсы, или у вас достаточно знаний, чтобы начать с «Красного пояса», попробуйте решить эту задачу. Если вы не понимаете её условие или не можете быстро решить, скорее всего, вам надо сначала пройти «Жёлтый пояс»
 </p>
 <h3 level="3">
  Условие задачи
 </h3>
 <p>
  Реализуйте шаблонную функцию
 </p>
 <pre language="c_cpp">template&lt;typename ForwardIterator, typename UnaryPredicate&gt;
ForwardIterator max_element_if(
  ForwardIterator first, ForwardIterator last, UnaryPredicate pred);</pre>
 <p>
  возвращающую итератор на максимальный элемент в диапазоне [first, last), для которого предикат pred возвращает true. Если диапазон содержит несколько подходящих элементов с максимальным значением, то результатом будет первое вхождение такого элемента. Если диапазон не содержит подходящих элементов, то функция должна вернуть last.
 </p>
 <p>
  Гарантируется, что:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    pred принимает аргумент того типа, который имеют элементы диапазона
   </p>
  </li>
  <li>
   <p>
    для ForwardIterator определены операторы ++, ==, !=, * (разыменование)
   </p>
  </li>
  <li>
   <p>
    для типа, на который указывает итератор, определён оператор &lt; («меньше»)
   </p>
  </li>
 </ul>
 <p>
  Заготовка решения:
 </p>
 <p>
 </p>
 <asset assettype="generic" extension="cpp" id="7qo4B-kGR3aqOAfpBvd2fQ" name="max_element_if">
 </asset>
 <p>
  Автор задачи — Ольга Марчевская
 </p>
 <p>
  P.S. В файле max_element_if.cpp используется заголовочный файл test_runner.h. Это юнит-тест фреймворк, который мы разработали в «Жёлтом поясе по C++».
 </p>
 <asset assettype="generic" extension="h" id="XN7SE3VQEeiMwApe4i-fLg" name="test_runner">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
