<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите функцию, которая
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    называется IsPalindrom
   </p>
  </li>
  <li>
   <p>
    возвращает bool
   </p>
  </li>
  <li>
   <p>
    принимает параметр типа string
и возвращает, является ли переданная строка палиндромом
   </p>
  </li>
 </ul>
 <p>
  Палиндром - это слово или фраза, которые одинаково читаются слева направо и справа налево. Пустая строка
  <strong>
   является
  </strong>
  палиндромом.
 </p>
 <p>
 </p>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      Аргумент функции
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      Результат
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     madam
    </p>
   </td>
   <td>
    <p>
     true
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     gentleman
    </p>
   </td>
   <td>
    <p>
     false
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     X
    </p>
   </td>
   <td>
    <p>
     true
    </p>
   </td>
  </tr>
 </table>
 <h3 level="3">
 </h3>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
