<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите функцию, которая
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    называется PalindromFilter
   </p>
  </li>
  <li>
   <p>
    возвращает vector&lt;string&gt;
   </p>
  </li>
  <li>
   <p>
    принимает vector&lt;string&gt; words и int minLength и возвращает все строки из вектора words, которые являются палиндромами и имеют длину не меньше minLength
   </p>
  </li>
 </ul>
 <p>
  Входной вектор содержит не более 100 строк, длина каждой строки не больше 100 символов.
 </p>
 <h3 level="3">
  Примеры
 </h3>
 <table columns="3" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      words
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      minLength
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      результат
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     abacaba, aba
    </p>
   </td>
   <td>
    <p>
     5
    </p>
   </td>
   <td>
    <p>
     abacaba
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     abacaba, aba
    </p>
   </td>
   <td>
    <p>
     2
    </p>
   </td>
   <td>
    <p>
     abacaba, aba
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     weew, bro, code
    </p>
   </td>
   <td>
    <p>
     4
    </p>
   </td>
   <td>
    <p>
     weew
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <p>
  На проверку пришлите файл с реализацией функции PalindromFilter. Ваш файл может содержать и другие функции, если они вам необходимы. В этой задаче ваша программа не обязана что-то считывать из stdin и записывать в stdout — тестирующая система будет вызывать вашу функцию PalindromFilter напрямую
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
