<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте функцию vector&lt;int&gt; Reversed(const vector&lt;int&gt;&amp; v), возвращающую копию вектора v, в которой числа переставлены в обратном порядке.
 </p>
 <p>
  <strong>
   Пример
  </strong>
 </p>
 <table columns="2" rows="2">
  <tr>
   <td>
    <p>
     <strong>
      Вектор v
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      Результат функции
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     1, 5, 3, 4, 2
    </p>
   </td>
   <td>
    <p>
     2, 4, 3, 5, 1
    </p>
   </td>
  </tr>
 </table>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
