<meta charset="utf-8"/>
<co-content>
 <p>
  На лекции для того, чтобы сохранить множество объектов unique_ptr, мы использовали тип unordered_map&lt;T*, unique_ptr&lt;T&gt;&gt;. Что выглядит несколько необоснованно, ведь, казалось бы, нам нужно множество, а тут у нас словарь (хеш-таблица).
 </p>
 <p>
  В этом материале мы разберёмся, как использовать для этой задачи именно множество.
 </p>
 <p>
  Логично было бы использовать контейнер unordered_set, но для этого нам нужно ещё кое-что узнать об умных указателях, так что к этому подходу мы вернёмся ближе к концу блока.
 </p>
 <p>
  А пока давайте посмотрим, как решить эту задачу с использованием контейнера set. Объявим поле allocated как set&lt;unique_ptr&lt;T&gt;&gt;. Тогда реализация метода Allocate() примет следующий вид:
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
T* ObjectPool&lt;T&gt;::Allocate() {
  if (free.empty()) {
    free.push(make_unique&lt;T&gt;());
  }
  auto ptr = move(free.front());
  free.pop();
  T* ret = ptr.get();
  allocated.insert(move(ptr));  // Единственная изменившаяся строка
  return ret;
}</pre>
 <p>
  Как видим, никаких проблем не возникло. При использовании unordered_map мы писали allocated[ret] = move(ptr);, а при использовании set пишем allocated.insert(move(ptr));. Здесь всё хорошо. Аналогично с методом TryAllocate() --- он вообще не изменится.
 </p>
 <p>
  Интереснее дела обстоят с методом Deallocate(). Он принимает сырой указатель T*, и затем ищет его в контейнере:
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
void ObjectPool&lt;T&gt;::Deallocate(T* object) {
  auto it = allocated.find(object);
  // ...</pre>
 <p>
  И вот тут-то начинаются проблемы.
 </p>
 <h2 level="2">
  Поиск элемента
 </h2>
 <p>
  На лекции мы используем контейнер unordered_map, ключом которого является тот же самый сырой указатель T*. Поэтому метод find() работает прекрасно. Но теперь мы поменяли контейнер на set, и его ключами будут умные указатели unique_ptr&lt;T&gt;. А это, вообще говоря, совершенно другой тип. Давайте посмотрим
  <a href="https://en.cppreference.com/w/cpp/container/set/find" title="">
   документацию метода find() контейнера set
  </a>
  :
 </p>
 <pre language="c_cpp">iterator find(const Key&amp; key);                            // (1)
const_iterator find(const Key&amp; key) const;                // (2)	
template&lt;class K&gt; iterator find(const K&amp; x);              // (3) (since C++14)
template&lt;class K&gt; const_iterator find(const K&amp; x) const;  // (4) (since C++14)</pre>
 <p>
  Как видим, у него есть четыре перегрузки. При этом, перегрузки (1) и (2) нам не подходят, т.к. они принимают const Key&amp;, то есть в нашем случае это будет const unique_ptr&lt;T&gt;&amp;. Но у нас есть только сырой указатель! Мы не можем просто так взять и создать из него unique_ptr, т.к. последний удалил бы объект в своём деструкторе.
 </p>
 <p>
  Значит, нам нужны перегрузки (3) или (4) (они отличаются только константностью). Они позволяют искать в контейнере ключ сравнивая его со значением какого-то другого типа. Такой поиск называется
  <em>
   гетерогенным
  </em>
  .
 </p>
 <p>
  Посмотрим, что про них пишет документация:
 </p>
 <p>
  <em>
   3,4) [...] This overload only participates in overload resolution if the qualified-id Compare::is_transparent is valid and denotes a type. It allows calling this function without constructing an instance of Key.
  </em>
 </p>
 <p>
  Последнее предложение звучит именно как то, что нам нужно. Но что же значит загадочная фраза "qualified-id Compare::is_transparent is valid"?.. Чтобы в этом разобраться, начнём с того, что такое Compare.
 </p>
 <h2 level="2">
  Пользовательский компаратор
 </h2>
 <p>
  Если мы посмотрим на
  <a href="https://en.cppreference.com/w/cpp/container/set" title="">
   документацию контейнера set
  </a>
  , то увидим, что, помимо ключа Key, шаблон также принимает второй параметр Compare (ну, технически, там ещё есть третий параметр Allocator, но он нас сейчас не интересует). Про него сказано:
 </p>
 <p>
  <em>
   Sorting is done using the key comparison function Compare.
  </em>
 </p>
 <p>
  То есть Compare отвечает за сортировку элементов в множестве. По умолчанию они сортируются с использованием обычного сравнения "&lt;". Но мы можем передать свой функтор, который определит произвольный порядок на этом множестве. Этот функтор называется
  <em>
   компаратором
  </em>
  .
 </p>
 <p>
  Теперь вернёмся к фразе "qualified-id Compare::is_transparent is valid". Она значит, что в нашем компараторе определён вложенный тип is_transparent. Не важно, что именно это за тип. Важно, что он должен быть. Компаратор, в котором этот тип определён, называется
  <em>
   прозрачным
  </em>
  . Если множество использует прозрачный компаратор, то в нём доступны перегрузки (3) и (4) метода find().
 </p>
 <p>
  Но почему бы не сделать эти перегрузки доступными всегда?.. Тут дело в богатом наследии С++. Дело в том, что вплоть до стандарта С++14 в контейнере set вообще нельзя было найти элемент, если у тебя нет значения точно такого же типа. В С++14 эту проблему исправили, добавив перегрузки (3) и (4). Но, чтобы не сломать существующий код, сделали так, что по умолчанию они не используются. А "прозрачный компаратор" - это просто хитрое название для "включателя дополнительных перегрузок метода find()".
 </p>
 <p>
  Давайте теперь напишем наш компаратор и используем его для множества. Поскольку мы не хотим менять сам порядок элементов (мы просто хотим сделать компаратор прозрачным), определим operator() так, чтобы он просто вызывал стандартное сравнение через "&lt;":
 </p>
 <pre language="c_cpp">template &lt;class T&gt;
class ObjectPool {
  // ...

private:
  // Определили свой компаратор
  struct Compare
  {    
    using is_transparent = void;  // Сделали компаратор прозрачным
   
    // Использовали стандартное сравнение для ключей
    bool operator()(const unique_ptr&lt;T&gt;&amp; lhs, const unique_ptr&lt;T&gt;&amp; rhs) const {
      return lhs &lt; rhs;
    }
  };

  queue&lt;unique_ptr&lt;T&gt;&gt; free;
  set&lt;unique_ptr&lt;T&gt;, Compare&gt; allocated;  // Изменили контейнер на set и указали
                                          // компаратор вторым аргументом
};</pre>
 <p>
  Ок, с этим разобрались. Теперь в метод find() можно передавать сырой указатель. Но вот беда - С++ из коробки не умеет сравнивать сырой указатель с unique_ptr. На всякий случай. Чтобы избежать неправильного использования. Ведь это, вообще говоря, разные типы.
 </p>
 <h2 level="2">
  Сравнение T* и unique_ptr&lt;T&gt;
 </h2>
 <p>
  Казалось бы, что может быть проще. Если операций сравнения нет, то надо их определить. Причём, у нас уже есть компаратор, куда мы можем их положить!
 </p>
 <pre language="c_cpp">  struct Compare
  {
    using is_transparent = void;
   
    bool operator()(const unique_ptr&lt;T&gt;&amp; lhs, const unique_ptr&lt;T&gt;&amp; rhs) const {
      return lhs &lt; rhs;
    }

    // Определили функции сравнения ключа и обычного указателя
    bool operator()(const unique_ptr&lt;T&gt;&amp; lhs, const T* rhs) const {
      return less&lt;const T*&gt;()(lhs.get(), rhs);
    }
    bool operator()(const T* lhs, const unique_ptr&lt;T&gt;&amp; rhs) const {
      return less&lt;const T*&gt;()(lhs, rhs.get());
    }
  };</pre>
 <p>
  С заголовками этих функций всё понятно. Но в теле появился странный функтор less, который мы используем для сравнения указателей. Поскольку он используется для
  <em>
   сравнения
  </em>
  , он тоже является компаратором.
 </p>
 <p>
  Дело в том, что в С++ нельзя сравнивать указатели двух никак не связанных объектов с помощью стандартных операций сравнения ("&lt;", "&lt;=", "&gt;", "&gt;="). То есть если эти объекты лежат в одном массиве, или если они содержатся в качестве членов в другом объекте, то их сравнивать можно. А вот если это просто два объекта, которые были независимо созданы в куче, то уже нельзя. Точнее, сравнить-то их можно, и компилятор это разрешит, и это даже, вероятнее всего, будет работать. Но правильный порядок не гарантируется. И на некоторых платформах/компиляторах это вдруг внезапно может выстрелить. Например, для двух указателей p1 и p2 может вдруг оказаться, что условия p1 &lt; p2 и p2 &lt; p1 оба будут истинны.
 </p>
 <p>
  Это происходит потому, что, в общем случае, указатель может быть сложносоставной сущностью. Это в наиболее распространённой модели памяти, используемой на большинстве современных компьютеров, указатель представляет собой просто индекс ячейки в линейном массиве памяти. Пусть и виртуальной. Но есть платформы, где адресация памяти не такая простая. Если бы С++ гарантировал, что операции сравнения
  <em>
   всегда
  </em>
  дают ожидаемые результаты, то компиляторам под данные платформы пришлось бы генерировать менее оптимальный код. А это против идеологии С++.
 </p>
 <p>
  Поэтому, если вы действительно хотите получить правильный порядок при сравнении указателей, даже в случае указателей на несвязанные объекты, нужно об этом компилятору в явном виде сказать. И делается это, при помощи специального компаратора less. Выражение less&lt;const T*&gt;() инстанцирует шаблон класса less для указателя const T* и создаёт объект компаратора (здесь мы везде используем указатели на константу, т.к. обычные указатели могут быть неявно к ним преобразованы, но не наоборот). У него будет вызван operator(), куда мы передадим два указателя. Один возьмём напрямую из параметра функции, а второй вытащим из unique_ptr с помощью метода get(). И уже operator() вернёт нам результат сравнения.
 </p>
 <p>
  Таким образом, выражение less&lt;const T*&gt;()(lhs.get(), rhs) вернёт нам по сути то же самое, что и обычное lhs.get() &lt; rhs, но только с гарантией, что это будет всегда правильно работать.
 </p>
 <p>
  Теперь остался последний шаг.
 </p>
 <h2 level="2">
  Перемещение ключа
 </h2>
 <p>
  На лекции для перемещения элемента из множества занятых объектов в очередь свободных объектов в методе Deallocate() мы использовали следующий код:
 </p>
 <pre language="c_cpp">free.push(move(it-&gt;second));
allocated.erase(it);</pre>
 <p>
  где итератор it был найден ранее с помощью метода find(). Здесь всё понятно - переместили значение и удалили элемент. Однако, с контейнером set такой номер не пройдёт, потому как unique_ptr является не значением элемента, а ключом. А просто так модифицировать ключ в ассоциативном контейнере нельзя - сломается механизм индексации (в случае упорядоченного контейнера - может нарушиться порядок). А перемещение из ключа ещё как его модифицирует.
 </p>
 <p>
  К счастью, из лекций по ассоциативным контейнерам мы уже знаем, как бороться с этой проблемой. Нам поможет метод extract():
 </p>
 <pre language="c_cpp">free.push(move(allocated.extract(it).value()));</pre>
 <p>
  То есть мы сначала извлекаем узел из множества, и после этого можем переместить из него ключ.
 </p>
 <h2 level="2">
  Всё вместе
 </h2>
 <p>
  Ух. Вот теперь мы готовы написать полную реализацию класса ObjectPool с использованием контейнера set:
 </p>
 <pre language="c_cpp">template &lt;class T&gt;
class ObjectPool {
public:
  T* Allocate();
  T* TryAllocate();

  void Deallocate(T* object);

private:
  // Определили свой компаратор
  struct Compare
  {
    using is_transparent = void;  // Сделали компаратор прозрачным
   
    // Использовали стандартное сравнение для ключей
    bool operator()(const unique_ptr&lt;T&gt;&amp; lhs, const unique_ptr&lt;T&gt;&amp; rhs) const {
      return lhs &lt; rhs;
    }
    // Определили функции сравнения ключа и обычного указателя
    bool operator()(const unique_ptr&lt;T&gt;&amp; lhs, const T* rhs) const {
      return less&lt;const T*&gt;()(lhs.get(), rhs);
    }
    bool operator()(const T* lhs, const unique_ptr&lt;T&gt;&amp; rhs) const {
      return less&lt;const T*&gt;()(lhs, rhs.get());
    }
  };

  queue&lt;unique_ptr&lt;T&gt;&gt; free;
  set&lt;unique_ptr&lt;T&gt;, Compare&gt; allocated;  // Изменили контейнер на set и указали
                                          // компаратор вторым аргументом
};

template &lt;typename T&gt;
T* ObjectPool&lt;T&gt;::Allocate() {
  if (free.empty()) {
    free.push(make_unique&lt;T&gt;());
  }
  auto ptr = move(free.front());
  free.pop();
  T* ret = ptr.get();
  allocated.insert(move(ptr));  // Изменили вставку
  return ret;
}

template &lt;typename T&gt;
T* ObjectPool&lt;T&gt;::TryAllocate() {
  if (free.empty()) {
    return nullptr;
  }
  return Allocate();
}

template &lt;typename T&gt;
void ObjectPool&lt;T&gt;::Deallocate(T* object) {
  auto it = allocated.find(object);
  if (it == allocated.end()) {
    throw invalid_argument("");
  }
  // Изменили код перемещения
  free.push(move(allocated.extract(it).value()));
}</pre>
 <p>
  Как видим, изменений потребовалось немного. Но они требуют понимания некоторых дополнительных возможностей языка. Знание этих возможностей не понадобится вам в рамках данного блока, но наверняка может оказаться полезным в реальной разработке.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
