<meta charset="utf-8"/>
<co-content>
 <p>
  В формулировках предстоящих задач вы столкнётесь с таким явлением как "виртуальные деструкторы". В данном материале мы его обсудим. Вы уже знаете про деструкторы и про виртуальные функции по отдельности, но когда они объединяются вместе, появляется некоторая специфика.
 </p>
 <h2 level="2">
  Когда нужны виртуальные деструкторы
 </h2>
 <p>
  Виртуальные деструкторы могут понадобиться, когда у нас есть иерархия классов и динамические объекты. Рассмотрим простой пример:
 </p>
 <pre language="c_cpp">class Shape {
public:
    virtual double Area() const = 0;
};

class Polygon : public Shape {
public:
    double Area() const override;
private:
    vector&lt;Point&gt; vertices_;
};</pre>
 <p>
  И рассмотрим такой пример кода:
 </p>
 <pre language="c_cpp">{
    unique_ptr&lt;Shape&gt; shape = make_unique&lt;Polygon&gt;();
}</pre>
 <p>
  Обратите внимание, что функция make_unique создаёт новый объект класса Polygon и возвращает unique_ptr&lt;Polygon&gt;, но при этом он сохраняется в умный указатель на базовый класс unique_ptr&lt;Shape&gt;. Это стандартная практика. Точно так же, как указателю на базовый класс можно присвоить указатель на класс наследник, умному указателю на базовый класс можно присвоить умный указатель на класс наследник. Это и позволяет нам использовать полиморфизм, в том числе с умными указателям.
 </p>
 <p>
  Давайте подумаем, что произойдёт при разрушении объекта shape. Мы уже знаем, что деструктор unique_ptr&lt;Shape&gt;вызовет delete для динамического объекта. Но вопрос в том, какой будет тип указателя, переданного в delete. На самом деле, код выше эквивалентен вот такому:
 </p>
 <pre language="c_cpp">{
    Shape* shape = new Polygon;
    delete shape;
}</pre>
 <p>
  Теперь становится понятно, что delete вызывается для указателя на базовый класс Shape. Значит, delete вызовет деструктор класса Shape, что логично. Но ведь нам-то нужно, чтобы вызвался деструктор класса Polygon! Иначе некому будет удалить вектор вершин, и случится как минимум утечка памяти (на самом деле даже хуже - будет неопределённое поведение).
 </p>
 <p>
  То есть получается, что мы удаляем динамический объект, используя указатель на базовый класс, и хотим, чтобы при этом вызывался деструктор класса наследника. Но ведь ровно такое поведение и позволяют делать виртуальные функции! Мы вызываем их через указатель (или ссылку) на базовый класс, а они исполняются в классе наследнике. В нашем же случае в качестве этой функции выступает деструктор. Именно его нам и нужно сделать виртуальным:
 </p>
 <pre language="c_cpp">class Shape {
public:
    virtual ~Shape() = default;  // Виртуальный деструктор

    virtual double Area() const = 0;
};</pre>
 <p>
  Теперь при вызове delete shape корректным образом вызовется деструктор класса Polygon. Выражение = default означает, что нас устраивает реализация деструктора по умолчанию, мы не хотим её менять, мы просто хотим сказать компилятору, что деструктор должен быть виртуальным.
 </p>
 <h2 level="2">
  Свойства виртуальных деструкторов
 </h2>
 <p>
  Обратите внимание, что обычные виртуальные функции не вызывают свои реализации из базовых классов. Если нам это нужно, мы вызываем их в явном виде. Но с деструктором ситуация иная. Не важно, виртуальный он или нет, когда деструктор заканчивает свою работу, всегда вызываются деструкторы всех полей класса (в порядке обратном их объявлению), а потом деструкторы базовых классов (в порядке обратном их созданию).
 </p>
 <p>
  Но, как и в случае обычных виртуальных функций, если в каком-то из базовых классов деструктор был объявлен виртуальным, то он останется виртуальным в текущем классе и во всех классах наследниках.
 </p>
 <h2 level="2">
  Когда делать деструктор виртуальным
 </h2>
 <p>
  Из описания выше понятно, что виртуальный деструктор необходим, когда мы удаляем объект через указатель на базовый класс. Однако, в момент написания базового класса мы, вообще говоря, не знаем, собирается ли кто-то удалять наследников этого класса через указатель на этот класс. Мы же класс только что написали, у него ещё и наследников-то нет. Как тогда понять, нужен ли нам виртуальный деструктор?..
 </p>
 <p>
  В качестве простого правила по умолчанию, деструктор следует объявлять виртуальным
  <strong>
   тогда и только тогда, когда ваш класс содержит виртуальные функции
  </strong>
  . При этом, если деструктор текущего класса уже является виртуальным в виду того, что он был объявлен виртуальным в одном из базовых классов, повторно его делать виртуальным, конечно, не нужно.
 </p>
 <p>
  Существуют специфические ситуации, когда от этого правила можно отступать, но мы их с вами сейчас рассматривать не будем.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
