<meta charset="utf-8"/>
<co-content>
 <p>
  Вы работаете с иерархией классов, описывающих животных:
 </p>
 <pre language="c_cpp">#include &lt;string&gt;

class Animal {
public:
  virtual std::string Voice() const {
    return "Not implemented yet";
  }
  virtual ~Animal() {
  }
};

class Tiger: public Animal {
  std::string Voice() const override {
    return "Rrrr";
  }
};

class Wolf: public Animal {
  std::string Voice() const override {
    return "Wooo";
  }
};

class Fox: public Animal {
  std::string Voice() const override {
    return "Tyaf";
  }
};</pre>
 <p>
  Вам нужно определить тип Zoo, представляющий собой набор различных животных, и написать две функции:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Zoo CreateZoo(std::istream&amp; in)
   </p>
  </li>
  <li>
   <p>
    void Process(const Zoo&amp; zoo, std::ostream&amp; out)
   </p>
  </li>
 </ul>
 <p>
  Функция CreateZoo должна читать слова из потока ввода. Если на вход поступают слова "Tiger", "Wolf" или "Fox", она должна помещать соответствующего зверя в зоопарк. В противном случае она должна прекратить чтение и сгенерировать исключение std::runtime_error.
 </p>
 <p>
  Функция Process должна перебрать всех зверей в зоопарке в порядке создания и записать в поток вывода для каждого из них результат работы виртуальной функции Voice.
 </p>
 <p>
  Один ваш друг написал решение этой задачи, но оно почему-то не работает. Исправьте его и сдайте в систему.
 </p>
 <p>
  Замечания:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Код классов из файла animals.h переписывать не надо, просто подключите заголовочный файл animals.h.
   </p>
  </li>
  <li>
   <p>
    Обратите внимание, что в нашей версии файла animals.h голоса зверей могут отличаться от того, что приведено в примере.
   </p>
  </li>
  <li>
   <p>
    Ваша программа должна создавать ровно столько объектов-зверей, сколько было передано во входном потоке в функцию CreateZoo.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Неверное решение вашего друга и файл animals.h
 </h3>
 <asset assettype="generic" extension="cpp" id="LhChI_ZIEeilxxL_ZeRz_A" name="zoo">
 </asset>
 <asset assettype="generic" extension="h" id="R6hL3_ZIEeiaxBKyA9PBAg" name="animals">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
