<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Введение
 </h3>
 <p>
  Многие программы создаются для пакетной обработки большого числа однородных записей. Часто при этом обработка этих записей может быть разделена на логически самостоятельные этапы, это упрощает совместную разработку новых фич и позволяет легко комбинировать эти этапы в новые конфигурации. Такую обработку можно мысленно вообразить себе как поток объектов, идущих по конвейеру от одного обработчика к другому. В этой задаче вам предстоит закончить реализацию такого конвейера.
 </p>
 <p>
  Основная идея конвейера в том, чтобы использовать функции, "поглощающие" объекты и вызывающие друг друга:
 </p>
 <pre language="c_cpp">void ConsumeObject(unique_ptr&lt;SomeObject&gt; obj) {
    // обработка
    ConsumeObject2(move(obj));  // теряем владение объектом
}</pre>
 <p>
  Возможен вариант архитектуры с shared_ptr, но обычно достаточно unique_ptr, и он в этой ситуации обладает преимуществами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    уменьшает накладные расходы
   </p>
  </li>
  <li>
   <p>
    однозначно передает владение: предполагается, что отдав объект, обработчик уже не будет его модифицировать, что упрощает рассуждения о корректности программы
   </p>
  </li>
 </ul>
 <p>
  Использование классов вместо функций позволяет отвязать обработчиков друг от друга и упрощает поддержку нескольких классов обрабатываемых объектов.
 </p>
 <h3 level="3">
  Постановка задачи
 </h3>
 <p>
  В этой задаче вам предлагается разработать конвейер обработчиков электронных писем:
 </p>
 <pre language="c_cpp">struct Email {
  string from;
  string to;
  string body;
};</pre>
 <p>
  Обработчики должны реализовывать абстрактный класс Worker:
 </p>
 <p>
 </p>
 <pre language="c_cpp">class Worker {
public:
  virtual void Process(unique_ptr&lt;Email&gt; email) = 0;
  virtual void Run() {
    // только первому worker-у в пайплайне нужно реализовать этот метод
    throw logic_error("Unimplemented");
  }

protected:
  // реализации должны вызывать PassOn, чтобы передать объект дальше
  // по цепочке обработчиков
  void PassOn(unique_ptr&lt;Email&gt; email) const;

public:
  void SetNext(unique_ptr&lt;Worker&gt; worker);
};</pre>
 <p>
  Также реализуйте обработчики Reader, Filter, Copier и Sender, наследующие от класса Worker, а также класс PipelineBuilder, конструирующий цепочку обработчиков:
 </p>
 <pre language="c_cpp">class PipelineBuilder {
public:
  // добавляет в качестве первого обработчика Reader
  explicit PipelineBuilder(istream&amp; in);

  // добавляет новый обработчик Filter
  PipelineBuilder&amp; FilterBy(Filter::Function filter);

  // добавляет новый обработчик Copier
  PipelineBuilder&amp; CopyTo(string recipient);

  // добавляет новый обработчик Sender
  PipelineBuilder&amp; Send(ostream&amp; out);

  // строит цепочку с помощью метода Worker::SetNext и возвращает первый обработчик в построенной цепочке
  unique_ptr&lt;Worker&gt; Build();
};</pre>
 <p>
  Требования:
 </p>
 <p>
  Worker
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    метод SetNext должен принимать во владение следующий обработчик из цепочки
   </p>
  </li>
  <li>
   <p>
    метод PassOn должен вызывать метод Process следующего обработчика, если он был установлен
   </p>
  </li>
 </ul>
 <p>
  Reader
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    конструктор должен принимать входной поток (istream&amp;), из которого нужно читать сообщения
   </p>
  </li>
  <li>
   <p>
    метод Run должен читать из входного потока все e-mail'ы и передавать дальше каждый из них. Один e-mail представляется во входном потоке полями from, to, body, каждое из которых находится на своей строке.
   </p>
  </li>
 </ul>
 <p>
  Filter
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    конструктор должен принимать предикат типа function&lt;bool(const Email&amp;)&gt;
   </p>
  </li>
  <li>
   <p>
    метод Process должен передавать дальше только сообщения, удовлетворяющие предикату
   </p>
  </li>
 </ul>
 <p>
  Copier
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    конструктор должен принимать строку-адрес получателя
   </p>
  </li>
  <li>
   <p>
    метод Process должен передавать сообщение как исходному получателю, так и указанному в конструкторе. В случае, если они совпадают, дублировать сообщение не нужно
   </p>
  </li>
 </ul>
 <p>
  Sender
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    конструктор должен принимать поток для записи сообщений
   </p>
  </li>
  <li>
   <p>
    метод Process должен записывать сообщения в поток в том же формате, в котором они были прочитаны
   </p>
  </li>
 </ul>
 <p>
  Все обработчики должны передавать сообщения дальше, если обратное не требуется явно.
 </p>
 <p>
  PipelineBuilder
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Конструктор должен инициализировать цепочку обработчиков обработчиком Reader с переданным потоком.
   </p>
  </li>
  <li>
   <p>
    Методы с типом возврата PipelineBuilder&amp; должны возвращать ссылку на экземпляр класса, для которого они были вызваны, а также добавлять в конец цепочки новый обработчик, соответствующий вызванному методу (Filter для метода FilterBy, Sender для метода Send и т.д.).
   </p>
  </li>
  <li>
   <p>
    Метод Build должен возвращать готовую цепочку обработчиков; подразумевается, что после его завершения экземпляр PipelineBuilder больше использоваться не будет
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="ruFJCBKuEemP8Qpm209XvA" name="pipeline">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
