<meta charset="utf-8"/>
<co-content>
 <p>
  Вам нужно написать набор классов и функций, записывающих в заданный поток JSON-значение, причем всегда допустимое
  <a href="http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf" title="">
   стандартом JSON
  </a>
  .
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Функция PrintJsonString должна принимать ссылку на выходной поток (std::ostream), строку, которую нужно напечатать (std::string_view), и выводить экранированную строку в поток.
   </p>
  </li>
  <li>
   <p>
    Функция PrintJsonArray должна принимать ссылку на выходной поток и возвращать экземпляр класса, через который можно заполнить массив.
   </p>
  </li>
  <li>
   <p>
    Функция PrintJsonObject должна принимать ссылку на выходной поток и возвращать экземпляр класса, через который можно заполнить объект.
   </p>
  </li>
 </ul>
 <p>
  Методы вспомогательных классов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Number(int64_t) - выводит число
   </p>
  </li>
  <li>
   <p>
    String(std::string_view) - выводит экранированную строку
   </p>
  </li>
  <li>
   <p>
    Boolean(bool) - выводит булевое значение (true или false)
   </p>
  </li>
  <li>
   <p>
    Null() - выводит null.
   </p>
  </li>
  <li>
   <p>
    Key(std::string_view) - выводит ключ (только внутри объекта)
   </p>
  </li>
  <li>
   <p>
    BeginArray()/EndArray() - начинает/заканчивает вывод массива
   </p>
  </li>
  <li>
   <p>
    BeginObject()/EndObject() - начинает/заканчивает вывод объекта
   </p>
  </li>
 </ul>
 <p>
  При попытке записать невалидное JSON-значение через непрерывную цепочку вызовов должна возникать ошибка компиляции.
 </p>
 <p>
  Примеры:
 </p>
 <pre language="c_cpp">PrintJsonString(std::cout, "Hello, \"world\"");
// "Hello, \"world\""

PrintJsonArray(std::cout)
  .Null()
  .String("Hello")
  .Number(123)
  .Boolean(false)
  .EndArray();  // явное завершение массива
// [null,"Hello",123,false]

PrintJsonArray(std::cout)
  .Null()
  .String("Hello")
  .Number(123)
  .Boolean(false);
// [null,"Hello",123,false]

PrintJsonArray(std::cout)
  .String("Hello")
  .BeginArray()
    .String("World");
// ["Hello",["World"]]

PrintJsonObject(std::cout)
  .Key("foo")
  .BeginArray()
     .String("Hello")
  .EndArray()
  .Key("foo")  // повторяющиеся ключи допускаются
  .BeginObject()
    .Key("foo");  // закрытие объекта в таком состоянии допишет null в качестве значения
// {"foo":["Hello"],"foo":{"foo":null}}

PrintJsonObject(std::cout)
  .String("foo");  // ошибка компиляции

PrintJsonObject(std::cout)
  .Key("foo")
  .Key("bar");  // ошибка компиляции
  
PrintJsonObject(std::cout)
  .EndArray();  // ошибка компиляции

PrintJsonArray(std::cout)
  .Key("foo")
  .BeginArray()
  .EndArray()
  .EndArray();  // ошибка компиляции
  
PrintJsonArray(std::cout)
  .EndArray()
  .BeginArray();  // ошибка компиляции  (JSON допускает только одно верхнеуровневое значение)
  
PrintJsonObject(std::cout)
  .EndObject()
  .BeginObject();  // ошибка компиляции  (JSON допускает только одно верхнеуровневое значение)</pre>
 <p>
  Код не обязан выводить корректный JSON, если создаваемые им временные объекты присваиваются переменным. Например, следующий код не обязан выводить корректный JSON:
 </p>
 <pre language="c_cpp">auto json = PrintJsonObject(std::cout).Key("x");</pre>
 <h3 level="3">
  Отступления от стандарта
 </h3>
 <p>
  Для упрощения задачи мы немного упростили требования к JSON:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Number должен принимать только int64_t, поддерживать вывод чисел с плавающей точкой не нужно
   </p>
  </li>
 </ul>
 <ul bullettype="bullets">
  <li>
   <p>
    Упрощенное экранирование строк: достаточно экранировать только " (как \") и \ (как \\)
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="cpp" id="ttlVy5DzEemA0BK4cRbOlg" name="json_printer">
 </asset>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="n_z615cTEemLWBJtO-Ty2g" name="Подсказка 1">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
