<meta charset="utf-8"/>
<co-content>
 <p>
  В лекциях мы с вами видели, что бинарная (де)сериализация значения переменной простого типа T (int, char, double, bool и т.д.) выполняется так:
 </p>
 <pre language="c_cpp">T x = ...;
output_stream.write(reinterpret_cast&lt;const char*&gt;(&amp;x), sizeof(x));
input_stream.read(reinterpret_cast&lt;char*&gt;(&amp;x), sizeof(x));</pre>
 <p>
  Этот способ неудобен по многим причинам:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    код выглядит довольно громоздким;
   </p>
  </li>
  <li>
   <p>
    имя переменной используется дважды;
   </p>
  </li>
  <li>
   <p>
    использование reinterpret_cast и сырых указателей может повышать подозрительность читающего код.
   </p>
  </li>
 </ul>
 <p>
  Кроме того, если нам надо сохранять значения большого количества переменных (а обычно это так), то у нас получится очень тяжёлый для поддержки код. Наконец, такой способ бинарной сериализации в общем случае неприменим для сложных типов: структур и классов.

Поэтому в этой задаче мы с вами разработаем удобную в использовании библиотеку для бинарной (де)сериализации примитивных типов, строк, а также контейнеров std::vector и std::map. Интерфейс этой библиотеки крайне прост:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    если у нас есть переменная x типа T и выходной поток output, то сериализация выполняется вызовом Serialize(x, output);
   </p>
  </li>
  <li>
   <p>
    если же у нас есть переменная x типа T и входной поток input, то десериализация выполняется вызовом Deserialize(input, x).
   </p>
  </li>
 </ul>
 <p>
  Важные замечания:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    библиотека должна уметь (де)сериализовать составные контейнеры (например, std::vector&lt;std::map&lt;int, std::string&gt;&gt;);
   </p>
  </li>
  <li>
   <p>
    заголовки функций, которые вам надо написать, представлены в файле saveload.h;
   </p>
  </li>
  <li>
   <p>
    при сериализации любого контейнера сначала записывается число типа size_t — размер контейнера, — а затем уже сами элементы;
   </p>
  </li>
  <li>
   <p>
    для std::map записывайте элементы как пары, состоящие из ключа и значения;
   </p>
  </li>
  <li>
   <p>
    функции Deserialize должны восстанавливать исходный объект по сериализованному представлению.
   </p>
  </li>
 </ul>
 <p>
  Пусть, например, требуется сериализовать
 </p>
 <pre language="c_cpp">std::map&lt;uint32_t, std::string&gt; m = {
  {1, "hello"},
  {2, "bye"},
};
</pre>
 <p>
  На 64-битной платформе с порядком от младшего к старшему (наверняка ваш компьютер именно такой) должен получиться следующий результат (тут показан вывод консольной Linux-утилиты hd, применённый к полученному бинарному файлу):
 </p>
 <pre language="plain_text">00000000  02 00 00 00 00 00 00 00  01 00 00 00 05 00 00 00  |................|
00000010  00 00 00 00 68 65 6c 6c  6f 02 00 00 00 03 00 00  |....hello.......|
00000020  00 00 00 00 00 62 79 65                           |.....bye|
</pre>
 <p>
  Для простоты в этой задаче не нужно учитывать выравнивание (alignment) и можно считать, что порядок байт (endianness) при сериализации и десериализации будет одинаковым. Подробнее про эти тонкости вы узнаете из следующих частей курса, а сейчас просто не думайте об этом.
 </p>
 <p>
  На проверку пришлите файл saveload.h с реализацией всех функций Serialize и Deserialize.
 </p>
 <h3 level="3">
  Файлы с заготовкой решения
 </h3>
 <asset assettype="generic" extension="h" id="Z5pznH5mEemEGxLG-3C7Ug" name="saveload">
 </asset>
 <asset assettype="generic" extension="cpp" id="lscfs4d7EemA0BK4cRbOlg" name="test">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
