<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче мы разработаем класс PhoneBook, который выполняет подмножество задач адресной книги мобильного телефона. Наш класс будет решать три задачи:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    сериализация контактов в выходной поток (например, для сохранения её в памяти телефона или для отправки на сервер синхронизации контактов)
   </p>
  </li>
  <li>
   <p>
    десериализация контактов из входного потока
   </p>
  </li>
  <li>
   <p>
    поиск контактов, имя которых начинается на заданную строку — эта функция полезна, когда пользователь вводит какое-то имя, а адресная книга показывает ему все контакты, имя которых начинается с введённой строки
   </p>
  </li>
 </ul>
 <p>
  Контакт в нашей адресной книге может иметь следующие характеристики:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Имя
   </p>
  </li>
  <li>
   <p>
    Дату рождения
   </p>
  </li>
  <li>
   <p>
    Номера телефона
   </p>
  </li>
 </ul>
 <p>
  При этом имя есть всегда (хотя может быть пустым), дня рождения может не быть, номеров телефона может быть ноль или больше. Таким образом, мы отрабатываем разные сценарии использования телефонной книги:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    записали день рождения человека, чтобы не забыть (имя и дата рождения есть, номеров телефона нет);
   </p>
  </li>
  <li>
   <p>
    храним несколько номеров телефона знакомого человека (имя есть, есть один или несколько номеров телефона, дата рождения не задана)
   </p>
  </li>
  <li>
   <p>
    собираем всю информацию о человеке в одном месте (есть имя, дата рождения, один или несколько номеров телефона)
   </p>
  </li>
  <li>
   <p>
    есть несколько номеров телефона с пустым именем и без даты рождения (например, пользователь тренирует память)
   </p>
  </li>
 </ul>
 <p>
  Таким образом, мы можем представить контакт в адресной книге в виде структуры:
 </p>
 <pre language="c_cpp">struct Date {
  int year, month, day;
};

struct Contact {
  std::string name;
  std::optional&lt;Date&gt; birthday;
  std::vector&lt;std::string&gt; phones;
};</pre>
 <p>
  Интерфейс класса PhoneBook будет выглядеть так:
 </p>
 <pre language="c_cpp">class PhoneBook {
public:
  explicit PhoneBook(std::vector&lt;Contact&gt; contacts);

  IteratorRange&lt;???&gt; FindByNamePrefix(std::string_view name_prefix) const;
  void SaveTo(std::ostream&amp; output) const;
};

PhoneBook DeserializePhoneBook(std::istream&amp; input);
</pre>
 <p>
  Для сериализации/десериализации класс PhoneBook должен использовать protobuf. Proto-схему вы должны разработать сами с учётом следующих требований:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    proto-схема должна находиться в пространстве имён PhoneBookSerialize;
   </p>
  </li>
  <li>
   <p>
    в ней должно быть сообщение Contact, используемое для сериализации одного контакта;
   </p>
  </li>
  <li>
   <p>
    в ней должно быть сообщение ContactList, содержащее одно repeated-поле типа Contact.
   </p>
  </li>
 </ul>
 <p>
  Метод FindByNamePrefix должен возвращать диапазон всех контактов, имя которых начинается на строку name_prefix, отсортированный лексикографически. Если name_prefix — это пустая строка, метод FindByNamePrefix должен возвращать диапазон, содержащий все контакты адресной книги, в том числе те, у которых имя пустое. Метод FindByNamePrefix должен работать быстрее, чем заO(N), где N — количество контактов в адресной книге.
 </p>
 <p>
  На проверку пришлите архив, содержащий файлы phone_book.h, phone_book.cpp и contact.proto, а также любые другие файлы, которые будут необходимы для успешной сборки вашего проекта.
 </p>
 <h2 level="2">
  Как будет тестироваться ваш код
 </h2>
 <p>
  Ваш код будет тестироваться аналогично юнит-тестам, приведённым в файле main.cpp (см. ниже):
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    мы проверим, что метод SaveTo сохраняет контакты в созданную вами proto-схему;
   </p>
  </li>
  <li>
   <p>
    мы проверим, что функция DeserializePhoneBook загружает адресную книгу из proto-сообщения ContactList;
   </p>
  </li>
  <li>
   <p>
    мы проверим, что метод FindByNamePrefix корректно работает для десериализованной адресной книги;
   </p>
  </li>
  <li>
   <p>
    мы проверим производительность метода FindByNamePrefix.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Примечания
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    Изучите юнит-тесты, чтобы понять, какие поля должны быть у protobuf-сообщений Contact и ContactList.
   </p>
  </li>
  <li>
   <p>
    Чтобы собрать свой проект, вы можете использовать CMake так же, как это показано в лекции. У вас могут возникнуть проблемы с использованием test_runner.h. Простым решением может быть добавить его в свой проект. Однако, если вы не хотите копировать файлы, вы можете просто добавить в CMakeLists.txt строки
   </p>
  </li>
 </ul>
 <pre language="plain_text">find_path(TEST_RUNNER_PATH test_runner.h)
include_directories(${TEST_RUNNER_PATH})</pre>
 <p>
  Когда будете запускать cmake первый раз, добавьте -DTEST_RUNNER_PATH=&lt;путь до папки с test_runner.h&gt; в строку его запуска, например: cmake -DCMAKE_PREFIX_PATH=c:\dev\protobuf -DTEST_RUNNER_PATH=c:\users\ishfb\code\onlinecpp\grader\include -G "MinGW Makefiles" -S ..\correct .
 </p>
 <h3 level="3">
  Файлы с заготовкой решения
 </h3>
 <asset assettype="generic" extension="h" id="UTd-sotwEemBQwq9JgxBcA" name="phone_book">
 </asset>
 <asset assettype="generic" extension="h" id="RhE3JHuuEemsTA5atHpc5A" name="iterator_range">
 </asset>
 <asset assettype="generic" extension="cpp" id="Sh--lotmEemBQwq9JgxBcA" name="main">
 </asset>
 <h2 level="2">
  Подсказки
 </h2>
 <p>
  Для этой задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся решить задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться. Но сначала обязательно попробуйте решить задачу без подсказок.
 </p>
 <asset assettype="pdf" extension="pdf" id="mzRC7nuuEemL_BLa_rPI7A" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="mzXwQnuuEem3uwrt2iBKLA" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="mzV7H3uuEemVOgruE3X9hg" name="Подсказка 3">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
