<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вы будете работать с проектом Yellow Pages — базой справочника организаций на картах.
Сведения об организациях хранятся в формате protobuf.
 </p>
 <p>
  Каждая организация (message Company) описывается такими атрибутами: адрес, название, телефон, сайт, время работы.
Каждый из этих атрибутов структурирован: у адреса кроме текстового форматированного описания есть координаты, у названий — типы, у телефонов отдельно можно выделить код страны, код города, описание и добавочный номер, а время работы представляется в виде объединений интервалов минут в определенные дни.
 </p>
 <p>
  Изначально данные об организациях поступают от различных поставщиков в виде сигналов (message Signal).
Сигнал — это описание некоторой компании по мнению какого-либо поставщика данных.
Кроме описания компании сигнал содержит ссылку на поставщика данных.
Понятно, что разные сигналы от разных поставщиков могут на самом деле описывать одну и ту же организацию.
При этом разные сигналы могут дополнять друг друга: один сигнал может принести сайт, другой — телефон, третий — время работы.
 </p>
 <p>
  Задачу кластеризации сигналов на группы, где все сигналы в группе описывают одну и ту же организацию, мы уже решили сами. Ваша задача — написать функцию Merge, делающую из набора сигналов об одной организации карточку этой организации.
Она должна выбрать значения атрибутов организации из сигналов.
Мы написали очень примитивную версию этой функции, которая выбирает из всей группы сигналов самый первый сигнал и берёт карточку организации из него.
 </p>
 <p>
  Ваша функция Merge должна фактически
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Выбрать для данного атрибута все сигналы с максимальным приоритетом поставщика, где этот атрибут заполнен.
   </p>
  </li>
  <li>
   <p>
    Если атрибут повторяющийся (телефон, название, сайт), то заполнить карточку различными значениями этого атрибута из отобранных сигналов.
   </p>
  </li>
  <li>
   <p>
    Если же атрибут неповторяющийся (адрес, время работы), то выбрать его значение из любого отобранного сигнала.
   </p>
  </li>
 </ol>
 <p>
  Вам может показаться, что код функции Merge для разных атрибутов очень похож друг на друга.
Возможно, вам захочется написать его единообразно.
Вы можете сделать это через макросы, вспомогательные перегруженные функции, либо разобраться с технологией
  <a href="https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.message#Reflection" title="Reflection">
   Reflection
  </a>
  в protobuf.
 </p>
 <p>
  Пришлите на проверку только файл merge.cpp с реализацией функции Merge в пространстве имён YellowPages.
 </p>
 <asset assettype="generic" extension="zip" id="Nw-r-ZHbEemODxK6RFJwEA" name="yellow_pages">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
