<meta charset="utf-8"/>
<co-content>
 <p>
  Напишите функцию
 </p>
 <pre language="c_cpp">void EnsureEqual(const string&amp; left, const string&amp; right);</pre>
 <p>
  В случае, если строка
  <strong>
   left
  </strong>
  не равна строке
  <strong>
   right
  </strong>
  , функция должна выбрасывать исключение runtime_error с содержанием "&lt;l&gt; != &lt;r&gt;", где &lt;l&gt; и &lt;r&gt; - строки, которые хранятся в переменных
  <strong>
   left
  </strong>
  и
  <strong>
   right
  </strong>
  соответственно. Обратите внимание, что вокруг знака неравенства в строке, которая помещается в исключение, должно быть ровно по одному пробелу.
 </p>
 <p>
  Если
  <strong>
   left == right
  </strong>
  , функция должна корректно завершаться.
 </p>
 <p>
  Например, код
 </p>
 <pre language="c_cpp">int main() {
  try {
    EnsureEqual("C++ White", "C++ White");
    EnsureEqual("C++ White", "C++ Yellow");
  } catch (runtime_error&amp; e) {
    cout &lt;&lt; e.what() &lt;&lt; endl;
  }
  return 0;
}</pre>
 <p>
  должен выводить
 </p>
 <pre language="plain_text">C++ White != C++ Yellow</pre>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
