<meta charset="utf-8"/>
<co-content>
 <p>
 </p>
 <p>
  Вспомним класс Rational, который мы реализовали в задачах, посвящённых перегрузке операторов. Там специально говорилось, что в тестах объекты класса Rational никогда не создаются с нулевым знаменателем и никогда не выполняется деление на ноль. Настало время избавиться от этого ограничения и научиться обрабатывать нулевой знаменатель и деление на ноль. В этой задаче вам предстоит это сделать.
 </p>
 <p>
  Поменяйте реализацию конструктора класса Rational так, чтобы он выбрасывал исключение
  <a href="https://en.cppreference.com/w/cpp/error/invalid_argument" title="">
   invalid_argument
  </a>
  , если знаменатель  равен нулю. Кроме того, переделайте реализацию оператора деления для класса Rational так, чтобы он выбрасывал исключение
  <a href="https://en.cppreference.com/mwiki/index.php?title=Special%3ASearch&amp;search=domain_error" title="">
   domain_error
  </a>
  , если делитель равен нулю.
 </p>
 <p>
  Напомним, что вам надо реализовать интерфейс
 </p>
 <pre language="c_cpp">class Rational {
public:
  Rational();
  Rational(int numerator, int denominator);

  int Numerator() const;
  int Denominator() const;
};</pre>
 <p>
  и оператор деления для класса Rational
 </p>
 <pre language="c_cpp">Rational operator / (const Rational&amp; lhs, const Rational&amp; rhs);</pre>
 <p>
  Так же, как и в задачах на перегрузку операторов, вам будет предложен файл с заготовкой кода. Функция main в этом файле содержит ряд юнит-тестов, которые позволят вам проверить свою реализацию. При проверке вашего решения оно будет тестироваться на более полном наборе тестов, так что успешное прохождение всех юнит-тестов не гарантирует, что ваша реализация будет зачтена.
 </p>
 <p>
  Шаблон программы:
 </p>
 <asset assettype="generic" extension="cpp" id="GveoojGMEeeVOwrGEP_klA" name="rational_throw">
 </asset>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
