<meta charset="utf-8"/>
<co-content>
 <p>
  Итак, теперь у нас с вами есть полноценный тип для представления 
обыкновенных дробей: класс Rational интегрирован в язык с помощью 
перегрузки операторов и не позволяет выполнять некорректные операции за 
счёт выбрасывания исключений. Давайте на основе класса Rational создадим
 простой калькулятор для обыкновенных дробей.
 </p>
 <p>
  Вам надо написать программу, которая считывает из стандартного ввода одну строку в формате
  <em>
   <strong>
    ДРОБЬ_1 операция ДРОБЬ_2
   </strong>
  </em>
  .
  <em>
   ДРОБЬ_1
  </em>
  и
  <em>
   ДРОБЬ_2
  </em>
  имеют формат X/Y, где X — целое, а Y — целое неотрицательное число.
  <em>
   операция
  </em>
  — это один из символов '+', '-', '*', '/'.
 </p>
 <p>
  Если
  <em>
   ДРОБЬ_1
  </em>
  или
  <em>
   ДРОБЬ_2
  </em>
  является 
некорректной обыкновенной дробью, ваша программа должна вывести в 
стандартный вывод сообщение "Invalid argument". Если считанная операция — это деление на ноль,  выведите в стандартный вывод сообщение 
"Division by zero". В противном случае выведите результат операции.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <table columns="2" rows="4">
  <tr>
   <td>
    <p>
     <strong>
      stdin
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      stdout
     </strong>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     1/2 + 1/3
    </p>
   </td>
   <td>
    <p>
     5/6
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     1/2 + 5/0
    </p>
   </td>
   <td>
    <p>
     Invalid argument
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     4/5 / 0/8
    </p>
   </td>
   <td>
    <p>
     Division by zero
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
