<meta charset="utf-8"/>
<co-content>
 <p>
 </p>
 <p>
  Вам дана функция string AskTimeServer(), про которую известно следующее:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    в процессе своей работы она обращается по сети к удалённому серверу, запрашивая текущее время;
   </p>
  </li>
  <li>
   <p>
    если обращение к серверу прошло успешно, функция возвращает текущее время в виде строки;
   </p>
  </li>
  <li>
   <p>
    если в процессе обращения к серверу возникла сетевая проблема, функция выбрасывает исключение system_error;
   </p>
  </li>
  <li>
   <p>
    функция может выбрасывать другие исключения, чтобы сообщить о других проблемах.
   </p>
  </li>
 </ul>
 <p>
  Используя функцию AskTimeServer, напишите класс TimeServer со следующим интерфейсом:
 </p>
 <pre language="c_cpp">class TimeServer {
public:
  string GetCurrentTime();
private:
  string last_fetched_time = "00:00:00";
};</pre>
 <p>
  Метод GetCurrentTime должен вести себя так:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    он должен вызвать функцию AskTimeServer, записать её результат в поле last_fetched_time и вернуть значение этого поля;
   </p>
  </li>
  <li>
   <p>
    если AskTimeServer выбросила исключение system_error, метод GetCurrentTime должен его поймать и вернуть текущее значение поля last_fetched_time. Таким образом мы скрываем от пользователя сетевые проблемы, возвращая значение, которое было получено при последнем успешном обращении к серверу;
   </p>
  </li>
  <li>
   <p>
    если AskTimeServer выбросила другое исключение, метод GetCurrentTime должен пробросить его дальше, потому что в рамках класса TimeServer мы не знаем, как обрабатывать проблемы, не связанные со сбоями сети.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Как выполнять задание
 </h2>
 <p>
  Вам дан файл, содержащий заготовку класса TimeServer. В нём вам надо реализовать метод GetCurrentTime так, как описано выше. Файл содержит пустую функцию AskTimeServer. Для тестирования своей реализации вы можете пробовать добавлять разные команды в её тело:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    возврат строки;
   </p>
  </li>
  <li>
   <p>
    выброс исключения system_error (класс system_error принимает в конструкторе параметр типа error_code, поэтому самый простой способ выбросить это исключение — throw system_error(error_code());, подробнее см.
    <a href="https://en.cppreference.com/w/cpp/error/system_error" title="">
     https://en.cppreference.com/w/cpp/error/system_error
    </a>
    );
   </p>
  </li>
  <li>
   <p>
    выброс других исключений.
   </p>
  </li>
 </ul>
 <asset assettype="generic" extension="cpp" id="kjUumNJWEem1wRICcqBpcA" name="time_server">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
