<meta charset="utf-8"/>
<co-content>
 <h1 level="1">
  Подробнее про дебажные дефайны
 </h1>
 <p>
  Названия дебажных дефайнов зависят от используемой вами стандартной библиотеки:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    В
    <a href="https://gcc.gnu.org/wiki/Libstdc%2B%2B" title="">
     libstdc++
    </a>
    включайте
    <a href="https://gcc.gnu.org/onlinedocs/libstdc%2B%2B/manual/debug_mode.html" title="">
     _GLIBCXX_DEBUG и _GLIBCXX_DEBUG_PEDANTIC
    </a>
    , как продемонстрировано в видео.
   </p>
  </li>
  <li>
   <p>
    В
    <a href="http://libcxx.llvm.org/" title="">
     libc++
    </a>
    включайте
    <a href="https://libcxx.llvm.org/docs/DesignDocs/DebugMode.html" title="">
     _LIBCPP_DEBUG=1
    </a>
    .
   </p>
  </li>
 </ul>
 <p>
  Если вы не уверены относительно используемой реализации стандартной библиотеки, включайте все указанные макроопределения.
 </p>
 <p>
  Ниже кратко описаны основные проверки, выполняемые в libc++ при включённом _LIBCPP_DEBUG=1.
 </p>
 <h2 level="2">
  Итераторы
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Разыменование end-итератора (итератора, указывающего за конец контейнера).
   </p>
  </li>
  <li>
   <p>
    Разыменование инвалидированного итератора.
   </p>
  </li>
  <li>
   <p>
    Увеличение end-итератора и уменьшение begin-итератора.
   </p>
  </li>
  <li>
   <p>
    += или -= к итератору, выводящие его за границы контейнера.
   </p>
  </li>
  <li>
   <p>
    Вычитание итераторов, принадлежащих разным контейнерам.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Контейнеры
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Вызов методов insert, erase и пр. с итератором, не принадлежащим текущему контейнеру.
   </p>
  </li>
  <li>
   <p>
    Конструирование строки от нулевого указателя.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Алгоритмы
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Проверка того, что при x &lt; y неверно y &lt; x.
    <em>
     (Помогает не написать компаратор x &lt;= y вместо x &lt; y.)
    </em>
   </p>
  </li>
 </ol>
 <p>
  В дополнение к описанным выше проверкам libstdc++ c _GLIBCXX_DEBUG проверяет корректность входа стандартных алгоритмов:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Корректность диапазонов итераторов (когда это возможно проверить — например, для random access).
   </p>
  </li>
  <li>
   <p>
    Упорядоченность диапазона, передаваемого в lower_bound: а именно, что все элементы начала диапазона меньше искомого значения, а остальные не меньше. (Аналогично для upper_bound, equal_range и binary_search.)
   </p>
  </li>
  <li>
   <p>
    Упорядоченность диапазонов, передаваемых в merge, includes, set_*.
   </p>
  </li>
 </ol>
 <p>
  Pedantic-режим нельзя назвать богатым проверками, приведём лишь один пример. При обращении к элементу строки по индексу в режиме _GLIBCXX_DEBUG проверяется, что индекс
  <strong>
   не больше
  </strong>
  длины строки, так как стандартом гарантируется, что по индексу size() находится нулевой символ; в режиме _GLIBCXX_DEBUG_PEDANTIC индекс должен быть
  <strong>
   строго меньше
  </strong>
  длины строки.
 </p>
 <h2 level="2">
  Использование под Windows
 </h2>
 <p>
  Как было продемонстрировано в видео, дебажные дефайны включаются под Windows без каких-либо проблем. Однако при попытке обнаружить место падения отладчиком вы можете столкнуться с тем, что при нарушении некоторого инварианта программа молча аварийно завершается, не показывая стек вызовов функций.
 </p>
 <p>
  В этом случае
  <strong>
   после старта отладки, но до запуска самой программы под отладчиком
  </strong>
  необходимо ввести в консоль отладчика (debugger console) следующую команду: break abort (или более короткий вариант — b abort). Благодаря этой команде отладчик «поймает» момент аварийного завершения (abort) программы, и вы увидите стек вызовов.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
