<meta charset="utf-8"/>
<co-content>
 <h1 level="1">
  Вердикты санитайзера
 </h1>
 <h2 level="2">
  Выход за границы в куче
 </h2>
 <p>
  Рассмотрим простой пример с выходом за границы вектора:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;vector&gt;

using namespace std;

int main() {
  vector&lt;int&gt; v(100);
  cout &lt;&lt; v[100] &lt;&lt; endl;
  return 0;
}</pre>
 <p>
  При запуске под санитайзером программа падает с вердиктом heap-buffer-overflow:
 </p>
 <pre language="plain_text">=================================================================
==21302==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x6140000001d0 at pc 0x00000051a9eb bp 0x7ffc2013d9f0 sp 0x7ffc2013d9e8
READ of size 4 at 0x6140000001d0 thread T0
    #0 0x51a9ea in main /home/poldnev/coursera/sanitize/verdicts/out-of-bounds.cpp:8:11
    #1 0x7f066233182f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291
    #2 0x41a868 in _start (/place/home/poldnev/coursera/sanitize/verdicts/out-of-bounds+0x41a868)

0x6140000001d0 is located 0 bytes to the right of 400-byte region [0x614000000040,0x6140000001d0)
allocated by thread T0 here:
    #0 0x516528 in operator new(unsigned long) (/place/home/poldnev/coursera/sanitize/verdicts/out-of-bounds+0x516528)
    #1 0x51b2db in __gnu_cxx::new_allocator&lt;int&gt;::allocate(unsigned long, void const*) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/ext/new_allocator.h:104:27
    #2 0x51b27b in std::allocator_traits&lt;std::allocator&lt;int&gt; &gt;::allocate(std::allocator&lt;int&gt;&amp;, unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/alloc_traits.h:491:20
    #3 0x51b222 in std::_Vector_base&lt;int, std::allocator&lt;int&gt; &gt;::_M_allocate(unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:170:20
    #4 0x51b09e in std::_Vector_base&lt;int, std::allocator&lt;int&gt; &gt;::_M_create_storage(unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:185:33
    #5 0x51ade4 in std::_Vector_base&lt;int, std::allocator&lt;int&gt; &gt;::_Vector_base(unsigned long, std::allocator&lt;int&gt; const&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:136:9
    #6 0x51ac06 in std::vector&lt;int, std::allocator&lt;int&gt; &gt;::vector(unsigned long, std::allocator&lt;int&gt; const&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:278:9
    #7 0x51a985 in main /home/poldnev/coursera/sanitize/verdicts/out-of-bounds.cpp:7:15
    #8 0x7f066233182f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291

SUMMARY: AddressSanitizer: heap-buffer-overflow /home/poldnev/coursera/sanitize/verdicts/out-of-bounds.cpp:8:11 in main
Shadow bytes around the buggy address:
&lt;...&gt;
Shadow byte legend (one shadow byte represents 8 application bytes):
&lt;...&gt;
==21302==ABORTING</pre>
 <p>
  В первой части вывода указано, где именно произошло обращение за границы блока памяти:
 </p>
 <pre language="plain_text">#0 0x51a9ea in main /home/poldnev/coursera/sanitize/verdicts/out-of-bounds.cpp:8:11</pre>
 <p>
  Во второй части вывода поясняется, за границы какого полуинтервала памяти и насколько далеко случился выход:
 </p>
 <pre language="plain_text">0x6140000001d0 is located 0 bytes to the right of 400-byte region [0x614000000040,0x6140000001d0)</pre>
 <p>
  Там же указано, что этот блок памяти из 400 байт был выделен в конструкторе вектора, вызванном в 7-й строке:
 </p>
 <pre language="plain_text">#6 0x51ac06 in std::vector&lt;int, std::allocator&lt;int&gt; &gt;::vector(unsigned long, std::allocator&lt;int&gt; const&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:278:9
#7 0x51a985 in main /home/poldnev/coursera/sanitize/verdicts/out-of-bounds.cpp:7:15</pre>
 <h2 level="2">
  Выход за границы на стеке
 </h2>
 <p>
  Рассмотрим близкий к предыдущему пример: выход за границы короткой — и потому хранящейся на стеке — строки:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;string&gt;

using namespace std;

int main() {
  string str = "short string";
  cout &lt;&lt; str[16] &lt;&lt; endl;
  return 0;
}</pre>
 <p>
  Вердикт санитайзера — stack-buffer-overflow:
 </p>
 <pre language="plain_text">=================================================================
==46399==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7ffc6e481a60 at pc 0x00000051ab47 bp 0x7ffc6e481a10 sp 0x7ffc6e481a08
READ of size 1 at 0x7ffc6e481a60 thread T0
    #0 0x51ab46 in main /home/poldnev/coursera/sanitize/verdicts/out-of-bounds-stack.cpp:8:11
    #1 0x7fb3fb83182f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291
    #2 0x41a9c8 in _start (/place/home/poldnev/coursera/sanitize/verdicts/out-of-bounds-stack+0x41a9c8)

Address 0x7ffc6e481a60 is located in stack of thread T0 at offset 64 in frame
    #0 0x51a9df in main /home/poldnev/coursera/sanitize/verdicts/out-of-bounds-stack.cpp:6

  This frame has 2 object(s):
    [32, 64) 'str' (line 7) &lt;== Memory access at offset 64 overflows this variable
    [96, 97) 'ref.tmp' (line 7)
HINT: this may be a false positive if your program uses some custom stack unwind mechanism or swapcontext
      (longjmp and C++ exceptions *are* supported)
SUMMARY: AddressSanitizer: stack-buffer-overflow /home/poldnev/coursera/sanitize/verdicts/out-of-bounds-stack.cpp:8:11 in main
Shadow bytes around the buggy address:
&lt;...&gt;
Shadow byte legend (one shadow byte represents 8 application bytes):
&lt;...&gt;
==46399==ABORTING</pre>
 <p>
  Помимо указания на место некорректного обращения к памяти, здесь также продемонстрирована структура содержимого стекового фрейма функции main:
 </p>
 <pre language="plain_text">This frame has 2 object(s):
  [32, 64) 'str' (line 7) &lt;== Memory access at offset 64 overflows this variable
  [96, 97) 'ref.tmp' (line 7)</pre>
 <p>
  Обратите внимание, что при обращении к 15-му элементу строки длины 12 санитайзер не обнаружит проблемы: обсуждение этого эффекта мы оставим за рамками курса.
 </p>
 <p>
  Прочитать о нём можно по данной ссылке:
  <a href="https://blogs.msmvps.com/gdicanio/2016/11/17/the-small-string-optimization/" title="Причина эффекта">
   https://blogs.msmvps.com/gdicanio/2016/11/17/the-small-string-optimization/
  </a>
 </p>
 <h2 level="2">
  Use-after-free
 </h2>
 <p>
  Другой тип ошибок, связанных с некорректной работой с памятью — обращение по адресу участка памяти в куче, когда-то валидного, а затем освобождённого:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;vector&gt;

using namespace std;

int main() {
  vector&lt;int&gt; v{1, 2, 3};
  int&amp; ref = v[0];
  v.push_back(4);
  cout &lt;&lt; ref &lt;&lt; endl;
  return 0;
}</pre>
 <p>
  Вердикт санитайзера — heap-use-after-free:
 </p>
 <pre language="plain_text">=================================================================
==57020==ERROR: AddressSanitizer: heap-use-after-free on address 0x602000000010 at pc 0x00000051ac63 bp 0x7ffc7e6b27b0 sp 0x7ffc7e6b27a8
READ of size 4 at 0x602000000010 thread T0
    #0 0x51ac62 in main /home/poldnev/coursera/sanitize/verdicts/use-after-free.cpp:10:11
    #1 0x7f2bbb01182f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291
    #2 0x41a968 in _start (/place/home/poldnev/coursera/sanitize/verdicts/use-after-free+0x41a968)

0x602000000010 is located 0 bytes inside of 12-byte region [0x602000000010,0x60200000001c)
freed by thread T0 here:
    #0 0x5173a0 in operator delete(void*) (/place/home/poldnev/coursera/sanitize/verdicts/use-after-free+0x5173a0)
    #1 0x51bd7f in __gnu_cxx::new_allocator&lt;int&gt;::deallocate(int*, unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/ext/new_allocator.h:110:9
    #2 0x51bd4f in std::allocator_traits&lt;std::allocator&lt;int&gt; &gt;::deallocate(std::allocator&lt;int&gt;&amp;, int*, unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/alloc_traits.h:517:13
    #3 0x51bcda in std::_Vector_base&lt;int, std::allocator&lt;int&gt; &gt;::_M_deallocate(int*, unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:178:4
    #4 0x51c34c in void std::vector&lt;int, std::allocator&lt;int&gt; &gt;::_M_emplace_back_aux&lt;int&gt;(int&amp;&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/vector.tcc:438:2
    #5 0x51bf2a in void std::vector&lt;int, std::allocator&lt;int&gt; &gt;::emplace_back&lt;int&gt;(int&amp;&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/vector.tcc:101:4
    #6 0x51b1bf in std::vector&lt;int, std::allocator&lt;int&gt; &gt;::push_back(int&amp;&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:932:9
    #7 0x51ac0c in main /home/poldnev/coursera/sanitize/verdicts/use-after-free.cpp:9:5
    #8 0x7f2bbb01182f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291

previously allocated by thread T0 here:
    #0 0x516628 in operator new(unsigned long) (/place/home/poldnev/coursera/sanitize/verdicts/use-after-free+0x516628)
    #1 0x51ba0b in __gnu_cxx::new_allocator&lt;int&gt;::allocate(unsigned long, void const*) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/ext/new_allocator.h:104:27
    #2 0x51b9ab in std::allocator_traits&lt;std::allocator&lt;int&gt; &gt;::allocate(std::allocator&lt;int&gt;&amp;, unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/alloc_traits.h:491:20
    #3 0x51b8d2 in std::_Vector_base&lt;int, std::allocator&lt;int&gt; &gt;::_M_allocate(unsigned long) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:170:20
    #4 0x51b33f in void std::vector&lt;int, std::allocator&lt;int&gt; &gt;::_M_range_initialize&lt;int const*&gt;(int const*, int const*, std::forward_iterator_tag) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:1287:35
    #5 0x51b036 in std::vector&lt;int, std::allocator&lt;int&gt; &gt;::vector(std::initializer_list&lt;int&gt;, std::allocator&lt;int&gt; const&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:377:2
    #6 0x51ab88 in main /home/poldnev/coursera/sanitize/verdicts/use-after-free.cpp:7:15
    #7 0x7f2bbb01182f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291

SUMMARY: AddressSanitizer: heap-use-after-free /home/poldnev/coursera/sanitize/verdicts/use-after-free.cpp:10:11 in main
Shadow bytes around the buggy address:
&lt;...&gt;
Shadow byte legend (one shadow byte represents 8 application bytes):
&lt;...&gt;
==57020==ABORTING</pre>
 <p>
  В первой части вывода традиционно указано место некорректного обращения к памяти:
 </p>
 <pre language="plain_text">#0 0x51ac62 in main /home/poldnev/coursera/sanitize/verdicts/use-after-free.cpp:10:11</pre>
 <p>
  Во второй части описан соответствующий блок памяти и указано, где он был освобождён:
 </p>
 <pre language="plain_text">0x602000000010 is located 0 bytes inside of 12-byte region [0x602000000010,0x60200000001c)
freed by thread T0 here:
    #0 0x5173a0 in operator delete(void*) (/place/home/poldnev/coursera/sanitize/verdicts/use-after-free+0x5173a0)
    &lt;...&gt;
    #6 0x51b1bf in std::vector&lt;int, std::allocator&lt;int&gt; &gt;::push_back(int&amp;&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/stl_vector.h:932:9
    #7 0x51ac0c in main /home/poldnev/coursera/sanitize/verdicts/use-after-free.cpp:9:5
    #8 0x7f2bbb01182f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291</pre>
 <p>
  Здесь хорошо видно, что освобождение блока памяти из 12 байт (те самые исходные числа {1, 2, 3}) инициировано методом push_back — то есть мы имеем дело с классической инвалидацией ссылок.
 </p>
 <p>
  Дебажные дефайны не помогут найти проблему в этой программе, потому что в ней использована обычная ссылка, не являющаяся типом стандартной библиотеки. Однако при использовании итераторов инвалидация будет обнаружена:
 </p>
 <pre language="plain_text">/usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/debug/safe_iterator.h:303:
    error: attempt to dereference a singular iterator.

Objects involved in the operation:
iterator "this" @ 0x0x7fff84444120 {
type = N11__gnu_debug14_Safe_iteratorIN9__gnu_cxx17__normal_iteratorIPiNSt9__cxx19986vectorIiSaIiEEEEENSt7__debug6vectorIiS6_EEEE (mutable iterator);
  state = singular;
  references sequence with type `NSt7__debug6vectorIiSaIiEEE' @ 0x0x7fff84444170
}</pre>
 <p>
  Причина падения — попытка разыменования итератора, не принадлежащего никакому контейнеру (state = singular): именно таким стал итератор на элемент вектора после инвалидации.
 </p>
 <h2 level="2">
  Use-after-return
 </h2>
 <p>
  Проблемы, подобные описанной выше, возникают не только в куче, но и на стеке — например, при возврате из функции ссылки на локальную переменную:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;tuple&gt;

using namespace std;

auto GetTuple() {
  int x = 8, y = 21;
  return tie(x, y);
}

int main() {
  auto [x, y] = GetTuple();
  cout &lt;&lt; x &lt;&lt; ' ' &lt;&lt; y &lt;&lt; endl;
  return 0;
}</pre>
 <p>
  Чтобы санитайзер обнаружил эту проблему, нужно запускать программу с переменной ASAN_OPTIONS=detect_stack_use_after_return=1:
 </p>
 <pre language="sh">ASAN_SYMBOLIZER_PATH=/usr/lib/llvm-6.0/bin/llvm-symbolizer ASAN_OPTIONS=detect_stack_use_after_return=1 ./use-after-return</pre>
 <p>
  Вердикт — stack-use-after-return:
 </p>
 <pre language="plain_text">=================================================================
==53385==ERROR: AddressSanitizer: stack-use-after-return on address 0x7fcf15e00060 at pc 0x00000051ab6c bp 0x7ffcea54b010 sp 0x7ffcea54b008
READ of size 4 at 0x7fcf15e00060 thread T0
    #0 0x51ab6b in main /home/poldnev/coursera/sanitize/verdicts/use-after-return.cpp:13:11
    #1 0x7fcf1960782f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291
    #2 0x41a838 in _start (/place/home/poldnev/coursera/sanitize/verdicts/use-after-return+0x41a838)

Address 0x7fcf15e00060 is located in stack of thread T0 at offset 32 in frame
    #0 0x51a84f in GetTuple() /home/poldnev/coursera/sanitize/verdicts/use-after-return.cpp:6

  This frame has 2 object(s):
    [32, 36) 'x' (line 7) &lt;== Memory access at offset 32 is inside this variable
    [48, 52) 'y' (line 7)
HINT: this may be a false positive if your program uses some custom stack unwind mechanism or swapcontext
      (longjmp and C++ exceptions *are* supported)
SUMMARY: AddressSanitizer: stack-use-after-return /home/poldnev/coursera/sanitize/verdicts/use-after-return.cpp:13:11 in main
Shadow bytes around the buggy address:
&lt;...&gt;
Shadow byte legend (one shadow byte represents 8 application bytes):
&lt;...&gt;
==53385==ABORTING</pre>
 <p>
  Из этого вывода видно, что в функции main (use-after-return.cpp:13:11) произошло обращение к фрейму функции GetTuple (use-after-return.cpp:6), завершившей выполнение. В этом фрейме были расположены переменные x и y, и некорректное обращение случилось к первой из них:
 </p>
 <pre language="plain_text">This frame has 2 object(s):
  [32, 36) 'x' (line 7) &lt;== Memory access at offset 32 is inside this variable
  [48, 52) 'y' (line 7)</pre>
 <h2 level="2">
  Use-after-scope
 </h2>
 <p>
  Стековая память инвалидируется не только при завершении соответствующей функции, но и при выходе из блока (scope). Попробуйте найти такую проблему в следующей программе, осуществляющей поиск большого простого числа для хеш-функции:
 </p>
 <pre language="c_cpp">#include &lt;cstdint&gt;
#include &lt;functional&gt;
#include &lt;iostream&gt;

using namespace std;

bool IsPrime(uint64_t x) {
  for (uint64_t i = 2; i * i &lt;= x; ++i) {
    if (x % i == 0) {
      return false;
    }
  }
  return true;
}

int main() {
  function&lt;uint64_t(uint64_t, uint64_t)&gt; hash;
  for (uint64_t x = 1000000000; x &lt;= 1000001000; ++x) {
    if (IsPrime(x)) {
      hash = [&amp;](uint64_t lhs, uint64_t rhs) { return lhs * x + rhs; };
    }
  }
  cout &lt;&lt; hash(1, 0) &lt;&lt; endl;
  return 0;
}</pre>
 <p>
  Вердикт санитайзера — stack-use-after-scope:
 </p>
 <pre language="plain_text">=================================================================
==22949==ERROR: AddressSanitizer: stack-use-after-scope on address 0x7fff9b24bac0 at pc 0x00000051b5a9 bp 0x7fff9b24b880 sp 0x7fff9b24b878
READ of size 8 at 0x7fff9b24bac0 thread T0
    #0 0x51b5a8 in main::$_0::operator()(unsigned long, unsigned long) const /home/poldnev/coursera/sanitize/verdicts/use-after-scope.cpp:20:61
    #1 0x51b3c3 in std::_Function_handler&lt;unsigned long (unsigned long, unsigned long), main::$_0&gt;::_M_invoke(std::_Any_data const&amp;, unsigned long&amp;&amp;, unsigned long&amp;&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/functional:1856:9
    #2 0x51b919 in std::function&lt;unsigned long (unsigned long, unsigned long)&gt;::operator()(unsigned long, unsigned long) const /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/functional:2267:14
    #3 0x51ac48 in main /home/poldnev/coursera/sanitize/verdicts/use-after-scope.cpp:23:11
    #4 0x7f3991d2d82f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291
    #5 0x41a8e8 in _start (/place/home/poldnev/coursera/sanitize/verdicts/use-after-scope+0x41a8e8)

Address 0x7fff9b24bac0 is located in stack of thread T0 at offset 96 in frame
    #0 0x51a9af in main /home/poldnev/coursera/sanitize/verdicts/use-after-scope.cpp:16

  This frame has 3 object(s):
    [32, 64) 'hash' (line 17)
    [96, 104) 'x' (line 18) &lt;== Memory access at offset 96 is inside this variable
    [128, 136) 'ref.tmp' (line 20)
HINT: this may be a false positive if your program uses some custom stack unwind mechanism or swapcontext
      (longjmp and C++ exceptions *are* supported)
SUMMARY: AddressSanitizer: stack-use-after-scope /home/poldnev/coursera/sanitize/verdicts/use-after-scope.cpp:20:61 in main::$_0::operator()(unsigned long, unsigned long) const
Shadow bytes around the buggy address:
&lt;...&gt;
Shadow byte legend (one shadow byte represents 8 application bytes):
&lt;...&gt;
==22949==ABORTING</pre>
 <p>
  Некорректным признано обращение к переменной x, расположенной в том же фрейме, но «удалённой» по выходе из блока, которым является цикл for. Само обращение случилось в main::$_0::operator()(unsigned long, unsigned long), то есть при вызове лямбда-функции: за main::$_0 здесь обозначен тип лямбда-функции, operator() — уже знакомый вам оператор вызова функции.
 </p>
 <h2 level="2">
  Double-free
 </h2>
 <p>
  Другой тип ошибок, возникающих при неаккуратной работе с сырой памятью или даже умными указателями — попытка повторного вызова delete:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;memory&gt;

using namespace std;

int main() {
  auto p = make_unique&lt;int&gt;(6);
  unique_ptr&lt;int&gt; q(p.get());
  cout &lt;&lt; *p &lt;&lt; ' ' &lt;&lt; *q &lt;&lt; endl;
  return 0;
}</pre>
 <p>
  Вердикт санитайзера — double-free:
 </p>
 <pre language="plain_text">6 6
=================================================================
==45928==ERROR: AddressSanitizer: attempting double-free on 0x602000000010 in thread T0:
    #0 0x5172c0 in operator delete(void*) (/place/home/poldnev/coursera/sanitize/verdicts/double-free+0x5172c0)
    #1 0x51b13d in std::default_delete&lt;int&gt;::operator()(int*) const /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/unique_ptr.h:76:2
    #2 0x51b051 in std::unique_ptr&lt;int, std::default_delete&lt;int&gt; &gt;::~unique_ptr() /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/unique_ptr.h:236:4
    #3 0x51ab45 in main /home/poldnev/coursera/sanitize/verdicts/double-free.cpp:11:1
    #4 0x7faea956c82f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291
    #5 0x41a888 in _start (/place/home/poldnev/coursera/sanitize/verdicts/double-free+0x41a888)

0x602000000010 is located 0 bytes inside of 4-byte region [0x602000000010,0x602000000014)
freed by thread T0 here:
    #0 0x5172c0 in operator delete(void*) (/place/home/poldnev/coursera/sanitize/verdicts/double-free+0x5172c0)
    #1 0x51b13d in std::default_delete&lt;int&gt;::operator()(int*) const /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/unique_ptr.h:76:2
    #2 0x51b051 in std::unique_ptr&lt;int, std::default_delete&lt;int&gt; &gt;::~unique_ptr() /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/unique_ptr.h:236:4
    #3 0x51ab34 in main /home/poldnev/coursera/sanitize/verdicts/double-free.cpp:11:1
    #4 0x7faea956c82f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291

previously allocated by thread T0 here:
    #0 0x516548 in operator new(unsigned long) (/place/home/poldnev/coursera/sanitize/verdicts/double-free+0x516548)
    #1 0x51acd5 in std::_MakeUniq&lt;int&gt;::__single_object std::make_unique&lt;int, int&gt;(int&amp;&amp;) /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/unique_ptr.h:765:30
    #2 0x51aa01 in main /home/poldnev/coursera/sanitize/verdicts/double-free.cpp:7:12
    #3 0x7faea956c82f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291

SUMMARY: AddressSanitizer: double-free (/place/home/poldnev/coursera/sanitize/verdicts/double-free+0x5172c0) in operator delete(void*)
==45928==ABORTING</pre>
 <p>
  Из вывода санитайзера следует, что в деструкторе unique_ptr была выполнена попытка освобождения памяти, уже освобождённой в деструкторе другого unique_ptr и ранее выделенной в double-free.cpp:7:12 — то есть речь идёт о двойном владении памятью переменной p.
 </p>
 <p>
  Заметьте, что перед выводом санитайзера было выведено две цифры 6: это демонстрирует, что выполнению самой функции main ничего не препятствовало и проблемы возникли лишь при выходе из функции.
 </p>
 <p>
  Справедливости ради, double free и без санитайзеров вызывает падение программы, но вывод в этом случае гораздо менее понятный:
 </p>
 <pre language="plain_text">6 6
*** Error in `./double-free': double free or corruption (fasttop): 0x0000000000952c20 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f1093b2d7e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8037a)[0x7f1093b3637a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)[0x7f1093b3a53c]
./double-free[0x400dfe]
./double-free[0x400d53]
./double-free[0x400bff]
/lib/x86_64-linux-gnu/libc.so.6(__libc_start_main+0xf0)[0x7f1093ad6830]
./double-free[0x400a49]
======= Memory map: ========
00400000-00402000 r-xp 00000000 09:03 97517840                           /place/home/poldnev/coursera/sanitize/verdicts/double-free
00601000-00602000 r--p 00001000 09:03 97517840                           /place/home/poldnev/coursera/sanitize/verdicts/double-free
00602000-00603000 rw-p 00002000 09:03 97517840                           /place/home/poldnev/coursera/sanitize/verdicts/double-free
00941000-00973000 rw-p 00000000 00:00 0                                  [heap]
7f108c000000-7f108c021000 rw-p 00000000 00:00 0
7f108c021000-7f1090000000 ---p 00000000 00:00 0
7f1093ab6000-7f1093c76000 r-xp 00000000 09:01 7877168                    /lib/x86_64-linux-gnu/libc-2.23.so
7f1093c76000-7f1093e76000 ---p 001c0000 09:01 7877168                    /lib/x86_64-linux-gnu/libc-2.23.so
7f1093e76000-7f1093e7a000 r--p 001c0000 09:01 7877168                    /lib/x86_64-linux-gnu/libc-2.23.so
7f1093e7a000-7f1093e7c000 rw-p 001c4000 09:01 7877168                    /lib/x86_64-linux-gnu/libc-2.23.so
7f1093e7c000-7f1093e80000 rw-p 00000000 00:00 0
7f1093e80000-7f1093e96000 r-xp 00000000 09:01 7864877                    /lib/x86_64-linux-gnu/libgcc_s.so.1
7f1093e96000-7f1094095000 ---p 00016000 09:01 7864877                    /lib/x86_64-linux-gnu/libgcc_s.so.1
7f1094095000-7f1094096000 rw-p 00015000 09:01 7864877                    /lib/x86_64-linux-gnu/libgcc_s.so.1
7f1094096000-7f109419e000 r-xp 00000000 09:01 7864844                    /lib/x86_64-linux-gnu/libm-2.23.so
7f109419e000-7f109439d000 ---p 00108000 09:01 7864844                    /lib/x86_64-linux-gnu/libm-2.23.so
7f109439d000-7f109439e000 r--p 00107000 09:01 7864844                    /lib/x86_64-linux-gnu/libm-2.23.so
7f109439e000-7f109439f000 rw-p 00108000 09:01 7864844                    /lib/x86_64-linux-gnu/libm-2.23.so
7f109439f000-7f1094511000 r-xp 00000000 09:01 5380797                    /usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21
7f1094511000-7f1094711000 ---p 00172000 09:01 5380797                    /usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21
7f1094711000-7f109471b000 r--p 00172000 09:01 5380797                    /usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21
7f109471b000-7f109471d000 rw-p 0017c000 09:01 5380797                    /usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21
7f109471d000-7f1094721000 rw-p 00000000 00:00 0
7f1094721000-7f1094747000 r-xp 00000000 09:01 7877166                    /lib/x86_64-linux-gnu/ld-2.23.so
7f1094930000-7f1094936000 rw-p 00000000 00:00 0
7f1094945000-7f1094946000 rw-p 00000000 00:00 0
7f1094946000-7f1094947000 r--p 00025000 09:01 7877166                    /lib/x86_64-linux-gnu/ld-2.23.so
7f1094947000-7f1094948000 rw-p 00026000 09:01 7877166                    /lib/x86_64-linux-gnu/ld-2.23.so
7f1094948000-7f1094949000 rw-p 00000000 00:00 0
7ffdaeb72000-7ffdaeb93000 rw-p 00000000 00:00 0                          [stack]
7ffdaebec000-7ffdaebee000 r--p 00000000 00:00 0                          [vvar]
7ffdaebee000-7ffdaebf0000 r-xp 00000000 00:00 0                          [vdso]
ffffffffff600000-ffffffffff601000 r-xp 00000000 00:00 0                  [vsyscall]
Aborted</pre>
 <h2 level="2">
  Invalid free
 </h2>
 <p>
  Ещё одна возможная проблема при освобождении памяти — некорректный вызов delete, например, от стекового адреса:
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;memory&gt;

using namespace std;

int main() {
  const int x = 7;
  unique_ptr&lt;const int&gt; q(&amp;x);
  cout &lt;&lt; x &lt;&lt; ' ' &lt;&lt; *q &lt;&lt; endl;
  return 0;
}</pre>
 <p>
  Вердикт санитайзера — bad-free:
 </p>
 <pre language="plain_text">7 7
=================================================================
==30911==ERROR: AddressSanitizer: attempting free on address which was not malloc()-ed: 0x7ffefa61f7c0 in thread T0
    #0 0x5172c0 in operator delete(void*) (/place/home/poldnev/coursera/sanitize/verdicts/invalid-free+0x5172c0)
    #1 0x51b10d in std::default_delete&lt;int const&gt;::operator()(int const*) const /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/unique_ptr.h:76:2
    #2 0x51ae61 in std::unique_ptr&lt;int const, std::default_delete&lt;int const&gt; &gt;::~unique_ptr() /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0/../../../../include/c++/5.4.0/bits/unique_ptr.h:236:4
    #3 0x51aa9b in main /home/poldnev/coursera/sanitize/verdicts/invalid-free.cpp:11:1
    #4 0x7fb7bb0d782f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291
    #5 0x41a888 in _start (/place/home/poldnev/coursera/sanitize/verdicts/invalid-free+0x41a888)

Address 0x7ffefa61f7c0 is located in stack of thread T0 at offset 32 in frame
    #0 0x51a89f in main /home/poldnev/coursera/sanitize/verdicts/invalid-free.cpp:6

  This frame has 2 object(s):
    [32, 36) 'x' (line 7) &lt;== Memory access at offset 32 is inside this variable
    [48, 56) 'q' (line 8)
HINT: this may be a false positive if your program uses some custom stack unwind mechanism or swapcontext
      (longjmp and C++ exceptions *are* supported)
SUMMARY: AddressSanitizer: bad-free (/place/home/poldnev/coursera/sanitize/verdicts/invalid-free+0x5172c0) in operator delete(void*)
==30911==ABORTING</pre>
 <p>
  В конце вывода уже привычным образом проиллюстрировано обращение к локальной переменной x.
 </p>
 <h2 level="2">
  Утечки
 </h2>
 <p>
  Наконец, можно не только некорректно освободить память, но и вовсе забыть это сделать — обнаружение простейшей утечки было продемонстрировано в видео:
 </p>
 <pre language="c_cpp">int main() {
  int* p = new int;
  return 0;
}</pre>
 <p>
  Вердикт санитайзера — detected memory leaks:
 </p>
 <pre language="plain_text">=================================================================
==48155==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 4 byte(s) in 1 object(s) allocated from:
    #0 0x5160f8 in operator new(unsigned long) (/place/home/poldnev/coursera/sanitize/example/main+0x5160f8)
    #1 0x51a45a in main /home/poldnev/coursera/sanitize/example/main.cpp:2:12
    #2 0x7f667a21982f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291

SUMMARY: AddressSanitizer: 4 byte(s) leaked in 1 allocation(s).</pre>
 <p>
  Самое интересное в этом выводе — количество утёкшей памяти (4 byte(s)) и строка, где она была выделена:
 </p>
 <pre language="plain_text">#1 0x51a45a in main /home/poldnev/coursera/sanitize/example/main.cpp:2:12</pre>
 <p>
  Если вызвать new таким образом 10 раз, это также будет отражено в выводе:
 </p>
 <pre language="plain_text">=================================================================
==3983==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 40 byte(s) in 10 object(s) allocated from:
    #0 0x5160f8 in operator new(unsigned long) (/place/home/poldnev/coursera/sanitize/example/main+0x5160f8)
    #1 0x51a470 in main /home/poldnev/coursera/sanitize/example/main.cpp:3:14
    #2 0x7f95c5d8e82f in __libc_start_main /build/glibc-Cl5G7W/glibc-2.23/csu/../csu/libc-start.c:291

SUMMARY: AddressSanitizer: 40 byte(s) leaked in 10 allocation(s).</pre>
 <h2 level="2">
  Как это всё работает?
 </h2>
 <p>
  Уже из вывода AddressSanitizer вы могли догадаться, что для обнаружения некорректной работы с памятью он специальным образом размечает память. Подробнее об этом можно почитать, например, здесь:
  <a href="https://github.com/google/sanitizers/wiki/AddressSanitizerAlgorithm" title="">
   https://github.com/google/sanitizers/wiki/AddressSanitizerAlgorithm
  </a>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
