<meta charset="utf-8"/>
<co-content>
 <h1 level="1">
  Использование санитайзеров в других окружениях
 </h1>
 <p>
  В видео были продемонстрированы сценарии использования санитайзеров в компиляторе clang под Linux. Поскольку, в отличие от отладочных макроопределений, санитайзеры требуют достаточно бесцеремонного вмешательства в работу с памятью и в ход выполнения программы, в разных операционных системах и компиляторах существуют свои особенности работы с санитайзерами.
 </p>
 <h2 level="2">
  Windows
 </h2>
 <p>
  Санитайзеры реализованы в clang под Windows, за исключением leak sanitizer (определения утечек) и проверки «use after return». Однако соответствующая настройка компиляции и сборки достаточно сложна, и авторы курса вместо этого рекомендуют обзавестись Linux-системой — например, с помощью виртуальной машины (см. ниже).
 </p>
 <p>
  Тем не менее, здесь можно получить краткую инструкцию по использованию санитайзеров под Windows:
  <a href="https://github.com/google/sanitizers/wiki/AddressSanitizerWindowsPort" title="">
   https://github.com/google/sanitizers/wiki/AddressSanitizerWindowsPort
  </a>
 </p>
 <h2 level="2">
  macOS
 </h2>
 <p>
  macOS — Unix-система, поэтому отличия в работе с санитайзерами там минимальны.
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Без указания пути к символайзеру вывод санитайзера уже может быть достаточно информативным. Расположение санитайзера можно определить с помощью команды brew ls -v llvm | grep symb — например, оно может выглядеть как /usr/local/Cellar/llvm/8.0.0/bin/llvm-symbolizer
   </p>
  </li>
  <li>
   <p>
    По умолчанию у вас, скорее всего, не получится обнаружить утечку — укажите при запуске ASAN_OPTIONS=detect_leaks=1. Если и это не поможет, воспользуйтесь советом
    <a href="https://stackoverflow.com/questions/53456304/mac-os-leaks-sanitizer" title="">
     отсюда
    </a>
    или используйте виртуальную машину (см. далее).
   </p>
  </li>
 </ol>
 <h2 level="2">
  Использование виртуальной машины
 </h2>
 <p>
  Часто настроить виртуальную машину с Linux-системой проще, чем разбираться с проблемами «родной» системы вашего компьютера. Мы советуем использовать
  <a href="https://www.virtualbox.org/" title="">
   VirtualBox
  </a>
  с
  <a href="https://www.ubuntu.com/download/desktop" title="">
   Ubuntu
  </a>
  (например, 16.04). Инструкции по разворачиванию подобной виртуальной машины вы в изобилии найдёте в интернете.
 </p>
 <p>
  После запуска системы вам достаточно будет поставить clang:
 </p>
 <pre language="sh">sudo apt-get install clang-6.0</pre>
 <h2 level="2">
  gcc
 </h2>
 <p>
  Санитайзеры в некотором виде поддержаны и в компиляторе gcc. Разница для простых сценариев лишь в том, что для получения названий файлов и номеров строк в выводе санитайзера не нужно указывать путь до символайзера и достаточно флажка -g при компиляции.
 </p>
 <h2 level="2">
  Visual Studio
 </h2>
 <p>
  Если вы используете Visual Studio и не планируете переключаться на Linux, попробуйте использовать
  <a href="https://yandex.ru/search/?text=application%20verifier%20with%20visual%20studio" title="">
   Microsoft Application Verifier
  </a>
  (AppVerifier). Подобно санитайзерам, он позволяет обнаруживать некорректную работу с памятью и некоторые другие проблемы.
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
