<meta charset="utf-8"/>
<co-content>
 <p>
  Вам дано решение задачи «Запрещённые домены» из «Коричневого пояса». Оно содержит некоторое количество небольших проблем, которые можно обнаружить с помощью санитайзеров и/или дебажных дефайнов: найдите их, исправьте и сдайте задачу.
 </p>
 <asset assettype="generic" extension="cpp" id="VvwrVIBLEemwbA6NWV4gZg" name="san_fail">
 </asset>
 <p>
  Эта задача тренировочная, поэтому советуем использовать её как возможность лучше разобраться в санитайзерах и не сдавать готовое решение из предыдущего курса.
 </p>
 <h2 level="2">
  Условие исходной задачи
 </h2>
 <p>
  Реализуйте фильтрацию произвольных доменов по фиксированному набору запрещённых доменов.
 </p>
 <p>
  А именно, если запрещён домен ya.ru, то должен фильтроваться не только он сам, но и все его поддомены: ya.ru, m.ya.ru, m.mail.ya.ru и пр.
 </p>
 <h3 level="3">
  Входные данные
 </h3>
 <p>
  Сначала вводится количество запрещённых доменов и сами эти домены. Затем в том же формате вводятся домены, которые нужно проверить.
 </p>
 <h3 level="3">
  Выходные данные
 </h3>
 <p>
  Для каждого домена из второго набора выведите одну строку:
  <strong>
   Bad
  </strong>
  , если домен нужно отфильтровать (то есть он входит в список запрещённых или является поддоменом одного из них), и
  <strong>
   Good
  </strong>
  в противном случае.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <p>
  Ввод
 </p>
 <pre language="plain_text">4
ya.ru
maps.me
m.ya.ru
com
7
ya.ru
ya.com
m.maps.me
moscow.m.ya.ru
maps.com
maps.ru
ya.ya</pre>
 <p>
  Вывод
 </p>
 <pre language="plain_text">Bad
Bad
Bad
Bad
Bad
Good
Good</pre>
 <h3 level="3">
  Ограничения
 </h3>
 <p>
  Гарантируется, что каждый домен — это набор строчных латинских букв, разделённых точками. Точка не может быть первым или последним символом домена. Две точки не могут быть соседними символами. (Иными словами, перед каждой точкой и после каждой точки находится буква.)
 </p>
 <p>
  Длина каждого домена не более 50, в каждом наборе не более 10000 доменов.
 </p>
 <p>
  Время работы программы должно укладываться в 3 секунды.
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
