<meta charset="utf-8"/>
<co-content>
 <p>
  Вам дано решение задачи «Личный бюджет, professional mobile version» из «Коричневого пояса». Оно содержит некоторое количество проблем, которые можно обнаружить с помощью санитайзеров и/или дебажных дефайнов: найдите их, исправьте и сдайте задачу.
 </p>
 <asset assettype="generic" extension="cpp" id="mWe-h4ksEemNChIBV74tfA" name="san_fail">
 </asset>
 <p>
  Эта задача тренировочная, поэтому советуем использовать её как возможность лучше разобраться в санитайзерах и не сдавать готовое решение из предыдущего курса.
 </p>
 <p>
  По техническим причинам тестирующая система плохо обнаруживает утечки памяти. Тем не менее, рекомендуем найти и исправить все утечки в данном решении.
 </p>
 <h2 level="2">
  Условие исходной задачи
 </h2>
 <p>
  Реализуйте систему ведения личного бюджета. Вам необходимо обрабатывать запросы следующих типов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     ComputeIncome
    </strong>
    <strong>
     <em>
      from to
     </em>
    </strong>
    : вычислить чистую прибыль за данный диапазон дат.
   </p>
  </li>
  <li>
   <p>
    <strong>
     Earn
    </strong>
    <strong>
     <em>
      from to value
     </em>
    </strong>
    : учесть, что за указанный период (равномерно по дням) была заработана сумма
    <em>
     <strong>
      value
     </strong>
    </em>
    .
   </p>
  </li>
  <li>
   <p>
    <strong>
     Spend
    </strong>
    <strong>
     <em>
      from to value
     </em>
    </strong>
    : потратить указанную сумму равномерно за указанный диапазон дат. Чистая прибыль в запросах
    <strong>
     ComputeIncome
    </strong>
    вычисляется как разница заработанного (за вычетом налогов) и потраченного. При расчёте налога потраченные суммы не учитываются.
   </p>
  </li>
  <li>
   <p>
    <strong>
     PayTax
    </strong>
    <strong>
     <em>
      from to percentage
     </em>
    </strong>
    : заплатить указанный налог в указанный диапазон. Гарантируется, что
    <em>
     <strong>
      percentage
     </strong>
    </em>
    — целое число от 0 до 100. Это означает простое умножение всей прибыли в диапазоне на (1 −
    <em>
     <strong>
      percentage
     </strong>
    </em>
    / 100), независимо от того, отдавался ли уже налог за какой-то из указанных дней. Прибыль за эти дни, которая обнаружится позже, налогами из прошлого не облагается.
   </p>
  </li>
 </ul>
 <p>
  Примечания:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Во всех диапазонах
    <em>
     <strong>
      from to
     </strong>
    </em>
    обе даты
    <em>
     <strong>
      from
     </strong>
    </em>
    и
    <em>
     <strong>
      to
     </strong>
    </em>
    включаются.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Формат ввода
 </h3>
 <p>
  В первой строке вводится количество запросов
  <strong>
   Q
  </strong>
  , затем в описанном выше формате вводятся сами запросы, по одному на строке.
 </p>
 <h3 level="3">
  Формат вывода
 </h3>
 <p>
  Для каждого запроса
  <strong>
   ComputeIncome
  </strong>
  в отдельной строке выведите вещественное число — чистую прибыль (прибыль за вычетом налогов) за указанный диапазон дат.
 </p>
 <h3 level="3">
  Ограничения
 </h3>
 <ul bullettype="bullets">
  <li>
   <p>
    Количество запросов
    <strong>
     Q
    </strong>
    — натуральное число, не превышающее 100000.
   </p>
  </li>
  <li>
   <p>
    Все даты вводятся в формате YYYY-MM-DD. Даты корректны (с учётом високосных годов) и принадлежат годам с 2000 до 2100 включительно.
   </p>
  </li>
  <li>
   <p>
    <em>
     <strong>
      value
     </strong>
    </em>
    — положительные целые числа, не превышающие 1000000.
   </p>
  </li>
  <li>
   <p>
    2,5 секунды на обработку всех запросов.
   </p>
  </li>
 </ul>
 <h3 level="3">
  Пример
 </h3>
 <p>
  Ввод
 </p>
 <pre>8
Earn 2000-01-02 2000-01-06 20
ComputeIncome 2000-01-01 2001-01-01
PayTax 2000-01-02 2000-01-03 13
ComputeIncome 2000-01-01 2001-01-01
Spend 2000-12-30 2001-01-02 14
ComputeIncome 2000-01-01 2001-01-01
PayTax 2000-12-30 2000-12-30 13
ComputeIncome 2000-01-01 2001-01-01
</pre>
 <p>
  Вывод
 </p>
 <pre>20
18.96
8.46
8.46</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
