<meta charset="utf-8"/>
<co-content>
 <p>
  Вам дано решение части E «Транспортного справочника» из «Коричневого пояса». Оно содержит некоторое количество проблем, которые можно обнаружить с помощью санитайзеров и/или дебажных дефайнов: найдите их, исправьте и сдайте задачу.
 </p>
 <asset assettype="generic" extension="zip" id="9Fg-LYD0EemwbA6NWV4gZg" name="part_e_san_fail">
 </asset>
 <p>
 </p>
 <p>
  Требования текущей задачи совпадают с требованиями части E во всём, кроме ограничений:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    базе позволяется содержать до 650 автобусов и до 650 остановок;
   </p>
  </li>
  <li>
   <p>
    количество запросов к большой базе может быть не максимальным — с тем, чтобы решение с данным маршрутизатором успешно проходило тесты;
   </p>
  </li>
  <li>
   <p>
    ограничение по времени — 2 секунды;
   </p>
  </li>
  <li>
   <p>
    ограничение по памяти — 1 ГБ.
   </p>
  </li>
 </ul>
 <p>
  Таким образом, маршрутизатор в данном выше решении устроен другим образом, и прежнее решение части E нельзя сдать в эту задачу.
 </p>
 <p>
  Исходное условие части E вместе с примерами приведено
  <a href="https://www.coursera.org/learn/c-plus-plus-black/programming/oBwub/transportnyi-spravochnik-chast-e" title="ниже в этой неделе">
   ниже в этой неделе
  </a>
  .
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
