<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вам нужно реализовать три шаблонных функции:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    template &lt;typename T&gt; void Swap(T* first, T* second) — обменивает местами значения, на которые указывают указатели first и second
   </p>
  </li>
  <li>
   <p>
    template &lt;typename T&gt; void SortPointers(vector&lt;T*&gt;&amp; pointers) — сортирует указатели по значениям, на которые они указывают
   </p>
  </li>
  <li>
   <p>
    template &lt;typename T&gt; void ReversedCopy(T* src, size_t count, T* dst) — копирует в обратном порядке count элементов, начиная с адреса в указателе src, в область памяти, начинающуюся по адресу dst. При этом
   </p>
  </li>
 </ul>
 <ol bullettype="numbers">
  <li>
   <p>
    каждый объект из диапазона [src; src + count) должен быть скопирован не более одного раза;
   </p>
  </li>
  <li>
   <p>
    диапазоны [src; src + count) и [dst; dst + count) могут пересекаться;
   </p>
  </li>
  <li>
   <p>
    элементы в части диапазона [src; src + count), которая не пересекается с [dst; dst + count), должны остаться неизменными.
   </p>
  </li>
 </ol>
 <p>
  Примеры применения шаблонов смотрите в тестах в заготовке решения.
 </p>
 <asset assettype="generic" extension="cpp" id="ombJGmTFEeiqeRIP8uWOXA" name="swap_sort_copy">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
