<meta charset="utf-8"/>
<co-content>
 <h3 level="3">
  Условие
 </h3>
 <p>
  В лекциях мы уже начали реализовывать свой вектор. В этой задаче вам надо его развить: добавить методы Size, Capacity и PushBack. Пришлите на проверку заголовочный файл simple_vector.h, содержащий объявление и определение шаблона класса SimpleVector:
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
class SimpleVector {
public:
  SimpleVector() = default;
  explicit SimpleVector(size_t size);
  ~SimpleVector();

  T&amp; operator[](size_t index);

  T* begin();
  T* end();

  size_t Size() const;
  size_t Capacity() const;
  void PushBack(const T&amp; value);

private:
  ...
};</pre>
 <p>
  Требования:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    метод Capacity должен возвращать текущую ёмкость вектора — количество элементов, которое помещается в блок памяти, выделенный вектором в данный момент
   </p>
  </li>
  <li>
   <p>
    метод Size должен возвращать количество элементов в векторе
   </p>
  </li>
  <li>
   <p>
    метод PushBack добавляет новый элемент в конец вектора; если в текущем выделенном блоке памяти не осталось свободного места (т.е. Size() == Capacity()), вектор должен выделить блок размера 2 * Capacity(), скопировать в него все элементы и удалить старый.
   </p>
  </li>
  <li>
   <p>
    первый вызов метода PushBack для вновь созданного объекта должен делать ёмкость, равной единице
   </p>
  </li>
  <li>
   <p>
    метод PushBack должен иметь амортизированную константную сложность
   </p>
  </li>
  <li>
   <p>
    методы begin и end должны возвращать итераторы текущие начало и конец вектора
   </p>
  </li>
  <li>
   <p>
    в деструкторе должен освобождаться текущий блок памяти, выделенный вектором
   </p>
  </li>
  <li>
   <p>
    также см. дополнительные требования к работе SimpleVector в юнит-тестах в приложенном шаблоне решения
   </p>
  </li>
 </ul>
 <h3 level="3">
  Заготовка решения
 </h3>
 <asset assettype="generic" extension="h" id="q-OL4qX_EeilzRLZf2WxfA" name="simple_vector">
 </asset>
 <asset assettype="generic" extension="cpp" id="uoPvEoauEeianAr0yIdmDg" name="simple_vector">
 </asset>
 <h3 level="3">
  Замечание
 </h3>
 <p>
  Заголовочный файл, который вы пришлёте на проверку, не должен подключать файлы &lt;vector&gt;, &lt;list&gt;, &lt;forward_list&gt;, &lt;deque&gt;, &lt;map&gt;. Если у вас будет подключен один из этих файлов, вы получите ошибку компиляции.
 </p>
 <h3 level="3">
  Подсказка
 </h3>
 <p>
  Наверняка в вашей реализации шаблона класса SimpleVector будет поле, являющееся указателем. В конструкторе по умолчанию вам надо будет его чем-нибудь проинициализировать. В лекциях мы рассматривали только один способ инициализации указателей — с помощью оператора new. В C++ есть специальное значение, означающее указатель, который ни на что не указывает — nullptr:
 </p>
 <pre language="c_cpp">int* p = nullptr;
string* q = nullptr;
map&lt;string, vector&lt;int&gt;&gt;* r = nullptr;</pre>
 <p>
  Вы можете использовать nullptr для инициализации указателя в конструкторе по умолчанию.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
