<meta charset="utf-8"/>
<co-content>
 <p>
  Односвязный список — классический пример структуры данных, для реализации которой нужно пользоваться памятью в куче. В этой задаче вам нужно реализовать шаблон класса LinkedList, который представляет собой односвязный список и обладает следующим интерфейсом:
 </p>
 <pre language="c_cpp">template &lt;typename T&gt;
class LinkedList {
public:
  struct Node {
    T value;
    Node* next = nullptr;
  };

  ~LinkedList();

  void PushFront(const T&amp; value);
  void InsertAfter(Node* node, const T&amp; value);
  void RemoveAfter(Node* node);
  void PopFront();

  Node* GetHead() { return head; }
  const Node* GetHead() const { return head; }

private:
  Node* head = nullptr;
};</pre>
 <ul bullettype="bullets">
  <li>
   <p>
    Метод GetHead возвращает указатель на голову списка, он используется для перебора элементов списка (см. шаблон ToVector в заготовке решения)
   </p>
  </li>
  <li>
   <p>
    Метод PushFront добавляет новый элемент в голову списка.
   </p>
  </li>
  <li>
   <p>
    Метод InsertAfter вставляет новый элемент в список так, чтобы он шёл после узла node. Если node == nullptr, метод эквивалентен PushFront
   </p>
  </li>
  <li>
   <p>
    Метод PopFront удаляет элемент из головы списка и освобождает выделенную под него память. Если список пуст, метод завершается корректно. Если после выполнения метода список стал пустым, метод GetHead должен возвращать nullptr
   </p>
  </li>
  <li>
   <p>
    Метод RemoveAfter должен удалять из списка элемент, который следует за узлом node, и освобождать выделенную под него память. Если node == nullptr, метод эквивалентен PopFront. Если node-&gt;next == nullptr, то метод должен корректно завершаться.
   </p>
  </li>
  <li>
   <p>
    Все методы, перечисленные выше, должны работать за O(1)
   </p>
  </li>
  <li>
   <p>
    Деструктор класса LinkedList освобождает всю память, выделенную для хранения элементов списка.
   </p>
  </li>
 </ul>
 <p>
  Файл с заготовкой решения
 </p>
 <asset assettype="generic" extension="cpp" id="Pl08iWTGEeiEwg4WmF3VaA" name="linked_list">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
