<meta charset="utf-8"/>
<co-content>
 <p>
  Ниже представлены ссылки на ресурсы, описанные в предыдущем видео.
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Запуск программы:
    <a href="https://wandbox.org" title="">
     https://wandbox.org
    </a>
   </p>
  </li>
  <li>
   <p>
    Измерение производительности программы:
    <a href="http://quick-bench.com" title="">
     http://quick-bench.com
    </a>
   </p>
  </li>
  <li>
   <p>
    Просмотр ассемблерного кода программы:
    <a href="https://gcc.godbolt.org" title="">
     https://gcc.godbolt.org
    </a>
   </p>
  </li>
 </ul>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
