<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче от вас требуется сложить два числа. Да, так просто. Правда, нужно будет диагностировать переполнение.
 </p>
 <p>
  Нужно написать программу, которая считывает из входного потока два целых числа и выводит в выходной поток их сумму. Гарантируется, что оба числа на входе влезают в тип std::int64_t. При этом, если результат их сложения выходит за пределы типа std::int64_t, в выходной поток вместо их суммы нужно вывести строку "Overflow!" (без кавычек).
 </p>
 <p>
  Ваша программа будет собрана с ключом -fsanitize=undefined (подробнее о нём будет рассказано в заключительном видео блока). Если в процессе работы будет выявлено неопределённое поведение, результат засчитан не будет.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <table columns="2" rows="3">
  <thead>
   <tr>
    <th>
     <p>
      Input
     </p>
    </th>
    <th>
     <p>
      Output
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     5 -3
    </p>
   </td>
   <td>
    <p>
     2
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     4567890123456789012 5678901234567890123
    </p>
   </td>
   <td>
    <p>
     Overflow!
    </p>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
