<meta charset="utf-8"/>
<co-content>
 <p>
 </p>
 <pre language="c_cpp">#include &lt;iostream&gt;
#include &lt;optional&gt;

using T = int64_t;

std::optional&lt;T&gt; add(T x, T y) {
  if (x &gt; 0 &amp;&amp; y &gt; 0) {
    T max = std::numeric_limits&lt;T&gt;::max();
    if (x &gt; max - y) {
      return std::nullopt;
    }
  } else if (x &lt; 0 &amp;&amp; y &lt; 0) {
    T min = std::numeric_limits&lt;T&gt;::min();
    if (x &lt; min - y) {
      return std::nullopt;
    }
  }
  return x + y;
}

int main() {
  T x, y;
  std::cin &gt;&gt; x &gt;&gt; y;
  if (auto sum = add(x, y))
    std::cout &lt;&lt; *sum &lt;&lt; std::endl;
  else
    std::cout &lt;&lt; "Overflow!" &lt;&lt; std::endl;
}</pre>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
