<meta charset="utf-8"/>
<co-content>
 <p>
  В этой задаче вам надо реализовать шаблон класса Optional, который ведёт себя аналогично
  <a href="https://en.cppreference.com/w/cpp/utility/optional" title="std::optional">
   std::optional
  </a>
  — может либо хранить элемент, либо хранить метку об отсутствии элемента.
 </p>
 <p>
  Заготовка решения содержит объявления методов, которые вам надо реализовать:
 </p>
 <asset assettype="generic" extension="h" id="h4lcfJHNEemODxK6RFJwEA" name="optional">
 </asset>
 <p>
 </p>
 <asset assettype="generic" extension="cpp" id="Y1xHQH5hEemEGxLG-3C7Ug" name="optional">
 </asset>
 <p>
 </p>
 <p>
  Обратите внимание, что Optional, в отличие от unique_ptr, должен хранить данные на стеке, а не в динамической памяти.
Эти данные нужно проинициализировать только при необходимости (по умолчанию Optional создаётся пустым).
Для этого нужно использовать конструкцию placement new — явное указание компилятору создать объект в указанном месте памяти.
Например, сконструировать новый объект типа T в блоке памяти data можно так:
 </p>
 <pre language="c_cpp">new (data) T();</pre>
 <p>
  За временем жизни такого объекта придётся следить самостоятельно.
Сама сырая память data в данном случае будет удалена автоматически, но деструктор придётся позвать вручную:
 </p>
 <pre language="c_cpp">reinterpret_cast&lt;T*&gt;(data)-&gt;~T();</pre>
 <p>
  Запомните: конструирование объекта с помощью placement new в уже имеющейся памяти, как в этой задаче, — это единственный случай, когда  нужно вызывать деструктор самостоятельно.

Пытайтесь не создавать лишние объекты типа T зря.
Например, при присваивании нового объекта уже заполненному Optional просто вызовите соответствующий оператор присваивания для типа T.

На проверку пришлите .cpp или .h файл с реализацией шаблона Optional.
 </p>
 <p>
  <strong>
   <u>
    Замечание.
   </u>
  </strong>
  Настоящий std::optional реализован сложнее. Просто конструировать объект в буфере байт на стеке он не может: тогда такой std::optional нельзя было бы использовать в constexpr-выражениях. Вместо этого в стандартном std::optional применяется union. 
Однако в этой задаче вполне достаточно использовать обычный буфер.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
