<meta charset="utf-8"/>
<co-content>
 <p>
  Реализуйте шаблонную функцию EqualsToOneOf, возвращающую true тогда и только тогда, когда ее первый аргумент равен хотя бы одному из последующих аргументов. Примеры:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    EqualsToOneOf(1, 2, 3, 4) == false — первый параметр 1 не равен ни одному из последующих параметров;
   </p>
  </li>
  <li>
   <p>
    EqualsToOneOf(1, 3, 1) == true — первый параметр 1 равен третьему параметру.
   </p>
  </li>
 </ul>
 <pre language="c_cpp">bool IsExpectedAnswer(const string&amp; answer) {
  return EqualsToOneOf(answer, "Yes", "No", "Don't know");
}</pre>
 <p>
  Если в функцию передан только один параметр, она должна вернуть false.
 </p>
 <p>
  На проверку пришлите файл с реализацией функции EqualsToOneOf.
 </p>
 <h3 level="3">
  Файл с заготовкой решения
 </h3>
 <p>
 </p>
 <asset assettype="generic" extension="cpp" id="Kg7MIG_kEemYoA6JRCzeXg" name="equals_to_one_of">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
