<meta charset="utf-8"/>
<co-content>
 <p>
  Теперь напишите реализацию функций Insert, Emplace и Erase для вектора. Мы просим написать версии функций Insert и Erase только для работы с одним элементом. Сам элемент задаётся константным итератором, а функции возвращают просто итератор.
 </p>
 <p>
  Типы iterator и const_iterator определены как указатель и константный указатель на элемент.  В реализации функций допускается любое количество вызовов move-конструкторов и move-операторов присваивания для элементов. В предположении, что move-операции не генерируют исключений, функции должны обеспечивать строгую гарантию безопасности.
 </p>
 <p>
 </p>
 <asset assettype="generic" extension="cpp" id="Bvkuw3yMEemgwQ7OztbmKg" name="test">
 </asset>
 <p>
 </p>
 <asset assettype="generic" extension="h" id="BvkHK3yMEem3uwrt2iBKLA" name="vector">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
