<meta charset="utf-8"/>
<co-content>
 <p>
  <em>
   Вам даны задача и её решение — верное, но не удовлетворяющее заданным ограничениям на время работы. Переработайте это решение и сдайте в систему.
  </em>
 </p>
 <h2 level="2">
  Условие
 </h2>
 <p>
  Разработайте систему стимулирования чтения электронных книг. Для простоты будем считать, что книга всего одна, но её одновременно читают много людей. Необходимо следить за прогрессом чтения у всех пользователей и выводить мотивирующие уведомления. А именно, ваша программа должна обрабатывать следующие события:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    <strong>
     READ
     <em>
      user
     </em>
     <em>
      page
     </em>
    </strong>
    — сохранить факт того, что пользователь под номером
    <em>
     <strong>
      user
     </strong>
    </em>
    дочитал книгу до страницы
    <em>
     <strong>
      page
     </strong>
    </em>
    . Если ранее такой пользователь не встречался, необходимо его добавить. Гарантируется, что в рамках одного пользователя номера страниц в соответствующих ему событиях возрастают.
   </p>
  </li>
  <li>
   <p>
    <strong>
     CHEER
     <em>
      user
     </em>
    </strong>
    — сообщить пользователю
    <em>
     <strong>
      user
     </strong>
    </em>
    , какая доля существующих пользователей (не считая его самого) прочитала меньшую часть книги, чем он. Если этот пользователь на данный момент единственный, доля считается равной 1. Если для данного пользователя пока не было ни одного события
    <strong>
     READ
    </strong>
    , доля считается равной 0, а сам пользователь
    <em>
     не учитывается при вычислении долей для других пользователей
    </em>
    до тех пор, пока для него не случится событие
    <strong>
     READ
    </strong>
    .
   </p>
  </li>
 </ul>
 <h2 level="2">
  Формат входных данных
 </h2>
 <p>
  В первой строке вводится количество запросов
  <em>
   Q
  </em>
  — натуральное число, не превосходящее 10^6. В следующих
  <em>
   Q
  </em>
  строках в соответствии с описанным выше форматом вводятся запросы. Гарантируется, что все вводимые числа целые и положительные, при этом номера пользователей не превосходят 10^5, а номера страниц не превосходят 1000.
 </p>
 <h2 level="2">
  Формат выходных данных
 </h2>
 <p>
  Для каждого запроса
  <strong>
   CHEER
   <em>
    user
   </em>
  </strong>
  выведите единственное вещественное число от 0 до 1 — долю пользователей, прочитавших меньше страниц, чем
  <em>
   <strong>
    user
   </strong>
  </em>
  . Формат вывода этого числа должен быть в точности таким же, как в опубликованном ниже медленном решении.
 </p>
 <h2 level="2">
  Ограничения
 </h2>
 <p>
  4 секунды на выполнение всех запросов. Все описанные в условии гарантии действительно справедливы для всех тестов, на которых будет запускаться ваша программа. Проверять корректность тестов не нужно.
 </p>
 <h2 level="2">
  Пример
 </h2>
 <h3 level="3">
  Ввод
 </h3>
 <pre language="plain_text">12
CHEER 5
READ 1 10
CHEER 1
READ 2 5
READ 3 7
CHEER 2
CHEER 3
READ 3 10
CHEER 3
READ 3 11
CHEER 3
CHEER 1
</pre>
 <h3 level="3">
  Вывод
 </h3>
 <pre language="plain_text">0
1
0
0.5
0.5
1
0.5
</pre>
 <h3 level="3">
  Комментарии к примеру
 </h3>
 <p>
  Пользователь 5 не учитывается при вычислении долей, потому что для него не произошло ни одного события
  <strong>
   READ
  </strong>
  .
 </p>
 <p>
  Пользователь 1 изначально был единственным, но в конце его обогнал 3-й, но не обогнал 2-й, поэтому он оказался продуктивнее 50 % пользователей.
 </p>
 <p>
  Пользователь 3 изначально обгонял только 2-го и потому получал долю 50 %, но в конце обогнал 1-го и получил долю 100 %.
 </p>
 <h2 level="2">
  Правильное, но медленное решение
 </h2>
 <asset assettype="generic" extension="cpp" id="7YdiJmS5EeiQ1RJfHSpJKg" name="slow">
 </asset>
 <h2 level="2">
  Подсказки
 </h2>
 <p>
  Если задача вызывает непреодолимые трудности, вы можете воспользоваться подсказками. Они помогут быстрее сдать задачу, но в итоге вы получите меньше пользы от процесса поиска решения.
 </p>
 <p>
  Не нужно открывать все подсказки сразу. Используйте их последовательно.
 </p>
 <asset assettype="pdf" extension="pdf" id="4f6F9efeEei5Kg7DUflKxA" name="ebook-1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="4f6tLefeEeilxxL_ZeRz_A" name="ebook-2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="4f9JAufeEeiaxBKyA9PBAg" name="ebook-3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="4f9JAefeEeiaxBKyA9PBAg" name="ebook-4">
 </asset>
 <asset assettype="pdf" extension="pdf" id="4gQEgefeEeiTKQ5ajE7PqA" name="ebook-5">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
