<meta charset="utf-8"/>
<co-content>
 <p>
  Было бы странно в курсе от Яндекса и не попросить вас сделать свою поисковую систему. В финальной задаче «Красного пояса» мы именно этим и займёмся :)
 </p>
 <p>
  В этой задаче вам надо поработать с классом SearchServer, который позволяет выполнять поиск в базе документов:
 </p>
 <pre language="c_cpp">class SearchServer {
public:
  SearchServer() = default;
  explicit SearchServer(istream&amp; document_input);

  void UpdateDocumentBase(istream&amp; document_input);
  void AddQueriesStream(istream&amp; query_input, ostream&amp; search_results_output);
};</pre>
 <p>
  Рассмотрим его интерфейс.
 </p>
 <h3 level="3">
  Конструктор
 </h3>
 <p>
  Конструктор класса SearchServer принимает поток ввода, содержащий базу документов. При этом
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    один документ — это одна строка входного потока;
   </p>
  </li>
  <li>
   <p>
    документы состоят из слов, разделённых одним или несколькими пробелами;
   </p>
  </li>
  <li>
   <p>
    слова состоят из строчных латинских букв. Например, код, приведённый ниже, загружает в объект класса SearchServer базу из трёх документов:
   </p>
  </li>
 </ul>
 <pre language="c_cpp">string docs;
docs += "london is the capital of great britain\n";
    // документ содержит 7 слов
docs += "i am travelling down the river\n";
    // документ содержит 6 слов
docs += "  here     we    go             ";
    // документ содержит 3 слова

istringstream document_input(docs);
SearchServer srv(document_input);
</pre>
 <h3 level="3">
  Метод AddQueriesStream(istream&amp; query_input, ostream&amp; search_results_output)
 </h3>
 <p>
  Метод AddQueriesStream выполняет собственно поиск. Он принимает входной поток поисковых запросов и выходной поток для записи результатов поиска. При этом
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    один запрос — это одна строка в потоке query_input
   </p>
  </li>
  <li>
   <p>
    каждый поисковый запрос состоит из слов, разделённых одним или несколькими пробелами
   </p>
  </li>
  <li>
   <p>
    так же, как и в документах, слова в запросах состоят из строчных латинских букв
   </p>
  </li>
 </ul>
 <p>
  Результатом обработки поискового запроса является набор из
  <strong>
   максимум пяти
  </strong>
  наиболее релевантных документов. В реальных поисковых системах метрика релевантности устроена довольно сложно. В рамках нашей задачи в качестве метрики релевантности мы будем использовать суммарное количество вхождений всех слов запроса в документ. Например, допустим, у нас есть поисковая база из трёх документов: "london is the capital of great britain", "moscow is the capital of the russian federation", "paris is the capital of france", — и поисковый запрос "the best capital". Тогда метрика релевантности у наших документов будет такой:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    london is the capital of great britain — 2 (слово "the" входит в документ 1 раз, слово "best" — ни разу, слово "capital" — 1 раз)
   </p>
  </li>
  <li>
   <p>
    moscow is the capital of the russian federation — 3 (слово "the" входит в документ 2 раза, слово "best" — ни разу, слово "capital" — 1 раз)
   </p>
  </li>
  <li>
   <p>
    paris is the capital of france — 2 ("the" — 1, "best" — 0, "capital" — 1)
   </p>
  </li>
 </ul>
 <p>
  В итоге получается, что документ "moscow is the capital of the russian federation" оказывается наиболее релевантным запросу "the best capital".
 </p>
 <p>
  Для каждого поискового запроса метод AddQueriesStream должен вывести в поток search_results_output одну строку в формате [текст запроса]: {docid: &lt;значение&gt;, hitcount: &lt;значение&gt;} {docid: &lt;значение&gt;, hitcount: &lt;значение&gt;} ..., где docid — идентификатор документа (см. ниже), а hitcount — значение метрики релевантности для данного документа (то есть суммарное количество вхождений всех слов запроса в данный документ).
 </p>
 <p>
  Два важных замечания:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Добавлять в результаты поиска документы, hitcount которых равен нулю, не нужно.
   </p>
  </li>
  <li>
   <p>
    при подсчёте hitcount нужно учитывать только слова целиком, то есть слово «there» не является вхождением слова «the»
   </p>
  </li>
 </ul>
 <h3 level="3">
  Метод UpdateDocumentBase(istream&amp; document_input)
 </h3>
 <p>
  Метод UpdateDocumentBase заменяет текущую базу документов на новую, которая содержится в потоке document_input. При этом документ из первой строки этого потока будет иметь идентификатор (docid) 0, документ из второй строки — идентификатор 1 и т.д. Точно так же должен назначать идентификаторы документам и конструктор класса SearchServer. Например, код
 </p>
 <pre language="c_cpp">const string doc1 = "london is the capital of great britain";
const string doc2 = "moscow is the capital of the russian federation";
istringstream doc_input1(doc1 + '\n' + doc2);
SearchServer srv(doc_input1);

const string query = "the capital";
istringstream query_input1(query);
srv.AddQueriesStream(query_input1, cout);

istringstream doc_input2(doc2 + '\n' + doc1);
srv.UpdateDocumentBase(doc_input2);
istringstream query_input2(query);
srv.AddQueriesStream(query_input2, cout);
</pre>
 <p>
  должен выводить
 </p>
 <pre language="plain_text">the capital: {docid: 1, hitcount: 3} {docid: 0, hitcount: 2}
the capital: {docid: 0, hitcount: 3} {docid: 1, hitcount: 2}</pre>
 <h3 level="3">
  Первая часть задачи
 </h3>
 <p>
  Эта задача состоит из двух частей. В первой части вам дана корректная реализация класса SearchServer, которая работает недостаточно быстро. Вам нужно найти и устранить узкие места в её реализации. В тестирующую систему нужно сдать cpp-файл или архив из нескольких исходных файлов, содержащий вашу ускоренную реализацию.
 </p>
 <p>
  Тестирование реализации будет проводиться на производительность и на целостность.
 </p>
 <p>
  При тестирования на производительность, Ваша реализация будет тестироваться вот такой функцией (объект класса SearchServer будет создан один раз, и у него один раз будет вызван метод AddQueriesStream):
 </p>
 <pre language="c_cpp">void TestSearchServer(istream&amp; document_input, istream&amp; query_input,
                      ostream&amp; search_results_output) {
  SearchServer srv(document_input);
  srv.AddQueriesStream(query_input, search_results_output);
}</pre>
 <p>
  При этом:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    document_input содержит не более 50000 документов
   </p>
  </li>
  <li>
   <p>
    каждый документ содержит не более 1000 слов
   </p>
  </li>
  <li>
   <p>
    общее число различных слов во всех документах не превосходит 15000
   </p>
  </li>
  <li>
   <p>
    максимальная длина одного слова — 100 символов, слова состоят из строчных латинских букв и разделены одним или несколькими пробелами
   </p>
  </li>
  <li>
   <p>
    query_input содержит не более 500 000 запросов, каждый запрос содержит от 1 до 10 слов.
   </p>
  </li>
 </ul>
 <p>
  В отличие от тестирования на производительность, при тестировании на целостность и корректность работы исходного функционала сервера допускается вызов UpdateDocumentBase в том числе и у уже созданного и проинициализированного объекта класса SearchServer.
 </p>
 <p>
  Смотрите юнит-тесты в заготовке решения для более подробного ознакомления с тем, как должен работать класс SearchServer
 </p>
 <asset assettype="generic" extension="zip" id="dO2HqHCSEeiMwApe4i-fLg" name="course_project_first_part">
 </asset>
 <h3 level="3">
  Вторая часть задачи
 </h3>
 <p>
  В этой части мы смоделируем работу web-сервера, который одновременно обрабатывает несколько потоков поисковых запросов, а также обновления базы документов. Ваша реализация будет тестироваться так:
 </p>
 <pre language="c_cpp">void TestSearchServer(vector&lt;pair&lt;istream, ostream*&gt;&gt; streams) {
  // IteratorRange — шаблон из задачи Paginator
  // random_time() — функция, которая возвращает случайный
  // промежуток времени

  LOG_DURATION("Total");
  SearchServer srv(streams.front().first);
  for (auto&amp; [input, output] :
       IteratorRange(begin(streams) + 1, end(streams))) {
    this_thread::sleep_for(random_time());
    if (!output) {
      srv.UpdateDocumentBase(input);
    } else {
      srv.AddQueriesStream(input, *output);
    }
  }
}</pre>
 <p>
  Как видите, с помощью макроса LOG_DURATION мы замеряем общее время работы тестирующей функции. Ваша реализация должна работать быстрее, чем простое последовательное применение методов UpdateDocumentBase и AddQueriesStream.
 </p>
 <p>
  На практике такой web-сервер бо̀льшую часть времени обрабатывает поисковые запросы. База документов обновляется не очень часто с определённой периодичностью, например, один раз в сутки. Обновление базы может занимать значительное время, поэтому сервер не должен прекращать обработку запросов, пока оно выполняется. Ваше решение второй части задачи должно это учитывать.
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Метод AddQueriesStream должен быть готов к тому, что параллельно с ним будет выполняться метод UpdateDocumentBase и наоборот.
   </p>
  </li>
  <li>
   <p>
    Метод AddQueriesStream не обязан обрабатывать все запросы с той версией базы документов, которая была актуальна во время его запуска. То есть, если во время работы метода AddQueriesStream база документов была обновлена, он может использовать новую версию базы для обработки оставшихся запросов.
   </p>
  </li>
 </ol>
 <h3 level="3">
  Благодарность
 </h3>
 <p>
  Благодарим
  <a href="https://www.coursera.org/user/91db60f0dd0fd4128bd789647136b440" title="Ссылка на профиль">
   Василия Зяблицева
  </a>
  за помощь в усовершенствовании этой задачи.
 </p>
 <h3 level="3">
  Подсказки
 </h3>
 <p>
  Для каждой части задачи есть набор подсказок, которые должны помочь вам с решением. Если вам не удаётся сдать задачу и вы чувствуете, что у вас кончились идеи, вы можете ими воспользоваться.
 </p>
 <p>
  <strong>
   Подсказки для первой части
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="NzvO53CTEei8FQ6TnIKJEA" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="RbIM13CTEeiMwApe4i-fLg" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="RbCFoXCTEeiYxxI-37QEMA" name="Подсказка 3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="RbNFW3CTEeiMwApe4i-fLg" name="Подсказка 4">
 </asset>
 <asset assettype="pdf" extension="pdf" id="RbPhnHCTEeiMwApe4i-fLg" name="Подсказка 5">
 </asset>
 <asset assettype="pdf" extension="pdf" id="RbJa-HCTEeiMwApe4i-fLg" name="Подсказка 6">
 </asset>
 <asset assettype="pdf" extension="pdf" id="RbLQKXCTEeiMwApe4i-fLg" name="Подсказка 7">
 </asset>
 <asset assettype="pdf" extension="pdf" id="RbMeSnCTEeiMwApe4i-fLg" name="Подсказка 8">
 </asset>
 <p>
  <strong>
   Подсказки для второй части
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="rrjz1HCTEei8FQ6TnIKJEA" name="Подсказка 1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="rrqhlHCTEeiMwApe4i-fLg" name="Подсказка 2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="rrfh13CTEeiYxxI-37QEMA" name="Подсказка 3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="rre6xnCTEeiYxxI-37QEMA" name="Подсказка 4">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
