<meta charset="utf-8"/>
<co-content>
 <p>
  В этом задании вам предстоит написать две небольшие программы. Каждый пункт - отдельная задача, решение отправляйте в поле с соответствующим номером.
 </p>
 <h2 level="2">
  Часть 1
 </h2>
 <p>
  Ваша программа должна считать содержимое файла input.txt и напечатать его на экран без изменений. Гарантируется, что содержимое файла input.txt заканчивается переводом строки.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <p>
  <strong>
   input.txt
  </strong>
 </p>
 <pre language="plain_text">Keep calm
and
learn C++
</pre>
 <p>
  <strong>
   stdout
  </strong>
 </p>
 <pre language="plain_text">Keep calm
and
learn C++
</pre>
 <h2 level="2">
  Часть 2
 </h2>
 <p>
  Снова считайте все содержимое файла input.txt, но на этот раз выведите его в файл output.txt . Точно так же гарантируется, что содержимое файла input.txt заканчивается переводом строки.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <p>
  <strong>
   input.txt
  </strong>
 </p>
 <pre language="plain_text">Keep calm
and
learn C++
</pre>
 <p>
  <strong>
   output.txt
  </strong>
 </p>
 <pre language="plain_text">Keep calm
and
learn C++
</pre>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
