<meta charset="utf-8"/>
<co-content>
 <p>
  В файле input.txt записаны вещественные числа, по одному на строчку. На стандартный вывод напечатайте эти числа в том же порядке, по одному на строке, но сделайте так, чтобы у каждого из них было ровно три знака после десятичной точки.
 </p>
 <p>
  <strong>
   Пример ввода 1
  </strong>
 </p>
 <pre language="plain_text">5
0.34567
10.4</pre>
 <p>
  <strong>
   Пример вывода 1
  </strong>
 </p>
 <pre language="plain_text">5.000
0.346
10.400</pre>
 <p>
  <strong>
   Пример ввода 2
  </strong>
 </p>
 <pre language="plain_text">3.33353
3.333
3.3</pre>
 <p>
  <strong>
   Пример вывода 2
  </strong>
 </p>
 <pre language="plain_text">3.334
3.333
3.300</pre>
 <h3 level="3">
  <strong>
   Примечание:
  </strong>
 </h3>
 <p>
  Воспользуйтесь стандартными манипуляторами потоков вывода.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
