<meta charset="utf-8"/>
<co-content>
 <p>
  Определите структуру «Студент» со следующими полями: имя, фамилия, день, месяц и год рождения. Создайте вектор из таких структур, заполните его из входных данных и затем по запросам выведите нужные поля.
 </p>
 <p>
  <strong>
   Формат ввода
  </strong>
 </p>
 <p>
  Первая строка содержит одно целое число
  <em>
   N
  </em>
  от 0 до 10000 — число студентов.
 </p>
 <p>
  Далее идут
  <em>
   N
  </em>
  строк, каждая из которых содержит две строки длиной от 1 до 15 символов — имя и фамилию очередного студента, и три целых числа от 0 до 1000000000 — день, месяц и год рождения.
 </p>
 <p>
  Следующая строка содержит одно целое число
  <em>
   M
  </em>
  от 0 до 10000 — число запросов.
 </p>
 <p>
  Следующие M строк содержат строку длиной от 1 до 15 символов — запрос, и целое число от 0 до 1000000000 — номер студента (нумерация начинается с 1).
 </p>
 <p>
  <strong>
   Формат вывода
  </strong>
 </p>
 <p>
  Для запроса вида
  <strong>
   name
  </strong>
  <strong>
   <em>
    K
   </em>
  </strong>
  , где
  <em>
   K
  </em>
  от 1 до
  <em>
   N
  </em>
  , выведите через пробел имя и фамилию
  <em>
   K
  </em>
  -го студента.
 </p>
 <p>
  Для запроса вида
  <strong>
   date
  </strong>
  <strong>
   <em>
    K
   </em>
  </strong>
  , где
  <em>
   K
  </em>
  от 1 до
  <em>
   N
  </em>
  , выведите через точку день, месяц и год рождения
  <em>
   K
  </em>
  -го студента.
 </p>
 <p>
  Для остальных запросов выведите
  <strong>
   bad request
  </strong>
  .
 </p>
 <p>
  <strong>
   Пример ввода
  </strong>
 </p>
 <pre language="plain_text">3
Ivan Ivanov 1 1 1901
Petr Petrox 2 2 1902
Alexander Sidorov 3 3 1903
3
name 1
date 3
mark 5</pre>
 <p>
  <strong>
   Пример вывода
  </strong>
 </p>
 <pre language="plain_text">Ivan Ivanov
3.3.1903
bad request</pre>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
