<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой задаче вам необходимо добавить в транспортный справочник данные справочника огранизаций и реализовать поиск по организациям.
 </p>
 <h2 level="2">
  Ввод данных справочника
 </h2>
 <p>
  В JSON, подаваемом на вход программе make_base, появляется новый ключ — "yellow_pages". JSON, ему соответствующий, описывается proto-схемой YellowPages.Database, см. пример. В частности, значения типа enum задаются строками.
 </p>
 <asset assettype="generic" extension="zip" id="KUKcZbjFEemddAqBQMk_og" name="yp_proto">
 </asset>
 <h2 level="2">
  Новый запрос — FindCompanies
 </h2>
 <p>
  В stat_requests входа программы process_requests добавляются запросы нового типа — FindCompanies. Помимо стандартных ключей id и type, запросы этого типа могут содержать следующие ключи: names, urls, rubrics, phones. Каждый из этих ключей — это набор ограничений на одноимённое свойство компании. В отсутствие какого-то из ключей ограничения на соответствующее свойство отсутствуют. В случае присутствия нескольких ключей необходимо найти все компании, одновременно удовлетворяющие ограничениям по всем ключам.
 </p>
 <p>
  Для каждого запроса гарантируется присутствие хотя бы одного ограничения.
 </p>
 <h3 level="3">
  Ключ names
 </h3>
 <p>
  Значение ключа names (при его наличии) — массив строк. Компания считается удовлетворяющей ограничению по этому ключу, если свойство value хотя бы одного из её названий (YellowPages.Name) содержится в данном массиве строк.
 </p>
 <p>
  Если массив пуст, ограничение считается отсутствующим.
 </p>
 <h3 level="3">
  Ключ urls
 </h3>
 <p>
  Значение ключа urls (при его наличии) — массив строк. Компания считается удовлетворяющей ограничению по этому ключу, если свойство value хотя бы одного из её URL-адресов (YellowPages.Url) содержится в данном массиве строк.
 </p>
 <p>
  Если массив пуст, ограничение считается отсутствующим.
 </p>
 <h3 level="3">
  Ключ rubrics
 </h3>
 <p>
  Значение ключа rubrics (при его наличии) — массив строк. В первую очередь, необходимо для каждой рубрики получить её числовой идентификатор с помощью словаря rubrics из раздела yellow_pages входа программы make_base. Этот словарь задаёт обратный мапинг, но гарантируется, что его значения-строки уникальны. Кроме того, гарантируется, что каждая строка из поля rubrics любого запроса FindCompanies найдётся в списке значений словаря yellow_pages.rubrics.
 </p>
 <p>
  Компания считается удовлетворяющей ограничению по ключу rubrics, если хотя бы одна из её рубрик (элемент repeated-свойства rubrics) содержится в полученном описанным выше способом наборе идентификаторов рубрик.
 </p>
 <p>
  Если массив пуст, ограничение считается отсутствующим.
 </p>
 <h3 level="3">
  Ключ phones
 </h3>
 <p>
  Значение ключа phones (при его наличии) — массив JSON-объектов специальной структуры, близкой к YellowPages.Phone. Каждый из этих объектов — шаблон номера телефона и в соответствии с описанными ниже правилами задаёт условия на номер телефона. Компания считается удовлетворяющей ограничению по ключу phones, если хотя бы один из её номеров телефона YellowPages.Phone соответствует хотя бы одному из заданных шаблонов номеров телефона.
 </p>
 <p>
  Если массив пуст, ограничение считается отсутствующим.
 </p>
 <p>
  <u>
   Шаблон номера телефона
  </u>
 </p>
 <p>
  Шаблон номера телефона может содержать следующие ключи:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    type — строка "PHONE" или "FAX";
   </p>
  </li>
  <li>
   <p>
    country_code — строка;
   </p>
  </li>
  <li>
   <p>
    local_code — строка;
   </p>
  </li>
  <li>
   <p>
    number — строка;
   </p>
  </li>
  <li>
   <p>
    extension — строка. При этом пустые строки эквивалентны отсутствию соответствующего ключа.
   </p>
  </li>
 </ul>
 <p>
  Сам номер телефона, описываемый YellowPages.Phone, может соответствовать различным шаблонам. Самый простой шаблон, соответствующий номеру телефона, содержит те же type, country_code, local_code, numberи extension: по сути это означает, что по точному соответствию номера телефонов обязаны находиться.
 </p>
 <p>
  Помимо этого, номер телефона с добавочной частью (extension) или типом (type) должен находиться по шаблону без добавочной части или типа. Наконец, в шаблоне может быть не указан код страны (country_code) или оба кода — страны (country_code) и города (local_code). Соответственно, при отсутствии в шаблоне местного номера (number) или при отсутствии local_code и одновременно наличии country_code не найдётся ни один номер, содержащий непустые number, country_code и local_code.
 </p>
 <p>
  Поля formatted и description номеров телефона в поиске не участвуют.
 </p>
 <p>
  Например, по шаблону {"type": "PHONE", "number": "3633659"} могут найтись следующие номера телефонов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    {"type": "PHONE", "country_code": "7", "local_code": "812", "number": "3633659"};
   </p>
  </li>
  <li>
   <p>
    {"type": "PHONE", "local_code": "812", "number": "3633659"};
   </p>
  </li>
  <li>
   <p>
    {"type": "PHONE", "country_code": "7", "number": "3633659"};
   </p>
  </li>
  <li>
   <p>
    {"type": "PHONE", "number": "3633659"}.
   </p>
  </li>
 </ul>
 <p>
  А такие не найдутся:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    {"country_code": "7", "local_code": "812", "number": "3633659"} (потому что шаблон требует типа PHONE);
   </p>
  </li>
  <li>
   <p>
    {"type": "PHONE", "number": "3633658"} (потому что номер неверный);
   </p>
  </li>
  <li>
   <p>
    {"type": "PHONE"} (потому что номера нет, а он требуется шаблоном).
   </p>
  </li>
 </ul>
 <p>
  По шаблону же {"type": "PHONE"} найдутся лишь номера телефонов, по какому-то недоразумению не содержащие number и при этом имеющие тип PHONE.
 </p>
 <p>
  Таким образом, каждому номеру телефона в худшем случае соответствуют 12 шаблонов.
 </p>
 <h3 level="3">
  Пример
 </h3>
 <p>
  Рассмотрим, например, следующий запрос:
 </p>
 <pre language="json">{
  "id": 0,
  "type": "FindCompanies",
  "rubrics": ["Парк", "Кафе"],
  "phones": [
    {"type": "PHONE", "number": "3633659"},
    {"type": "PHONE", "number": "3633660", "extension": "3363"}
  ]
}</pre>
 <p>
  Читать его нужно следующим образом:
  <em>
   найти все кафе и парки, имеющие номер телефона 3633659 (с любым кодом города, кодом страны или добавочной частью) или 3633660 (доб. 3363), с любым кодом города или кодом страны.
  </em>
  Организация не обязана быть одновременно кафе и парком и не обязана иметь оба номера телефона одновременно, но должна удовлетворять ограничениям и на рубрики, и на телефоны. Названия и URL-адреса не имеют значения.
 </p>
 <h3 level="3">
  Формат ответа на запрос
 </h3>
 <p>
  Помимо стандартного ключа request_id, ответ за запрос FindCompanies должен содержать ключ companies с массивом описаний компаний, удовлетворяющих запросу, в произвольном порядке. Каждое описание компании — строка с
  <em>
   основным названием
  </em>
  компании, где под основным названием понимается value первого YellowPages.Name компании с type = MAIN.
 </p>
 <p>
  Если ни одной компании, удовлетворяющей запросу, не нашлось, массив companies должен быть пуст.
 </p>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Вход программы make_base
 </h3>
 <asset assettype="generic" extension="in" id="2PFcD7wHEems6BL4PyEw_A" name="example1_make_base">
 </asset>
 <h3 level="3">
  Вход программы process_requests
 </h3>
 <asset assettype="generic" extension="in" id="2PmZ3rwHEemNdQ5h0qdR0A" name="example1_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests
 </h3>
 <asset assettype="generic" extension="out" id="2PE1TLwHEemddAqBQMk_og" name="example1_process_requests">
 </asset>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Вход программы make_base
 </h3>
 <asset assettype="generic" extension="in" id="2PkkQLwHEems6BL4PyEw_A" name="example2_make_base">
 </asset>
 <h3 level="3">
  Вход программы process_requests
 </h3>
 <asset assettype="generic" extension="in" id="2QQhA7wHEemCfwoJPcV7XA" name="example2_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests
 </h3>
 <asset assettype="generic" extension="out" id="2O_8wrwHEemCfwoJPcV7XA" name="example2_process_requests">
 </asset>
 <h2 level="2">
  Ограничения
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Размер словаря rubrics не превышает 100, длина названия каждой рубрики не превышает 25.
   </p>
  </li>
  <li>
   <p>
    Количество компаний не превышает 5000.
   </p>
  </li>
  <li>
   <p>
    Количество каждого из свойств компании names, phones, urls, rubrics, nearby_stops не превосходит 10. Свойства address.components и working_time не заполнены за ненадобностью.
   </p>
  </li>
  <li>
   <p>
    Длина каждой строки в описании компании не превышает 25.
   </p>
  </li>
  <li>
   <p>
    Ограничение по времени: make_base — 1 с, process_requests — 2,5 с.
   </p>
  </li>
  <li>
   <p>
    Ограничение по памяти: 512 МБ на каждый этап.
   </p>
  </li>
 </ol>
 <p>
  Сложность поиска компаний по конкретному запросу должна быть линейной по количеству компаний, соответствующих ограничению по каждому ключу в отдельности. В частности:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    При использовании лишь запросов с одним ключом (возможно, разным от запроса к запросу) за 2,5 секунды нужно успевать найти суммарно 1200000 компаний.
   </p>
  </li>
  <li>
   <p>
    Если на каждый запрос по одному из ключей находится некое количество компаний (суммарно 1200000 по всем запросам), а по остальным ключам не находится ничего, эти запросы нужно успеть обработать за 2,5 секунды.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Гарантии на справочник
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Все значения словаря rubrics уникальны.
   </p>
  </li>
  <li>
   <p>
    Среди значений словаря rubrics найдётся каждая рубрика из запроса FindCompanies.
   </p>
  </li>
  <li>
   <p>
    У каждой компании есть хотя бы одно MAIN-название.
   </p>
  </li>
  <li>
   <p>
    Каждый идентификатор рубрики компании из массива rubrics найдётся среди ключей словаря rubrics.
   </p>
  </li>
  <li>
   <p>
    Каждое название остановки NearbyStop.name — название существующей остановки из транспортного справочника.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Подсказка
 </h2>
 <p>
  Формально проверку соответствия телефона запросу можно описать таким кодом:
 </p>
 <pre language="c_cpp">static bool DoesPhoneMatch(const PhoneQuery&amp; query, const Phone&amp; object) {
  const Phone&amp; query_phone = query.phone;
  if (!query_phone.extension().empty() &amp;&amp; query_phone.extension() != object.extension()) {
    return false;
  }
  if (query.has_type &amp;&amp; query_phone.type() != object.type()) {
    return false;
  }
  if (!query_phone.country_code().empty() &amp;&amp; query_phone.country_code() != object.country_code()) {
    return false;
  }
  if (
      (!query_phone.local_code().empty() || !query_phone.country_code().empty())
      &amp;&amp; query_phone.local_code() != object.local_code()
  ) {
    return false;
  }
  return query_phone.number() == object.number();
}
</pre>
 <p>
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
