<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой части вы научитесь строить маршрут до ближайшего парка! А именно, вам понадобится не только искать организации по набору условий, но и строить маршрут от некой остановки до ближайшей подходящей организации. Новая функциональность заключается в обработке нового запроса — RouteToCompany.
 </p>
 <h3 level="3">
  Новые данные
 </h3>
 <p>
  Ещё в предыдущей части в описании организации были предусмотрены географические координаты (address.coords) и расстояния до ближайших остановок (nearby_stops). Координаты понадобятся для отображения организации на карте маршрута, а информация про ближайшие остановки используется напрямую при построении маршрута.
 </p>
 <p>
  В routing_settings добавляется новая настройка маршрутизации — скорость пешехода pedestrian_velocity, измеряемая в км/ч (вещественное число от 0,001 до 1000).
 </p>
 <h3 level="3">
  Изменения существующей функциональности
 </h3>
 <p>
  В связи с добавлением новых типов элементов маршрута, старые нуждаются в более понятных названиях:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Bus (поездка на автобусе) переименовывается в RideBus;
   </p>
  </li>
  <li>
   <p>
    Wait (ожидание автобуса) переименовывается в WaitBus.
   </p>
  </li>
 </ul>
 <h2 level="2">
  Новый запрос — RouteToCompany
 </h2>
 <p>
  Помимо стандратного ключа "id" и "type": "RouteToCompany", новый запрос содержит два ключа:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    "from" — название остановки, где начинается маршрут.
   </p>
  </li>
  <li>
   <p>
    "companies" — описание ограничений на организацию, до которой необходимо построить маршрут.
   </p>
  </li>
 </ul>
 <p>
  Ограничения на организацию — это словарь, который может содержать ключи names, urls, rubrics, phones. Их структура и семантика абсолютно аналогичны части R.
 </p>
 <p>
  Такой маршрут устроен следующим образом:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Сначала обычный маршрут между двумя остановками, как в запросе Route, в котором чередуются ожидание автобуса (WaitBus) и поездка на нём (RideBus).
   </p>
  </li>
  <li>
   <p>
    И дополнительный элемент — проход пешком от последней остановки предыдущей части маршрута до целевой организации (WalkToCompany). Скорость пешехода считается равной routing_settings.pedestrian_velocity км/ч. Проход до организации возможен лишь от одной из остановок, указанных в nearby_stops этой организации, и занимает время, соответствующее указанному расстоянию между организацией и остановкой.
   </p>
  </li>
 </ol>
 <p>
  Ответ на запрос RouteToCompany устроен точно так же, как ответ на запрос Route:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    В случае отсутствия маршрута (в том числе по причине отсутствия нужных организаций) выводится {"error_message": "not found"}.
   </p>
  </li>
  <li>
   <p>
    В ключе total_time содержится суммарное время в минутах.
   </p>
  </li>
  <li>
   <p>
    В ключе items содержится массив элементов маршрута.
   </p>
  </li>
  <li>
   <p>
    В ключе map содержится карта маршрута в формате SVG.
   </p>
  </li>
 </ul>
 <p>
  Последним элементом в массиве items должен быть элемент, соответствующий проходу до организации, со следующими параметрами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    "type": "WalkToCompany";
   </p>
  </li>
  <li>
   <p>
    "time" — затраченное время (в минутах);
   </p>
  </li>
  <li>
   <p>
    "stop_name" — остановка, от которой нужно пройти;
   </p>
  </li>
  <li>
   <p>
    "company" — основное название компании (см. условие части R).
   </p>
  </li>
 </ul>
 <p>
  Сам маршрут должен быть наибыстрым маршрутом данной структуры от указанной остановки до организаций, удовлетворяющих заданным ограничениям. Если существует несколько подходящих маршрутов, выводите любой из них.
 </p>
 <h2 level="2">
  Отображение организации на карте маршрута
 </h2>
 <p>
  Схема маршрута до организации должна содержать эту организацию и линию к ней от остановки.
 </p>
 <p>
  Общая карта (выводимая в ответ на запрос Map) и карты обычных машрутов (Route) остаются без изменений и организаций не содержат.
 </p>
 <h3 level="3">
  Новые настройки отрисовки
 </h3>
 <p>
  Добавляются новые настройки отрисовки:
 </p>
 <table columns="4" rows="3">
  <thead>
   <tr>
    <th>
     <p>
      <strong>
       Ключ
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Описание
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Формат значения
      </strong>
     </p>
    </th>
    <th>
     <p>
      <strong>
       Гарантии
      </strong>
     </p>
    </th>
   </tr>
  </thead>
  <tr>
   <td>
    <p>
     company_radius
    </p>
   </td>
   <td>
    <p>
     Радиус круга организации
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <p>
     company_line_width
    </p>
   </td>
   <td>
    <p>
     Толщина линии от остановки до организации
    </p>
   </td>
   <td>
    <p>
     Вещественное число
    </p>
   </td>
   <td>
    <p>
     Больше 0 и не больше 100000
    </p>
   </td>
  </tr>
 </table>
 <h3 level="3">
  Новые слои
 </h3>
 <p>
  Добавляются следующие слои:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    "company_lines" — линия от последней остановки маршрута до организации;
   </p>
  </li>
  <li>
   <p>
    "company_points" — круг, обозначающий организацию;
   </p>
  </li>
  <li>
   <p>
    "company_labels" — надпись с названием организации.
   </p>
  </li>
 </ul>
 <p>
  На общей схеме и схемах обычных маршрутов эти слои не содержат объектов.
 </p>
 <p>
  В случае, когда маршрут не содержит элементов RideBus и WaitBus, слой stop_labels должен содержать название одной остановки — той, от которой проложен маршрут.
 </p>
 <p>
  <strong>
   Слой company_lines
  </strong>
 </p>
 <p>
  Содержит ломаную из двух вершин: от остановки до координаты компании (про координату компании на карте см. ниже).
 </p>
 <p>
  Свойства:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Цвет линии (stroke) — "black".
   </p>
  </li>
  <li>
   <p>
    Толщина линии (stroke-width) — company_line_width.
   </p>
  </li>
  <li>
   <p>
    Формы конца линии (stroke-linecap) и соединений (stroke-linejoin) — "round".
   </p>
  </li>
 </ul>
 <p>
  <strong>
   Слой company_points
  </strong>
 </p>
 <p>
  Содержит круг, обозначающий организацию.
 </p>
 <p>
  Свойства:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Центр (cx и cy) — координата организации.
   </p>
  </li>
  <li>
   <p>
    Радиус (r) — company_radius.
   </p>
  </li>
  <li>
   <p>
    Цвет заливки (fill) — "black".
   </p>
  </li>
 </ul>
 <p>
  <strong>
   Слой company_labels
  </strong>
 </p>
 <p>
  Содержит надпись с
  <em>
   полным названием компании,
  </em>
  отрисованную по координате компании ровно тем же способом, что и названия остановок.
 </p>
 <p>
  <em>
   Полное название компании
  </em>
  составим следующим образом:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Если компания не содержит рубрик, полное название равно основному названию.
   </p>
  </li>
  <li>
   <p>
    В противном случае это название первой рубрики, пробел и основное название. Например, компания с первой рубрикой "Парк" и основным названием "Дендрарий" получает полное название "Парк Дендрарий".
   </p>
  </li>
 </ul>
 <h3 level="3">
  Вычисление координат компаний
 </h3>
 <p>
  По аналогии с остановками, для каждой компании необходимо по её географическим координатам определить координаты на карте. Это делается для всех организаций сразу (гарантируется, что в address.coords для каждой организации заданы координаты), несмотря на то, что на любой карте не может быть нарисовано более одной организации.
 </p>
 <p>
  Обратите внимание, что в JSON, поступающем на вход программе make_base, координаты компаний задаются в виде строк (см. примеры). Это сделано для сохранения точности при автоматической конвертации в protobuf.
 </p>
 <p>
  Алгоритм из части M модифицируется для одновременного размещения на карте остановок и организаций:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Организации считаются опорными точками, так что их географические координаты предварительно не модифицируются.
   </p>
  </li>
  <li>
   <p>
    Долготы и широты остановок и компаний одновременно подвергаются сжатию координат. Соседями каждой организации (для целей определения маршрутных соседей среди долгот и широт) считаются остановки, от которых можно до неё дойти.
   </p>
  </li>
  <li>
   <p>
    x- и y-координаты вычисляются по сжатым координатам одновременно для остановок и для организаций.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Вход программы make_base
 </h3>
 <asset assettype="generic" extension="in" id="mVTPj8whEemmYQ6T1GJwxA" name="example1_make_base">
 </asset>
 <h3 level="3">
  Вход программы process_requests
 </h3>
 <asset assettype="generic" extension="in" id="mXfBYcwhEemkWQq0Oc-iqg" name="example1_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests
 </h3>
 <asset assettype="generic" extension="out" id="mWe70MwhEemkWQq0Oc-iqg" name="example1_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 1
 </h3>
 <asset assettype="image" extension="svg" id="mWm3rcwhEemGTBIZaklqgg" name="example1_route1">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 2
 </h3>
 <asset assettype="image" extension="svg" id="mWoFzswhEemGTBIZaklqgg" name="example1_route2">
 </asset>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Вход программы make_base
 </h3>
 <asset assettype="generic" extension="in" id="4i3zPswhEem1ZQ7C4qP0yA" name="example2_make_base">
 </asset>
 <h3 level="3">
  Вход программы process_requests
 </h3>
 <asset assettype="generic" extension="in" id="4i9S2cwhEemHIhKpCkwcgA" name="example2_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests
 </h3>
 <asset assettype="generic" extension="out" id="4jEAf8whEem1ZQ7C4qP0yA" name="example2_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 1
 </h3>
 <asset assettype="image" extension="svg" id="4kDfnMwhEemkWQq0Oc-iqg" name="example2_route1">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 2
 </h3>
 <asset assettype="image" extension="svg" id="4kIXgMwhEem1ZQ7C4qP0yA" name="example2_route2">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 3
 </h3>
 <asset assettype="image" extension="svg" id="4kHweswhEemHIhKpCkwcgA" name="example2_route3">
 </asset>
 <h2 level="2">
  Ограничения
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    В этой части количество компаний не превышает 1000.
   </p>
  </li>
  <li>
   <p>
    Для каждой компании количество элементов в nearby_stops не превосходит 10.
   </p>
  </li>
  <li>
   <p>
    Количество запросов к process_requests не превосходит 500.
   </p>
  </li>
  <li>
   <p>
    Каждое название остановки NearbyStop.name — название существующей остановки из транспортного справочника.
   </p>
  </li>
  <li>
   <p>
    Расстояние NearbyStop.meters — положительное число, не превосходящее 1000000.
   </p>
  </li>
  <li>
   <p>
    Количество остановок и автобусов, а также количество остановок любого автобусного маршрута не превосходят 100.
   </p>
  </li>
  <li>
   <p>
    Ограничения по времени: 1 с для make_base, 3 с для process_requests.
   </p>
  </li>
  <li>
   <p>
    Общее ограничение по памяти — 512 МБ.
   </p>
  </li>
 </ol>
 <p>
 </p>
 <h2 level="2">
 </h2>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
