<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Условие
 </h2>
 <p>
  В этой части при построении маршрута до огранизации необходимо учитывать её режим работы: например, может быть невыгодно в ближайший парк, если он уже закрыт, и есть круглосуточный парк, до которого ехать чуть дольше.
 </p>
 <h3 level="3">
  Новые данные
 </h3>
 <p>
  В запросе RouteToCompany появляется ключ datetime с текущим временем. Оно задаётся в виде массива из трёх целых чисел: дня недели (от 0 до 6), часов (от 0 до 23) и минут (от о до 59).
 </p>
 <p>
  Помимо этого, для компаний в необязательном порядке начинает заполняться working_time с описанием режима работы организации. Организация без working_time (без ключей или с пустым списком интервалов) считается работающей постоянно и не требующей ожидания её открытия.
 </p>
 <asset assettype="generic" extension="proto" id="o1y71tbhEem1wRICcqBpcA" name="working_time">
 </asset>
 <p>
  Из YellowPages.WorkingTime необходимо использовать лишь intervals — интервалы работы организации в течение недели. Возможны два формата описания интервалов:
 </p>
 <ol bullettype="numbers">
  <li>
   <p>
    Для организаций, имеющих одинаковый режим работы каждый день, каждый интервал имеет day = EVERYDAY. В этом случае гарантируется, minutes_from следующего интервала строго больше minutes_to предыдущего интервала.
   </p>
  </li>
  <li>
   <p>
    В прочих ситуациях day ≠ EVERYDAY и гарантируется, что для следующего интервала либо day больше dayпредыдущего интервала, либо они совпадают и minutes_from следующего интервала строго больше minutes_to предыдущего.
   </p>
  </li>
 </ol>
 <p>
  minutes_from и minutes_to измеряются в минутах в пределах суток. Соответственно, 0 ⩽ minutes_from &lt; minutes_to ⩽ 1440. Интервал всегда расположен в пределах одних суток: режим работы организации, работающей ежедневно с 22:00 до 02:00, будет описываться двумя интервалами 22:00 — 00:00 и 00:00 — 02:00.
 </p>
 <p>
  Для каждого интервала пара minutes_from, minutes_to задаёт полуинтервал [minutes_from, minutes_to): организация отрывается ровно в момент minutes_from, а в момент minutes_to уже закрыта; если прийти ровно в момент minutes_to, придётся ждать следующего открытия, а за полсекунды до этого ещё можно было успеть.
 </p>
 <h2 level="2">
  Структура маршрута
 </h2>
 <p>
  Ранее маршрут до организации был устроен следующим образом: WaitBus, RideBus, WaitBus, ..., RideBus, WalkToCompany. Теперь в конец такого маршрута добавляется необязательный элемент WaitCompany, необходимый лишь в тех ситуациях, когда по прибытии на место организация была закрыта и потребовалось ожидать открытия. Этот элемент маршрута описывается следующими свойствами:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    "type": "WaitCompany";
   </p>
  </li>
  <li>
   <p>
    "time" — затраченное на ожидание время (в минутах), большее 0;
   </p>
  </li>
  <li>
   <p>
    "company" — основное название компании (см. условие части R).
   </p>
  </li>
 </ul>
 <p>
  Соответственно, общий алгоритм поиска маршрута до организации должен быть оптимальным с учётом возможного времени ожидания открытия организации.
 </p>
 <h2 level="2">
  Пример 1
 </h2>
 <h3 level="3">
  Вход программы make_base
 </h3>
 <asset assettype="generic" extension="in" id="qKhBYtbjEemLvBJkhPge_A" name="example1_make_base">
 </asset>
 <h3 level="3">
  Вход программы process_requests
 </h3>
 <asset assettype="generic" extension="in" id="qKo9pdbjEemVGg7IEE0Tpg" name="example1_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests
 </h3>
 <asset assettype="generic" extension="out" id="qKnvhNbjEemVGg7IEE0Tpg" name="example1_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршруты 1–3
 </h3>
 <asset assettype="image" extension="svg" id="qKpkI9bjEemBBQ6q5tv6Ug" name="example1_route1">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 4
 </h3>
 <asset assettype="image" extension="svg" id="qK1Kc9bjEemLvBJkhPge_A" name="example1_route4">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршруты 5–6
 </h3>
 <asset assettype="image" extension="svg" id="qKxghtbjEemVGg7IEE0Tpg" name="example1_route5">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 7
 </h3>
 <asset assettype="image" extension="svg" id="qKyuFdbjEemkuwrX1d3ObA" name="example1_route7">
 </asset>
 <h2 level="2">
  Пример 2
 </h2>
 <h3 level="3">
  Вход программы make_base
 </h3>
 <asset assettype="generic" extension="in" id="aqGLJdbkEemBBQ6q5tv6Ug" name="example2_make_base">
 </asset>
 <h3 level="3">
  Вход программы process_requests
 </h3>
 <asset assettype="generic" extension="in" id="aqJ1GtbkEem1wRICcqBpcA" name="example2_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests
 </h3>
 <asset assettype="generic" extension="out" id="aqGLM9bkEemkuwrX1d3ObA" name="example2_process_requests">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 1
 </h3>
 <asset assettype="image" extension="svg" id="aqQjRNbkEemkuwrX1d3ObA" name="example2_route1">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 2
 </h3>
 <asset assettype="image" extension="svg" id="aqwSdtbkEemBBQ6q5tv6Ug" name="example2_route2">
 </asset>
 <h3 level="3">
  Выход программы process_requests, маршрут 3
 </h3>
 <asset assettype="image" extension="svg" id="aqvq-9bkEem1wRICcqBpcA" name="example2_route3">
 </asset>
 <h2 level="2">
  Ограничения
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Количество запросов к process_requests не превосходит 1000.
   </p>
  </li>
  <li>
   <p>
    Количество остановок и автобусов, а также количество остановок любого автобусного маршрута не превосходят 100.
   </p>
  </li>
  <li>
   <p>
    Ограничения по времени: 3 с для make_base, 0,75 с для process_requests.
   </p>
  </li>
  <li>
   <p>
    Общее ограничение по памяти — 512 МБ.
   </p>
  </li>
 </ol>
 <p>
  Тестирование проводится на двух группах тестов:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Первая группа содержит 8 тестов, из которых первые два — тесты из примеров. Здесь количество компаний не превышает 150.
   </p>
  </li>
  <li>
   <p>
    Вторая группа содержит 3 теста, из которых первые два — тесты из примеров. Здесь количество компаний не превышает 500, в третьем тесте есть лишь одна остановка и нет автобусов.
   </p>
  </li>
 </ul>
 <p>
  При непрохождении одного из тестов группы тестирующая система выдаёт отчёт по тестированию именно этой группы, а следующие группы не проверяются. Например:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    Failed case #1/8 означает падение на первом примере, остальные 10 тестов не проверялись.
   </p>
  </li>
  <li>
   <p>
    Failed case #3/3 означает падение на последнем тесте 2-й группы, остальные 10 тестов пройдены успешно.
   </p>
  </li>
 </ul>
 <p>
  В случае успешного прохождения обеих групп замеры времени и памяти выдаются для второй группы.
 </p>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
