<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
  Предисловие
 </h2>
 <p>
  Если вы не уверены, стоит ли вам сначала пройти более ранние наши курсы, или у вас достаточно знаний, чтобы начать с «Коричневого пояса», попробуйте решить эту задачу. Если вы не понимаете её условие или не можете быстро решить, скорее всего, вам надо сначала пройти «Красный пояс».
 </p>
 <h2 level="2">
  Условие задачи
 </h2>
 <p>
  Реализуйте шаблонный контейнер PriorityCollection, позволяющий хранить объекты некопируемого типа, а также совершать с ними следующие операции:
 </p>
 <ul bullettype="bullets">
  <li>
   <p>
    добавить элемент с нулевым приоритетом;
   </p>
  </li>
  <li>
   <p>
    добавить набор элементов с нулевыми приоритетами;
   </p>
  </li>
  <li>
   <p>
    увеличить на 1 приоритет заданного элемента;
   </p>
  </li>
  <li>
   <p>
    извлечь из контейнера элемент с максимальным приоритетом.
   </p>
  </li>
 </ul>
 <p>
  Поскольку добавление элемента заключается в его перемещении в контейнер, метод увеличения приоритета не может принимать сам элемент. Поэтому метод, добавляющий элементы, для каждого из них должен вернуть некий идентификатор, который затем можно использовать для вызова других методов.
 </p>
 <p>
  Тип идентификатора — PriorityCollection::Id — вы должны выбрать самостоятельно. Он должен быть легко копируемым: например, числом, указателем или итератором. Примеры определения и использования типа Id вы можете найти в шаблоне решения.
 </p>
 <h2 level="2">
  Структура класса
 </h2>
 <pre language="c_cpp">template &lt;typename T&gt;
class PriorityCollection {
public:
  using Id = /* тип, используемый для идентификаторов */;

  // Добавить объект с нулевым приоритетом
  // с помощью перемещения и вернуть его идентификатор
  Id Add(T object);

  // Добавить все элементы диапазона [range_begin, range_end)
  // с помощью перемещения, записав выданные им идентификаторы
  // в диапазон [ids_begin, ...)
  template &lt;typename ObjInputIt, typename IdOutputIt&gt;
  void Add(ObjInputIt range_begin, ObjInputIt range_end,
           IdOutputIt ids_begin);

  // Определить, принадлежит ли идентификатор какому-либо
  // хранящемуся в контейнере объекту
  bool IsValid(Id id) const;

  // Получить объект по идентификатору
  const T&amp; Get(Id id) const;

  // Увеличить приоритет объекта на 1
  void Promote(Id id);

  // Получить объект с максимальным приоритетом и его приоритет
  pair&lt;const T&amp;, int&gt; GetMax() const;

  // Аналогично GetMax, но удаляет элемент из контейнера
  pair&lt;T, int&gt; PopMax();

private:
  // Приватные поля и методы
};</pre>
 <h2 level="2">
  Гарантии
 </h2>
 <ol bullettype="numbers">
  <li>
   <p>
    Вы можете полагаться на то, что для элементов типа T определены перемещение и сравнение на ==, != и &lt;. Все операции над элементами имеют константную сложность.
   </p>
  </li>
  <li>
   <p>
    Гарантируется, что все добавляемые элементы различны, однако добавленный и затем извлечённый элемент может быть добавлен вновь.
   </p>
  </li>
  <li>
   <p>
    Методы Get и Promote всегда вызываются от валидных с точки зрения метода IsValid идентификаторов.
   </p>
  </li>
  <li>
   <p>
    Методы GetMax и PopMax вызываются только при наличии элементов в контейнере.
   </p>
  </li>
  <li>
   <p>
    При наличии нескольких элементов с одинаковым максимальным приоритетом необходимо выбирать и извлекать тот, который был добавлен позже остальных.
   </p>
  </li>
 </ol>
 <h2 level="2">
  Файл с заготовкой решения
 </h2>
 <asset assettype="generic" extension="cpp" id="770LKHF7EeiMwApe4i-fLg" name="priority_collection_2">
 </asset>
 <h2 level="2">
  Ограничения
 </h2>
 <p>
  Контейнер должен обрабатывать 10^6 запросов не более чем за 1 секунду. Гарантируется, что суммарная длина диапазонов, с которыми вызывается вторая версия метода Add, также не превосходит 10^6.
 </p>
 <h2 level="2">
  Подсказки
 </h2>
 <p>
  Если задача вызывает непреодолимые трудности, вы можете воспользоваться подсказками. Они помогут быстрее сдать задачу, но в итоге вы получите меньше пользы от процесса поиска решения.
 </p>
 <p>
  Не нужно открывать все подсказки сразу. Используйте их последовательно.
 </p>
 <asset assettype="pdf" extension="pdf" id="EMf97ufhEeilxxL_ZeRz_A" name="priority-collection-1">
 </asset>
 <asset assettype="pdf" extension="pdf" id="EMjoT-fhEeilxxL_ZeRz_A" name="priority-collection-2">
 </asset>
 <asset assettype="pdf" extension="pdf" id="EMoguefhEeiixgqCUDoEfA" name="priority-collection-3">
 </asset>
 <asset assettype="pdf" extension="pdf" id="EMk2cOfhEeilxxL_ZeRz_A" name="priority-collection-4">
 </asset>
 <p>
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
